ul.locations
  li
    a(href="/AB14 0LA") AB14 0LA
  li
    a(href="/AB14 0LB") AB14 0LB
  li
    a(href="/AB14 0LD") AB14 0LD
  li
    a(href="/AB14 0LE") AB14 0LE
  li
    a(href="/AB14 0LH") AB14 0LH
  li
    a(href="/AB14 0LJ") AB14 0LJ
  li
    a(href="/AB14 0LL") AB14 0LL
  li
    a(href="/AB14 0LN") AB14 0LN
  li
    a(href="/AB14 0LP") AB14 0LP
  li
    a(href="/AB14 0LQ") AB14 0LQ
  li
    a(href="/AB14 0LR") AB14 0LR
  li
    a(href="/AB14 0LS") AB14 0LS
  li
    a(href="/AB14 0LT") AB14 0LT
  li
    a(href="/AB14 0LU") AB14 0LU
  li
    a(href="/AB14 0LX") AB14 0LX
  li
    a(href="/AB14 0NA") AB14 0NA
  li
    a(href="/AB14 0NB") AB14 0NB
  li
    a(href="/AB14 0ND") AB14 0ND
  li
    a(href="/AB14 0NE") AB14 0NE
  li
    a(href="/AB14 0NJ") AB14 0NJ
  li
    a(href="/AB14 0NL") AB14 0NL
  li
    a(href="/AB14 0NN") AB14 0NN
  li
    a(href="/AB14 0NP") AB14 0NP
  li
    a(href="/AB14 0NS") AB14 0NS
  li
    a(href="/AB14 0NT") AB14 0NT
  li
    a(href="/AB14 0NW") AB14 0NW
  li
    a(href="/AB14 0NX") AB14 0NX
  li
    a(href="/AB14 0PB") AB14 0PB
  li
    a(href="/AB14 0PD") AB14 0PD
  li
    a(href="/AB14 0PE") AB14 0PE
  li
    a(href="/AB14 0PF") AB14 0PF
  li
    a(href="/AB14 0PG") AB14 0PG
  li
    a(href="/AB14 0PJ") AB14 0PJ
  li
    a(href="/AB14 0PL") AB14 0PL
  li
    a(href="/AB14 0PN") AB14 0PN
  li
    a(href="/AB14 0PP") AB14 0PP
  li
    a(href="/AB14 0PQ") AB14 0PQ
  li
    a(href="/AB14 0PR") AB14 0PR
  li
    a(href="/AB14 0PS") AB14 0PS
  li
    a(href="/AB14 0PT") AB14 0PT
  li
    a(href="/AB14 0PU") AB14 0PU
  li
    a(href="/AB14 0PX") AB14 0PX
  li
    a(href="/AB14 0PY") AB14 0PY
  li
    a(href="/AB14 0QB") AB14 0QB
  li
    a(href="/AB14 0QD") AB14 0QD
  li
    a(href="/AB14 0QG") AB14 0QG
  li
    a(href="/AB14 0QJ") AB14 0QJ
  li
    a(href="/AB14 0QL") AB14 0QL
  li
    a(href="/AB14 0QN") AB14 0QN
  li
    a(href="/AB14 0QP") AB14 0QP
  li
    a(href="/AB14 0QQ") AB14 0QQ
  li
    a(href="/AB14 0QR") AB14 0QR
  li
    a(href="/AB14 0QS") AB14 0QS
  li
    a(href="/AB14 0QT") AB14 0QT
  li
    a(href="/AB14 0QU") AB14 0QU
  li
    a(href="/AB14 0QX") AB14 0QX
  li
    a(href="/AB14 0RA") AB14 0RA
  li
    a(href="/AB14 0RB") AB14 0RB
  li
    a(href="/AB14 0RD") AB14 0RD
  li
    a(href="/AB14 0RE") AB14 0RE
  li
    a(href="/AB14 0RF") AB14 0RF
  li
    a(href="/AB14 0RH") AB14 0RH
  li
    a(href="/AB14 0RJ") AB14 0RJ
  li
    a(href="/AB14 0RL") AB14 0RL
  li
    a(href="/AB14 0RN") AB14 0RN
  li
    a(href="/AB14 0RP") AB14 0RP
  li
    a(href="/AB14 0RQ") AB14 0RQ
  li
    a(href="/AB14 0RR") AB14 0RR
  li
    a(href="/AB14 0RS") AB14 0RS
  li
    a(href="/AB14 0RT") AB14 0RT
  li
    a(href="/AB14 0RU") AB14 0RU
  li
    a(href="/AB14 0RW") AB14 0RW
  li
    a(href="/AB14 0RX") AB14 0RX
  li
    a(href="/AB14 0RY") AB14 0RY
  li
    a(href="/AB14 0RZ") AB14 0RZ
  li
    a(href="/AB14 0SA") AB14 0SA
  li
    a(href="/AB14 0SB") AB14 0SB
  li
    a(href="/AB14 0SD") AB14 0SD
  li
    a(href="/AB14 0SE") AB14 0SE
  li
    a(href="/AB14 0SF") AB14 0SF
  li
    a(href="/AB14 0SG") AB14 0SG
  li
    a(href="/AB14 0SH") AB14 0SH
  li
    a(href="/AB14 0SL") AB14 0SL
  li
    a(href="/AB14 0SN") AB14 0SN
  li
    a(href="/AB14 0SP") AB14 0SP
  li
    a(href="/AB14 0SQ") AB14 0SQ
  li
    a(href="/AB14 0SR") AB14 0SR
  li
    a(href="/AB14 0SS") AB14 0SS
  li
    a(href="/AB14 0ST") AB14 0ST
  li
    a(href="/AB14 0SU") AB14 0SU
  li
    a(href="/AB14 0SX") AB14 0SX
  li
    a(href="/AB14 0TA") AB14 0TA
  li
    a(href="/AB14 0TB") AB14 0TB
  li
    a(href="/AB14 0TD") AB14 0TD
  li
    a(href="/AB14 0TJ") AB14 0TJ
  li
    a(href="/AB14 0TL") AB14 0TL
  li
    a(href="/AB14 0TN") AB14 0TN
  li
    a(href="/AB14 0TP") AB14 0TP
  li
    a(href="/AB14 0TQ") AB14 0TQ
  li
    a(href="/AB14 0TR") AB14 0TR
  li
    a(href="/AB14 0TS") AB14 0TS
  li
    a(href="/AB14 0TT") AB14 0TT
  li
    a(href="/AB14 0TU") AB14 0TU
  li
    a(href="/AB14 0TX") AB14 0TX
  li
    a(href="/AB14 0UA") AB14 0UA
  li
    a(href="/AB14 0UB") AB14 0UB
  li
    a(href="/AB14 0UD") AB14 0UD
  li
    a(href="/AB14 0UE") AB14 0UE
  li
    a(href="/AB14 0UF") AB14 0UF
  li
    a(href="/AB14 0UG") AB14 0UG
  li
    a(href="/AB14 0UJ") AB14 0UJ
  li
    a(href="/AB14 0UL") AB14 0UL
  li
    a(href="/AB14 0UN") AB14 0UN
  li
    a(href="/AB14 0UP") AB14 0UP
  li
    a(href="/AB14 0UQ") AB14 0UQ
  li
    a(href="/AB14 0UR") AB14 0UR
  li
    a(href="/AB14 0US") AB14 0US
  li
    a(href="/AB14 0UT") AB14 0UT
  li
    a(href="/AB14 0UU") AB14 0UU
  li
    a(href="/AB14 0UW") AB14 0UW
  li
    a(href="/AB14 0UX") AB14 0UX
  li
    a(href="/AB14 0UY") AB14 0UY
  li
    a(href="/AB14 0WA") AB14 0WA
  li
    a(href="/AB14 0WB") AB14 0WB
  li
    a(href="/AB14 0WD") AB14 0WD
  li
    a(href="/AB14 0WE") AB14 0WE
  li
    a(href="/AB14 0WF") AB14 0WF
  li
    a(href="/AB14 0WG") AB14 0WG
  li
    a(href="/AB14 0WH") AB14 0WH
  li
    a(href="/AB14 0WN") AB14 0WN
  li
    a(href="/AB14 0WX") AB14 0WX
  li
    a(href="/AB14 0WY") AB14 0WY
  li
    a(href="/AB14 0WZ") AB14 0WZ
  li
    a(href="/AB14 0XA") AB14 0XA
  li
    a(href="/AB14 0XB") AB14 0XB
  li
    a(href="/AB14 0XD") AB14 0XD
  li
    a(href="/AB14 0XE") AB14 0XE
  li
    a(href="/AB14 0XH") AB14 0XH
  li
    a(href="/AB14 0XJ") AB14 0XJ
  li
    a(href="/AB14 0XL") AB14 0XL
  li
    a(href="/AB14 0XN") AB14 0XN
  li
    a(href="/AB14 0XP") AB14 0XP
  li
    a(href="/AB14 0XQ") AB14 0XQ
  li
    a(href="/AB14 0XR") AB14 0XR
  li
    a(href="/AB14 0XU") AB14 0XU
