ul.locations
  li
    a(href="/browse/Scotland/AB30") AB30
  li
    a(href="/browse/Scotland/AB31") AB31
  li
    a(href="/browse/Scotland/AB32") AB32
  li
    a(href="/browse/Scotland/AB33") AB33
  li
    a(href="/browse/Scotland/AB34") AB34
  li
    a(href="/browse/Scotland/AB35") AB35
  li
    a(href="/browse/Scotland/AB36") AB36
  li
    a(href="/browse/Scotland/AB39") AB39
  li
    a(href="/browse/Scotland/AB41") AB41
  li
    a(href="/browse/Scotland/AB42") AB42
  li
    a(href="/browse/Scotland/AB43") AB43
  li
    a(href="/browse/Scotland/AB44") AB44
  li
    a(href="/browse/Scotland/AB45") AB45
  li
    a(href="/browse/Scotland/AB51") AB51
  li
    a(href="/browse/Scotland/AB52") AB52
  li
    a(href="/browse/Scotland/AB53") AB53
  li
    a(href="/browse/Scotland/AB54") AB54
  li
    a(href="/browse/Scotland/DD10") DD10
