ul.locations
  li
    a(href="/browse/Scotland/AB10") AB10
  li
    a(href="/browse/Scotland/AB11") AB11
  li
    a(href="/browse/Scotland/AB12") AB12
  li
    a(href="/browse/Scotland/AB13") AB13
  li
    a(href="/browse/Scotland/AB14") AB14
  li
    a(href="/browse/Scotland/AB15") AB15
  li
    a(href="/browse/Scotland/AB16") AB16
  li
    a(href="/browse/Scotland/AB21") AB21
  li
    a(href="/browse/Scotland/AB22") AB22
  li
    a(href="/browse/Scotland/AB23") AB23
  li
    a(href="/browse/Scotland/AB25") AB25
