ul.locations
  li
    a(href="/browse/Scotland/G84") G84
  li
    a(href="/browse/Scotland/PA20") PA20
  li
    a(href="/browse/Scotland/PA21") PA21
  li
    a(href="/browse/Scotland/PA22") PA22
  li
    a(href="/browse/Scotland/PA23") PA23
  li
    a(href="/browse/Scotland/PA24") PA24
  li
    a(href="/browse/Scotland/PA25") PA25
  li
    a(href="/browse/Scotland/PA26") PA26
  li
    a(href="/browse/Scotland/PA27") PA27
  li
    a(href="/browse/Scotland/PA28") PA28
  li
    a(href="/browse/Scotland/PA29") PA29
  li
    a(href="/browse/Scotland/PA30") PA30
  li
    a(href="/browse/Scotland/PA31") PA31
  li
    a(href="/browse/Scotland/PA32") PA32
  li
    a(href="/browse/Scotland/PA33") PA33
  li
    a(href="/browse/Scotland/PA34") PA34
  li
    a(href="/browse/Scotland/PA35") PA35
  li
    a(href="/browse/Scotland/PA36") PA36
  li
    a(href="/browse/Scotland/PA37") PA37
  li
    a(href="/browse/Scotland/PA38") PA38
  li
    a(href="/browse/Scotland/PA41") PA41
  li
    a(href="/browse/Scotland/PA42") PA42
  li
    a(href="/browse/Scotland/PA43") PA43
  li
    a(href="/browse/Scotland/PA44") PA44
  li
    a(href="/browse/Scotland/PA45") PA45
  li
    a(href="/browse/Scotland/PA46") PA46
  li
    a(href="/browse/Scotland/PA47") PA47
  li
    a(href="/browse/Scotland/PA48") PA48
  li
    a(href="/browse/Scotland/PA49") PA49
  li
    a(href="/browse/Scotland/PA60") PA60
  li
    a(href="/browse/Scotland/PA61") PA61
  li
    a(href="/browse/Scotland/PA62") PA62
  li
    a(href="/browse/Scotland/PA63") PA63
  li
    a(href="/browse/Scotland/PA64") PA64
  li
    a(href="/browse/Scotland/PA65") PA65
  li
    a(href="/browse/Scotland/PA66") PA66
  li
    a(href="/browse/Scotland/PA67") PA67
  li
    a(href="/browse/Scotland/PA68") PA68
  li
    a(href="/browse/Scotland/PA69") PA69
  li
    a(href="/browse/Scotland/PA70") PA70
  li
    a(href="/browse/Scotland/PA71") PA71
  li
    a(href="/browse/Scotland/PA72") PA72
  li
    a(href="/browse/Scotland/PA73") PA73
  li
    a(href="/browse/Scotland/PA74") PA74
  li
    a(href="/browse/Scotland/PA75") PA75
  li
    a(href="/browse/Scotland/PA76") PA76
  li
    a(href="/browse/Scotland/PA77") PA77
  li
    a(href="/browse/Scotland/PA78") PA78
