ul.locations
  li
    a(href="/browse/Scotland/EH1") EH1
  li
    a(href="/browse/Scotland/EH10") EH10
  li
    a(href="/browse/Scotland/EH11") EH11
  li
    a(href="/browse/Scotland/EH12") EH12
  li
    a(href="/browse/Scotland/EH13") EH13
  li
    a(href="/browse/Scotland/EH14") EH14
  li
    a(href="/browse/Scotland/EH15") EH15
  li
    a(href="/browse/Scotland/EH16") EH16
  li
    a(href="/browse/Scotland/EH17") EH17
  li
    a(href="/browse/Scotland/EH2") EH2
  li
    a(href="/browse/Scotland/EH28") EH28
  li
    a(href="/browse/Scotland/EH29") EH29
  li
    a(href="/browse/Scotland/EH3") EH3
  li
    a(href="/browse/Scotland/EH30") EH30
  li
    a(href="/browse/Scotland/EH4") EH4
  li
    a(href="/browse/Scotland/EH5") EH5
  li
    a(href="/browse/Scotland/EH6") EH6
  li
    a(href="/browse/Scotland/EH7") EH7
  li
    a(href="/browse/Scotland/EH8") EH8
  li
    a(href="/browse/Scotland/EH9") EH9
