ul.locations
  li
    a(href="/browse/Scotland/FK10") FK10
  li
    a(href="/browse/Scotland/FK11") FK11
  li
    a(href="/browse/Scotland/FK12") FK12
  li
    a(href="/browse/Scotland/FK13") FK13
  li
    a(href="/browse/Scotland/FK14") FK14
