ul.locations
  li
    a(href="/DG14 0RA") DG14 0RA
  li
    a(href="/DG14 0RD") DG14 0RD
  li
    a(href="/DG14 0RE") DG14 0RE
  li
    a(href="/DG14 0RF") DG14 0RF
  li
    a(href="/DG14 0RL") DG14 0RL
  li
    a(href="/DG14 0RN") DG14 0RN
  li
    a(href="/DG14 0RP") DG14 0RP
  li
    a(href="/DG14 0RQ") DG14 0RQ
  li
    a(href="/DG14 0RR") DG14 0RR
  li
    a(href="/DG14 0RS") DG14 0RS
  li
    a(href="/DG14 0RT") DG14 0RT
  li
    a(href="/DG14 0RU") DG14 0RU
  li
    a(href="/DG14 0RW") DG14 0RW
  li
    a(href="/DG14 0RX") DG14 0RX
  li
    a(href="/DG14 0RY") DG14 0RY
  li
    a(href="/DG14 0RZ") DG14 0RZ
  li
    a(href="/DG14 0SA") DG14 0SA
  li
    a(href="/DG14 0SB") DG14 0SB
  li
    a(href="/DG14 0SD") DG14 0SD
  li
    a(href="/DG14 0SE") DG14 0SE
  li
    a(href="/DG14 0SF") DG14 0SF
  li
    a(href="/DG14 0SG") DG14 0SG
  li
    a(href="/DG14 0SH") DG14 0SH
  li
    a(href="/DG14 0SQ") DG14 0SQ
  li
    a(href="/DG14 0SY") DG14 0SY
  li
    a(href="/DG14 0SZ") DG14 0SZ
  li
    a(href="/DG14 0TA") DG14 0TA
  li
    a(href="/DG14 0TB") DG14 0TB
  li
    a(href="/DG14 0TD") DG14 0TD
  li
    a(href="/DG14 0TE") DG14 0TE
  li
    a(href="/DG14 0TF") DG14 0TF
  li
    a(href="/DG14 0TG") DG14 0TG
  li
    a(href="/DG14 0TH") DG14 0TH
  li
    a(href="/DG14 0TJ") DG14 0TJ
  li
    a(href="/DG14 0TL") DG14 0TL
  li
    a(href="/DG14 0TN") DG14 0TN
  li
    a(href="/DG14 0TP") DG14 0TP
  li
    a(href="/DG14 0TQ") DG14 0TQ
  li
    a(href="/DG14 0TR") DG14 0TR
  li
    a(href="/DG14 0TS") DG14 0TS
  li
    a(href="/DG14 0TT") DG14 0TT
  li
    a(href="/DG14 0TU") DG14 0TU
  li
    a(href="/DG14 0TW") DG14 0TW
  li
    a(href="/DG14 0TX") DG14 0TX
  li
    a(href="/DG14 0UP") DG14 0UP
  li
    a(href="/DG14 0UR") DG14 0UR
  li
    a(href="/DG14 0UT") DG14 0UT
  li
    a(href="/DG14 0UU") DG14 0UU
  li
    a(href="/DG14 0UX") DG14 0UX
  li
    a(href="/DG14 0UY") DG14 0UY
  li
    a(href="/DG14 0WX") DG14 0WX
  li
    a(href="/DG14 0XA") DG14 0XA
  li
    a(href="/DG14 0XB") DG14 0XB
  li
    a(href="/DG14 0XD") DG14 0XD
  li
    a(href="/DG14 0XE") DG14 0XE
  li
    a(href="/DG14 0XF") DG14 0XF
  li
    a(href="/DG14 0XH") DG14 0XH
  li
    a(href="/DG14 0XJ") DG14 0XJ
  li
    a(href="/DG14 0XL") DG14 0XL
  li
    a(href="/DG14 0XN") DG14 0XN
  li
    a(href="/DG14 0XP") DG14 0XP
  li
    a(href="/DG14 0XQ") DG14 0XQ
  li
    a(href="/DG14 0XR") DG14 0XR
  li
    a(href="/DG14 0XS") DG14 0XS
  li
    a(href="/DG14 0XT") DG14 0XT
  li
    a(href="/DG14 0XU") DG14 0XU
  li
    a(href="/DG14 0XW") DG14 0XW
  li
    a(href="/DG14 0XX") DG14 0XX
  li
    a(href="/DG14 0XY") DG14 0XY
  li
    a(href="/DG14 0XZ") DG14 0XZ
  li
    a(href="/DG14 0YA") DG14 0YA
  li
    a(href="/DG14 0YB") DG14 0YB
  li
    a(href="/DG14 0YD") DG14 0YD
  li
    a(href="/DG14 0YE") DG14 0YE
  li
    a(href="/DG14 0YF") DG14 0YF
  li
    a(href="/DG14 0YG") DG14 0YG
