a(href="/DG1") DG1
a(href="/DG10") DG10
a(href="/DG11") DG11
a(href="/DG13") DG13
a(href="/DG14") DG14
a(href="/DG2") DG2
a(href="/DG3") DG3
a(href="/DG4") DG4
a(href="/DG7") DG7
a(href="/DG8") DG8
a(href="/DG9") DG9
a(href="/DG12") DG12
a(href="/DG16") DG16
a(href="/DG5") DG5
a(href="/DG6") DG6
