ul.locations
  li
    a(href="/browse/Scotland/DG1") DG1
  li
    a(href="/browse/Scotland/DG10") DG10
  li
    a(href="/browse/Scotland/DG11") DG11
  li
    a(href="/browse/Scotland/DG12") DG12
  li
    a(href="/browse/Scotland/DG13") DG13
  li
    a(href="/browse/Scotland/DG14") DG14
  li
    a(href="/browse/Scotland/DG16") DG16
  li
    a(href="/browse/Scotland/DG2") DG2
  li
    a(href="/browse/Scotland/DG3") DG3
  li
    a(href="/browse/Scotland/DG4") DG4
  li
    a(href="/browse/Scotland/DG5") DG5
  li
    a(href="/browse/Scotland/DG6") DG6
  li
    a(href="/browse/Scotland/DG7") DG7
  li
    a(href="/browse/Scotland/DG8") DG8
  li
    a(href="/browse/Scotland/DG9") DG9
