ul.locations
  li
    a(href="/browse/Scotland/DD1") DD1
  li
    a(href="/browse/Scotland/DD2") DD2
  li
    a(href="/browse/Scotland/DD3") DD3
  li
    a(href="/browse/Scotland/DD4") DD4
  li
    a(href="/browse/Scotland/DD5") DD5
