ul.locations
  li
    a(href="/browse/Scotland/KA1") KA1
  li
    a(href="/browse/Scotland/KA16") KA16
  li
    a(href="/browse/Scotland/KA17") KA17
  li
    a(href="/browse/Scotland/KA18") KA18
  li
    a(href="/browse/Scotland/KA2") KA2
  li
    a(href="/browse/Scotland/KA3") KA3
  li
    a(href="/browse/Scotland/KA4") KA4
  li
    a(href="/browse/Scotland/KA5") KA5
