ul.locations
  li
    a(href="/EH27 8AA") EH27 8AA
  li
    a(href="/EH27 8AB") EH27 8AB
  li
    a(href="/EH27 8AD") EH27 8AD
  li
    a(href="/EH27 8AE") EH27 8AE
  li
    a(href="/EH27 8AF") EH27 8AF
  li
    a(href="/EH27 8AG") EH27 8AG
  li
    a(href="/EH27 8AH") EH27 8AH
  li
    a(href="/EH27 8AJ") EH27 8AJ
  li
    a(href="/EH27 8AL") EH27 8AL
  li
    a(href="/EH27 8AN") EH27 8AN
  li
    a(href="/EH27 8AP") EH27 8AP
  li
    a(href="/EH27 8AQ") EH27 8AQ
  li
    a(href="/EH27 8AR") EH27 8AR
  li
    a(href="/EH27 8AS") EH27 8AS
  li
    a(href="/EH27 8AT") EH27 8AT
  li
    a(href="/EH27 8AU") EH27 8AU
  li
    a(href="/EH27 8AW") EH27 8AW
  li
    a(href="/EH27 8AX") EH27 8AX
  li
    a(href="/EH27 8AY") EH27 8AY
  li
    a(href="/EH27 8AZ") EH27 8AZ
  li
    a(href="/EH27 8BA") EH27 8BA
  li
    a(href="/EH27 8BB") EH27 8BB
  li
    a(href="/EH27 8BD") EH27 8BD
  li
    a(href="/EH27 8BE") EH27 8BE
  li
    a(href="/EH27 8BF") EH27 8BF
  li
    a(href="/EH27 8BG") EH27 8BG
  li
    a(href="/EH27 8BH") EH27 8BH
  li
    a(href="/EH27 8BJ") EH27 8BJ
  li
    a(href="/EH27 8BL") EH27 8BL
  li
    a(href="/EH27 8BN") EH27 8BN
  li
    a(href="/EH27 8BP") EH27 8BP
  li
    a(href="/EH27 8BQ") EH27 8BQ
  li
    a(href="/EH27 8BS") EH27 8BS
  li
    a(href="/EH27 8BT") EH27 8BT
  li
    a(href="/EH27 8BU") EH27 8BU
  li
    a(href="/EH27 8BW") EH27 8BW
  li
    a(href="/EH27 8BX") EH27 8BX
  li
    a(href="/EH27 8BY") EH27 8BY
  li
    a(href="/EH27 8BZ") EH27 8BZ
  li
    a(href="/EH27 8DA") EH27 8DA
  li
    a(href="/EH27 8DB") EH27 8DB
  li
    a(href="/EH27 8DD") EH27 8DD
  li
    a(href="/EH27 8DE") EH27 8DE
  li
    a(href="/EH27 8DF") EH27 8DF
  li
    a(href="/EH27 8DG") EH27 8DG
  li
    a(href="/EH27 8DH") EH27 8DH
  li
    a(href="/EH27 8DJ") EH27 8DJ
  li
    a(href="/EH27 8DL") EH27 8DL
  li
    a(href="/EH27 8DN") EH27 8DN
  li
    a(href="/EH27 8DQ") EH27 8DQ
  li
    a(href="/EH27 8DR") EH27 8DR
  li
    a(href="/EH27 8DS") EH27 8DS
  li
    a(href="/EH27 8DT") EH27 8DT
  li
    a(href="/EH27 8DU") EH27 8DU
  li
    a(href="/EH27 8DW") EH27 8DW
  li
    a(href="/EH27 8DX") EH27 8DX
  li
    a(href="/EH27 8DY") EH27 8DY
  li
    a(href="/EH27 8DZ") EH27 8DZ
  li
    a(href="/EH27 8EA") EH27 8EA
  li
    a(href="/EH27 8EB") EH27 8EB
  li
    a(href="/EH27 8ED") EH27 8ED
  li
    a(href="/EH27 8EE") EH27 8EE
  li
    a(href="/EH27 8EF") EH27 8EF
  li
    a(href="/EH27 8EG") EH27 8EG
  li
    a(href="/EH27 8EJ") EH27 8EJ
  li
    a(href="/EH27 8EL") EH27 8EL
  li
    a(href="/EH27 8EN") EH27 8EN
  li
    a(href="/EH27 8LR") EH27 8LR
