ul.locations
  li
    a(href="/EH36 5PA") EH36 5PA
  li
    a(href="/EH36 5PB") EH36 5PB
  li
    a(href="/EH36 5PD") EH36 5PD
  li
    a(href="/EH36 5PE") EH36 5PE
  li
    a(href="/EH36 5PH") EH36 5PH
  li
    a(href="/EH36 5PJ") EH36 5PJ
  li
    a(href="/EH36 5PL") EH36 5PL
  li
    a(href="/EH36 5PN") EH36 5PN
  li
    a(href="/EH36 5PP") EH36 5PP
  li
    a(href="/EH36 5PW") EH36 5PW
  li
    a(href="/EH36 5PX") EH36 5PX
