ul.locations
  li
    a(href="/EH38 5YA") EH38 5YA
  li
    a(href="/EH38 5YB") EH38 5YB
  li
    a(href="/EH38 5YD") EH38 5YD
  li
    a(href="/EH38 5YE") EH38 5YE
  li
    a(href="/EH38 5YF") EH38 5YF
  li
    a(href="/EH38 5YG") EH38 5YG
  li
    a(href="/EH38 5YN") EH38 5YN
  li
    a(href="/EH38 5YP") EH38 5YP
  li
    a(href="/EH38 5YR") EH38 5YR
  li
    a(href="/EH38 5YS") EH38 5YS
  li
    a(href="/EH38 5YT") EH38 5YT
  li
    a(href="/EH38 5YW") EH38 5YW
  li
    a(href="/EH38 5ZB") EH38 5ZB
