ul.locations
  li
    a(href="/EH43 6AA") EH43 6AA
  li
    a(href="/EH43 6AB") EH43 6AB
  li
    a(href="/EH43 6AD") EH43 6AD
  li
    a(href="/EH43 6AE") EH43 6AE
  li
    a(href="/EH43 6AF") EH43 6AF
  li
    a(href="/EH43 6AG") EH43 6AG
  li
    a(href="/EH43 6AH") EH43 6AH
  li
    a(href="/EH43 6AJ") EH43 6AJ
  li
    a(href="/EH43 6AL") EH43 6AL
  li
    a(href="/EH43 6AN") EH43 6AN
  li
    a(href="/EH43 6AP") EH43 6AP
  li
    a(href="/EH43 6AQ") EH43 6AQ
  li
    a(href="/EH43 6AR") EH43 6AR
  li
    a(href="/EH43 6AS") EH43 6AS
  li
    a(href="/EH43 6AT") EH43 6AT
  li
    a(href="/EH43 6AU") EH43 6AU
  li
    a(href="/EH43 6AW") EH43 6AW
  li
    a(href="/EH43 6AX") EH43 6AX
  li
    a(href="/EH43 6AY") EH43 6AY
  li
    a(href="/EH43 6AZ") EH43 6AZ
  li
    a(href="/EH43 6BA") EH43 6BA
  li
    a(href="/EH43 6BD") EH43 6BD
  li
    a(href="/EH43 6BE") EH43 6BE
  li
    a(href="/EH43 6DA") EH43 6DA
  li
    a(href="/EH43 6DB") EH43 6DB
  li
    a(href="/EH43 6DD") EH43 6DD
  li
    a(href="/EH43 6DE") EH43 6DE
