ul.locations
  li
    a(href="/browse/Scotland/HS1") HS1
  li
    a(href="/browse/Scotland/HS2") HS2
  li
    a(href="/browse/Scotland/HS3") HS3
  li
    a(href="/browse/Scotland/HS4") HS4
  li
    a(href="/browse/Scotland/HS5") HS5
  li
    a(href="/browse/Scotland/HS6") HS6
  li
    a(href="/browse/Scotland/HS7") HS7
  li
    a(href="/browse/Scotland/HS8") HS8
  li
    a(href="/browse/Scotland/HS9") HS9
