ul.locations
  li
    a(href="/browse/Scotland/EH51") EH51
  li
    a(href="/browse/Scotland/FK1") FK1
  li
    a(href="/browse/Scotland/FK2") FK2
  li
    a(href="/browse/Scotland/FK3") FK3
  li
    a(href="/browse/Scotland/FK4") FK4
  li
    a(href="/browse/Scotland/FK5") FK5
  li
    a(href="/browse/Scotland/FK6") FK6
