ul.locations
  li
    a(href="/browse/Scotland/DD6") DD6
  li
    a(href="/browse/Scotland/KY1") KY1
  li
    a(href="/browse/Scotland/KY10") KY10
  li
    a(href="/browse/Scotland/KY11") KY11
  li
    a(href="/browse/Scotland/KY12") KY12
  li
    a(href="/browse/Scotland/KY14") KY14
  li
    a(href="/browse/Scotland/KY15") KY15
  li
    a(href="/browse/Scotland/KY16") KY16
  li
    a(href="/browse/Scotland/KY2") KY2
  li
    a(href="/browse/Scotland/KY3") KY3
  li
    a(href="/browse/Scotland/KY4") KY4
  li
    a(href="/browse/Scotland/KY5") KY5
  li
    a(href="/browse/Scotland/KY6") KY6
  li
    a(href="/browse/Scotland/KY7") KY7
  li
    a(href="/browse/Scotland/KY8") KY8
  li
    a(href="/browse/Scotland/KY9") KY9
