ul.locations
  li
    a(href="/FK12 5AA") FK12 5AA
  li
    a(href="/FK12 5AB") FK12 5AB
  li
    a(href="/FK12 5AD") FK12 5AD
  li
    a(href="/FK12 5AE") FK12 5AE
  li
    a(href="/FK12 5AF") FK12 5AF
  li
    a(href="/FK12 5AG") FK12 5AG
  li
    a(href="/FK12 5AH") FK12 5AH
  li
    a(href="/FK12 5AJ") FK12 5AJ
  li
    a(href="/FK12 5AL") FK12 5AL
  li
    a(href="/FK12 5AN") FK12 5AN
  li
    a(href="/FK12 5AP") FK12 5AP
  li
    a(href="/FK12 5AQ") FK12 5AQ
  li
    a(href="/FK12 5AR") FK12 5AR
  li
    a(href="/FK12 5AS") FK12 5AS
  li
    a(href="/FK12 5AT") FK12 5AT
  li
    a(href="/FK12 5AU") FK12 5AU
  li
    a(href="/FK12 5AW") FK12 5AW
  li
    a(href="/FK12 5AX") FK12 5AX
  li
    a(href="/FK12 5AY") FK12 5AY
  li
    a(href="/FK12 5AZ") FK12 5AZ
  li
    a(href="/FK12 5BA") FK12 5BA
  li
    a(href="/FK12 5BB") FK12 5BB
  li
    a(href="/FK12 5BD") FK12 5BD
  li
    a(href="/FK12 5BF") FK12 5BF
  li
    a(href="/FK12 5BG") FK12 5BG
  li
    a(href="/FK12 5BH") FK12 5BH
  li
    a(href="/FK12 5BJ") FK12 5BJ
  li
    a(href="/FK12 5BL") FK12 5BL
  li
    a(href="/FK12 5BN") FK12 5BN
  li
    a(href="/FK12 5BP") FK12 5BP
  li
    a(href="/FK12 5BQ") FK12 5BQ
  li
    a(href="/FK12 5BS") FK12 5BS
  li
    a(href="/FK12 5BT") FK12 5BT
  li
    a(href="/FK12 5BU") FK12 5BU
  li
    a(href="/FK12 5BW") FK12 5BW
  li
    a(href="/FK12 5BX") FK12 5BX
  li
    a(href="/FK12 5BY") FK12 5BY
  li
    a(href="/FK12 5BZ") FK12 5BZ
  li
    a(href="/FK12 5DA") FK12 5DA
  li
    a(href="/FK12 5DD") FK12 5DD
  li
    a(href="/FK12 5DE") FK12 5DE
  li
    a(href="/FK12 5DF") FK12 5DF
  li
    a(href="/FK12 5DG") FK12 5DG
  li
    a(href="/FK12 5DH") FK12 5DH
  li
    a(href="/FK12 5DJ") FK12 5DJ
  li
    a(href="/FK12 5DL") FK12 5DL
  li
    a(href="/FK12 5DN") FK12 5DN
  li
    a(href="/FK12 5DP") FK12 5DP
  li
    a(href="/FK12 5DQ") FK12 5DQ
  li
    a(href="/FK12 5DR") FK12 5DR
  li
    a(href="/FK12 5DS") FK12 5DS
  li
    a(href="/FK12 5DT") FK12 5DT
  li
    a(href="/FK12 5DU") FK12 5DU
  li
    a(href="/FK12 5DW") FK12 5DW
  li
    a(href="/FK12 5DX") FK12 5DX
  li
    a(href="/FK12 5EA") FK12 5EA
  li
    a(href="/FK12 5EB") FK12 5EB
  li
    a(href="/FK12 5ED") FK12 5ED
  li
    a(href="/FK12 5EF") FK12 5EF
  li
    a(href="/FK12 5EG") FK12 5EG
  li
    a(href="/FK12 5EH") FK12 5EH
  li
    a(href="/FK12 5EJ") FK12 5EJ
  li
    a(href="/FK12 5EL") FK12 5EL
  li
    a(href="/FK12 5EN") FK12 5EN
  li
    a(href="/FK12 5EP") FK12 5EP
  li
    a(href="/FK12 5EQ") FK12 5EQ
  li
    a(href="/FK12 5ER") FK12 5ER
  li
    a(href="/FK12 5ES") FK12 5ES
  li
    a(href="/FK12 5ET") FK12 5ET
  li
    a(href="/FK12 5EU") FK12 5EU
  li
    a(href="/FK12 5EW") FK12 5EW
  li
    a(href="/FK12 5EX") FK12 5EX
  li
    a(href="/FK12 5EY") FK12 5EY
  li
    a(href="/FK12 5EZ") FK12 5EZ
  li
    a(href="/FK12 5FE") FK12 5FE
  li
    a(href="/FK12 5GG") FK12 5GG
  li
    a(href="/FK12 5HA") FK12 5HA
  li
    a(href="/FK12 5HB") FK12 5HB
  li
    a(href="/FK12 5HD") FK12 5HD
  li
    a(href="/FK12 5HE") FK12 5HE
  li
    a(href="/FK12 5HF") FK12 5HF
  li
    a(href="/FK12 5HG") FK12 5HG
  li
    a(href="/FK12 5HH") FK12 5HH
  li
    a(href="/FK12 5HN") FK12 5HN
  li
    a(href="/FK12 5HP") FK12 5HP
  li
    a(href="/FK12 5HQ") FK12 5HQ
  li
    a(href="/FK12 5HR") FK12 5HR
  li
    a(href="/FK12 5HS") FK12 5HS
  li
    a(href="/FK12 5HT") FK12 5HT
  li
    a(href="/FK12 5HU") FK12 5HU
  li
    a(href="/FK12 5HX") FK12 5HX
  li
    a(href="/FK12 5HY") FK12 5HY
  li
    a(href="/FK12 5HZ") FK12 5HZ
  li
    a(href="/FK12 5JA") FK12 5JA
  li
    a(href="/FK12 5JB") FK12 5JB
  li
    a(href="/FK12 5JG") FK12 5JG
  li
    a(href="/FK12 5JH") FK12 5JH
  li
    a(href="/FK12 5JL") FK12 5JL
  li
    a(href="/FK12 5JN") FK12 5JN
  li
    a(href="/FK12 5JP") FK12 5JP
  li
    a(href="/FK12 5JQ") FK12 5JQ
  li
    a(href="/FK12 5JR") FK12 5JR
  li
    a(href="/FK12 5JS") FK12 5JS
  li
    a(href="/FK12 5JT") FK12 5JT
  li
    a(href="/FK12 5JU") FK12 5JU
  li
    a(href="/FK12 5JW") FK12 5JW
  li
    a(href="/FK12 5JX") FK12 5JX
  li
    a(href="/FK12 5JY") FK12 5JY
  li
    a(href="/FK12 5JZ") FK12 5JZ
  li
    a(href="/FK12 5LA") FK12 5LA
  li
    a(href="/FK12 5LB") FK12 5LB
  li
    a(href="/FK12 5LD") FK12 5LD
  li
    a(href="/FK12 5LE") FK12 5LE
  li
    a(href="/FK12 5LG") FK12 5LG
  li
    a(href="/FK12 5LH") FK12 5LH
  li
    a(href="/FK12 5LJ") FK12 5LJ
  li
    a(href="/FK12 5LL") FK12 5LL
  li
    a(href="/FK12 5LN") FK12 5LN
  li
    a(href="/FK12 5LP") FK12 5LP
  li
    a(href="/FK12 5LQ") FK12 5LQ
  li
    a(href="/FK12 5LR") FK12 5LR
  li
    a(href="/FK12 5LS") FK12 5LS
  li
    a(href="/FK12 5LT") FK12 5LT
  li
    a(href="/FK12 5LU") FK12 5LU
  li
    a(href="/FK12 5LW") FK12 5LW
  li
    a(href="/FK12 5LX") FK12 5LX
  li
    a(href="/FK12 5LY") FK12 5LY
  li
    a(href="/FK12 5LZ") FK12 5LZ
  li
    a(href="/FK12 5NA") FK12 5NA
  li
    a(href="/FK12 5ND") FK12 5ND
  li
    a(href="/FK12 5NE") FK12 5NE
  li
    a(href="/FK12 5NG") FK12 5NG
  li
    a(href="/FK12 5NH") FK12 5NH
  li
    a(href="/FK12 5NJ") FK12 5NJ
  li
    a(href="/FK12 5NL") FK12 5NL
  li
    a(href="/FK12 5NN") FK12 5NN
  li
    a(href="/FK12 5NP") FK12 5NP
  li
    a(href="/FK12 5NQ") FK12 5NQ
  li
    a(href="/FK12 5NR") FK12 5NR
  li
    a(href="/FK12 5NS") FK12 5NS
  li
    a(href="/FK12 5NT") FK12 5NT
  li
    a(href="/FK12 5NU") FK12 5NU
  li
    a(href="/FK12 5NW") FK12 5NW
  li
    a(href="/FK12 5NX") FK12 5NX
  li
    a(href="/FK12 5NY") FK12 5NY
  li
    a(href="/FK12 5NZ") FK12 5NZ
  li
    a(href="/FK12 5PA") FK12 5PA
  li
    a(href="/FK12 5PD") FK12 5PD
  li
    a(href="/FK12 5PE") FK12 5PE
  li
    a(href="/FK12 5WA") FK12 5WA
