ul.locations
  li
    a(href="/FK18 8NA") FK18 8NA
  li
    a(href="/FK18 8NB") FK18 8NB
  li
    a(href="/FK18 8ND") FK18 8ND
  li
    a(href="/FK18 8NF") FK18 8NF
  li
    a(href="/FK18 8NG") FK18 8NG
  li
    a(href="/FK18 8NJ") FK18 8NJ
  li
    a(href="/FK18 8NL") FK18 8NL
  li
    a(href="/FK18 8NQ") FK18 8NQ
