ul.locations
  li
    a(href="/FK19 8NR") FK19 8NR
  li
    a(href="/FK19 8NS") FK19 8NS
  li
    a(href="/FK19 8NT") FK19 8NT
  li
    a(href="/FK19 8NX") FK19 8NX
  li
    a(href="/FK19 8NY") FK19 8NY
  li
    a(href="/FK19 8NZ") FK19 8NZ
  li
    a(href="/FK19 8PA") FK19 8PA
  li
    a(href="/FK19 8PB") FK19 8PB
  li
    a(href="/FK19 8PD") FK19 8PD
  li
    a(href="/FK19 8PE") FK19 8PE
  li
    a(href="/FK19 8PF") FK19 8PF
  li
    a(href="/FK19 8PH") FK19 8PH
  li
    a(href="/FK19 8PN") FK19 8PN
  li
    a(href="/FK19 8PQ") FK19 8PQ
  li
    a(href="/FK19 8PR") FK19 8PR
  li
    a(href="/FK19 8PS") FK19 8PS
  li
    a(href="/FK19 8PT") FK19 8PT
  li
    a(href="/FK19 8PU") FK19 8PU
  li
    a(href="/FK19 8PW") FK19 8PW
  li
    a(href="/FK19 8PX") FK19 8PX
  li
    a(href="/FK19 8PY") FK19 8PY
  li
    a(href="/FK19 8PZ") FK19 8PZ
  li
    a(href="/FK19 8QB") FK19 8QB
  li
    a(href="/FK19 8QD") FK19 8QD
  li
    a(href="/FK19 8QE") FK19 8QE
  li
    a(href="/FK19 8QF") FK19 8QF
  li
    a(href="/FK19 8QG") FK19 8QG
  li
    a(href="/FK19 8WA") FK19 8WA
  li
    a(href="/FK19 8YF") FK19 8YF
