ul.locations
  li
    a(href="/browse/Scotland/IV1") IV1
  li
    a(href="/browse/Scotland/IV10") IV10
  li
    a(href="/browse/Scotland/IV11") IV11
  li
    a(href="/browse/Scotland/IV12") IV12
  li
    a(href="/browse/Scotland/IV13") IV13
  li
    a(href="/browse/Scotland/IV14") IV14
  li
    a(href="/browse/Scotland/IV15") IV15
  li
    a(href="/browse/Scotland/IV16") IV16
  li
    a(href="/browse/Scotland/IV17") IV17
  li
    a(href="/browse/Scotland/IV18") IV18
  li
    a(href="/browse/Scotland/IV19") IV19
  li
    a(href="/browse/Scotland/IV2") IV2
  li
    a(href="/browse/Scotland/IV20") IV20
  li
    a(href="/browse/Scotland/IV21") IV21
  li
    a(href="/browse/Scotland/IV22") IV22
  li
    a(href="/browse/Scotland/IV23") IV23
  li
    a(href="/browse/Scotland/IV24") IV24
  li
    a(href="/browse/Scotland/IV25") IV25
  li
    a(href="/browse/Scotland/IV26") IV26
  li
    a(href="/browse/Scotland/IV27") IV27
  li
    a(href="/browse/Scotland/IV28") IV28
  li
    a(href="/browse/Scotland/IV3") IV3
  li
    a(href="/browse/Scotland/IV4") IV4
  li
    a(href="/browse/Scotland/IV40") IV40
  li
    a(href="/browse/Scotland/IV41") IV41
  li
    a(href="/browse/Scotland/IV42") IV42
  li
    a(href="/browse/Scotland/IV43") IV43
  li
    a(href="/browse/Scotland/IV44") IV44
  li
    a(href="/browse/Scotland/IV45") IV45
  li
    a(href="/browse/Scotland/IV46") IV46
  li
    a(href="/browse/Scotland/IV47") IV47
  li
    a(href="/browse/Scotland/IV48") IV48
  li
    a(href="/browse/Scotland/IV49") IV49
  li
    a(href="/browse/Scotland/IV5") IV5
  li
    a(href="/browse/Scotland/IV51") IV51
  li
    a(href="/browse/Scotland/IV52") IV52
  li
    a(href="/browse/Scotland/IV53") IV53
  li
    a(href="/browse/Scotland/IV54") IV54
  li
    a(href="/browse/Scotland/IV55") IV55
  li
    a(href="/browse/Scotland/IV56") IV56
  li
    a(href="/browse/Scotland/IV6") IV6
  li
    a(href="/browse/Scotland/IV63") IV63
  li
    a(href="/browse/Scotland/IV7") IV7
  li
    a(href="/browse/Scotland/IV8") IV8
  li
    a(href="/browse/Scotland/IV9") IV9
  li
    a(href="/browse/Scotland/KW1") KW1
  li
    a(href="/browse/Scotland/KW10") KW10
  li
    a(href="/browse/Scotland/KW11") KW11
  li
    a(href="/browse/Scotland/KW12") KW12
  li
    a(href="/browse/Scotland/KW13") KW13
  li
    a(href="/browse/Scotland/KW14") KW14
  li
    a(href="/browse/Scotland/KW2") KW2
  li
    a(href="/browse/Scotland/KW3") KW3
  li
    a(href="/browse/Scotland/KW5") KW5
  li
    a(href="/browse/Scotland/KW6") KW6
  li
    a(href="/browse/Scotland/KW7") KW7
  li
    a(href="/browse/Scotland/KW8") KW8
  li
    a(href="/browse/Scotland/KW9") KW9
  li
    a(href="/browse/Scotland/PH19") PH19
  li
    a(href="/browse/Scotland/PH20") PH20
  li
    a(href="/browse/Scotland/PH21") PH21
  li
    a(href="/browse/Scotland/PH22") PH22
  li
    a(href="/browse/Scotland/PH23") PH23
  li
    a(href="/browse/Scotland/PH24") PH24
  li
    a(href="/browse/Scotland/PH25") PH25
  li
    a(href="/browse/Scotland/PH26") PH26
  li
    a(href="/browse/Scotland/PH30") PH30
  li
    a(href="/browse/Scotland/PH31") PH31
  li
    a(href="/browse/Scotland/PH32") PH32
  li
    a(href="/browse/Scotland/PH33") PH33
  li
    a(href="/browse/Scotland/PH34") PH34
  li
    a(href="/browse/Scotland/PH35") PH35
  li
    a(href="/browse/Scotland/PH36") PH36
  li
    a(href="/browse/Scotland/PH38") PH38
  li
    a(href="/browse/Scotland/PH39") PH39
  li
    a(href="/browse/Scotland/PH40") PH40
  li
    a(href="/browse/Scotland/PH41") PH41
  li
    a(href="/browse/Scotland/PH42") PH42
  li
    a(href="/browse/Scotland/PH44") PH44
  li
    a(href="/browse/Scotland/PH49") PH49
  li
    a(href="/browse/Scotland/PH50") PH50
