ul.locations
  li
    a(href="/HS4 3XU") HS4 3XU
  li
    a(href="/HS4 3XX") HS4 3XX
  li
    a(href="/HS4 3XY") HS4 3XY
  li
    a(href="/HS4 3XZ") HS4 3XZ
  li
    a(href="/HS4 3YA") HS4 3YA
  li
    a(href="/HS4 3YB") HS4 3YB
  li
    a(href="/HS4 3YD") HS4 3YD
  li
    a(href="/HS4 3YF") HS4 3YF
  li
    a(href="/HS4 3YG") HS4 3YG
