ul.locations
  li
    a(href="/HS5 3TL") HS5 3TL
  li
    a(href="/HS5 3TN") HS5 3TN
  li
    a(href="/HS5 3TS") HS5 3TS
  li
    a(href="/HS5 3TT") HS5 3TT
  li
    a(href="/HS5 3TU") HS5 3TU
  li
    a(href="/HS5 3TW") HS5 3TW
  li
    a(href="/HS5 3TX") HS5 3TX
  li
    a(href="/HS5 3TY") HS5 3TY
  li
    a(href="/HS5 3UA") HS5 3UA
  li
    a(href="/HS5 3UB") HS5 3UB
  li
    a(href="/HS5 3UD") HS5 3UD
  li
    a(href="/HS5 3UE") HS5 3UE
