ul.locations
  li
    a(href="/browse/Scotland/PA13") PA13
  li
    a(href="/browse/Scotland/PA14") PA14
  li
    a(href="/browse/Scotland/PA15") PA15
  li
    a(href="/browse/Scotland/PA16") PA16
  li
    a(href="/browse/Scotland/PA18") PA18
  li
    a(href="/browse/Scotland/PA19") PA19
