ul.locations
  li
    a(href="/IV10 8RA") IV10 8RA
  li
    a(href="/IV10 8RH") IV10 8RH
  li
    a(href="/IV10 8RJ") IV10 8RJ
  li
    a(href="/IV10 8RQ") IV10 8RQ
  li
    a(href="/IV10 8RS") IV10 8RS
  li
    a(href="/IV10 8RT") IV10 8RT
  li
    a(href="/IV10 8RW") IV10 8RW
  li
    a(href="/IV10 8RX") IV10 8RX
  li
    a(href="/IV10 8RY") IV10 8RY
  li
    a(href="/IV10 8RZ") IV10 8RZ
  li
    a(href="/IV10 8SA") IV10 8SA
  li
    a(href="/IV10 8SB") IV10 8SB
  li
    a(href="/IV10 8SD") IV10 8SD
  li
    a(href="/IV10 8SE") IV10 8SE
  li
    a(href="/IV10 8SF") IV10 8SF
  li
    a(href="/IV10 8SG") IV10 8SG
  li
    a(href="/IV10 8SH") IV10 8SH
  li
    a(href="/IV10 8SJ") IV10 8SJ
  li
    a(href="/IV10 8SL") IV10 8SL
  li
    a(href="/IV10 8SN") IV10 8SN
  li
    a(href="/IV10 8SP") IV10 8SP
  li
    a(href="/IV10 8SQ") IV10 8SQ
  li
    a(href="/IV10 8SR") IV10 8SR
  li
    a(href="/IV10 8SS") IV10 8SS
  li
    a(href="/IV10 8ST") IV10 8ST
  li
    a(href="/IV10 8SU") IV10 8SU
  li
    a(href="/IV10 8SW") IV10 8SW
  li
    a(href="/IV10 8SX") IV10 8SX
  li
    a(href="/IV10 8SY") IV10 8SY
  li
    a(href="/IV10 8SZ") IV10 8SZ
  li
    a(href="/IV10 8TA") IV10 8TA
  li
    a(href="/IV10 8TB") IV10 8TB
  li
    a(href="/IV10 8TD") IV10 8TD
  li
    a(href="/IV10 8TE") IV10 8TE
  li
    a(href="/IV10 8TF") IV10 8TF
  li
    a(href="/IV10 8TG") IV10 8TG
  li
    a(href="/IV10 8TH") IV10 8TH
  li
    a(href="/IV10 8TJ") IV10 8TJ
  li
    a(href="/IV10 8TL") IV10 8TL
  li
    a(href="/IV10 8TN") IV10 8TN
  li
    a(href="/IV10 8TP") IV10 8TP
  li
    a(href="/IV10 8TQ") IV10 8TQ
  li
    a(href="/IV10 8TR") IV10 8TR
  li
    a(href="/IV10 8TS") IV10 8TS
  li
    a(href="/IV10 8TT") IV10 8TT
  li
    a(href="/IV10 8TU") IV10 8TU
  li
    a(href="/IV10 8TW") IV10 8TW
  li
    a(href="/IV10 8TX") IV10 8TX
  li
    a(href="/IV10 8TY") IV10 8TY
  li
    a(href="/IV10 8TZ") IV10 8TZ
  li
    a(href="/IV10 8UA") IV10 8UA
  li
    a(href="/IV10 8UB") IV10 8UB
  li
    a(href="/IV10 8UD") IV10 8UD
  li
    a(href="/IV10 8UE") IV10 8UE
  li
    a(href="/IV10 8UF") IV10 8UF
  li
    a(href="/IV10 8UG") IV10 8UG
  li
    a(href="/IV10 8UH") IV10 8UH
  li
    a(href="/IV10 8UJ") IV10 8UJ
  li
    a(href="/IV10 8UL") IV10 8UL
  li
    a(href="/IV10 8UN") IV10 8UN
  li
    a(href="/IV10 8UP") IV10 8UP
  li
    a(href="/IV10 8UQ") IV10 8UQ
  li
    a(href="/IV10 8UR") IV10 8UR
  li
    a(href="/IV10 8US") IV10 8US
  li
    a(href="/IV10 8UW") IV10 8UW
  li
    a(href="/IV10 8UX") IV10 8UX
  li
    a(href="/IV10 8UY") IV10 8UY
  li
    a(href="/IV10 8UZ") IV10 8UZ
  li
    a(href="/IV10 8WA") IV10 8WA
  li
    a(href="/IV10 8WB") IV10 8WB
  li
    a(href="/IV10 8WD") IV10 8WD
  li
    a(href="/IV10 8WY") IV10 8WY
  li
    a(href="/IV10 8WZ") IV10 8WZ
  li
    a(href="/IV10 8XA") IV10 8XA
  li
    a(href="/IV10 8XB") IV10 8XB
  li
    a(href="/IV10 8XD") IV10 8XD
  li
    a(href="/IV10 8YF") IV10 8YF
