ul.locations
  li
    a(href="/IV11 8UY") IV11 8UY
  li
    a(href="/IV11 8UZ") IV11 8UZ
  li
    a(href="/IV11 8WE") IV11 8WE
  li
    a(href="/IV11 8WW") IV11 8WW
  li
    a(href="/IV11 8WY") IV11 8WY
  li
    a(href="/IV11 8XA") IV11 8XA
  li
    a(href="/IV11 8XB") IV11 8XB
  li
    a(href="/IV11 8XD") IV11 8XD
  li
    a(href="/IV11 8XE") IV11 8XE
  li
    a(href="/IV11 8XF") IV11 8XF
  li
    a(href="/IV11 8XG") IV11 8XG
  li
    a(href="/IV11 8XH") IV11 8XH
  li
    a(href="/IV11 8XJ") IV11 8XJ
  li
    a(href="/IV11 8XL") IV11 8XL
  li
    a(href="/IV11 8XN") IV11 8XN
  li
    a(href="/IV11 8XP") IV11 8XP
  li
    a(href="/IV11 8XQ") IV11 8XQ
  li
    a(href="/IV11 8XR") IV11 8XR
  li
    a(href="/IV11 8XS") IV11 8XS
  li
    a(href="/IV11 8XT") IV11 8XT
  li
    a(href="/IV11 8XU") IV11 8XU
  li
    a(href="/IV11 8XW") IV11 8XW
  li
    a(href="/IV11 8XX") IV11 8XX
  li
    a(href="/IV11 8XY") IV11 8XY
  li
    a(href="/IV11 8YA") IV11 8YA
  li
    a(href="/IV11 8YB") IV11 8YB
  li
    a(href="/IV11 8YD") IV11 8YD
  li
    a(href="/IV11 8YE") IV11 8YE
  li
    a(href="/IV11 8YF") IV11 8YF
  li
    a(href="/IV11 8YG") IV11 8YG
  li
    a(href="/IV11 8YH") IV11 8YH
  li
    a(href="/IV11 8YJ") IV11 8YJ
  li
    a(href="/IV11 8YL") IV11 8YL
  li
    a(href="/IV11 8YN") IV11 8YN
  li
    a(href="/IV11 8YP") IV11 8YP
  li
    a(href="/IV11 8YQ") IV11 8YQ
  li
    a(href="/IV11 8YR") IV11 8YR
  li
    a(href="/IV11 8YS") IV11 8YS
  li
    a(href="/IV11 8YT") IV11 8YT
  li
    a(href="/IV11 8YU") IV11 8YU
  li
    a(href="/IV11 8YW") IV11 8YW
  li
    a(href="/IV11 8YY") IV11 8YY
  li
    a(href="/IV11 8YZ") IV11 8YZ
