ul.locations
  li
    a(href="/IV13 7XW") IV13 7XW
  li
    a(href="/IV13 7XX") IV13 7XX
  li
    a(href="/IV13 7XY") IV13 7XY
  li
    a(href="/IV13 7XZ") IV13 7XZ
  li
    a(href="/IV13 7YA") IV13 7YA
  li
    a(href="/IV13 7YB") IV13 7YB
  li
    a(href="/IV13 7YD") IV13 7YD
  li
    a(href="/IV13 7YE") IV13 7YE
  li
    a(href="/IV13 7YF") IV13 7YF
  li
    a(href="/IV13 7YG") IV13 7YG
  li
    a(href="/IV13 7YN") IV13 7YN
  li
    a(href="/IV13 7YP") IV13 7YP
  li
    a(href="/IV13 7YQ") IV13 7YQ
  li
    a(href="/IV13 7YR") IV13 7YR
  li
    a(href="/IV13 7YT") IV13 7YT
  li
    a(href="/IV13 7YW") IV13 7YW
  li
    a(href="/IV13 7ZA") IV13 7ZA
  li
    a(href="/IV13 7ZB") IV13 7ZB
