ul.locations
  li
    a(href="/IV16 9AB") IV16 9AB
  li
    a(href="/IV16 9UA") IV16 9UA
  li
    a(href="/IV16 9UB") IV16 9UB
  li
    a(href="/IV16 9UD") IV16 9UD
  li
    a(href="/IV16 9UG") IV16 9UG
  li
    a(href="/IV16 9UH") IV16 9UH
  li
    a(href="/IV16 9UJ") IV16 9UJ
  li
    a(href="/IV16 9UL") IV16 9UL
  li
    a(href="/IV16 9UN") IV16 9UN
  li
    a(href="/IV16 9UP") IV16 9UP
  li
    a(href="/IV16 9UQ") IV16 9UQ
  li
    a(href="/IV16 9UR") IV16 9UR
  li
    a(href="/IV16 9UT") IV16 9UT
  li
    a(href="/IV16 9UU") IV16 9UU
  li
    a(href="/IV16 9UW") IV16 9UW
  li
    a(href="/IV16 9UX") IV16 9UX
  li
    a(href="/IV16 9UY") IV16 9UY
  li
    a(href="/IV16 9UZ") IV16 9UZ
  li
    a(href="/IV16 9WF") IV16 9WF
  li
    a(href="/IV16 9XA") IV16 9XA
  li
    a(href="/IV16 9XB") IV16 9XB
  li
    a(href="/IV16 9XD") IV16 9XD
  li
    a(href="/IV16 9XE") IV16 9XE
  li
    a(href="/IV16 9XF") IV16 9XF
  li
    a(href="/IV16 9XG") IV16 9XG
  li
    a(href="/IV16 9XH") IV16 9XH
  li
    a(href="/IV16 9XJ") IV16 9XJ
  li
    a(href="/IV16 9XL") IV16 9XL
  li
    a(href="/IV16 9XN") IV16 9XN
  li
    a(href="/IV16 9XP") IV16 9XP
  li
    a(href="/IV16 9XQ") IV16 9XQ
  li
    a(href="/IV16 9XR") IV16 9XR
  li
    a(href="/IV16 9XS") IV16 9XS
  li
    a(href="/IV16 9XT") IV16 9XT
  li
    a(href="/IV16 9XU") IV16 9XU
  li
    a(href="/IV16 9XW") IV16 9XW
  li
    a(href="/IV16 9XX") IV16 9XX
  li
    a(href="/IV16 9XY") IV16 9XY
  li
    a(href="/IV16 9XZ") IV16 9XZ
  li
    a(href="/IV16 9YA") IV16 9YA
  li
    a(href="/IV16 9YB") IV16 9YB
  li
    a(href="/IV16 9YD") IV16 9YD
  li
    a(href="/IV16 9YE") IV16 9YE
  li
    a(href="/IV16 9YF") IV16 9YF
  li
    a(href="/IV16 9YG") IV16 9YG
  li
    a(href="/IV16 9YH") IV16 9YH
  li
    a(href="/IV16 9YJ") IV16 9YJ
  li
    a(href="/IV16 9YL") IV16 9YL
  li
    a(href="/IV16 9YN") IV16 9YN
  li
    a(href="/IV16 9YP") IV16 9YP
  li
    a(href="/IV16 9YQ") IV16 9YQ
  li
    a(href="/IV16 9YR") IV16 9YR
  li
    a(href="/IV16 9YS") IV16 9YS
  li
    a(href="/IV16 9YT") IV16 9YT
  li
    a(href="/IV16 9YU") IV16 9YU
  li
    a(href="/IV16 9YW") IV16 9YW
  li
    a(href="/IV16 9YX") IV16 9YX
