ul.locations
  li
    a(href="/IV18 0AA") IV18 0AA
  li
    a(href="/IV18 0AB") IV18 0AB
  li
    a(href="/IV18 0AD") IV18 0AD
  li
    a(href="/IV18 0AE") IV18 0AE
  li
    a(href="/IV18 0AF") IV18 0AF
  li
    a(href="/IV18 0AG") IV18 0AG
  li
    a(href="/IV18 0AH") IV18 0AH
  li
    a(href="/IV18 0AJ") IV18 0AJ
  li
    a(href="/IV18 0AL") IV18 0AL
  li
    a(href="/IV18 0AP") IV18 0AP
  li
    a(href="/IV18 0AR") IV18 0AR
  li
    a(href="/IV18 0AS") IV18 0AS
  li
    a(href="/IV18 0AT") IV18 0AT
  li
    a(href="/IV18 0AU") IV18 0AU
  li
    a(href="/IV18 0AW") IV18 0AW
  li
    a(href="/IV18 0AX") IV18 0AX
  li
    a(href="/IV18 0AY") IV18 0AY
  li
    a(href="/IV18 0AZ") IV18 0AZ
  li
    a(href="/IV18 0BA") IV18 0BA
  li
    a(href="/IV18 0BB") IV18 0BB
  li
    a(href="/IV18 0BD") IV18 0BD
  li
    a(href="/IV18 0BE") IV18 0BE
  li
    a(href="/IV18 0BG") IV18 0BG
  li
    a(href="/IV18 0BH") IV18 0BH
  li
    a(href="/IV18 0BJ") IV18 0BJ
  li
    a(href="/IV18 0BN") IV18 0BN
  li
    a(href="/IV18 0BP") IV18 0BP
  li
    a(href="/IV18 0BQ") IV18 0BQ
  li
    a(href="/IV18 0BS") IV18 0BS
  li
    a(href="/IV18 0BT") IV18 0BT
  li
    a(href="/IV18 0BU") IV18 0BU
  li
    a(href="/IV18 0BW") IV18 0BW
  li
    a(href="/IV18 0BX") IV18 0BX
  li
    a(href="/IV18 0BY") IV18 0BY
  li
    a(href="/IV18 0BZ") IV18 0BZ
  li
    a(href="/IV18 0DA") IV18 0DA
  li
    a(href="/IV18 0DB") IV18 0DB
  li
    a(href="/IV18 0DD") IV18 0DD
  li
    a(href="/IV18 0DE") IV18 0DE
  li
    a(href="/IV18 0DF") IV18 0DF
  li
    a(href="/IV18 0DG") IV18 0DG
  li
    a(href="/IV18 0DH") IV18 0DH
  li
    a(href="/IV18 0DJ") IV18 0DJ
  li
    a(href="/IV18 0DL") IV18 0DL
  li
    a(href="/IV18 0DN") IV18 0DN
  li
    a(href="/IV18 0DP") IV18 0DP
  li
    a(href="/IV18 0DQ") IV18 0DQ
  li
    a(href="/IV18 0DR") IV18 0DR
  li
    a(href="/IV18 0DS") IV18 0DS
  li
    a(href="/IV18 0DT") IV18 0DT
  li
    a(href="/IV18 0DU") IV18 0DU
  li
    a(href="/IV18 0DX") IV18 0DX
  li
    a(href="/IV18 0DY") IV18 0DY
  li
    a(href="/IV18 0DZ") IV18 0DZ
  li
    a(href="/IV18 0EA") IV18 0EA
  li
    a(href="/IV18 0EB") IV18 0EB
  li
    a(href="/IV18 0EE") IV18 0EE
  li
    a(href="/IV18 0EF") IV18 0EF
  li
    a(href="/IV18 0EG") IV18 0EG
  li
    a(href="/IV18 0EH") IV18 0EH
  li
    a(href="/IV18 0EJ") IV18 0EJ
  li
    a(href="/IV18 0EL") IV18 0EL
  li
    a(href="/IV18 0EP") IV18 0EP
  li
    a(href="/IV18 0EQ") IV18 0EQ
  li
    a(href="/IV18 0ER") IV18 0ER
  li
    a(href="/IV18 0ES") IV18 0ES
  li
    a(href="/IV18 0ET") IV18 0ET
  li
    a(href="/IV18 0EU") IV18 0EU
  li
    a(href="/IV18 0EW") IV18 0EW
  li
    a(href="/IV18 0EX") IV18 0EX
  li
    a(href="/IV18 0EY") IV18 0EY
  li
    a(href="/IV18 0EZ") IV18 0EZ
  li
    a(href="/IV18 0FB") IV18 0FB
  li
    a(href="/IV18 0GF") IV18 0GF
  li
    a(href="/IV18 0GH") IV18 0GH
  li
    a(href="/IV18 0HA") IV18 0HA
  li
    a(href="/IV18 0HD") IV18 0HD
  li
    a(href="/IV18 0HE") IV18 0HE
  li
    a(href="/IV18 0HF") IV18 0HF
  li
    a(href="/IV18 0HH") IV18 0HH
  li
    a(href="/IV18 0HJ") IV18 0HJ
  li
    a(href="/IV18 0HL") IV18 0HL
  li
    a(href="/IV18 0HN") IV18 0HN
  li
    a(href="/IV18 0HP") IV18 0HP
  li
    a(href="/IV18 0HR") IV18 0HR
  li
    a(href="/IV18 0HS") IV18 0HS
  li
    a(href="/IV18 0HT") IV18 0HT
  li
    a(href="/IV18 0HU") IV18 0HU
  li
    a(href="/IV18 0HX") IV18 0HX
  li
    a(href="/IV18 0HY") IV18 0HY
  li
    a(href="/IV18 0HZ") IV18 0HZ
  li
    a(href="/IV18 0JA") IV18 0JA
  li
    a(href="/IV18 0JB") IV18 0JB
  li
    a(href="/IV18 0JD") IV18 0JD
  li
    a(href="/IV18 0JE") IV18 0JE
  li
    a(href="/IV18 0JF") IV18 0JF
  li
    a(href="/IV18 0JG") IV18 0JG
  li
    a(href="/IV18 0JH") IV18 0JH
  li
    a(href="/IV18 0JJ") IV18 0JJ
  li
    a(href="/IV18 0JL") IV18 0JL
  li
    a(href="/IV18 0JN") IV18 0JN
  li
    a(href="/IV18 0JP") IV18 0JP
  li
    a(href="/IV18 0JQ") IV18 0JQ
  li
    a(href="/IV18 0JR") IV18 0JR
  li
    a(href="/IV18 0JS") IV18 0JS
  li
    a(href="/IV18 0JT") IV18 0JT
  li
    a(href="/IV18 0JU") IV18 0JU
  li
    a(href="/IV18 0JW") IV18 0JW
  li
    a(href="/IV18 0JX") IV18 0JX
  li
    a(href="/IV18 0JY") IV18 0JY
  li
    a(href="/IV18 0JZ") IV18 0JZ
  li
    a(href="/IV18 0LB") IV18 0LB
  li
    a(href="/IV18 0LD") IV18 0LD
  li
    a(href="/IV18 0LF") IV18 0LF
  li
    a(href="/IV18 0LG") IV18 0LG
  li
    a(href="/IV18 0LH") IV18 0LH
  li
    a(href="/IV18 0LJ") IV18 0LJ
  li
    a(href="/IV18 0LL") IV18 0LL
  li
    a(href="/IV18 0LN") IV18 0LN
  li
    a(href="/IV18 0LP") IV18 0LP
  li
    a(href="/IV18 0LQ") IV18 0LQ
  li
    a(href="/IV18 0LR") IV18 0LR
  li
    a(href="/IV18 0LS") IV18 0LS
  li
    a(href="/IV18 0LT") IV18 0LT
  li
    a(href="/IV18 0LU") IV18 0LU
  li
    a(href="/IV18 0LW") IV18 0LW
  li
    a(href="/IV18 0LX") IV18 0LX
  li
    a(href="/IV18 0LY") IV18 0LY
  li
    a(href="/IV18 0LZ") IV18 0LZ
  li
    a(href="/IV18 0NA") IV18 0NA
  li
    a(href="/IV18 0NB") IV18 0NB
  li
    a(href="/IV18 0ND") IV18 0ND
  li
    a(href="/IV18 0NE") IV18 0NE
  li
    a(href="/IV18 0NF") IV18 0NF
  li
    a(href="/IV18 0NG") IV18 0NG
  li
    a(href="/IV18 0NH") IV18 0NH
  li
    a(href="/IV18 0NJ") IV18 0NJ
  li
    a(href="/IV18 0NL") IV18 0NL
  li
    a(href="/IV18 0NN") IV18 0NN
  li
    a(href="/IV18 0NP") IV18 0NP
  li
    a(href="/IV18 0NQ") IV18 0NQ
  li
    a(href="/IV18 0NR") IV18 0NR
  li
    a(href="/IV18 0NS") IV18 0NS
  li
    a(href="/IV18 0NT") IV18 0NT
  li
    a(href="/IV18 0NU") IV18 0NU
  li
    a(href="/IV18 0NW") IV18 0NW
  li
    a(href="/IV18 0NX") IV18 0NX
  li
    a(href="/IV18 0NY") IV18 0NY
  li
    a(href="/IV18 0NZ") IV18 0NZ
  li
    a(href="/IV18 0PA") IV18 0PA
  li
    a(href="/IV18 0PB") IV18 0PB
  li
    a(href="/IV18 0PD") IV18 0PD
  li
    a(href="/IV18 0PE") IV18 0PE
  li
    a(href="/IV18 0PF") IV18 0PF
  li
    a(href="/IV18 0PG") IV18 0PG
  li
    a(href="/IV18 0PH") IV18 0PH
  li
    a(href="/IV18 0PJ") IV18 0PJ
  li
    a(href="/IV18 0PL") IV18 0PL
  li
    a(href="/IV18 0PN") IV18 0PN
  li
    a(href="/IV18 0PP") IV18 0PP
  li
    a(href="/IV18 0PQ") IV18 0PQ
  li
    a(href="/IV18 0PR") IV18 0PR
  li
    a(href="/IV18 0PS") IV18 0PS
  li
    a(href="/IV18 0PT") IV18 0PT
  li
    a(href="/IV18 0PU") IV18 0PU
  li
    a(href="/IV18 0PW") IV18 0PW
  li
    a(href="/IV18 0PX") IV18 0PX
  li
    a(href="/IV18 0PY") IV18 0PY
  li
    a(href="/IV18 0PZ") IV18 0PZ
  li
    a(href="/IV18 0QA") IV18 0QA
  li
    a(href="/IV18 0QB") IV18 0QB
  li
    a(href="/IV18 0QD") IV18 0QD
  li
    a(href="/IV18 0QE") IV18 0QE
  li
    a(href="/IV18 0QF") IV18 0QF
  li
    a(href="/IV18 0QG") IV18 0QG
  li
    a(href="/IV18 0QJ") IV18 0QJ
  li
    a(href="/IV18 0QL") IV18 0QL
  li
    a(href="/IV18 0QN") IV18 0QN
  li
    a(href="/IV18 0QR") IV18 0QR
  li
    a(href="/IV18 0QS") IV18 0QS
  li
    a(href="/IV18 0QW") IV18 0QW
  li
    a(href="/IV18 0QZ") IV18 0QZ
  li
    a(href="/IV18 0RB") IV18 0RB
  li
    a(href="/IV18 0RD") IV18 0RD
  li
    a(href="/IV18 0RE") IV18 0RE
  li
    a(href="/IV18 0RF") IV18 0RF
  li
    a(href="/IV18 0RN") IV18 0RN
  li
    a(href="/IV18 0RP") IV18 0RP
  li
    a(href="/IV18 0RQ") IV18 0RQ
  li
    a(href="/IV18 0RS") IV18 0RS
  li
    a(href="/IV18 0RY") IV18 0RY
  li
    a(href="/IV18 0SA") IV18 0SA
  li
    a(href="/IV18 0SB") IV18 0SB
  li
    a(href="/IV18 0SD") IV18 0SD
  li
    a(href="/IV18 0SF") IV18 0SF
  li
    a(href="/IV18 0WA") IV18 0WA
  li
    a(href="/IV18 0WZ") IV18 0WZ
  li
    a(href="/IV18 9AA") IV18 9AA
