ul.locations
  li
    a(href="/IV23 2PG") IV23 2PG
  li
    a(href="/IV23 2PH") IV23 2PH
  li
    a(href="/IV23 2PJ") IV23 2PJ
  li
    a(href="/IV23 2PP") IV23 2PP
  li
    a(href="/IV23 2PQ") IV23 2PQ
  li
    a(href="/IV23 2PR") IV23 2PR
  li
    a(href="/IV23 2PS") IV23 2PS
  li
    a(href="/IV23 2PT") IV23 2PT
  li
    a(href="/IV23 2PU") IV23 2PU
  li
    a(href="/IV23 2PX") IV23 2PX
  li
    a(href="/IV23 2PY") IV23 2PY
  li
    a(href="/IV23 2PZ") IV23 2PZ
  li
    a(href="/IV23 2QA") IV23 2QA
  li
    a(href="/IV23 2QB") IV23 2QB
  li
    a(href="/IV23 2QD") IV23 2QD
  li
    a(href="/IV23 2QE") IV23 2QE
  li
    a(href="/IV23 2QF") IV23 2QF
  li
    a(href="/IV23 2QH") IV23 2QH
  li
    a(href="/IV23 2QN") IV23 2QN
  li
    a(href="/IV23 2QP") IV23 2QP
  li
    a(href="/IV23 2QR") IV23 2QR
  li
    a(href="/IV23 2QT") IV23 2QT
  li
    a(href="/IV23 2QU") IV23 2QU
  li
    a(href="/IV23 2QW") IV23 2QW
  li
    a(href="/IV23 2QX") IV23 2QX
  li
    a(href="/IV23 2QY") IV23 2QY
  li
    a(href="/IV23 2QZ") IV23 2QZ
  li
    a(href="/IV23 2RA") IV23 2RA
  li
    a(href="/IV23 2RB") IV23 2RB
  li
    a(href="/IV23 2RE") IV23 2RE
  li
    a(href="/IV23 2RG") IV23 2RG
  li
    a(href="/IV23 2RH") IV23 2RH
  li
    a(href="/IV23 2RL") IV23 2RL
  li
    a(href="/IV23 2RN") IV23 2RN
  li
    a(href="/IV23 2RQ") IV23 2RQ
  li
    a(href="/IV23 2RR") IV23 2RR
  li
    a(href="/IV23 2RS") IV23 2RS
  li
    a(href="/IV23 2RT") IV23 2RT
  li
    a(href="/IV23 2RU") IV23 2RU
  li
    a(href="/IV23 2RW") IV23 2RW
  li
    a(href="/IV23 2RX") IV23 2RX
  li
    a(href="/IV23 2RY") IV23 2RY
  li
    a(href="/IV23 2RZ") IV23 2RZ
  li
    a(href="/IV23 2SA") IV23 2SA
  li
    a(href="/IV23 2SB") IV23 2SB
  li
    a(href="/IV23 2SD") IV23 2SD
  li
    a(href="/IV23 2SE") IV23 2SE
  li
    a(href="/IV23 2SF") IV23 2SF
  li
    a(href="/IV23 2SG") IV23 2SG
  li
    a(href="/IV23 2WA") IV23 2WA
  li
    a(href="/IV23 2YD") IV23 2YD
