ul.locations
  li
    a(href="/IV28 3TU") IV28 3TU
  li
    a(href="/IV28 3TX") IV28 3TX
  li
    a(href="/IV28 3TY") IV28 3TY
  li
    a(href="/IV28 3TZ") IV28 3TZ
  li
    a(href="/IV28 3UA") IV28 3UA
  li
    a(href="/IV28 3UB") IV28 3UB
  li
    a(href="/IV28 3UD") IV28 3UD
  li
    a(href="/IV28 3XA") IV28 3XA
  li
    a(href="/IV28 3XB") IV28 3XB
  li
    a(href="/IV28 3XD") IV28 3XD
  li
    a(href="/IV28 3XE") IV28 3XE
  li
    a(href="/IV28 3XF") IV28 3XF
  li
    a(href="/IV28 3XG") IV28 3XG
  li
    a(href="/IV28 3XH") IV28 3XH
  li
    a(href="/IV28 3XJ") IV28 3XJ
  li
    a(href="/IV28 3XN") IV28 3XN
  li
    a(href="/IV28 3XQ") IV28 3XQ
  li
    a(href="/IV28 3YD") IV28 3YD
  li
    a(href="/IV28 3YE") IV28 3YE
  li
    a(href="/IV28 3YF") IV28 3YF
  li
    a(href="/IV28 3YG") IV28 3YG
  li
    a(href="/IV28 3YQ") IV28 3YQ
