ul.locations
  li
    a(href="/IV41 8PF") IV41 8PF
  li
    a(href="/IV41 8PG") IV41 8PG
  li
    a(href="/IV41 8PH") IV41 8PH
  li
    a(href="/IV41 8PJ") IV41 8PJ
  li
    a(href="/IV41 8PL") IV41 8PL
  li
    a(href="/IV41 8PN") IV41 8PN
  li
    a(href="/IV41 8PP") IV41 8PP
  li
    a(href="/IV41 8PQ") IV41 8PQ
  li
    a(href="/IV41 8PR") IV41 8PR
  li
    a(href="/IV41 8PS") IV41 8PS
  li
    a(href="/IV41 8PT") IV41 8PT
  li
    a(href="/IV41 8PW") IV41 8PW
  li
    a(href="/IV41 8WA") IV41 8WA
  li
    a(href="/IV41 8WZ") IV41 8WZ
