ul.locations
  li
    a(href="/IV42 8NH") IV42 8NH
  li
    a(href="/IV42 8PY") IV42 8PY
  li
    a(href="/IV42 8PZ") IV42 8PZ
  li
    a(href="/IV42 8QA") IV42 8QA
  li
    a(href="/IV42 8QB") IV42 8QB
  li
    a(href="/IV42 8QD") IV42 8QD
  li
    a(href="/IV42 8QE") IV42 8QE
