ul.locations
  li
    a(href="/IV43 8QH") IV43 8QH
  li
    a(href="/IV43 8QR") IV43 8QR
  li
    a(href="/IV43 8QS") IV43 8QS
  li
    a(href="/IV43 8QT") IV43 8QT
  li
    a(href="/IV43 8QU") IV43 8QU
  li
    a(href="/IV43 8QW") IV43 8QW
  li
    a(href="/IV43 8QX") IV43 8QX
  li
    a(href="/IV43 8QY") IV43 8QY
  li
    a(href="/IV43 8QZ") IV43 8QZ
  li
    a(href="/IV43 8RA") IV43 8RA
