ul.locations
  li
    a(href="/IV44 8QL") IV44 8QL
  li
    a(href="/IV44 8RD") IV44 8RD
  li
    a(href="/IV44 8RE") IV44 8RE
  li
    a(href="/IV44 8RF") IV44 8RF
  li
    a(href="/IV44 8RG") IV44 8RG
  li
    a(href="/IV44 8RN") IV44 8RN
  li
    a(href="/IV44 8RP") IV44 8RP
  li
    a(href="/IV44 8RQ") IV44 8RQ
  li
    a(href="/IV44 8RR") IV44 8RR
