ul.locations
  li
    a(href="/IV49 9AA") IV49 9AA
  li
    a(href="/IV49 9AB") IV49 9AB
  li
    a(href="/IV49 9AD") IV49 9AD
  li
    a(href="/IV49 9AE") IV49 9AE
  li
    a(href="/IV49 9AF") IV49 9AF
  li
    a(href="/IV49 9AG") IV49 9AG
  li
    a(href="/IV49 9AH") IV49 9AH
  li
    a(href="/IV49 9AJ") IV49 9AJ
  li
    a(href="/IV49 9AL") IV49 9AL
  li
    a(href="/IV49 9AN") IV49 9AN
  li
    a(href="/IV49 9AP") IV49 9AP
  li
    a(href="/IV49 9AQ") IV49 9AQ
  li
    a(href="/IV49 9AR") IV49 9AR
  li
    a(href="/IV49 9AS") IV49 9AS
  li
    a(href="/IV49 9AT") IV49 9AT
  li
    a(href="/IV49 9AU") IV49 9AU
  li
    a(href="/IV49 9AW") IV49 9AW
  li
    a(href="/IV49 9AX") IV49 9AX
  li
    a(href="/IV49 9AZ") IV49 9AZ
  li
    a(href="/IV49 9BA") IV49 9BA
  li
    a(href="/IV49 9BB") IV49 9BB
  li
    a(href="/IV49 9BD") IV49 9BD
  li
    a(href="/IV49 9BF") IV49 9BF
  li
    a(href="/IV49 9BG") IV49 9BG
  li
    a(href="/IV49 9BH") IV49 9BH
  li
    a(href="/IV49 9BJ") IV49 9BJ
  li
    a(href="/IV49 9BL") IV49 9BL
  li
    a(href="/IV49 9BN") IV49 9BN
  li
    a(href="/IV49 9BQ") IV49 9BQ
  li
    a(href="/IV49 9BS") IV49 9BS
  li
    a(href="/IV49 9BT") IV49 9BT
  li
    a(href="/IV49 9BU") IV49 9BU
  li
    a(href="/IV49 9BW") IV49 9BW
  li
    a(href="/IV49 9BX") IV49 9BX
  li
    a(href="/IV49 9BY") IV49 9BY
  li
    a(href="/IV49 9DA") IV49 9DA
  li
    a(href="/IV49 9DB") IV49 9DB
  li
    a(href="/IV49 9DE") IV49 9DE
  li
    a(href="/IV49 9DQ") IV49 9DQ
