ul.locations
  li
    a(href="/IV52 8TD") IV52 8TD
  li
    a(href="/IV52 8TE") IV52 8TE
  li
    a(href="/IV52 8TF") IV52 8TF
  li
    a(href="/IV52 8TG") IV52 8TG
  li
    a(href="/IV52 8TH") IV52 8TH
  li
    a(href="/IV52 8TJ") IV52 8TJ
  li
    a(href="/IV52 8TL") IV52 8TL
  li
    a(href="/IV52 8TN") IV52 8TN
  li
    a(href="/IV52 8TP") IV52 8TP
  li
    a(href="/IV52 8TQ") IV52 8TQ
  li
    a(href="/IV52 8TR") IV52 8TR
  li
    a(href="/IV52 8TS") IV52 8TS
  li
    a(href="/IV52 8TT") IV52 8TT
  li
    a(href="/IV52 8TU") IV52 8TU
  li
    a(href="/IV52 8TW") IV52 8TW
  li
    a(href="/IV52 8TX") IV52 8TX
  li
    a(href="/IV52 8TY") IV52 8TY
  li
    a(href="/IV52 8TZ") IV52 8TZ
  li
    a(href="/IV52 8UB") IV52 8UB
