ul.locations
  li
    a(href="/IV53 8UG") IV53 8UG
  li
    a(href="/IV53 8UH") IV53 8UH
  li
    a(href="/IV53 8UJ") IV53 8UJ
  li
    a(href="/IV53 8UN") IV53 8UN
  li
    a(href="/IV53 8UP") IV53 8UP
  li
    a(href="/IV53 8UR") IV53 8UR
  li
    a(href="/IV53 8UT") IV53 8UT
  li
    a(href="/IV53 8UU") IV53 8UU
  li
    a(href="/IV53 8UW") IV53 8UW
  li
    a(href="/IV53 8UX") IV53 8UX
  li
    a(href="/IV53 8UY") IV53 8UY
