ul.locations
  li
    a(href="/IV54 8AB") IV54 8AB
  li
    a(href="/IV54 8AG") IV54 8AG
  li
    a(href="/IV54 8LN") IV54 8LN
  li
    a(href="/IV54 8LP") IV54 8LP
  li
    a(href="/IV54 8LQ") IV54 8LQ
  li
    a(href="/IV54 8LR") IV54 8LR
  li
    a(href="/IV54 8LS") IV54 8LS
  li
    a(href="/IV54 8LT") IV54 8LT
  li
    a(href="/IV54 8LU") IV54 8LU
  li
    a(href="/IV54 8LX") IV54 8LX
  li
    a(href="/IV54 8LY") IV54 8LY
  li
    a(href="/IV54 8LZ") IV54 8LZ
  li
    a(href="/IV54 8ND") IV54 8ND
  li
    a(href="/IV54 8NE") IV54 8NE
  li
    a(href="/IV54 8UD") IV54 8UD
  li
    a(href="/IV54 8UE") IV54 8UE
  li
    a(href="/IV54 8UF") IV54 8UF
  li
    a(href="/IV54 8UG") IV54 8UG
  li
    a(href="/IV54 8UQ") IV54 8UQ
  li
    a(href="/IV54 8UY") IV54 8UY
  li
    a(href="/IV54 8XA") IV54 8XA
  li
    a(href="/IV54 8XB") IV54 8XB
  li
    a(href="/IV54 8XD") IV54 8XD
  li
    a(href="/IV54 8XE") IV54 8XE
  li
    a(href="/IV54 8XF") IV54 8XF
  li
    a(href="/IV54 8XG") IV54 8XG
  li
    a(href="/IV54 8XH") IV54 8XH
  li
    a(href="/IV54 8XJ") IV54 8XJ
  li
    a(href="/IV54 8XL") IV54 8XL
  li
    a(href="/IV54 8XN") IV54 8XN
  li
    a(href="/IV54 8XP") IV54 8XP
  li
    a(href="/IV54 8XQ") IV54 8XQ
  li
    a(href="/IV54 8XR") IV54 8XR
  li
    a(href="/IV54 8XS") IV54 8XS
  li
    a(href="/IV54 8XT") IV54 8XT
  li
    a(href="/IV54 8XU") IV54 8XU
  li
    a(href="/IV54 8XW") IV54 8XW
  li
    a(href="/IV54 8XX") IV54 8XX
  li
    a(href="/IV54 8XY") IV54 8XY
  li
    a(href="/IV54 8YA") IV54 8YA
  li
    a(href="/IV54 8YB") IV54 8YB
  li
    a(href="/IV54 8YD") IV54 8YD
  li
    a(href="/IV54 8YE") IV54 8YE
  li
    a(href="/IV54 8YF") IV54 8YF
  li
    a(href="/IV54 8YG") IV54 8YG
  li
    a(href="/IV54 8YH") IV54 8YH
  li
    a(href="/IV54 8YJ") IV54 8YJ
  li
    a(href="/IV54 8YL") IV54 8YL
  li
    a(href="/IV54 8YN") IV54 8YN
  li
    a(href="/IV54 8YP") IV54 8YP
  li
    a(href="/IV54 8YQ") IV54 8YQ
  li
    a(href="/IV54 8YR") IV54 8YR
  li
    a(href="/IV54 8YS") IV54 8YS
  li
    a(href="/IV54 8YT") IV54 8YT
  li
    a(href="/IV54 8YU") IV54 8YU
  li
    a(href="/IV54 8YW") IV54 8YW
  li
    a(href="/IV54 8YX") IV54 8YX
