ul.locations
  li
    a(href="/IV55 8GA") IV55 8GA
  li
    a(href="/IV55 8GB") IV55 8GB
  li
    a(href="/IV55 8GD") IV55 8GD
  li
    a(href="/IV55 8GE") IV55 8GE
  li
    a(href="/IV55 8GF") IV55 8GF
  li
    a(href="/IV55 8GH") IV55 8GH
  li
    a(href="/IV55 8GJ") IV55 8GJ
  li
    a(href="/IV55 8GL") IV55 8GL
  li
    a(href="/IV55 8GN") IV55 8GN
  li
    a(href="/IV55 8GP") IV55 8GP
  li
    a(href="/IV55 8GQ") IV55 8GQ
  li
    a(href="/IV55 8GR") IV55 8GR
  li
    a(href="/IV55 8GS") IV55 8GS
  li
    a(href="/IV55 8GT") IV55 8GT
  li
    a(href="/IV55 8GU") IV55 8GU
  li
    a(href="/IV55 8GW") IV55 8GW
  li
    a(href="/IV55 8GY") IV55 8GY
  li
    a(href="/IV55 8GZ") IV55 8GZ
  li
    a(href="/IV55 8HA") IV55 8HA
  li
    a(href="/IV55 8WA") IV55 8WA
  li
    a(href="/IV55 8WB") IV55 8WB
  li
    a(href="/IV55 8WE") IV55 8WE
  li
    a(href="/IV55 8WF") IV55 8WF
  li
    a(href="/IV55 8WG") IV55 8WG
  li
    a(href="/IV55 8WH") IV55 8WH
  li
    a(href="/IV55 8WJ") IV55 8WJ
  li
    a(href="/IV55 8WL") IV55 8WL
  li
    a(href="/IV55 8WN") IV55 8WN
  li
    a(href="/IV55 8WP") IV55 8WP
  li
    a(href="/IV55 8WQ") IV55 8WQ
  li
    a(href="/IV55 8WR") IV55 8WR
  li
    a(href="/IV55 8WS") IV55 8WS
  li
    a(href="/IV55 8WT") IV55 8WT
  li
    a(href="/IV55 8WU") IV55 8WU
  li
    a(href="/IV55 8WW") IV55 8WW
  li
    a(href="/IV55 8WX") IV55 8WX
  li
    a(href="/IV55 8WY") IV55 8WY
  li
    a(href="/IV55 8YU") IV55 8YU
  li
    a(href="/IV55 8ZA") IV55 8ZA
  li
    a(href="/IV55 8ZB") IV55 8ZB
  li
    a(href="/IV55 8ZD") IV55 8ZD
  li
    a(href="/IV55 8ZE") IV55 8ZE
  li
    a(href="/IV55 8ZF") IV55 8ZF
  li
    a(href="/IV55 8ZG") IV55 8ZG
  li
    a(href="/IV55 8ZH") IV55 8ZH
  li
    a(href="/IV55 8ZJ") IV55 8ZJ
  li
    a(href="/IV55 8ZL") IV55 8ZL
  li
    a(href="/IV55 8ZN") IV55 8ZN
  li
    a(href="/IV55 8ZQ") IV55 8ZQ
  li
    a(href="/IV55 8ZR") IV55 8ZR
  li
    a(href="/IV55 8ZS") IV55 8ZS
  li
    a(href="/IV55 8ZT") IV55 8ZT
  li
    a(href="/IV55 8ZU") IV55 8ZU
  li
    a(href="/IV55 8ZX") IV55 8ZX
  li
    a(href="/IV55 8ZY") IV55 8ZY
  li
    a(href="/IV55 8ZZ") IV55 8ZZ
