ul.locations
  li
    a(href="/IV63 6TG") IV63 6TG
  li
    a(href="/IV63 6TH") IV63 6TH
  li
    a(href="/IV63 6TJ") IV63 6TJ
  li
    a(href="/IV63 6TL") IV63 6TL
  li
    a(href="/IV63 6TN") IV63 6TN
  li
    a(href="/IV63 6TP") IV63 6TP
  li
    a(href="/IV63 6TQ") IV63 6TQ
  li
    a(href="/IV63 6TR") IV63 6TR
  li
    a(href="/IV63 6TS") IV63 6TS
  li
    a(href="/IV63 6TU") IV63 6TU
  li
    a(href="/IV63 6TW") IV63 6TW
  li
    a(href="/IV63 6TX") IV63 6TX
  li
    a(href="/IV63 6TY") IV63 6TY
  li
    a(href="/IV63 6TZ") IV63 6TZ
  li
    a(href="/IV63 6UA") IV63 6UA
  li
    a(href="/IV63 6UE") IV63 6UE
  li
    a(href="/IV63 6UF") IV63 6UF
  li
    a(href="/IV63 6UG") IV63 6UG
  li
    a(href="/IV63 6UH") IV63 6UH
  li
    a(href="/IV63 6UJ") IV63 6UJ
  li
    a(href="/IV63 6UL") IV63 6UL
  li
    a(href="/IV63 6UN") IV63 6UN
  li
    a(href="/IV63 6UP") IV63 6UP
  li
    a(href="/IV63 6UQ") IV63 6UQ
  li
    a(href="/IV63 6UR") IV63 6UR
  li
    a(href="/IV63 6US") IV63 6US
  li
    a(href="/IV63 6UT") IV63 6UT
  li
    a(href="/IV63 6UU") IV63 6UU
  li
    a(href="/IV63 6UW") IV63 6UW
  li
    a(href="/IV63 6UX") IV63 6UX
  li
    a(href="/IV63 6UY") IV63 6UY
  li
    a(href="/IV63 6WF") IV63 6WF
  li
    a(href="/IV63 6WR") IV63 6WR
  li
    a(href="/IV63 6WU") IV63 6WU
  li
    a(href="/IV63 6XA") IV63 6XA
  li
    a(href="/IV63 6XD") IV63 6XD
  li
    a(href="/IV63 6XE") IV63 6XE
  li
    a(href="/IV63 6XF") IV63 6XF
  li
    a(href="/IV63 6XG") IV63 6XG
  li
    a(href="/IV63 6XH") IV63 6XH
  li
    a(href="/IV63 6XJ") IV63 6XJ
  li
    a(href="/IV63 6XL") IV63 6XL
  li
    a(href="/IV63 6XN") IV63 6XN
  li
    a(href="/IV63 6XP") IV63 6XP
  li
    a(href="/IV63 6XQ") IV63 6XQ
  li
    a(href="/IV63 6XR") IV63 6XR
  li
    a(href="/IV63 6XS") IV63 6XS
  li
    a(href="/IV63 6XT") IV63 6XT
  li
    a(href="/IV63 6XW") IV63 6XW
  li
    a(href="/IV63 7AB") IV63 7AB
  li
    a(href="/IV63 7WE") IV63 7WE
  li
    a(href="/IV63 7YA") IV63 7YA
  li
    a(href="/IV63 7YD") IV63 7YD
  li
    a(href="/IV63 7YE") IV63 7YE
  li
    a(href="/IV63 7YF") IV63 7YF
  li
    a(href="/IV63 7YG") IV63 7YG
  li
    a(href="/IV63 7YH") IV63 7YH
  li
    a(href="/IV63 7YJ") IV63 7YJ
  li
    a(href="/IV63 7YL") IV63 7YL
  li
    a(href="/IV63 7YN") IV63 7YN
  li
    a(href="/IV63 7YQ") IV63 7YQ
  li
    a(href="/IV63 7YW") IV63 7YW
