ul.locations
  li
    a(href="/IV8 8NA") IV8 8NA
  li
    a(href="/IV8 8ND") IV8 8ND
  li
    a(href="/IV8 8NE") IV8 8NE
  li
    a(href="/IV8 8NF") IV8 8NF
  li
    a(href="/IV8 8NG") IV8 8NG
  li
    a(href="/IV8 8NH") IV8 8NH
  li
    a(href="/IV8 8NJ") IV8 8NJ
  li
    a(href="/IV8 8NL") IV8 8NL
  li
    a(href="/IV8 8NN") IV8 8NN
  li
    a(href="/IV8 8NP") IV8 8NP
  li
    a(href="/IV8 8NQ") IV8 8NQ
  li
    a(href="/IV8 8NR") IV8 8NR
  li
    a(href="/IV8 8NS") IV8 8NS
  li
    a(href="/IV8 8NT") IV8 8NT
  li
    a(href="/IV8 8NU") IV8 8NU
  li
    a(href="/IV8 8NW") IV8 8NW
  li
    a(href="/IV8 8NY") IV8 8NY
  li
    a(href="/IV8 8NZ") IV8 8NZ
  li
    a(href="/IV8 8PA") IV8 8PA
  li
    a(href="/IV8 8PB") IV8 8PB
  li
    a(href="/IV8 8PD") IV8 8PD
  li
    a(href="/IV8 8PE") IV8 8PE
  li
    a(href="/IV8 8PF") IV8 8PF
  li
    a(href="/IV8 8PG") IV8 8PG
  li
    a(href="/IV8 8PH") IV8 8PH
  li
    a(href="/IV8 8PJ") IV8 8PJ
  li
    a(href="/IV8 8PL") IV8 8PL
  li
    a(href="/IV8 8PN") IV8 8PN
  li
    a(href="/IV8 8PP") IV8 8PP
  li
    a(href="/IV8 8PQ") IV8 8PQ
  li
    a(href="/IV8 8YA") IV8 8YA
