ul.locations
  li
    a(href="/IV9 8PA") IV9 8PA
  li
    a(href="/IV9 8PP") IV9 8PP
  li
    a(href="/IV9 8PR") IV9 8PR
  li
    a(href="/IV9 8PS") IV9 8PS
  li
    a(href="/IV9 8PT") IV9 8PT
  li
    a(href="/IV9 8PU") IV9 8PU
  li
    a(href="/IV9 8PW") IV9 8PW
  li
    a(href="/IV9 8PX") IV9 8PX
  li
    a(href="/IV9 8PY") IV9 8PY
  li
    a(href="/IV9 8PZ") IV9 8PZ
  li
    a(href="/IV9 8QA") IV9 8QA
  li
    a(href="/IV9 8QB") IV9 8QB
  li
    a(href="/IV9 8QD") IV9 8QD
  li
    a(href="/IV9 8QE") IV9 8QE
  li
    a(href="/IV9 8QF") IV9 8QF
  li
    a(href="/IV9 8QG") IV9 8QG
  li
    a(href="/IV9 8QH") IV9 8QH
  li
    a(href="/IV9 8QJ") IV9 8QJ
  li
    a(href="/IV9 8QL") IV9 8QL
  li
    a(href="/IV9 8QN") IV9 8QN
  li
    a(href="/IV9 8QP") IV9 8QP
  li
    a(href="/IV9 8QQ") IV9 8QQ
  li
    a(href="/IV9 8QR") IV9 8QR
  li
    a(href="/IV9 8QS") IV9 8QS
  li
    a(href="/IV9 8QT") IV9 8QT
  li
    a(href="/IV9 8QU") IV9 8QU
  li
    a(href="/IV9 8QW") IV9 8QW
  li
    a(href="/IV9 8QX") IV9 8QX
  li
    a(href="/IV9 8QY") IV9 8QY
  li
    a(href="/IV9 8QZ") IV9 8QZ
  li
    a(href="/IV9 8RA") IV9 8RA
  li
    a(href="/IV9 8RD") IV9 8RD
  li
    a(href="/IV9 8RE") IV9 8RE
  li
    a(href="/IV9 8RF") IV9 8RF
  li
    a(href="/IV9 8RG") IV9 8RG
  li
    a(href="/IV9 8RH") IV9 8RH
  li
    a(href="/IV9 8RN") IV9 8RN
  li
    a(href="/IV9 8RP") IV9 8RP
  li
    a(href="/IV9 8RQ") IV9 8RQ
  li
    a(href="/IV9 8RS") IV9 8RS
  li
    a(href="/IV9 8RT") IV9 8RT
  li
    a(href="/IV9 8RU") IV9 8RU
  li
    a(href="/IV9 8RW") IV9 8RW
  li
    a(href="/IV9 8RX") IV9 8RX
  li
    a(href="/IV9 8RY") IV9 8RY
  li
    a(href="/IV9 8WX") IV9 8WX
