ul.locations
  li
    a(href="/KA14 3AA") KA14 3AA
  li
    a(href="/KA14 3AB") KA14 3AB
  li
    a(href="/KA14 3AD") KA14 3AD
  li
    a(href="/KA14 3AE") KA14 3AE
  li
    a(href="/KA14 3AF") KA14 3AF
  li
    a(href="/KA14 3AG") KA14 3AG
  li
    a(href="/KA14 3AH") KA14 3AH
  li
    a(href="/KA14 3AJ") KA14 3AJ
  li
    a(href="/KA14 3AL") KA14 3AL
  li
    a(href="/KA14 3AN") KA14 3AN
  li
    a(href="/KA14 3AQ") KA14 3AQ
  li
    a(href="/KA14 3AR") KA14 3AR
  li
    a(href="/KA14 3AS") KA14 3AS
  li
    a(href="/KA14 3AT") KA14 3AT
  li
    a(href="/KA14 3AW") KA14 3AW
  li
    a(href="/KA14 3AX") KA14 3AX
  li
    a(href="/KA14 3AY") KA14 3AY
  li
    a(href="/KA14 3AZ") KA14 3AZ
  li
    a(href="/KA14 3BA") KA14 3BA
  li
    a(href="/KA14 3BE") KA14 3BE
  li
    a(href="/KA14 3BH") KA14 3BH
  li
    a(href="/KA14 3BJ") KA14 3BJ
  li
    a(href="/KA14 3BL") KA14 3BL
  li
    a(href="/KA14 3BN") KA14 3BN
  li
    a(href="/KA14 3BP") KA14 3BP
  li
    a(href="/KA14 3BQ") KA14 3BQ
  li
    a(href="/KA14 3BT") KA14 3BT
  li
    a(href="/KA14 3BU") KA14 3BU
  li
    a(href="/KA14 3BW") KA14 3BW
  li
    a(href="/KA14 3BX") KA14 3BX
  li
    a(href="/KA14 3DA") KA14 3DA
  li
    a(href="/KA14 3DB") KA14 3DB
  li
    a(href="/KA14 3DD") KA14 3DD
