ul.locations
  li
    a(href="/KA29 0AA") KA29 0AA
  li
    a(href="/KA29 0AB") KA29 0AB
  li
    a(href="/KA29 0AD") KA29 0AD
  li
    a(href="/KA29 0AG") KA29 0AG
  li
    a(href="/KA29 0AH") KA29 0AH
  li
    a(href="/KA29 0AJ") KA29 0AJ
  li
    a(href="/KA29 0AL") KA29 0AL
  li
    a(href="/KA29 0AP") KA29 0AP
  li
    a(href="/KA29 0AQ") KA29 0AQ
  li
    a(href="/KA29 0AS") KA29 0AS
  li
    a(href="/KA29 0AU") KA29 0AU
  li
    a(href="/KA29 0AW") KA29 0AW
  li
    a(href="/KA29 0AX") KA29 0AX
  li
    a(href="/KA29 0AZ") KA29 0AZ
  li
    a(href="/KA29 0BA") KA29 0BA
  li
    a(href="/KA29 0BB") KA29 0BB
  li
    a(href="/KA29 0BD") KA29 0BD
  li
    a(href="/KA29 0BE") KA29 0BE
  li
    a(href="/KA29 0BG") KA29 0BG
  li
    a(href="/KA29 0BH") KA29 0BH
  li
    a(href="/KA29 0BJ") KA29 0BJ
  li
    a(href="/KA29 0BL") KA29 0BL
  li
    a(href="/KA29 0BN") KA29 0BN
  li
    a(href="/KA29 0BQ") KA29 0BQ
  li
    a(href="/KA29 0BS") KA29 0BS
  li
    a(href="/KA29 0BT") KA29 0BT
  li
    a(href="/KA29 0BU") KA29 0BU
  li
    a(href="/KA29 0BW") KA29 0BW
  li
    a(href="/KA29 0DB") KA29 0DB
  li
    a(href="/KA29 0DD") KA29 0DD
  li
    a(href="/KA29 0DE") KA29 0DE
  li
    a(href="/KA29 0DF") KA29 0DF
  li
    a(href="/KA29 0DG") KA29 0DG
  li
    a(href="/KA29 0DH") KA29 0DH
  li
    a(href="/KA29 0DJ") KA29 0DJ
  li
    a(href="/KA29 0DL") KA29 0DL
  li
    a(href="/KA29 0DN") KA29 0DN
  li
    a(href="/KA29 0DP") KA29 0DP
  li
    a(href="/KA29 0DQ") KA29 0DQ
  li
    a(href="/KA29 0DR") KA29 0DR
  li
    a(href="/KA29 0DS") KA29 0DS
  li
    a(href="/KA29 0DT") KA29 0DT
  li
    a(href="/KA29 0DU") KA29 0DU
  li
    a(href="/KA29 0DW") KA29 0DW
  li
    a(href="/KA29 0DX") KA29 0DX
  li
    a(href="/KA29 0DY") KA29 0DY
  li
    a(href="/KA29 0DZ") KA29 0DZ
  li
    a(href="/KA29 0EA") KA29 0EA
  li
    a(href="/KA29 0EB") KA29 0EB
  li
    a(href="/KA29 0ED") KA29 0ED
  li
    a(href="/KA29 0EE") KA29 0EE
  li
    a(href="/KA29 0EF") KA29 0EF
  li
    a(href="/KA29 0EG") KA29 0EG
  li
    a(href="/KA29 0EH") KA29 0EH
  li
    a(href="/KA29 0EJ") KA29 0EJ
  li
    a(href="/KA29 0EN") KA29 0EN
  li
    a(href="/KA29 0EQ") KA29 0EQ
  li
    a(href="/KA29 0ER") KA29 0ER
  li
    a(href="/KA29 0ET") KA29 0ET
  li
    a(href="/KA29 0EW") KA29 0EW
  li
    a(href="/KA29 0WX") KA29 0WX
