ul.locations
  li
    a(href="/KW11 6UA") KW11 6UA
  li
    a(href="/KW11 6UB") KW11 6UB
  li
    a(href="/KW11 6UD") KW11 6UD
  li
    a(href="/KW11 6UE") KW11 6UE
  li
    a(href="/KW11 6UF") KW11 6UF
  li
    a(href="/KW11 6UG") KW11 6UG
