ul.locations
  li
    a(href="/KW12 6UJ") KW12 6UJ
  li
    a(href="/KW12 6UL") KW12 6UL
  li
    a(href="/KW12 6UN") KW12 6UN
  li
    a(href="/KW12 6UP") KW12 6UP
  li
    a(href="/KW12 6UR") KW12 6UR
  li
    a(href="/KW12 6UU") KW12 6UU
  li
    a(href="/KW12 6UW") KW12 6UW
  li
    a(href="/KW12 6UX") KW12 6UX
  li
    a(href="/KW12 6UY") KW12 6UY
  li
    a(href="/KW12 6UZ") KW12 6UZ
  li
    a(href="/KW12 6WB") KW12 6WB
  li
    a(href="/KW12 6WD") KW12 6WD
  li
    a(href="/KW12 6WU") KW12 6WU
  li
    a(href="/KW12 6XA") KW12 6XA
  li
    a(href="/KW12 6XB") KW12 6XB
  li
    a(href="/KW12 6XD") KW12 6XD
  li
    a(href="/KW12 6XE") KW12 6XE
  li
    a(href="/KW12 6XF") KW12 6XF
  li
    a(href="/KW12 6XG") KW12 6XG
  li
    a(href="/KW12 6XH") KW12 6XH
  li
    a(href="/KW12 6XJ") KW12 6XJ
  li
    a(href="/KW12 6XN") KW12 6XN
  li
    a(href="/KW12 6XP") KW12 6XP
  li
    a(href="/KW12 6XQ") KW12 6XQ
  li
    a(href="/KW12 6XR") KW12 6XR
  li
    a(href="/KW12 6XS") KW12 6XS
  li
    a(href="/KW12 6XT") KW12 6XT
  li
    a(href="/KW12 6XU") KW12 6XU
  li
    a(href="/KW12 6XW") KW12 6XW
  li
    a(href="/KW12 6XX") KW12 6XX
  li
    a(href="/KW12 6XY") KW12 6XY
  li
    a(href="/KW12 6XZ") KW12 6XZ
  li
    a(href="/KW12 6YA") KW12 6YA
  li
    a(href="/KW12 6YB") KW12 6YB
  li
    a(href="/KW12 6YD") KW12 6YD
  li
    a(href="/KW12 6YE") KW12 6YE
  li
    a(href="/KW12 6YF") KW12 6YF
  li
    a(href="/KW12 6YG") KW12 6YG
  li
    a(href="/KW12 6YH") KW12 6YH
  li
    a(href="/KW12 6YJ") KW12 6YJ
  li
    a(href="/KW12 6YL") KW12 6YL
  li
    a(href="/KW12 6YN") KW12 6YN
  li
    a(href="/KW12 6YP") KW12 6YP
  li
    a(href="/KW12 6YQ") KW12 6YQ
  li
    a(href="/KW12 6YT") KW12 6YT
  li
    a(href="/KW12 6YW") KW12 6YW
  li
    a(href="/KW12 6YX") KW12 6YX
  li
    a(href="/KW12 6ZA") KW12 6ZA
