ul.locations
  li
    a(href="/KW5 6DG") KW5 6DG
  li
    a(href="/KW5 6DJ") KW5 6DJ
  li
    a(href="/KW5 6DL") KW5 6DL
  li
    a(href="/KW5 6DN") KW5 6DN
  li
    a(href="/KW5 6DP") KW5 6DP
  li
    a(href="/KW5 6DQ") KW5 6DQ
  li
    a(href="/KW5 6DR") KW5 6DR
  li
    a(href="/KW5 6DS") KW5 6DS
  li
    a(href="/KW5 6DT") KW5 6DT
  li
    a(href="/KW5 6DU") KW5 6DU
  li
    a(href="/KW5 6DW") KW5 6DW
  li
    a(href="/KW5 6DX") KW5 6DX
