ul.locations
  li
    a(href="/KW6 6EA") KW6 6EA
  li
    a(href="/KW6 6EB") KW6 6EB
  li
    a(href="/KW6 6ED") KW6 6ED
  li
    a(href="/KW6 6EE") KW6 6EE
  li
    a(href="/KW6 6EF") KW6 6EF
  li
    a(href="/KW6 6EG") KW6 6EG
  li
    a(href="/KW6 6EH") KW6 6EH
  li
    a(href="/KW6 6EJ") KW6 6EJ
  li
    a(href="/KW6 6EL") KW6 6EL
  li
    a(href="/KW6 6EN") KW6 6EN
  li
    a(href="/KW6 6EP") KW6 6EP
  li
    a(href="/KW6 6EQ") KW6 6EQ
  li
    a(href="/KW6 6ET") KW6 6ET
  li
    a(href="/KW6 6EU") KW6 6EU
  li
    a(href="/KW6 6EX") KW6 6EX
  li
    a(href="/KW6 6EY") KW6 6EY
  li
    a(href="/KW6 6EZ") KW6 6EZ
