ul.locations
  li
    a(href="/KW8 6HH") KW8 6HH
  li
    a(href="/KW8 6HJ") KW8 6HJ
  li
    a(href="/KW8 6HL") KW8 6HL
  li
    a(href="/KW8 6HN") KW8 6HN
  li
    a(href="/KW8 6HP") KW8 6HP
  li
    a(href="/KW8 6HR") KW8 6HR
  li
    a(href="/KW8 6HT") KW8 6HT
  li
    a(href="/KW8 6HU") KW8 6HU
  li
    a(href="/KW8 6HW") KW8 6HW
  li
    a(href="/KW8 6HX") KW8 6HX
  li
    a(href="/KW8 6HY") KW8 6HY
  li
    a(href="/KW8 6JA") KW8 6JA
  li
    a(href="/KW8 6JD") KW8 6JD
  li
    a(href="/KW8 6JE") KW8 6JE
  li
    a(href="/KW8 6JF") KW8 6JF
  li
    a(href="/KW8 6JG") KW8 6JG
  li
    a(href="/KW8 6JH") KW8 6JH
  li
    a(href="/KW8 6JJ") KW8 6JJ
  li
    a(href="/KW8 6JL") KW8 6JL
  li
    a(href="/KW8 6JN") KW8 6JN
  li
    a(href="/KW8 6JP") KW8 6JP
  li
    a(href="/KW8 6JQ") KW8 6JQ
  li
    a(href="/KW8 6JR") KW8 6JR
  li
    a(href="/KW8 6JS") KW8 6JS
  li
    a(href="/KW8 6JU") KW8 6JU
  li
    a(href="/KW8 6JW") KW8 6JW
  li
    a(href="/KW8 6JX") KW8 6JX
  li
    a(href="/KW8 6JY") KW8 6JY
  li
    a(href="/KW8 6JZ") KW8 6JZ
  li
    a(href="/KW8 6LA") KW8 6LA
  li
    a(href="/KW8 6LB") KW8 6LB
  li
    a(href="/KW8 6LD") KW8 6LD
  li
    a(href="/KW8 6LE") KW8 6LE
  li
    a(href="/KW8 6LF") KW8 6LF
  li
    a(href="/KW8 6LG") KW8 6LG
  li
    a(href="/KW8 6LH") KW8 6LH
  li
    a(href="/KW8 6LJ") KW8 6LJ
  li
    a(href="/KW8 6LQ") KW8 6LQ
