ul.locations
  li
    a(href="/browse/Scotland/EH18") EH18
  li
    a(href="/browse/Scotland/EH19") EH19
  li
    a(href="/browse/Scotland/EH20") EH20
  li
    a(href="/browse/Scotland/EH22") EH22
  li
    a(href="/browse/Scotland/EH23") EH23
  li
    a(href="/browse/Scotland/EH24") EH24
  li
    a(href="/browse/Scotland/EH25") EH25
  li
    a(href="/browse/Scotland/EH26") EH26
  li
    a(href="/browse/Scotland/EH37") EH37
