ul.locations
  li
    a(href="/browse/Scotland/AB37") AB37
  li
    a(href="/browse/Scotland/AB38") AB38
  li
    a(href="/browse/Scotland/AB55") AB55
  li
    a(href="/browse/Scotland/AB56") AB56
  li
    a(href="/browse/Scotland/IV30") IV30
  li
    a(href="/browse/Scotland/IV31") IV31
  li
    a(href="/browse/Scotland/IV32") IV32
  li
    a(href="/browse/Scotland/IV36") IV36
