ul.locations
  li
    a(href="/browse/Scotland/KA11") KA11
  li
    a(href="/browse/Scotland/KA12") KA12
  li
    a(href="/browse/Scotland/KA13") KA13
  li
    a(href="/browse/Scotland/KA14") KA14
  li
    a(href="/browse/Scotland/KA15") KA15
  li
    a(href="/browse/Scotland/KA20") KA20
  li
    a(href="/browse/Scotland/KA21") KA21
  li
    a(href="/browse/Scotland/KA22") KA22
  li
    a(href="/browse/Scotland/KA23") KA23
  li
    a(href="/browse/Scotland/KA24") KA24
  li
    a(href="/browse/Scotland/KA25") KA25
  li
    a(href="/browse/Scotland/KA27") KA27
  li
    a(href="/browse/Scotland/KA28") KA28
  li
    a(href="/browse/Scotland/KA29") KA29
  li
    a(href="/browse/Scotland/KA30") KA30
  li
    a(href="/browse/Scotland/PA17") PA17
