ul.locations
  li
    a(href="/browse/Scotland/G65") G65
  li
    a(href="/browse/Scotland/G67") G67
  li
    a(href="/browse/Scotland/G68") G68
  li
    a(href="/browse/Scotland/ML1") ML1
  li
    a(href="/browse/Scotland/ML2") ML2
  li
    a(href="/browse/Scotland/ML4") ML4
  li
    a(href="/browse/Scotland/ML5") ML5
  li
    a(href="/browse/Scotland/ML6") ML6
  li
    a(href="/browse/Scotland/ML7") ML7
