ul.locations
  li
    a(href="/PA17 5AA") PA17 5AA
  li
    a(href="/PA17 5AB") PA17 5AB
  li
    a(href="/PA17 5AD") PA17 5AD
  li
    a(href="/PA17 5AE") PA17 5AE
  li
    a(href="/PA17 5AF") PA17 5AF
  li
    a(href="/PA17 5AG") PA17 5AG
  li
    a(href="/PA17 5AH") PA17 5AH
  li
    a(href="/PA17 5AJ") PA17 5AJ
  li
    a(href="/PA17 5AL") PA17 5AL
  li
    a(href="/PA17 5AN") PA17 5AN
  li
    a(href="/PA17 5AP") PA17 5AP
  li
    a(href="/PA17 5AQ") PA17 5AQ
  li
    a(href="/PA17 5AR") PA17 5AR
  li
    a(href="/PA17 5AS") PA17 5AS
  li
    a(href="/PA17 5AT") PA17 5AT
  li
    a(href="/PA17 5AU") PA17 5AU
  li
    a(href="/PA17 5AW") PA17 5AW
  li
    a(href="/PA17 5AX") PA17 5AX
  li
    a(href="/PA17 5AY") PA17 5AY
  li
    a(href="/PA17 5AZ") PA17 5AZ
  li
    a(href="/PA17 5BA") PA17 5BA
  li
    a(href="/PA17 5BB") PA17 5BB
  li
    a(href="/PA17 5BD") PA17 5BD
  li
    a(href="/PA17 5BE") PA17 5BE
  li
    a(href="/PA17 5BG") PA17 5BG
  li
    a(href="/PA17 5BH") PA17 5BH
  li
    a(href="/PA17 5BJ") PA17 5BJ
  li
    a(href="/PA17 5BL") PA17 5BL
  li
    a(href="/PA17 5BN") PA17 5BN
  li
    a(href="/PA17 5BP") PA17 5BP
  li
    a(href="/PA17 5BS") PA17 5BS
  li
    a(href="/PA17 5BU") PA17 5BU
  li
    a(href="/PA17 5BW") PA17 5BW
  li
    a(href="/PA17 5DA") PA17 5DA
  li
    a(href="/PA17 5DB") PA17 5DB
  li
    a(href="/PA17 5DP") PA17 5DP
  li
    a(href="/PA17 5DQ") PA17 5DQ
  li
    a(href="/PA17 5DR") PA17 5DR
  li
    a(href="/PA17 5DS") PA17 5DS
  li
    a(href="/PA17 5DT") PA17 5DT
  li
    a(href="/PA17 5DW") PA17 5DW
  li
    a(href="/PA17 5DX") PA17 5DX
  li
    a(href="/PA17 5DY") PA17 5DY
  li
    a(href="/PA17 5DZ") PA17 5DZ
  li
    a(href="/PA17 5EA") PA17 5EA
  li
    a(href="/PA17 5EB") PA17 5EB
  li
    a(href="/PA17 5ED") PA17 5ED
  li
    a(href="/PA17 5EE") PA17 5EE
  li
    a(href="/PA17 5EF") PA17 5EF
  li
    a(href="/PA17 5EG") PA17 5EG
  li
    a(href="/PA17 5EH") PA17 5EH
  li
    a(href="/PA17 5EJ") PA17 5EJ
  li
    a(href="/PA17 5EN") PA17 5EN
  li
    a(href="/PA17 5EP") PA17 5EP
  li
    a(href="/PA17 5EQ") PA17 5EQ
  li
    a(href="/PA17 5ER") PA17 5ER
  li
    a(href="/PA17 5ES") PA17 5ES
  li
    a(href="/PA17 5ET") PA17 5ET
  li
    a(href="/PA17 5EU") PA17 5EU
  li
    a(href="/PA17 5EW") PA17 5EW
  li
    a(href="/PA17 5EX") PA17 5EX
  li
    a(href="/PA17 5EY") PA17 5EY
  li
    a(href="/PA17 5EZ") PA17 5EZ
  li
    a(href="/PA17 5HA") PA17 5HA
  li
    a(href="/PA17 5HB") PA17 5HB
  li
    a(href="/PA17 5HD") PA17 5HD
  li
    a(href="/PA17 5HE") PA17 5HE
  li
    a(href="/PA17 5HH") PA17 5HH
  li
    a(href="/PA17 5HQ") PA17 5HQ
