ul.locations
  li
    a(href="/PA18 6AA") PA18 6AA
  li
    a(href="/PA18 6AB") PA18 6AB
  li
    a(href="/PA18 6AD") PA18 6AD
  li
    a(href="/PA18 6AE") PA18 6AE
  li
    a(href="/PA18 6AF") PA18 6AF
  li
    a(href="/PA18 6AG") PA18 6AG
  li
    a(href="/PA18 6AH") PA18 6AH
  li
    a(href="/PA18 6AJ") PA18 6AJ
  li
    a(href="/PA18 6AL") PA18 6AL
  li
    a(href="/PA18 6AN") PA18 6AN
  li
    a(href="/PA18 6AP") PA18 6AP
  li
    a(href="/PA18 6AQ") PA18 6AQ
  li
    a(href="/PA18 6AR") PA18 6AR
  li
    a(href="/PA18 6AS") PA18 6AS
  li
    a(href="/PA18 6AT") PA18 6AT
  li
    a(href="/PA18 6AU") PA18 6AU
  li
    a(href="/PA18 6AX") PA18 6AX
  li
    a(href="/PA18 6AY") PA18 6AY
  li
    a(href="/PA18 6AZ") PA18 6AZ
  li
    a(href="/PA18 6BA") PA18 6BA
  li
    a(href="/PA18 6BB") PA18 6BB
  li
    a(href="/PA18 6BD") PA18 6BD
  li
    a(href="/PA18 6BE") PA18 6BE
  li
    a(href="/PA18 6BF") PA18 6BF
  li
    a(href="/PA18 6BG") PA18 6BG
  li
    a(href="/PA18 6BH") PA18 6BH
  li
    a(href="/PA18 6BJ") PA18 6BJ
  li
    a(href="/PA18 6BL") PA18 6BL
  li
    a(href="/PA18 6BN") PA18 6BN
  li
    a(href="/PA18 6BP") PA18 6BP
  li
    a(href="/PA18 6BQ") PA18 6BQ
  li
    a(href="/PA18 6BS") PA18 6BS
  li
    a(href="/PA18 6BT") PA18 6BT
  li
    a(href="/PA18 6BU") PA18 6BU
  li
    a(href="/PA18 6BW") PA18 6BW
  li
    a(href="/PA18 6BX") PA18 6BX
  li
    a(href="/PA18 6BY") PA18 6BY
  li
    a(href="/PA18 6BZ") PA18 6BZ
  li
    a(href="/PA18 6DA") PA18 6DA
  li
    a(href="/PA18 6DB") PA18 6DB
  li
    a(href="/PA18 6DD") PA18 6DD
  li
    a(href="/PA18 6DE") PA18 6DE
  li
    a(href="/PA18 6DF") PA18 6DF
  li
    a(href="/PA18 6DG") PA18 6DG
  li
    a(href="/PA18 6DH") PA18 6DH
  li
    a(href="/PA18 6DJ") PA18 6DJ
  li
    a(href="/PA18 6DL") PA18 6DL
  li
    a(href="/PA18 6DN") PA18 6DN
  li
    a(href="/PA18 6DP") PA18 6DP
  li
    a(href="/PA18 6DQ") PA18 6DQ
  li
    a(href="/PA18 6DS") PA18 6DS
  li
    a(href="/PA18 6DT") PA18 6DT
  li
    a(href="/PA18 6DW") PA18 6DW
  li
    a(href="/PA18 6DX") PA18 6DX
  li
    a(href="/PA18 6DY") PA18 6DY
  li
    a(href="/PA18 6DZ") PA18 6DZ
  li
    a(href="/PA18 6EA") PA18 6EA
  li
    a(href="/PA18 6EB") PA18 6EB
  li
    a(href="/PA18 6ED") PA18 6ED
  li
    a(href="/PA18 6EE") PA18 6EE
  li
    a(href="/PA18 6EF") PA18 6EF
  li
    a(href="/PA18 6ER") PA18 6ER
  li
    a(href="/PA18 6HA") PA18 6HA
  li
    a(href="/PA18 6HD") PA18 6HD
  li
    a(href="/PA18 6WZ") PA18 6WZ
