ul.locations
  li
    a(href="/PA21 2AA") PA21 2AA
  li
    a(href="/PA21 2AB") PA21 2AB
  li
    a(href="/PA21 2AD") PA21 2AD
  li
    a(href="/PA21 2AE") PA21 2AE
  li
    a(href="/PA21 2AF") PA21 2AF
  li
    a(href="/PA21 2AG") PA21 2AG
  li
    a(href="/PA21 2AH") PA21 2AH
  li
    a(href="/PA21 2AQ") PA21 2AQ
  li
    a(href="/PA21 2BA") PA21 2BA
  li
    a(href="/PA21 2BB") PA21 2BB
  li
    a(href="/PA21 2BD") PA21 2BD
  li
    a(href="/PA21 2BE") PA21 2BE
  li
    a(href="/PA21 2BF") PA21 2BF
  li
    a(href="/PA21 2BG") PA21 2BG
  li
    a(href="/PA21 2BH") PA21 2BH
  li
    a(href="/PA21 2BJ") PA21 2BJ
  li
    a(href="/PA21 2BL") PA21 2BL
  li
    a(href="/PA21 2BN") PA21 2BN
  li
    a(href="/PA21 2BP") PA21 2BP
  li
    a(href="/PA21 2BQ") PA21 2BQ
  li
    a(href="/PA21 2BS") PA21 2BS
  li
    a(href="/PA21 2BU") PA21 2BU
  li
    a(href="/PA21 2BW") PA21 2BW
  li
    a(href="/PA21 2BY") PA21 2BY
  li
    a(href="/PA21 2BZ") PA21 2BZ
  li
    a(href="/PA21 2DA") PA21 2DA
  li
    a(href="/PA21 2DH") PA21 2DH
  li
    a(href="/PA21 2DR") PA21 2DR
  li
    a(href="/PA21 2DS") PA21 2DS
  li
    a(href="/PA21 2DT") PA21 2DT
  li
    a(href="/PA21 2DU") PA21 2DU
  li
    a(href="/PA21 2DX") PA21 2DX
  li
    a(href="/PA21 2DY") PA21 2DY
  li
    a(href="/PA21 2EA") PA21 2EA
  li
    a(href="/PA21 2EB") PA21 2EB
  li
    a(href="/PA21 2ED") PA21 2ED
  li
    a(href="/PA21 2EE") PA21 2EE
  li
    a(href="/PA21 2EG") PA21 2EG
  li
    a(href="/PA21 2EH") PA21 2EH
  li
    a(href="/PA21 2EJ") PA21 2EJ
  li
    a(href="/PA21 2EP") PA21 2EP
  li
    a(href="/PA21 2ER") PA21 2ER
  li
    a(href="/PA21 2YG") PA21 2YG
