ul.locations
  li
    a(href="/PA22 3AA") PA22 3AA
  li
    a(href="/PA22 3AB") PA22 3AB
  li
    a(href="/PA22 3AD") PA22 3AD
  li
    a(href="/PA22 3AE") PA22 3AE
  li
    a(href="/PA22 3AF") PA22 3AF
  li
    a(href="/PA22 3AG") PA22 3AG
  li
    a(href="/PA22 3AH") PA22 3AH
  li
    a(href="/PA22 3AJ") PA22 3AJ
  li
    a(href="/PA22 3AP") PA22 3AP
  li
    a(href="/PA22 3AR") PA22 3AR
  li
    a(href="/PA22 3AS") PA22 3AS
  li
    a(href="/PA22 3AT") PA22 3AT
  li
    a(href="/PA22 3AU") PA22 3AU
  li
    a(href="/PA22 3AX") PA22 3AX
  li
    a(href="/PA22 3YD") PA22 3YD
  li
    a(href="/PA22 3YE") PA22 3YE
