ul.locations
  li
    a(href="/PA24 8AA") PA24 8AA
  li
    a(href="/PA24 8AB") PA24 8AB
  li
    a(href="/PA24 8AD") PA24 8AD
  li
    a(href="/PA24 8AE") PA24 8AE
  li
    a(href="/PA24 8AF") PA24 8AF
  li
    a(href="/PA24 8AG") PA24 8AG
  li
    a(href="/PA24 8AH") PA24 8AH
  li
    a(href="/PA24 8AJ") PA24 8AJ
  li
    a(href="/PA24 8AL") PA24 8AL
  li
    a(href="/PA24 8AN") PA24 8AN
  li
    a(href="/PA24 8AP") PA24 8AP
  li
    a(href="/PA24 8AQ") PA24 8AQ
  li
    a(href="/PA24 8AR") PA24 8AR
  li
    a(href="/PA24 8AS") PA24 8AS
