ul.locations
  li
    a(href="/PA26 8BA") PA26 8BA
  li
    a(href="/PA26 8BE") PA26 8BE
  li
    a(href="/PA26 8BG") PA26 8BG
  li
    a(href="/PA26 8BH") PA26 8BH
  li
    a(href="/PA26 8BJ") PA26 8BJ
  li
    a(href="/PA26 8BL") PA26 8BL
  li
    a(href="/PA26 8BN") PA26 8BN
  li
    a(href="/PA26 8BQ") PA26 8BQ
