ul.locations
  li
    a(href="/PA27 8AB") PA27 8AB
  li
    a(href="/PA27 8BU") PA27 8BU
  li
    a(href="/PA27 8BW") PA27 8BW
  li
    a(href="/PA27 8BX") PA27 8BX
  li
    a(href="/PA27 8BY") PA27 8BY
  li
    a(href="/PA27 8BZ") PA27 8BZ
  li
    a(href="/PA27 8DA") PA27 8DA
  li
    a(href="/PA27 8DB") PA27 8DB
  li
    a(href="/PA27 8DD") PA27 8DD
  li
    a(href="/PA27 8DE") PA27 8DE
  li
    a(href="/PA27 8DF") PA27 8DF
  li
    a(href="/PA27 8DG") PA27 8DG
  li
    a(href="/PA27 8DH") PA27 8DH
  li
    a(href="/PA27 8DJ") PA27 8DJ
  li
    a(href="/PA27 8DL") PA27 8DL
  li
    a(href="/PA27 8DN") PA27 8DN
  li
    a(href="/PA27 8DP") PA27 8DP
  li
    a(href="/PA27 8DQ") PA27 8DQ
  li
    a(href="/PA27 8DR") PA27 8DR
  li
    a(href="/PA27 8DS") PA27 8DS
  li
    a(href="/PA27 8DW") PA27 8DW
