ul.locations
  li
    a(href="/PA29 6AB") PA29 6AB
  li
    a(href="/PA29 6SU") PA29 6SU
  li
    a(href="/PA29 6SX") PA29 6SX
  li
    a(href="/PA29 6SY") PA29 6SY
  li
    a(href="/PA29 6SZ") PA29 6SZ
  li
    a(href="/PA29 6TA") PA29 6TA
  li
    a(href="/PA29 6TB") PA29 6TB
  li
    a(href="/PA29 6TD") PA29 6TD
  li
    a(href="/PA29 6TE") PA29 6TE
  li
    a(href="/PA29 6TF") PA29 6TF
  li
    a(href="/PA29 6TG") PA29 6TG
  li
    a(href="/PA29 6TH") PA29 6TH
  li
    a(href="/PA29 6TJ") PA29 6TJ
  li
    a(href="/PA29 6TL") PA29 6TL
  li
    a(href="/PA29 6TN") PA29 6TN
  li
    a(href="/PA29 6TP") PA29 6TP
  li
    a(href="/PA29 6TQ") PA29 6TQ
  li
    a(href="/PA29 6TR") PA29 6TR
  li
    a(href="/PA29 6TS") PA29 6TS
  li
    a(href="/PA29 6TT") PA29 6TT
  li
    a(href="/PA29 6TU") PA29 6TU
  li
    a(href="/PA29 6TW") PA29 6TW
  li
    a(href="/PA29 6TX") PA29 6TX
  li
    a(href="/PA29 6TY") PA29 6TY
  li
    a(href="/PA29 6TZ") PA29 6TZ
  li
    a(href="/PA29 6UA") PA29 6UA
  li
    a(href="/PA29 6UB") PA29 6UB
  li
    a(href="/PA29 6UD") PA29 6UD
  li
    a(href="/PA29 6UE") PA29 6UE
  li
    a(href="/PA29 6UF") PA29 6UF
  li
    a(href="/PA29 6UG") PA29 6UG
  li
    a(href="/PA29 6UH") PA29 6UH
  li
    a(href="/PA29 6UJ") PA29 6UJ
  li
    a(href="/PA29 6UL") PA29 6UL
  li
    a(href="/PA29 6UN") PA29 6UN
  li
    a(href="/PA29 6UP") PA29 6UP
  li
    a(href="/PA29 6UQ") PA29 6UQ
  li
    a(href="/PA29 6UR") PA29 6UR
  li
    a(href="/PA29 6UT") PA29 6UT
  li
    a(href="/PA29 6UU") PA29 6UU
  li
    a(href="/PA29 6UW") PA29 6UW
  li
    a(href="/PA29 6UX") PA29 6UX
  li
    a(href="/PA29 6UZ") PA29 6UZ
  li
    a(href="/PA29 6WA") PA29 6WA
  li
    a(href="/PA29 6WB") PA29 6WB
  li
    a(href="/PA29 6XB") PA29 6XB
  li
    a(href="/PA29 6XD") PA29 6XD
  li
    a(href="/PA29 6XE") PA29 6XE
  li
    a(href="/PA29 6XF") PA29 6XF
  li
    a(href="/PA29 6XG") PA29 6XG
  li
    a(href="/PA29 6XH") PA29 6XH
  li
    a(href="/PA29 6XJ") PA29 6XJ
  li
    a(href="/PA29 6XL") PA29 6XL
  li
    a(href="/PA29 6XN") PA29 6XN
  li
    a(href="/PA29 6XP") PA29 6XP
  li
    a(href="/PA29 6XQ") PA29 6XQ
  li
    a(href="/PA29 6XR") PA29 6XR
  li
    a(href="/PA29 6XS") PA29 6XS
  li
    a(href="/PA29 6XT") PA29 6XT
  li
    a(href="/PA29 6XU") PA29 6XU
  li
    a(href="/PA29 6XW") PA29 6XW
  li
    a(href="/PA29 6XX") PA29 6XX
  li
    a(href="/PA29 6XY") PA29 6XY
  li
    a(href="/PA29 6XZ") PA29 6XZ
  li
    a(href="/PA29 6YA") PA29 6YA
  li
    a(href="/PA29 6YB") PA29 6YB
  li
    a(href="/PA29 6YD") PA29 6YD
  li
    a(href="/PA29 6YE") PA29 6YE
  li
    a(href="/PA29 6YF") PA29 6YF
  li
    a(href="/PA29 6YG") PA29 6YG
  li
    a(href="/PA29 6YH") PA29 6YH
  li
    a(href="/PA29 6YJ") PA29 6YJ
  li
    a(href="/PA29 6YL") PA29 6YL
  li
    a(href="/PA29 6YN") PA29 6YN
  li
    a(href="/PA29 6YP") PA29 6YP
  li
    a(href="/PA29 6YQ") PA29 6YQ
  li
    a(href="/PA29 6YW") PA29 6YW
  li
    a(href="/PA29 6YX") PA29 6YX
