ul.locations
  li
    a(href="/PA33 1AA") PA33 1AA
  li
    a(href="/PA33 1AE") PA33 1AE
  li
    a(href="/PA33 1AF") PA33 1AF
  li
    a(href="/PA33 1AH") PA33 1AH
  li
    a(href="/PA33 1AJ") PA33 1AJ
  li
    a(href="/PA33 1AL") PA33 1AL
  li
    a(href="/PA33 1AN") PA33 1AN
  li
    a(href="/PA33 1AP") PA33 1AP
  li
    a(href="/PA33 1AQ") PA33 1AQ
  li
    a(href="/PA33 1AR") PA33 1AR
  li
    a(href="/PA33 1AS") PA33 1AS
  li
    a(href="/PA33 1AT") PA33 1AT
  li
    a(href="/PA33 1AU") PA33 1AU
  li
    a(href="/PA33 1AW") PA33 1AW
  li
    a(href="/PA33 1AX") PA33 1AX
  li
    a(href="/PA33 1AY") PA33 1AY
  li
    a(href="/PA33 1AZ") PA33 1AZ
  li
    a(href="/PA33 1BA") PA33 1BA
  li
    a(href="/PA33 1BB") PA33 1BB
  li
    a(href="/PA33 1BD") PA33 1BD
  li
    a(href="/PA33 1BE") PA33 1BE
  li
    a(href="/PA33 1BH") PA33 1BH
  li
    a(href="/PA33 1BJ") PA33 1BJ
  li
    a(href="/PA33 1BL") PA33 1BL
  li
    a(href="/PA33 1BN") PA33 1BN
  li
    a(href="/PA33 1BP") PA33 1BP
  li
    a(href="/PA33 1BQ") PA33 1BQ
  li
    a(href="/PA33 1BS") PA33 1BS
  li
    a(href="/PA33 1BT") PA33 1BT
  li
    a(href="/PA33 1BU") PA33 1BU
  li
    a(href="/PA33 1BW") PA33 1BW
  li
    a(href="/PA33 1BX") PA33 1BX
  li
    a(href="/PA33 1WB") PA33 1WB
  li
    a(href="/PA33 1WU") PA33 1WU
  li
    a(href="/PA33 1WX") PA33 1WX
