ul.locations
  li
    a(href="/PA35 1AG") PA35 1AG
  li
    a(href="/PA35 1HD") PA35 1HD
  li
    a(href="/PA35 1HE") PA35 1HE
  li
    a(href="/PA35 1HF") PA35 1HF
  li
    a(href="/PA35 1HG") PA35 1HG
  li
    a(href="/PA35 1HH") PA35 1HH
  li
    a(href="/PA35 1HJ") PA35 1HJ
  li
    a(href="/PA35 1HL") PA35 1HL
  li
    a(href="/PA35 1HN") PA35 1HN
  li
    a(href="/PA35 1HP") PA35 1HP
  li
    a(href="/PA35 1HQ") PA35 1HQ
  li
    a(href="/PA35 1HR") PA35 1HR
  li
    a(href="/PA35 1HS") PA35 1HS
  li
    a(href="/PA35 1HT") PA35 1HT
  li
    a(href="/PA35 1HU") PA35 1HU
  li
    a(href="/PA35 1HW") PA35 1HW
  li
    a(href="/PA35 1HY") PA35 1HY
  li
    a(href="/PA35 1HZ") PA35 1HZ
  li
    a(href="/PA35 1JA") PA35 1JA
  li
    a(href="/PA35 1JB") PA35 1JB
  li
    a(href="/PA35 1JD") PA35 1JD
  li
    a(href="/PA35 1JE") PA35 1JE
  li
    a(href="/PA35 1JF") PA35 1JF
  li
    a(href="/PA35 1JG") PA35 1JG
  li
    a(href="/PA35 1JH") PA35 1JH
  li
    a(href="/PA35 1JJ") PA35 1JJ
  li
    a(href="/PA35 1JL") PA35 1JL
  li
    a(href="/PA35 1JN") PA35 1JN
  li
    a(href="/PA35 1JP") PA35 1JP
  li
    a(href="/PA35 1JQ") PA35 1JQ
  li
    a(href="/PA35 1JR") PA35 1JR
  li
    a(href="/PA35 1JS") PA35 1JS
  li
    a(href="/PA35 1JT") PA35 1JT
  li
    a(href="/PA35 1JU") PA35 1JU
  li
    a(href="/PA35 1JW") PA35 1JW
  li
    a(href="/PA35 1JX") PA35 1JX
  li
    a(href="/PA35 1JY") PA35 1JY
  li
    a(href="/PA35 1WX") PA35 1WX
  li
    a(href="/PA35 1WZ") PA35 1WZ
