ul.locations
  li
    a(href="/PA36 4AA") PA36 4AA
  li
    a(href="/PA36 4AB") PA36 4AB
  li
    a(href="/PA36 4AD") PA36 4AD
  li
    a(href="/PA36 4AE") PA36 4AE
  li
    a(href="/PA36 4AF") PA36 4AF
  li
    a(href="/PA36 4AG") PA36 4AG
  li
    a(href="/PA36 4AH") PA36 4AH
  li
    a(href="/PA36 4AQ") PA36 4AQ
