ul.locations
  li
    a(href="/PA37 1NT") PA37 1NT
  li
    a(href="/PA37 1NW") PA37 1NW
  li
    a(href="/PA37 1NX") PA37 1NX
  li
    a(href="/PA37 1NY") PA37 1NY
  li
    a(href="/PA37 1PA") PA37 1PA
  li
    a(href="/PA37 1PB") PA37 1PB
  li
    a(href="/PA37 1PD") PA37 1PD
  li
    a(href="/PA37 1PE") PA37 1PE
  li
    a(href="/PA37 1PF") PA37 1PF
  li
    a(href="/PA37 1PG") PA37 1PG
  li
    a(href="/PA37 1PH") PA37 1PH
  li
    a(href="/PA37 1PJ") PA37 1PJ
  li
    a(href="/PA37 1PL") PA37 1PL
  li
    a(href="/PA37 1PN") PA37 1PN
  li
    a(href="/PA37 1PP") PA37 1PP
  li
    a(href="/PA37 1PQ") PA37 1PQ
  li
    a(href="/PA37 1PR") PA37 1PR
  li
    a(href="/PA37 1PT") PA37 1PT
  li
    a(href="/PA37 1PU") PA37 1PU
  li
    a(href="/PA37 1PW") PA37 1PW
  li
    a(href="/PA37 1PX") PA37 1PX
  li
    a(href="/PA37 1PY") PA37 1PY
  li
    a(href="/PA37 1PZ") PA37 1PZ
  li
    a(href="/PA37 1QA") PA37 1QA
  li
    a(href="/PA37 1QB") PA37 1QB
  li
    a(href="/PA37 1QD") PA37 1QD
  li
    a(href="/PA37 1QE") PA37 1QE
  li
    a(href="/PA37 1QF") PA37 1QF
  li
    a(href="/PA37 1QG") PA37 1QG
  li
    a(href="/PA37 1QH") PA37 1QH
  li
    a(href="/PA37 1QJ") PA37 1QJ
  li
    a(href="/PA37 1QL") PA37 1QL
  li
    a(href="/PA37 1QN") PA37 1QN
  li
    a(href="/PA37 1QP") PA37 1QP
  li
    a(href="/PA37 1QQ") PA37 1QQ
  li
    a(href="/PA37 1QR") PA37 1QR
  li
    a(href="/PA37 1QS") PA37 1QS
  li
    a(href="/PA37 1QT") PA37 1QT
  li
    a(href="/PA37 1QU") PA37 1QU
  li
    a(href="/PA37 1QW") PA37 1QW
  li
    a(href="/PA37 1QX") PA37 1QX
  li
    a(href="/PA37 1QY") PA37 1QY
  li
    a(href="/PA37 1QZ") PA37 1QZ
  li
    a(href="/PA37 1RA") PA37 1RA
  li
    a(href="/PA37 1RD") PA37 1RD
  li
    a(href="/PA37 1RE") PA37 1RE
  li
    a(href="/PA37 1RF") PA37 1RF
  li
    a(href="/PA37 1RG") PA37 1RG
  li
    a(href="/PA37 1RH") PA37 1RH
  li
    a(href="/PA37 1RJ") PA37 1RJ
  li
    a(href="/PA37 1RL") PA37 1RL
  li
    a(href="/PA37 1RN") PA37 1RN
  li
    a(href="/PA37 1RP") PA37 1RP
  li
    a(href="/PA37 1RQ") PA37 1RQ
  li
    a(href="/PA37 1RR") PA37 1RR
  li
    a(href="/PA37 1RT") PA37 1RT
  li
    a(href="/PA37 1RU") PA37 1RU
  li
    a(href="/PA37 1RW") PA37 1RW
  li
    a(href="/PA37 1RX") PA37 1RX
  li
    a(href="/PA37 1RY") PA37 1RY
  li
    a(href="/PA37 1RZ") PA37 1RZ
  li
    a(href="/PA37 1SA") PA37 1SA
  li
    a(href="/PA37 1SB") PA37 1SB
  li
    a(href="/PA37 1SD") PA37 1SD
  li
    a(href="/PA37 1SE") PA37 1SE
  li
    a(href="/PA37 1SF") PA37 1SF
  li
    a(href="/PA37 1SG") PA37 1SG
  li
    a(href="/PA37 1SJ") PA37 1SJ
  li
    a(href="/PA37 1SL") PA37 1SL
  li
    a(href="/PA37 1SN") PA37 1SN
  li
    a(href="/PA37 1SP") PA37 1SP
  li
    a(href="/PA37 1SQ") PA37 1SQ
  li
    a(href="/PA37 1SR") PA37 1SR
  li
    a(href="/PA37 1SS") PA37 1SS
  li
    a(href="/PA37 1ST") PA37 1ST
  li
    a(href="/PA37 1SU") PA37 1SU
  li
    a(href="/PA37 1SW") PA37 1SW
  li
    a(href="/PA37 1SX") PA37 1SX
  li
    a(href="/PA37 1SY") PA37 1SY
  li
    a(href="/PA37 1TD") PA37 1TD
  li
    a(href="/PA37 1TP") PA37 1TP
  li
    a(href="/PA37 1TX") PA37 1TX
  li
    a(href="/PA37 1WX") PA37 1WX
