ul.locations
  li
    a(href="/PA38 4BA") PA38 4BA
  li
    a(href="/PA38 4BB") PA38 4BB
  li
    a(href="/PA38 4BD") PA38 4BD
  li
    a(href="/PA38 4BE") PA38 4BE
  li
    a(href="/PA38 4BF") PA38 4BF
  li
    a(href="/PA38 4BG") PA38 4BG
  li
    a(href="/PA38 4BH") PA38 4BH
  li
    a(href="/PA38 4BJ") PA38 4BJ
  li
    a(href="/PA38 4BL") PA38 4BL
  li
    a(href="/PA38 4BN") PA38 4BN
  li
    a(href="/PA38 4BP") PA38 4BP
  li
    a(href="/PA38 4BQ") PA38 4BQ
  li
    a(href="/PA38 4BS") PA38 4BS
  li
    a(href="/PA38 4BT") PA38 4BT
  li
    a(href="/PA38 4BU") PA38 4BU
  li
    a(href="/PA38 4BW") PA38 4BW
  li
    a(href="/PA38 4BX") PA38 4BX
  li
    a(href="/PA38 4BY") PA38 4BY
  li
    a(href="/PA38 4BZ") PA38 4BZ
  li
    a(href="/PA38 4DA") PA38 4DA
  li
    a(href="/PA38 4DB") PA38 4DB
  li
    a(href="/PA38 4DD") PA38 4DD
  li
    a(href="/PA38 4DE") PA38 4DE
  li
    a(href="/PA38 4DF") PA38 4DF
  li
    a(href="/PA38 4DG") PA38 4DG
  li
    a(href="/PA38 4DH") PA38 4DH
  li
    a(href="/PA38 4DL") PA38 4DL
  li
    a(href="/PA38 4DN") PA38 4DN
  li
    a(href="/PA38 4DQ") PA38 4DQ
  li
    a(href="/PA38 4DR") PA38 4DR
  li
    a(href="/PA38 4DS") PA38 4DS
