ul.locations
  li
    a(href="/PA42 7AF") PA42 7AF
  li
    a(href="/PA42 7AH") PA42 7AH
  li
    a(href="/PA42 7AJ") PA42 7AJ
  li
    a(href="/PA42 7AL") PA42 7AL
  li
    a(href="/PA42 7AN") PA42 7AN
  li
    a(href="/PA42 7AQ") PA42 7AQ
  li
    a(href="/PA42 7AS") PA42 7AS
  li
    a(href="/PA42 7AT") PA42 7AT
  li
    a(href="/PA42 7AU") PA42 7AU
  li
    a(href="/PA42 7AW") PA42 7AW
  li
    a(href="/PA42 7AX") PA42 7AX
  li
    a(href="/PA42 7AY") PA42 7AY
  li
    a(href="/PA42 7AZ") PA42 7AZ
  li
    a(href="/PA42 7BA") PA42 7BA
  li
    a(href="/PA42 7BB") PA42 7BB
  li
    a(href="/PA42 7BD") PA42 7BD
  li
    a(href="/PA42 7BE") PA42 7BE
  li
    a(href="/PA42 7BF") PA42 7BF
  li
    a(href="/PA42 7BG") PA42 7BG
  li
    a(href="/PA42 7BH") PA42 7BH
  li
    a(href="/PA42 7BJ") PA42 7BJ
  li
    a(href="/PA42 7BL") PA42 7BL
  li
    a(href="/PA42 7BN") PA42 7BN
  li
    a(href="/PA42 7BP") PA42 7BP
  li
    a(href="/PA42 7BQ") PA42 7BQ
  li
    a(href="/PA42 7BT") PA42 7BT
  li
    a(href="/PA42 7BU") PA42 7BU
  li
    a(href="/PA42 7BW") PA42 7BW
  li
    a(href="/PA42 7BX") PA42 7BX
  li
    a(href="/PA42 7BY") PA42 7BY
  li
    a(href="/PA42 7BZ") PA42 7BZ
  li
    a(href="/PA42 7DA") PA42 7DA
  li
    a(href="/PA42 7DB") PA42 7DB
  li
    a(href="/PA42 7DD") PA42 7DD
  li
    a(href="/PA42 7DE") PA42 7DE
  li
    a(href="/PA42 7DF") PA42 7DF
  li
    a(href="/PA42 7DH") PA42 7DH
  li
    a(href="/PA42 7DJ") PA42 7DJ
  li
    a(href="/PA42 7DN") PA42 7DN
  li
    a(href="/PA42 7DP") PA42 7DP
  li
    a(href="/PA42 7DR") PA42 7DR
  li
    a(href="/PA42 7DS") PA42 7DS
  li
    a(href="/PA42 7DU") PA42 7DU
  li
    a(href="/PA42 7DW") PA42 7DW
  li
    a(href="/PA42 7DX") PA42 7DX
  li
    a(href="/PA42 7DY") PA42 7DY
  li
    a(href="/PA42 7DZ") PA42 7DZ
  li
    a(href="/PA42 7EA") PA42 7EA
  li
    a(href="/PA42 7EB") PA42 7EB
  li
    a(href="/PA42 7ED") PA42 7ED
  li
    a(href="/PA42 7EE") PA42 7EE
  li
    a(href="/PA42 7EF") PA42 7EF
  li
    a(href="/PA42 7EG") PA42 7EG
  li
    a(href="/PA42 7EH") PA42 7EH
  li
    a(href="/PA42 7EJ") PA42 7EJ
  li
    a(href="/PA42 7EL") PA42 7EL
  li
    a(href="/PA42 7EP") PA42 7EP
