ul.locations
  li
    a(href="/PA43 7HL") PA43 7HL
  li
    a(href="/PA43 7HP") PA43 7HP
  li
    a(href="/PA43 7HR") PA43 7HR
  li
    a(href="/PA43 7HS") PA43 7HS
  li
    a(href="/PA43 7HT") PA43 7HT
  li
    a(href="/PA43 7HU") PA43 7HU
  li
    a(href="/PA43 7HX") PA43 7HX
  li
    a(href="/PA43 7HY") PA43 7HY
  li
    a(href="/PA43 7HZ") PA43 7HZ
  li
    a(href="/PA43 7JA") PA43 7JA
  li
    a(href="/PA43 7JB") PA43 7JB
  li
    a(href="/PA43 7JD") PA43 7JD
  li
    a(href="/PA43 7JE") PA43 7JE
  li
    a(href="/PA43 7JF") PA43 7JF
  li
    a(href="/PA43 7JG") PA43 7JG
  li
    a(href="/PA43 7JH") PA43 7JH
  li
    a(href="/PA43 7JJ") PA43 7JJ
  li
    a(href="/PA43 7JP") PA43 7JP
  li
    a(href="/PA43 7JQ") PA43 7JQ
  li
    a(href="/PA43 7JR") PA43 7JR
  li
    a(href="/PA43 7JS") PA43 7JS
  li
    a(href="/PA43 7JW") PA43 7JW
  li
    a(href="/PA43 7JX") PA43 7JX
  li
    a(href="/PA43 7JY") PA43 7JY
  li
    a(href="/PA43 7JZ") PA43 7JZ
  li
    a(href="/PA43 7LA") PA43 7LA
  li
    a(href="/PA43 7LB") PA43 7LB
  li
    a(href="/PA43 7LD") PA43 7LD
  li
    a(href="/PA43 7LF") PA43 7LF
  li
    a(href="/PA43 7LG") PA43 7LG
  li
    a(href="/PA43 7LH") PA43 7LH
  li
    a(href="/PA43 7LL") PA43 7LL
  li
    a(href="/PA43 7LN") PA43 7LN
  li
    a(href="/PA43 7LP") PA43 7LP
  li
    a(href="/PA43 7LS") PA43 7LS
  li
    a(href="/PA43 7LW") PA43 7LW
  li
    a(href="/PA43 7WA") PA43 7WA
