ul.locations
  li
    a(href="/PA44 7NY") PA44 7NY
  li
    a(href="/PA44 7NZ") PA44 7NZ
  li
    a(href="/PA44 7PA") PA44 7PA
  li
    a(href="/PA44 7PB") PA44 7PB
  li
    a(href="/PA44 7PD") PA44 7PD
  li
    a(href="/PA44 7PF") PA44 7PF
  li
    a(href="/PA44 7PG") PA44 7PG
  li
    a(href="/PA44 7PJ") PA44 7PJ
  li
    a(href="/PA44 7PL") PA44 7PL
  li
    a(href="/PA44 7PN") PA44 7PN
  li
    a(href="/PA44 7PP") PA44 7PP
  li
    a(href="/PA44 7PQ") PA44 7PQ
  li
    a(href="/PA44 7PR") PA44 7PR
  li
    a(href="/PA44 7PS") PA44 7PS
  li
    a(href="/PA44 7PT") PA44 7PT
  li
    a(href="/PA44 7PU") PA44 7PU
  li
    a(href="/PA44 7PW") PA44 7PW
  li
    a(href="/PA44 7PX") PA44 7PX
  li
    a(href="/PA44 7PY") PA44 7PY
  li
    a(href="/PA44 7PZ") PA44 7PZ
