ul.locations
  li
    a(href="/PA45 7QL") PA45 7QL
  li
    a(href="/PA45 7QN") PA45 7QN
  li
    a(href="/PA45 7QP") PA45 7QP
  li
    a(href="/PA45 7QR") PA45 7QR
  li
    a(href="/PA45 7QS") PA45 7QS
  li
    a(href="/PA45 7QT") PA45 7QT
  li
    a(href="/PA45 7QW") PA45 7QW
