ul.locations
  li
    a(href="/PA48 7TL") PA48 7TL
  li
    a(href="/PA48 7TN") PA48 7TN
  li
    a(href="/PA48 7TP") PA48 7TP
  li
    a(href="/PA48 7TR") PA48 7TR
  li
    a(href="/PA48 7TS") PA48 7TS
  li
    a(href="/PA48 7TT") PA48 7TT
  li
    a(href="/PA48 7TU") PA48 7TU
  li
    a(href="/PA48 7TW") PA48 7TW
  li
    a(href="/PA48 7TX") PA48 7TX
  li
    a(href="/PA48 7TY") PA48 7TY
  li
    a(href="/PA48 7UA") PA48 7UA
  li
    a(href="/PA48 7UB") PA48 7UB
  li
    a(href="/PA48 7UD") PA48 7UD
  li
    a(href="/PA48 7UE") PA48 7UE
  li
    a(href="/PA48 7UF") PA48 7UF
  li
    a(href="/PA48 7UG") PA48 7UG
