ul.locations
  li
    a(href="/PA60 7XA") PA60 7XA
  li
    a(href="/PA60 7XB") PA60 7XB
  li
    a(href="/PA60 7XD") PA60 7XD
  li
    a(href="/PA60 7XF") PA60 7XF
  li
    a(href="/PA60 7XG") PA60 7XG
  li
    a(href="/PA60 7XH") PA60 7XH
  li
    a(href="/PA60 7XJ") PA60 7XJ
  li
    a(href="/PA60 7XL") PA60 7XL
  li
    a(href="/PA60 7XP") PA60 7XP
  li
    a(href="/PA60 7XQ") PA60 7XQ
  li
    a(href="/PA60 7XR") PA60 7XR
  li
    a(href="/PA60 7XS") PA60 7XS
  li
    a(href="/PA60 7XT") PA60 7XT
  li
    a(href="/PA60 7XU") PA60 7XU
  li
    a(href="/PA60 7XW") PA60 7XW
  li
    a(href="/PA60 7XX") PA60 7XX
  li
    a(href="/PA60 7XY") PA60 7XY
  li
    a(href="/PA60 7XZ") PA60 7XZ
  li
    a(href="/PA60 7YA") PA60 7YA
  li
    a(href="/PA60 7YL") PA60 7YL
