ul.locations
  li
    a(href="/PA61 7YN") PA61 7YN
  li
    a(href="/PA61 7YP") PA61 7YP
  li
    a(href="/PA61 7YR") PA61 7YR
  li
    a(href="/PA61 7YS") PA61 7YS
  li
    a(href="/PA61 7YT") PA61 7YT
  li
    a(href="/PA61 7YU") PA61 7YU
  li
    a(href="/PA61 7YW") PA61 7YW
  li
    a(href="/PA61 7YZ") PA61 7YZ
