ul.locations
  li
    a(href="/PA65 6AY") PA65 6AY
  li
    a(href="/PA65 6AZ") PA65 6AZ
  li
    a(href="/PA65 6BA") PA65 6BA
  li
    a(href="/PA65 6BB") PA65 6BB
  li
    a(href="/PA65 6BD") PA65 6BD
  li
    a(href="/PA65 6BE") PA65 6BE
  li
    a(href="/PA65 6BG") PA65 6BG
