ul.locations
  li
    a(href="/PA66 6BH") PA66 6BH
  li
    a(href="/PA66 6BL") PA66 6BL
  li
    a(href="/PA66 6BN") PA66 6BN
  li
    a(href="/PA66 6BP") PA66 6BP
  li
    a(href="/PA66 6BS") PA66 6BS
  li
    a(href="/PA66 6BT") PA66 6BT
  li
    a(href="/PA66 6BU") PA66 6BU
  li
    a(href="/PA66 6BW") PA66 6BW
