ul.locations
  li
    a(href="/PA67 6DA") PA67 6DA
  li
    a(href="/PA67 6DG") PA67 6DG
  li
    a(href="/PA67 6DH") PA67 6DH
  li
    a(href="/PA67 6DJ") PA67 6DJ
  li
    a(href="/PA67 6DL") PA67 6DL
  li
    a(href="/PA67 6DN") PA67 6DN
  li
    a(href="/PA67 6DP") PA67 6DP
  li
    a(href="/PA67 6DQ") PA67 6DQ
  li
    a(href="/PA67 6DR") PA67 6DR
  li
    a(href="/PA67 6DS") PA67 6DS
  li
    a(href="/PA67 6DT") PA67 6DT
  li
    a(href="/PA67 6DU") PA67 6DU
  li
    a(href="/PA67 6DW") PA67 6DW
  li
    a(href="/PA67 6DX") PA67 6DX
