ul.locations
  li
    a(href="/PA70 6HB") PA70 6HB
  li
    a(href="/PA70 6HD") PA70 6HD
  li
    a(href="/PA70 6HE") PA70 6HE
  li
    a(href="/PA70 6HF") PA70 6HF
  li
    a(href="/PA70 6HG") PA70 6HG
  li
    a(href="/PA70 6HQ") PA70 6HQ
