ul.locations
  li
    a(href="/PA72 6JB") PA72 6JB
  li
    a(href="/PA72 6JD") PA72 6JD
  li
    a(href="/PA72 6JE") PA72 6JE
  li
    a(href="/PA72 6JF") PA72 6JF
  li
    a(href="/PA72 6JG") PA72 6JG
  li
    a(href="/PA72 6JH") PA72 6JH
  li
    a(href="/PA72 6JJ") PA72 6JJ
  li
    a(href="/PA72 6JL") PA72 6JL
  li
    a(href="/PA72 6JN") PA72 6JN
  li
    a(href="/PA72 6JP") PA72 6JP
  li
    a(href="/PA72 6JQ") PA72 6JQ
  li
    a(href="/PA72 6JR") PA72 6JR
  li
    a(href="/PA72 6JS") PA72 6JS
  li
    a(href="/PA72 6JU") PA72 6JU
  li
    a(href="/PA72 6JW") PA72 6JW
  li
    a(href="/PA72 6JY") PA72 6JY
  li
    a(href="/PA72 6JZ") PA72 6JZ
  li
    a(href="/PA72 6LA") PA72 6LA
  li
    a(href="/PA72 6LB") PA72 6LB
