ul.locations
  li
    a(href="/PA73 6LT") PA73 6LT
  li
    a(href="/PA73 6LU") PA73 6LU
  li
    a(href="/PA73 6LX") PA73 6LX
  li
    a(href="/PA73 6LY") PA73 6LY
  li
    a(href="/PA73 6LZ") PA73 6LZ
  li
    a(href="/PA73 6NA") PA73 6NA
