ul.locations
  li
    a(href="/PA76 6SJ") PA76 6SJ
  li
    a(href="/PA76 6SL") PA76 6SL
  li
    a(href="/PA76 6SN") PA76 6SN
  li
    a(href="/PA76 6SP") PA76 6SP
  li
    a(href="/PA76 6SQ") PA76 6SQ
  li
    a(href="/PA76 6SW") PA76 6SW
