ul.locations
  li
    a(href="/PA77 6AB") PA77 6AB
  li
    a(href="/PA77 6TN") PA77 6TN
  li
    a(href="/PA77 6TP") PA77 6TP
  li
    a(href="/PA77 6TR") PA77 6TR
  li
    a(href="/PA77 6TS") PA77 6TS
  li
    a(href="/PA77 6TT") PA77 6TT
  li
    a(href="/PA77 6TW") PA77 6TW
  li
    a(href="/PA77 6TX") PA77 6TX
  li
    a(href="/PA77 6TY") PA77 6TY
  li
    a(href="/PA77 6TZ") PA77 6TZ
  li
    a(href="/PA77 6UA") PA77 6UA
  li
    a(href="/PA77 6UB") PA77 6UB
  li
    a(href="/PA77 6UD") PA77 6UD
  li
    a(href="/PA77 6UE") PA77 6UE
  li
    a(href="/PA77 6UF") PA77 6UF
  li
    a(href="/PA77 6UG") PA77 6UG
  li
    a(href="/PA77 6UH") PA77 6UH
  li
    a(href="/PA77 6UL") PA77 6UL
  li
    a(href="/PA77 6UN") PA77 6UN
  li
    a(href="/PA77 6UP") PA77 6UP
  li
    a(href="/PA77 6UQ") PA77 6UQ
  li
    a(href="/PA77 6UR") PA77 6UR
  li
    a(href="/PA77 6UT") PA77 6UT
  li
    a(href="/PA77 6UU") PA77 6UU
  li
    a(href="/PA77 6UW") PA77 6UW
  li
    a(href="/PA77 6UX") PA77 6UX
  li
    a(href="/PA77 6UY") PA77 6UY
  li
    a(href="/PA77 6UZ") PA77 6UZ
  li
    a(href="/PA77 6XA") PA77 6XA
  li
    a(href="/PA77 6XB") PA77 6XB
  li
    a(href="/PA77 6XD") PA77 6XD
  li
    a(href="/PA77 6XE") PA77 6XE
  li
    a(href="/PA77 6XF") PA77 6XF
  li
    a(href="/PA77 6XG") PA77 6XG
  li
    a(href="/PA77 6XH") PA77 6XH
  li
    a(href="/PA77 6XJ") PA77 6XJ
  li
    a(href="/PA77 6XL") PA77 6XL
  li
    a(href="/PA77 6XQ") PA77 6XQ
