ul.locations
  li
    a(href="/PA78 6SY") PA78 6SY
  li
    a(href="/PA78 6SZ") PA78 6SZ
  li
    a(href="/PA78 6TA") PA78 6TA
  li
    a(href="/PA78 6TB") PA78 6TB
  li
    a(href="/PA78 6TE") PA78 6TE
