ul.locations
  li
    a(href="/PA9 1AA") PA9 1AA
  li
    a(href="/PA9 1AB") PA9 1AB
  li
    a(href="/PA9 1AD") PA9 1AD
  li
    a(href="/PA9 1AE") PA9 1AE
  li
    a(href="/PA9 1AF") PA9 1AF
  li
    a(href="/PA9 1AG") PA9 1AG
  li
    a(href="/PA9 1AJ") PA9 1AJ
  li
    a(href="/PA9 1AL") PA9 1AL
  li
    a(href="/PA9 1AN") PA9 1AN
  li
    a(href="/PA9 1AP") PA9 1AP
  li
    a(href="/PA9 1AR") PA9 1AR
  li
    a(href="/PA9 1AS") PA9 1AS
  li
    a(href="/PA9 1AT") PA9 1AT
  li
    a(href="/PA9 1AU") PA9 1AU
  li
    a(href="/PA9 1AW") PA9 1AW
  li
    a(href="/PA9 1AX") PA9 1AX
  li
    a(href="/PA9 1AY") PA9 1AY
  li
    a(href="/PA9 1AZ") PA9 1AZ
  li
    a(href="/PA9 1BA") PA9 1BA
  li
    a(href="/PA9 1BB") PA9 1BB
  li
    a(href="/PA9 1BD") PA9 1BD
  li
    a(href="/PA9 1BE") PA9 1BE
  li
    a(href="/PA9 1BF") PA9 1BF
  li
    a(href="/PA9 1BG") PA9 1BG
  li
    a(href="/PA9 1BH") PA9 1BH
  li
    a(href="/PA9 1BJ") PA9 1BJ
  li
    a(href="/PA9 1BL") PA9 1BL
  li
    a(href="/PA9 1BN") PA9 1BN
  li
    a(href="/PA9 1BP") PA9 1BP
  li
    a(href="/PA9 1BQ") PA9 1BQ
  li
    a(href="/PA9 1BS") PA9 1BS
  li
    a(href="/PA9 1BT") PA9 1BT
  li
    a(href="/PA9 1BU") PA9 1BU
  li
    a(href="/PA9 1BW") PA9 1BW
  li
    a(href="/PA9 1BX") PA9 1BX
  li
    a(href="/PA9 1BY") PA9 1BY
  li
    a(href="/PA9 1BZ") PA9 1BZ
  li
    a(href="/PA9 1DA") PA9 1DA
  li
    a(href="/PA9 1DB") PA9 1DB
  li
    a(href="/PA9 1DD") PA9 1DD
  li
    a(href="/PA9 1DE") PA9 1DE
  li
    a(href="/PA9 1DF") PA9 1DF
  li
    a(href="/PA9 1DG") PA9 1DG
  li
    a(href="/PA9 1DH") PA9 1DH
  li
    a(href="/PA9 1DJ") PA9 1DJ
  li
    a(href="/PA9 1DL") PA9 1DL
  li
    a(href="/PA9 1DN") PA9 1DN
  li
    a(href="/PA9 1DQ") PA9 1DQ
  li
    a(href="/PA9 1DR") PA9 1DR
  li
    a(href="/PA9 1DS") PA9 1DS
  li
    a(href="/PA9 1DT") PA9 1DT
  li
    a(href="/PA9 1DU") PA9 1DU
  li
    a(href="/PA9 1DW") PA9 1DW
  li
    a(href="/PA9 1DX") PA9 1DX
  li
    a(href="/PA9 1DY") PA9 1DY
  li
    a(href="/PA9 1DZ") PA9 1DZ
  li
    a(href="/PA9 1EA") PA9 1EA
  li
    a(href="/PA9 1LA") PA9 1LA
  li
    a(href="/PA9 1WX") PA9 1WX
  li
    a(href="/PA9 1YD") PA9 1YD
  li
    a(href="/PA9 1YG") PA9 1YG
  li
    a(href="/PA9 1YH") PA9 1YH
  li
    a(href="/PA9 1YJ") PA9 1YJ
  li
    a(href="/PA9 1YN") PA9 1YN
  li
    a(href="/PA9 1YP") PA9 1YP
