ul.locations
  li
    a(href="/browse/Scotland/KY13") KY13
  li
    a(href="/browse/Scotland/PH1") PH1
  li
    a(href="/browse/Scotland/PH10") PH10
  li
    a(href="/browse/Scotland/PH11") PH11
  li
    a(href="/browse/Scotland/PH12") PH12
  li
    a(href="/browse/Scotland/PH13") PH13
  li
    a(href="/browse/Scotland/PH14") PH14
  li
    a(href="/browse/Scotland/PH15") PH15
  li
    a(href="/browse/Scotland/PH16") PH16
  li
    a(href="/browse/Scotland/PH17") PH17
  li
    a(href="/browse/Scotland/PH18") PH18
  li
    a(href="/browse/Scotland/PH2") PH2
  li
    a(href="/browse/Scotland/PH3") PH3
  li
    a(href="/browse/Scotland/PH4") PH4
  li
    a(href="/browse/Scotland/PH5") PH5
  li
    a(href="/browse/Scotland/PH6") PH6
  li
    a(href="/browse/Scotland/PH7") PH7
  li
    a(href="/browse/Scotland/PH8") PH8
  li
    a(href="/browse/Scotland/PH9") PH9
