ul.locations
  li
    a(href="/PH12 8QP") PH12 8QP
  li
    a(href="/PH12 8QQ") PH12 8QQ
  li
    a(href="/PH12 8QR") PH12 8QR
  li
    a(href="/PH12 8QS") PH12 8QS
  li
    a(href="/PH12 8QT") PH12 8QT
  li
    a(href="/PH12 8QU") PH12 8QU
  li
    a(href="/PH12 8QW") PH12 8QW
  li
    a(href="/PH12 8QX") PH12 8QX
  li
    a(href="/PH12 8QY") PH12 8QY
  li
    a(href="/PH12 8QZ") PH12 8QZ
  li
    a(href="/PH12 8RA") PH12 8RA
  li
    a(href="/PH12 8RB") PH12 8RB
  li
    a(href="/PH12 8RD") PH12 8RD
  li
    a(href="/PH12 8RE") PH12 8RE
  li
    a(href="/PH12 8RF") PH12 8RF
  li
    a(href="/PH12 8RG") PH12 8RG
  li
    a(href="/PH12 8RH") PH12 8RH
  li
    a(href="/PH12 8RJ") PH12 8RJ
  li
    a(href="/PH12 8RL") PH12 8RL
  li
    a(href="/PH12 8RN") PH12 8RN
  li
    a(href="/PH12 8RP") PH12 8RP
  li
    a(href="/PH12 8RQ") PH12 8RQ
  li
    a(href="/PH12 8RR") PH12 8RR
  li
    a(href="/PH12 8RS") PH12 8RS
  li
    a(href="/PH12 8RT") PH12 8RT
  li
    a(href="/PH12 8RU") PH12 8RU
  li
    a(href="/PH12 8RW") PH12 8RW
  li
    a(href="/PH12 8RX") PH12 8RX
  li
    a(href="/PH12 8RY") PH12 8RY
  li
    a(href="/PH12 8RZ") PH12 8RZ
  li
    a(href="/PH12 8SA") PH12 8SA
  li
    a(href="/PH12 8SB") PH12 8SB
  li
    a(href="/PH12 8SD") PH12 8SD
  li
    a(href="/PH12 8SE") PH12 8SE
  li
    a(href="/PH12 8SF") PH12 8SF
  li
    a(href="/PH12 8SG") PH12 8SG
  li
    a(href="/PH12 8SH") PH12 8SH
  li
    a(href="/PH12 8SJ") PH12 8SJ
  li
    a(href="/PH12 8SL") PH12 8SL
  li
    a(href="/PH12 8SN") PH12 8SN
  li
    a(href="/PH12 8SP") PH12 8SP
  li
    a(href="/PH12 8SQ") PH12 8SQ
  li
    a(href="/PH12 8SR") PH12 8SR
  li
    a(href="/PH12 8SS") PH12 8SS
  li
    a(href="/PH12 8ST") PH12 8ST
  li
    a(href="/PH12 8SU") PH12 8SU
  li
    a(href="/PH12 8SW") PH12 8SW
  li
    a(href="/PH12 8SX") PH12 8SX
  li
    a(href="/PH12 8SY") PH12 8SY
  li
    a(href="/PH12 8SZ") PH12 8SZ
  li
    a(href="/PH12 8TA") PH12 8TA
  li
    a(href="/PH12 8TB") PH12 8TB
  li
    a(href="/PH12 8TD") PH12 8TD
  li
    a(href="/PH12 8TE") PH12 8TE
  li
    a(href="/PH12 8TG") PH12 8TG
  li
    a(href="/PH12 8TH") PH12 8TH
  li
    a(href="/PH12 8TJ") PH12 8TJ
  li
    a(href="/PH12 8TL") PH12 8TL
  li
    a(href="/PH12 8TN") PH12 8TN
  li
    a(href="/PH12 8TP") PH12 8TP
  li
    a(href="/PH12 8TQ") PH12 8TQ
  li
    a(href="/PH12 8TR") PH12 8TR
  li
    a(href="/PH12 8TS") PH12 8TS
  li
    a(href="/PH12 8TT") PH12 8TT
  li
    a(href="/PH12 8TU") PH12 8TU
  li
    a(href="/PH12 8TW") PH12 8TW
  li
    a(href="/PH12 8TX") PH12 8TX
  li
    a(href="/PH12 8TY") PH12 8TY
  li
    a(href="/PH12 8TZ") PH12 8TZ
  li
    a(href="/PH12 8UA") PH12 8UA
  li
    a(href="/PH12 8UB") PH12 8UB
  li
    a(href="/PH12 8UE") PH12 8UE
  li
    a(href="/PH12 8UF") PH12 8UF
  li
    a(href="/PH12 8UG") PH12 8UG
  li
    a(href="/PH12 8UH") PH12 8UH
  li
    a(href="/PH12 8UJ") PH12 8UJ
  li
    a(href="/PH12 8UL") PH12 8UL
  li
    a(href="/PH12 8UN") PH12 8UN
  li
    a(href="/PH12 8UP") PH12 8UP
  li
    a(href="/PH12 8UQ") PH12 8UQ
  li
    a(href="/PH12 8UR") PH12 8UR
  li
    a(href="/PH12 8US") PH12 8US
  li
    a(href="/PH12 8UT") PH12 8UT
  li
    a(href="/PH12 8UU") PH12 8UU
  li
    a(href="/PH12 8UW") PH12 8UW
  li
    a(href="/PH12 8UX") PH12 8UX
  li
    a(href="/PH12 8UY") PH12 8UY
  li
    a(href="/PH12 8UZ") PH12 8UZ
