ul.locations
  li
    a(href="/PH17 2QA") PH17 2QA
  li
    a(href="/PH17 2QB") PH17 2QB
  li
    a(href="/PH17 2QD") PH17 2QD
  li
    a(href="/PH17 2QE") PH17 2QE
  li
    a(href="/PH17 2QF") PH17 2QF
  li
    a(href="/PH17 2QG") PH17 2QG
  li
    a(href="/PH17 2QH") PH17 2QH
  li
    a(href="/PH17 2QJ") PH17 2QJ
  li
    a(href="/PH17 2QL") PH17 2QL
  li
    a(href="/PH17 2QN") PH17 2QN
  li
    a(href="/PH17 2QP") PH17 2QP
  li
    a(href="/PH17 2QR") PH17 2QR
  li
    a(href="/PH17 2QW") PH17 2QW
