ul.locations
  li
    a(href="/PH18 5SA") PH18 5SA
  li
    a(href="/PH18 5SG") PH18 5SG
  li
    a(href="/PH18 5SH") PH18 5SH
  li
    a(href="/PH18 5SJ") PH18 5SJ
  li
    a(href="/PH18 5SL") PH18 5SL
  li
    a(href="/PH18 5SN") PH18 5SN
  li
    a(href="/PH18 5SP") PH18 5SP
  li
    a(href="/PH18 5SQ") PH18 5SQ
  li
    a(href="/PH18 5SR") PH18 5SR
  li
    a(href="/PH18 5SU") PH18 5SU
  li
    a(href="/PH18 5SW") PH18 5SW
  li
    a(href="/PH18 5SX") PH18 5SX
  li
    a(href="/PH18 5SY") PH18 5SY
  li
    a(href="/PH18 5SZ") PH18 5SZ
  li
    a(href="/PH18 5TA") PH18 5TA
  li
    a(href="/PH18 5TB") PH18 5TB
  li
    a(href="/PH18 5TD") PH18 5TD
  li
    a(href="/PH18 5TE") PH18 5TE
  li
    a(href="/PH18 5TF") PH18 5TF
  li
    a(href="/PH18 5TG") PH18 5TG
  li
    a(href="/PH18 5TH") PH18 5TH
  li
    a(href="/PH18 5TJ") PH18 5TJ
  li
    a(href="/PH18 5TL") PH18 5TL
  li
    a(href="/PH18 5TN") PH18 5TN
  li
    a(href="/PH18 5TP") PH18 5TP
  li
    a(href="/PH18 5TQ") PH18 5TQ
  li
    a(href="/PH18 5TR") PH18 5TR
  li
    a(href="/PH18 5TS") PH18 5TS
  li
    a(href="/PH18 5TT") PH18 5TT
  li
    a(href="/PH18 5TU") PH18 5TU
  li
    a(href="/PH18 5TW") PH18 5TW
  li
    a(href="/PH18 5TX") PH18 5TX
  li
    a(href="/PH18 5TY") PH18 5TY
  li
    a(href="/PH18 5TZ") PH18 5TZ
  li
    a(href="/PH18 5UA") PH18 5UA
  li
    a(href="/PH18 5UB") PH18 5UB
  li
    a(href="/PH18 5UD") PH18 5UD
  li
    a(href="/PH18 5UE") PH18 5UE
  li
    a(href="/PH18 5UF") PH18 5UF
  li
    a(href="/PH18 5UG") PH18 5UG
  li
    a(href="/PH18 5UJ") PH18 5UJ
  li
    a(href="/PH18 5UL") PH18 5UL
  li
    a(href="/PH18 5UN") PH18 5UN
  li
    a(href="/PH18 5UP") PH18 5UP
  li
    a(href="/PH18 5UQ") PH18 5UQ
  li
    a(href="/PH18 5UW") PH18 5UW
