ul.locations
  li
    a(href="/PH20 1AH") PH20 1AH
  li
    a(href="/PH20 1AJ") PH20 1AJ
  li
    a(href="/PH20 1AL") PH20 1AL
  li
    a(href="/PH20 1AN") PH20 1AN
  li
    a(href="/PH20 1AP") PH20 1AP
  li
    a(href="/PH20 1AQ") PH20 1AQ
  li
    a(href="/PH20 1AR") PH20 1AR
  li
    a(href="/PH20 1AT") PH20 1AT
  li
    a(href="/PH20 1AU") PH20 1AU
  li
    a(href="/PH20 1AY") PH20 1AY
  li
    a(href="/PH20 1AZ") PH20 1AZ
  li
    a(href="/PH20 1BA") PH20 1BA
  li
    a(href="/PH20 1BB") PH20 1BB
  li
    a(href="/PH20 1BD") PH20 1BD
  li
    a(href="/PH20 1BE") PH20 1BE
  li
    a(href="/PH20 1BG") PH20 1BG
  li
    a(href="/PH20 1BH") PH20 1BH
  li
    a(href="/PH20 1BJ") PH20 1BJ
  li
    a(href="/PH20 1BL") PH20 1BL
  li
    a(href="/PH20 1BP") PH20 1BP
  li
    a(href="/PH20 1BS") PH20 1BS
  li
    a(href="/PH20 1BT") PH20 1BT
  li
    a(href="/PH20 1BU") PH20 1BU
  li
    a(href="/PH20 1BW") PH20 1BW
  li
    a(href="/PH20 1BX") PH20 1BX
  li
    a(href="/PH20 1BY") PH20 1BY
  li
    a(href="/PH20 1BZ") PH20 1BZ
  li
    a(href="/PH20 1DA") PH20 1DA
  li
    a(href="/PH20 1DD") PH20 1DD
  li
    a(href="/PH20 1DE") PH20 1DE
  li
    a(href="/PH20 1DF") PH20 1DF
  li
    a(href="/PH20 1DG") PH20 1DG
  li
    a(href="/PH20 1DH") PH20 1DH
  li
    a(href="/PH20 1DJ") PH20 1DJ
  li
    a(href="/PH20 1DL") PH20 1DL
  li
    a(href="/PH20 1DN") PH20 1DN
  li
    a(href="/PH20 1DP") PH20 1DP
  li
    a(href="/PH20 1DQ") PH20 1DQ
  li
    a(href="/PH20 1DR") PH20 1DR
  li
    a(href="/PH20 1DS") PH20 1DS
  li
    a(href="/PH20 1DT") PH20 1DT
  li
    a(href="/PH20 1DU") PH20 1DU
  li
    a(href="/PH20 1DW") PH20 1DW
  li
    a(href="/PH20 1DX") PH20 1DX
  li
    a(href="/PH20 1DY") PH20 1DY
  li
    a(href="/PH20 1DZ") PH20 1DZ
  li
    a(href="/PH20 1EA") PH20 1EA
  li
    a(href="/PH20 1EB") PH20 1EB
  li
    a(href="/PH20 1ED") PH20 1ED
  li
    a(href="/PH20 1EE") PH20 1EE
  li
    a(href="/PH20 1EF") PH20 1EF
  li
    a(href="/PH20 1EG") PH20 1EG
  li
    a(href="/PH20 1EH") PH20 1EH
  li
    a(href="/PH20 1WX") PH20 1WX
