ul.locations
  li
    a(href="/PH23 3AA") PH23 3AA
  li
    a(href="/PH23 3AB") PH23 3AB
  li
    a(href="/PH23 3AD") PH23 3AD
  li
    a(href="/PH23 3AE") PH23 3AE
  li
    a(href="/PH23 3AF") PH23 3AF
  li
    a(href="/PH23 3AG") PH23 3AG
  li
    a(href="/PH23 3AJ") PH23 3AJ
  li
    a(href="/PH23 3AL") PH23 3AL
  li
    a(href="/PH23 3AN") PH23 3AN
  li
    a(href="/PH23 3AP") PH23 3AP
  li
    a(href="/PH23 3AQ") PH23 3AQ
  li
    a(href="/PH23 3AR") PH23 3AR
  li
    a(href="/PH23 3AS") PH23 3AS
  li
    a(href="/PH23 3AT") PH23 3AT
  li
    a(href="/PH23 3AU") PH23 3AU
  li
    a(href="/PH23 3AX") PH23 3AX
  li
    a(href="/PH23 3AY") PH23 3AY
  li
    a(href="/PH23 3AZ") PH23 3AZ
  li
    a(href="/PH23 3BA") PH23 3BA
  li
    a(href="/PH23 3BB") PH23 3BB
  li
    a(href="/PH23 3BD") PH23 3BD
  li
    a(href="/PH23 3BE") PH23 3BE
  li
    a(href="/PH23 3BG") PH23 3BG
  li
    a(href="/PH23 3BH") PH23 3BH
  li
    a(href="/PH23 3BX") PH23 3BX
  li
    a(href="/PH23 3DA") PH23 3DA
  li
    a(href="/PH23 3NA") PH23 3NA
  li
    a(href="/PH23 3NB") PH23 3NB
  li
    a(href="/PH23 3ND") PH23 3ND
