ul.locations
  li
    a(href="/PH24 3AZ") PH24 3AZ
  li
    a(href="/PH24 3BA") PH24 3BA
  li
    a(href="/PH24 3BB") PH24 3BB
  li
    a(href="/PH24 3BD") PH24 3BD
  li
    a(href="/PH24 3BE") PH24 3BE
  li
    a(href="/PH24 3BG") PH24 3BG
  li
    a(href="/PH24 3BH") PH24 3BH
  li
    a(href="/PH24 3BJ") PH24 3BJ
  li
    a(href="/PH24 3BL") PH24 3BL
  li
    a(href="/PH24 3BN") PH24 3BN
  li
    a(href="/PH24 3BP") PH24 3BP
  li
    a(href="/PH24 3BQ") PH24 3BQ
  li
    a(href="/PH24 3BS") PH24 3BS
  li
    a(href="/PH24 3BT") PH24 3BT
  li
    a(href="/PH24 3BU") PH24 3BU
  li
    a(href="/PH24 3BW") PH24 3BW
  li
    a(href="/PH24 3BX") PH24 3BX
  li
    a(href="/PH24 3BY") PH24 3BY
  li
    a(href="/PH24 3BZ") PH24 3BZ
  li
    a(href="/PH24 3JA") PH24 3JA
  li
    a(href="/PH24 3WW") PH24 3WW
  li
    a(href="/PH24 3WX") PH24 3WX
