ul.locations
  li
    a(href="/PH25 3AB") PH25 3AB
  li
    a(href="/PH25 3DA") PH25 3DA
  li
    a(href="/PH25 3DB") PH25 3DB
  li
    a(href="/PH25 3DD") PH25 3DD
  li
    a(href="/PH25 3DE") PH25 3DE
  li
    a(href="/PH25 3DF") PH25 3DF
  li
    a(href="/PH25 3DG") PH25 3DG
  li
    a(href="/PH25 3DH") PH25 3DH
  li
    a(href="/PH25 3DJ") PH25 3DJ
  li
    a(href="/PH25 3DL") PH25 3DL
  li
    a(href="/PH25 3DN") PH25 3DN
  li
    a(href="/PH25 3DP") PH25 3DP
  li
    a(href="/PH25 3DQ") PH25 3DQ
  li
    a(href="/PH25 3DR") PH25 3DR
  li
    a(href="/PH25 3DS") PH25 3DS
  li
    a(href="/PH25 3DT") PH25 3DT
  li
    a(href="/PH25 3DU") PH25 3DU
  li
    a(href="/PH25 3DW") PH25 3DW
  li
    a(href="/PH25 3DX") PH25 3DX
  li
    a(href="/PH25 3DY") PH25 3DY
  li
    a(href="/PH25 3DZ") PH25 3DZ
  li
    a(href="/PH25 3EA") PH25 3EA
  li
    a(href="/PH25 3EB") PH25 3EB
  li
    a(href="/PH25 3ED") PH25 3ED
  li
    a(href="/PH25 3EE") PH25 3EE
  li
    a(href="/PH25 3EF") PH25 3EF
  li
    a(href="/PH25 3EG") PH25 3EG
  li
    a(href="/PH25 3EH") PH25 3EH
  li
    a(href="/PH25 3EJ") PH25 3EJ
  li
    a(href="/PH25 3EL") PH25 3EL
  li
    a(href="/PH25 3EN") PH25 3EN
  li
    a(href="/PH25 3EP") PH25 3EP
  li
    a(href="/PH25 3EQ") PH25 3EQ
  li
    a(href="/PH25 3HA") PH25 3HA
  li
    a(href="/PH25 3RA") PH25 3RA
