ul.locations
  li
    a(href="/PH32 4AU") PH32 4AU
  li
    a(href="/PH32 4AY") PH32 4AY
  li
    a(href="/PH32 4AZ") PH32 4AZ
  li
    a(href="/PH32 4BA") PH32 4BA
  li
    a(href="/PH32 4BB") PH32 4BB
  li
    a(href="/PH32 4BD") PH32 4BD
  li
    a(href="/PH32 4BG") PH32 4BG
  li
    a(href="/PH32 4BH") PH32 4BH
  li
    a(href="/PH32 4BJ") PH32 4BJ
  li
    a(href="/PH32 4BL") PH32 4BL
  li
    a(href="/PH32 4BN") PH32 4BN
  li
    a(href="/PH32 4BP") PH32 4BP
  li
    a(href="/PH32 4BQ") PH32 4BQ
  li
    a(href="/PH32 4BT") PH32 4BT
  li
    a(href="/PH32 4BU") PH32 4BU
  li
    a(href="/PH32 4BW") PH32 4BW
  li
    a(href="/PH32 4BX") PH32 4BX
  li
    a(href="/PH32 4BY") PH32 4BY
  li
    a(href="/PH32 4BZ") PH32 4BZ
  li
    a(href="/PH32 4DA") PH32 4DA
  li
    a(href="/PH32 4DD") PH32 4DD
  li
    a(href="/PH32 4DE") PH32 4DE
  li
    a(href="/PH32 4DF") PH32 4DF
  li
    a(href="/PH32 4DG") PH32 4DG
  li
    a(href="/PH32 4DH") PH32 4DH
  li
    a(href="/PH32 4DJ") PH32 4DJ
  li
    a(href="/PH32 4DL") PH32 4DL
  li
    a(href="/PH32 4DN") PH32 4DN
  li
    a(href="/PH32 4DP") PH32 4DP
  li
    a(href="/PH32 4DQ") PH32 4DQ
  li
    a(href="/PH32 4DR") PH32 4DR
  li
    a(href="/PH32 4DS") PH32 4DS
  li
    a(href="/PH32 4DT") PH32 4DT
  li
    a(href="/PH32 4DU") PH32 4DU
  li
    a(href="/PH32 4DW") PH32 4DW
  li
    a(href="/PH32 4DX") PH32 4DX
  li
    a(href="/PH32 4WA") PH32 4WA
