ul.locations
  li
    a(href="/PH34 4DX") PH34 4DX
  li
    a(href="/PH34 4DY") PH34 4DY
  li
    a(href="/PH34 4DZ") PH34 4DZ
  li
    a(href="/PH34 4EA") PH34 4EA
  li
    a(href="/PH34 4EB") PH34 4EB
  li
    a(href="/PH34 4ED") PH34 4ED
  li
    a(href="/PH34 4EF") PH34 4EF
  li
    a(href="/PH34 4EG") PH34 4EG
  li
    a(href="/PH34 4EJ") PH34 4EJ
  li
    a(href="/PH34 4EL") PH34 4EL
  li
    a(href="/PH34 4EN") PH34 4EN
  li
    a(href="/PH34 4EP") PH34 4EP
  li
    a(href="/PH34 4EQ") PH34 4EQ
  li
    a(href="/PH34 4ER") PH34 4ER
  li
    a(href="/PH34 4ES") PH34 4ES
  li
    a(href="/PH34 4ET") PH34 4ET
  li
    a(href="/PH34 4EU") PH34 4EU
  li
    a(href="/PH34 4EW") PH34 4EW
  li
    a(href="/PH34 4EX") PH34 4EX
  li
    a(href="/PH34 4EY") PH34 4EY
  li
    a(href="/PH34 4EZ") PH34 4EZ
  li
    a(href="/PH34 4HA") PH34 4HA
