ul.locations
  li
    a(href="/PH35 4AA") PH35 4AA
  li
    a(href="/PH35 4HA") PH35 4HA
  li
    a(href="/PH35 4HB") PH35 4HB
  li
    a(href="/PH35 4HD") PH35 4HD
  li
    a(href="/PH35 4HG") PH35 4HG
  li
    a(href="/PH35 4HH") PH35 4HH
  li
    a(href="/PH35 4HJ") PH35 4HJ
  li
    a(href="/PH35 4HL") PH35 4HL
  li
    a(href="/PH35 4HN") PH35 4HN
  li
    a(href="/PH35 4HP") PH35 4HP
  li
    a(href="/PH35 4HR") PH35 4HR
  li
    a(href="/PH35 4HS") PH35 4HS
  li
    a(href="/PH35 4HW") PH35 4HW
  li
    a(href="/PH35 4JN") PH35 4JN
  li
    a(href="/PH35 4WW") PH35 4WW
