ul.locations
  li
    a(href="/PH38 4LZ") PH38 4LZ
  li
    a(href="/PH38 4NA") PH38 4NA
  li
    a(href="/PH38 4NB") PH38 4NB
  li
    a(href="/PH38 4ND") PH38 4ND
  li
    a(href="/PH38 4NG") PH38 4NG
