ul.locations
  li
    a(href="/PH39 4NA") PH39 4NA
  li
    a(href="/PH39 4NB") PH39 4NB
  li
    a(href="/PH39 4NG") PH39 4NG
  li
    a(href="/PH39 4NH") PH39 4NH
  li
    a(href="/PH39 4NJ") PH39 4NJ
  li
    a(href="/PH39 4NL") PH39 4NL
  li
    a(href="/PH39 4NN") PH39 4NN
  li
    a(href="/PH39 4NP") PH39 4NP
  li
    a(href="/PH39 4NR") PH39 4NR
  li
    a(href="/PH39 4NS") PH39 4NS
  li
    a(href="/PH39 4NT") PH39 4NT
  li
    a(href="/PH39 4NU") PH39 4NU
  li
    a(href="/PH39 4NW") PH39 4NW
  li
    a(href="/PH39 4NX") PH39 4NX
