ul.locations
  li
    a(href="/PH4 1AB") PH4 1AB
  li
    a(href="/PH4 1PR") PH4 1PR
  li
    a(href="/PH4 1PS") PH4 1PS
  li
    a(href="/PH4 1PT") PH4 1PT
  li
    a(href="/PH4 1PU") PH4 1PU
  li
    a(href="/PH4 1PW") PH4 1PW
  li
    a(href="/PH4 1PX") PH4 1PX
  li
    a(href="/PH4 1PY") PH4 1PY
  li
    a(href="/PH4 1PZ") PH4 1PZ
  li
    a(href="/PH4 1QA") PH4 1QA
  li
    a(href="/PH4 1QB") PH4 1QB
  li
    a(href="/PH4 1QD") PH4 1QD
  li
    a(href="/PH4 1QE") PH4 1QE
  li
    a(href="/PH4 1QF") PH4 1QF
  li
    a(href="/PH4 1QG") PH4 1QG
  li
    a(href="/PH4 1QH") PH4 1QH
  li
    a(href="/PH4 1QN") PH4 1QN
  li
    a(href="/PH4 1QP") PH4 1QP
  li
    a(href="/PH4 1QR") PH4 1QR
  li
    a(href="/PH4 1QT") PH4 1QT
  li
    a(href="/PH4 1QU") PH4 1QU
  li
    a(href="/PH4 1QW") PH4 1QW
  li
    a(href="/PH4 1QY") PH4 1QY
  li
    a(href="/PH4 1QZ") PH4 1QZ
  li
    a(href="/PH4 1RB") PH4 1RB
  li
    a(href="/PH4 1RD") PH4 1RD
  li
    a(href="/PH4 1RE") PH4 1RE
  li
    a(href="/PH4 1RF") PH4 1RF
  li
    a(href="/PH4 1RG") PH4 1RG
  li
    a(href="/PH4 1RQ") PH4 1RQ
