ul.locations
  li
    a(href="/PH40 4PA") PH40 4PA
  li
    a(href="/PH40 4PB") PH40 4PB
  li
    a(href="/PH40 4PD") PH40 4PD
  li
    a(href="/PH40 4PE") PH40 4PE
  li
    a(href="/PH40 4PF") PH40 4PF
  li
    a(href="/PH40 4PG") PH40 4PG
  li
    a(href="/PH40 4PH") PH40 4PH
  li
    a(href="/PH40 4PJ") PH40 4PJ
  li
    a(href="/PH40 4PL") PH40 4PL
  li
    a(href="/PH40 4PN") PH40 4PN
