ul.locations
  li
    a(href="/PH9 0LA") PH9 0LA
  li
    a(href="/PH9 0LB") PH9 0LB
  li
    a(href="/PH9 0LD") PH9 0LD
  li
    a(href="/PH9 0LG") PH9 0LG
  li
    a(href="/PH9 0LH") PH9 0LH
  li
    a(href="/PH9 0LJ") PH9 0LJ
  li
    a(href="/PH9 0LN") PH9 0LN
  li
    a(href="/PH9 0LP") PH9 0LP
  li
    a(href="/PH9 0LQ") PH9 0LQ
  li
    a(href="/PH9 0LR") PH9 0LR
  li
    a(href="/PH9 0LU") PH9 0LU
  li
    a(href="/PH9 0LW") PH9 0LW
  li
    a(href="/PH9 0LX") PH9 0LX
  li
    a(href="/PH9 0NA") PH9 0NA
  li
    a(href="/PH9 0NB") PH9 0NB
  li
    a(href="/PH9 0ND") PH9 0ND
  li
    a(href="/PH9 0NE") PH9 0NE
  li
    a(href="/PH9 0NF") PH9 0NF
  li
    a(href="/PH9 0NG") PH9 0NG
  li
    a(href="/PH9 0NH") PH9 0NH
  li
    a(href="/PH9 0NL") PH9 0NL
  li
    a(href="/PH9 0NN") PH9 0NN
  li
    a(href="/PH9 0NP") PH9 0NP
  li
    a(href="/PH9 0NQ") PH9 0NQ
  li
    a(href="/PH9 0NR") PH9 0NR
  li
    a(href="/PH9 0NS") PH9 0NS
  li
    a(href="/PH9 0NT") PH9 0NT
  li
    a(href="/PH9 0NU") PH9 0NU
  li
    a(href="/PH9 0NW") PH9 0NW
  li
    a(href="/PH9 0NX") PH9 0NX
  li
    a(href="/PH9 0NY") PH9 0NY
  li
    a(href="/PH9 0NZ") PH9 0NZ
  li
    a(href="/PH9 0PA") PH9 0PA
  li
    a(href="/PH9 0PB") PH9 0PB
  li
    a(href="/PH9 0PG") PH9 0PG
  li
    a(href="/PH9 0PJ") PH9 0PJ
  li
    a(href="/PH9 0PL") PH9 0PL
  li
    a(href="/PH9 0PN") PH9 0PN
  li
    a(href="/PH9 0PP") PH9 0PP
  li
    a(href="/PH9 0PU") PH9 0PU
  li
    a(href="/PH9 0PX") PH9 0PX
  li
    a(href="/PH9 0PY") PH9 0PY
  li
    a(href="/PH9 0PZ") PH9 0PZ
  li
    a(href="/PH9 0YF") PH9 0YF
  li
    a(href="/PH9 0YH") PH9 0YH
