ul.locations
  li
    a(href="/browse/Scotland/PA1") PA1
  li
    a(href="/browse/Scotland/PA10") PA10
  li
    a(href="/browse/Scotland/PA11") PA11
  li
    a(href="/browse/Scotland/PA12") PA12
  li
    a(href="/browse/Scotland/PA2") PA2
  li
    a(href="/browse/Scotland/PA3") PA3
  li
    a(href="/browse/Scotland/PA4") PA4
  li
    a(href="/browse/Scotland/PA5") PA5
  li
    a(href="/browse/Scotland/PA6") PA6
  li
    a(href="/browse/Scotland/PA7") PA7
  li
    a(href="/browse/Scotland/PA8") PA8
  li
    a(href="/browse/Scotland/PA9") PA9
