ul.locations
  li
    a(href="/browse/Scotland/G71") G71
  li
    a(href="/browse/Scotland/G72") G72
  li
    a(href="/browse/Scotland/G73") G73
  li
    a(href="/browse/Scotland/G74") G74
  li
    a(href="/browse/Scotland/ML10") ML10
  li
    a(href="/browse/Scotland/ML11") ML11
  li
    a(href="/browse/Scotland/ML12") ML12
  li
    a(href="/browse/Scotland/ML3") ML3
  li
    a(href="/browse/Scotland/ML8") ML8
  li
    a(href="/browse/Scotland/ML9") ML9
