ul.locations
  li
    a(href="/browse/Scotland/KA10") KA10
  li
    a(href="/browse/Scotland/KA19") KA19
  li
    a(href="/browse/Scotland/KA26") KA26
  li
    a(href="/browse/Scotland/KA6") KA6
  li
    a(href="/browse/Scotland/KA7") KA7
  li
    a(href="/browse/Scotland/KA8") KA8
  li
    a(href="/browse/Scotland/KA9") KA9
