ul.locations
  li
    a(href="/browse/Scotland/FK15") FK15
  li
    a(href="/browse/Scotland/FK16") FK16
  li
    a(href="/browse/Scotland/FK17") FK17
  li
    a(href="/browse/Scotland/FK18") FK18
  li
    a(href="/browse/Scotland/FK19") FK19
  li
    a(href="/browse/Scotland/FK20") FK20
  li
    a(href="/browse/Scotland/FK21") FK21
  li
    a(href="/browse/Scotland/FK7") FK7
  li
    a(href="/browse/Scotland/FK8") FK8
  li
    a(href="/browse/Scotland/FK9") FK9
  li
    a(href="/browse/Scotland/G63") G63
