ul.locations
  li
    a(href="/browse/Scotland/EH27") EH27
  li
    a(href="/browse/Scotland/EH47") EH47
  li
    a(href="/browse/Scotland/EH48") EH48
  li
    a(href="/browse/Scotland/EH49") EH49
  li
    a(href="/browse/Scotland/EH52") EH52
  li
    a(href="/browse/Scotland/EH53") EH53
  li
    a(href="/browse/Scotland/EH54") EH54
  li
    a(href="/browse/Scotland/EH55") EH55
