meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/AB10") AB10
  li
    a(href="/browse/AB11") AB11
  li
    a(href="/browse/AB12") AB12
  li
    a(href="/browse/AB13") AB13
  li
    a(href="/browse/AB14") AB14
  li
    a(href="/browse/AB15") AB15
  li
    a(href="/browse/AB16") AB16
  li
    a(href="/browse/AB21") AB21
  li
    a(href="/browse/AB22") AB22
  li
    a(href="/browse/AB23") AB23
  li
    a(href="/browse/AB25") AB25
