meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/G84") G84
  li
    a(href="/browse/PA20") PA20
  li
    a(href="/browse/PA21") PA21
  li
    a(href="/browse/PA22") PA22
  li
    a(href="/browse/PA23") PA23
  li
    a(href="/browse/PA24") PA24
  li
    a(href="/browse/PA25") PA25
  li
    a(href="/browse/PA26") PA26
  li
    a(href="/browse/PA27") PA27
  li
    a(href="/browse/PA28") PA28
  li
    a(href="/browse/PA29") PA29
  li
    a(href="/browse/PA30") PA30
  li
    a(href="/browse/PA31") PA31
  li
    a(href="/browse/PA32") PA32
  li
    a(href="/browse/PA33") PA33
  li
    a(href="/browse/PA34") PA34
  li
    a(href="/browse/PA35") PA35
  li
    a(href="/browse/PA36") PA36
  li
    a(href="/browse/PA37") PA37
  li
    a(href="/browse/PA38") PA38
  li
    a(href="/browse/PA41") PA41
  li
    a(href="/browse/PA42") PA42
  li
    a(href="/browse/PA43") PA43
  li
    a(href="/browse/PA44") PA44
  li
    a(href="/browse/PA45") PA45
  li
    a(href="/browse/PA46") PA46
  li
    a(href="/browse/PA47") PA47
  li
    a(href="/browse/PA48") PA48
  li
    a(href="/browse/PA49") PA49
  li
    a(href="/browse/PA60") PA60
  li
    a(href="/browse/PA61") PA61
  li
    a(href="/browse/PA62") PA62
  li
    a(href="/browse/PA63") PA63
  li
    a(href="/browse/PA64") PA64
  li
    a(href="/browse/PA65") PA65
  li
    a(href="/browse/PA66") PA66
  li
    a(href="/browse/PA67") PA67
  li
    a(href="/browse/PA68") PA68
  li
    a(href="/browse/PA69") PA69
  li
    a(href="/browse/PA70") PA70
  li
    a(href="/browse/PA71") PA71
  li
    a(href="/browse/PA72") PA72
  li
    a(href="/browse/PA73") PA73
  li
    a(href="/browse/PA74") PA74
  li
    a(href="/browse/PA75") PA75
  li
    a(href="/browse/PA76") PA76
  li
    a(href="/browse/PA77") PA77
  li
    a(href="/browse/PA78") PA78
