meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/B40-1NS") Doctors near B40 1NS
  li
    a(href="/B40-1NT") Doctors near B40 1NT
  li
    a(href="/B40-1PA") Doctors near B40 1PA
  li
    a(href="/B40-1PJ") Doctors near B40 1PJ
  li
    a(href="/B40-1PP") Doctors near B40 1PP
  li
    a(href="/B40-1PQ") Doctors near B40 1PQ
  li
    a(href="/B40-1PR") Doctors near B40 1PR
  li
    a(href="/B40-1PS") Doctors near B40 1PS
  li
    a(href="/B40-1PW") Doctors near B40 1PW
  li
    a(href="/B40-1QA") Doctors near B40 1QA
