meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/S36") S36
  li
    a(href="/browse/S63") S63
  li
    a(href="/browse/S70") S70
  li
    a(href="/browse/S71") S71
  li
    a(href="/browse/S72") S72
  li
    a(href="/browse/S73") S73
  li
    a(href="/browse/S74") S74
  li
    a(href="/browse/S75") S75
