meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BA1") BA1
  li
    a(href="/browse/BA2") BA2
  li
    a(href="/browse/BS31") BS31
  li
    a(href="/browse/BS39") BS39
  li
    a(href="/browse/BS40") BS40
