meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B1") B1
  li
    a(href="/browse/B10") B10
  li
    a(href="/browse/B11") B11
  li
    a(href="/browse/B12") B12
  li
    a(href="/browse/B13") B13
  li
    a(href="/browse/B14") B14
  li
    a(href="/browse/B15") B15
  li
    a(href="/browse/B16") B16
  li
    a(href="/browse/B17") B17
  li
    a(href="/browse/B18") B18
  li
    a(href="/browse/B19") B19
  li
    a(href="/browse/B2") B2
  li
    a(href="/browse/B20") B20
  li
    a(href="/browse/B21") B21
  li
    a(href="/browse/B23") B23
  li
    a(href="/browse/B24") B24
  li
    a(href="/browse/B25") B25
  li
    a(href="/browse/B26") B26
  li
    a(href="/browse/B27") B27
  li
    a(href="/browse/B28") B28
  li
    a(href="/browse/B29") B29
  li
    a(href="/browse/B3") B3
  li
    a(href="/browse/B30") B30
  li
    a(href="/browse/B31") B31
  li
    a(href="/browse/B32") B32
  li
    a(href="/browse/B33") B33
  li
    a(href="/browse/B34") B34
  li
    a(href="/browse/B35") B35
  li
    a(href="/browse/B38") B38
  li
    a(href="/browse/B4") B4
  li
    a(href="/browse/B42") B42
  li
    a(href="/browse/B44") B44
  li
    a(href="/browse/B45") B45
  li
    a(href="/browse/B5") B5
  li
    a(href="/browse/B6") B6
  li
    a(href="/browse/B7") B7
  li
    a(href="/browse/B72") B72
  li
    a(href="/browse/B73") B73
  li
    a(href="/browse/B74") B74
  li
    a(href="/browse/B75") B75
  li
    a(href="/browse/B76") B76
  li
    a(href="/browse/B8") B8
  li
    a(href="/browse/B9") B9
