meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BL1") BL1
  li
    a(href="/browse/BL2") BL2
  li
    a(href="/browse/BL3") BL3
  li
    a(href="/browse/BL4") BL4
  li
    a(href="/browse/BL5") BL5
  li
    a(href="/browse/BL6") BL6
  li
    a(href="/browse/BL7") BL7
