meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BH1") BH1
  li
    a(href="/browse/BH10") BH10
  li
    a(href="/browse/BH11") BH11
  li
    a(href="/browse/BH2") BH2
  li
    a(href="/browse/BH3") BH3
  li
    a(href="/browse/BH4") BH4
  li
    a(href="/browse/BH5") BH5
  li
    a(href="/browse/BH6") BH6
  li
    a(href="/browse/BH7") BH7
  li
    a(href="/browse/BH8") BH8
  li
    a(href="/browse/BH9") BH9
