meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BD1") BD1
  li
    a(href="/browse/BD10") BD10
  li
    a(href="/browse/BD12") BD12
  li
    a(href="/browse/BD13") BD13
  li
    a(href="/browse/BD14") BD14
  li
    a(href="/browse/BD15") BD15
  li
    a(href="/browse/BD16") BD16
  li
    a(href="/browse/BD17") BD17
  li
    a(href="/browse/BD18") BD18
  li
    a(href="/browse/BD2") BD2
  li
    a(href="/browse/BD20") BD20
  li
    a(href="/browse/BD21") BD21
  li
    a(href="/browse/BD22") BD22
  li
    a(href="/browse/BD3") BD3
  li
    a(href="/browse/BD4") BD4
  li
    a(href="/browse/BD5") BD5
  li
    a(href="/browse/BD6") BD6
  li
    a(href="/browse/BD7") BD7
  li
    a(href="/browse/BD8") BD8
  li
    a(href="/browse/BD9") BD9
  li
    a(href="/browse/LS29") LS29
