meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CF31") CF31
  li
    a(href="/browse/CF32") CF32
  li
    a(href="/browse/CF33") CF33
  li
    a(href="/browse/CF34") CF34
  li
    a(href="/browse/CF35") CF35
  li
    a(href="/browse/CF36") CF36
