meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/HP10") HP10
  li
    a(href="/browse/HP11") HP11
  li
    a(href="/browse/HP12") HP12
  li
    a(href="/browse/HP13") HP13
  li
    a(href="/browse/HP14") HP14
  li
    a(href="/browse/HP15") HP15
  li
    a(href="/browse/HP16") HP16
  li
    a(href="/browse/HP17") HP17
  li
    a(href="/browse/HP18") HP18
  li
    a(href="/browse/HP19") HP19
  li
    a(href="/browse/HP20") HP20
  li
    a(href="/browse/HP21") HP21
  li
    a(href="/browse/HP22") HP22
  li
    a(href="/browse/HP27") HP27
  li
    a(href="/browse/HP5") HP5
  li
    a(href="/browse/HP6") HP6
  li
    a(href="/browse/HP7") HP7
  li
    a(href="/browse/HP8") HP8
  li
    a(href="/browse/HP9") HP9
  li
    a(href="/browse/SL0") SL0
  li
    a(href="/browse/SL7") SL7
  li
    a(href="/browse/SL8") SL8
  li
    a(href="/browse/SL9") SL9
  li
    a(href="/browse/UB9") UB9
