meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BL0") BL0
  li
    a(href="/browse/BL8") BL8
  li
    a(href="/browse/BL9") BL9
  li
    a(href="/browse/M25") M25
  li
    a(href="/browse/M26") M26
  li
    a(href="/browse/M45") M45
