meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/CA18-1RD") Doctors near CA18 1RD
  li
    a(href="/CA18-1RF") Doctors near CA18 1RF
  li
    a(href="/CA18-1RG") Doctors near CA18 1RG
  li
    a(href="/CA18-1RJ") Doctors near CA18 1RJ
  li
    a(href="/CA18-1RL") Doctors near CA18 1RL
  li
    a(href="/CA18-1RN") Doctors near CA18 1RN
  li
    a(href="/CA18-1RQ") Doctors near CA18 1RQ
  li
    a(href="/CA18-1RR") Doctors near CA18 1RR
  li
    a(href="/CA18-1RS") Doctors near CA18 1RS
  li
    a(href="/CA18-1RT") Doctors near CA18 1RT
  li
    a(href="/CA18-1RW") Doctors near CA18 1RW
  li
    a(href="/CA18-1SD") Doctors near CA18 1SD
  li
    a(href="/CA18-1SE") Doctors near CA18 1SE
  li
    a(href="/CA18-1SF") Doctors near CA18 1SF
  li
    a(href="/CA18-1SG") Doctors near CA18 1SG
  li
    a(href="/CA18-1SH") Doctors near CA18 1SH
  li
    a(href="/CA18-1SJ") Doctors near CA18 1SJ
  li
    a(href="/CA18-1SL") Doctors near CA18 1SL
  li
    a(href="/CA18-1SN") Doctors near CA18 1SN
  li
    a(href="/CA18-1SP") Doctors near CA18 1SP
  li
    a(href="/CA18-1SQ") Doctors near CA18 1SQ
  li
    a(href="/CA18-1SR") Doctors near CA18 1SR
  li
    a(href="/CA18-1ST") Doctors near CA18 1ST
  li
    a(href="/CA18-1SU") Doctors near CA18 1SU
  li
    a(href="/CA18-1SW") Doctors near CA18 1SW
