meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/CA21-2XA") Doctors near CA21 2XA
  li
    a(href="/CA21-2XB") Doctors near CA21 2XB
  li
    a(href="/CA21-2XD") Doctors near CA21 2XD
  li
    a(href="/CA21-2XE") Doctors near CA21 2XE
  li
    a(href="/CA21-2XF") Doctors near CA21 2XF
  li
    a(href="/CA21-2XG") Doctors near CA21 2XG
  li
    a(href="/CA21-2XH") Doctors near CA21 2XH
  li
    a(href="/CA21-2XJ") Doctors near CA21 2XJ
  li
    a(href="/CA21-2XL") Doctors near CA21 2XL
  li
    a(href="/CA21-2XN") Doctors near CA21 2XN
  li
    a(href="/CA21-2XP") Doctors near CA21 2XP
  li
    a(href="/CA21-2XQ") Doctors near CA21 2XQ
  li
    a(href="/CA21-2XR") Doctors near CA21 2XR
  li
    a(href="/CA21-2XS") Doctors near CA21 2XS
  li
    a(href="/CA21-2XT") Doctors near CA21 2XT
  li
    a(href="/CA21-2XU") Doctors near CA21 2XU
  li
    a(href="/CA21-2XW") Doctors near CA21 2XW
  li
    a(href="/CA21-2XX") Doctors near CA21 2XX
  li
    a(href="/CA21-2XY") Doctors near CA21 2XY
  li
    a(href="/CA21-2XZ") Doctors near CA21 2XZ
  li
    a(href="/CA21-2YA") Doctors near CA21 2YA
  li
    a(href="/CA21-2YB") Doctors near CA21 2YB
  li
    a(href="/CA21-2YD") Doctors near CA21 2YD
  li
    a(href="/CA21-2YE") Doctors near CA21 2YE
  li
    a(href="/CA21-2YF") Doctors near CA21 2YF
  li
    a(href="/CA21-2YG") Doctors near CA21 2YG
  li
    a(href="/CA21-2YH") Doctors near CA21 2YH
  li
    a(href="/CA21-2YJ") Doctors near CA21 2YJ
  li
    a(href="/CA21-2YL") Doctors near CA21 2YL
  li
    a(href="/CA21-2YN") Doctors near CA21 2YN
  li
    a(href="/CA21-2YP") Doctors near CA21 2YP
  li
    a(href="/CA21-2YS") Doctors near CA21 2YS
  li
    a(href="/CA21-2YT") Doctors near CA21 2YT
  li
    a(href="/CA21-2YU") Doctors near CA21 2YU
  li
    a(href="/CA21-2YW") Doctors near CA21 2YW
  li
    a(href="/CA21-2YX") Doctors near CA21 2YX
  li
    a(href="/CA21-2YY") Doctors near CA21 2YY
