meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/CA27-0AA") Doctors near CA27 0AA
  li
    a(href="/CA27-0AB") Doctors near CA27 0AB
  li
    a(href="/CA27-0AD") Doctors near CA27 0AD
  li
    a(href="/CA27-0AE") Doctors near CA27 0AE
  li
    a(href="/CA27-0AF") Doctors near CA27 0AF
  li
    a(href="/CA27-0AL") Doctors near CA27 0AL
  li
    a(href="/CA27-0AN") Doctors near CA27 0AN
  li
    a(href="/CA27-0AP") Doctors near CA27 0AP
  li
    a(href="/CA27-0AQ") Doctors near CA27 0AQ
  li
    a(href="/CA27-0AR") Doctors near CA27 0AR
  li
    a(href="/CA27-0AS") Doctors near CA27 0AS
  li
    a(href="/CA27-0AY") Doctors near CA27 0AY
  li
    a(href="/CA27-0BB") Doctors near CA27 0BB
  li
    a(href="/CA27-0BD") Doctors near CA27 0BD
  li
    a(href="/CA27-0BE") Doctors near CA27 0BE
  li
    a(href="/CA27-0BG") Doctors near CA27 0BG
  li
    a(href="/CA27-0BH") Doctors near CA27 0BH
  li
    a(href="/CA27-0BJ") Doctors near CA27 0BJ
  li
    a(href="/CA27-0BL") Doctors near CA27 0BL
  li
    a(href="/CA27-0BN") Doctors near CA27 0BN
  li
    a(href="/CA27-0BP") Doctors near CA27 0BP
  li
    a(href="/CA27-0BS") Doctors near CA27 0BS
  li
    a(href="/CA27-0BW") Doctors near CA27 0BW
  li
    a(href="/CA27-0BX") Doctors near CA27 0BX
  li
    a(href="/CA27-0BY") Doctors near CA27 0BY
  li
    a(href="/CA27-0BZ") Doctors near CA27 0BZ
  li
    a(href="/CA27-0DE") Doctors near CA27 0DE
  li
    a(href="/CA27-0DG") Doctors near CA27 0DG
  li
    a(href="/CA27-0DN") Doctors near CA27 0DN
  li
    a(href="/CA27-0DR") Doctors near CA27 0DR
  li
    a(href="/CA27-0DS") Doctors near CA27 0DS
  li
    a(href="/CA27-0DU") Doctors near CA27 0DU
  li
    a(href="/CA27-0DY") Doctors near CA27 0DY
  li
    a(href="/CA27-0ED") Doctors near CA27 0ED
  li
    a(href="/CA27-0EE") Doctors near CA27 0EE
  li
    a(href="/CA27-0EF") Doctors near CA27 0EF
  li
    a(href="/CA27-0EG") Doctors near CA27 0EG
  li
    a(href="/CA27-0EJ") Doctors near CA27 0EJ
  li
    a(href="/CA27-0EL") Doctors near CA27 0EL
  li
    a(href="/CA27-0EN") Doctors near CA27 0EN
  li
    a(href="/CA27-0EP") Doctors near CA27 0EP
  li
    a(href="/CA27-0EQ") Doctors near CA27 0EQ
  li
    a(href="/CA27-0ES") Doctors near CA27 0ES
  li
    a(href="/CA27-0ET") Doctors near CA27 0ET
  li
    a(href="/CA27-0EU") Doctors near CA27 0EU
  li
    a(href="/CA27-0EW") Doctors near CA27 0EW
  li
    a(href="/CA27-0EY") Doctors near CA27 0EY
  li
    a(href="/CA27-0EZ") Doctors near CA27 0EZ
  li
    a(href="/CA27-0HA") Doctors near CA27 0HA
  li
    a(href="/CA27-0HB") Doctors near CA27 0HB
  li
    a(href="/CA27-0HD") Doctors near CA27 0HD
