meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CF81") CF81
  li
    a(href="/browse/CF82") CF82
  li
    a(href="/browse/CF83") CF83
  li
    a(href="/browse/NP11") NP11
  li
    a(href="/browse/NP12") NP12
  li
    a(href="/browse/NP24") NP24
