meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/HD6") HD6
  li
    a(href="/browse/HX1") HX1
  li
    a(href="/browse/HX2") HX2
  li
    a(href="/browse/HX3") HX3
  li
    a(href="/browse/HX4") HX4
  li
    a(href="/browse/HX5") HX5
  li
    a(href="/browse/HX6") HX6
  li
    a(href="/browse/HX7") HX7
  li
    a(href="/browse/OL14") OL14
