meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CF10") CF10
  li
    a(href="/browse/CF11") CF11
  li
    a(href="/browse/CF14") CF14
  li
    a(href="/browse/CF15") CF15
  li
    a(href="/browse/CF23") CF23
  li
    a(href="/browse/CF24") CF24
  li
    a(href="/browse/CF3") CF3
  li
    a(href="/browse/CF5") CF5
