meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SA14") SA14
  li
    a(href="/browse/SA15") SA15
  li
    a(href="/browse/SA16") SA16
  li
    a(href="/browse/SA17") SA17
  li
    a(href="/browse/SA18") SA18
  li
    a(href="/browse/SA19") SA19
  li
    a(href="/browse/SA20") SA20
  li
    a(href="/browse/SA31") SA31
  li
    a(href="/browse/SA32") SA32
  li
    a(href="/browse/SA33") SA33
  li
    a(href="/browse/SA34") SA34
  li
    a(href="/browse/SA38") SA38
  li
    a(href="/browse/SA39") SA39
