meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LU5") LU5
  li
    a(href="/browse/LU6") LU6
  li
    a(href="/browse/LU7") LU7
  li
    a(href="/browse/MK45") MK45
  li
    a(href="/browse/SG15") SG15
  li
    a(href="/browse/SG16") SG16
  li
    a(href="/browse/SG17") SG17
  li
    a(href="/browse/SG18") SG18
  li
    a(href="/browse/SG19") SG19
