meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SA40") SA40
  li
    a(href="/browse/SA43") SA43
  li
    a(href="/browse/SA44") SA44
  li
    a(href="/browse/SA45") SA45
  li
    a(href="/browse/SA46") SA46
  li
    a(href="/browse/SA47") SA47
  li
    a(href="/browse/SA48") SA48
  li
    a(href="/browse/SY23") SY23
  li
    a(href="/browse/SY24") SY24
  li
    a(href="/browse/SY25") SY25
