meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CH1") CH1
  li
    a(href="/browse/CH2") CH2
  li
    a(href="/browse/CH3") CH3
  li
    a(href="/browse/CH64") CH64
  li
    a(href="/browse/CH65") CH65
  li
    a(href="/browse/CH66") CH66
  li
    a(href="/browse/CW6") CW6
  li
    a(href="/browse/CW7") CW7
  li
    a(href="/browse/CW8") CW8
  li
    a(href="/browse/CW9") CW9
  li
    a(href="/browse/SY14") SY14
  li
    a(href="/browse/WA6") WA6
