meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CW1") CW1
  li
    a(href="/browse/CW10") CW10
  li
    a(href="/browse/CW11") CW11
  li
    a(href="/browse/CW12") CW12
  li
    a(href="/browse/CW2") CW2
  li
    a(href="/browse/CW3") CW3
  li
    a(href="/browse/CW4") CW4
  li
    a(href="/browse/CW5") CW5
  li
    a(href="/browse/SK10") SK10
  li
    a(href="/browse/SK11") SK11
  li
    a(href="/browse/SK12") SK12
  li
    a(href="/browse/SK9") SK9
  li
    a(href="/browse/WA16") WA16
