meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/HU1") HU1
  li
    a(href="/browse/HU2") HU2
  li
    a(href="/browse/HU3") HU3
  li
    a(href="/browse/HU4") HU4
  li
    a(href="/browse/HU5") HU5
  li
    a(href="/browse/HU6") HU6
  li
    a(href="/browse/HU7") HU7
  li
    a(href="/browse/HU8") HU8
  li
    a(href="/browse/HU9") HU9
