meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EC2M") EC2M
  li
    a(href="/browse/EC2N") EC2N
  li
    a(href="/browse/EC2R") EC2R
  li
    a(href="/browse/EC2V") EC2V
  li
    a(href="/browse/EC2Y") EC2Y
  li
    a(href="/browse/EC3A") EC3A
  li
    a(href="/browse/EC3M") EC3M
  li
    a(href="/browse/EC3N") EC3N
  li
    a(href="/browse/EC3R") EC3R
  li
    a(href="/browse/EC3V") EC3V
  li
    a(href="/browse/EC4A") EC4A
  li
    a(href="/browse/EC4M") EC4M
  li
    a(href="/browse/EC4N") EC4N
  li
    a(href="/browse/EC4R") EC4R
  li
    a(href="/browse/EC4V") EC4V
  li
    a(href="/browse/EC4Y") EC4Y
