meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BS1") BS1
  li
    a(href="/browse/BS10") BS10
  li
    a(href="/browse/BS11") BS11
  li
    a(href="/browse/BS13") BS13
  li
    a(href="/browse/BS14") BS14
  li
    a(href="/browse/BS2") BS2
  li
    a(href="/browse/BS3") BS3
  li
    a(href="/browse/BS4") BS4
  li
    a(href="/browse/BS5") BS5
  li
    a(href="/browse/BS6") BS6
  li
    a(href="/browse/BS7") BS7
  li
    a(href="/browse/BS8") BS8
  li
    a(href="/browse/BS9") BS9
  li
    a(href="/browse/BS99") BS99
