meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/FK10") FK10
  li
    a(href="/browse/FK11") FK11
  li
    a(href="/browse/FK12") FK12
  li
    a(href="/browse/FK13") FK13
  li
    a(href="/browse/FK14") FK14
