meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LL22") LL22
  li
    a(href="/browse/LL24") LL24
  li
    a(href="/browse/LL25") LL25
  li
    a(href="/browse/LL26") LL26
  li
    a(href="/browse/LL27") LL27
  li
    a(href="/browse/LL28") LL28
  li
    a(href="/browse/LL29") LL29
  li
    a(href="/browse/LL30") LL30
  li
    a(href="/browse/LL31") LL31
  li
    a(href="/browse/LL32") LL32
  li
    a(href="/browse/LL33") LL33
  li
    a(href="/browse/LL34") LL34
