meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/HR1") HR1
  li
    a(href="/browse/HR2") HR2
  li
    a(href="/browse/HR3") HR3
  li
    a(href="/browse/HR4") HR4
  li
    a(href="/browse/HR5") HR5
  li
    a(href="/browse/HR6") HR6
  li
    a(href="/browse/HR7") HR7
  li
    a(href="/browse/HR8") HR8
  li
    a(href="/browse/HR9") HR9
  li
    a(href="/browse/WR13") WR13
