meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DH1") DH1
  li
    a(href="/browse/DH2") DH2
  li
    a(href="/browse/DH3") DH3
  li
    a(href="/browse/DH6") DH6
  li
    a(href="/browse/DH7") DH7
  li
    a(href="/browse/DH8") DH8
  li
    a(href="/browse/DH9") DH9
  li
    a(href="/browse/DL12") DL12
  li
    a(href="/browse/DL13") DL13
  li
    a(href="/browse/DL14") DL14
  li
    a(href="/browse/DL15") DL15
  li
    a(href="/browse/DL16") DL16
  li
    a(href="/browse/DL17") DL17
  li
    a(href="/browse/DL4") DL4
  li
    a(href="/browse/DL5") DL5
  li
    a(href="/browse/SR7") SR7
  li
    a(href="/browse/SR8") SR8
  li
    a(href="/browse/TS21") TS21
  li
    a(href="/browse/TS27") TS27
  li
    a(href="/browse/TS28") TS28
  li
    a(href="/browse/TS29") TS29
