meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CV1") CV1
  li
    a(href="/browse/CV2") CV2
  li
    a(href="/browse/CV3") CV3
  li
    a(href="/browse/CV4") CV4
  li
    a(href="/browse/CV5") CV5
  li
    a(href="/browse/CV6") CV6
  li
    a(href="/browse/CV7") CV7
