meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BT62") BT62
  li
    a(href="/browse/BT63") BT63
  li
    a(href="/browse/BT64") BT64
  li
    a(href="/browse/BT65") BT65
  li
    a(href="/browse/BT66") BT66
  li
    a(href="/browse/BT67") BT67
