meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CA1") CA1
  li
    a(href="/browse/CA10") CA10
  li
    a(href="/browse/CA11") CA11
  li
    a(href="/browse/CA12") CA12
  li
    a(href="/browse/CA13") CA13
  li
    a(href="/browse/CA14") CA14
  li
    a(href="/browse/CA15") CA15
  li
    a(href="/browse/CA16") CA16
  li
    a(href="/browse/CA17") CA17
  li
    a(href="/browse/CA18") CA18
  li
    a(href="/browse/CA19") CA19
  li
    a(href="/browse/CA2") CA2
  li
    a(href="/browse/CA20") CA20
  li
    a(href="/browse/CA21") CA21
  li
    a(href="/browse/CA22") CA22
  li
    a(href="/browse/CA23") CA23
  li
    a(href="/browse/CA24") CA24
  li
    a(href="/browse/CA25") CA25
  li
    a(href="/browse/CA26") CA26
  li
    a(href="/browse/CA27") CA27
  li
    a(href="/browse/CA28") CA28
  li
    a(href="/browse/CA3") CA3
  li
    a(href="/browse/CA4") CA4
  li
    a(href="/browse/CA5") CA5
  li
    a(href="/browse/CA6") CA6
  li
    a(href="/browse/CA7") CA7
  li
    a(href="/browse/CA8") CA8
  li
    a(href="/browse/CA9") CA9
  li
    a(href="/browse/LA10") LA10
  li
    a(href="/browse/LA11") LA11
  li
    a(href="/browse/LA12") LA12
  li
    a(href="/browse/LA13") LA13
  li
    a(href="/browse/LA14") LA14
  li
    a(href="/browse/LA15") LA15
  li
    a(href="/browse/LA16") LA16
  li
    a(href="/browse/LA17") LA17
  li
    a(href="/browse/LA18") LA18
  li
    a(href="/browse/LA19") LA19
  li
    a(href="/browse/LA20") LA20
  li
    a(href="/browse/LA21") LA21
  li
    a(href="/browse/LA22") LA22
  li
    a(href="/browse/LA23") LA23
  li
    a(href="/browse/LA7") LA7
  li
    a(href="/browse/LA8") LA8
  li
    a(href="/browse/LA9") LA9
