meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LL15") LL15
  li
    a(href="/browse/LL16") LL16
  li
    a(href="/browse/LL17") LL17
  li
    a(href="/browse/LL18") LL18
  li
    a(href="/browse/LL19") LL19
  li
    a(href="/browse/LL20") LL20
  li
    a(href="/browse/LL21") LL21
