meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DE1") DE1
  li
    a(href="/browse/DE21") DE21
  li
    a(href="/browse/DE22") DE22
  li
    a(href="/browse/DE23") DE23
  li
    a(href="/browse/DE24") DE24
  li
    a(href="/browse/DE3") DE3
