meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EX1") EX1
  li
    a(href="/browse/EX10") EX10
  li
    a(href="/browse/EX11") EX11
  li
    a(href="/browse/EX12") EX12
  li
    a(href="/browse/EX13") EX13
  li
    a(href="/browse/EX14") EX14
  li
    a(href="/browse/EX15") EX15
  li
    a(href="/browse/EX16") EX16
  li
    a(href="/browse/EX17") EX17
  li
    a(href="/browse/EX18") EX18
  li
    a(href="/browse/EX19") EX19
  li
    a(href="/browse/EX2") EX2
  li
    a(href="/browse/EX20") EX20
  li
    a(href="/browse/EX21") EX21
  li
    a(href="/browse/EX22") EX22
  li
    a(href="/browse/EX24") EX24
  li
    a(href="/browse/EX3") EX3
  li
    a(href="/browse/EX31") EX31
  li
    a(href="/browse/EX32") EX32
  li
    a(href="/browse/EX33") EX33
  li
    a(href="/browse/EX34") EX34
  li
    a(href="/browse/EX35") EX35
  li
    a(href="/browse/EX36") EX36
  li
    a(href="/browse/EX37") EX37
  li
    a(href="/browse/EX38") EX38
  li
    a(href="/browse/EX39") EX39
  li
    a(href="/browse/EX4") EX4
  li
    a(href="/browse/EX5") EX5
  li
    a(href="/browse/EX6") EX6
  li
    a(href="/browse/EX7") EX7
  li
    a(href="/browse/EX8") EX8
  li
    a(href="/browse/EX9") EX9
  li
    a(href="/browse/PL16") PL16
  li
    a(href="/browse/PL19") PL19
  li
    a(href="/browse/PL20") PL20
  li
    a(href="/browse/PL21") PL21
  li
    a(href="/browse/PL8") PL8
  li
    a(href="/browse/TQ10") TQ10
  li
    a(href="/browse/TQ11") TQ11
  li
    a(href="/browse/TQ12") TQ12
  li
    a(href="/browse/TQ13") TQ13
  li
    a(href="/browse/TQ14") TQ14
  li
    a(href="/browse/TQ6") TQ6
  li
    a(href="/browse/TQ7") TQ7
  li
    a(href="/browse/TQ8") TQ8
  li
    a(href="/browse/TQ9") TQ9
