meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DN1") DN1
  li
    a(href="/browse/DN11") DN11
  li
    a(href="/browse/DN12") DN12
  li
    a(href="/browse/DN2") DN2
  li
    a(href="/browse/DN3") DN3
  li
    a(href="/browse/DN4") DN4
  li
    a(href="/browse/DN5") DN5
  li
    a(href="/browse/DN6") DN6
  li
    a(href="/browse/DN7") DN7
  li
    a(href="/browse/DN8") DN8
