meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BH16") BH16
  li
    a(href="/browse/BH19") BH19
  li
    a(href="/browse/BH20") BH20
  li
    a(href="/browse/BH21") BH21
  li
    a(href="/browse/BH22") BH22
  li
    a(href="/browse/BH23") BH23
  li
    a(href="/browse/BH31") BH31
  li
    a(href="/browse/DT1") DT1
  li
    a(href="/browse/DT10") DT10
  li
    a(href="/browse/DT11") DT11
  li
    a(href="/browse/DT2") DT2
  li
    a(href="/browse/DT3") DT3
  li
    a(href="/browse/DT4") DT4
  li
    a(href="/browse/DT5") DT5
  li
    a(href="/browse/DT6") DT6
  li
    a(href="/browse/DT7") DT7
  li
    a(href="/browse/DT8") DT8
  li
    a(href="/browse/DT9") DT9
  li
    a(href="/browse/SP7") SP7
  li
    a(href="/browse/SP8") SP8
