meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B62") B62
  li
    a(href="/browse/B63") B63
  li
    a(href="/browse/DY1") DY1
  li
    a(href="/browse/DY2") DY2
  li
    a(href="/browse/DY3") DY3
  li
    a(href="/browse/DY5") DY5
  li
    a(href="/browse/DY6") DY6
  li
    a(href="/browse/DY8") DY8
  li
    a(href="/browse/DY9") DY9
