meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DG1") DG1
  li
    a(href="/browse/DG10") DG10
  li
    a(href="/browse/DG11") DG11
  li
    a(href="/browse/DG12") DG12
  li
    a(href="/browse/DG13") DG13
  li
    a(href="/browse/DG14") DG14
  li
    a(href="/browse/DG16") DG16
  li
    a(href="/browse/DG2") DG2
  li
    a(href="/browse/DG3") DG3
  li
    a(href="/browse/DG4") DG4
  li
    a(href="/browse/DG5") DG5
  li
    a(href="/browse/DG6") DG6
  li
    a(href="/browse/DG7") DG7
  li
    a(href="/browse/DG8") DG8
  li
    a(href="/browse/DG9") DG9
