meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DD1") DD1
  li
    a(href="/browse/DD2") DD2
  li
    a(href="/browse/DD3") DD3
  li
    a(href="/browse/DD4") DD4
  li
    a(href="/browse/DD5") DD5
