meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BT68") BT68
  li
    a(href="/browse/BT69") BT69
  li
    a(href="/browse/BT70") BT70
  li
    a(href="/browse/BT71") BT71
  li
    a(href="/browse/BT75") BT75
  li
    a(href="/browse/BT76") BT76
  li
    a(href="/browse/BT77") BT77
