meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BN10") BN10
  li
    a(href="/browse/BN20") BN20
  li
    a(href="/browse/BN21") BN21
  li
    a(href="/browse/BN22") BN22
  li
    a(href="/browse/BN23") BN23
  li
    a(href="/browse/BN24") BN24
  li
    a(href="/browse/BN25") BN25
  li
    a(href="/browse/BN26") BN26
  li
    a(href="/browse/BN27") BN27
  li
    a(href="/browse/BN7") BN7
  li
    a(href="/browse/BN8") BN8
  li
    a(href="/browse/BN9") BN9
  li
    a(href="/browse/RH18") RH18
  li
    a(href="/browse/TN19") TN19
  li
    a(href="/browse/TN20") TN20
  li
    a(href="/browse/TN21") TN21
  li
    a(href="/browse/TN22") TN22
  li
    a(href="/browse/TN31") TN31
  li
    a(href="/browse/TN32") TN32
  li
    a(href="/browse/TN33") TN33
  li
    a(href="/browse/TN34") TN34
  li
    a(href="/browse/TN35") TN35
  li
    a(href="/browse/TN36") TN36
  li
    a(href="/browse/TN37") TN37
  li
    a(href="/browse/TN38") TN38
  li
    a(href="/browse/TN39") TN39
  li
    a(href="/browse/TN40") TN40
  li
    a(href="/browse/TN5") TN5
  li
    a(href="/browse/TN6") TN6
  li
    a(href="/browse/TN7") TN7
