meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DN14") DN14
  li
    a(href="/browse/HU10") HU10
  li
    a(href="/browse/HU11") HU11
  li
    a(href="/browse/HU12") HU12
  li
    a(href="/browse/HU13") HU13
  li
    a(href="/browse/HU14") HU14
  li
    a(href="/browse/HU15") HU15
  li
    a(href="/browse/HU16") HU16
  li
    a(href="/browse/HU17") HU17
  li
    a(href="/browse/HU18") HU18
  li
    a(href="/browse/HU19") HU19
  li
    a(href="/browse/HU20") HU20
  li
    a(href="/browse/YO15") YO15
  li
    a(href="/browse/YO16") YO16
  li
    a(href="/browse/YO25") YO25
  li
    a(href="/browse/YO41") YO41
  li
    a(href="/browse/YO42") YO42
  li
    a(href="/browse/YO43") YO43
