meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/KA1") KA1
  li
    a(href="/browse/KA16") KA16
  li
    a(href="/browse/KA17") KA17
  li
    a(href="/browse/KA18") KA18
  li
    a(href="/browse/KA2") KA2
  li
    a(href="/browse/KA3") KA3
  li
    a(href="/browse/KA4") KA4
  li
    a(href="/browse/KA5") KA5
