meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EH21") EH21
  li
    a(href="/browse/EH31") EH31
  li
    a(href="/browse/EH32") EH32
  li
    a(href="/browse/EH33") EH33
  li
    a(href="/browse/EH34") EH34
  li
    a(href="/browse/EH35") EH35
  li
    a(href="/browse/EH36") EH36
  li
    a(href="/browse/EH39") EH39
  li
    a(href="/browse/EH40") EH40
  li
    a(href="/browse/EH41") EH41
  li
    a(href="/browse/EH42") EH42
