meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/EH38-5YA") Doctors near EH38 5YA
  li
    a(href="/EH38-5YB") Doctors near EH38 5YB
  li
    a(href="/EH38-5YD") Doctors near EH38 5YD
  li
    a(href="/EH38-5YE") Doctors near EH38 5YE
  li
    a(href="/EH38-5YF") Doctors near EH38 5YF
  li
    a(href="/EH38-5YG") Doctors near EH38 5YG
  li
    a(href="/EH38-5YN") Doctors near EH38 5YN
  li
    a(href="/EH38-5YP") Doctors near EH38 5YP
  li
    a(href="/EH38-5YR") Doctors near EH38 5YR
  li
    a(href="/EH38-5YS") Doctors near EH38 5YS
  li
    a(href="/EH38-5YT") Doctors near EH38 5YT
  li
    a(href="/EH38-5YW") Doctors near EH38 5YW
  li
    a(href="/EH38-5ZB") Doctors near EH38 5ZB
