meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/EH43-6AA") Doctors near EH43 6AA
  li
    a(href="/EH43-6AB") Doctors near EH43 6AB
  li
    a(href="/EH43-6AD") Doctors near EH43 6AD
  li
    a(href="/EH43-6AE") Doctors near EH43 6AE
  li
    a(href="/EH43-6AF") Doctors near EH43 6AF
  li
    a(href="/EH43-6AG") Doctors near EH43 6AG
  li
    a(href="/EH43-6AH") Doctors near EH43 6AH
  li
    a(href="/EH43-6AJ") Doctors near EH43 6AJ
  li
    a(href="/EH43-6AL") Doctors near EH43 6AL
  li
    a(href="/EH43-6AN") Doctors near EH43 6AN
  li
    a(href="/EH43-6AP") Doctors near EH43 6AP
  li
    a(href="/EH43-6AQ") Doctors near EH43 6AQ
  li
    a(href="/EH43-6AR") Doctors near EH43 6AR
  li
    a(href="/EH43-6AS") Doctors near EH43 6AS
  li
    a(href="/EH43-6AT") Doctors near EH43 6AT
  li
    a(href="/EH43-6AU") Doctors near EH43 6AU
  li
    a(href="/EH43-6AW") Doctors near EH43 6AW
  li
    a(href="/EH43-6AX") Doctors near EH43 6AX
  li
    a(href="/EH43-6AY") Doctors near EH43 6AY
  li
    a(href="/EH43-6AZ") Doctors near EH43 6AZ
  li
    a(href="/EH43-6BA") Doctors near EH43 6BA
  li
    a(href="/EH43-6BD") Doctors near EH43 6BD
  li
    a(href="/EH43-6BE") Doctors near EH43 6BE
  li
    a(href="/EH43-6DA") Doctors near EH43 6DA
  li
    a(href="/EH43-6DB") Doctors near EH43 6DB
  li
    a(href="/EH43-6DD") Doctors near EH43 6DD
  li
    a(href="/EH43-6DE") Doctors near EH43 6DE
