meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/HS1") HS1
  li
    a(href="/browse/HS2") HS2
  li
    a(href="/browse/HS3") HS3
  li
    a(href="/browse/HS4") HS4
  li
    a(href="/browse/HS5") HS5
  li
    a(href="/browse/HS6") HS6
  li
    a(href="/browse/HS7") HS7
  li
    a(href="/browse/HS8") HS8
  li
    a(href="/browse/HS9") HS9
