meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/EX12-2AA") Doctors near EX12 2AA
  li
    a(href="/EX12-2AD") Doctors near EX12 2AD
  li
    a(href="/EX12-2AE") Doctors near EX12 2AE
  li
    a(href="/EX12-2AF") Doctors near EX12 2AF
  li
    a(href="/EX12-2AG") Doctors near EX12 2AG
  li
    a(href="/EX12-2AH") Doctors near EX12 2AH
  li
    a(href="/EX12-2AJ") Doctors near EX12 2AJ
  li
    a(href="/EX12-2AL") Doctors near EX12 2AL
  li
    a(href="/EX12-2AN") Doctors near EX12 2AN
  li
    a(href="/EX12-2AP") Doctors near EX12 2AP
  li
    a(href="/EX12-2AQ") Doctors near EX12 2AQ
  li
    a(href="/EX12-2AR") Doctors near EX12 2AR
  li
    a(href="/EX12-2AS") Doctors near EX12 2AS
  li
    a(href="/EX12-2AT") Doctors near EX12 2AT
  li
    a(href="/EX12-2AU") Doctors near EX12 2AU
  li
    a(href="/EX12-2AW") Doctors near EX12 2AW
  li
    a(href="/EX12-2AX") Doctors near EX12 2AX
  li
    a(href="/EX12-2AY") Doctors near EX12 2AY
  li
    a(href="/EX12-2AZ") Doctors near EX12 2AZ
  li
    a(href="/EX12-2BA") Doctors near EX12 2BA
  li
    a(href="/EX12-2BB") Doctors near EX12 2BB
  li
    a(href="/EX12-2BD") Doctors near EX12 2BD
  li
    a(href="/EX12-2BE") Doctors near EX12 2BE
  li
    a(href="/EX12-2BG") Doctors near EX12 2BG
  li
    a(href="/EX12-2BH") Doctors near EX12 2BH
  li
    a(href="/EX12-2BJ") Doctors near EX12 2BJ
  li
    a(href="/EX12-2BL") Doctors near EX12 2BL
  li
    a(href="/EX12-2BN") Doctors near EX12 2BN
  li
    a(href="/EX12-2BP") Doctors near EX12 2BP
  li
    a(href="/EX12-2BQ") Doctors near EX12 2BQ
  li
    a(href="/EX12-2BR") Doctors near EX12 2BR
  li
    a(href="/EX12-2BS") Doctors near EX12 2BS
  li
    a(href="/EX12-2BT") Doctors near EX12 2BT
  li
    a(href="/EX12-2BU") Doctors near EX12 2BU
  li
    a(href="/EX12-2BW") Doctors near EX12 2BW
  li
    a(href="/EX12-2BX") Doctors near EX12 2BX
  li
    a(href="/EX12-2BY") Doctors near EX12 2BY
  li
    a(href="/EX12-2BZ") Doctors near EX12 2BZ
  li
    a(href="/EX12-2DA") Doctors near EX12 2DA
  li
    a(href="/EX12-2DB") Doctors near EX12 2DB
  li
    a(href="/EX12-2DD") Doctors near EX12 2DD
  li
    a(href="/EX12-2DE") Doctors near EX12 2DE
  li
    a(href="/EX12-2DF") Doctors near EX12 2DF
  li
    a(href="/EX12-2DG") Doctors near EX12 2DG
  li
    a(href="/EX12-2DH") Doctors near EX12 2DH
  li
    a(href="/EX12-2DJ") Doctors near EX12 2DJ
  li
    a(href="/EX12-2DL") Doctors near EX12 2DL
  li
    a(href="/EX12-2DN") Doctors near EX12 2DN
  li
    a(href="/EX12-2DP") Doctors near EX12 2DP
  li
    a(href="/EX12-2DQ") Doctors near EX12 2DQ
  li
    a(href="/EX12-2DR") Doctors near EX12 2DR
  li
    a(href="/EX12-2DS") Doctors near EX12 2DS
  li
    a(href="/EX12-2DT") Doctors near EX12 2DT
  li
    a(href="/EX12-2DU") Doctors near EX12 2DU
  li
    a(href="/EX12-2DW") Doctors near EX12 2DW
  li
    a(href="/EX12-2DX") Doctors near EX12 2DX
  li
    a(href="/EX12-2DY") Doctors near EX12 2DY
  li
    a(href="/EX12-2DZ") Doctors near EX12 2DZ
  li
    a(href="/EX12-2EA") Doctors near EX12 2EA
  li
    a(href="/EX12-2EB") Doctors near EX12 2EB
  li
    a(href="/EX12-2ED") Doctors near EX12 2ED
  li
    a(href="/EX12-2EE") Doctors near EX12 2EE
  li
    a(href="/EX12-2EF") Doctors near EX12 2EF
  li
    a(href="/EX12-2EG") Doctors near EX12 2EG
  li
    a(href="/EX12-2EH") Doctors near EX12 2EH
  li
    a(href="/EX12-2EJ") Doctors near EX12 2EJ
  li
    a(href="/EX12-2EL") Doctors near EX12 2EL
  li
    a(href="/EX12-2EN") Doctors near EX12 2EN
  li
    a(href="/EX12-2EP") Doctors near EX12 2EP
  li
    a(href="/EX12-2EQ") Doctors near EX12 2EQ
  li
    a(href="/EX12-2ER") Doctors near EX12 2ER
  li
    a(href="/EX12-2ES") Doctors near EX12 2ES
  li
    a(href="/EX12-2ET") Doctors near EX12 2ET
  li
    a(href="/EX12-2EU") Doctors near EX12 2EU
  li
    a(href="/EX12-2EW") Doctors near EX12 2EW
  li
    a(href="/EX12-2EX") Doctors near EX12 2EX
  li
    a(href="/EX12-2EY") Doctors near EX12 2EY
  li
    a(href="/EX12-2EZ") Doctors near EX12 2EZ
  li
    a(href="/EX12-2FE") Doctors near EX12 2FE
  li
    a(href="/EX12-2GA") Doctors near EX12 2GA
  li
    a(href="/EX12-2GZ") Doctors near EX12 2GZ
  li
    a(href="/EX12-2HA") Doctors near EX12 2HA
  li
    a(href="/EX12-2HB") Doctors near EX12 2HB
  li
    a(href="/EX12-2HD") Doctors near EX12 2HD
  li
    a(href="/EX12-2HE") Doctors near EX12 2HE
  li
    a(href="/EX12-2HF") Doctors near EX12 2HF
  li
    a(href="/EX12-2HG") Doctors near EX12 2HG
  li
    a(href="/EX12-2HH") Doctors near EX12 2HH
  li
    a(href="/EX12-2HJ") Doctors near EX12 2HJ
  li
    a(href="/EX12-2HL") Doctors near EX12 2HL
  li
    a(href="/EX12-2HN") Doctors near EX12 2HN
  li
    a(href="/EX12-2HP") Doctors near EX12 2HP
  li
    a(href="/EX12-2HQ") Doctors near EX12 2HQ
  li
    a(href="/EX12-2HR") Doctors near EX12 2HR
  li
    a(href="/EX12-2HS") Doctors near EX12 2HS
  li
    a(href="/EX12-2HT") Doctors near EX12 2HT
  li
    a(href="/EX12-2HU") Doctors near EX12 2HU
  li
    a(href="/EX12-2HW") Doctors near EX12 2HW
  li
    a(href="/EX12-2HX") Doctors near EX12 2HX
  li
    a(href="/EX12-2HY") Doctors near EX12 2HY
  li
    a(href="/EX12-2HZ") Doctors near EX12 2HZ
  li
    a(href="/EX12-2JA") Doctors near EX12 2JA
  li
    a(href="/EX12-2JB") Doctors near EX12 2JB
  li
    a(href="/EX12-2JD") Doctors near EX12 2JD
  li
    a(href="/EX12-2JE") Doctors near EX12 2JE
  li
    a(href="/EX12-2JF") Doctors near EX12 2JF
  li
    a(href="/EX12-2JG") Doctors near EX12 2JG
  li
    a(href="/EX12-2JH") Doctors near EX12 2JH
  li
    a(href="/EX12-2JJ") Doctors near EX12 2JJ
  li
    a(href="/EX12-2JL") Doctors near EX12 2JL
  li
    a(href="/EX12-2JN") Doctors near EX12 2JN
  li
    a(href="/EX12-2JP") Doctors near EX12 2JP
  li
    a(href="/EX12-2JQ") Doctors near EX12 2JQ
  li
    a(href="/EX12-2JR") Doctors near EX12 2JR
  li
    a(href="/EX12-2JS") Doctors near EX12 2JS
  li
    a(href="/EX12-2JT") Doctors near EX12 2JT
  li
    a(href="/EX12-2JU") Doctors near EX12 2JU
  li
    a(href="/EX12-2JW") Doctors near EX12 2JW
  li
    a(href="/EX12-2JX") Doctors near EX12 2JX
  li
    a(href="/EX12-2JY") Doctors near EX12 2JY
  li
    a(href="/EX12-2JZ") Doctors near EX12 2JZ
  li
    a(href="/EX12-2LA") Doctors near EX12 2LA
  li
    a(href="/EX12-2LB") Doctors near EX12 2LB
  li
    a(href="/EX12-2LD") Doctors near EX12 2LD
  li
    a(href="/EX12-2LE") Doctors near EX12 2LE
  li
    a(href="/EX12-2LF") Doctors near EX12 2LF
  li
    a(href="/EX12-2LG") Doctors near EX12 2LG
  li
    a(href="/EX12-2LH") Doctors near EX12 2LH
  li
    a(href="/EX12-2LJ") Doctors near EX12 2LJ
  li
    a(href="/EX12-2LL") Doctors near EX12 2LL
  li
    a(href="/EX12-2LN") Doctors near EX12 2LN
  li
    a(href="/EX12-2LP") Doctors near EX12 2LP
  li
    a(href="/EX12-2LQ") Doctors near EX12 2LQ
  li
    a(href="/EX12-2LR") Doctors near EX12 2LR
  li
    a(href="/EX12-2LS") Doctors near EX12 2LS
  li
    a(href="/EX12-2LT") Doctors near EX12 2LT
  li
    a(href="/EX12-2LU") Doctors near EX12 2LU
  li
    a(href="/EX12-2LW") Doctors near EX12 2LW
  li
    a(href="/EX12-2LX") Doctors near EX12 2LX
  li
    a(href="/EX12-2LY") Doctors near EX12 2LY
  li
    a(href="/EX12-2LZ") Doctors near EX12 2LZ
  li
    a(href="/EX12-2NA") Doctors near EX12 2NA
  li
    a(href="/EX12-2NB") Doctors near EX12 2NB
  li
    a(href="/EX12-2NF") Doctors near EX12 2NF
  li
    a(href="/EX12-2NH") Doctors near EX12 2NH
  li
    a(href="/EX12-2NJ") Doctors near EX12 2NJ
  li
    a(href="/EX12-2NL") Doctors near EX12 2NL
  li
    a(href="/EX12-2NN") Doctors near EX12 2NN
  li
    a(href="/EX12-2NP") Doctors near EX12 2NP
  li
    a(href="/EX12-2NQ") Doctors near EX12 2NQ
  li
    a(href="/EX12-2NR") Doctors near EX12 2NR
  li
    a(href="/EX12-2NS") Doctors near EX12 2NS
  li
    a(href="/EX12-2NT") Doctors near EX12 2NT
  li
    a(href="/EX12-2NU") Doctors near EX12 2NU
  li
    a(href="/EX12-2NW") Doctors near EX12 2NW
  li
    a(href="/EX12-2NX") Doctors near EX12 2NX
  li
    a(href="/EX12-2NY") Doctors near EX12 2NY
  li
    a(href="/EX12-2NZ") Doctors near EX12 2NZ
  li
    a(href="/EX12-2PA") Doctors near EX12 2PA
  li
    a(href="/EX12-2PB") Doctors near EX12 2PB
  li
    a(href="/EX12-2PD") Doctors near EX12 2PD
  li
    a(href="/EX12-2PE") Doctors near EX12 2PE
  li
    a(href="/EX12-2PF") Doctors near EX12 2PF
  li
    a(href="/EX12-2PG") Doctors near EX12 2PG
  li
    a(href="/EX12-2PH") Doctors near EX12 2PH
  li
    a(href="/EX12-2PJ") Doctors near EX12 2PJ
  li
    a(href="/EX12-2PL") Doctors near EX12 2PL
  li
    a(href="/EX12-2PN") Doctors near EX12 2PN
  li
    a(href="/EX12-2PP") Doctors near EX12 2PP
  li
    a(href="/EX12-2PQ") Doctors near EX12 2PQ
  li
    a(href="/EX12-2PR") Doctors near EX12 2PR
  li
    a(href="/EX12-2PS") Doctors near EX12 2PS
  li
    a(href="/EX12-2PT") Doctors near EX12 2PT
  li
    a(href="/EX12-2PU") Doctors near EX12 2PU
  li
    a(href="/EX12-2PW") Doctors near EX12 2PW
  li
    a(href="/EX12-2PX") Doctors near EX12 2PX
  li
    a(href="/EX12-2PY") Doctors near EX12 2PY
  li
    a(href="/EX12-2PZ") Doctors near EX12 2PZ
  li
    a(href="/EX12-2QA") Doctors near EX12 2QA
  li
    a(href="/EX12-2QB") Doctors near EX12 2QB
  li
    a(href="/EX12-2QD") Doctors near EX12 2QD
  li
    a(href="/EX12-2QE") Doctors near EX12 2QE
  li
    a(href="/EX12-2QH") Doctors near EX12 2QH
  li
    a(href="/EX12-2QJ") Doctors near EX12 2QJ
  li
    a(href="/EX12-2QL") Doctors near EX12 2QL
  li
    a(href="/EX12-2QN") Doctors near EX12 2QN
  li
    a(href="/EX12-2QP") Doctors near EX12 2QP
  li
    a(href="/EX12-2QR") Doctors near EX12 2QR
  li
    a(href="/EX12-2QS") Doctors near EX12 2QS
  li
    a(href="/EX12-2QT") Doctors near EX12 2QT
  li
    a(href="/EX12-2QU") Doctors near EX12 2QU
  li
    a(href="/EX12-2QW") Doctors near EX12 2QW
  li
    a(href="/EX12-2QX") Doctors near EX12 2QX
  li
    a(href="/EX12-2QY") Doctors near EX12 2QY
  li
    a(href="/EX12-2QZ") Doctors near EX12 2QZ
  li
    a(href="/EX12-2RA") Doctors near EX12 2RA
  li
    a(href="/EX12-2RB") Doctors near EX12 2RB
  li
    a(href="/EX12-2RD") Doctors near EX12 2RD
  li
    a(href="/EX12-2RE") Doctors near EX12 2RE
  li
    a(href="/EX12-2RF") Doctors near EX12 2RF
  li
    a(href="/EX12-2RG") Doctors near EX12 2RG
  li
    a(href="/EX12-2RH") Doctors near EX12 2RH
  li
    a(href="/EX12-2RJ") Doctors near EX12 2RJ
  li
    a(href="/EX12-2RL") Doctors near EX12 2RL
  li
    a(href="/EX12-2RN") Doctors near EX12 2RN
  li
    a(href="/EX12-2RP") Doctors near EX12 2RP
  li
    a(href="/EX12-2RQ") Doctors near EX12 2RQ
  li
    a(href="/EX12-2RR") Doctors near EX12 2RR
  li
    a(href="/EX12-2RS") Doctors near EX12 2RS
  li
    a(href="/EX12-2RT") Doctors near EX12 2RT
  li
    a(href="/EX12-2RU") Doctors near EX12 2RU
  li
    a(href="/EX12-2RW") Doctors near EX12 2RW
  li
    a(href="/EX12-2RX") Doctors near EX12 2RX
  li
    a(href="/EX12-2RY") Doctors near EX12 2RY
  li
    a(href="/EX12-2RZ") Doctors near EX12 2RZ
  li
    a(href="/EX12-2SA") Doctors near EX12 2SA
  li
    a(href="/EX12-2SB") Doctors near EX12 2SB
  li
    a(href="/EX12-2SD") Doctors near EX12 2SD
  li
    a(href="/EX12-2SE") Doctors near EX12 2SE
  li
    a(href="/EX12-2SF") Doctors near EX12 2SF
  li
    a(href="/EX12-2SG") Doctors near EX12 2SG
  li
    a(href="/EX12-2SH") Doctors near EX12 2SH
  li
    a(href="/EX12-2SJ") Doctors near EX12 2SJ
  li
    a(href="/EX12-2SL") Doctors near EX12 2SL
  li
    a(href="/EX12-2SN") Doctors near EX12 2SN
  li
    a(href="/EX12-2SP") Doctors near EX12 2SP
  li
    a(href="/EX12-2SQ") Doctors near EX12 2SQ
  li
    a(href="/EX12-2SR") Doctors near EX12 2SR
  li
    a(href="/EX12-2SS") Doctors near EX12 2SS
  li
    a(href="/EX12-2ST") Doctors near EX12 2ST
  li
    a(href="/EX12-2SU") Doctors near EX12 2SU
  li
    a(href="/EX12-2SW") Doctors near EX12 2SW
  li
    a(href="/EX12-2SX") Doctors near EX12 2SX
  li
    a(href="/EX12-2SY") Doctors near EX12 2SY
  li
    a(href="/EX12-2SZ") Doctors near EX12 2SZ
  li
    a(href="/EX12-2TA") Doctors near EX12 2TA
  li
    a(href="/EX12-2TB") Doctors near EX12 2TB
  li
    a(href="/EX12-2TD") Doctors near EX12 2TD
  li
    a(href="/EX12-2TE") Doctors near EX12 2TE
  li
    a(href="/EX12-2TF") Doctors near EX12 2TF
  li
    a(href="/EX12-2TG") Doctors near EX12 2TG
  li
    a(href="/EX12-2TH") Doctors near EX12 2TH
  li
    a(href="/EX12-2TJ") Doctors near EX12 2TJ
  li
    a(href="/EX12-2TL") Doctors near EX12 2TL
  li
    a(href="/EX12-2TN") Doctors near EX12 2TN
  li
    a(href="/EX12-2TP") Doctors near EX12 2TP
  li
    a(href="/EX12-2TQ") Doctors near EX12 2TQ
  li
    a(href="/EX12-2TR") Doctors near EX12 2TR
  li
    a(href="/EX12-2TS") Doctors near EX12 2TS
  li
    a(href="/EX12-2TT") Doctors near EX12 2TT
  li
    a(href="/EX12-2TU") Doctors near EX12 2TU
  li
    a(href="/EX12-2TW") Doctors near EX12 2TW
  li
    a(href="/EX12-2TX") Doctors near EX12 2TX
  li
    a(href="/EX12-2TZ") Doctors near EX12 2TZ
  li
    a(href="/EX12-2UA") Doctors near EX12 2UA
  li
    a(href="/EX12-2UB") Doctors near EX12 2UB
  li
    a(href="/EX12-2UD") Doctors near EX12 2UD
  li
    a(href="/EX12-2UE") Doctors near EX12 2UE
  li
    a(href="/EX12-2UF") Doctors near EX12 2UF
  li
    a(href="/EX12-2UG") Doctors near EX12 2UG
  li
    a(href="/EX12-2UH") Doctors near EX12 2UH
  li
    a(href="/EX12-2UJ") Doctors near EX12 2UJ
  li
    a(href="/EX12-2UL") Doctors near EX12 2UL
  li
    a(href="/EX12-2UN") Doctors near EX12 2UN
  li
    a(href="/EX12-2UP") Doctors near EX12 2UP
  li
    a(href="/EX12-2UQ") Doctors near EX12 2UQ
  li
    a(href="/EX12-2UR") Doctors near EX12 2UR
  li
    a(href="/EX12-2US") Doctors near EX12 2US
  li
    a(href="/EX12-2UT") Doctors near EX12 2UT
  li
    a(href="/EX12-2UU") Doctors near EX12 2UU
  li
    a(href="/EX12-2UW") Doctors near EX12 2UW
  li
    a(href="/EX12-2UX") Doctors near EX12 2UX
  li
    a(href="/EX12-2UY") Doctors near EX12 2UY
  li
    a(href="/EX12-2UZ") Doctors near EX12 2UZ
  li
    a(href="/EX12-2WD") Doctors near EX12 2WD
  li
    a(href="/EX12-2WE") Doctors near EX12 2WE
  li
    a(href="/EX12-2WF") Doctors near EX12 2WF
  li
    a(href="/EX12-2WH") Doctors near EX12 2WH
  li
    a(href="/EX12-2WL") Doctors near EX12 2WL
  li
    a(href="/EX12-2WW") Doctors near EX12 2WW
  li
    a(href="/EX12-2XA") Doctors near EX12 2XA
  li
    a(href="/EX12-2XB") Doctors near EX12 2XB
  li
    a(href="/EX12-2XE") Doctors near EX12 2XE
  li
    a(href="/EX12-2XF") Doctors near EX12 2XF
  li
    a(href="/EX12-2XG") Doctors near EX12 2XG
  li
    a(href="/EX12-2XJ") Doctors near EX12 2XJ
  li
    a(href="/EX12-2XN") Doctors near EX12 2XN
  li
    a(href="/EX12-2XQ") Doctors near EX12 2XQ
  li
    a(href="/EX12-2XS") Doctors near EX12 2XS
  li
    a(href="/EX12-2XT") Doctors near EX12 2XT
  li
    a(href="/EX12-2XU") Doctors near EX12 2XU
  li
    a(href="/EX12-2XW") Doctors near EX12 2XW
  li
    a(href="/EX12-2XX") Doctors near EX12 2XX
  li
    a(href="/EX12-2YB") Doctors near EX12 2YB
  li
    a(href="/EX12-2YR") Doctors near EX12 2YR
  li
    a(href="/EX12-3AA") Doctors near EX12 3AA
  li
    a(href="/EX12-3AB") Doctors near EX12 3AB
  li
    a(href="/EX12-3AD") Doctors near EX12 3AD
  li
    a(href="/EX12-3AE") Doctors near EX12 3AE
  li
    a(href="/EX12-3AF") Doctors near EX12 3AF
  li
    a(href="/EX12-3AG") Doctors near EX12 3AG
  li
    a(href="/EX12-3AH") Doctors near EX12 3AH
  li
    a(href="/EX12-3AJ") Doctors near EX12 3AJ
  li
    a(href="/EX12-3AL") Doctors near EX12 3AL
  li
    a(href="/EX12-3AN") Doctors near EX12 3AN
  li
    a(href="/EX12-3AQ") Doctors near EX12 3AQ
  li
    a(href="/EX12-3AR") Doctors near EX12 3AR
  li
    a(href="/EX12-3AS") Doctors near EX12 3AS
  li
    a(href="/EX12-3AT") Doctors near EX12 3AT
  li
    a(href="/EX12-3AU") Doctors near EX12 3AU
  li
    a(href="/EX12-3AW") Doctors near EX12 3AW
  li
    a(href="/EX12-3AX") Doctors near EX12 3AX
  li
    a(href="/EX12-3AY") Doctors near EX12 3AY
  li
    a(href="/EX12-3AZ") Doctors near EX12 3AZ
  li
    a(href="/EX12-3BA") Doctors near EX12 3BA
  li
    a(href="/EX12-3BB") Doctors near EX12 3BB
  li
    a(href="/EX12-3BD") Doctors near EX12 3BD
  li
    a(href="/EX12-3BE") Doctors near EX12 3BE
  li
    a(href="/EX12-3BG") Doctors near EX12 3BG
  li
    a(href="/EX12-3BH") Doctors near EX12 3BH
  li
    a(href="/EX12-3BJ") Doctors near EX12 3BJ
  li
    a(href="/EX12-3BL") Doctors near EX12 3BL
  li
    a(href="/EX12-3BN") Doctors near EX12 3BN
  li
    a(href="/EX12-3BP") Doctors near EX12 3BP
  li
    a(href="/EX12-3BQ") Doctors near EX12 3BQ
  li
    a(href="/EX12-3BR") Doctors near EX12 3BR
  li
    a(href="/EX12-3BS") Doctors near EX12 3BS
  li
    a(href="/EX12-3BT") Doctors near EX12 3BT
  li
    a(href="/EX12-3BU") Doctors near EX12 3BU
  li
    a(href="/EX12-3BW") Doctors near EX12 3BW
  li
    a(href="/EX12-3BX") Doctors near EX12 3BX
  li
    a(href="/EX12-3BY") Doctors near EX12 3BY
  li
    a(href="/EX12-3BZ") Doctors near EX12 3BZ
  li
    a(href="/EX12-3DA") Doctors near EX12 3DA
  li
    a(href="/EX12-3DB") Doctors near EX12 3DB
  li
    a(href="/EX12-3DD") Doctors near EX12 3DD
  li
    a(href="/EX12-3DE") Doctors near EX12 3DE
  li
    a(href="/EX12-3DF") Doctors near EX12 3DF
  li
    a(href="/EX12-3DG") Doctors near EX12 3DG
  li
    a(href="/EX12-3DH") Doctors near EX12 3DH
  li
    a(href="/EX12-3DJ") Doctors near EX12 3DJ
  li
    a(href="/EX12-3DL") Doctors near EX12 3DL
  li
    a(href="/EX12-3DN") Doctors near EX12 3DN
  li
    a(href="/EX12-3DP") Doctors near EX12 3DP
  li
    a(href="/EX12-3DQ") Doctors near EX12 3DQ
  li
    a(href="/EX12-3DR") Doctors near EX12 3DR
  li
    a(href="/EX12-3DS") Doctors near EX12 3DS
  li
    a(href="/EX12-3DT") Doctors near EX12 3DT
  li
    a(href="/EX12-3DU") Doctors near EX12 3DU
  li
    a(href="/EX12-3DW") Doctors near EX12 3DW
  li
    a(href="/EX12-3DX") Doctors near EX12 3DX
  li
    a(href="/EX12-3DY") Doctors near EX12 3DY
  li
    a(href="/EX12-3DZ") Doctors near EX12 3DZ
  li
    a(href="/EX12-3EA") Doctors near EX12 3EA
  li
    a(href="/EX12-3EB") Doctors near EX12 3EB
  li
    a(href="/EX12-3ED") Doctors near EX12 3ED
  li
    a(href="/EX12-3EE") Doctors near EX12 3EE
  li
    a(href="/EX12-3EF") Doctors near EX12 3EF
  li
    a(href="/EX12-3EG") Doctors near EX12 3EG
  li
    a(href="/EX12-3EH") Doctors near EX12 3EH
  li
    a(href="/EX12-3EJ") Doctors near EX12 3EJ
  li
    a(href="/EX12-3EL") Doctors near EX12 3EL
  li
    a(href="/EX12-3EN") Doctors near EX12 3EN
  li
    a(href="/EX12-3EP") Doctors near EX12 3EP
  li
    a(href="/EX12-3EQ") Doctors near EX12 3EQ
  li
    a(href="/EX12-3ER") Doctors near EX12 3ER
  li
    a(href="/EX12-3ES") Doctors near EX12 3ES
  li
    a(href="/EX12-3ET") Doctors near EX12 3ET
  li
    a(href="/EX12-3EU") Doctors near EX12 3EU
  li
    a(href="/EX12-3EW") Doctors near EX12 3EW
  li
    a(href="/EX12-3EX") Doctors near EX12 3EX
  li
    a(href="/EX12-3EY") Doctors near EX12 3EY
  li
    a(href="/EX12-3EZ") Doctors near EX12 3EZ
  li
    a(href="/EX12-3HA") Doctors near EX12 3HA
  li
    a(href="/EX12-3HB") Doctors near EX12 3HB
  li
    a(href="/EX12-3HD") Doctors near EX12 3HD
  li
    a(href="/EX12-3HE") Doctors near EX12 3HE
  li
    a(href="/EX12-3HF") Doctors near EX12 3HF
  li
    a(href="/EX12-3HG") Doctors near EX12 3HG
  li
    a(href="/EX12-3HH") Doctors near EX12 3HH
  li
    a(href="/EX12-3HJ") Doctors near EX12 3HJ
  li
    a(href="/EX12-3HL") Doctors near EX12 3HL
  li
    a(href="/EX12-3HN") Doctors near EX12 3HN
  li
    a(href="/EX12-3HP") Doctors near EX12 3HP
  li
    a(href="/EX12-3HQ") Doctors near EX12 3HQ
  li
    a(href="/EX12-3HS") Doctors near EX12 3HS
  li
    a(href="/EX12-3HT") Doctors near EX12 3HT
  li
    a(href="/EX12-3HU") Doctors near EX12 3HU
  li
    a(href="/EX12-3HX") Doctors near EX12 3HX
  li
    a(href="/EX12-3HY") Doctors near EX12 3HY
  li
    a(href="/EX12-3HZ") Doctors near EX12 3HZ
  li
    a(href="/EX12-3JA") Doctors near EX12 3JA
  li
    a(href="/EX12-3JB") Doctors near EX12 3JB
  li
    a(href="/EX12-3JD") Doctors near EX12 3JD
  li
    a(href="/EX12-3JF") Doctors near EX12 3JF
  li
    a(href="/EX12-3JG") Doctors near EX12 3JG
  li
    a(href="/EX12-3JH") Doctors near EX12 3JH
  li
    a(href="/EX12-3JJ") Doctors near EX12 3JJ
  li
    a(href="/EX12-3JL") Doctors near EX12 3JL
  li
    a(href="/EX12-3JN") Doctors near EX12 3JN
  li
    a(href="/EX12-3JP") Doctors near EX12 3JP
  li
    a(href="/EX12-3JQ") Doctors near EX12 3JQ
  li
    a(href="/EX12-3JR") Doctors near EX12 3JR
  li
    a(href="/EX12-3JS") Doctors near EX12 3JS
  li
    a(href="/EX12-3JT") Doctors near EX12 3JT
  li
    a(href="/EX12-3JU") Doctors near EX12 3JU
  li
    a(href="/EX12-3JX") Doctors near EX12 3JX
  li
    a(href="/EX12-3JY") Doctors near EX12 3JY
  li
    a(href="/EX12-3JZ") Doctors near EX12 3JZ
  li
    a(href="/EX12-3LA") Doctors near EX12 3LA
  li
    a(href="/EX12-3LB") Doctors near EX12 3LB
  li
    a(href="/EX12-3LD") Doctors near EX12 3LD
  li
    a(href="/EX12-3LE") Doctors near EX12 3LE
  li
    a(href="/EX12-3LF") Doctors near EX12 3LF
  li
    a(href="/EX12-3LH") Doctors near EX12 3LH
  li
    a(href="/EX12-3LJ") Doctors near EX12 3LJ
  li
    a(href="/EX12-3LL") Doctors near EX12 3LL
  li
    a(href="/EX12-3LN") Doctors near EX12 3LN
  li
    a(href="/EX12-3LP") Doctors near EX12 3LP
  li
    a(href="/EX12-3LQ") Doctors near EX12 3LQ
  li
    a(href="/EX12-3LR") Doctors near EX12 3LR
  li
    a(href="/EX12-3LS") Doctors near EX12 3LS
  li
    a(href="/EX12-3LT") Doctors near EX12 3LT
  li
    a(href="/EX12-3LU") Doctors near EX12 3LU
  li
    a(href="/EX12-3LW") Doctors near EX12 3LW
  li
    a(href="/EX12-3LX") Doctors near EX12 3LX
  li
    a(href="/EX12-3LY") Doctors near EX12 3LY
  li
    a(href="/EX12-3LZ") Doctors near EX12 3LZ
  li
    a(href="/EX12-3NA") Doctors near EX12 3NA
  li
    a(href="/EX12-3NB") Doctors near EX12 3NB
  li
    a(href="/EX12-3ND") Doctors near EX12 3ND
  li
    a(href="/EX12-3NF") Doctors near EX12 3NF
  li
    a(href="/EX12-3NG") Doctors near EX12 3NG
  li
    a(href="/EX12-3NH") Doctors near EX12 3NH
  li
    a(href="/EX12-3NJ") Doctors near EX12 3NJ
  li
    a(href="/EX12-3NL") Doctors near EX12 3NL
  li
    a(href="/EX12-3PA") Doctors near EX12 3PA
  li
    a(href="/EX12-3RA") Doctors near EX12 3RA
  li
    a(href="/EX12-3RB") Doctors near EX12 3RB
  li
    a(href="/EX12-3WZ") Doctors near EX12 3WZ
  li
    a(href="/EX12-3YJ") Doctors near EX12 3YJ
  li
    a(href="/EX12-3YN") Doctors near EX12 3YN
  li
    a(href="/EX12-3YQ") Doctors near EX12 3YQ
  li
    a(href="/EX12-3ZQ") Doctors near EX12 3ZQ
  li
    a(href="/EX12-4AA") Doctors near EX12 4AA
  li
    a(href="/EX12-4AB") Doctors near EX12 4AB
  li
    a(href="/EX12-4AD") Doctors near EX12 4AD
  li
    a(href="/EX12-4AE") Doctors near EX12 4AE
  li
    a(href="/EX12-4AF") Doctors near EX12 4AF
  li
    a(href="/EX12-4AG") Doctors near EX12 4AG
  li
    a(href="/EX12-4AH") Doctors near EX12 4AH
  li
    a(href="/EX12-4AJ") Doctors near EX12 4AJ
  li
    a(href="/EX12-4AL") Doctors near EX12 4AL
  li
    a(href="/EX12-4AN") Doctors near EX12 4AN
  li
    a(href="/EX12-4AP") Doctors near EX12 4AP
  li
    a(href="/EX12-4AQ") Doctors near EX12 4AQ
  li
    a(href="/EX12-4AR") Doctors near EX12 4AR
  li
    a(href="/EX12-4AS") Doctors near EX12 4AS
  li
    a(href="/EX12-4AT") Doctors near EX12 4AT
  li
    a(href="/EX12-4AU") Doctors near EX12 4AU
  li
    a(href="/EX12-4AW") Doctors near EX12 4AW
  li
    a(href="/EX12-4AX") Doctors near EX12 4AX
  li
    a(href="/EX12-4AY") Doctors near EX12 4AY
  li
    a(href="/EX12-4AZ") Doctors near EX12 4AZ
  li
    a(href="/EX12-4BA") Doctors near EX12 4BA
  li
    a(href="/EX12-4BB") Doctors near EX12 4BB
  li
    a(href="/EX12-4BD") Doctors near EX12 4BD
  li
    a(href="/EX12-4BE") Doctors near EX12 4BE
  li
    a(href="/EX12-4BG") Doctors near EX12 4BG
  li
    a(href="/EX12-4BH") Doctors near EX12 4BH
  li
    a(href="/EX12-4BJ") Doctors near EX12 4BJ
  li
    a(href="/EX12-4BL") Doctors near EX12 4BL
  li
    a(href="/EX12-4BN") Doctors near EX12 4BN
  li
    a(href="/EX12-4BP") Doctors near EX12 4BP
  li
    a(href="/EX12-4BQ") Doctors near EX12 4BQ
  li
    a(href="/EX12-4BR") Doctors near EX12 4BR
  li
    a(href="/EX12-4BS") Doctors near EX12 4BS
  li
    a(href="/EX12-4BT") Doctors near EX12 4BT
  li
    a(href="/EX12-4BU") Doctors near EX12 4BU
  li
    a(href="/EX12-4BW") Doctors near EX12 4BW
  li
    a(href="/EX12-9AA") Doctors near EX12 9AA
  li
    a(href="/EX12-9AE") Doctors near EX12 9AE
  li
    a(href="/EX12-9AG") Doctors near EX12 9AG
  li
    a(href="/EX12-9AH") Doctors near EX12 9AH
  li
    a(href="/EX12-9AJ") Doctors near EX12 9AJ
  li
    a(href="/EX12-9AL") Doctors near EX12 9AL
