meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EH51") EH51
  li
    a(href="/browse/FK1") FK1
  li
    a(href="/browse/FK2") FK2
  li
    a(href="/browse/FK3") FK3
  li
    a(href="/browse/FK4") FK4
  li
    a(href="/browse/FK5") FK5
  li
    a(href="/browse/FK6") FK6
