meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/FK18-8NA") Doctors near FK18 8NA
  li
    a(href="/FK18-8NB") Doctors near FK18 8NB
  li
    a(href="/FK18-8ND") Doctors near FK18 8ND
  li
    a(href="/FK18-8NF") Doctors near FK18 8NF
  li
    a(href="/FK18-8NG") Doctors near FK18 8NG
  li
    a(href="/FK18-8NJ") Doctors near FK18 8NJ
  li
    a(href="/FK18-8NL") Doctors near FK18 8NL
  li
    a(href="/FK18-8NQ") Doctors near FK18 8NQ
