meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/FK20-8QN") Doctors near FK20 8QN
  li
    a(href="/FK20-8QP") Doctors near FK20 8QP
  li
    a(href="/FK20-8QQ") Doctors near FK20 8QQ
  li
    a(href="/FK20-8QR") Doctors near FK20 8QR
  li
    a(href="/FK20-8QS") Doctors near FK20 8QS
  li
    a(href="/FK20-8QT") Doctors near FK20 8QT
  li
    a(href="/FK20-8QU") Doctors near FK20 8QU
  li
    a(href="/FK20-8QW") Doctors near FK20 8QW
  li
    a(href="/FK20-8RJ") Doctors near FK20 8RJ
  li
    a(href="/FK20-8RL") Doctors near FK20 8RL
  li
    a(href="/FK20-8RN") Doctors near FK20 8RN
  li
    a(href="/FK20-8RP") Doctors near FK20 8RP
  li
    a(href="/FK20-8RQ") Doctors near FK20 8RQ
  li
    a(href="/FK20-8RR") Doctors near FK20 8RR
  li
    a(href="/FK20-8RS") Doctors near FK20 8RS
  li
    a(href="/FK20-8RT") Doctors near FK20 8RT
  li
    a(href="/FK20-8RU") Doctors near FK20 8RU
  li
    a(href="/FK20-8RW") Doctors near FK20 8RW
  li
    a(href="/FK20-8RX") Doctors near FK20 8RX
  li
    a(href="/FK20-8RY") Doctors near FK20 8RY
  li
    a(href="/FK20-8RZ") Doctors near FK20 8RZ
  li
    a(href="/FK20-8SA") Doctors near FK20 8SA
  li
    a(href="/FK20-8SB") Doctors near FK20 8SB
