meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CH4") CH4
  li
    a(href="/browse/CH5") CH5
  li
    a(href="/browse/CH6") CH6
  li
    a(href="/browse/CH7") CH7
  li
    a(href="/browse/CH8") CH8
