meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NE10") NE10
  li
    a(href="/browse/NE11") NE11
  li
    a(href="/browse/NE16") NE16
  li
    a(href="/browse/NE17") NE17
  li
    a(href="/browse/NE21") NE21
  li
    a(href="/browse/NE39") NE39
  li
    a(href="/browse/NE40") NE40
  li
    a(href="/browse/NE8") NE8
  li
    a(href="/browse/NE9") NE9
