meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/G1") G1
  li
    a(href="/browse/G11") G11
  li
    a(href="/browse/G12") G12
  li
    a(href="/browse/G13") G13
  li
    a(href="/browse/G14") G14
  li
    a(href="/browse/G15") G15
  li
    a(href="/browse/G2") G2
  li
    a(href="/browse/G20") G20
  li
    a(href="/browse/G21") G21
  li
    a(href="/browse/G22") G22
  li
    a(href="/browse/G23") G23
  li
    a(href="/browse/G3") G3
  li
    a(href="/browse/G31") G31
  li
    a(href="/browse/G32") G32
  li
    a(href="/browse/G33") G33
  li
    a(href="/browse/G34") G34
  li
    a(href="/browse/G4") G4
  li
    a(href="/browse/G40") G40
  li
    a(href="/browse/G41") G41
  li
    a(href="/browse/G42") G42
  li
    a(href="/browse/G43") G43
  li
    a(href="/browse/G44") G44
  li
    a(href="/browse/G45") G45
  li
    a(href="/browse/G5") G5
  li
    a(href="/browse/G51") G51
  li
    a(href="/browse/G52") G52
  li
    a(href="/browse/G53") G53
  li
    a(href="/browse/G69") G69
