meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/GL1") GL1
  li
    a(href="/browse/GL10") GL10
  li
    a(href="/browse/GL11") GL11
  li
    a(href="/browse/GL12") GL12
  li
    a(href="/browse/GL13") GL13
  li
    a(href="/browse/GL14") GL14
  li
    a(href="/browse/GL15") GL15
  li
    a(href="/browse/GL16") GL16
  li
    a(href="/browse/GL17") GL17
  li
    a(href="/browse/GL18") GL18
  li
    a(href="/browse/GL19") GL19
  li
    a(href="/browse/GL2") GL2
  li
    a(href="/browse/GL20") GL20
  li
    a(href="/browse/GL3") GL3
  li
    a(href="/browse/GL4") GL4
  li
    a(href="/browse/GL5") GL5
  li
    a(href="/browse/GL50") GL50
  li
    a(href="/browse/GL51") GL51
  li
    a(href="/browse/GL52") GL52
  li
    a(href="/browse/GL53") GL53
  li
    a(href="/browse/GL54") GL54
  li
    a(href="/browse/GL55") GL55
  li
    a(href="/browse/GL56") GL56
  li
    a(href="/browse/GL6") GL6
  li
    a(href="/browse/GL7") GL7
  li
    a(href="/browse/GL8") GL8
