meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M1") M1
  li
    a(href="/browse/M11") M11
  li
    a(href="/browse/M12") M12
  li
    a(href="/browse/M13") M13
  li
    a(href="/browse/M14") M14
  li
    a(href="/browse/M15") M15
  li
    a(href="/browse/M16") M16
  li
    a(href="/browse/M18") M18
  li
    a(href="/browse/M19") M19
  li
    a(href="/browse/M2") M2
  li
    a(href="/browse/M20") M20
  li
    a(href="/browse/M21") M21
  li
    a(href="/browse/M22") M22
  li
    a(href="/browse/M23") M23
  li
    a(href="/browse/M4") M4
  li
    a(href="/browse/M40") M40
  li
    a(href="/browse/M60") M60
  li
    a(href="/browse/M8") M8
  li
    a(href="/browse/M9") M9
  li
    a(href="/browse/M90") M90
