meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LL23") LL23
  li
    a(href="/browse/LL35") LL35
  li
    a(href="/browse/LL36") LL36
  li
    a(href="/browse/LL37") LL37
  li
    a(href="/browse/LL38") LL38
  li
    a(href="/browse/LL39") LL39
  li
    a(href="/browse/LL40") LL40
  li
    a(href="/browse/LL41") LL41
  li
    a(href="/browse/LL42") LL42
  li
    a(href="/browse/LL43") LL43
  li
    a(href="/browse/LL44") LL44
  li
    a(href="/browse/LL45") LL45
  li
    a(href="/browse/LL46") LL46
  li
    a(href="/browse/LL47") LL47
  li
    a(href="/browse/LL48") LL48
  li
    a(href="/browse/LL49") LL49
  li
    a(href="/browse/LL51") LL51
  li
    a(href="/browse/LL52") LL52
  li
    a(href="/browse/LL53") LL53
  li
    a(href="/browse/LL54") LL54
  li
    a(href="/browse/LL55") LL55
  li
    a(href="/browse/LL56") LL56
  li
    a(href="/browse/LL57") LL57
