meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BH24") BH24
  li
    a(href="/browse/BH25") BH25
  li
    a(href="/browse/GU11") GU11
  li
    a(href="/browse/GU14") GU14
  li
    a(href="/browse/GU17") GU17
  li
    a(href="/browse/GU30") GU30
  li
    a(href="/browse/GU31") GU31
  li
    a(href="/browse/GU32") GU32
  li
    a(href="/browse/GU33") GU33
  li
    a(href="/browse/GU34") GU34
  li
    a(href="/browse/GU35") GU35
  li
    a(href="/browse/GU46") GU46
  li
    a(href="/browse/GU51") GU51
  li
    a(href="/browse/GU52") GU52
  li
    a(href="/browse/PO11") PO11
  li
    a(href="/browse/PO12") PO12
  li
    a(href="/browse/PO13") PO13
  li
    a(href="/browse/PO14") PO14
  li
    a(href="/browse/PO15") PO15
  li
    a(href="/browse/PO16") PO16
  li
    a(href="/browse/PO17") PO17
  li
    a(href="/browse/PO7") PO7
  li
    a(href="/browse/PO8") PO8
  li
    a(href="/browse/PO9") PO9
  li
    a(href="/browse/RG21") RG21
  li
    a(href="/browse/RG22") RG22
  li
    a(href="/browse/RG23") RG23
  li
    a(href="/browse/RG24") RG24
  li
    a(href="/browse/RG25") RG25
  li
    a(href="/browse/RG26") RG26
  li
    a(href="/browse/RG27") RG27
  li
    a(href="/browse/RG28") RG28
  li
    a(href="/browse/RG29") RG29
  li
    a(href="/browse/SO20") SO20
  li
    a(href="/browse/SO21") SO21
  li
    a(href="/browse/SO22") SO22
  li
    a(href="/browse/SO23") SO23
  li
    a(href="/browse/SO24") SO24
  li
    a(href="/browse/SO30") SO30
  li
    a(href="/browse/SO31") SO31
  li
    a(href="/browse/SO32") SO32
  li
    a(href="/browse/SO40") SO40
  li
    a(href="/browse/SO41") SO41
  li
    a(href="/browse/SO42") SO42
  li
    a(href="/browse/SO43") SO43
  li
    a(href="/browse/SO45") SO45
  li
    a(href="/browse/SO50") SO50
  li
    a(href="/browse/SO51") SO51
  li
    a(href="/browse/SO52") SO52
  li
    a(href="/browse/SO53") SO53
  li
    a(href="/browse/SP10") SP10
  li
    a(href="/browse/SP11") SP11
  li
    a(href="/browse/SP6") SP6
  li
    a(href="/browse/SP9") SP9
