meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/AL1") AL1
  li
    a(href="/browse/AL10") AL10
  li
    a(href="/browse/AL2") AL2
  li
    a(href="/browse/AL3") AL3
  li
    a(href="/browse/AL4") AL4
  li
    a(href="/browse/AL5") AL5
  li
    a(href="/browse/AL6") AL6
  li
    a(href="/browse/AL7") AL7
  li
    a(href="/browse/AL8") AL8
  li
    a(href="/browse/AL9") AL9
  li
    a(href="/browse/CM21") CM21
  li
    a(href="/browse/CM23") CM23
  li
    a(href="/browse/EN10") EN10
  li
    a(href="/browse/EN11") EN11
  li
    a(href="/browse/EN6") EN6
  li
    a(href="/browse/EN7") EN7
  li
    a(href="/browse/EN8") EN8
  li
    a(href="/browse/HP1") HP1
  li
    a(href="/browse/HP2") HP2
  li
    a(href="/browse/HP23") HP23
  li
    a(href="/browse/HP3") HP3
  li
    a(href="/browse/HP4") HP4
  li
    a(href="/browse/SG1") SG1
  li
    a(href="/browse/SG10") SG10
  li
    a(href="/browse/SG11") SG11
  li
    a(href="/browse/SG12") SG12
  li
    a(href="/browse/SG2") SG2
  li
    a(href="/browse/SG3") SG3
  li
    a(href="/browse/SG4") SG4
  li
    a(href="/browse/SG5") SG5
  li
    a(href="/browse/SG6") SG6
  li
    a(href="/browse/SG7") SG7
  li
    a(href="/browse/SG9") SG9
  li
    a(href="/browse/WD17") WD17
  li
    a(href="/browse/WD18") WD18
  li
    a(href="/browse/WD19") WD19
  li
    a(href="/browse/WD23") WD23
  li
    a(href="/browse/WD24") WD24
  li
    a(href="/browse/WD25") WD25
  li
    a(href="/browse/WD3") WD3
  li
    a(href="/browse/WD4") WD4
  li
    a(href="/browse/WD5") WD5
  li
    a(href="/browse/WD6") WD6
  li
    a(href="/browse/WD7") WD7
