meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/HS5-3TL") Doctors near HS5 3TL
  li
    a(href="/HS5-3TN") Doctors near HS5 3TN
  li
    a(href="/HS5-3TS") Doctors near HS5 3TS
  li
    a(href="/HS5-3TT") Doctors near HS5 3TT
  li
    a(href="/HS5-3TU") Doctors near HS5 3TU
  li
    a(href="/HS5-3TW") Doctors near HS5 3TW
  li
    a(href="/HS5-3TX") Doctors near HS5 3TX
  li
    a(href="/HS5-3TY") Doctors near HS5 3TY
  li
    a(href="/HS5-3UA") Doctors near HS5 3UA
  li
    a(href="/HS5-3UB") Doctors near HS5 3UB
  li
    a(href="/HS5-3UD") Doctors near HS5 3UD
  li
    a(href="/HS5-3UE") Doctors near HS5 3UE
