meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PA13") PA13
  li
    a(href="/browse/PA14") PA14
  li
    a(href="/browse/PA15") PA15
  li
    a(href="/browse/PA16") PA16
  li
    a(href="/browse/PA18") PA18
  li
    a(href="/browse/PA19") PA19
