meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/TR21") TR21
  li
    a(href="/browse/TR22") TR22
  li
    a(href="/browse/TR23") TR23
  li
    a(href="/browse/TR24") TR24
  li
    a(href="/browse/TR25") TR25
