meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PO30") PO30
  li
    a(href="/browse/PO31") PO31
  li
    a(href="/browse/PO32") PO32
  li
    a(href="/browse/PO33") PO33
  li
    a(href="/browse/PO34") PO34
  li
    a(href="/browse/PO35") PO35
  li
    a(href="/browse/PO36") PO36
  li
    a(href="/browse/PO37") PO37
  li
    a(href="/browse/PO38") PO38
  li
    a(href="/browse/PO39") PO39
  li
    a(href="/browse/PO40") PO40
  li
    a(href="/browse/PO41") PO41
