meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LL58") LL58
  li
    a(href="/browse/LL59") LL59
  li
    a(href="/browse/LL60") LL60
  li
    a(href="/browse/LL61") LL61
  li
    a(href="/browse/LL62") LL62
  li
    a(href="/browse/LL63") LL63
  li
    a(href="/browse/LL64") LL64
  li
    a(href="/browse/LL65") LL65
  li
    a(href="/browse/LL66") LL66
  li
    a(href="/browse/LL67") LL67
  li
    a(href="/browse/LL68") LL68
  li
    a(href="/browse/LL69") LL69
  li
    a(href="/browse/LL70") LL70
  li
    a(href="/browse/LL71") LL71
  li
    a(href="/browse/LL72") LL72
  li
    a(href="/browse/LL73") LL73
  li
    a(href="/browse/LL74") LL74
  li
    a(href="/browse/LL75") LL75
  li
    a(href="/browse/LL76") LL76
  li
    a(href="/browse/LL77") LL77
  li
    a(href="/browse/LL78") LL78
