meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV13-7XW") Doctors near IV13 7XW
  li
    a(href="/IV13-7XX") Doctors near IV13 7XX
  li
    a(href="/IV13-7XY") Doctors near IV13 7XY
  li
    a(href="/IV13-7XZ") Doctors near IV13 7XZ
  li
    a(href="/IV13-7YA") Doctors near IV13 7YA
  li
    a(href="/IV13-7YB") Doctors near IV13 7YB
  li
    a(href="/IV13-7YD") Doctors near IV13 7YD
  li
    a(href="/IV13-7YE") Doctors near IV13 7YE
  li
    a(href="/IV13-7YF") Doctors near IV13 7YF
  li
    a(href="/IV13-7YG") Doctors near IV13 7YG
  li
    a(href="/IV13-7YN") Doctors near IV13 7YN
  li
    a(href="/IV13-7YP") Doctors near IV13 7YP
  li
    a(href="/IV13-7YQ") Doctors near IV13 7YQ
  li
    a(href="/IV13-7YR") Doctors near IV13 7YR
  li
    a(href="/IV13-7YT") Doctors near IV13 7YT
  li
    a(href="/IV13-7YW") Doctors near IV13 7YW
  li
    a(href="/IV13-7ZA") Doctors near IV13 7ZA
  li
    a(href="/IV13-7ZB") Doctors near IV13 7ZB
