meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV42-8NH") Doctors near IV42 8NH
  li
    a(href="/IV42-8PY") Doctors near IV42 8PY
  li
    a(href="/IV42-8PZ") Doctors near IV42 8PZ
  li
    a(href="/IV42-8QA") Doctors near IV42 8QA
  li
    a(href="/IV42-8QB") Doctors near IV42 8QB
  li
    a(href="/IV42-8QD") Doctors near IV42 8QD
  li
    a(href="/IV42-8QE") Doctors near IV42 8QE
