meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV43-8QH") Doctors near IV43 8QH
  li
    a(href="/IV43-8QR") Doctors near IV43 8QR
  li
    a(href="/IV43-8QS") Doctors near IV43 8QS
  li
    a(href="/IV43-8QT") Doctors near IV43 8QT
  li
    a(href="/IV43-8QU") Doctors near IV43 8QU
  li
    a(href="/IV43-8QW") Doctors near IV43 8QW
  li
    a(href="/IV43-8QX") Doctors near IV43 8QX
  li
    a(href="/IV43-8QY") Doctors near IV43 8QY
  li
    a(href="/IV43-8QZ") Doctors near IV43 8QZ
  li
    a(href="/IV43-8RA") Doctors near IV43 8RA
