meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV52-8TD") Doctors near IV52 8TD
  li
    a(href="/IV52-8TE") Doctors near IV52 8TE
  li
    a(href="/IV52-8TF") Doctors near IV52 8TF
  li
    a(href="/IV52-8TG") Doctors near IV52 8TG
  li
    a(href="/IV52-8TH") Doctors near IV52 8TH
  li
    a(href="/IV52-8TJ") Doctors near IV52 8TJ
  li
    a(href="/IV52-8TL") Doctors near IV52 8TL
  li
    a(href="/IV52-8TN") Doctors near IV52 8TN
  li
    a(href="/IV52-8TP") Doctors near IV52 8TP
  li
    a(href="/IV52-8TQ") Doctors near IV52 8TQ
  li
    a(href="/IV52-8TR") Doctors near IV52 8TR
  li
    a(href="/IV52-8TS") Doctors near IV52 8TS
  li
    a(href="/IV52-8TT") Doctors near IV52 8TT
  li
    a(href="/IV52-8TU") Doctors near IV52 8TU
  li
    a(href="/IV52-8TW") Doctors near IV52 8TW
  li
    a(href="/IV52-8TX") Doctors near IV52 8TX
  li
    a(href="/IV52-8TY") Doctors near IV52 8TY
  li
    a(href="/IV52-8TZ") Doctors near IV52 8TZ
  li
    a(href="/IV52-8UB") Doctors near IV52 8UB
