meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV53-8UG") Doctors near IV53 8UG
  li
    a(href="/IV53-8UH") Doctors near IV53 8UH
  li
    a(href="/IV53-8UJ") Doctors near IV53 8UJ
  li
    a(href="/IV53-8UN") Doctors near IV53 8UN
  li
    a(href="/IV53-8UP") Doctors near IV53 8UP
  li
    a(href="/IV53-8UR") Doctors near IV53 8UR
  li
    a(href="/IV53-8UT") Doctors near IV53 8UT
  li
    a(href="/IV53-8UU") Doctors near IV53 8UU
  li
    a(href="/IV53-8UW") Doctors near IV53 8UW
  li
    a(href="/IV53-8UX") Doctors near IV53 8UX
  li
    a(href="/IV53-8UY") Doctors near IV53 8UY
