meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/IV56-8FA") Doctors near IV56 8FA
  li
    a(href="/IV56-8FB") Doctors near IV56 8FB
  li
    a(href="/IV56-8FD") Doctors near IV56 8FD
  li
    a(href="/IV56-8FE") Doctors near IV56 8FE
  li
    a(href="/IV56-8FF") Doctors near IV56 8FF
  li
    a(href="/IV56-8FG") Doctors near IV56 8FG
  li
    a(href="/IV56-8FH") Doctors near IV56 8FH
  li
    a(href="/IV56-8FJ") Doctors near IV56 8FJ
  li
    a(href="/IV56-8FL") Doctors near IV56 8FL
  li
    a(href="/IV56-8FN") Doctors near IV56 8FN
  li
    a(href="/IV56-8FQ") Doctors near IV56 8FQ
  li
    a(href="/IV56-8FW") Doctors near IV56 8FW
  li
    a(href="/IV56-8FX") Doctors near IV56 8FX
  li
    a(href="/IV56-8FY") Doctors near IV56 8FY
  li
    a(href="/IV56-8WZ") Doctors near IV56 8WZ
