meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/KA14-3AA") Doctors near KA14 3AA
  li
    a(href="/KA14-3AB") Doctors near KA14 3AB
  li
    a(href="/KA14-3AD") Doctors near KA14 3AD
  li
    a(href="/KA14-3AE") Doctors near KA14 3AE
  li
    a(href="/KA14-3AF") Doctors near KA14 3AF
  li
    a(href="/KA14-3AG") Doctors near KA14 3AG
  li
    a(href="/KA14-3AH") Doctors near KA14 3AH
  li
    a(href="/KA14-3AJ") Doctors near KA14 3AJ
  li
    a(href="/KA14-3AL") Doctors near KA14 3AL
  li
    a(href="/KA14-3AN") Doctors near KA14 3AN
  li
    a(href="/KA14-3AQ") Doctors near KA14 3AQ
  li
    a(href="/KA14-3AR") Doctors near KA14 3AR
  li
    a(href="/KA14-3AS") Doctors near KA14 3AS
  li
    a(href="/KA14-3AT") Doctors near KA14 3AT
  li
    a(href="/KA14-3AW") Doctors near KA14 3AW
  li
    a(href="/KA14-3AX") Doctors near KA14 3AX
  li
    a(href="/KA14-3AY") Doctors near KA14 3AY
  li
    a(href="/KA14-3AZ") Doctors near KA14 3AZ
  li
    a(href="/KA14-3BA") Doctors near KA14 3BA
  li
    a(href="/KA14-3BE") Doctors near KA14 3BE
  li
    a(href="/KA14-3BH") Doctors near KA14 3BH
  li
    a(href="/KA14-3BJ") Doctors near KA14 3BJ
  li
    a(href="/KA14-3BL") Doctors near KA14 3BL
  li
    a(href="/KA14-3BN") Doctors near KA14 3BN
  li
    a(href="/KA14-3BP") Doctors near KA14 3BP
  li
    a(href="/KA14-3BQ") Doctors near KA14 3BQ
  li
    a(href="/KA14-3BT") Doctors near KA14 3BT
  li
    a(href="/KA14-3BU") Doctors near KA14 3BU
  li
    a(href="/KA14-3BW") Doctors near KA14 3BW
  li
    a(href="/KA14-3BX") Doctors near KA14 3BX
  li
    a(href="/KA14-3DA") Doctors near KA14 3DA
  li
    a(href="/KA14-3DB") Doctors near KA14 3DB
  li
    a(href="/KA14-3DD") Doctors near KA14 3DD
