meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BD11") BD11
  li
    a(href="/browse/BD19") BD19
  li
    a(href="/browse/HD1") HD1
  li
    a(href="/browse/HD2") HD2
  li
    a(href="/browse/HD3") HD3
  li
    a(href="/browse/HD4") HD4
  li
    a(href="/browse/HD5") HD5
  li
    a(href="/browse/HD7") HD7
  li
    a(href="/browse/HD8") HD8
  li
    a(href="/browse/HD9") HD9
  li
    a(href="/browse/WF12") WF12
  li
    a(href="/browse/WF13") WF13
  li
    a(href="/browse/WF14") WF14
  li
    a(href="/browse/WF15") WF15
  li
    a(href="/browse/WF16") WF16
  li
    a(href="/browse/WF17") WF17
