meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/L26") L26
  li
    a(href="/browse/L28") L28
  li
    a(href="/browse/L32") L32
  li
    a(href="/browse/L33") L33
  li
    a(href="/browse/L34") L34
  li
    a(href="/browse/L36") L36
