meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/KW11-6UA") Doctors near KW11 6UA
  li
    a(href="/KW11-6UB") Doctors near KW11 6UB
  li
    a(href="/KW11-6UD") Doctors near KW11 6UD
  li
    a(href="/KW11-6UE") Doctors near KW11 6UE
  li
    a(href="/KW11-6UF") Doctors near KW11 6UF
  li
    a(href="/KW11-6UG") Doctors near KW11 6UG
