meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/KW5-6DG") Doctors near KW5 6DG
  li
    a(href="/KW5-6DJ") Doctors near KW5 6DJ
  li
    a(href="/KW5-6DL") Doctors near KW5 6DL
  li
    a(href="/KW5-6DN") Doctors near KW5 6DN
  li
    a(href="/KW5-6DP") Doctors near KW5 6DP
  li
    a(href="/KW5-6DQ") Doctors near KW5 6DQ
  li
    a(href="/KW5-6DR") Doctors near KW5 6DR
  li
    a(href="/KW5-6DS") Doctors near KW5 6DS
  li
    a(href="/KW5-6DT") Doctors near KW5 6DT
  li
    a(href="/KW5-6DU") Doctors near KW5 6DU
  li
    a(href="/KW5-6DW") Doctors near KW5 6DW
  li
    a(href="/KW5-6DX") Doctors near KW5 6DX
