meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/KW6-6EA") Doctors near KW6 6EA
  li
    a(href="/KW6-6EB") Doctors near KW6 6EB
  li
    a(href="/KW6-6ED") Doctors near KW6 6ED
  li
    a(href="/KW6-6EE") Doctors near KW6 6EE
  li
    a(href="/KW6-6EF") Doctors near KW6 6EF
  li
    a(href="/KW6-6EG") Doctors near KW6 6EG
  li
    a(href="/KW6-6EH") Doctors near KW6 6EH
  li
    a(href="/KW6-6EJ") Doctors near KW6 6EJ
  li
    a(href="/KW6-6EL") Doctors near KW6 6EL
  li
    a(href="/KW6-6EN") Doctors near KW6 6EN
  li
    a(href="/KW6-6EP") Doctors near KW6 6EP
  li
    a(href="/KW6-6EQ") Doctors near KW6 6EQ
  li
    a(href="/KW6-6ET") Doctors near KW6 6ET
  li
    a(href="/KW6-6EU") Doctors near KW6 6EU
  li
    a(href="/KW6-6EX") Doctors near KW6 6EX
  li
    a(href="/KW6-6EY") Doctors near KW6 6EY
  li
    a(href="/KW6-6EZ") Doctors near KW6 6EZ
