meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/KW7-6HA") Doctors near KW7 6HA
  li
    a(href="/KW7-6HB") Doctors near KW7 6HB
  li
    a(href="/KW7-6HD") Doctors near KW7 6HD
  li
    a(href="/KW7-6HE") Doctors near KW7 6HE
  li
    a(href="/KW7-6HF") Doctors near KW7 6HF
