meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/L29-1YB") Doctors near L29 1YB
  li
    a(href="/L29-3EA") Doctors near L29 3EA
  li
    a(href="/L29-3EB") Doctors near L29 3EB
  li
    a(href="/L29-5XA") Doctors near L29 5XA
  li
    a(href="/L29-5XB") Doctors near L29 5XB
  li
    a(href="/L29-6YA") Doctors near L29 6YA
  li
    a(href="/L29-6YB") Doctors near L29 6YB
  li
    a(href="/L29-6YD") Doctors near L29 6YD
  li
    a(href="/L29-7WA") Doctors near L29 7WA
  li
    a(href="/L29-7WB") Doctors near L29 7WB
  li
    a(href="/L29-7WD") Doctors near L29 7WD
  li
    a(href="/L29-7WE") Doctors near L29 7WE
  li
    a(href="/L29-7WG") Doctors near L29 7WG
  li
    a(href="/L29-7WH") Doctors near L29 7WH
  li
    a(href="/L29-7WJ") Doctors near L29 7WJ
  li
    a(href="/L29-7WL") Doctors near L29 7WL
  li
    a(href="/L29-8YA") Doctors near L29 8YA
  li
    a(href="/L29-8YB") Doctors near L29 8YB
  li
    a(href="/L29-9AD") Doctors near L29 9AD
  li
    a(href="/L29-9AE") Doctors near L29 9AE
  li
    a(href="/L29-9AF") Doctors near L29 9AF
