meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LS1") LS1
  li
    a(href="/browse/LS10") LS10
  li
    a(href="/browse/LS11") LS11
  li
    a(href="/browse/LS12") LS12
  li
    a(href="/browse/LS13") LS13
  li
    a(href="/browse/LS14") LS14
  li
    a(href="/browse/LS15") LS15
  li
    a(href="/browse/LS16") LS16
  li
    a(href="/browse/LS17") LS17
  li
    a(href="/browse/LS18") LS18
  li
    a(href="/browse/LS19") LS19
  li
    a(href="/browse/LS2") LS2
  li
    a(href="/browse/LS20") LS20
  li
    a(href="/browse/LS21") LS21
  li
    a(href="/browse/LS22") LS22
  li
    a(href="/browse/LS23") LS23
  li
    a(href="/browse/LS25") LS25
  li
    a(href="/browse/LS26") LS26
  li
    a(href="/browse/LS27") LS27
  li
    a(href="/browse/LS28") LS28
  li
    a(href="/browse/LS3") LS3
  li
    a(href="/browse/LS4") LS4
  li
    a(href="/browse/LS5") LS5
  li
    a(href="/browse/LS6") LS6
  li
    a(href="/browse/LS7") LS7
  li
    a(href="/browse/LS8") LS8
  li
    a(href="/browse/LS9") LS9
  li
    a(href="/browse/WF3") WF3
