meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CV13") CV13
  li
    a(href="/browse/DE74") DE74
  li
    a(href="/browse/LE10") LE10
  li
    a(href="/browse/LE11") LE11
  li
    a(href="/browse/LE12") LE12
  li
    a(href="/browse/LE13") LE13
  li
    a(href="/browse/LE14") LE14
  li
    a(href="/browse/LE17") LE17
  li
    a(href="/browse/LE18") LE18
  li
    a(href="/browse/LE6") LE6
  li
    a(href="/browse/LE65") LE65
  li
    a(href="/browse/LE67") LE67
  li
    a(href="/browse/LE7") LE7
  li
    a(href="/browse/LE8") LE8
  li
    a(href="/browse/LE9") LE9
