meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LE1") LE1
  li
    a(href="/browse/LE2") LE2
  li
    a(href="/browse/LE3") LE3
  li
    a(href="/browse/LE4") LE4
  li
    a(href="/browse/LE5") LE5
