meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DN21") DN21
  li
    a(href="/browse/DN36") DN36
  li
    a(href="/browse/DN38") DN38
  li
    a(href="/browse/LN1") LN1
  li
    a(href="/browse/LN10") LN10
  li
    a(href="/browse/LN11") LN11
  li
    a(href="/browse/LN12") LN12
  li
    a(href="/browse/LN13") LN13
  li
    a(href="/browse/LN2") LN2
  li
    a(href="/browse/LN3") LN3
  li
    a(href="/browse/LN4") LN4
  li
    a(href="/browse/LN5") LN5
  li
    a(href="/browse/LN6") LN6
  li
    a(href="/browse/LN7") LN7
  li
    a(href="/browse/LN8") LN8
  li
    a(href="/browse/LN9") LN9
  li
    a(href="/browse/NG31") NG31
  li
    a(href="/browse/NG32") NG32
  li
    a(href="/browse/NG33") NG33
  li
    a(href="/browse/NG34") NG34
  li
    a(href="/browse/PE10") PE10
  li
    a(href="/browse/PE11") PE11
  li
    a(href="/browse/PE12") PE12
  li
    a(href="/browse/PE20") PE20
  li
    a(href="/browse/PE21") PE21
  li
    a(href="/browse/PE22") PE22
  li
    a(href="/browse/PE23") PE23
  li
    a(href="/browse/PE24") PE24
  li
    a(href="/browse/PE25") PE25
  li
    a(href="/browse/PE6") PE6
  li
    a(href="/browse/PE9") PE9
