meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/L1") L1
  li
    a(href="/browse/L11") L11
  li
    a(href="/browse/L12") L12
  li
    a(href="/browse/L13") L13
  li
    a(href="/browse/L14") L14
  li
    a(href="/browse/L15") L15
  li
    a(href="/browse/L16") L16
  li
    a(href="/browse/L17") L17
  li
    a(href="/browse/L18") L18
  li
    a(href="/browse/L19") L19
  li
    a(href="/browse/L2") L2
  li
    a(href="/browse/L23") L23
  li
    a(href="/browse/L24") L24
  li
    a(href="/browse/L25") L25
  li
    a(href="/browse/L27") L27
  li
    a(href="/browse/L3") L3
  li
    a(href="/browse/L4") L4
  li
    a(href="/browse/L5") L5
  li
    a(href="/browse/L6") L6
  li
    a(href="/browse/L69") L69
  li
    a(href="/browse/L7") L7
  li
    a(href="/browse/L70") L70
  li
    a(href="/browse/L8") L8
  li
    a(href="/browse/L9") L9
