meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/LL39-1AJ") Doctors near LL39 1AJ
  li
    a(href="/LL39-1AQ") Doctors near LL39 1AQ
  li
    a(href="/LL39-1AX") Doctors near LL39 1AX
  li
    a(href="/LL39-1AZ") Doctors near LL39 1AZ
  li
    a(href="/LL39-1BJ") Doctors near LL39 1BJ
  li
    a(href="/LL39-1BQ") Doctors near LL39 1BQ
  li
    a(href="/LL39-1BX") Doctors near LL39 1BX
  li
    a(href="/LL39-1BZ") Doctors near LL39 1BZ
  li
    a(href="/LL39-1DQ") Doctors near LL39 1DQ
  li
    a(href="/LL39-1LJ") Doctors near LL39 1LJ
  li
    a(href="/LL39-1LQ") Doctors near LL39 1LQ
  li
    a(href="/LL39-1LX") Doctors near LL39 1LX
  li
    a(href="/LL39-1LZ") Doctors near LL39 1LZ
  li
    a(href="/LL39-1YP") Doctors near LL39 1YP
  li
    a(href="/LL39-1YR") Doctors near LL39 1YR
  li
    a(href="/LL39-1YS") Doctors near LL39 1YS
  li
    a(href="/LL39-1YT") Doctors near LL39 1YT
  li
    a(href="/LL39-1YU") Doctors near LL39 1YU
  li
    a(href="/LL39-1YY") Doctors near LL39 1YY
