meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/LL66-0AA") Doctors near LL66 0AA
  li
    a(href="/LL66-0AB") Doctors near LL66 0AB
  li
    a(href="/LL66-0AD") Doctors near LL66 0AD
  li
    a(href="/LL66-0AE") Doctors near LL66 0AE
  li
    a(href="/LL66-0AN") Doctors near LL66 0AN
  li
    a(href="/LL66-0AP") Doctors near LL66 0AP
  li
    a(href="/LL66-0AR") Doctors near LL66 0AR
  li
    a(href="/LL66-0AS") Doctors near LL66 0AS
  li
    a(href="/LL66-0AT") Doctors near LL66 0AT
  li
    a(href="/LL66-0AU") Doctors near LL66 0AU
  li
    a(href="/LL66-0AW") Doctors near LL66 0AW
  li
    a(href="/LL66-0AX") Doctors near LL66 0AX
  li
    a(href="/LL66-0AY") Doctors near LL66 0AY
  li
    a(href="/LL66-0BE") Doctors near LL66 0BE
  li
    a(href="/LL66-0BG") Doctors near LL66 0BG
  li
    a(href="/LL66-0BH") Doctors near LL66 0BH
  li
    a(href="/LL66-0BL") Doctors near LL66 0BL
  li
    a(href="/LL66-0BN") Doctors near LL66 0BN
  li
    a(href="/LL66-0BP") Doctors near LL66 0BP
  li
    a(href="/LL66-0BW") Doctors near LL66 0BW
  li
    a(href="/LL66-9AA") Doctors near LL66 9AA
  li
    a(href="/LL66-9AB") Doctors near LL66 9AB
