meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/LL70-9DJ") Doctors near LL70 9DJ
  li
    a(href="/LL70-9DQ") Doctors near LL70 9DQ
  li
    a(href="/LL70-9DX") Doctors near LL70 9DX
  li
    a(href="/LL70-9DZ") Doctors near LL70 9DZ
  li
    a(href="/LL70-9EJ") Doctors near LL70 9EJ
  li
    a(href="/LL70-9EQ") Doctors near LL70 9EQ
  li
    a(href="/LL70-9EX") Doctors near LL70 9EX
  li
    a(href="/LL70-9EZ") Doctors near LL70 9EZ
  li
    a(href="/LL70-9HJ") Doctors near LL70 9HJ
  li
    a(href="/LL70-9HQ") Doctors near LL70 9HQ
  li
    a(href="/LL70-9HX") Doctors near LL70 9HX
  li
    a(href="/LL70-9HZ") Doctors near LL70 9HZ
  li
    a(href="/LL70-9LJ") Doctors near LL70 9LJ
  li
    a(href="/LL70-9LQ") Doctors near LL70 9LQ
  li
    a(href="/LL70-9LX") Doctors near LL70 9LX
  li
    a(href="/LL70-9LZ") Doctors near LL70 9LZ
  li
    a(href="/LL70-9PJ") Doctors near LL70 9PJ
  li
    a(href="/LL70-9PQ") Doctors near LL70 9PQ
  li
    a(href="/LL70-9PX") Doctors near LL70 9PX
  li
    a(href="/LL70-9PZ") Doctors near LL70 9PZ
