meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/LL73-8NY") Doctors near LL73 8NY
  li
    a(href="/LL73-8PA") Doctors near LL73 8PA
  li
    a(href="/LL73-8PB") Doctors near LL73 8PB
  li
    a(href="/LL73-8PD") Doctors near LL73 8PD
  li
    a(href="/LL73-8PE") Doctors near LL73 8PE
  li
    a(href="/LL73-8PF") Doctors near LL73 8PF
  li
    a(href="/LL73-8PG") Doctors near LL73 8PG
  li
    a(href="/LL73-8PH") Doctors near LL73 8PH
  li
    a(href="/LL73-8PL") Doctors near LL73 8PL
  li
    a(href="/LL73-8PN") Doctors near LL73 8PN
  li
    a(href="/LL73-8PP") Doctors near LL73 8PP
  li
    a(href="/LL73-8PW") Doctors near LL73 8PW
