meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/LL76-8NX") Doctors near LL76 8NX
  li
    a(href="/LL76-8SJ") Doctors near LL76 8SJ
  li
    a(href="/LL76-8SQ") Doctors near LL76 8SQ
  li
    a(href="/LL76-8SX") Doctors near LL76 8SX
  li
    a(href="/LL76-8SZ") Doctors near LL76 8SZ
  li
    a(href="/LL76-8TJ") Doctors near LL76 8TJ
  li
    a(href="/LL76-8TQ") Doctors near LL76 8TQ
  li
    a(href="/LL76-8TX") Doctors near LL76 8TX
  li
    a(href="/LL76-8TZ") Doctors near LL76 8TZ
