meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SW1A") SW1A
  li
    a(href="/browse/SW1E") SW1E
  li
    a(href="/browse/SW1H") SW1H
  li
    a(href="/browse/SW1P") SW1P
  li
    a(href="/browse/SW1V") SW1V
  li
    a(href="/browse/SW1W") SW1W
  li
    a(href="/browse/SW1X") SW1X
  li
    a(href="/browse/SW1Y") SW1Y
  li
    a(href="/browse/W1B") W1B
  li
    a(href="/browse/W1C") W1C
  li
    a(href="/browse/W1D") W1D
  li
    a(href="/browse/W1F") W1F
  li
    a(href="/browse/W1J") W1J
  li
    a(href="/browse/W1K") W1K
  li
    a(href="/browse/W1S") W1S
  li
    a(href="/browse/WC2B") WC2B
  li
    a(href="/browse/WC2E") WC2E
  li
    a(href="/browse/WC2N") WC2N
  li
    a(href="/browse/WC2R") WC2R
