meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/ME1") ME1
  li
    a(href="/browse/ME2") ME2
  li
    a(href="/browse/ME3") ME3
  li
    a(href="/browse/ME4") ME4
  li
    a(href="/browse/ME5") ME5
  li
    a(href="/browse/ME7") ME7
  li
    a(href="/browse/ME8") ME8
