meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EH18") EH18
  li
    a(href="/browse/EH19") EH19
  li
    a(href="/browse/EH20") EH20
  li
    a(href="/browse/EH22") EH22
  li
    a(href="/browse/EH23") EH23
  li
    a(href="/browse/EH24") EH24
  li
    a(href="/browse/EH25") EH25
  li
    a(href="/browse/EH26") EH26
  li
    a(href="/browse/EH37") EH37
