meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/MK1") MK1
  li
    a(href="/browse/MK10") MK10
  li
    a(href="/browse/MK11") MK11
  li
    a(href="/browse/MK12") MK12
  li
    a(href="/browse/MK13") MK13
  li
    a(href="/browse/MK14") MK14
  li
    a(href="/browse/MK15") MK15
  li
    a(href="/browse/MK16") MK16
  li
    a(href="/browse/MK17") MK17
  li
    a(href="/browse/MK2") MK2
  li
    a(href="/browse/MK3") MK3
  li
    a(href="/browse/MK4") MK4
  li
    a(href="/browse/MK46") MK46
  li
    a(href="/browse/MK5") MK5
  li
    a(href="/browse/MK6") MK6
  li
    a(href="/browse/MK7") MK7
  li
    a(href="/browse/MK8") MK8
  li
    a(href="/browse/MK9") MK9
