meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NP15") NP15
  li
    a(href="/browse/NP16") NP16
  li
    a(href="/browse/NP25") NP25
  li
    a(href="/browse/NP26") NP26
  li
    a(href="/browse/NP7") NP7
