meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/AB37") AB37
  li
    a(href="/browse/AB38") AB38
  li
    a(href="/browse/AB55") AB55
  li
    a(href="/browse/AB56") AB56
  li
    a(href="/browse/IV30") IV30
  li
    a(href="/browse/IV31") IV31
  li
    a(href="/browse/IV32") IV32
  li
    a(href="/browse/IV36") IV36
