meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SA10") SA10
  li
    a(href="/browse/SA11") SA11
  li
    a(href="/browse/SA12") SA12
  li
    a(href="/browse/SA13") SA13
  li
    a(href="/browse/SA8") SA8
