meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NE1") NE1
  li
    a(href="/browse/NE13") NE13
  li
    a(href="/browse/NE15") NE15
  li
    a(href="/browse/NE2") NE2
  li
    a(href="/browse/NE3") NE3
  li
    a(href="/browse/NE4") NE4
  li
    a(href="/browse/NE5") NE5
  li
    a(href="/browse/NE6") NE6
  li
    a(href="/browse/NE7") NE7
  li
    a(href="/browse/NE99") NE99
