meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/IP20") IP20
  li
    a(href="/browse/IP24") IP24
  li
    a(href="/browse/IP25") IP25
  li
    a(href="/browse/IP26") IP26
  li
    a(href="/browse/NR1") NR1
  li
    a(href="/browse/NR10") NR10
  li
    a(href="/browse/NR11") NR11
  li
    a(href="/browse/NR12") NR12
  li
    a(href="/browse/NR13") NR13
  li
    a(href="/browse/NR14") NR14
  li
    a(href="/browse/NR15") NR15
  li
    a(href="/browse/NR16") NR16
  li
    a(href="/browse/NR17") NR17
  li
    a(href="/browse/NR18") NR18
  li
    a(href="/browse/NR19") NR19
  li
    a(href="/browse/NR2") NR2
  li
    a(href="/browse/NR20") NR20
  li
    a(href="/browse/NR21") NR21
  li
    a(href="/browse/NR22") NR22
  li
    a(href="/browse/NR23") NR23
  li
    a(href="/browse/NR24") NR24
  li
    a(href="/browse/NR25") NR25
  li
    a(href="/browse/NR26") NR26
  li
    a(href="/browse/NR27") NR27
  li
    a(href="/browse/NR28") NR28
  li
    a(href="/browse/NR29") NR29
  li
    a(href="/browse/NR3") NR3
  li
    a(href="/browse/NR30") NR30
  li
    a(href="/browse/NR31") NR31
  li
    a(href="/browse/NR4") NR4
  li
    a(href="/browse/NR5") NR5
  li
    a(href="/browse/NR6") NR6
  li
    a(href="/browse/NR8") NR8
  li
    a(href="/browse/NR9") NR9
  li
    a(href="/browse/PE14") PE14
  li
    a(href="/browse/PE30") PE30
  li
    a(href="/browse/PE31") PE31
  li
    a(href="/browse/PE32") PE32
  li
    a(href="/browse/PE33") PE33
  li
    a(href="/browse/PE34") PE34
  li
    a(href="/browse/PE35") PE35
  li
    a(href="/browse/PE36") PE36
  li
    a(href="/browse/PE37") PE37
  li
    a(href="/browse/PE38") PE38
