meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/G65") G65
  li
    a(href="/browse/G67") G67
  li
    a(href="/browse/G68") G68
  li
    a(href="/browse/ML1") ML1
  li
    a(href="/browse/ML2") ML2
  li
    a(href="/browse/ML4") ML4
  li
    a(href="/browse/ML5") ML5
  li
    a(href="/browse/ML6") ML6
  li
    a(href="/browse/ML7") ML7
