meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BS20") BS20
  li
    a(href="/browse/BS21") BS21
  li
    a(href="/browse/BS22") BS22
  li
    a(href="/browse/BS23") BS23
  li
    a(href="/browse/BS24") BS24
  li
    a(href="/browse/BS25") BS25
  li
    a(href="/browse/BS29") BS29
  li
    a(href="/browse/BS41") BS41
  li
    a(href="/browse/BS48") BS48
  li
    a(href="/browse/BS49") BS49
