meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/KA11") KA11
  li
    a(href="/browse/KA12") KA12
  li
    a(href="/browse/KA13") KA13
  li
    a(href="/browse/KA14") KA14
  li
    a(href="/browse/KA15") KA15
  li
    a(href="/browse/KA20") KA20
  li
    a(href="/browse/KA21") KA21
  li
    a(href="/browse/KA22") KA22
  li
    a(href="/browse/KA23") KA23
  li
    a(href="/browse/KA24") KA24
  li
    a(href="/browse/KA25") KA25
  li
    a(href="/browse/KA27") KA27
  li
    a(href="/browse/KA28") KA28
  li
    a(href="/browse/KA29") KA29
  li
    a(href="/browse/KA30") KA30
  li
    a(href="/browse/PA17") PA17
