meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DN15") DN15
  li
    a(href="/browse/DN16") DN16
  li
    a(href="/browse/DN17") DN17
  li
    a(href="/browse/DN18") DN18
  li
    a(href="/browse/DN19") DN19
  li
    a(href="/browse/DN20") DN20
  li
    a(href="/browse/DN39") DN39
  li
    a(href="/browse/DN9") DN9
