meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DN31") DN31
  li
    a(href="/browse/DN32") DN32
  li
    a(href="/browse/DN33") DN33
  li
    a(href="/browse/DN34") DN34
  li
    a(href="/browse/DN35") DN35
  li
    a(href="/browse/DN37") DN37
  li
    a(href="/browse/DN40") DN40
  li
    a(href="/browse/DN41") DN41
