meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BD23") BD23
  li
    a(href="/browse/BD24") BD24
  li
    a(href="/browse/DL10") DL10
  li
    a(href="/browse/DL11") DL11
  li
    a(href="/browse/DL6") DL6
  li
    a(href="/browse/DL7") DL7
  li
    a(href="/browse/DL8") DL8
  li
    a(href="/browse/DL9") DL9
  li
    a(href="/browse/HG1") HG1
  li
    a(href="/browse/HG2") HG2
  li
    a(href="/browse/HG3") HG3
  li
    a(href="/browse/HG4") HG4
  li
    a(href="/browse/HG5") HG5
  li
    a(href="/browse/LS24") LS24
  li
    a(href="/browse/TS9") TS9
  li
    a(href="/browse/YO11") YO11
  li
    a(href="/browse/YO12") YO12
  li
    a(href="/browse/YO13") YO13
  li
    a(href="/browse/YO14") YO14
  li
    a(href="/browse/YO17") YO17
  li
    a(href="/browse/YO18") YO18
  li
    a(href="/browse/YO21") YO21
  li
    a(href="/browse/YO22") YO22
  li
    a(href="/browse/YO51") YO51
  li
    a(href="/browse/YO60") YO60
  li
    a(href="/browse/YO61") YO61
  li
    a(href="/browse/YO62") YO62
  li
    a(href="/browse/YO7") YO7
  li
    a(href="/browse/YO8") YO8
