meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NE12") NE12
  li
    a(href="/browse/NE25") NE25
  li
    a(href="/browse/NE26") NE26
  li
    a(href="/browse/NE27") NE27
  li
    a(href="/browse/NE28") NE28
  li
    a(href="/browse/NE29") NE29
  li
    a(href="/browse/NE30") NE30
