meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NG1") NG1
  li
    a(href="/browse/NG11") NG11
  li
    a(href="/browse/NG3") NG3
  li
    a(href="/browse/NG5") NG5
  li
    a(href="/browse/NG6") NG6
  li
    a(href="/browse/NG7") NG7
  li
    a(href="/browse/NG8") NG8
