meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/OX1") OX1
  li
    a(href="/browse/OX10") OX10
  li
    a(href="/browse/OX11") OX11
  li
    a(href="/browse/OX12") OX12
  li
    a(href="/browse/OX13") OX13
  li
    a(href="/browse/OX14") OX14
  li
    a(href="/browse/OX15") OX15
  li
    a(href="/browse/OX16") OX16
  li
    a(href="/browse/OX18") OX18
  li
    a(href="/browse/OX2") OX2
  li
    a(href="/browse/OX20") OX20
  li
    a(href="/browse/OX25") OX25
  li
    a(href="/browse/OX26") OX26
  li
    a(href="/browse/OX27") OX27
  li
    a(href="/browse/OX28") OX28
  li
    a(href="/browse/OX29") OX29
  li
    a(href="/browse/OX3") OX3
  li
    a(href="/browse/OX33") OX33
  li
    a(href="/browse/OX39") OX39
  li
    a(href="/browse/OX4") OX4
  li
    a(href="/browse/OX44") OX44
  li
    a(href="/browse/OX49") OX49
  li
    a(href="/browse/OX5") OX5
  li
    a(href="/browse/OX7") OX7
  li
    a(href="/browse/OX9") OX9
  li
    a(href="/browse/RG8") RG8
  li
    a(href="/browse/RG9") RG9
  li
    a(href="/browse/SN7") SN7
