meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA21-2AA") Doctors near PA21 2AA
  li
    a(href="/PA21-2AB") Doctors near PA21 2AB
  li
    a(href="/PA21-2AD") Doctors near PA21 2AD
  li
    a(href="/PA21-2AE") Doctors near PA21 2AE
  li
    a(href="/PA21-2AF") Doctors near PA21 2AF
  li
    a(href="/PA21-2AG") Doctors near PA21 2AG
  li
    a(href="/PA21-2AH") Doctors near PA21 2AH
  li
    a(href="/PA21-2AQ") Doctors near PA21 2AQ
  li
    a(href="/PA21-2BA") Doctors near PA21 2BA
  li
    a(href="/PA21-2BB") Doctors near PA21 2BB
  li
    a(href="/PA21-2BD") Doctors near PA21 2BD
  li
    a(href="/PA21-2BE") Doctors near PA21 2BE
  li
    a(href="/PA21-2BF") Doctors near PA21 2BF
  li
    a(href="/PA21-2BG") Doctors near PA21 2BG
  li
    a(href="/PA21-2BH") Doctors near PA21 2BH
  li
    a(href="/PA21-2BJ") Doctors near PA21 2BJ
  li
    a(href="/PA21-2BL") Doctors near PA21 2BL
  li
    a(href="/PA21-2BN") Doctors near PA21 2BN
  li
    a(href="/PA21-2BP") Doctors near PA21 2BP
  li
    a(href="/PA21-2BQ") Doctors near PA21 2BQ
  li
    a(href="/PA21-2BS") Doctors near PA21 2BS
  li
    a(href="/PA21-2BU") Doctors near PA21 2BU
  li
    a(href="/PA21-2BW") Doctors near PA21 2BW
  li
    a(href="/PA21-2BY") Doctors near PA21 2BY
  li
    a(href="/PA21-2BZ") Doctors near PA21 2BZ
  li
    a(href="/PA21-2DA") Doctors near PA21 2DA
  li
    a(href="/PA21-2DH") Doctors near PA21 2DH
  li
    a(href="/PA21-2DR") Doctors near PA21 2DR
  li
    a(href="/PA21-2DS") Doctors near PA21 2DS
  li
    a(href="/PA21-2DT") Doctors near PA21 2DT
  li
    a(href="/PA21-2DU") Doctors near PA21 2DU
  li
    a(href="/PA21-2DX") Doctors near PA21 2DX
  li
    a(href="/PA21-2DY") Doctors near PA21 2DY
  li
    a(href="/PA21-2EA") Doctors near PA21 2EA
  li
    a(href="/PA21-2EB") Doctors near PA21 2EB
  li
    a(href="/PA21-2ED") Doctors near PA21 2ED
  li
    a(href="/PA21-2EE") Doctors near PA21 2EE
  li
    a(href="/PA21-2EG") Doctors near PA21 2EG
  li
    a(href="/PA21-2EH") Doctors near PA21 2EH
  li
    a(href="/PA21-2EJ") Doctors near PA21 2EJ
  li
    a(href="/PA21-2EP") Doctors near PA21 2EP
  li
    a(href="/PA21-2ER") Doctors near PA21 2ER
  li
    a(href="/PA21-2YG") Doctors near PA21 2YG
