meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA24-8AA") Doctors near PA24 8AA
  li
    a(href="/PA24-8AB") Doctors near PA24 8AB
  li
    a(href="/PA24-8AD") Doctors near PA24 8AD
  li
    a(href="/PA24-8AE") Doctors near PA24 8AE
  li
    a(href="/PA24-8AF") Doctors near PA24 8AF
  li
    a(href="/PA24-8AG") Doctors near PA24 8AG
  li
    a(href="/PA24-8AH") Doctors near PA24 8AH
  li
    a(href="/PA24-8AJ") Doctors near PA24 8AJ
  li
    a(href="/PA24-8AL") Doctors near PA24 8AL
  li
    a(href="/PA24-8AN") Doctors near PA24 8AN
  li
    a(href="/PA24-8AP") Doctors near PA24 8AP
  li
    a(href="/PA24-8AQ") Doctors near PA24 8AQ
  li
    a(href="/PA24-8AR") Doctors near PA24 8AR
  li
    a(href="/PA24-8AS") Doctors near PA24 8AS
