meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA25-8AZ") Doctors near PA25 8AZ
  li
    a(href="/PA25-8BA") Doctors near PA25 8BA
  li
    a(href="/PA25-8BB") Doctors near PA25 8BB
