meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA26-8BA") Doctors near PA26 8BA
  li
    a(href="/PA26-8BE") Doctors near PA26 8BE
  li
    a(href="/PA26-8BG") Doctors near PA26 8BG
  li
    a(href="/PA26-8BH") Doctors near PA26 8BH
  li
    a(href="/PA26-8BJ") Doctors near PA26 8BJ
  li
    a(href="/PA26-8BL") Doctors near PA26 8BL
  li
    a(href="/PA26-8BN") Doctors near PA26 8BN
  li
    a(href="/PA26-8BQ") Doctors near PA26 8BQ
