meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA27-8AB") Doctors near PA27 8AB
  li
    a(href="/PA27-8BU") Doctors near PA27 8BU
  li
    a(href="/PA27-8BW") Doctors near PA27 8BW
  li
    a(href="/PA27-8BX") Doctors near PA27 8BX
  li
    a(href="/PA27-8BY") Doctors near PA27 8BY
  li
    a(href="/PA27-8BZ") Doctors near PA27 8BZ
  li
    a(href="/PA27-8DA") Doctors near PA27 8DA
  li
    a(href="/PA27-8DB") Doctors near PA27 8DB
  li
    a(href="/PA27-8DD") Doctors near PA27 8DD
  li
    a(href="/PA27-8DE") Doctors near PA27 8DE
  li
    a(href="/PA27-8DF") Doctors near PA27 8DF
  li
    a(href="/PA27-8DG") Doctors near PA27 8DG
  li
    a(href="/PA27-8DH") Doctors near PA27 8DH
  li
    a(href="/PA27-8DJ") Doctors near PA27 8DJ
  li
    a(href="/PA27-8DL") Doctors near PA27 8DL
  li
    a(href="/PA27-8DN") Doctors near PA27 8DN
  li
    a(href="/PA27-8DP") Doctors near PA27 8DP
  li
    a(href="/PA27-8DQ") Doctors near PA27 8DQ
  li
    a(href="/PA27-8DR") Doctors near PA27 8DR
  li
    a(href="/PA27-8DS") Doctors near PA27 8DS
  li
    a(href="/PA27-8DW") Doctors near PA27 8DW
