meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA32-8TP") Doctors near PA32 8TP
  li
    a(href="/PA32-8TS") Doctors near PA32 8TS
  li
    a(href="/PA32-8TT") Doctors near PA32 8TT
  li
    a(href="/PA32-8TU") Doctors near PA32 8TU
  li
    a(href="/PA32-8TW") Doctors near PA32 8TW
  li
    a(href="/PA32-8TX") Doctors near PA32 8TX
  li
    a(href="/PA32-8TY") Doctors near PA32 8TY
  li
    a(href="/PA32-8TZ") Doctors near PA32 8TZ
  li
    a(href="/PA32-8UA") Doctors near PA32 8UA
  li
    a(href="/PA32-8UB") Doctors near PA32 8UB
  li
    a(href="/PA32-8UD") Doctors near PA32 8UD
  li
    a(href="/PA32-8UE") Doctors near PA32 8UE
  li
    a(href="/PA32-8UF") Doctors near PA32 8UF
  li
    a(href="/PA32-8UG") Doctors near PA32 8UG
  li
    a(href="/PA32-8UH") Doctors near PA32 8UH
  li
    a(href="/PA32-8UJ") Doctors near PA32 8UJ
  li
    a(href="/PA32-8UL") Doctors near PA32 8UL
  li
    a(href="/PA32-8UN") Doctors near PA32 8UN
  li
    a(href="/PA32-8UP") Doctors near PA32 8UP
  li
    a(href="/PA32-8UQ") Doctors near PA32 8UQ
  li
    a(href="/PA32-8UR") Doctors near PA32 8UR
  li
    a(href="/PA32-8UT") Doctors near PA32 8UT
  li
    a(href="/PA32-8UW") Doctors near PA32 8UW
  li
    a(href="/PA32-8UX") Doctors near PA32 8UX
  li
    a(href="/PA32-8UY") Doctors near PA32 8UY
  li
    a(href="/PA32-8XA") Doctors near PA32 8XA
  li
    a(href="/PA32-8XB") Doctors near PA32 8XB
  li
    a(href="/PA32-8XD") Doctors near PA32 8XD
  li
    a(href="/PA32-8XE") Doctors near PA32 8XE
  li
    a(href="/PA32-8XF") Doctors near PA32 8XF
  li
    a(href="/PA32-8XG") Doctors near PA32 8XG
  li
    a(href="/PA32-8XH") Doctors near PA32 8XH
  li
    a(href="/PA32-8XJ") Doctors near PA32 8XJ
  li
    a(href="/PA32-8XN") Doctors near PA32 8XN
  li
    a(href="/PA32-8XP") Doctors near PA32 8XP
  li
    a(href="/PA32-8XQ") Doctors near PA32 8XQ
  li
    a(href="/PA32-8XR") Doctors near PA32 8XR
  li
    a(href="/PA32-8XS") Doctors near PA32 8XS
  li
    a(href="/PA32-8XT") Doctors near PA32 8XT
  li
    a(href="/PA32-8XU") Doctors near PA32 8XU
  li
    a(href="/PA32-8XW") Doctors near PA32 8XW
  li
    a(href="/PA32-8XX") Doctors near PA32 8XX
  li
    a(href="/PA32-8XY") Doctors near PA32 8XY
  li
    a(href="/PA32-8XZ") Doctors near PA32 8XZ
  li
    a(href="/PA32-8YA") Doctors near PA32 8YA
  li
    a(href="/PA32-8YB") Doctors near PA32 8YB
  li
    a(href="/PA32-8YD") Doctors near PA32 8YD
  li
    a(href="/PA32-8YE") Doctors near PA32 8YE
  li
    a(href="/PA32-8YF") Doctors near PA32 8YF
  li
    a(href="/PA32-8YG") Doctors near PA32 8YG
  li
    a(href="/PA32-8YH") Doctors near PA32 8YH
  li
    a(href="/PA32-8YN") Doctors near PA32 8YN
  li
    a(href="/PA32-8YP") Doctors near PA32 8YP
  li
    a(href="/PA32-8YQ") Doctors near PA32 8YQ
  li
    a(href="/PA32-8YX") Doctors near PA32 8YX
  li
    a(href="/PA32-8YY") Doctors near PA32 8YY
