meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA33-1AA") Doctors near PA33 1AA
  li
    a(href="/PA33-1AE") Doctors near PA33 1AE
  li
    a(href="/PA33-1AF") Doctors near PA33 1AF
  li
    a(href="/PA33-1AH") Doctors near PA33 1AH
  li
    a(href="/PA33-1AJ") Doctors near PA33 1AJ
  li
    a(href="/PA33-1AL") Doctors near PA33 1AL
  li
    a(href="/PA33-1AN") Doctors near PA33 1AN
  li
    a(href="/PA33-1AP") Doctors near PA33 1AP
  li
    a(href="/PA33-1AQ") Doctors near PA33 1AQ
  li
    a(href="/PA33-1AR") Doctors near PA33 1AR
  li
    a(href="/PA33-1AS") Doctors near PA33 1AS
  li
    a(href="/PA33-1AT") Doctors near PA33 1AT
  li
    a(href="/PA33-1AU") Doctors near PA33 1AU
  li
    a(href="/PA33-1AW") Doctors near PA33 1AW
  li
    a(href="/PA33-1AX") Doctors near PA33 1AX
  li
    a(href="/PA33-1AY") Doctors near PA33 1AY
  li
    a(href="/PA33-1AZ") Doctors near PA33 1AZ
  li
    a(href="/PA33-1BA") Doctors near PA33 1BA
  li
    a(href="/PA33-1BB") Doctors near PA33 1BB
  li
    a(href="/PA33-1BD") Doctors near PA33 1BD
  li
    a(href="/PA33-1BE") Doctors near PA33 1BE
  li
    a(href="/PA33-1BH") Doctors near PA33 1BH
  li
    a(href="/PA33-1BJ") Doctors near PA33 1BJ
  li
    a(href="/PA33-1BL") Doctors near PA33 1BL
  li
    a(href="/PA33-1BN") Doctors near PA33 1BN
  li
    a(href="/PA33-1BP") Doctors near PA33 1BP
  li
    a(href="/PA33-1BQ") Doctors near PA33 1BQ
  li
    a(href="/PA33-1BS") Doctors near PA33 1BS
  li
    a(href="/PA33-1BT") Doctors near PA33 1BT
  li
    a(href="/PA33-1BU") Doctors near PA33 1BU
  li
    a(href="/PA33-1BW") Doctors near PA33 1BW
  li
    a(href="/PA33-1BX") Doctors near PA33 1BX
  li
    a(href="/PA33-1WB") Doctors near PA33 1WB
  li
    a(href="/PA33-1WU") Doctors near PA33 1WU
  li
    a(href="/PA33-1WX") Doctors near PA33 1WX
