meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA35-1AG") Doctors near PA35 1AG
  li
    a(href="/PA35-1HD") Doctors near PA35 1HD
  li
    a(href="/PA35-1HE") Doctors near PA35 1HE
  li
    a(href="/PA35-1HF") Doctors near PA35 1HF
  li
    a(href="/PA35-1HG") Doctors near PA35 1HG
  li
    a(href="/PA35-1HH") Doctors near PA35 1HH
  li
    a(href="/PA35-1HJ") Doctors near PA35 1HJ
  li
    a(href="/PA35-1HL") Doctors near PA35 1HL
  li
    a(href="/PA35-1HN") Doctors near PA35 1HN
  li
    a(href="/PA35-1HP") Doctors near PA35 1HP
  li
    a(href="/PA35-1HQ") Doctors near PA35 1HQ
  li
    a(href="/PA35-1HR") Doctors near PA35 1HR
  li
    a(href="/PA35-1HS") Doctors near PA35 1HS
  li
    a(href="/PA35-1HT") Doctors near PA35 1HT
  li
    a(href="/PA35-1HU") Doctors near PA35 1HU
  li
    a(href="/PA35-1HW") Doctors near PA35 1HW
  li
    a(href="/PA35-1HY") Doctors near PA35 1HY
  li
    a(href="/PA35-1HZ") Doctors near PA35 1HZ
  li
    a(href="/PA35-1JA") Doctors near PA35 1JA
  li
    a(href="/PA35-1JB") Doctors near PA35 1JB
  li
    a(href="/PA35-1JD") Doctors near PA35 1JD
  li
    a(href="/PA35-1JE") Doctors near PA35 1JE
  li
    a(href="/PA35-1JF") Doctors near PA35 1JF
  li
    a(href="/PA35-1JG") Doctors near PA35 1JG
  li
    a(href="/PA35-1JH") Doctors near PA35 1JH
  li
    a(href="/PA35-1JJ") Doctors near PA35 1JJ
  li
    a(href="/PA35-1JL") Doctors near PA35 1JL
  li
    a(href="/PA35-1JN") Doctors near PA35 1JN
  li
    a(href="/PA35-1JP") Doctors near PA35 1JP
  li
    a(href="/PA35-1JQ") Doctors near PA35 1JQ
  li
    a(href="/PA35-1JR") Doctors near PA35 1JR
  li
    a(href="/PA35-1JS") Doctors near PA35 1JS
  li
    a(href="/PA35-1JT") Doctors near PA35 1JT
  li
    a(href="/PA35-1JU") Doctors near PA35 1JU
  li
    a(href="/PA35-1JW") Doctors near PA35 1JW
  li
    a(href="/PA35-1JX") Doctors near PA35 1JX
  li
    a(href="/PA35-1JY") Doctors near PA35 1JY
  li
    a(href="/PA35-1WX") Doctors near PA35 1WX
  li
    a(href="/PA35-1WZ") Doctors near PA35 1WZ
