meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA36-4AA") Doctors near PA36 4AA
  li
    a(href="/PA36-4AB") Doctors near PA36 4AB
  li
    a(href="/PA36-4AD") Doctors near PA36 4AD
  li
    a(href="/PA36-4AE") Doctors near PA36 4AE
  li
    a(href="/PA36-4AF") Doctors near PA36 4AF
  li
    a(href="/PA36-4AG") Doctors near PA36 4AG
  li
    a(href="/PA36-4AH") Doctors near PA36 4AH
  li
    a(href="/PA36-4AQ") Doctors near PA36 4AQ
