meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA38-4BA") Doctors near PA38 4BA
  li
    a(href="/PA38-4BB") Doctors near PA38 4BB
  li
    a(href="/PA38-4BD") Doctors near PA38 4BD
  li
    a(href="/PA38-4BE") Doctors near PA38 4BE
  li
    a(href="/PA38-4BF") Doctors near PA38 4BF
  li
    a(href="/PA38-4BG") Doctors near PA38 4BG
  li
    a(href="/PA38-4BH") Doctors near PA38 4BH
  li
    a(href="/PA38-4BJ") Doctors near PA38 4BJ
  li
    a(href="/PA38-4BL") Doctors near PA38 4BL
  li
    a(href="/PA38-4BN") Doctors near PA38 4BN
  li
    a(href="/PA38-4BP") Doctors near PA38 4BP
  li
    a(href="/PA38-4BQ") Doctors near PA38 4BQ
  li
    a(href="/PA38-4BS") Doctors near PA38 4BS
  li
    a(href="/PA38-4BT") Doctors near PA38 4BT
  li
    a(href="/PA38-4BU") Doctors near PA38 4BU
  li
    a(href="/PA38-4BW") Doctors near PA38 4BW
  li
    a(href="/PA38-4BX") Doctors near PA38 4BX
  li
    a(href="/PA38-4BY") Doctors near PA38 4BY
  li
    a(href="/PA38-4BZ") Doctors near PA38 4BZ
  li
    a(href="/PA38-4DA") Doctors near PA38 4DA
  li
    a(href="/PA38-4DB") Doctors near PA38 4DB
  li
    a(href="/PA38-4DD") Doctors near PA38 4DD
  li
    a(href="/PA38-4DE") Doctors near PA38 4DE
  li
    a(href="/PA38-4DF") Doctors near PA38 4DF
  li
    a(href="/PA38-4DG") Doctors near PA38 4DG
  li
    a(href="/PA38-4DH") Doctors near PA38 4DH
  li
    a(href="/PA38-4DL") Doctors near PA38 4DL
  li
    a(href="/PA38-4DN") Doctors near PA38 4DN
  li
    a(href="/PA38-4DQ") Doctors near PA38 4DQ
  li
    a(href="/PA38-4DR") Doctors near PA38 4DR
  li
    a(href="/PA38-4DS") Doctors near PA38 4DS
