meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA41-7AA") Doctors near PA41 7AA
  li
    a(href="/PA41-7AB") Doctors near PA41 7AB
  li
    a(href="/PA41-7AD") Doctors near PA41 7AD
  li
    a(href="/PA41-7AE") Doctors near PA41 7AE
  li
    a(href="/PA41-7AG") Doctors near PA41 7AG
