meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA43-7HL") Doctors near PA43 7HL
  li
    a(href="/PA43-7HP") Doctors near PA43 7HP
  li
    a(href="/PA43-7HR") Doctors near PA43 7HR
  li
    a(href="/PA43-7HS") Doctors near PA43 7HS
  li
    a(href="/PA43-7HT") Doctors near PA43 7HT
  li
    a(href="/PA43-7HU") Doctors near PA43 7HU
  li
    a(href="/PA43-7HX") Doctors near PA43 7HX
  li
    a(href="/PA43-7HY") Doctors near PA43 7HY
  li
    a(href="/PA43-7HZ") Doctors near PA43 7HZ
  li
    a(href="/PA43-7JA") Doctors near PA43 7JA
  li
    a(href="/PA43-7JB") Doctors near PA43 7JB
  li
    a(href="/PA43-7JD") Doctors near PA43 7JD
  li
    a(href="/PA43-7JE") Doctors near PA43 7JE
  li
    a(href="/PA43-7JF") Doctors near PA43 7JF
  li
    a(href="/PA43-7JG") Doctors near PA43 7JG
  li
    a(href="/PA43-7JH") Doctors near PA43 7JH
  li
    a(href="/PA43-7JJ") Doctors near PA43 7JJ
  li
    a(href="/PA43-7JP") Doctors near PA43 7JP
  li
    a(href="/PA43-7JQ") Doctors near PA43 7JQ
  li
    a(href="/PA43-7JR") Doctors near PA43 7JR
  li
    a(href="/PA43-7JS") Doctors near PA43 7JS
  li
    a(href="/PA43-7JW") Doctors near PA43 7JW
  li
    a(href="/PA43-7JX") Doctors near PA43 7JX
  li
    a(href="/PA43-7JY") Doctors near PA43 7JY
  li
    a(href="/PA43-7JZ") Doctors near PA43 7JZ
  li
    a(href="/PA43-7LA") Doctors near PA43 7LA
  li
    a(href="/PA43-7LB") Doctors near PA43 7LB
  li
    a(href="/PA43-7LD") Doctors near PA43 7LD
  li
    a(href="/PA43-7LF") Doctors near PA43 7LF
  li
    a(href="/PA43-7LG") Doctors near PA43 7LG
  li
    a(href="/PA43-7LH") Doctors near PA43 7LH
  li
    a(href="/PA43-7LL") Doctors near PA43 7LL
  li
    a(href="/PA43-7LN") Doctors near PA43 7LN
  li
    a(href="/PA43-7LP") Doctors near PA43 7LP
  li
    a(href="/PA43-7LS") Doctors near PA43 7LS
  li
    a(href="/PA43-7LW") Doctors near PA43 7LW
  li
    a(href="/PA43-7WA") Doctors near PA43 7WA
