meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA44-7NY") Doctors near PA44 7NY
  li
    a(href="/PA44-7NZ") Doctors near PA44 7NZ
  li
    a(href="/PA44-7PA") Doctors near PA44 7PA
  li
    a(href="/PA44-7PB") Doctors near PA44 7PB
  li
    a(href="/PA44-7PD") Doctors near PA44 7PD
  li
    a(href="/PA44-7PF") Doctors near PA44 7PF
  li
    a(href="/PA44-7PG") Doctors near PA44 7PG
  li
    a(href="/PA44-7PJ") Doctors near PA44 7PJ
  li
    a(href="/PA44-7PL") Doctors near PA44 7PL
  li
    a(href="/PA44-7PN") Doctors near PA44 7PN
  li
    a(href="/PA44-7PP") Doctors near PA44 7PP
  li
    a(href="/PA44-7PQ") Doctors near PA44 7PQ
  li
    a(href="/PA44-7PR") Doctors near PA44 7PR
  li
    a(href="/PA44-7PS") Doctors near PA44 7PS
  li
    a(href="/PA44-7PT") Doctors near PA44 7PT
  li
    a(href="/PA44-7PU") Doctors near PA44 7PU
  li
    a(href="/PA44-7PW") Doctors near PA44 7PW
  li
    a(href="/PA44-7PX") Doctors near PA44 7PX
  li
    a(href="/PA44-7PY") Doctors near PA44 7PY
  li
    a(href="/PA44-7PZ") Doctors near PA44 7PZ
