meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA45-7QL") Doctors near PA45 7QL
  li
    a(href="/PA45-7QN") Doctors near PA45 7QN
  li
    a(href="/PA45-7QP") Doctors near PA45 7QP
  li
    a(href="/PA45-7QR") Doctors near PA45 7QR
  li
    a(href="/PA45-7QS") Doctors near PA45 7QS
  li
    a(href="/PA45-7QT") Doctors near PA45 7QT
  li
    a(href="/PA45-7QW") Doctors near PA45 7QW
