meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA46-7RB") Doctors near PA46 7RB
  li
    a(href="/PA46-7RD") Doctors near PA46 7RD
  li
    a(href="/PA46-7RE") Doctors near PA46 7RE
  li
    a(href="/PA46-7RF") Doctors near PA46 7RF
  li
    a(href="/PA46-7RG") Doctors near PA46 7RG
  li
    a(href="/PA46-7RJ") Doctors near PA46 7RJ
  li
    a(href="/PA46-7RL") Doctors near PA46 7RL
  li
    a(href="/PA46-7RN") Doctors near PA46 7RN
  li
    a(href="/PA46-7RP") Doctors near PA46 7RP
  li
    a(href="/PA46-7RQ") Doctors near PA46 7RQ
  li
    a(href="/PA46-7RR") Doctors near PA46 7RR
  li
    a(href="/PA46-7RS") Doctors near PA46 7RS
  li
    a(href="/PA46-7RT") Doctors near PA46 7RT
  li
    a(href="/PA46-7RU") Doctors near PA46 7RU
  li
    a(href="/PA46-7RW") Doctors near PA46 7RW
