meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA47-7SG") Doctors near PA47 7SG
  li
    a(href="/PA47-7SH") Doctors near PA47 7SH
  li
    a(href="/PA47-7SJ") Doctors near PA47 7SJ
  li
    a(href="/PA47-7SL") Doctors near PA47 7SL
  li
    a(href="/PA47-7SN") Doctors near PA47 7SN
  li
    a(href="/PA47-7SP") Doctors near PA47 7SP
  li
    a(href="/PA47-7SQ") Doctors near PA47 7SQ
  li
    a(href="/PA47-7SR") Doctors near PA47 7SR
  li
    a(href="/PA47-7SS") Doctors near PA47 7SS
  li
    a(href="/PA47-7ST") Doctors near PA47 7ST
  li
    a(href="/PA47-7SU") Doctors near PA47 7SU
  li
    a(href="/PA47-7SW") Doctors near PA47 7SW
  li
    a(href="/PA47-7SX") Doctors near PA47 7SX
  li
    a(href="/PA47-7SY") Doctors near PA47 7SY
  li
    a(href="/PA47-7SZ") Doctors near PA47 7SZ
