meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA48-7TL") Doctors near PA48 7TL
  li
    a(href="/PA48-7TN") Doctors near PA48 7TN
  li
    a(href="/PA48-7TP") Doctors near PA48 7TP
  li
    a(href="/PA48-7TR") Doctors near PA48 7TR
  li
    a(href="/PA48-7TS") Doctors near PA48 7TS
  li
    a(href="/PA48-7TT") Doctors near PA48 7TT
  li
    a(href="/PA48-7TU") Doctors near PA48 7TU
  li
    a(href="/PA48-7TW") Doctors near PA48 7TW
  li
    a(href="/PA48-7TX") Doctors near PA48 7TX
  li
    a(href="/PA48-7TY") Doctors near PA48 7TY
  li
    a(href="/PA48-7UA") Doctors near PA48 7UA
  li
    a(href="/PA48-7UB") Doctors near PA48 7UB
  li
    a(href="/PA48-7UD") Doctors near PA48 7UD
  li
    a(href="/PA48-7UE") Doctors near PA48 7UE
  li
    a(href="/PA48-7UF") Doctors near PA48 7UF
  li
    a(href="/PA48-7UG") Doctors near PA48 7UG
