meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA49-7UN") Doctors near PA49 7UN
  li
    a(href="/PA49-7UR") Doctors near PA49 7UR
  li
    a(href="/PA49-7UT") Doctors near PA49 7UT
  li
    a(href="/PA49-7UU") Doctors near PA49 7UU
  li
    a(href="/PA49-7UX") Doctors near PA49 7UX
  li
    a(href="/PA49-7UY") Doctors near PA49 7UY
