meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA65-6AY") Doctors near PA65 6AY
  li
    a(href="/PA65-6AZ") Doctors near PA65 6AZ
  li
    a(href="/PA65-6BA") Doctors near PA65 6BA
  li
    a(href="/PA65-6BB") Doctors near PA65 6BB
  li
    a(href="/PA65-6BD") Doctors near PA65 6BD
  li
    a(href="/PA65-6BE") Doctors near PA65 6BE
  li
    a(href="/PA65-6BG") Doctors near PA65 6BG
