meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA66-6BH") Doctors near PA66 6BH
  li
    a(href="/PA66-6BL") Doctors near PA66 6BL
  li
    a(href="/PA66-6BN") Doctors near PA66 6BN
  li
    a(href="/PA66-6BP") Doctors near PA66 6BP
  li
    a(href="/PA66-6BS") Doctors near PA66 6BS
  li
    a(href="/PA66-6BT") Doctors near PA66 6BT
  li
    a(href="/PA66-6BU") Doctors near PA66 6BU
  li
    a(href="/PA66-6BW") Doctors near PA66 6BW
