meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA67-6DA") Doctors near PA67 6DA
  li
    a(href="/PA67-6DG") Doctors near PA67 6DG
  li
    a(href="/PA67-6DH") Doctors near PA67 6DH
  li
    a(href="/PA67-6DJ") Doctors near PA67 6DJ
  li
    a(href="/PA67-6DL") Doctors near PA67 6DL
  li
    a(href="/PA67-6DN") Doctors near PA67 6DN
  li
    a(href="/PA67-6DP") Doctors near PA67 6DP
  li
    a(href="/PA67-6DQ") Doctors near PA67 6DQ
  li
    a(href="/PA67-6DR") Doctors near PA67 6DR
  li
    a(href="/PA67-6DS") Doctors near PA67 6DS
  li
    a(href="/PA67-6DT") Doctors near PA67 6DT
  li
    a(href="/PA67-6DU") Doctors near PA67 6DU
  li
    a(href="/PA67-6DW") Doctors near PA67 6DW
  li
    a(href="/PA67-6DX") Doctors near PA67 6DX
