meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA68-6EH") Doctors near PA68 6EH
  li
    a(href="/PA68-6EJ") Doctors near PA68 6EJ
  li
    a(href="/PA68-6EL") Doctors near PA68 6EL
