meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA69-6ER") Doctors near PA69 6ER
  li
    a(href="/PA69-6ES") Doctors near PA69 6ES
  li
    a(href="/PA69-6ET") Doctors near PA69 6ET
  li
    a(href="/PA69-6EU") Doctors near PA69 6EU
