meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA70-6HB") Doctors near PA70 6HB
  li
    a(href="/PA70-6HD") Doctors near PA70 6HD
  li
    a(href="/PA70-6HE") Doctors near PA70 6HE
  li
    a(href="/PA70-6HF") Doctors near PA70 6HF
  li
    a(href="/PA70-6HG") Doctors near PA70 6HG
  li
    a(href="/PA70-6HQ") Doctors near PA70 6HQ
