meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA71-6HR") Doctors near PA71 6HR
  li
    a(href="/PA71-6HS") Doctors near PA71 6HS
  li
    a(href="/PA71-6HT") Doctors near PA71 6HT
  li
    a(href="/PA71-6HU") Doctors near PA71 6HU
