meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA73-6LT") Doctors near PA73 6LT
  li
    a(href="/PA73-6LU") Doctors near PA73 6LU
  li
    a(href="/PA73-6LX") Doctors near PA73 6LX
  li
    a(href="/PA73-6LY") Doctors near PA73 6LY
  li
    a(href="/PA73-6LZ") Doctors near PA73 6LZ
  li
    a(href="/PA73-6NA") Doctors near PA73 6NA
