meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA76-6SJ") Doctors near PA76 6SJ
  li
    a(href="/PA76-6SL") Doctors near PA76 6SL
  li
    a(href="/PA76-6SN") Doctors near PA76 6SN
  li
    a(href="/PA76-6SP") Doctors near PA76 6SP
  li
    a(href="/PA76-6SQ") Doctors near PA76 6SQ
  li
    a(href="/PA76-6SW") Doctors near PA76 6SW
