meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PA78-6SY") Doctors near PA78 6SY
  li
    a(href="/PA78-6SZ") Doctors near PA78 6SZ
  li
    a(href="/PA78-6TA") Doctors near PA78 6TA
  li
    a(href="/PA78-6TB") Doctors near PA78 6TB
  li
    a(href="/PA78-6TE") Doctors near PA78 6TE
