meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PE35-6EA") Doctors near PE35 6EA
  li
    a(href="/PE35-6EB") Doctors near PE35 6EB
  li
    a(href="/PE35-6ED") Doctors near PE35 6ED
  li
    a(href="/PE35-6EE") Doctors near PE35 6EE
  li
    a(href="/PE35-6EF") Doctors near PE35 6EF
  li
    a(href="/PE35-6EG") Doctors near PE35 6EG
  li
    a(href="/PE35-6EH") Doctors near PE35 6EH
  li
    a(href="/PE35-6EJ") Doctors near PE35 6EJ
  li
    a(href="/PE35-6EN") Doctors near PE35 6EN
  li
    a(href="/PE35-6EP") Doctors near PE35 6EP
  li
    a(href="/PE35-6EQ") Doctors near PE35 6EQ
  li
    a(href="/PE35-6EZ") Doctors near PE35 6EZ
