meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SA35") SA35
  li
    a(href="/browse/SA36") SA36
  li
    a(href="/browse/SA37") SA37
  li
    a(href="/browse/SA41") SA41
  li
    a(href="/browse/SA42") SA42
  li
    a(href="/browse/SA61") SA61
  li
    a(href="/browse/SA62") SA62
  li
    a(href="/browse/SA63") SA63
  li
    a(href="/browse/SA64") SA64
  li
    a(href="/browse/SA65") SA65
  li
    a(href="/browse/SA66") SA66
  li
    a(href="/browse/SA67") SA67
  li
    a(href="/browse/SA68") SA68
  li
    a(href="/browse/SA69") SA69
  li
    a(href="/browse/SA70") SA70
  li
    a(href="/browse/SA71") SA71
  li
    a(href="/browse/SA72") SA72
  li
    a(href="/browse/SA73") SA73
