meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/KY13") KY13
  li
    a(href="/browse/PH1") PH1
  li
    a(href="/browse/PH10") PH10
  li
    a(href="/browse/PH11") PH11
  li
    a(href="/browse/PH12") PH12
  li
    a(href="/browse/PH13") PH13
  li
    a(href="/browse/PH14") PH14
  li
    a(href="/browse/PH15") PH15
  li
    a(href="/browse/PH16") PH16
  li
    a(href="/browse/PH17") PH17
  li
    a(href="/browse/PH18") PH18
  li
    a(href="/browse/PH2") PH2
  li
    a(href="/browse/PH3") PH3
  li
    a(href="/browse/PH4") PH4
  li
    a(href="/browse/PH5") PH5
  li
    a(href="/browse/PH6") PH6
  li
    a(href="/browse/PH7") PH7
  li
    a(href="/browse/PH8") PH8
  li
    a(href="/browse/PH9") PH9
