meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PE1") PE1
  li
    a(href="/browse/PE2") PE2
  li
    a(href="/browse/PE3") PE3
  li
    a(href="/browse/PE4") PE4
  li
    a(href="/browse/PE5") PE5
