meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH17-2QA") Doctors near PH17 2QA
  li
    a(href="/PH17-2QB") Doctors near PH17 2QB
  li
    a(href="/PH17-2QD") Doctors near PH17 2QD
  li
    a(href="/PH17-2QE") Doctors near PH17 2QE
  li
    a(href="/PH17-2QF") Doctors near PH17 2QF
  li
    a(href="/PH17-2QG") Doctors near PH17 2QG
  li
    a(href="/PH17-2QH") Doctors near PH17 2QH
  li
    a(href="/PH17-2QJ") Doctors near PH17 2QJ
  li
    a(href="/PH17-2QL") Doctors near PH17 2QL
  li
    a(href="/PH17-2QN") Doctors near PH17 2QN
  li
    a(href="/PH17-2QP") Doctors near PH17 2QP
  li
    a(href="/PH17-2QR") Doctors near PH17 2QR
  li
    a(href="/PH17-2QW") Doctors near PH17 2QW
