meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH19-1AA") Doctors near PH19 1AA
  li
    a(href="/PH19-1AB") Doctors near PH19 1AB
  li
    a(href="/PH19-1AD") Doctors near PH19 1AD
  li
    a(href="/PH19-1AE") Doctors near PH19 1AE
  li
    a(href="/PH19-1AF") Doctors near PH19 1AF
  li
    a(href="/PH19-1AG") Doctors near PH19 1AG
  li
    a(href="/PH19-1AH") Doctors near PH19 1AH
