meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH23-3AA") Doctors near PH23 3AA
  li
    a(href="/PH23-3AB") Doctors near PH23 3AB
  li
    a(href="/PH23-3AD") Doctors near PH23 3AD
  li
    a(href="/PH23-3AE") Doctors near PH23 3AE
  li
    a(href="/PH23-3AF") Doctors near PH23 3AF
  li
    a(href="/PH23-3AG") Doctors near PH23 3AG
  li
    a(href="/PH23-3AJ") Doctors near PH23 3AJ
  li
    a(href="/PH23-3AL") Doctors near PH23 3AL
  li
    a(href="/PH23-3AN") Doctors near PH23 3AN
  li
    a(href="/PH23-3AP") Doctors near PH23 3AP
  li
    a(href="/PH23-3AQ") Doctors near PH23 3AQ
  li
    a(href="/PH23-3AR") Doctors near PH23 3AR
  li
    a(href="/PH23-3AS") Doctors near PH23 3AS
  li
    a(href="/PH23-3AT") Doctors near PH23 3AT
  li
    a(href="/PH23-3AU") Doctors near PH23 3AU
  li
    a(href="/PH23-3AX") Doctors near PH23 3AX
  li
    a(href="/PH23-3AY") Doctors near PH23 3AY
  li
    a(href="/PH23-3AZ") Doctors near PH23 3AZ
  li
    a(href="/PH23-3BA") Doctors near PH23 3BA
  li
    a(href="/PH23-3BB") Doctors near PH23 3BB
  li
    a(href="/PH23-3BD") Doctors near PH23 3BD
  li
    a(href="/PH23-3BE") Doctors near PH23 3BE
  li
    a(href="/PH23-3BG") Doctors near PH23 3BG
  li
    a(href="/PH23-3BH") Doctors near PH23 3BH
  li
    a(href="/PH23-3BX") Doctors near PH23 3BX
  li
    a(href="/PH23-3DA") Doctors near PH23 3DA
  li
    a(href="/PH23-3NA") Doctors near PH23 3NA
  li
    a(href="/PH23-3NB") Doctors near PH23 3NB
  li
    a(href="/PH23-3ND") Doctors near PH23 3ND
