meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH24-3AZ") Doctors near PH24 3AZ
  li
    a(href="/PH24-3BA") Doctors near PH24 3BA
  li
    a(href="/PH24-3BB") Doctors near PH24 3BB
  li
    a(href="/PH24-3BD") Doctors near PH24 3BD
  li
    a(href="/PH24-3BE") Doctors near PH24 3BE
  li
    a(href="/PH24-3BG") Doctors near PH24 3BG
  li
    a(href="/PH24-3BH") Doctors near PH24 3BH
  li
    a(href="/PH24-3BJ") Doctors near PH24 3BJ
  li
    a(href="/PH24-3BL") Doctors near PH24 3BL
  li
    a(href="/PH24-3BN") Doctors near PH24 3BN
  li
    a(href="/PH24-3BP") Doctors near PH24 3BP
  li
    a(href="/PH24-3BQ") Doctors near PH24 3BQ
  li
    a(href="/PH24-3BS") Doctors near PH24 3BS
  li
    a(href="/PH24-3BT") Doctors near PH24 3BT
  li
    a(href="/PH24-3BU") Doctors near PH24 3BU
  li
    a(href="/PH24-3BW") Doctors near PH24 3BW
  li
    a(href="/PH24-3BX") Doctors near PH24 3BX
  li
    a(href="/PH24-3BY") Doctors near PH24 3BY
  li
    a(href="/PH24-3BZ") Doctors near PH24 3BZ
  li
    a(href="/PH24-3JA") Doctors near PH24 3JA
  li
    a(href="/PH24-3WW") Doctors near PH24 3WW
  li
    a(href="/PH24-3WX") Doctors near PH24 3WX
