meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH25-3AB") Doctors near PH25 3AB
  li
    a(href="/PH25-3DA") Doctors near PH25 3DA
  li
    a(href="/PH25-3DB") Doctors near PH25 3DB
  li
    a(href="/PH25-3DD") Doctors near PH25 3DD
  li
    a(href="/PH25-3DE") Doctors near PH25 3DE
  li
    a(href="/PH25-3DF") Doctors near PH25 3DF
  li
    a(href="/PH25-3DG") Doctors near PH25 3DG
  li
    a(href="/PH25-3DH") Doctors near PH25 3DH
  li
    a(href="/PH25-3DJ") Doctors near PH25 3DJ
  li
    a(href="/PH25-3DL") Doctors near PH25 3DL
  li
    a(href="/PH25-3DN") Doctors near PH25 3DN
  li
    a(href="/PH25-3DP") Doctors near PH25 3DP
  li
    a(href="/PH25-3DQ") Doctors near PH25 3DQ
  li
    a(href="/PH25-3DR") Doctors near PH25 3DR
  li
    a(href="/PH25-3DS") Doctors near PH25 3DS
  li
    a(href="/PH25-3DT") Doctors near PH25 3DT
  li
    a(href="/PH25-3DU") Doctors near PH25 3DU
  li
    a(href="/PH25-3DW") Doctors near PH25 3DW
  li
    a(href="/PH25-3DX") Doctors near PH25 3DX
  li
    a(href="/PH25-3DY") Doctors near PH25 3DY
  li
    a(href="/PH25-3DZ") Doctors near PH25 3DZ
  li
    a(href="/PH25-3EA") Doctors near PH25 3EA
  li
    a(href="/PH25-3EB") Doctors near PH25 3EB
  li
    a(href="/PH25-3ED") Doctors near PH25 3ED
  li
    a(href="/PH25-3EE") Doctors near PH25 3EE
  li
    a(href="/PH25-3EF") Doctors near PH25 3EF
  li
    a(href="/PH25-3EG") Doctors near PH25 3EG
  li
    a(href="/PH25-3EH") Doctors near PH25 3EH
  li
    a(href="/PH25-3EJ") Doctors near PH25 3EJ
  li
    a(href="/PH25-3EL") Doctors near PH25 3EL
  li
    a(href="/PH25-3EN") Doctors near PH25 3EN
  li
    a(href="/PH25-3EP") Doctors near PH25 3EP
  li
    a(href="/PH25-3EQ") Doctors near PH25 3EQ
  li
    a(href="/PH25-3HA") Doctors near PH25 3HA
  li
    a(href="/PH25-3RA") Doctors near PH25 3RA
