meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH31-4AD") Doctors near PH31 4AD
  li
    a(href="/PH31-4AE") Doctors near PH31 4AE
  li
    a(href="/PH31-4AF") Doctors near PH31 4AF
  li
    a(href="/PH31-4AG") Doctors near PH31 4AG
  li
    a(href="/PH31-4AH") Doctors near PH31 4AH
  li
    a(href="/PH31-4AJ") Doctors near PH31 4AJ
  li
    a(href="/PH31-4AN") Doctors near PH31 4AN
  li
    a(href="/PH31-4AP") Doctors near PH31 4AP
  li
    a(href="/PH31-4AQ") Doctors near PH31 4AQ
  li
    a(href="/PH31-4AR") Doctors near PH31 4AR
  li
    a(href="/PH31-4AS") Doctors near PH31 4AS
  li
    a(href="/PH31-4AW") Doctors near PH31 4AW
  li
    a(href="/PH31-4WU") Doctors near PH31 4WU
