meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH34-4DX") Doctors near PH34 4DX
  li
    a(href="/PH34-4DY") Doctors near PH34 4DY
  li
    a(href="/PH34-4DZ") Doctors near PH34 4DZ
  li
    a(href="/PH34-4EA") Doctors near PH34 4EA
  li
    a(href="/PH34-4EB") Doctors near PH34 4EB
  li
    a(href="/PH34-4ED") Doctors near PH34 4ED
  li
    a(href="/PH34-4EF") Doctors near PH34 4EF
  li
    a(href="/PH34-4EG") Doctors near PH34 4EG
  li
    a(href="/PH34-4EJ") Doctors near PH34 4EJ
  li
    a(href="/PH34-4EL") Doctors near PH34 4EL
  li
    a(href="/PH34-4EN") Doctors near PH34 4EN
  li
    a(href="/PH34-4EP") Doctors near PH34 4EP
  li
    a(href="/PH34-4EQ") Doctors near PH34 4EQ
  li
    a(href="/PH34-4ER") Doctors near PH34 4ER
  li
    a(href="/PH34-4ES") Doctors near PH34 4ES
  li
    a(href="/PH34-4ET") Doctors near PH34 4ET
  li
    a(href="/PH34-4EU") Doctors near PH34 4EU
  li
    a(href="/PH34-4EW") Doctors near PH34 4EW
  li
    a(href="/PH34-4EX") Doctors near PH34 4EX
  li
    a(href="/PH34-4EY") Doctors near PH34 4EY
  li
    a(href="/PH34-4EZ") Doctors near PH34 4EZ
  li
    a(href="/PH34-4HA") Doctors near PH34 4HA
