meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH35-4AA") Doctors near PH35 4AA
  li
    a(href="/PH35-4HA") Doctors near PH35 4HA
  li
    a(href="/PH35-4HB") Doctors near PH35 4HB
  li
    a(href="/PH35-4HD") Doctors near PH35 4HD
  li
    a(href="/PH35-4HG") Doctors near PH35 4HG
  li
    a(href="/PH35-4HH") Doctors near PH35 4HH
  li
    a(href="/PH35-4HJ") Doctors near PH35 4HJ
  li
    a(href="/PH35-4HL") Doctors near PH35 4HL
  li
    a(href="/PH35-4HN") Doctors near PH35 4HN
  li
    a(href="/PH35-4HP") Doctors near PH35 4HP
  li
    a(href="/PH35-4HR") Doctors near PH35 4HR
  li
    a(href="/PH35-4HS") Doctors near PH35 4HS
  li
    a(href="/PH35-4HW") Doctors near PH35 4HW
  li
    a(href="/PH35-4JN") Doctors near PH35 4JN
  li
    a(href="/PH35-4WW") Doctors near PH35 4WW
