meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH36-4BB") Doctors near PH36 4BB
  li
    a(href="/PH36-4HX") Doctors near PH36 4HX
  li
    a(href="/PH36-4HY") Doctors near PH36 4HY
  li
    a(href="/PH36-4HZ") Doctors near PH36 4HZ
  li
    a(href="/PH36-4JA") Doctors near PH36 4JA
  li
    a(href="/PH36-4JB") Doctors near PH36 4JB
  li
    a(href="/PH36-4JD") Doctors near PH36 4JD
  li
    a(href="/PH36-4JG") Doctors near PH36 4JG
  li
    a(href="/PH36-4JJ") Doctors near PH36 4JJ
  li
    a(href="/PH36-4JL") Doctors near PH36 4JL
  li
    a(href="/PH36-4JN") Doctors near PH36 4JN
  li
    a(href="/PH36-4JP") Doctors near PH36 4JP
  li
    a(href="/PH36-4JQ") Doctors near PH36 4JQ
  li
    a(href="/PH36-4JR") Doctors near PH36 4JR
  li
    a(href="/PH36-4JS") Doctors near PH36 4JS
  li
    a(href="/PH36-4JU") Doctors near PH36 4JU
  li
    a(href="/PH36-4JW") Doctors near PH36 4JW
  li
    a(href="/PH36-4JX") Doctors near PH36 4JX
  li
    a(href="/PH36-4JY") Doctors near PH36 4JY
  li
    a(href="/PH36-4JZ") Doctors near PH36 4JZ
  li
    a(href="/PH36-4LA") Doctors near PH36 4LA
  li
    a(href="/PH36-4LB") Doctors near PH36 4LB
  li
    a(href="/PH36-4LD") Doctors near PH36 4LD
  li
    a(href="/PH36-4LE") Doctors near PH36 4LE
  li
    a(href="/PH36-4LG") Doctors near PH36 4LG
  li
    a(href="/PH36-4LH") Doctors near PH36 4LH
  li
    a(href="/PH36-4LJ") Doctors near PH36 4LJ
  li
    a(href="/PH36-4LL") Doctors near PH36 4LL
  li
    a(href="/PH36-4LN") Doctors near PH36 4LN
  li
    a(href="/PH36-4LP") Doctors near PH36 4LP
  li
    a(href="/PH36-4LQ") Doctors near PH36 4LQ
  li
    a(href="/PH36-4LR") Doctors near PH36 4LR
  li
    a(href="/PH36-4LW") Doctors near PH36 4LW
  li
    a(href="/PH36-4YF") Doctors near PH36 4YF
