meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH38-4LZ") Doctors near PH38 4LZ
  li
    a(href="/PH38-4NA") Doctors near PH38 4NA
  li
    a(href="/PH38-4NB") Doctors near PH38 4NB
  li
    a(href="/PH38-4ND") Doctors near PH38 4ND
  li
    a(href="/PH38-4NG") Doctors near PH38 4NG
