meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH39-4NA") Doctors near PH39 4NA
  li
    a(href="/PH39-4NB") Doctors near PH39 4NB
  li
    a(href="/PH39-4NG") Doctors near PH39 4NG
  li
    a(href="/PH39-4NH") Doctors near PH39 4NH
  li
    a(href="/PH39-4NJ") Doctors near PH39 4NJ
  li
    a(href="/PH39-4NL") Doctors near PH39 4NL
  li
    a(href="/PH39-4NN") Doctors near PH39 4NN
  li
    a(href="/PH39-4NP") Doctors near PH39 4NP
  li
    a(href="/PH39-4NR") Doctors near PH39 4NR
  li
    a(href="/PH39-4NS") Doctors near PH39 4NS
  li
    a(href="/PH39-4NT") Doctors near PH39 4NT
  li
    a(href="/PH39-4NU") Doctors near PH39 4NU
  li
    a(href="/PH39-4NW") Doctors near PH39 4NW
  li
    a(href="/PH39-4NX") Doctors near PH39 4NX
