meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/PH40-4PA") Doctors near PH40 4PA
  li
    a(href="/PH40-4PB") Doctors near PH40 4PB
  li
    a(href="/PH40-4PD") Doctors near PH40 4PD
  li
    a(href="/PH40-4PE") Doctors near PH40 4PE
  li
    a(href="/PH40-4PF") Doctors near PH40 4PF
  li
    a(href="/PH40-4PG") Doctors near PH40 4PG
  li
    a(href="/PH40-4PH") Doctors near PH40 4PH
  li
    a(href="/PH40-4PJ") Doctors near PH40 4PJ
  li
    a(href="/PH40-4PL") Doctors near PH40 4PL
  li
    a(href="/PH40-4PN") Doctors near PH40 4PN
