meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PL1") PL1
  li
    a(href="/browse/PL2") PL2
  li
    a(href="/browse/PL3") PL3
  li
    a(href="/browse/PL4") PL4
  li
    a(href="/browse/PL5") PL5
  li
    a(href="/browse/PL6") PL6
  li
    a(href="/browse/PL7") PL7
  li
    a(href="/browse/PL9") PL9
