meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BH12") BH12
  li
    a(href="/browse/BH13") BH13
  li
    a(href="/browse/BH14") BH14
  li
    a(href="/browse/BH15") BH15
  li
    a(href="/browse/BH17") BH17
  li
    a(href="/browse/BH18") BH18
