meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PO1") PO1
  li
    a(href="/browse/PO2") PO2
  li
    a(href="/browse/PO3") PO3
  li
    a(href="/browse/PO4") PO4
  li
    a(href="/browse/PO5") PO5
  li
    a(href="/browse/PO6") PO6
