meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/LD1") LD1
  li
    a(href="/browse/LD2") LD2
  li
    a(href="/browse/LD3") LD3
  li
    a(href="/browse/LD4") LD4
  li
    a(href="/browse/LD5") LD5
  li
    a(href="/browse/LD6") LD6
  li
    a(href="/browse/LD7") LD7
  li
    a(href="/browse/LD8") LD8
  li
    a(href="/browse/NP8") NP8
  li
    a(href="/browse/SA9") SA9
  li
    a(href="/browse/SY15") SY15
  li
    a(href="/browse/SY16") SY16
  li
    a(href="/browse/SY17") SY17
  li
    a(href="/browse/SY18") SY18
  li
    a(href="/browse/SY19") SY19
  li
    a(href="/browse/SY20") SY20
  li
    a(href="/browse/SY21") SY21
  li
    a(href="/browse/SY22") SY22
