meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/RG1") RG1
  li
    a(href="/browse/RG2") RG2
  li
    a(href="/browse/RG30") RG30
  li
    a(href="/browse/RG31") RG31
  li
    a(href="/browse/RG4") RG4
