meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/TS10") TS10
  li
    a(href="/browse/TS11") TS11
  li
    a(href="/browse/TS12") TS12
  li
    a(href="/browse/TS13") TS13
  li
    a(href="/browse/TS14") TS14
  li
    a(href="/browse/TS6") TS6
