meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/PA1") PA1
  li
    a(href="/browse/PA10") PA10
  li
    a(href="/browse/PA11") PA11
  li
    a(href="/browse/PA12") PA12
  li
    a(href="/browse/PA2") PA2
  li
    a(href="/browse/PA3") PA3
  li
    a(href="/browse/PA4") PA4
  li
    a(href="/browse/PA5") PA5
  li
    a(href="/browse/PA6") PA6
  li
    a(href="/browse/PA7") PA7
  li
    a(href="/browse/PA8") PA8
  li
    a(href="/browse/PA9") PA9
