meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CF37") CF37
  li
    a(href="/browse/CF38") CF38
  li
    a(href="/browse/CF39") CF39
  li
    a(href="/browse/CF40") CF40
  li
    a(href="/browse/CF41") CF41
  li
    a(href="/browse/CF42") CF42
  li
    a(href="/browse/CF43") CF43
  li
    a(href="/browse/CF44") CF44
  li
    a(href="/browse/CF45") CF45
  li
    a(href="/browse/CF72") CF72
