meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M24") M24
  li
    a(href="/browse/OL10") OL10
  li
    a(href="/browse/OL11") OL11
  li
    a(href="/browse/OL12") OL12
  li
    a(href="/browse/OL15") OL15
  li
    a(href="/browse/OL16") OL16
