meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/S25") S25
  li
    a(href="/browse/S26") S26
  li
    a(href="/browse/S60") S60
  li
    a(href="/browse/S61") S61
  li
    a(href="/browse/S62") S62
  li
    a(href="/browse/S64") S64
  li
    a(href="/browse/S65") S65
  li
    a(href="/browse/S66") S66
