meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/SA36-0DS") Doctors near SA36 0DS
  li
    a(href="/SA36-0DT") Doctors near SA36 0DT
  li
    a(href="/SA36-0DU") Doctors near SA36 0DU
  li
    a(href="/SA36-0DX") Doctors near SA36 0DX
  li
    a(href="/SA36-0DY") Doctors near SA36 0DY
  li
    a(href="/SA36-0DZ") Doctors near SA36 0DZ
  li
    a(href="/SA36-0EA") Doctors near SA36 0EA
  li
    a(href="/SA36-0EB") Doctors near SA36 0EB
  li
    a(href="/SA36-0ED") Doctors near SA36 0ED
  li
    a(href="/SA36-0EE") Doctors near SA36 0EE
  li
    a(href="/SA36-0EF") Doctors near SA36 0EF
