meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M27") M27
  li
    a(href="/browse/M28") M28
  li
    a(href="/browse/M3") M3
  li
    a(href="/browse/M30") M30
  li
    a(href="/browse/M38") M38
  li
    a(href="/browse/M44") M44
  li
    a(href="/browse/M5") M5
  li
    a(href="/browse/M6") M6
  li
    a(href="/browse/M7") M7
