meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B43") B43
  li
    a(href="/browse/B64") B64
  li
    a(href="/browse/B65") B65
  li
    a(href="/browse/B66") B66
  li
    a(href="/browse/B67") B67
  li
    a(href="/browse/B68") B68
  li
    a(href="/browse/B69") B69
  li
    a(href="/browse/B70") B70
  li
    a(href="/browse/B71") B71
  li
    a(href="/browse/DY4") DY4
  li
    a(href="/browse/WS10") WS10
