meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/L10") L10
  li
    a(href="/browse/L20") L20
  li
    a(href="/browse/L21") L21
  li
    a(href="/browse/L22") L22
  li
    a(href="/browse/L29") L29
  li
    a(href="/browse/L30") L30
  li
    a(href="/browse/L31") L31
  li
    a(href="/browse/L37") L37
  li
    a(href="/browse/L38") L38
  li
    a(href="/browse/PR8") PR8
  li
    a(href="/browse/PR9") PR9
