meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/S1") S1
  li
    a(href="/browse/S10") S10
  li
    a(href="/browse/S11") S11
  li
    a(href="/browse/S12") S12
  li
    a(href="/browse/S13") S13
  li
    a(href="/browse/S14") S14
  li
    a(href="/browse/S17") S17
  li
    a(href="/browse/S2") S2
  li
    a(href="/browse/S20") S20
  li
    a(href="/browse/S3") S3
  li
    a(href="/browse/S35") S35
  li
    a(href="/browse/S4") S4
  li
    a(href="/browse/S5") S5
  li
    a(href="/browse/S6") S6
  li
    a(href="/browse/S7") S7
  li
    a(href="/browse/S8") S8
  li
    a(href="/browse/S9") S9
