meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DY14") DY14
  li
    a(href="/browse/SY1") SY1
  li
    a(href="/browse/SY10") SY10
  li
    a(href="/browse/SY11") SY11
  li
    a(href="/browse/SY12") SY12
  li
    a(href="/browse/SY13") SY13
  li
    a(href="/browse/SY2") SY2
  li
    a(href="/browse/SY3") SY3
  li
    a(href="/browse/SY4") SY4
  li
    a(href="/browse/SY5") SY5
  li
    a(href="/browse/SY6") SY6
  li
    a(href="/browse/SY7") SY7
  li
    a(href="/browse/SY8") SY8
  li
    a(href="/browse/SY9") SY9
  li
    a(href="/browse/TF11") TF11
  li
    a(href="/browse/TF12") TF12
  li
    a(href="/browse/TF13") TF13
  li
    a(href="/browse/TF9") TF9
  li
    a(href="/browse/WV15") WV15
  li
    a(href="/browse/WV16") WV16
  li
    a(href="/browse/WV7") WV7
