meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B36") B36
  li
    a(href="/browse/B37") B37
  li
    a(href="/browse/B40") B40
  li
    a(href="/browse/B90") B90
  li
    a(href="/browse/B91") B91
  li
    a(href="/browse/B92") B92
  li
    a(href="/browse/B93") B93
