meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BA10") BA10
  li
    a(href="/browse/BA11") BA11
  li
    a(href="/browse/BA16") BA16
  li
    a(href="/browse/BA20") BA20
  li
    a(href="/browse/BA21") BA21
  li
    a(href="/browse/BA22") BA22
  li
    a(href="/browse/BA3") BA3
  li
    a(href="/browse/BA4") BA4
  li
    a(href="/browse/BA5") BA5
  li
    a(href="/browse/BA6") BA6
  li
    a(href="/browse/BA7") BA7
  li
    a(href="/browse/BA8") BA8
  li
    a(href="/browse/BA9") BA9
  li
    a(href="/browse/BS26") BS26
  li
    a(href="/browse/BS27") BS27
  li
    a(href="/browse/BS28") BS28
  li
    a(href="/browse/TA1") TA1
  li
    a(href="/browse/TA10") TA10
  li
    a(href="/browse/TA11") TA11
  li
    a(href="/browse/TA12") TA12
  li
    a(href="/browse/TA13") TA13
  li
    a(href="/browse/TA14") TA14
  li
    a(href="/browse/TA15") TA15
  li
    a(href="/browse/TA16") TA16
  li
    a(href="/browse/TA17") TA17
  li
    a(href="/browse/TA18") TA18
  li
    a(href="/browse/TA19") TA19
  li
    a(href="/browse/TA2") TA2
  li
    a(href="/browse/TA20") TA20
  li
    a(href="/browse/TA21") TA21
  li
    a(href="/browse/TA22") TA22
  li
    a(href="/browse/TA23") TA23
  li
    a(href="/browse/TA24") TA24
  li
    a(href="/browse/TA3") TA3
  li
    a(href="/browse/TA4") TA4
  li
    a(href="/browse/TA5") TA5
  li
    a(href="/browse/TA6") TA6
  li
    a(href="/browse/TA7") TA7
  li
    a(href="/browse/TA8") TA8
  li
    a(href="/browse/TA9") TA9
