meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SO14") SO14
  li
    a(href="/browse/SO15") SO15
  li
    a(href="/browse/SO16") SO16
  li
    a(href="/browse/SO17") SO17
  li
    a(href="/browse/SO18") SO18
  li
    a(href="/browse/SO19") SO19
