meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SS0") SS0
  li
    a(href="/browse/SS1") SS1
  li
    a(href="/browse/SS2") SS2
  li
    a(href="/browse/SS3") SS3
  li
    a(href="/browse/SS9") SS9
