meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BS15") BS15
  li
    a(href="/browse/BS16") BS16
  li
    a(href="/browse/BS30") BS30
  li
    a(href="/browse/BS32") BS32
  li
    a(href="/browse/BS34") BS34
  li
    a(href="/browse/BS35") BS35
  li
    a(href="/browse/BS36") BS36
  li
    a(href="/browse/BS37") BS37
  li
    a(href="/browse/GL9") GL9
