meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/G71") G71
  li
    a(href="/browse/G72") G72
  li
    a(href="/browse/G73") G73
  li
    a(href="/browse/G74") G74
  li
    a(href="/browse/ML10") ML10
  li
    a(href="/browse/ML11") ML11
  li
    a(href="/browse/ML12") ML12
  li
    a(href="/browse/ML3") ML3
  li
    a(href="/browse/ML8") ML8
  li
    a(href="/browse/ML9") ML9
