meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/NE31") NE31
  li
    a(href="/browse/NE32") NE32
  li
    a(href="/browse/NE33") NE33
  li
    a(href="/browse/NE34") NE34
  li
    a(href="/browse/NE35") NE35
  li
    a(href="/browse/NE36") NE36
