meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/KA10") KA10
  li
    a(href="/browse/KA19") KA19
  li
    a(href="/browse/KA26") KA26
  li
    a(href="/browse/KA6") KA6
  li
    a(href="/browse/KA7") KA7
  li
    a(href="/browse/KA8") KA8
  li
    a(href="/browse/KA9") KA9
