meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/L35") L35
  li
    a(href="/browse/WA10") WA10
  li
    a(href="/browse/WA11") WA11
  li
    a(href="/browse/WA12") WA12
  li
    a(href="/browse/WA9") WA9
