meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B77") B77
  li
    a(href="/browse/B78") B78
  li
    a(href="/browse/B79") B79
  li
    a(href="/browse/DE13") DE13
  li
    a(href="/browse/DE14") DE14
  li
    a(href="/browse/DE15") DE15
  li
    a(href="/browse/DY7") DY7
  li
    a(href="/browse/ST10") ST10
  li
    a(href="/browse/ST11") ST11
  li
    a(href="/browse/ST12") ST12
  li
    a(href="/browse/ST13") ST13
  li
    a(href="/browse/ST14") ST14
  li
    a(href="/browse/ST15") ST15
  li
    a(href="/browse/ST16") ST16
  li
    a(href="/browse/ST17") ST17
  li
    a(href="/browse/ST18") ST18
  li
    a(href="/browse/ST19") ST19
  li
    a(href="/browse/ST20") ST20
  li
    a(href="/browse/ST21") ST21
  li
    a(href="/browse/ST5") ST5
  li
    a(href="/browse/ST7") ST7
  li
    a(href="/browse/ST8") ST8
  li
    a(href="/browse/ST9") ST9
  li
    a(href="/browse/WS11") WS11
  li
    a(href="/browse/WS12") WS12
  li
    a(href="/browse/WS13") WS13
  li
    a(href="/browse/WS14") WS14
  li
    a(href="/browse/WS15") WS15
  li
    a(href="/browse/WS6") WS6
  li
    a(href="/browse/WS7") WS7
  li
    a(href="/browse/WV5") WV5
  li
    a(href="/browse/WV8") WV8
