meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/FK15") FK15
  li
    a(href="/browse/FK16") FK16
  li
    a(href="/browse/FK17") FK17
  li
    a(href="/browse/FK18") FK18
  li
    a(href="/browse/FK19") FK19
  li
    a(href="/browse/FK20") FK20
  li
    a(href="/browse/FK21") FK21
  li
    a(href="/browse/FK7") FK7
  li
    a(href="/browse/FK8") FK8
  li
    a(href="/browse/FK9") FK9
  li
    a(href="/browse/G63") G63
