meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SK1") SK1
  li
    a(href="/browse/SK2") SK2
  li
    a(href="/browse/SK3") SK3
  li
    a(href="/browse/SK4") SK4
  li
    a(href="/browse/SK5") SK5
  li
    a(href="/browse/SK6") SK6
  li
    a(href="/browse/SK7") SK7
  li
    a(href="/browse/SK8") SK8
