meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/ST1") ST1
  li
    a(href="/browse/ST2") ST2
  li
    a(href="/browse/ST3") ST3
  li
    a(href="/browse/ST4") ST4
  li
    a(href="/browse/ST6") ST6
