meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/DH4") DH4
  li
    a(href="/browse/DH5") DH5
  li
    a(href="/browse/NE37") NE37
  li
    a(href="/browse/NE38") NE38
  li
    a(href="/browse/SR1") SR1
  li
    a(href="/browse/SR2") SR2
  li
    a(href="/browse/SR3") SR3
  li
    a(href="/browse/SR4") SR4
  li
    a(href="/browse/SR5") SR5
  li
    a(href="/browse/SR6") SR6
  li
    a(href="/browse/SR9") SR9
