meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CR3") CR3
  li
    a(href="/browse/CR6") CR6
  li
    a(href="/browse/GU1") GU1
  li
    a(href="/browse/GU10") GU10
  li
    a(href="/browse/GU12") GU12
  li
    a(href="/browse/GU15") GU15
  li
    a(href="/browse/GU16") GU16
  li
    a(href="/browse/GU18") GU18
  li
    a(href="/browse/GU19") GU19
  li
    a(href="/browse/GU2") GU2
  li
    a(href="/browse/GU20") GU20
  li
    a(href="/browse/GU21") GU21
  li
    a(href="/browse/GU22") GU22
  li
    a(href="/browse/GU23") GU23
  li
    a(href="/browse/GU24") GU24
  li
    a(href="/browse/GU25") GU25
  li
    a(href="/browse/GU26") GU26
  li
    a(href="/browse/GU27") GU27
  li
    a(href="/browse/GU3") GU3
  li
    a(href="/browse/GU4") GU4
  li
    a(href="/browse/GU5") GU5
  li
    a(href="/browse/GU6") GU6
  li
    a(href="/browse/GU7") GU7
  li
    a(href="/browse/GU8") GU8
  li
    a(href="/browse/GU9") GU9
  li
    a(href="/browse/KT10") KT10
  li
    a(href="/browse/KT11") KT11
  li
    a(href="/browse/KT12") KT12
  li
    a(href="/browse/KT13") KT13
  li
    a(href="/browse/KT14") KT14
  li
    a(href="/browse/KT15") KT15
  li
    a(href="/browse/KT16") KT16
  li
    a(href="/browse/KT17") KT17
  li
    a(href="/browse/KT18") KT18
  li
    a(href="/browse/KT19") KT19
  li
    a(href="/browse/KT20") KT20
  li
    a(href="/browse/KT21") KT21
  li
    a(href="/browse/KT22") KT22
  li
    a(href="/browse/KT23") KT23
  li
    a(href="/browse/KT24") KT24
  li
    a(href="/browse/KT7") KT7
  li
    a(href="/browse/KT8") KT8
  li
    a(href="/browse/RH1") RH1
  li
    a(href="/browse/RH2") RH2
  li
    a(href="/browse/RH3") RH3
  li
    a(href="/browse/RH4") RH4
  li
    a(href="/browse/RH5") RH5
  li
    a(href="/browse/RH6") RH6
  li
    a(href="/browse/RH7") RH7
  li
    a(href="/browse/RH8") RH8
  li
    a(href="/browse/RH9") RH9
  li
    a(href="/browse/SM7") SM7
  li
    a(href="/browse/TW15") TW15
  li
    a(href="/browse/TW16") TW16
  li
    a(href="/browse/TW17") TW17
  li
    a(href="/browse/TW18") TW18
  li
    a(href="/browse/TW19") TW19
  li
    a(href="/browse/TW20") TW20
