meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SA1") SA1
  li
    a(href="/browse/SA2") SA2
  li
    a(href="/browse/SA3") SA3
  li
    a(href="/browse/SA4") SA4
  li
    a(href="/browse/SA5") SA5
  li
    a(href="/browse/SA6") SA6
  li
    a(href="/browse/SA7") SA7
