meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/SN1") SN1
  li
    a(href="/browse/SN2") SN2
  li
    a(href="/browse/SN25") SN25
  li
    a(href="/browse/SN26") SN26
  li
    a(href="/browse/SN3") SN3
  li
    a(href="/browse/SN4") SN4
  li
    a(href="/browse/SN5") SN5
  li
    a(href="/browse/SN6") SN6
