meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M34") M34
  li
    a(href="/browse/M43") M43
  li
    a(href="/browse/OL5") OL5
  li
    a(href="/browse/OL6") OL6
  li
    a(href="/browse/OL7") OL7
  li
    a(href="/browse/SK14") SK14
  li
    a(href="/browse/SK15") SK15
  li
    a(href="/browse/SK16") SK16
