meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/TF1") TF1
  li
    a(href="/browse/TF10") TF10
  li
    a(href="/browse/TF2") TF2
  li
    a(href="/browse/TF3") TF3
  li
    a(href="/browse/TF4") TF4
  li
    a(href="/browse/TF5") TF5
  li
    a(href="/browse/TF6") TF6
  li
    a(href="/browse/TF7") TF7
  li
    a(href="/browse/TF8") TF8
