meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/TF1-1AA") Doctors near TF1 1AA
  li
    a(href="/TF1-1BA") Doctors near TF1 1BA
  li
    a(href="/TF1-1BD") Doctors near TF1 1BD
  li
    a(href="/TF1-1BE") Doctors near TF1 1BE
  li
    a(href="/TF1-1BJ") Doctors near TF1 1BJ
  li
    a(href="/TF1-1BN") Doctors near TF1 1BN
  li
    a(href="/TF1-1BP") Doctors near TF1 1BP
  li
    a(href="/TF1-1BU") Doctors near TF1 1BU
  li
    a(href="/TF1-1BW") Doctors near TF1 1BW
  li
    a(href="/TF1-1BX") Doctors near TF1 1BX
  li
    a(href="/TF1-1BY") Doctors near TF1 1BY
  li
    a(href="/TF1-1BZ") Doctors near TF1 1BZ
  li
    a(href="/TF1-1DA") Doctors near TF1 1DA
  li
    a(href="/TF1-1DB") Doctors near TF1 1DB
  li
    a(href="/TF1-1DD") Doctors near TF1 1DD
  li
    a(href="/TF1-1DG") Doctors near TF1 1DG
  li
    a(href="/TF1-1DN") Doctors near TF1 1DN
  li
    a(href="/TF1-1DQ") Doctors near TF1 1DQ
  li
    a(href="/TF1-1DR") Doctors near TF1 1DR
  li
    a(href="/TF1-1DS") Doctors near TF1 1DS
  li
    a(href="/TF1-1DT") Doctors near TF1 1DT
  li
    a(href="/TF1-1DZ") Doctors near TF1 1DZ
  li
    a(href="/TF1-1EA") Doctors near TF1 1EA
  li
    a(href="/TF1-1EB") Doctors near TF1 1EB
  li
    a(href="/TF1-1ED") Doctors near TF1 1ED
  li
    a(href="/TF1-1EG") Doctors near TF1 1EG
  li
    a(href="/TF1-1EH") Doctors near TF1 1EH
  li
    a(href="/TF1-1EL") Doctors near TF1 1EL
  li
    a(href="/TF1-1EP") Doctors near TF1 1EP
  li
    a(href="/TF1-1ER") Doctors near TF1 1ER
  li
    a(href="/TF1-1ES") Doctors near TF1 1ES
  li
    a(href="/TF1-1ET") Doctors near TF1 1ET
  li
    a(href="/TF1-1EW") Doctors near TF1 1EW
  li
    a(href="/TF1-1EY") Doctors near TF1 1EY
  li
    a(href="/TF1-1EZ") Doctors near TF1 1EZ
  li
    a(href="/TF1-1HA") Doctors near TF1 1HA
  li
    a(href="/TF1-1HB") Doctors near TF1 1HB
  li
    a(href="/TF1-1HE") Doctors near TF1 1HE
  li
    a(href="/TF1-1HJ") Doctors near TF1 1HJ
  li
    a(href="/TF1-1HL") Doctors near TF1 1HL
  li
    a(href="/TF1-1HQ") Doctors near TF1 1HQ
  li
    a(href="/TF1-1HR") Doctors near TF1 1HR
  li
    a(href="/TF1-1HS") Doctors near TF1 1HS
  li
    a(href="/TF1-1HT") Doctors near TF1 1HT
  li
    a(href="/TF1-1HU") Doctors near TF1 1HU
  li
    a(href="/TF1-1HW") Doctors near TF1 1HW
  li
    a(href="/TF1-1HX") Doctors near TF1 1HX
  li
    a(href="/TF1-1HY") Doctors near TF1 1HY
  li
    a(href="/TF1-1HZ") Doctors near TF1 1HZ
  li
    a(href="/TF1-1JA") Doctors near TF1 1JA
  li
    a(href="/TF1-1JB") Doctors near TF1 1JB
  li
    a(href="/TF1-1JD") Doctors near TF1 1JD
  li
    a(href="/TF1-1JE") Doctors near TF1 1JE
  li
    a(href="/TF1-1JF") Doctors near TF1 1JF
  li
    a(href="/TF1-1JG") Doctors near TF1 1JG
  li
    a(href="/TF1-1JH") Doctors near TF1 1JH
  li
    a(href="/TF1-1JJ") Doctors near TF1 1JJ
  li
    a(href="/TF1-1JL") Doctors near TF1 1JL
  li
    a(href="/TF1-1JN") Doctors near TF1 1JN
  li
    a(href="/TF1-1JP") Doctors near TF1 1JP
  li
    a(href="/TF1-1JQ") Doctors near TF1 1JQ
  li
    a(href="/TF1-1JR") Doctors near TF1 1JR
  li
    a(href="/TF1-1JS") Doctors near TF1 1JS
  li
    a(href="/TF1-1JT") Doctors near TF1 1JT
  li
    a(href="/TF1-1JU") Doctors near TF1 1JU
  li
    a(href="/TF1-1JW") Doctors near TF1 1JW
  li
    a(href="/TF1-1JX") Doctors near TF1 1JX
  li
    a(href="/TF1-1JY") Doctors near TF1 1JY
  li
    a(href="/TF1-1JZ") Doctors near TF1 1JZ
  li
    a(href="/TF1-1LE") Doctors near TF1 1LE
  li
    a(href="/TF1-1LG") Doctors near TF1 1LG
  li
    a(href="/TF1-1LH") Doctors near TF1 1LH
  li
    a(href="/TF1-1LJ") Doctors near TF1 1LJ
  li
    a(href="/TF1-1LL") Doctors near TF1 1LL
  li
    a(href="/TF1-1LN") Doctors near TF1 1LN
  li
    a(href="/TF1-1LP") Doctors near TF1 1LP
  li
    a(href="/TF1-1LQ") Doctors near TF1 1LQ
  li
    a(href="/TF1-1LS") Doctors near TF1 1LS
  li
    a(href="/TF1-1LT") Doctors near TF1 1LT
  li
    a(href="/TF1-1LU") Doctors near TF1 1LU
  li
    a(href="/TF1-1LW") Doctors near TF1 1LW
  li
    a(href="/TF1-1LX") Doctors near TF1 1LX
  li
    a(href="/TF1-1LZ") Doctors near TF1 1LZ
  li
    a(href="/TF1-1ND") Doctors near TF1 1ND
  li
    a(href="/TF1-1NE") Doctors near TF1 1NE
  li
    a(href="/TF1-1NF") Doctors near TF1 1NF
  li
    a(href="/TF1-1NH") Doctors near TF1 1NH
  li
    a(href="/TF1-1NJ") Doctors near TF1 1NJ
  li
    a(href="/TF1-1NL") Doctors near TF1 1NL
  li
    a(href="/TF1-1NN") Doctors near TF1 1NN
  li
    a(href="/TF1-1NP") Doctors near TF1 1NP
  li
    a(href="/TF1-1NQ") Doctors near TF1 1NQ
  li
    a(href="/TF1-1NR") Doctors near TF1 1NR
  li
    a(href="/TF1-1NS") Doctors near TF1 1NS
  li
    a(href="/TF1-1NT") Doctors near TF1 1NT
  li
    a(href="/TF1-1NU") Doctors near TF1 1NU
  li
    a(href="/TF1-1NW") Doctors near TF1 1NW
  li
    a(href="/TF1-1NY") Doctors near TF1 1NY
  li
    a(href="/TF1-1NZ") Doctors near TF1 1NZ
  li
    a(href="/TF1-1PA") Doctors near TF1 1PA
  li
    a(href="/TF1-1PB") Doctors near TF1 1PB
  li
    a(href="/TF1-1PD") Doctors near TF1 1PD
  li
    a(href="/TF1-1PE") Doctors near TF1 1PE
  li
    a(href="/TF1-1PF") Doctors near TF1 1PF
  li
    a(href="/TF1-1PG") Doctors near TF1 1PG
  li
    a(href="/TF1-1PH") Doctors near TF1 1PH
  li
    a(href="/TF1-1PJ") Doctors near TF1 1PJ
  li
    a(href="/TF1-1PL") Doctors near TF1 1PL
  li
    a(href="/TF1-1PN") Doctors near TF1 1PN
  li
    a(href="/TF1-1PP") Doctors near TF1 1PP
  li
    a(href="/TF1-1PQ") Doctors near TF1 1PQ
  li
    a(href="/TF1-1PR") Doctors near TF1 1PR
  li
    a(href="/TF1-1PS") Doctors near TF1 1PS
  li
    a(href="/TF1-1PT") Doctors near TF1 1PT
  li
    a(href="/TF1-1PU") Doctors near TF1 1PU
  li
    a(href="/TF1-1PW") Doctors near TF1 1PW
  li
    a(href="/TF1-1PX") Doctors near TF1 1PX
  li
    a(href="/TF1-1PY") Doctors near TF1 1PY
  li
    a(href="/TF1-1PZ") Doctors near TF1 1PZ
  li
    a(href="/TF1-1QA") Doctors near TF1 1QA
  li
    a(href="/TF1-1QE") Doctors near TF1 1QE
  li
    a(href="/TF1-1QF") Doctors near TF1 1QF
  li
    a(href="/TF1-1QG") Doctors near TF1 1QG
  li
    a(href="/TF1-1QH") Doctors near TF1 1QH
  li
    a(href="/TF1-1QL") Doctors near TF1 1QL
  li
    a(href="/TF1-1QN") Doctors near TF1 1QN
  li
    a(href="/TF1-1QP") Doctors near TF1 1QP
  li
    a(href="/TF1-1QQ") Doctors near TF1 1QQ
  li
    a(href="/TF1-1QR") Doctors near TF1 1QR
  li
    a(href="/TF1-1QS") Doctors near TF1 1QS
  li
    a(href="/TF1-1QT") Doctors near TF1 1QT
  li
    a(href="/TF1-1QU") Doctors near TF1 1QU
  li
    a(href="/TF1-1QX") Doctors near TF1 1QX
  li
    a(href="/TF1-1QY") Doctors near TF1 1QY
  li
    a(href="/TF1-1QZ") Doctors near TF1 1QZ
  li
    a(href="/TF1-1RA") Doctors near TF1 1RA
  li
    a(href="/TF1-1RB") Doctors near TF1 1RB
  li
    a(href="/TF1-1RD") Doctors near TF1 1RD
  li
    a(href="/TF1-1RE") Doctors near TF1 1RE
  li
    a(href="/TF1-1RF") Doctors near TF1 1RF
  li
    a(href="/TF1-1RG") Doctors near TF1 1RG
  li
    a(href="/TF1-1RH") Doctors near TF1 1RH
  li
    a(href="/TF1-1RJ") Doctors near TF1 1RJ
  li
    a(href="/TF1-1RL") Doctors near TF1 1RL
  li
    a(href="/TF1-1RN") Doctors near TF1 1RN
  li
    a(href="/TF1-1RP") Doctors near TF1 1RP
  li
    a(href="/TF1-1RQ") Doctors near TF1 1RQ
  li
    a(href="/TF1-1RR") Doctors near TF1 1RR
  li
    a(href="/TF1-1RS") Doctors near TF1 1RS
  li
    a(href="/TF1-1RT") Doctors near TF1 1RT
  li
    a(href="/TF1-1RW") Doctors near TF1 1RW
  li
    a(href="/TF1-1RX") Doctors near TF1 1RX
  li
    a(href="/TF1-1RY") Doctors near TF1 1RY
  li
    a(href="/TF1-1RZ") Doctors near TF1 1RZ
  li
    a(href="/TF1-1SA") Doctors near TF1 1SA
  li
    a(href="/TF1-1SB") Doctors near TF1 1SB
  li
    a(href="/TF1-1SD") Doctors near TF1 1SD
  li
    a(href="/TF1-1SE") Doctors near TF1 1SE
  li
    a(href="/TF1-1SF") Doctors near TF1 1SF
  li
    a(href="/TF1-1SG") Doctors near TF1 1SG
  li
    a(href="/TF1-1SH") Doctors near TF1 1SH
  li
    a(href="/TF1-1SJ") Doctors near TF1 1SJ
  li
    a(href="/TF1-1SL") Doctors near TF1 1SL
  li
    a(href="/TF1-1SN") Doctors near TF1 1SN
  li
    a(href="/TF1-1SP") Doctors near TF1 1SP
  li
    a(href="/TF1-1SQ") Doctors near TF1 1SQ
  li
    a(href="/TF1-1SR") Doctors near TF1 1SR
  li
    a(href="/TF1-1SS") Doctors near TF1 1SS
  li
    a(href="/TF1-1ST") Doctors near TF1 1ST
  li
    a(href="/TF1-1SW") Doctors near TF1 1SW
  li
    a(href="/TF1-1WB") Doctors near TF1 1WB
  li
    a(href="/TF1-1WE") Doctors near TF1 1WE
  li
    a(href="/TF1-1WQ") Doctors near TF1 1WQ
  li
    a(href="/TF1-1WS") Doctors near TF1 1WS
  li
    a(href="/TF1-1WW") Doctors near TF1 1WW
  li
    a(href="/TF1-1XU") Doctors near TF1 1XU
  li
    a(href="/TF1-1YE") Doctors near TF1 1YE
  li
    a(href="/TF1-1YU") Doctors near TF1 1YU
  li
    a(href="/TF1-1YX") Doctors near TF1 1YX
  li
    a(href="/TF1-1YY") Doctors near TF1 1YY
  li
    a(href="/TF1-1YZ") Doctors near TF1 1YZ
  li
    a(href="/TF1-1ZU") Doctors near TF1 1ZU
  li
    a(href="/TF1-1ZW") Doctors near TF1 1ZW
  li
    a(href="/TF1-2AA") Doctors near TF1 2AA
  li
    a(href="/TF1-2AB") Doctors near TF1 2AB
  li
    a(href="/TF1-2AE") Doctors near TF1 2AE
  li
    a(href="/TF1-2AF") Doctors near TF1 2AF
  li
    a(href="/TF1-2AG") Doctors near TF1 2AG
  li
    a(href="/TF1-2AH") Doctors near TF1 2AH
  li
    a(href="/TF1-2AJ") Doctors near TF1 2AJ
  li
    a(href="/TF1-2AL") Doctors near TF1 2AL
  li
    a(href="/TF1-2AN") Doctors near TF1 2AN
  li
    a(href="/TF1-2AP") Doctors near TF1 2AP
  li
    a(href="/TF1-2AQ") Doctors near TF1 2AQ
  li
    a(href="/TF1-2AR") Doctors near TF1 2AR
  li
    a(href="/TF1-2AS") Doctors near TF1 2AS
  li
    a(href="/TF1-2AT") Doctors near TF1 2AT
  li
    a(href="/TF1-2AU") Doctors near TF1 2AU
  li
    a(href="/TF1-2AW") Doctors near TF1 2AW
  li
    a(href="/TF1-2AX") Doctors near TF1 2AX
  li
    a(href="/TF1-2AY") Doctors near TF1 2AY
  li
    a(href="/TF1-2AZ") Doctors near TF1 2AZ
  li
    a(href="/TF1-2BA") Doctors near TF1 2BA
  li
    a(href="/TF1-2BB") Doctors near TF1 2BB
  li
    a(href="/TF1-2BD") Doctors near TF1 2BD
  li
    a(href="/TF1-2BE") Doctors near TF1 2BE
  li
    a(href="/TF1-2BF") Doctors near TF1 2BF
  li
    a(href="/TF1-2BG") Doctors near TF1 2BG
  li
    a(href="/TF1-2BH") Doctors near TF1 2BH
  li
    a(href="/TF1-2BJ") Doctors near TF1 2BJ
  li
    a(href="/TF1-2BL") Doctors near TF1 2BL
  li
    a(href="/TF1-2BN") Doctors near TF1 2BN
  li
    a(href="/TF1-2BP") Doctors near TF1 2BP
  li
    a(href="/TF1-2BQ") Doctors near TF1 2BQ
  li
    a(href="/TF1-2BS") Doctors near TF1 2BS
  li
    a(href="/TF1-2BT") Doctors near TF1 2BT
  li
    a(href="/TF1-2BU") Doctors near TF1 2BU
  li
    a(href="/TF1-2BW") Doctors near TF1 2BW
  li
    a(href="/TF1-2BX") Doctors near TF1 2BX
  li
    a(href="/TF1-2BY") Doctors near TF1 2BY
  li
    a(href="/TF1-2BZ") Doctors near TF1 2BZ
  li
    a(href="/TF1-2DA") Doctors near TF1 2DA
  li
    a(href="/TF1-2DB") Doctors near TF1 2DB
  li
    a(href="/TF1-2DD") Doctors near TF1 2DD
  li
    a(href="/TF1-2DE") Doctors near TF1 2DE
  li
    a(href="/TF1-2DF") Doctors near TF1 2DF
  li
    a(href="/TF1-2DG") Doctors near TF1 2DG
  li
    a(href="/TF1-2DH") Doctors near TF1 2DH
  li
    a(href="/TF1-2DJ") Doctors near TF1 2DJ
  li
    a(href="/TF1-2DL") Doctors near TF1 2DL
  li
    a(href="/TF1-2DP") Doctors near TF1 2DP
  li
    a(href="/TF1-2DQ") Doctors near TF1 2DQ
  li
    a(href="/TF1-2DR") Doctors near TF1 2DR
  li
    a(href="/TF1-2DS") Doctors near TF1 2DS
  li
    a(href="/TF1-2DT") Doctors near TF1 2DT
  li
    a(href="/TF1-2DU") Doctors near TF1 2DU
  li
    a(href="/TF1-2DW") Doctors near TF1 2DW
  li
    a(href="/TF1-2DX") Doctors near TF1 2DX
  li
    a(href="/TF1-2DY") Doctors near TF1 2DY
  li
    a(href="/TF1-2DZ") Doctors near TF1 2DZ
  li
    a(href="/TF1-2EA") Doctors near TF1 2EA
  li
    a(href="/TF1-2EB") Doctors near TF1 2EB
  li
    a(href="/TF1-2EE") Doctors near TF1 2EE
  li
    a(href="/TF1-2EF") Doctors near TF1 2EF
  li
    a(href="/TF1-2EG") Doctors near TF1 2EG
  li
    a(href="/TF1-2EH") Doctors near TF1 2EH
  li
    a(href="/TF1-2EJ") Doctors near TF1 2EJ
  li
    a(href="/TF1-2EL") Doctors near TF1 2EL
  li
    a(href="/TF1-2EN") Doctors near TF1 2EN
  li
    a(href="/TF1-2EP") Doctors near TF1 2EP
  li
    a(href="/TF1-2EQ") Doctors near TF1 2EQ
  li
    a(href="/TF1-2ER") Doctors near TF1 2ER
  li
    a(href="/TF1-2ES") Doctors near TF1 2ES
  li
    a(href="/TF1-2ET") Doctors near TF1 2ET
  li
    a(href="/TF1-2EU") Doctors near TF1 2EU
  li
    a(href="/TF1-2EW") Doctors near TF1 2EW
  li
    a(href="/TF1-2EX") Doctors near TF1 2EX
  li
    a(href="/TF1-2EY") Doctors near TF1 2EY
  li
    a(href="/TF1-2EZ") Doctors near TF1 2EZ
  li
    a(href="/TF1-2FF") Doctors near TF1 2FF
  li
    a(href="/TF1-2FG") Doctors near TF1 2FG
  li
    a(href="/TF1-2GA") Doctors near TF1 2GA
  li
    a(href="/TF1-2HA") Doctors near TF1 2HA
  li
    a(href="/TF1-2HB") Doctors near TF1 2HB
  li
    a(href="/TF1-2HD") Doctors near TF1 2HD
  li
    a(href="/TF1-2HE") Doctors near TF1 2HE
  li
    a(href="/TF1-2HF") Doctors near TF1 2HF
  li
    a(href="/TF1-2HG") Doctors near TF1 2HG
  li
    a(href="/TF1-2HH") Doctors near TF1 2HH
  li
    a(href="/TF1-2HJ") Doctors near TF1 2HJ
  li
    a(href="/TF1-2HL") Doctors near TF1 2HL
  li
    a(href="/TF1-2HN") Doctors near TF1 2HN
  li
    a(href="/TF1-2HP") Doctors near TF1 2HP
  li
    a(href="/TF1-2HQ") Doctors near TF1 2HQ
  li
    a(href="/TF1-2HR") Doctors near TF1 2HR
  li
    a(href="/TF1-2HS") Doctors near TF1 2HS
  li
    a(href="/TF1-2HT") Doctors near TF1 2HT
  li
    a(href="/TF1-2HU") Doctors near TF1 2HU
  li
    a(href="/TF1-2HW") Doctors near TF1 2HW
  li
    a(href="/TF1-2HX") Doctors near TF1 2HX
  li
    a(href="/TF1-2HY") Doctors near TF1 2HY
  li
    a(href="/TF1-2HZ") Doctors near TF1 2HZ
  li
    a(href="/TF1-2JA") Doctors near TF1 2JA
  li
    a(href="/TF1-2JB") Doctors near TF1 2JB
  li
    a(href="/TF1-2JD") Doctors near TF1 2JD
  li
    a(href="/TF1-2JE") Doctors near TF1 2JE
  li
    a(href="/TF1-2JF") Doctors near TF1 2JF
  li
    a(href="/TF1-2JG") Doctors near TF1 2JG
  li
    a(href="/TF1-2JH") Doctors near TF1 2JH
  li
    a(href="/TF1-2JJ") Doctors near TF1 2JJ
  li
    a(href="/TF1-2JL") Doctors near TF1 2JL
  li
    a(href="/TF1-2JN") Doctors near TF1 2JN
  li
    a(href="/TF1-2JP") Doctors near TF1 2JP
  li
    a(href="/TF1-2JQ") Doctors near TF1 2JQ
  li
    a(href="/TF1-2JR") Doctors near TF1 2JR
  li
    a(href="/TF1-2JS") Doctors near TF1 2JS
  li
    a(href="/TF1-2JT") Doctors near TF1 2JT
  li
    a(href="/TF1-2JU") Doctors near TF1 2JU
  li
    a(href="/TF1-2JW") Doctors near TF1 2JW
  li
    a(href="/TF1-2JX") Doctors near TF1 2JX
  li
    a(href="/TF1-2JY") Doctors near TF1 2JY
  li
    a(href="/TF1-2JZ") Doctors near TF1 2JZ
  li
    a(href="/TF1-2LA") Doctors near TF1 2LA
  li
    a(href="/TF1-2LB") Doctors near TF1 2LB
  li
    a(href="/TF1-2LD") Doctors near TF1 2LD
  li
    a(href="/TF1-2LE") Doctors near TF1 2LE
  li
    a(href="/TF1-2LF") Doctors near TF1 2LF
  li
    a(href="/TF1-2LG") Doctors near TF1 2LG
  li
    a(href="/TF1-2LH") Doctors near TF1 2LH
  li
    a(href="/TF1-2LJ") Doctors near TF1 2LJ
  li
    a(href="/TF1-2LL") Doctors near TF1 2LL
  li
    a(href="/TF1-2LN") Doctors near TF1 2LN
  li
    a(href="/TF1-2LP") Doctors near TF1 2LP
  li
    a(href="/TF1-2LQ") Doctors near TF1 2LQ
  li
    a(href="/TF1-2LR") Doctors near TF1 2LR
  li
    a(href="/TF1-2LS") Doctors near TF1 2LS
  li
    a(href="/TF1-2LT") Doctors near TF1 2LT
  li
    a(href="/TF1-2LU") Doctors near TF1 2LU
  li
    a(href="/TF1-2LW") Doctors near TF1 2LW
  li
    a(href="/TF1-2LX") Doctors near TF1 2LX
  li
    a(href="/TF1-2LY") Doctors near TF1 2LY
  li
    a(href="/TF1-2LZ") Doctors near TF1 2LZ
  li
    a(href="/TF1-2NA") Doctors near TF1 2NA
  li
    a(href="/TF1-2NB") Doctors near TF1 2NB
  li
    a(href="/TF1-2ND") Doctors near TF1 2ND
  li
    a(href="/TF1-2NE") Doctors near TF1 2NE
  li
    a(href="/TF1-2NG") Doctors near TF1 2NG
  li
    a(href="/TF1-2NH") Doctors near TF1 2NH
  li
    a(href="/TF1-2NJ") Doctors near TF1 2NJ
  li
    a(href="/TF1-2NL") Doctors near TF1 2NL
  li
    a(href="/TF1-2NN") Doctors near TF1 2NN
  li
    a(href="/TF1-2NP") Doctors near TF1 2NP
  li
    a(href="/TF1-2NR") Doctors near TF1 2NR
  li
    a(href="/TF1-2NT") Doctors near TF1 2NT
  li
    a(href="/TF1-2NU") Doctors near TF1 2NU
  li
    a(href="/TF1-2NW") Doctors near TF1 2NW
  li
    a(href="/TF1-2NY") Doctors near TF1 2NY
  li
    a(href="/TF1-2NZ") Doctors near TF1 2NZ
  li
    a(href="/TF1-2PA") Doctors near TF1 2PA
  li
    a(href="/TF1-2PB") Doctors near TF1 2PB
  li
    a(href="/TF1-2PD") Doctors near TF1 2PD
  li
    a(href="/TF1-2PE") Doctors near TF1 2PE
  li
    a(href="/TF1-2PG") Doctors near TF1 2PG
  li
    a(href="/TF1-2PH") Doctors near TF1 2PH
  li
    a(href="/TF1-2PQ") Doctors near TF1 2PQ
  li
    a(href="/TF1-2TU") Doctors near TF1 2TU
  li
    a(href="/TF1-2XA") Doctors near TF1 2XA
  li
    a(href="/TF1-2XB") Doctors near TF1 2XB
  li
    a(href="/TF1-3AB") Doctors near TF1 3AB
  li
    a(href="/TF1-3AD") Doctors near TF1 3AD
  li
    a(href="/TF1-3AE") Doctors near TF1 3AE
  li
    a(href="/TF1-3AF") Doctors near TF1 3AF
  li
    a(href="/TF1-3AG") Doctors near TF1 3AG
  li
    a(href="/TF1-3AH") Doctors near TF1 3AH
  li
    a(href="/TF1-3AJ") Doctors near TF1 3AJ
  li
    a(href="/TF1-3AL") Doctors near TF1 3AL
  li
    a(href="/TF1-3AN") Doctors near TF1 3AN
  li
    a(href="/TF1-3AP") Doctors near TF1 3AP
  li
    a(href="/TF1-3AQ") Doctors near TF1 3AQ
  li
    a(href="/TF1-3AR") Doctors near TF1 3AR
  li
    a(href="/TF1-3AS") Doctors near TF1 3AS
  li
    a(href="/TF1-3AT") Doctors near TF1 3AT
  li
    a(href="/TF1-3AU") Doctors near TF1 3AU
  li
    a(href="/TF1-3AW") Doctors near TF1 3AW
  li
    a(href="/TF1-3AX") Doctors near TF1 3AX
  li
    a(href="/TF1-3AY") Doctors near TF1 3AY
  li
    a(href="/TF1-3BA") Doctors near TF1 3BA
  li
    a(href="/TF1-3BB") Doctors near TF1 3BB
  li
    a(href="/TF1-3BE") Doctors near TF1 3BE
  li
    a(href="/TF1-3BG") Doctors near TF1 3BG
  li
    a(href="/TF1-3BH") Doctors near TF1 3BH
  li
    a(href="/TF1-3BJ") Doctors near TF1 3BJ
  li
    a(href="/TF1-3BL") Doctors near TF1 3BL
  li
    a(href="/TF1-3BN") Doctors near TF1 3BN
  li
    a(href="/TF1-3BP") Doctors near TF1 3BP
  li
    a(href="/TF1-3BS") Doctors near TF1 3BS
  li
    a(href="/TF1-3BT") Doctors near TF1 3BT
  li
    a(href="/TF1-3BU") Doctors near TF1 3BU
  li
    a(href="/TF1-3BW") Doctors near TF1 3BW
  li
    a(href="/TF1-3BX") Doctors near TF1 3BX
  li
    a(href="/TF1-3BY") Doctors near TF1 3BY
  li
    a(href="/TF1-3BZ") Doctors near TF1 3BZ
  li
    a(href="/TF1-3DA") Doctors near TF1 3DA
  li
    a(href="/TF1-3DB") Doctors near TF1 3DB
  li
    a(href="/TF1-3DD") Doctors near TF1 3DD
  li
    a(href="/TF1-3DE") Doctors near TF1 3DE
  li
    a(href="/TF1-3DF") Doctors near TF1 3DF
  li
    a(href="/TF1-3DG") Doctors near TF1 3DG
  li
    a(href="/TF1-3DH") Doctors near TF1 3DH
  li
    a(href="/TF1-3DJ") Doctors near TF1 3DJ
  li
    a(href="/TF1-3DL") Doctors near TF1 3DL
  li
    a(href="/TF1-3DN") Doctors near TF1 3DN
  li
    a(href="/TF1-3DP") Doctors near TF1 3DP
  li
    a(href="/TF1-3DQ") Doctors near TF1 3DQ
  li
    a(href="/TF1-3DR") Doctors near TF1 3DR
  li
    a(href="/TF1-3DS") Doctors near TF1 3DS
  li
    a(href="/TF1-3DT") Doctors near TF1 3DT
  li
    a(href="/TF1-3DU") Doctors near TF1 3DU
  li
    a(href="/TF1-3DW") Doctors near TF1 3DW
  li
    a(href="/TF1-3DX") Doctors near TF1 3DX
  li
    a(href="/TF1-3DY") Doctors near TF1 3DY
  li
    a(href="/TF1-3DZ") Doctors near TF1 3DZ
  li
    a(href="/TF1-3EA") Doctors near TF1 3EA
  li
    a(href="/TF1-3EB") Doctors near TF1 3EB
  li
    a(href="/TF1-3ED") Doctors near TF1 3ED
  li
    a(href="/TF1-3EE") Doctors near TF1 3EE
  li
    a(href="/TF1-3EF") Doctors near TF1 3EF
  li
    a(href="/TF1-3EG") Doctors near TF1 3EG
  li
    a(href="/TF1-3EH") Doctors near TF1 3EH
  li
    a(href="/TF1-3EJ") Doctors near TF1 3EJ
  li
    a(href="/TF1-3EL") Doctors near TF1 3EL
  li
    a(href="/TF1-3EN") Doctors near TF1 3EN
  li
    a(href="/TF1-3EP") Doctors near TF1 3EP
  li
    a(href="/TF1-3EQ") Doctors near TF1 3EQ
  li
    a(href="/TF1-3ER") Doctors near TF1 3ER
  li
    a(href="/TF1-3ES") Doctors near TF1 3ES
  li
    a(href="/TF1-3ET") Doctors near TF1 3ET
  li
    a(href="/TF1-3EU") Doctors near TF1 3EU
  li
    a(href="/TF1-3EW") Doctors near TF1 3EW
  li
    a(href="/TF1-3EX") Doctors near TF1 3EX
  li
    a(href="/TF1-3EY") Doctors near TF1 3EY
  li
    a(href="/TF1-3EZ") Doctors near TF1 3EZ
  li
    a(href="/TF1-3GA") Doctors near TF1 3GA
  li
    a(href="/TF1-3GB") Doctors near TF1 3GB
  li
    a(href="/TF1-3GD") Doctors near TF1 3GD
  li
    a(href="/TF1-3GE") Doctors near TF1 3GE
  li
    a(href="/TF1-3GF") Doctors near TF1 3GF
  li
    a(href="/TF1-3GG") Doctors near TF1 3GG
  li
    a(href="/TF1-3GH") Doctors near TF1 3GH
  li
    a(href="/TF1-3GJ") Doctors near TF1 3GJ
  li
    a(href="/TF1-3GL") Doctors near TF1 3GL
  li
    a(href="/TF1-3GR") Doctors near TF1 3GR
  li
    a(href="/TF1-3GS") Doctors near TF1 3GS
  li
    a(href="/TF1-3HA") Doctors near TF1 3HA
  li
    a(href="/TF1-3HB") Doctors near TF1 3HB
  li
    a(href="/TF1-3HD") Doctors near TF1 3HD
  li
    a(href="/TF1-3HE") Doctors near TF1 3HE
  li
    a(href="/TF1-3HF") Doctors near TF1 3HF
  li
    a(href="/TF1-3HG") Doctors near TF1 3HG
  li
    a(href="/TF1-3HH") Doctors near TF1 3HH
  li
    a(href="/TF1-3HJ") Doctors near TF1 3HJ
  li
    a(href="/TF1-3HL") Doctors near TF1 3HL
  li
    a(href="/TF1-3HN") Doctors near TF1 3HN
  li
    a(href="/TF1-3HP") Doctors near TF1 3HP
  li
    a(href="/TF1-3HQ") Doctors near TF1 3HQ
  li
    a(href="/TF1-3HR") Doctors near TF1 3HR
  li
    a(href="/TF1-3HS") Doctors near TF1 3HS
  li
    a(href="/TF1-3HT") Doctors near TF1 3HT
  li
    a(href="/TF1-3HU") Doctors near TF1 3HU
  li
    a(href="/TF1-3HW") Doctors near TF1 3HW
  li
    a(href="/TF1-3HX") Doctors near TF1 3HX
  li
    a(href="/TF1-3HY") Doctors near TF1 3HY
  li
    a(href="/TF1-3HZ") Doctors near TF1 3HZ
  li
    a(href="/TF1-3JA") Doctors near TF1 3JA
  li
    a(href="/TF1-3JB") Doctors near TF1 3JB
  li
    a(href="/TF1-3JD") Doctors near TF1 3JD
  li
    a(href="/TF1-3JE") Doctors near TF1 3JE
  li
    a(href="/TF1-3JF") Doctors near TF1 3JF
  li
    a(href="/TF1-3JG") Doctors near TF1 3JG
  li
    a(href="/TF1-3JH") Doctors near TF1 3JH
  li
    a(href="/TF1-3JJ") Doctors near TF1 3JJ
  li
    a(href="/TF1-3JL") Doctors near TF1 3JL
  li
    a(href="/TF1-3JP") Doctors near TF1 3JP
  li
    a(href="/TF1-3JQ") Doctors near TF1 3JQ
  li
    a(href="/TF1-3JR") Doctors near TF1 3JR
  li
    a(href="/TF1-3JS") Doctors near TF1 3JS
  li
    a(href="/TF1-3JT") Doctors near TF1 3JT
  li
    a(href="/TF1-3JU") Doctors near TF1 3JU
  li
    a(href="/TF1-3JW") Doctors near TF1 3JW
  li
    a(href="/TF1-3JX") Doctors near TF1 3JX
  li
    a(href="/TF1-3JY") Doctors near TF1 3JY
  li
    a(href="/TF1-3JZ") Doctors near TF1 3JZ
  li
    a(href="/TF1-3LA") Doctors near TF1 3LA
  li
    a(href="/TF1-3LB") Doctors near TF1 3LB
  li
    a(href="/TF1-3LD") Doctors near TF1 3LD
  li
    a(href="/TF1-3LE") Doctors near TF1 3LE
  li
    a(href="/TF1-3LF") Doctors near TF1 3LF
  li
    a(href="/TF1-3LG") Doctors near TF1 3LG
  li
    a(href="/TF1-3LH") Doctors near TF1 3LH
  li
    a(href="/TF1-3LL") Doctors near TF1 3LL
  li
    a(href="/TF1-3LN") Doctors near TF1 3LN
  li
    a(href="/TF1-3LP") Doctors near TF1 3LP
  li
    a(href="/TF1-3LQ") Doctors near TF1 3LQ
  li
    a(href="/TF1-3LR") Doctors near TF1 3LR
  li
    a(href="/TF1-3LS") Doctors near TF1 3LS
  li
    a(href="/TF1-3LT") Doctors near TF1 3LT
  li
    a(href="/TF1-3LU") Doctors near TF1 3LU
  li
    a(href="/TF1-3LW") Doctors near TF1 3LW
  li
    a(href="/TF1-3LX") Doctors near TF1 3LX
  li
    a(href="/TF1-3LY") Doctors near TF1 3LY
  li
    a(href="/TF1-3LZ") Doctors near TF1 3LZ
  li
    a(href="/TF1-3NA") Doctors near TF1 3NA
  li
    a(href="/TF1-3NB") Doctors near TF1 3NB
  li
    a(href="/TF1-3ND") Doctors near TF1 3ND
  li
    a(href="/TF1-3NE") Doctors near TF1 3NE
  li
    a(href="/TF1-3NF") Doctors near TF1 3NF
  li
    a(href="/TF1-3NG") Doctors near TF1 3NG
  li
    a(href="/TF1-3NH") Doctors near TF1 3NH
  li
    a(href="/TF1-3NJ") Doctors near TF1 3NJ
  li
    a(href="/TF1-3NL") Doctors near TF1 3NL
  li
    a(href="/TF1-3NN") Doctors near TF1 3NN
  li
    a(href="/TF1-3NP") Doctors near TF1 3NP
  li
    a(href="/TF1-3NQ") Doctors near TF1 3NQ
  li
    a(href="/TF1-3NR") Doctors near TF1 3NR
  li
    a(href="/TF1-3NS") Doctors near TF1 3NS
  li
    a(href="/TF1-3NT") Doctors near TF1 3NT
  li
    a(href="/TF1-3NU") Doctors near TF1 3NU
  li
    a(href="/TF1-3NW") Doctors near TF1 3NW
  li
    a(href="/TF1-3NX") Doctors near TF1 3NX
  li
    a(href="/TF1-3NY") Doctors near TF1 3NY
  li
    a(href="/TF1-3NZ") Doctors near TF1 3NZ
  li
    a(href="/TF1-3PA") Doctors near TF1 3PA
  li
    a(href="/TF1-3PB") Doctors near TF1 3PB
  li
    a(href="/TF1-3PE") Doctors near TF1 3PE
  li
    a(href="/TF1-3PF") Doctors near TF1 3PF
  li
    a(href="/TF1-3PG") Doctors near TF1 3PG
  li
    a(href="/TF1-3PH") Doctors near TF1 3PH
  li
    a(href="/TF1-3PJ") Doctors near TF1 3PJ
  li
    a(href="/TF1-3PL") Doctors near TF1 3PL
  li
    a(href="/TF1-3PN") Doctors near TF1 3PN
  li
    a(href="/TF1-3PP") Doctors near TF1 3PP
  li
    a(href="/TF1-3PR") Doctors near TF1 3PR
  li
    a(href="/TF1-3PS") Doctors near TF1 3PS
  li
    a(href="/TF1-3PT") Doctors near TF1 3PT
  li
    a(href="/TF1-3PU") Doctors near TF1 3PU
  li
    a(href="/TF1-3PW") Doctors near TF1 3PW
  li
    a(href="/TF1-3PX") Doctors near TF1 3PX
  li
    a(href="/TF1-3PY") Doctors near TF1 3PY
  li
    a(href="/TF1-3PZ") Doctors near TF1 3PZ
  li
    a(href="/TF1-3QA") Doctors near TF1 3QA
  li
    a(href="/TF1-3QB") Doctors near TF1 3QB
  li
    a(href="/TF1-3QD") Doctors near TF1 3QD
  li
    a(href="/TF1-3QE") Doctors near TF1 3QE
  li
    a(href="/TF1-3QF") Doctors near TF1 3QF
  li
    a(href="/TF1-3QG") Doctors near TF1 3QG
  li
    a(href="/TF1-3QH") Doctors near TF1 3QH
  li
    a(href="/TF1-3QJ") Doctors near TF1 3QJ
  li
    a(href="/TF1-3QL") Doctors near TF1 3QL
  li
    a(href="/TF1-3QN") Doctors near TF1 3QN
  li
    a(href="/TF1-3QP") Doctors near TF1 3QP
  li
    a(href="/TF1-3QQ") Doctors near TF1 3QQ
  li
    a(href="/TF1-3QR") Doctors near TF1 3QR
  li
    a(href="/TF1-3QS") Doctors near TF1 3QS
  li
    a(href="/TF1-3QT") Doctors near TF1 3QT
  li
    a(href="/TF1-3QU") Doctors near TF1 3QU
  li
    a(href="/TF1-3QW") Doctors near TF1 3QW
  li
    a(href="/TF1-3QX") Doctors near TF1 3QX
  li
    a(href="/TF1-3QY") Doctors near TF1 3QY
  li
    a(href="/TF1-3QZ") Doctors near TF1 3QZ
  li
    a(href="/TF1-3WX") Doctors near TF1 3WX
  li
    a(href="/TF1-5AA") Doctors near TF1 5AA
  li
    a(href="/TF1-5AB") Doctors near TF1 5AB
  li
    a(href="/TF1-5AD") Doctors near TF1 5AD
  li
    a(href="/TF1-5AE") Doctors near TF1 5AE
  li
    a(href="/TF1-5AF") Doctors near TF1 5AF
  li
    a(href="/TF1-5AG") Doctors near TF1 5AG
  li
    a(href="/TF1-5AH") Doctors near TF1 5AH
  li
    a(href="/TF1-5AJ") Doctors near TF1 5AJ
  li
    a(href="/TF1-5AL") Doctors near TF1 5AL
  li
    a(href="/TF1-5AN") Doctors near TF1 5AN
  li
    a(href="/TF1-5AP") Doctors near TF1 5AP
  li
    a(href="/TF1-5AQ") Doctors near TF1 5AQ
  li
    a(href="/TF1-5AR") Doctors near TF1 5AR
  li
    a(href="/TF1-5AS") Doctors near TF1 5AS
  li
    a(href="/TF1-5AT") Doctors near TF1 5AT
  li
    a(href="/TF1-5AU") Doctors near TF1 5AU
  li
    a(href="/TF1-5AX") Doctors near TF1 5AX
  li
    a(href="/TF1-5AY") Doctors near TF1 5AY
  li
    a(href="/TF1-5BA") Doctors near TF1 5BA
  li
    a(href="/TF1-5BB") Doctors near TF1 5BB
  li
    a(href="/TF1-5BD") Doctors near TF1 5BD
  li
    a(href="/TF1-5BE") Doctors near TF1 5BE
  li
    a(href="/TF1-5BF") Doctors near TF1 5BF
  li
    a(href="/TF1-5BG") Doctors near TF1 5BG
  li
    a(href="/TF1-5BH") Doctors near TF1 5BH
  li
    a(href="/TF1-5BJ") Doctors near TF1 5BJ
  li
    a(href="/TF1-5BL") Doctors near TF1 5BL
  li
    a(href="/TF1-5BN") Doctors near TF1 5BN
  li
    a(href="/TF1-5BP") Doctors near TF1 5BP
  li
    a(href="/TF1-5BQ") Doctors near TF1 5BQ
  li
    a(href="/TF1-5BR") Doctors near TF1 5BR
  li
    a(href="/TF1-5BS") Doctors near TF1 5BS
  li
    a(href="/TF1-5BT") Doctors near TF1 5BT
  li
    a(href="/TF1-5BU") Doctors near TF1 5BU
  li
    a(href="/TF1-5BW") Doctors near TF1 5BW
  li
    a(href="/TF1-5BX") Doctors near TF1 5BX
  li
    a(href="/TF1-5BY") Doctors near TF1 5BY
  li
    a(href="/TF1-5BZ") Doctors near TF1 5BZ
  li
    a(href="/TF1-5DA") Doctors near TF1 5DA
  li
    a(href="/TF1-5DB") Doctors near TF1 5DB
  li
    a(href="/TF1-5DE") Doctors near TF1 5DE
  li
    a(href="/TF1-5DF") Doctors near TF1 5DF
  li
    a(href="/TF1-5DG") Doctors near TF1 5DG
  li
    a(href="/TF1-5DH") Doctors near TF1 5DH
  li
    a(href="/TF1-5DJ") Doctors near TF1 5DJ
  li
    a(href="/TF1-5DL") Doctors near TF1 5DL
  li
    a(href="/TF1-5DN") Doctors near TF1 5DN
  li
    a(href="/TF1-5DP") Doctors near TF1 5DP
  li
    a(href="/TF1-5DQ") Doctors near TF1 5DQ
  li
    a(href="/TF1-5DR") Doctors near TF1 5DR
  li
    a(href="/TF1-5DS") Doctors near TF1 5DS
  li
    a(href="/TF1-5DT") Doctors near TF1 5DT
  li
    a(href="/TF1-5DW") Doctors near TF1 5DW
  li
    a(href="/TF1-5DX") Doctors near TF1 5DX
  li
    a(href="/TF1-5DY") Doctors near TF1 5DY
  li
    a(href="/TF1-5DZ") Doctors near TF1 5DZ
  li
    a(href="/TF1-5EA") Doctors near TF1 5EA
  li
    a(href="/TF1-5EB") Doctors near TF1 5EB
  li
    a(href="/TF1-5ED") Doctors near TF1 5ED
  li
    a(href="/TF1-5EE") Doctors near TF1 5EE
  li
    a(href="/TF1-5EF") Doctors near TF1 5EF
  li
    a(href="/TF1-5EG") Doctors near TF1 5EG
  li
    a(href="/TF1-5EH") Doctors near TF1 5EH
  li
    a(href="/TF1-5EJ") Doctors near TF1 5EJ
  li
    a(href="/TF1-5EL") Doctors near TF1 5EL
  li
    a(href="/TF1-5EN") Doctors near TF1 5EN
  li
    a(href="/TF1-5EP") Doctors near TF1 5EP
  li
    a(href="/TF1-5EQ") Doctors near TF1 5EQ
  li
    a(href="/TF1-5ER") Doctors near TF1 5ER
  li
    a(href="/TF1-5ES") Doctors near TF1 5ES
  li
    a(href="/TF1-5ET") Doctors near TF1 5ET
  li
    a(href="/TF1-5EU") Doctors near TF1 5EU
  li
    a(href="/TF1-5EW") Doctors near TF1 5EW
  li
    a(href="/TF1-5EX") Doctors near TF1 5EX
  li
    a(href="/TF1-5EY") Doctors near TF1 5EY
  li
    a(href="/TF1-5EZ") Doctors near TF1 5EZ
  li
    a(href="/TF1-5FB") Doctors near TF1 5FB
  li
    a(href="/TF1-5FD") Doctors near TF1 5FD
  li
    a(href="/TF1-5FE") Doctors near TF1 5FE
  li
    a(href="/TF1-5FL") Doctors near TF1 5FL
  li
    a(href="/TF1-5GA") Doctors near TF1 5GA
  li
    a(href="/TF1-5GB") Doctors near TF1 5GB
  li
    a(href="/TF1-5GD") Doctors near TF1 5GD
  li
    a(href="/TF1-5GE") Doctors near TF1 5GE
  li
    a(href="/TF1-5GH") Doctors near TF1 5GH
  li
    a(href="/TF1-5HA") Doctors near TF1 5HA
  li
    a(href="/TF1-5HB") Doctors near TF1 5HB
  li
    a(href="/TF1-5HD") Doctors near TF1 5HD
  li
    a(href="/TF1-5HE") Doctors near TF1 5HE
  li
    a(href="/TF1-5HF") Doctors near TF1 5HF
  li
    a(href="/TF1-5HG") Doctors near TF1 5HG
  li
    a(href="/TF1-5HH") Doctors near TF1 5HH
  li
    a(href="/TF1-5HJ") Doctors near TF1 5HJ
  li
    a(href="/TF1-5HL") Doctors near TF1 5HL
  li
    a(href="/TF1-5HN") Doctors near TF1 5HN
  li
    a(href="/TF1-5HP") Doctors near TF1 5HP
  li
    a(href="/TF1-5HQ") Doctors near TF1 5HQ
  li
    a(href="/TF1-5HR") Doctors near TF1 5HR
  li
    a(href="/TF1-5HS") Doctors near TF1 5HS
  li
    a(href="/TF1-5HT") Doctors near TF1 5HT
  li
    a(href="/TF1-5HU") Doctors near TF1 5HU
  li
    a(href="/TF1-5HW") Doctors near TF1 5HW
  li
    a(href="/TF1-5HX") Doctors near TF1 5HX
  li
    a(href="/TF1-5HY") Doctors near TF1 5HY
  li
    a(href="/TF1-5HZ") Doctors near TF1 5HZ
  li
    a(href="/TF1-5JB") Doctors near TF1 5JB
  li
    a(href="/TF1-5JD") Doctors near TF1 5JD
  li
    a(href="/TF1-5JE") Doctors near TF1 5JE
  li
    a(href="/TF1-5JF") Doctors near TF1 5JF
  li
    a(href="/TF1-5JG") Doctors near TF1 5JG
  li
    a(href="/TF1-5JH") Doctors near TF1 5JH
  li
    a(href="/TF1-5JJ") Doctors near TF1 5JJ
  li
    a(href="/TF1-5JL") Doctors near TF1 5JL
  li
    a(href="/TF1-5JP") Doctors near TF1 5JP
  li
    a(href="/TF1-5JR") Doctors near TF1 5JR
  li
    a(href="/TF1-5JS") Doctors near TF1 5JS
  li
    a(href="/TF1-5JT") Doctors near TF1 5JT
  li
    a(href="/TF1-5JU") Doctors near TF1 5JU
  li
    a(href="/TF1-5JW") Doctors near TF1 5JW
  li
    a(href="/TF1-5JX") Doctors near TF1 5JX
  li
    a(href="/TF1-5JY") Doctors near TF1 5JY
  li
    a(href="/TF1-5JZ") Doctors near TF1 5JZ
  li
    a(href="/TF1-5LA") Doctors near TF1 5LA
  li
    a(href="/TF1-5LB") Doctors near TF1 5LB
  li
    a(href="/TF1-5LD") Doctors near TF1 5LD
  li
    a(href="/TF1-5LE") Doctors near TF1 5LE
  li
    a(href="/TF1-5LF") Doctors near TF1 5LF
  li
    a(href="/TF1-5LG") Doctors near TF1 5LG
  li
    a(href="/TF1-5LH") Doctors near TF1 5LH
  li
    a(href="/TF1-5LJ") Doctors near TF1 5LJ
  li
    a(href="/TF1-5LL") Doctors near TF1 5LL
  li
    a(href="/TF1-5LN") Doctors near TF1 5LN
  li
    a(href="/TF1-5LP") Doctors near TF1 5LP
  li
    a(href="/TF1-5LQ") Doctors near TF1 5LQ
  li
    a(href="/TF1-5LR") Doctors near TF1 5LR
  li
    a(href="/TF1-5LS") Doctors near TF1 5LS
  li
    a(href="/TF1-5LT") Doctors near TF1 5LT
  li
    a(href="/TF1-5LU") Doctors near TF1 5LU
  li
    a(href="/TF1-5LW") Doctors near TF1 5LW
  li
    a(href="/TF1-5NB") Doctors near TF1 5NB
  li
    a(href="/TF1-5NE") Doctors near TF1 5NE
  li
    a(href="/TF1-5NF") Doctors near TF1 5NF
  li
    a(href="/TF1-5NG") Doctors near TF1 5NG
  li
    a(href="/TF1-5NH") Doctors near TF1 5NH
  li
    a(href="/TF1-5NJ") Doctors near TF1 5NJ
  li
    a(href="/TF1-5NL") Doctors near TF1 5NL
  li
    a(href="/TF1-5NN") Doctors near TF1 5NN
  li
    a(href="/TF1-5NP") Doctors near TF1 5NP
  li
    a(href="/TF1-5NQ") Doctors near TF1 5NQ
  li
    a(href="/TF1-5NR") Doctors near TF1 5NR
  li
    a(href="/TF1-5NS") Doctors near TF1 5NS
  li
    a(href="/TF1-5NT") Doctors near TF1 5NT
  li
    a(href="/TF1-5NU") Doctors near TF1 5NU
  li
    a(href="/TF1-5NW") Doctors near TF1 5NW
  li
    a(href="/TF1-5NX") Doctors near TF1 5NX
  li
    a(href="/TF1-5NY") Doctors near TF1 5NY
  li
    a(href="/TF1-5NZ") Doctors near TF1 5NZ
  li
    a(href="/TF1-5PA") Doctors near TF1 5PA
  li
    a(href="/TF1-5PB") Doctors near TF1 5PB
  li
    a(href="/TF1-5PD") Doctors near TF1 5PD
  li
    a(href="/TF1-5PE") Doctors near TF1 5PE
  li
    a(href="/TF1-5PF") Doctors near TF1 5PF
  li
    a(href="/TF1-5PG") Doctors near TF1 5PG
  li
    a(href="/TF1-5PJ") Doctors near TF1 5PJ
  li
    a(href="/TF1-5PL") Doctors near TF1 5PL
  li
    a(href="/TF1-5PN") Doctors near TF1 5PN
  li
    a(href="/TF1-5QX") Doctors near TF1 5QX
  li
    a(href="/TF1-5RA") Doctors near TF1 5RA
  li
    a(href="/TF1-5RE") Doctors near TF1 5RE
  li
    a(href="/TF1-5RF") Doctors near TF1 5RF
  li
    a(href="/TF1-5RG") Doctors near TF1 5RG
  li
    a(href="/TF1-5RH") Doctors near TF1 5RH
  li
    a(href="/TF1-5RJ") Doctors near TF1 5RJ
  li
    a(href="/TF1-5RL") Doctors near TF1 5RL
  li
    a(href="/TF1-5RN") Doctors near TF1 5RN
  li
    a(href="/TF1-5RP") Doctors near TF1 5RP
  li
    a(href="/TF1-5RQ") Doctors near TF1 5RQ
  li
    a(href="/TF1-5RR") Doctors near TF1 5RR
  li
    a(href="/TF1-5RS") Doctors near TF1 5RS
  li
    a(href="/TF1-5RT") Doctors near TF1 5RT
  li
    a(href="/TF1-5RU") Doctors near TF1 5RU
  li
    a(href="/TF1-5RW") Doctors near TF1 5RW
  li
    a(href="/TF1-5RX") Doctors near TF1 5RX
  li
    a(href="/TF1-5RY") Doctors near TF1 5RY
  li
    a(href="/TF1-5RZ") Doctors near TF1 5RZ
  li
    a(href="/TF1-5SA") Doctors near TF1 5SA
  li
    a(href="/TF1-5SB") Doctors near TF1 5SB
  li
    a(href="/TF1-5SD") Doctors near TF1 5SD
  li
    a(href="/TF1-5SE") Doctors near TF1 5SE
  li
    a(href="/TF1-5SF") Doctors near TF1 5SF
  li
    a(href="/TF1-5SG") Doctors near TF1 5SG
  li
    a(href="/TF1-5SH") Doctors near TF1 5SH
  li
    a(href="/TF1-5SJ") Doctors near TF1 5SJ
  li
    a(href="/TF1-5SL") Doctors near TF1 5SL
  li
    a(href="/TF1-5SN") Doctors near TF1 5SN
  li
    a(href="/TF1-5SP") Doctors near TF1 5SP
  li
    a(href="/TF1-5SQ") Doctors near TF1 5SQ
  li
    a(href="/TF1-5SR") Doctors near TF1 5SR
  li
    a(href="/TF1-5SS") Doctors near TF1 5SS
  li
    a(href="/TF1-5ST") Doctors near TF1 5ST
  li
    a(href="/TF1-5SU") Doctors near TF1 5SU
  li
    a(href="/TF1-5SW") Doctors near TF1 5SW
  li
    a(href="/TF1-5SX") Doctors near TF1 5SX
  li
    a(href="/TF1-5TA") Doctors near TF1 5TA
  li
    a(href="/TF1-5TD") Doctors near TF1 5TD
  li
    a(href="/TF1-5WD") Doctors near TF1 5WD
  li
    a(href="/TF1-5WN") Doctors near TF1 5WN
  li
    a(href="/TF1-5WR") Doctors near TF1 5WR
  li
    a(href="/TF1-5WT") Doctors near TF1 5WT
  li
    a(href="/TF1-5XB") Doctors near TF1 5XB
  li
    a(href="/TF1-5YA") Doctors near TF1 5YA
  li
    a(href="/TF1-5YB") Doctors near TF1 5YB
  li
    a(href="/TF1-5YL") Doctors near TF1 5YL
  li
    a(href="/TF1-5ZH") Doctors near TF1 5ZH
  li
    a(href="/TF1-5ZJ") Doctors near TF1 5ZJ
  li
    a(href="/TF1-5ZL") Doctors near TF1 5ZL
  li
    a(href="/TF1-5ZN") Doctors near TF1 5ZN
  li
    a(href="/TF1-5ZT") Doctors near TF1 5ZT
  li
    a(href="/TF1-6AA") Doctors near TF1 6AA
  li
    a(href="/TF1-6AB") Doctors near TF1 6AB
  li
    a(href="/TF1-6AD") Doctors near TF1 6AD
  li
    a(href="/TF1-6AF") Doctors near TF1 6AF
  li
    a(href="/TF1-6AJ") Doctors near TF1 6AJ
  li
    a(href="/TF1-6AL") Doctors near TF1 6AL
  li
    a(href="/TF1-6DB") Doctors near TF1 6DB
  li
    a(href="/TF1-6DD") Doctors near TF1 6DD
  li
    a(href="/TF1-6DP") Doctors near TF1 6DP
  li
    a(href="/TF1-6DR") Doctors near TF1 6DR
  li
    a(href="/TF1-6DT") Doctors near TF1 6DT
  li
    a(href="/TF1-6FJ") Doctors near TF1 6FJ
  li
    a(href="/TF1-6FN") Doctors near TF1 6FN
  li
    a(href="/TF1-6FP") Doctors near TF1 6FP
  li
    a(href="/TF1-6FQ") Doctors near TF1 6FQ
  li
    a(href="/TF1-6FR") Doctors near TF1 6FR
  li
    a(href="/TF1-6FU") Doctors near TF1 6FU
  li
    a(href="/TF1-6FW") Doctors near TF1 6FW
  li
    a(href="/TF1-6FX") Doctors near TF1 6FX
  li
    a(href="/TF1-6FY") Doctors near TF1 6FY
  li
    a(href="/TF1-6FZ") Doctors near TF1 6FZ
  li
    a(href="/TF1-6GA") Doctors near TF1 6GA
  li
    a(href="/TF1-6GF") Doctors near TF1 6GF
  li
    a(href="/TF1-6GJ") Doctors near TF1 6GJ
  li
    a(href="/TF1-6GQ") Doctors near TF1 6GQ
  li
    a(href="/TF1-6GZ") Doctors near TF1 6GZ
  li
    a(href="/TF1-6JE") Doctors near TF1 6JE
  li
    a(href="/TF1-6JG") Doctors near TF1 6JG
  li
    a(href="/TF1-6JH") Doctors near TF1 6JH
  li
    a(href="/TF1-6JJ") Doctors near TF1 6JJ
  li
    a(href="/TF1-6JL") Doctors near TF1 6JL
  li
    a(href="/TF1-6JN") Doctors near TF1 6JN
  li
    a(href="/TF1-6JQ") Doctors near TF1 6JQ
  li
    a(href="/TF1-6JZ") Doctors near TF1 6JZ
  li
    a(href="/TF1-6LH") Doctors near TF1 6LH
  li
    a(href="/TF1-6LN") Doctors near TF1 6LN
  li
    a(href="/TF1-6LP") Doctors near TF1 6LP
  li
    a(href="/TF1-6LR") Doctors near TF1 6LR
  li
    a(href="/TF1-6LT") Doctors near TF1 6LT
  li
    a(href="/TF1-6LU") Doctors near TF1 6LU
  li
    a(href="/TF1-6LW") Doctors near TF1 6LW
  li
    a(href="/TF1-6LZ") Doctors near TF1 6LZ
  li
    a(href="/TF1-6NA") Doctors near TF1 6NA
  li
    a(href="/TF1-6ND") Doctors near TF1 6ND
  li
    a(href="/TF1-6NH") Doctors near TF1 6NH
  li
    a(href="/TF1-6NJ") Doctors near TF1 6NJ
  li
    a(href="/TF1-6NQ") Doctors near TF1 6NQ
  li
    a(href="/TF1-6NU") Doctors near TF1 6NU
  li
    a(href="/TF1-6PE") Doctors near TF1 6PE
  li
    a(href="/TF1-6PF") Doctors near TF1 6PF
  li
    a(href="/TF1-6PG") Doctors near TF1 6PG
  li
    a(href="/TF1-6PH") Doctors near TF1 6PH
  li
    a(href="/TF1-6PJ") Doctors near TF1 6PJ
  li
    a(href="/TF1-6PN") Doctors near TF1 6PN
  li
    a(href="/TF1-6PP") Doctors near TF1 6PP
  li
    a(href="/TF1-6PQ") Doctors near TF1 6PQ
  li
    a(href="/TF1-6PR") Doctors near TF1 6PR
  li
    a(href="/TF1-6PS") Doctors near TF1 6PS
  li
    a(href="/TF1-6PT") Doctors near TF1 6PT
  li
    a(href="/TF1-6PU") Doctors near TF1 6PU
  li
    a(href="/TF1-6PW") Doctors near TF1 6PW
  li
    a(href="/TF1-6PX") Doctors near TF1 6PX
  li
    a(href="/TF1-6PY") Doctors near TF1 6PY
  li
    a(href="/TF1-6PZ") Doctors near TF1 6PZ
  li
    a(href="/TF1-6QA") Doctors near TF1 6QA
  li
    a(href="/TF1-6QB") Doctors near TF1 6QB
  li
    a(href="/TF1-6QD") Doctors near TF1 6QD
  li
    a(href="/TF1-6QE") Doctors near TF1 6QE
  li
    a(href="/TF1-6QF") Doctors near TF1 6QF
  li
    a(href="/TF1-6QG") Doctors near TF1 6QG
  li
    a(href="/TF1-6QH") Doctors near TF1 6QH
  li
    a(href="/TF1-6QJ") Doctors near TF1 6QJ
  li
    a(href="/TF1-6QL") Doctors near TF1 6QL
  li
    a(href="/TF1-6QN") Doctors near TF1 6QN
  li
    a(href="/TF1-6QP") Doctors near TF1 6QP
  li
    a(href="/TF1-6QQ") Doctors near TF1 6QQ
  li
    a(href="/TF1-6QR") Doctors near TF1 6QR
  li
    a(href="/TF1-6QS") Doctors near TF1 6QS
  li
    a(href="/TF1-6QT") Doctors near TF1 6QT
  li
    a(href="/TF1-6QU") Doctors near TF1 6QU
  li
    a(href="/TF1-6QW") Doctors near TF1 6QW
  li
    a(href="/TF1-6QX") Doctors near TF1 6QX
  li
    a(href="/TF1-6QZ") Doctors near TF1 6QZ
  li
    a(href="/TF1-6RB") Doctors near TF1 6RB
  li
    a(href="/TF1-6RD") Doctors near TF1 6RD
  li
    a(href="/TF1-6RG") Doctors near TF1 6RG
  li
    a(href="/TF1-6RH") Doctors near TF1 6RH
  li
    a(href="/TF1-6RJ") Doctors near TF1 6RJ
  li
    a(href="/TF1-6SG") Doctors near TF1 6SG
  li
    a(href="/TF1-6SN") Doctors near TF1 6SN
  li
    a(href="/TF1-6SS") Doctors near TF1 6SS
  li
    a(href="/TF1-6SX") Doctors near TF1 6SX
  li
    a(href="/TF1-6SZ") Doctors near TF1 6SZ
  li
    a(href="/TF1-6TA") Doctors near TF1 6TA
  li
    a(href="/TF1-6TB") Doctors near TF1 6TB
  li
    a(href="/TF1-6TD") Doctors near TF1 6TD
  li
    a(href="/TF1-6TE") Doctors near TF1 6TE
  li
    a(href="/TF1-6TF") Doctors near TF1 6TF
  li
    a(href="/TF1-6TG") Doctors near TF1 6TG
  li
    a(href="/TF1-6TH") Doctors near TF1 6TH
  li
    a(href="/TF1-6TJ") Doctors near TF1 6TJ
  li
    a(href="/TF1-6TL") Doctors near TF1 6TL
  li
    a(href="/TF1-6TN") Doctors near TF1 6TN
  li
    a(href="/TF1-6TP") Doctors near TF1 6TP
  li
    a(href="/TF1-6TQ") Doctors near TF1 6TQ
  li
    a(href="/TF1-6TR") Doctors near TF1 6TR
  li
    a(href="/TF1-6TS") Doctors near TF1 6TS
  li
    a(href="/TF1-6TT") Doctors near TF1 6TT
  li
    a(href="/TF1-6TU") Doctors near TF1 6TU
  li
    a(href="/TF1-6TW") Doctors near TF1 6TW
  li
    a(href="/TF1-6TX") Doctors near TF1 6TX
  li
    a(href="/TF1-6TY") Doctors near TF1 6TY
  li
    a(href="/TF1-6TZ") Doctors near TF1 6TZ
  li
    a(href="/TF1-6UA") Doctors near TF1 6UA
  li
    a(href="/TF1-6UB") Doctors near TF1 6UB
  li
    a(href="/TF1-6UD") Doctors near TF1 6UD
  li
    a(href="/TF1-6UE") Doctors near TF1 6UE
  li
    a(href="/TF1-6UF") Doctors near TF1 6UF
  li
    a(href="/TF1-6UG") Doctors near TF1 6UG
  li
    a(href="/TF1-6UH") Doctors near TF1 6UH
  li
    a(href="/TF1-6UJ") Doctors near TF1 6UJ
  li
    a(href="/TF1-6UL") Doctors near TF1 6UL
  li
    a(href="/TF1-6UN") Doctors near TF1 6UN
  li
    a(href="/TF1-6UP") Doctors near TF1 6UP
  li
    a(href="/TF1-6UQ") Doctors near TF1 6UQ
  li
    a(href="/TF1-6UR") Doctors near TF1 6UR
  li
    a(href="/TF1-6US") Doctors near TF1 6US
  li
    a(href="/TF1-6UT") Doctors near TF1 6UT
  li
    a(href="/TF1-6UU") Doctors near TF1 6UU
  li
    a(href="/TF1-6UW") Doctors near TF1 6UW
  li
    a(href="/TF1-6UX") Doctors near TF1 6UX
  li
    a(href="/TF1-6UY") Doctors near TF1 6UY
  li
    a(href="/TF1-6UZ") Doctors near TF1 6UZ
  li
    a(href="/TF1-6WA") Doctors near TF1 6WA
  li
    a(href="/TF1-6WB") Doctors near TF1 6WB
  li
    a(href="/TF1-6WD") Doctors near TF1 6WD
  li
    a(href="/TF1-6WE") Doctors near TF1 6WE
  li
    a(href="/TF1-6WF") Doctors near TF1 6WF
  li
    a(href="/TF1-6WG") Doctors near TF1 6WG
  li
    a(href="/TF1-6WH") Doctors near TF1 6WH
  li
    a(href="/TF1-6WJ") Doctors near TF1 6WJ
  li
    a(href="/TF1-6WL") Doctors near TF1 6WL
  li
    a(href="/TF1-6WQ") Doctors near TF1 6WQ
  li
    a(href="/TF1-6WS") Doctors near TF1 6WS
  li
    a(href="/TF1-6XA") Doctors near TF1 6XA
  li
    a(href="/TF1-6XB") Doctors near TF1 6XB
  li
    a(href="/TF1-6XD") Doctors near TF1 6XD
  li
    a(href="/TF1-6XE") Doctors near TF1 6XE
  li
    a(href="/TF1-6XF") Doctors near TF1 6XF
  li
    a(href="/TF1-6XG") Doctors near TF1 6XG
  li
    a(href="/TF1-6XH") Doctors near TF1 6XH
  li
    a(href="/TF1-6XJ") Doctors near TF1 6XJ
  li
    a(href="/TF1-6XL") Doctors near TF1 6XL
  li
    a(href="/TF1-6XN") Doctors near TF1 6XN
  li
    a(href="/TF1-6XP") Doctors near TF1 6XP
  li
    a(href="/TF1-6XQ") Doctors near TF1 6XQ
  li
    a(href="/TF1-6XR") Doctors near TF1 6XR
  li
    a(href="/TF1-6XS") Doctors near TF1 6XS
  li
    a(href="/TF1-6XT") Doctors near TF1 6XT
  li
    a(href="/TF1-6XU") Doctors near TF1 6XU
  li
    a(href="/TF1-6XW") Doctors near TF1 6XW
  li
    a(href="/TF1-6XX") Doctors near TF1 6XX
  li
    a(href="/TF1-6XY") Doctors near TF1 6XY
  li
    a(href="/TF1-6YA") Doctors near TF1 6YA
  li
    a(href="/TF1-6YB") Doctors near TF1 6YB
  li
    a(href="/TF1-6YD") Doctors near TF1 6YD
  li
    a(href="/TF1-6YE") Doctors near TF1 6YE
  li
    a(href="/TF1-6YF") Doctors near TF1 6YF
  li
    a(href="/TF1-6YG") Doctors near TF1 6YG
  li
    a(href="/TF1-6YH") Doctors near TF1 6YH
  li
    a(href="/TF1-6YJ") Doctors near TF1 6YJ
  li
    a(href="/TF1-6YL") Doctors near TF1 6YL
  li
    a(href="/TF1-6YN") Doctors near TF1 6YN
  li
    a(href="/TF1-6YP") Doctors near TF1 6YP
  li
    a(href="/TF1-6YQ") Doctors near TF1 6YQ
  li
    a(href="/TF1-6YR") Doctors near TF1 6YR
  li
    a(href="/TF1-6YS") Doctors near TF1 6YS
  li
    a(href="/TF1-6YT") Doctors near TF1 6YT
  li
    a(href="/TF1-6YU") Doctors near TF1 6YU
  li
    a(href="/TF1-6YW") Doctors near TF1 6YW
  li
    a(href="/TF1-6YX") Doctors near TF1 6YX
  li
    a(href="/TF1-6YY") Doctors near TF1 6YY
  li
    a(href="/TF1-6YZ") Doctors near TF1 6YZ
  li
    a(href="/TF1-6ZH") Doctors near TF1 6ZH
  li
    a(href="/TF1-6ZL") Doctors near TF1 6ZL
  li
    a(href="/TF1-6ZS") Doctors near TF1 6ZS
  li
    a(href="/TF1-6ZT") Doctors near TF1 6ZT
  li
    a(href="/TF1-6ZU") Doctors near TF1 6ZU
  li
    a(href="/TF1-6ZY") Doctors near TF1 6ZY
  li
    a(href="/TF1-7AA") Doctors near TF1 7AA
  li
    a(href="/TF1-7AB") Doctors near TF1 7AB
  li
    a(href="/TF1-7ES") Doctors near TF1 7ES
  li
    a(href="/TF1-7ET") Doctors near TF1 7ET
  li
    a(href="/TF1-7EU") Doctors near TF1 7EU
  li
    a(href="/TF1-7EX") Doctors near TF1 7EX
  li
    a(href="/TF1-7EY") Doctors near TF1 7EY
  li
    a(href="/TF1-7FA") Doctors near TF1 7FA
  li
    a(href="/TF1-7FG") Doctors near TF1 7FG
  li
    a(href="/TF1-7FR") Doctors near TF1 7FR
  li
    a(href="/TF1-7FS") Doctors near TF1 7FS
  li
    a(href="/TF1-7FT") Doctors near TF1 7FT
  li
    a(href="/TF1-7GB") Doctors near TF1 7GB
  li
    a(href="/TF1-7GL") Doctors near TF1 7GL
  li
    a(href="/TF1-7GN") Doctors near TF1 7GN
  li
    a(href="/TF1-7GP") Doctors near TF1 7GP
  li
    a(href="/TF1-7GR") Doctors near TF1 7GR
  li
    a(href="/TF1-7GS") Doctors near TF1 7GS
  li
    a(href="/TF1-7GT") Doctors near TF1 7GT
  li
    a(href="/TF1-7GU") Doctors near TF1 7GU
  li
    a(href="/TF1-7GW") Doctors near TF1 7GW
  li
    a(href="/TF1-7GX") Doctors near TF1 7GX
  li
    a(href="/TF1-7GY") Doctors near TF1 7GY
  li
    a(href="/TF1-7GZ") Doctors near TF1 7GZ
  li
    a(href="/TF1-7LJ") Doctors near TF1 7LJ
  li
    a(href="/TF1-7LL") Doctors near TF1 7LL
  li
    a(href="/TF1-7UL") Doctors near TF1 7UL
  li
    a(href="/TF1-7XT") Doctors near TF1 7XT
  li
    a(href="/TF1-7XW") Doctors near TF1 7XW
  li
    a(href="/TF1-7XX") Doctors near TF1 7XX
  li
    a(href="/TF1-7XY") Doctors near TF1 7XY
  li
    a(href="/TF1-7XZ") Doctors near TF1 7XZ
  li
    a(href="/TF1-7YB") Doctors near TF1 7YB
  li
    a(href="/TF1-7YD") Doctors near TF1 7YD
  li
    a(href="/TF1-7YE") Doctors near TF1 7YE
  li
    a(href="/TF1-7YF") Doctors near TF1 7YF
  li
    a(href="/TF1-7YL") Doctors near TF1 7YL
  li
    a(href="/TF1-7YN") Doctors near TF1 7YN
  li
    a(href="/TF1-7YP") Doctors near TF1 7YP
  li
    a(href="/TF1-7YQ") Doctors near TF1 7YQ
  li
    a(href="/TF1-7YR") Doctors near TF1 7YR
  li
    a(href="/TF1-7YT") Doctors near TF1 7YT
  li
    a(href="/TF1-7YU") Doctors near TF1 7YU
  li
    a(href="/TF1-7YW") Doctors near TF1 7YW
  li
    a(href="/TF1-7YX") Doctors near TF1 7YX
  li
    a(href="/TF1-7YZ") Doctors near TF1 7YZ
  li
    a(href="/TF1-9AG") Doctors near TF1 9AG
  li
    a(href="/TF1-9AL") Doctors near TF1 9AL
  li
    a(href="/TF1-9AN") Doctors near TF1 9AN
  li
    a(href="/TF1-9AR") Doctors near TF1 9AR
  li
    a(href="/TF1-9AT") Doctors near TF1 9AT
  li
    a(href="/TF1-9AY") Doctors near TF1 9AY
  li
    a(href="/TF1-9AZ") Doctors near TF1 9AZ
  li
    a(href="/TF1-9BB") Doctors near TF1 9BB
  li
    a(href="/TF1-9BH") Doctors near TF1 9BH
  li
    a(href="/TF1-9BP") Doctors near TF1 9BP
  li
    a(href="/TF1-9BS") Doctors near TF1 9BS
  li
    a(href="/TF1-9BT") Doctors near TF1 9BT
  li
    a(href="/TF1-9BU") Doctors near TF1 9BU
  li
    a(href="/TF1-9BZ") Doctors near TF1 9BZ
  li
    a(href="/TF1-9DA") Doctors near TF1 9DA
  li
    a(href="/TF1-9DF") Doctors near TF1 9DF
  li
    a(href="/TF1-9DG") Doctors near TF1 9DG
  li
    a(href="/TF1-9DH") Doctors near TF1 9DH
  li
    a(href="/TF1-9DJ") Doctors near TF1 9DJ
  li
    a(href="/TF1-9DL") Doctors near TF1 9DL
  li
    a(href="/TF1-9DN") Doctors near TF1 9DN
  li
    a(href="/TF1-9DP") Doctors near TF1 9DP
  li
    a(href="/TF1-9DR") Doctors near TF1 9DR
  li
    a(href="/TF1-9DS") Doctors near TF1 9DS
