meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/CF61") CF61
  li
    a(href="/browse/CF62") CF62
  li
    a(href="/browse/CF63") CF63
  li
    a(href="/browse/CF64") CF64
  li
    a(href="/browse/CF71") CF71
