meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/RM15") RM15
  li
    a(href="/browse/RM16") RM16
  li
    a(href="/browse/RM17") RM17
  li
    a(href="/browse/RM18") RM18
  li
    a(href="/browse/RM19") RM19
  li
    a(href="/browse/RM20") RM20
  li
    a(href="/browse/SS17") SS17
