meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/TQ1") TQ1
  li
    a(href="/browse/TQ2") TQ2
  li
    a(href="/browse/TQ3") TQ3
  li
    a(href="/browse/TQ4") TQ4
  li
    a(href="/browse/TQ5") TQ5
