meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/TR24-0AD") Doctors near TR24 0AD
  li
    a(href="/TR24-0AE") Doctors near TR24 0AE
  li
    a(href="/TR24-0PU") Doctors near TR24 0PU
  li
    a(href="/TR24-0PW") Doctors near TR24 0PW
  li
    a(href="/TR24-0PX") Doctors near TR24 0PX
  li
    a(href="/TR24-0PY") Doctors near TR24 0PY
  li
    a(href="/TR24-0PZ") Doctors near TR24 0PZ
  li
    a(href="/TR24-0QA") Doctors near TR24 0QA
  li
    a(href="/TR24-0QB") Doctors near TR24 0QB
  li
    a(href="/TR24-0QD") Doctors near TR24 0QD
  li
    a(href="/TR24-0QE") Doctors near TR24 0QE
  li
    a(href="/TR24-0QF") Doctors near TR24 0QF
  li
    a(href="/TR24-0QG") Doctors near TR24 0QG
  li
    a(href="/TR24-0QH") Doctors near TR24 0QH
  li
    a(href="/TR24-0QJ") Doctors near TR24 0QJ
  li
    a(href="/TR24-0QL") Doctors near TR24 0QL
  li
    a(href="/TR24-0QQ") Doctors near TR24 0QQ
