meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/TR25-0QL") Doctors near TR25 0QL
  li
    a(href="/TR25-0QN") Doctors near TR25 0QN
  li
    a(href="/TR25-0QW") Doctors near TR25 0QW
