meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M17") M17
  li
    a(href="/browse/M31") M31
  li
    a(href="/browse/M32") M32
  li
    a(href="/browse/M33") M33
  li
    a(href="/browse/M41") M41
  li
    a(href="/browse/WA14") WA14
  li
    a(href="/browse/WA15") WA15
