meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/WF1") WF1
  li
    a(href="/browse/WF10") WF10
  li
    a(href="/browse/WF11") WF11
  li
    a(href="/browse/WF2") WF2
  li
    a(href="/browse/WF4") WF4
  li
    a(href="/browse/WF5") WF5
  li
    a(href="/browse/WF6") WF6
  li
    a(href="/browse/WF7") WF7
  li
    a(href="/browse/WF8") WF8
  li
    a(href="/browse/WF9") WF9
