meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/WA1") WA1
  li
    a(href="/browse/WA13") WA13
  li
    a(href="/browse/WA2") WA2
  li
    a(href="/browse/WA3") WA3
  li
    a(href="/browse/WA4") WA4
  li
    a(href="/browse/WA5") WA5
