meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B46") B46
  li
    a(href="/browse/B49") B49
  li
    a(href="/browse/B50") B50
  li
    a(href="/browse/B80") B80
  li
    a(href="/browse/B94") B94
  li
    a(href="/browse/B95") B95
  li
    a(href="/browse/CV10") CV10
  li
    a(href="/browse/CV11") CV11
  li
    a(href="/browse/CV12") CV12
  li
    a(href="/browse/CV21") CV21
  li
    a(href="/browse/CV22") CV22
  li
    a(href="/browse/CV23") CV23
  li
    a(href="/browse/CV31") CV31
  li
    a(href="/browse/CV32") CV32
  li
    a(href="/browse/CV33") CV33
  li
    a(href="/browse/CV34") CV34
  li
    a(href="/browse/CV35") CV35
  li
    a(href="/browse/CV36") CV36
  li
    a(href="/browse/CV37") CV37
  li
    a(href="/browse/CV47") CV47
  li
    a(href="/browse/CV8") CV8
  li
    a(href="/browse/CV9") CV9
