meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/EH27") EH27
  li
    a(href="/browse/EH47") EH47
  li
    a(href="/browse/EH48") EH48
  li
    a(href="/browse/EH49") EH49
  li
    a(href="/browse/EH52") EH52
  li
    a(href="/browse/EH53") EH53
  li
    a(href="/browse/EH54") EH54
  li
    a(href="/browse/EH55") EH55
