meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/RG14") RG14
  li
    a(href="/browse/RG17") RG17
  li
    a(href="/browse/RG18") RG18
  li
    a(href="/browse/RG19") RG19
  li
    a(href="/browse/RG20") RG20
  li
    a(href="/browse/RG7") RG7
