meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/M29") M29
  li
    a(href="/browse/M46") M46
  li
    a(href="/browse/WN1") WN1
  li
    a(href="/browse/WN2") WN2
  li
    a(href="/browse/WN3") WN3
  li
    a(href="/browse/WN4") WN4
  li
    a(href="/browse/WN5") WN5
  li
    a(href="/browse/WN6") WN6
  li
    a(href="/browse/WN7") WN7
