meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/BA12") BA12
  li
    a(href="/browse/BA13") BA13
  li
    a(href="/browse/BA14") BA14
  li
    a(href="/browse/BA15") BA15
  li
    a(href="/browse/SN10") SN10
  li
    a(href="/browse/SN11") SN11
  li
    a(href="/browse/SN12") SN12
  li
    a(href="/browse/SN13") SN13
  li
    a(href="/browse/SN14") SN14
  li
    a(href="/browse/SN15") SN15
  li
    a(href="/browse/SN16") SN16
  li
    a(href="/browse/SN8") SN8
  li
    a(href="/browse/SN9") SN9
  li
    a(href="/browse/SP1") SP1
  li
    a(href="/browse/SP2") SP2
  li
    a(href="/browse/SP3") SP3
  li
    a(href="/browse/SP4") SP4
  li
    a(href="/browse/SP5") SP5
