meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/RG10") RG10
  li
    a(href="/browse/RG40") RG40
  li
    a(href="/browse/RG41") RG41
  li
    a(href="/browse/RG45") RG45
  li
    a(href="/browse/RG5") RG5
  li
    a(href="/browse/RG6") RG6
