meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/WR1") WR1
  li
    a(href="/browse/WR2") WR2
  li
    a(href="/browse/WR3") WR3
  li
    a(href="/browse/WR4") WR4
  li
    a(href="/browse/WR5") WR5
