meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/B47") B47
  li
    a(href="/browse/B48") B48
  li
    a(href="/browse/B60") B60
  li
    a(href="/browse/B61") B61
  li
    a(href="/browse/B96") B96
  li
    a(href="/browse/B97") B97
  li
    a(href="/browse/B98") B98
  li
    a(href="/browse/DY10") DY10
  li
    a(href="/browse/DY11") DY11
  li
    a(href="/browse/DY12") DY12
  li
    a(href="/browse/DY13") DY13
  li
    a(href="/browse/WR10") WR10
  li
    a(href="/browse/WR11") WR11
  li
    a(href="/browse/WR12") WR12
  li
    a(href="/browse/WR14") WR14
  li
    a(href="/browse/WR15") WR15
  li
    a(href="/browse/WR6") WR6
  li
    a(href="/browse/WR7") WR7
  li
    a(href="/browse/WR8") WR8
  li
    a(href="/browse/WR9") WR9
