meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/browse/YO1") YO1
  li
    a(href="/browse/YO10") YO10
  li
    a(href="/browse/YO19") YO19
  li
    a(href="/browse/YO23") YO23
  li
    a(href="/browse/YO24") YO24
  li
    a(href="/browse/YO26") YO26
  li
    a(href="/browse/YO30") YO30
  li
    a(href="/browse/YO31") YO31
  li
    a(href="/browse/YO32") YO32
