meta(name="robots",content="NOINDEX")
ul.locations
  li
    a(href="/ZE3-9JJ") Doctors near ZE3 9JJ
  li
    a(href="/ZE3-9JL") Doctors near ZE3 9JL
  li
    a(href="/ZE3-9JN") Doctors near ZE3 9JN
  li
    a(href="/ZE3-9JP") Doctors near ZE3 9JP
  li
    a(href="/ZE3-9JR") Doctors near ZE3 9JR
  li
    a(href="/ZE3-9JS") Doctors near ZE3 9JS
  li
    a(href="/ZE3-9JT") Doctors near ZE3 9JT
  li
    a(href="/ZE3-9JU") Doctors near ZE3 9JU
  li
    a(href="/ZE3-9JW") Doctors near ZE3 9JW
  li
    a(href="/ZE3-9JX") Doctors near ZE3 9JX
  li
    a(href="/ZE3-9JY") Doctors near ZE3 9JY
  li
    a(href="/ZE3-9JZ") Doctors near ZE3 9JZ
