a(href="/") &laquo; Home

:markdown
	DoctorsNear helps you find health professionals nearby, and is designed to work well on phones, tablets and anything else that can connect to the internet. It was originally written for the NHS Hack Day, May 2012.

:markdown
	The information comes from the [NHS Choices](http://www.nhs.uk/servicedirectories/Pages/ServiceSearch.aspx) site, but DoctorsNear is not an official NHS site.

h2 Feedback

:markdown
	My name is Joe Lanman, my site is [joelanman.com](http://joelanman.com), and you can find me on twitter as [@joelanman](http://twitter.com/joelanman) - please let me know what you think!
