ul.locations
  li
    a(href="/browse/Scotland") Scotland
  li
    a(href="/browse/England") England
  li
    a(href="/browse/Northern Ireland") Northern Ireland
  li
    a(href="/browse/Wales") Wales
  li
    a(href="/browse/Guernsey") Guernsey
  li
    a(href="/browse/Isle of Man") Isle of Man
  li
    a(href="/browse/Jersey") Jersey
