a(href="/browse/Scotland") Scotland
a(href="/browse/England") England
a(href="/browse/Northern Ireland") Northern Ireland
a(href="/browse/Wales") Wales
a(href="/browse/Guernsey") Guernsey
a(href="/browse/Isle of Man") Isle of Man
a(href="/browse/Jersey") Jersey
