link(rel='stylesheet', href='/stylesheets/home.css')

script

	function initiate_geolocation() {  
		$('#locationInput').val("Looking for you...")
		navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
	}  

	function handle_geolocation_query(position){
		console.log("handle_geolocation_query");
		$.get("/api/geolocationToPostcode/"+position.coords.longitude+"/"+position.coords.latitude,
			function(data){
				$('#locationInput').val(data.postcode)
				}
			);
	}
	
	$(function(){
		$('#useMyLocation').click(function(e){
		e.preventDefault();
			initiate_geolocation();
		});
	});
	
h1 Find a doctor

form(action="search", method="GET", name="aspnetForm", id="aspnetForm")
	
	.row.location
	
		input(id="locationInput", name="location", placeholder="town or postcode")

	.row.useMyLocation

		a(href="#", id="useMyLocation") Use my location
	
	.row.actions
	
		button(type="submit") Go
		
	.row.browse
	
		a(href="/browse") Browse locations
	
