doctype 5
html	
	head
		title Doctors Near You
		meta(name="viewport",content="width=device-width")
		meta(name="description",content="Find NHS Doctors, medical centres and GPs near you")
		meta(name="google-site-verification",content="h1GuKVfwO3Rvfoh7fmp9X01uN9ewHFY3rBax9BesciA")
		
		link(href='http://fonts.googleapis.com/css?family=Muli',rel='stylesheet',type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Radley',rel='stylesheet',type='text/css')
		link(rel='stylesheet', href='/stylesheets/common.css')
		
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		
	body
	
		#main!= body
		
		footer.mainFooter
			a(href="/about") site by Joe Lanman

	script(type="text/javascript")

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-2889574-7']);
		_gaq.push(['_trackPageview']);

		(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

