ul.locations
  li
    a(href="/browse/Northern Ireland/BT1") BT1
  li
    a(href="/browse/Northern Ireland/BT10") BT10
  li
    a(href="/browse/Northern Ireland/BT11") BT11
  li
    a(href="/browse/Northern Ireland/BT12") BT12
  li
    a(href="/browse/Northern Ireland/BT13") BT13
  li
    a(href="/browse/Northern Ireland/BT14") BT14
  li
    a(href="/browse/Northern Ireland/BT15") BT15
  li
    a(href="/browse/Northern Ireland/BT2") BT2
  li
    a(href="/browse/Northern Ireland/BT3") BT3
  li
    a(href="/browse/Northern Ireland/BT4") BT4
  li
    a(href="/browse/Northern Ireland/BT5") BT5
  li
    a(href="/browse/Northern Ireland/BT6") BT6
  li
    a(href="/browse/Northern Ireland/BT7") BT7
  li
    a(href="/browse/Northern Ireland/BT9") BT9
