ul.locations
  li
    a(href="/BT64 1AA") BT64 1AA
  li
    a(href="/BT64 1AB") BT64 1AB
  li
    a(href="/BT64 1AD") BT64 1AD
  li
    a(href="/BT64 1AE") BT64 1AE
  li
    a(href="/BT64 1AF") BT64 1AF
  li
    a(href="/BT64 1AG") BT64 1AG
  li
    a(href="/BT64 1AH") BT64 1AH
  li
    a(href="/BT64 1AJ") BT64 1AJ
  li
    a(href="/BT64 1AL") BT64 1AL
  li
    a(href="/BT64 1AN") BT64 1AN
  li
    a(href="/BT64 1AP") BT64 1AP
  li
    a(href="/BT64 1AQ") BT64 1AQ
  li
    a(href="/BT64 1AR") BT64 1AR
  li
    a(href="/BT64 1AS") BT64 1AS
  li
    a(href="/BT64 1AT") BT64 1AT
  li
    a(href="/BT64 1AU") BT64 1AU
  li
    a(href="/BT64 1AW") BT64 1AW
  li
    a(href="/BT64 1AX") BT64 1AX
  li
    a(href="/BT64 1AY") BT64 1AY
  li
    a(href="/BT64 1AZ") BT64 1AZ
  li
    a(href="/BT64 1HA") BT64 1HA
  li
    a(href="/BT64 1HB") BT64 1HB
  li
    a(href="/BT64 1HD") BT64 1HD
  li
    a(href="/BT64 1HQ") BT64 1HQ
  li
    a(href="/BT64 1XX") BT64 1XX
  li
    a(href="/BT64 1YE") BT64 1YE
  li
    a(href="/BT64 1YG") BT64 1YG
  li
    a(href="/BT64 2AE") BT64 2AE
  li
    a(href="/BT64 2AF") BT64 2AF
  li
    a(href="/BT64 2AG") BT64 2AG
  li
    a(href="/BT64 2AJ") BT64 2AJ
  li
    a(href="/BT64 2AP") BT64 2AP
  li
    a(href="/BT64 2AQ") BT64 2AQ
  li
    a(href="/BT64 3AA") BT64 3AA
  li
    a(href="/BT64 3AB") BT64 3AB
  li
    a(href="/BT64 3AD") BT64 3AD
  li
    a(href="/BT64 3AE") BT64 3AE
  li
    a(href="/BT64 3AF") BT64 3AF
  li
    a(href="/BT64 3AG") BT64 3AG
  li
    a(href="/BT64 3AH") BT64 3AH
  li
    a(href="/BT64 3AL") BT64 3AL
  li
    a(href="/BT64 3AN") BT64 3AN
  li
    a(href="/BT64 9AP") BT64 9AP
  li
    a(href="/BT64 9AQ") BT64 9AQ
  li
    a(href="/BT64 9AR") BT64 9AR
  li
    a(href="/BT64 9AS") BT64 9AS
  li
    a(href="/BT64 9AT") BT64 9AT
  li
    a(href="/BT64 9AU") BT64 9AU
  li
    a(href="/BT64 9AW") BT64 9AW
  li
    a(href="/BT64 9AX") BT64 9AX
  li
    a(href="/BT64 9AZ") BT64 9AZ
  li
    a(href="/BT64 9BA") BT64 9BA
  li
    a(href="/BT64 9BB") BT64 9BB
  li
    a(href="/BT64 9BD") BT64 9BD
  li
    a(href="/BT64 9SA") BT64 9SA
  li
    a(href="/BT64 9SB") BT64 9SB
  li
    a(href="/BT64 9SD") BT64 9SD
  li
    a(href="/BT64 9SE") BT64 9SE
  li
    a(href="/BT64 9SF") BT64 9SF
  li
    a(href="/BT64 9SG") BT64 9SG
  li
    a(href="/BT64 9SH") BT64 9SH
  li
    a(href="/BT64 9SJ") BT64 9SJ
  li
    a(href="/BT64 9SL") BT64 9SL
  li
    a(href="/BT64 9SN") BT64 9SN
  li
    a(href="/BT64 9SP") BT64 9SP
  li
    a(href="/BT64 9SQ") BT64 9SQ
  li
    a(href="/BT64 9SR") BT64 9SR
  li
    a(href="/BT64 9ST") BT64 9ST
  li
    a(href="/BT64 9SU") BT64 9SU
  li
    a(href="/BT64 9SW") BT64 9SW
  li
    a(href="/BT64 9SX") BT64 9SX
  li
    a(href="/BT64 9SY") BT64 9SY
  li
    a(href="/BT64 9SZ") BT64 9SZ
  li
    a(href="/BT64 9TA") BT64 9TA
  li
    a(href="/BT64 9TB") BT64 9TB
  li
    a(href="/BT64 9TD") BT64 9TD
  li
    a(href="/BT64 9TE") BT64 9TE
  li
    a(href="/BT64 9TF") BT64 9TF
  li
    a(href="/BT64 9TG") BT64 9TG
  li
    a(href="/BT64 9TH") BT64 9TH
