ul.locations
  li
    a(href="/BT68 4TL") BT68 4TL
  li
    a(href="/BT68 4TN") BT68 4TN
  li
    a(href="/BT68 4TP") BT68 4TP
  li
    a(href="/BT68 4TR") BT68 4TR
  li
    a(href="/BT68 4TS") BT68 4TS
  li
    a(href="/BT68 4TT") BT68 4TT
  li
    a(href="/BT68 4TU") BT68 4TU
  li
    a(href="/BT68 4TW") BT68 4TW
  li
    a(href="/BT68 4TX") BT68 4TX
  li
    a(href="/BT68 4TY") BT68 4TY
  li
    a(href="/BT68 4TZ") BT68 4TZ
  li
    a(href="/BT68 4UA") BT68 4UA
  li
    a(href="/BT68 4UB") BT68 4UB
  li
    a(href="/BT68 4UD") BT68 4UD
  li
    a(href="/BT68 4UE") BT68 4UE
  li
    a(href="/BT68 4UF") BT68 4UF
  li
    a(href="/BT68 4UG") BT68 4UG
  li
    a(href="/BT68 4UH") BT68 4UH
  li
    a(href="/BT68 4UJ") BT68 4UJ
  li
    a(href="/BT68 4UL") BT68 4UL
  li
    a(href="/BT68 4UP") BT68 4UP
  li
    a(href="/BT68 4UQ") BT68 4UQ
  li
    a(href="/BT68 4UR") BT68 4UR
  li
    a(href="/BT68 4US") BT68 4US
  li
    a(href="/BT68 4UT") BT68 4UT
  li
    a(href="/BT68 4UX") BT68 4UX
  li
    a(href="/BT68 4UY") BT68 4UY
  li
    a(href="/BT68 4UZ") BT68 4UZ
  li
    a(href="/BT68 4XA") BT68 4XA
  li
    a(href="/BT68 4XB") BT68 4XB
  li
    a(href="/BT68 4XD") BT68 4XD
  li
    a(href="/BT68 4XE") BT68 4XE
  li
    a(href="/BT68 4XF") BT68 4XF
  li
    a(href="/BT68 4XG") BT68 4XG
  li
    a(href="/BT68 4XH") BT68 4XH
  li
    a(href="/BT68 4XJ") BT68 4XJ
  li
    a(href="/BT68 4XL") BT68 4XL
  li
    a(href="/BT68 4XN") BT68 4XN
  li
    a(href="/BT68 4XP") BT68 4XP
  li
    a(href="/BT68 4XQ") BT68 4XQ
  li
    a(href="/BT68 4XR") BT68 4XR
  li
    a(href="/BT68 4XS") BT68 4XS
  li
    a(href="/BT68 4XT") BT68 4XT
  li
    a(href="/BT68 4XU") BT68 4XU
  li
    a(href="/BT68 4XW") BT68 4XW
  li
    a(href="/BT68 4XX") BT68 4XX
  li
    a(href="/BT68 4XY") BT68 4XY
  li
    a(href="/BT68 4XZ") BT68 4XZ
  li
    a(href="/BT68 4YA") BT68 4YA
  li
    a(href="/BT68 4YB") BT68 4YB
  li
    a(href="/BT68 4YD") BT68 4YD
  li
    a(href="/BT68 4YE") BT68 4YE
