ul.locations
  li
    a(href="/BT76 0AA") BT76 0AA
  li
    a(href="/BT76 0AB") BT76 0AB
  li
    a(href="/BT76 0AD") BT76 0AD
  li
    a(href="/BT76 0AE") BT76 0AE
  li
    a(href="/BT76 0AF") BT76 0AF
  li
    a(href="/BT76 0AG") BT76 0AG
  li
    a(href="/BT76 0AH") BT76 0AH
  li
    a(href="/BT76 0AJ") BT76 0AJ
  li
    a(href="/BT76 0AL") BT76 0AL
  li
    a(href="/BT76 0AN") BT76 0AN
  li
    a(href="/BT76 0AP") BT76 0AP
  li
    a(href="/BT76 0AQ") BT76 0AQ
  li
    a(href="/BT76 0AR") BT76 0AR
  li
    a(href="/BT76 0AS") BT76 0AS
  li
    a(href="/BT76 0AT") BT76 0AT
  li
    a(href="/BT76 0AU") BT76 0AU
  li
    a(href="/BT76 0AW") BT76 0AW
  li
    a(href="/BT76 0AX") BT76 0AX
  li
    a(href="/BT76 0BZ") BT76 0BZ
  li
    a(href="/BT76 0DA") BT76 0DA
  li
    a(href="/BT76 0DB") BT76 0DB
  li
    a(href="/BT76 0DP") BT76 0DP
  li
    a(href="/BT76 0DW") BT76 0DW
  li
    a(href="/BT76 0DY") BT76 0DY
  li
    a(href="/BT76 0DZ") BT76 0DZ
  li
    a(href="/BT76 0HE") BT76 0HE
  li
    a(href="/BT76 0HF") BT76 0HF
  li
    a(href="/BT76 0HG") BT76 0HG
  li
    a(href="/BT76 0HH") BT76 0HH
  li
    a(href="/BT76 0HJ") BT76 0HJ
  li
    a(href="/BT76 0HL") BT76 0HL
  li
    a(href="/BT76 0HN") BT76 0HN
  li
    a(href="/BT76 0HP") BT76 0HP
  li
    a(href="/BT76 0HQ") BT76 0HQ
  li
    a(href="/BT76 0HT") BT76 0HT
  li
    a(href="/BT76 0HU") BT76 0HU
  li
    a(href="/BT76 0HW") BT76 0HW
  li
    a(href="/BT76 0HX") BT76 0HX
  li
    a(href="/BT76 0HY") BT76 0HY
  li
    a(href="/BT76 0JY") BT76 0JY
  li
    a(href="/BT76 0JZ") BT76 0JZ
  li
    a(href="/BT76 0LA") BT76 0LA
  li
    a(href="/BT76 0LB") BT76 0LB
  li
    a(href="/BT76 0TG") BT76 0TG
  li
    a(href="/BT76 0TH") BT76 0TH
  li
    a(href="/BT76 0TJ") BT76 0TJ
  li
    a(href="/BT76 0TL") BT76 0TL
  li
    a(href="/BT76 0TN") BT76 0TN
  li
    a(href="/BT76 0TQ") BT76 0TQ
  li
    a(href="/BT76 0TU") BT76 0TU
  li
    a(href="/BT76 0TX") BT76 0TX
  li
    a(href="/BT76 0UD") BT76 0UD
  li
    a(href="/BT76 0UE") BT76 0UE
  li
    a(href="/BT76 0UF") BT76 0UF
  li
    a(href="/BT76 0UG") BT76 0UG
  li
    a(href="/BT76 0UR") BT76 0UR
  li
    a(href="/BT76 0UT") BT76 0UT
  li
    a(href="/BT76 0UU") BT76 0UU
  li
    a(href="/BT76 0UW") BT76 0UW
  li
    a(href="/BT76 0UX") BT76 0UX
  li
    a(href="/BT76 0UY") BT76 0UY
  li
    a(href="/BT76 0UZ") BT76 0UZ
  li
    a(href="/BT76 0XA") BT76 0XA
  li
    a(href="/BT76 0XB") BT76 0XB
  li
    a(href="/BT76 0XD") BT76 0XD
  li
    a(href="/BT76 0XE") BT76 0XE
  li
    a(href="/BT76 0XF") BT76 0XF
  li
    a(href="/BT76 0XG") BT76 0XG
  li
    a(href="/BT76 0XH") BT76 0XH
  li
    a(href="/BT76 0XJ") BT76 0XJ
  li
    a(href="/BT76 0XL") BT76 0XL
  li
    a(href="/BT76 0XN") BT76 0XN
  li
    a(href="/BT76 0XP") BT76 0XP
  li
    a(href="/BT76 0XQ") BT76 0XQ
  li
    a(href="/BT76 0XR") BT76 0XR
  li
    a(href="/BT76 0XS") BT76 0XS
  li
    a(href="/BT76 0XT") BT76 0XT
  li
    a(href="/BT76 0XW") BT76 0XW
