ul.locations
  li
    a(href="/BT77 0AP") BT77 0AP
  li
    a(href="/BT77 0AX") BT77 0AX
  li
    a(href="/BT77 0AY") BT77 0AY
  li
    a(href="/BT77 0AZ") BT77 0AZ
  li
    a(href="/BT77 0BA") BT77 0BA
  li
    a(href="/BT77 0BB") BT77 0BB
  li
    a(href="/BT77 0BD") BT77 0BD
  li
    a(href="/BT77 0BE") BT77 0BE
  li
    a(href="/BT77 0BG") BT77 0BG
  li
    a(href="/BT77 0BH") BT77 0BH
  li
    a(href="/BT77 0BJ") BT77 0BJ
  li
    a(href="/BT77 0BL") BT77 0BL
  li
    a(href="/BT77 0BN") BT77 0BN
  li
    a(href="/BT77 0BP") BT77 0BP
  li
    a(href="/BT77 0BQ") BT77 0BQ
  li
    a(href="/BT77 0BR") BT77 0BR
  li
    a(href="/BT77 0BS") BT77 0BS
  li
    a(href="/BT77 0BT") BT77 0BT
  li
    a(href="/BT77 0BW") BT77 0BW
  li
    a(href="/BT77 0BX") BT77 0BX
  li
    a(href="/BT77 0BY") BT77 0BY
  li
    a(href="/BT77 0DA") BT77 0DA
  li
    a(href="/BT77 0DD") BT77 0DD
  li
    a(href="/BT77 0DE") BT77 0DE
  li
    a(href="/BT77 0DF") BT77 0DF
  li
    a(href="/BT77 0DG") BT77 0DG
  li
    a(href="/BT77 0DH") BT77 0DH
  li
    a(href="/BT77 0DJ") BT77 0DJ
  li
    a(href="/BT77 0DL") BT77 0DL
  li
    a(href="/BT77 0DN") BT77 0DN
  li
    a(href="/BT77 0DQ") BT77 0DQ
  li
    a(href="/BT77 0EA") BT77 0EA
  li
    a(href="/BT77 0EB") BT77 0EB
  li
    a(href="/BT77 0ED") BT77 0ED
  li
    a(href="/BT77 0EE") BT77 0EE
  li
    a(href="/BT77 0EF") BT77 0EF
  li
    a(href="/BT77 0EG") BT77 0EG
  li
    a(href="/BT77 0EH") BT77 0EH
  li
    a(href="/BT77 0EJ") BT77 0EJ
  li
    a(href="/BT77 0EL") BT77 0EL
  li
    a(href="/BT77 0EN") BT77 0EN
  li
    a(href="/BT77 0EP") BT77 0EP
  li
    a(href="/BT77 0EQ") BT77 0EQ
  li
    a(href="/BT77 0ER") BT77 0ER
  li
    a(href="/BT77 0ES") BT77 0ES
  li
    a(href="/BT77 0ET") BT77 0ET
  li
    a(href="/BT77 0EU") BT77 0EU
  li
    a(href="/BT77 0EW") BT77 0EW
  li
    a(href="/BT77 0EX") BT77 0EX
  li
    a(href="/BT77 0EY") BT77 0EY
  li
    a(href="/BT77 0HA") BT77 0HA
  li
    a(href="/BT77 0HL") BT77 0HL
  li
    a(href="/BT77 0HN") BT77 0HN
  li
    a(href="/BT77 0HR") BT77 0HR
  li
    a(href="/BT77 0HS") BT77 0HS
  li
    a(href="/BT77 0HW") BT77 0HW
