ul.locations
  li
    a(href="/browse/Northern Ireland/BT74") BT74
  li
    a(href="/browse/Northern Ireland/BT92") BT92
  li
    a(href="/browse/Northern Ireland/BT93") BT93
  li
    a(href="/browse/Northern Ireland/BT94") BT94
