ul.locations
  li
    a(href="/browse/Northern Ireland/BT62") BT62
  li
    a(href="/browse/Northern Ireland/BT63") BT63
  li
    a(href="/browse/Northern Ireland/BT64") BT64
  li
    a(href="/browse/Northern Ireland/BT65") BT65
  li
    a(href="/browse/Northern Ireland/BT66") BT66
  li
    a(href="/browse/Northern Ireland/BT67") BT67
