ul.locations
  li
    a(href="/browse/Northern Ireland/BT68") BT68
  li
    a(href="/browse/Northern Ireland/BT69") BT69
  li
    a(href="/browse/Northern Ireland/BT70") BT70
  li
    a(href="/browse/Northern Ireland/BT71") BT71
  li
    a(href="/browse/Northern Ireland/BT75") BT75
  li
    a(href="/browse/Northern Ireland/BT76") BT76
  li
    a(href="/browse/Northern Ireland/BT77") BT77
