body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.skip-link,
.info-nav,
.tab-login,
.header,
.hub-mod,
.hub-box .link-list,
.additional,
.auth-trusts,
.help-finding,
.footer,
.hidden,

.fact-para,
#filter-container,
.scorecard-header
{
	display:none;
}

.col-count-5 td {
    width: 20%;
}

td{
	vertical-align: top;
}
