body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.skip-link,
.info-nav,
.tab-login,
.header,
.hub-mod,
.hub-box .link-list,
.additional,
.auth-trusts,
.help-finding,
.footer,
.hidden,

.fact-para,
#filter-container,
.scorecard-header
{
	display:none;
}

table, th, td{

	border-collapse:collapse;
	border: 1px solid #999;
}

.col-count-5 td {
    width: 20%;
    padding: 4px;
}

td{
	vertical-align: top;
}
