body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0000FF;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1{
	font-weight: normal;
		color: #999;
	}

.mainFooter{
	font-size: 12px;
	color: #666;
	margin-top: 60px;
}

.mainFooter .more{
}


@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

	h1{
		padding: 0 20px;
		margin: 0 0 10px 0;
	}

}

