ul.locations
  li
    a(href="/browse/England/Hertfordshire") Hertfordshire
  li
    a(href="/browse/England/Birmingham") Birmingham
  li
    a(href="/browse/England/Solihull") Solihull
  li
    a(href="/browse/England/Sandwell") Sandwell
  li
    a(href="/browse/England/Warwickshire") Warwickshire
  li
    a(href="/browse/England/Worcestershire") Worcestershire
  li
    a(href="/browse/England/Dudley") Dudley
  li
    a(href="/browse/England/Staffordshire") Staffordshire
  li
    a(href="/browse/England/Bath and North East Somerset") Bath and North East Somerset
  li
    a(href="/browse/England/Somerset") Somerset
  li
    a(href="/browse/England/Wiltshire") Wiltshire
  li
    a(href="/browse/England/Blackburn with Darwen") Blackburn with Darwen
  li
    a(href="/browse/England/Lancashire") Lancashire
  li
    a(href="/browse/England/Bradford") Bradford
  li
    a(href="/browse/England/Kirklees") Kirklees
  li
    a(href="/browse/England/North Yorkshire") North Yorkshire
  li
    a(href="/browse/England/Bournemouth") Bournemouth
  li
    a(href="/browse/England/Poole") Poole
  li
    a(href="/browse/England/Dorset") Dorset
  li
    a(href="/browse/England/Hampshire") Hampshire
  li
    a(href="/browse/England/Bury") Bury
  li
    a(href="/browse/England/Bolton") Bolton
  li
    a(href="/browse/England/Brighton and Hove") Brighton and Hove
  li
    a(href="/browse/England/East Sussex") East Sussex
  li
    a(href="/browse/England/West Sussex") West Sussex
  li
    a(href="/browse/England/Greater London") Greater London
  li
    a(href="/browse/England/Kent") Kent
  li
    a(href="/browse/England/City of Bristol") City of Bristol
  li
    a(href="/browse/England/South Gloucestershire") South Gloucestershire
  li
    a(href="/browse/England/North Somerset") North Somerset
  li
    a(href="/browse/England/Cumbria") Cumbria
  li
    a(href="/browse/England/Cambridgeshire") Cambridgeshire
  li
    a(href="/browse/England/Essex") Essex
  li
    a(href="/browse/England/Suffolk") Suffolk
  li
    a(href="/browse/England/Cheshire West and Chester") Cheshire West and Chester
  li
    a(href="/browse/England/Flintshire") Flintshire
  li
    a(href="/browse/England/Wirral") Wirral
  li
    a(href="/browse/England/Surrey") Surrey
  li
    a(href="/browse/England/Coventry") Coventry
  li
    a(href="/browse/England/Leicestershire") Leicestershire
  li
    a(href="/browse/England/Cheshire East") Cheshire East
  li
    a(href="/browse/England/Derby") Derby
  li
    a(href="/browse/England/Derbyshire") Derbyshire
  li
    a(href="/browse/England/County Durham") County Durham
  li
    a(href="/browse/England/Sunderland") Sunderland
  li
    a(href="/browse/England/Darlington") Darlington
  li
    a(href="/browse/England/Doncaster") Doncaster
  li
    a(href="/browse/England/Nottinghamshire") Nottinghamshire
  li
    a(href="/browse/England/East Riding of Yorkshire") East Riding of Yorkshire
  li
    a(href="/browse/England/North Lincolnshire") North Lincolnshire
  li
    a(href="/browse/England/Lincolnshire") Lincolnshire
  li
    a(href="/browse/England/North East Lincolnshire") North East Lincolnshire
  li
    a(href="/browse/England/Shropshire") Shropshire
  li
    a(href="/browse/England/City of London") City of London
  li
    a(href="/browse/England/Devon") Devon
  li
    a(href="/browse/England/Cornwall") Cornwall
  li
    a(href="/browse/England/Blackpool") Blackpool
  li
    a(href="/browse/England/Gloucestershire") Gloucestershire
  li
    a(href="/browse/England/Bracknell Forest") Bracknell Forest
  li
    a(href="/browse/England/Calderdale") Calderdale
  li
    a(href="/browse/England/Buckinghamshire") Buckinghamshire
  li
    a(href="/browse/England/County of Herefordshire") County of Herefordshire
  li
    a(href="/browse/England/City of Kingston-upon-Hull") City of Kingston-upon-Hull
  li
    a(href="/browse/England/Norfolk") Norfolk
  li
    a(href="/browse/England/Liverpool") Liverpool
  li
    a(href="/browse/England/Sefton") Sefton
  li
    a(href="/browse/England/Knowsley") Knowsley
  li
    a(href="/browse/England/St Helens") St Helens
  li
    a(href="/browse/England/Leicester") Leicester
  li
    a(href="/browse/England/Rutland") Rutland
  li
    a(href="/browse/England/Northamptonshire") Northamptonshire
  li
    a(href="/browse/England/Leeds") Leeds
  li
    a(href="/browse/England/Luton") Luton
  li
    a(href="/browse/England/Central Bedfordshire") Central Bedfordshire
  li
    a(href="/browse/England/Greater Manchester") Greater Manchester
  li
    a(href="/browse/England/Trafford") Trafford
  li
    a(href="/browse/England/Rochdale") Rochdale
  li
    a(href="/browse/England/Salford") Salford
  li
    a(href="/browse/England/Wigan") Wigan
  li
    a(href="/browse/England/Tameside") Tameside
  li
    a(href="/browse/England/Oldham") Oldham
  li
    a(href="/browse/England/Medway") Medway
  li
    a(href="/browse/England/Milton Keynes") Milton Keynes
  li
    a(href="/browse/England/Buckingham") Buckingham
  li
    a(href="/browse/England/Bedford Borough") Bedford Borough
  li
    a(href="/browse/England/Newcastle Upon Tyne") Newcastle Upon Tyne
  li
    a(href="/browse/England/Gateshead") Gateshead
  li
    a(href="/browse/England/North Tyneside") North Tyneside
  li
    a(href="/browse/England/Northumberland") Northumberland
  li
    a(href="/browse/England/South Tyneside") South Tyneside
  li
    a(href="/browse/England/Nottingham") Nottingham
  li
    a(href="/browse/England/Oxfordshire") Oxfordshire
  li
    a(href="/browse/England/Peterborough") Peterborough
  li
    a(href="/browse/England/Plymouth") Plymouth
  li
    a(href="/browse/England/Portsmouth") Portsmouth
  li
    a(href="/browse/England/Isle Of Wight") Isle Of Wight
  li
    a(href="/browse/England/Reading") Reading
  li
    a(href="/browse/England/Wokingham") Wokingham
  li
    a(href="/browse/England/West Berkshire") West Berkshire
  li
    a(href="/browse/England/Thurrock") Thurrock
  li
    a(href="/browse/England/Sheffield") Sheffield
  li
    a(href="/browse/England/Rotherham") Rotherham
  li
    a(href="/browse/England/Barnsley") Barnsley
  li
    a(href="/browse/England/Hertford") Hertford
  li
    a(href="/browse/England/Stockport") Stockport
  li
    a(href="/browse/England/Slough") Slough
  li
    a(href="/browse/England/Windsor and Maidenhead") Windsor and Maidenhead
  li
    a(href="/browse/England/Swindon") Swindon
  li
    a(href="/browse/England/Southampton") Southampton
  li
    a(href="/browse/England/Southend-on-Sea") Southend-on-Sea
  li
    a(href="/browse/England/Stoke-on-Trent") Stoke-on-Trent
  li
    a(href="/browse/England/London") London
  li
    a(href="/browse/England/Telford and Wrekin") Telford and Wrekin
  li
    a(href="/browse/England/Torbay") Torbay
  li
    a(href="/browse/England/Isles Of Scilly") Isles Of Scilly
  li
    a(href="/browse/England/Middlesbrough") Middlesbrough
  li
    a(href="/browse/England/Redcar and Cleveland") Redcar and Cleveland
  li
    a(href="/browse/England/Stockton-on-Tees") Stockton-on-Tees
  li
    a(href="/browse/England/Hartlepool") Hartlepool
  li
    a(href="/browse/England/Warrington") Warrington
  li
    a(href="/browse/England/Halton") Halton
  li
    a(href="/browse/England/Wakefield") Wakefield
  li
    a(href="/browse/England/Worcester") Worcester
  li
    a(href="/browse/England/Walsall") Walsall
  li
    a(href="/browse/England/Wolverhampton") Wolverhampton
  li
    a(href="/browse/England/York") York
