ul.locations
  li
    a(href="/browse/Northern Ireland/Belfast") Belfast
  li
    a(href="/browse/Northern Ireland/Castlereagh") Castlereagh
  li
    a(href="/browse/Northern Ireland/Lisburn") Lisburn
  li
    a(href="/browse/Northern Ireland/North Down") North Down
  li
    a(href="/browse/Northern Ireland/Ards") Ards
  li
    a(href="/browse/Northern Ireland/Down") Down
  li
    a(href="/browse/Northern Ireland/Banbridge") Banbridge
  li
    a(href="/browse/Northern Ireland/Antrim") Antrim
  li
    a(href="/browse/Northern Ireland/Newry and Mourne") Newry and Mourne
  li
    a(href="/browse/Northern Ireland/Newtownabbey") Newtownabbey
  li
    a(href="/browse/Northern Ireland/Carrickfergus") Carrickfergus
  li
    a(href="/browse/Northern Ireland/Larne") Larne
  li
    a(href="/browse/Northern Ireland/Ballymena") Ballymena
  li
    a(href="/browse/Northern Ireland/Magherafelt") Magherafelt
  li
    a(href="/browse/Northern Ireland/Derry") Derry
  li
    a(href="/browse/Northern Ireland/Limavady") Limavady
  li
    a(href="/browse/Northern Ireland/Coleraine") Coleraine
  li
    a(href="/browse/Northern Ireland/Ballymoney") Ballymoney
  li
    a(href="/browse/Northern Ireland/Moyle") Moyle
  li
    a(href="/browse/Northern Ireland/County Armagh") County Armagh
  li
    a(href="/browse/Northern Ireland/Craigavon") Craigavon
  li
    a(href="/browse/Northern Ireland/Dungannon") Dungannon
  li
    a(href="/browse/Northern Ireland/County Fermanagh") County Fermanagh
  li
    a(href="/browse/Northern Ireland/Omagh") Omagh
  li
    a(href="/browse/Northern Ireland/Cookstown") Cookstown
  li
    a(href="/browse/Northern Ireland/Strabane") Strabane
