a(href="/browse/Northern Ireland/Belfast") Belfast
a(href="/browse/Northern Ireland/Castlereagh") Castlereagh
a(href="/browse/Northern Ireland/Lisburn") Lisburn
a(href="/browse/Northern Ireland/North Down") North Down
a(href="/browse/Northern Ireland/Ards") Ards
a(href="/browse/Northern Ireland/Down") Down
a(href="/browse/Northern Ireland/Banbridge") Banbridge
a(href="/browse/Northern Ireland/Antrim") Antrim
a(href="/browse/Northern Ireland/Newry and Mourne") Newry and Mourne
a(href="/browse/Northern Ireland/Newtownabbey") Newtownabbey
a(href="/browse/Northern Ireland/Carrickfergus") Carrickfergus
a(href="/browse/Northern Ireland/Larne") Larne
a(href="/browse/Northern Ireland/Ballymena") Ballymena
a(href="/browse/Northern Ireland/Magherafelt") Magherafelt
a(href="/browse/Northern Ireland/Derry") Derry
a(href="/browse/Northern Ireland/Limavady") Limavady
a(href="/browse/Northern Ireland/Coleraine") Coleraine
a(href="/browse/Northern Ireland/Ballymoney") Ballymoney
a(href="/browse/Northern Ireland/Moyle") Moyle
a(href="/browse/Northern Ireland/County Armagh") County Armagh
a(href="/browse/Northern Ireland/Craigavon") Craigavon
a(href="/browse/Northern Ireland/Dungannon") Dungannon
a(href="/browse/Northern Ireland/County Fermanagh") County Fermanagh
a(href="/browse/Northern Ireland/Omagh") Omagh
a(href="/browse/Northern Ireland/Cookstown") Cookstown
a(href="/browse/Northern Ireland/Strabane") Strabane
