ul.locations
  li
    a(href="/browse/Scotland/Aberdeen City") Aberdeen City
  li
    a(href="/browse/Scotland/Aberdeenshire") Aberdeenshire
  li
    a(href="/browse/Scotland/Moray") Moray
  li
    a(href="/browse/Scotland/Dundee City") Dundee City
  li
    a(href="/browse/Scotland/Angus") Angus
  li
    a(href="/browse/Scotland/Fife") Fife
  li
    a(href="/browse/Scotland/Dumfries and Galloway") Dumfries and Galloway
  li
    a(href="/browse/Scotland/City of Edinburgh") City of Edinburgh
  li
    a(href="/browse/Scotland/Midlothian") Midlothian
  li
    a(href="/browse/Scotland/East Lothian") East Lothian
  li
    a(href="/browse/Scotland/West Lothian") West Lothian
  li
    a(href="/browse/Scotland/The Scottish Borders") The Scottish Borders
  li
    a(href="/browse/Scotland/Falkirk") Falkirk
  li
    a(href="/browse/Scotland/Clackmannanshire") Clackmannanshire
  li
    a(href="/browse/Scotland/Stirling") Stirling
  li
    a(href="/browse/Scotland/Glasgow City") Glasgow City
  li
    a(href="/browse/Scotland/East Renfrewshire") East Renfrewshire
  li
    a(href="/browse/Scotland/West Dunbartonshire") West Dunbartonshire
  li
    a(href="/browse/Scotland/East Dunbartonshire") East Dunbartonshire
  li
    a(href="/browse/Scotland/North Lanarkshire") North Lanarkshire
  li
    a(href="/browse/Scotland/South Lanarkshire") South Lanarkshire
  li
    a(href="/browse/Scotland/Argyll and Bute") Argyll and Bute
  li
    a(href="/browse/Scotland/Eilean Siar") Eilean Siar
  li
    a(href="/browse/Scotland/Highland") Highland
  li
    a(href="/browse/Scotland/East Ayrshire") East Ayrshire
  li
    a(href="/browse/Scotland/South Ayrshire") South Ayrshire
  li
    a(href="/browse/Scotland/North Ayrshire") North Ayrshire
  li
    a(href="/browse/Scotland/Orkney Islands") Orkney Islands
  li
    a(href="/browse/Scotland/Perth and Kinross") Perth and Kinross
  li
    a(href="/browse/Scotland/Renfrewshire") Renfrewshire
  li
    a(href="/browse/Scotland/Inverclyde") Inverclyde
  li
    a(href="/browse/Scotland/Inverness-shire") Inverness-shire
  li
    a(href="/browse/Scotland/Northumberland") Northumberland
  li
    a(href="/browse/Scotland/Shetland Islands") Shetland Islands
