a(href="/browse/Wales/Cardiff") Cardiff
a(href="/browse/Wales/Bridgend") Bridgend
a(href="/browse/Wales/Rhondda Cynon Taff") Rhondda Cynon Taff
a(href="/browse/Wales/Merthyr Tydfil") Merthyr Tydfil
a(href="/browse/Wales/The Vale of Glamorgan") The Vale of Glamorgan
a(href="/browse/Wales/Caerphilly") Caerphilly
a(href="/browse/Wales/Powys") Powys
a(href="/browse/Wales/Wrexham") Wrexham
a(href="/browse/Wales/Denbighshire") Denbighshire
a(href="/browse/Wales/Conwy") Conwy
a(href="/browse/Wales/Gwynedd") Gwynedd
a(href="/browse/Wales/Isle of Anglesey") Isle of Anglesey
a(href="/browse/Wales/Newport") Newport
a(href="/browse/Wales/Blaenau Gwent") Blaenau Gwent
a(href="/browse/Wales/Monmouthshire") Monmouthshire
a(href="/browse/Wales/Torfaen") Torfaen
a(href="/browse/Wales/Swansea") Swansea
a(href="/browse/Wales/Neath Port Talbot") Neath Port Talbot
a(href="/browse/Wales/Carmarthenshire") Carmarthenshire
a(href="/browse/Wales/Pembrokeshire") Pembrokeshire
a(href="/browse/Wales/Ceredigion") Ceredigion
