ul.locations
  li
    a(href="/browse/Wales/Cardiff") Cardiff
  li
    a(href="/browse/Wales/Bridgend") Bridgend
  li
    a(href="/browse/Wales/Rhondda Cynon Taff") Rhondda Cynon Taff
  li
    a(href="/browse/Wales/Merthyr Tydfil") Merthyr Tydfil
  li
    a(href="/browse/Wales/The Vale of Glamorgan") The Vale of Glamorgan
  li
    a(href="/browse/Wales/Caerphilly") Caerphilly
  li
    a(href="/browse/Wales/Powys") Powys
  li
    a(href="/browse/Wales/Wrexham") Wrexham
  li
    a(href="/browse/Wales/Denbighshire") Denbighshire
  li
    a(href="/browse/Wales/Conwy") Conwy
  li
    a(href="/browse/Wales/Gwynedd") Gwynedd
  li
    a(href="/browse/Wales/Isle of Anglesey") Isle of Anglesey
  li
    a(href="/browse/Wales/Newport") Newport
  li
    a(href="/browse/Wales/Blaenau Gwent") Blaenau Gwent
  li
    a(href="/browse/Wales/Monmouthshire") Monmouthshire
  li
    a(href="/browse/Wales/Torfaen") Torfaen
  li
    a(href="/browse/Wales/Swansea") Swansea
  li
    a(href="/browse/Wales/Neath Port Talbot") Neath Port Talbot
  li
    a(href="/browse/Wales/Carmarthenshire") Carmarthenshire
  li
    a(href="/browse/Wales/Pembrokeshire") Pembrokeshire
  li
    a(href="/browse/Wales/Ceredigion") Ceredigion
