ul.locations
  li
    a(href="/B3 1AB") B3 1AB
  li
    a(href="/B3 1AG") B3 1AG
  li
    a(href="/B3 1AH") B3 1AH
  li
    a(href="/B3 1AL") B3 1AL
  li
    a(href="/B3 1AP") B3 1AP
  li
    a(href="/B3 1AQ") B3 1AQ
  li
    a(href="/B3 1AR") B3 1AR
  li
    a(href="/B3 1AT") B3 1AT
  li
    a(href="/B3 1BA") B3 1BA
  li
    a(href="/B3 1BF") B3 1BF
  li
    a(href="/B3 1BG") B3 1BG
  li
    a(href="/B3 1BJ") B3 1BJ
  li
    a(href="/B3 1DG") B3 1DG
  li
    a(href="/B3 1DR") B3 1DR
  li
    a(href="/B3 1DW") B3 1DW
  li
    a(href="/B3 1DX") B3 1DX
  li
    a(href="/B3 1EH") B3 1EH
  li
    a(href="/B3 1EP") B3 1EP
  li
    a(href="/B3 1EQ") B3 1EQ
  li
    a(href="/B3 1ER") B3 1ER
  li
    a(href="/B3 1EU") B3 1EU
  li
    a(href="/B3 1FH") B3 1FH
  li
    a(href="/B3 1FQ") B3 1FQ
  li
    a(href="/B3 1HA") B3 1HA
  li
    a(href="/B3 1HL") B3 1HL
  li
    a(href="/B3 1HN") B3 1HN
  li
    a(href="/B3 1HP") B3 1HP
  li
    a(href="/B3 1JB") B3 1JB
  li
    a(href="/B3 1JE") B3 1JE
  li
    a(href="/B3 1JH") B3 1JH
  li
    a(href="/B3 1JJ") B3 1JJ
  li
    a(href="/B3 1JL") B3 1JL
  li
    a(href="/B3 1JN") B3 1JN
  li
    a(href="/B3 1JP") B3 1JP
  li
    a(href="/B3 1JX") B3 1JX
  li
    a(href="/B3 1LB") B3 1LB
  li
    a(href="/B3 1LH") B3 1LH
  li
    a(href="/B3 1LJ") B3 1LJ
  li
    a(href="/B3 1LL") B3 1LL
  li
    a(href="/B3 1LR") B3 1LR
  li
    a(href="/B3 1LY") B3 1LY
  li
    a(href="/B3 1LZ") B3 1LZ
  li
    a(href="/B3 1NA") B3 1NA
  li
    a(href="/B3 1NG") B3 1NG
  li
    a(href="/B3 1NQ") B3 1NQ
  li
    a(href="/B3 1NR") B3 1NR
  li
    a(href="/B3 1PB") B3 1PB
  li
    a(href="/B3 1PP") B3 1PP
  li
    a(href="/B3 1PT") B3 1PT
  li
    a(href="/B3 1PW") B3 1PW
  li
    a(href="/B3 1PX") B3 1PX
  li
    a(href="/B3 1PY") B3 1PY
  li
    a(href="/B3 1QA") B3 1QA
  li
    a(href="/B3 1QG") B3 1QG
  li
    a(href="/B3 1QJ") B3 1QJ
  li
    a(href="/B3 1QS") B3 1QS
  li
    a(href="/B3 1QU") B3 1QU
  li
    a(href="/B3 1QX") B3 1QX
  li
    a(href="/B3 1QZ") B3 1QZ
  li
    a(href="/B3 1RB") B3 1RB
  li
    a(href="/B3 1RD") B3 1RD
  li
    a(href="/B3 1RG") B3 1RG
  li
    a(href="/B3 1RJ") B3 1RJ
  li
    a(href="/B3 1RL") B3 1RL
  li
    a(href="/B3 1RR") B3 1RR
  li
    a(href="/B3 1RS") B3 1RS
  li
    a(href="/B3 1RU") B3 1RU
  li
    a(href="/B3 1RW") B3 1RW
  li
    a(href="/B3 1RY") B3 1RY
  li
    a(href="/B3 1RZ") B3 1RZ
  li
    a(href="/B3 1SA") B3 1SA
  li
    a(href="/B3 1SB") B3 1SB
  li
    a(href="/B3 1SD") B3 1SD
  li
    a(href="/B3 1SE") B3 1SE
  li
    a(href="/B3 1SF") B3 1SF
  li
    a(href="/B3 1SH") B3 1SH
  li
    a(href="/B3 1SJ") B3 1SJ
  li
    a(href="/B3 1SN") B3 1SN
  li
    a(href="/B3 1SW") B3 1SW
  li
    a(href="/B3 1SZ") B3 1SZ
  li
    a(href="/B3 1TE") B3 1TE
  li
    a(href="/B3 1TH") B3 1TH
  li
    a(href="/B3 1TR") B3 1TR
  li
    a(href="/B3 1TT") B3 1TT
  li
    a(href="/B3 1TU") B3 1TU
  li
    a(href="/B3 1TX") B3 1TX
  li
    a(href="/B3 1TZ") B3 1TZ
  li
    a(href="/B3 1UD") B3 1UD
  li
    a(href="/B3 1UE") B3 1UE
  li
    a(href="/B3 1UF") B3 1UF
  li
    a(href="/B3 1UG") B3 1UG
  li
    a(href="/B3 1UP") B3 1UP
  li
    a(href="/B3 1UQ") B3 1UQ
  li
    a(href="/B3 1UR") B3 1UR
  li
    a(href="/B3 2AA") B3 2AA
  li
    a(href="/B3 2AB") B3 2AB
  li
    a(href="/B3 2AL") B3 2AL
  li
    a(href="/B3 2AP") B3 2AP
  li
    a(href="/B3 2AQ") B3 2AQ
  li
    a(href="/B3 2AS") B3 2AS
  li
    a(href="/B3 2AT") B3 2AT
  li
    a(href="/B3 2AY") B3 2AY
  li
    a(href="/B3 2BA") B3 2BA
  li
    a(href="/B3 2BB") B3 2BB
  li
    a(href="/B3 2BF") B3 2BF
  li
    a(href="/B3 2BH") B3 2BH
  li
    a(href="/B3 2BJ") B3 2BJ
  li
    a(href="/B3 2BP") B3 2BP
  li
    a(href="/B3 2BQ") B3 2BQ
  li
    a(href="/B3 2BS") B3 2BS
  li
    a(href="/B3 2BU") B3 2BU
  li
    a(href="/B3 2BX") B3 2BX
  li
    a(href="/B3 2BY") B3 2BY
  li
    a(href="/B3 2BZ") B3 2BZ
  li
    a(href="/B3 2DE") B3 2DE
  li
    a(href="/B3 2DF") B3 2DF
  li
    a(href="/B3 2DH") B3 2DH
  li
    a(href="/B3 2DJ") B3 2DJ
  li
    a(href="/B3 2DP") B3 2DP
  li
    a(href="/B3 2DT") B3 2DT
  li
    a(href="/B3 2DU") B3 2DU
  li
    a(href="/B3 2DW") B3 2DW
  li
    a(href="/B3 2DX") B3 2DX
  li
    a(href="/B3 2DY") B3 2DY
  li
    a(href="/B3 2EB") B3 2EB
  li
    a(href="/B3 2EE") B3 2EE
  li
    a(href="/B3 2ES") B3 2ES
  li
    a(href="/B3 2EW") B3 2EW
  li
    a(href="/B3 2FD") B3 2FD
  li
    a(href="/B3 2HB") B3 2HB
  li
    a(href="/B3 2HJ") B3 2HJ
  li
    a(href="/B3 2HZ") B3 2HZ
  li
    a(href="/B3 2JN") B3 2JN
  li
    a(href="/B3 2JQ") B3 2JQ
  li
    a(href="/B3 2JR") B3 2JR
  li
    a(href="/B3 2LB") B3 2LB
  li
    a(href="/B3 2LG") B3 2LG
  li
    a(href="/B3 2LP") B3 2LP
  li
    a(href="/B3 2LX") B3 2LX
  li
    a(href="/B3 2NH") B3 2NH
  li
    a(href="/B3 2NP") B3 2NP
  li
    a(href="/B3 2NR") B3 2NR
  li
    a(href="/B3 2NT") B3 2NT
  li
    a(href="/B3 2NU") B3 2NU
  li
    a(href="/B3 2PA") B3 2PA
  li
    a(href="/B3 2PB") B3 2PB
  li
    a(href="/B3 2PP") B3 2PP
  li
    a(href="/B3 2PT") B3 2PT
  li
    a(href="/B3 2PW") B3 2PW
  li
    a(href="/B3 2PY") B3 2PY
  li
    a(href="/B3 2QA") B3 2QA
  li
    a(href="/B3 2QB") B3 2QB
  li
    a(href="/B3 2QD") B3 2QD
  li
    a(href="/B3 2QH") B3 2QH
  li
    a(href="/B3 2QJ") B3 2QJ
  li
    a(href="/B3 2QL") B3 2QL
  li
    a(href="/B3 2QN") B3 2QN
  li
    a(href="/B3 2QS") B3 2QS
  li
    a(href="/B3 2QT") B3 2QT
  li
    a(href="/B3 2QU") B3 2QU
  li
    a(href="/B3 2QW") B3 2QW
  li
    a(href="/B3 2QX") B3 2QX
  li
    a(href="/B3 2QZ") B3 2QZ
  li
    a(href="/B3 2RB") B3 2RB
  li
    a(href="/B3 2RD") B3 2RD
  li
    a(href="/B3 2RF") B3 2RF
  li
    a(href="/B3 2RG") B3 2RG
  li
    a(href="/B3 2RJ") B3 2RJ
  li
    a(href="/B3 2RN") B3 2RN
  li
    a(href="/B3 2RR") B3 2RR
  li
    a(href="/B3 2RS") B3 2RS
  li
    a(href="/B3 2RT") B3 2RT
  li
    a(href="/B3 2RU") B3 2RU
  li
    a(href="/B3 2RX") B3 2RX
  li
    a(href="/B3 2RY") B3 2RY
  li
    a(href="/B3 2SB") B3 2SB
  li
    a(href="/B3 2SD") B3 2SD
  li
    a(href="/B3 2SF") B3 2SF
  li
    a(href="/B3 2SG") B3 2SG
  li
    a(href="/B3 2SJ") B3 2SJ
  li
    a(href="/B3 2SL") B3 2SL
  li
    a(href="/B3 2SX") B3 2SX
  li
    a(href="/B3 2SY") B3 2SY
  li
    a(href="/B3 2SZ") B3 2SZ
  li
    a(href="/B3 2TA") B3 2TA
  li
    a(href="/B3 2UZ") B3 2UZ
  li
    a(href="/B3 2WD") B3 2WD
  li
    a(href="/B3 2WL") B3 2WL
  li
    a(href="/B3 2WN") B3 2WN
  li
    a(href="/B3 2WR") B3 2WR
  li
    a(href="/B3 2WX") B3 2WX
  li
    a(href="/B3 2XR") B3 2XR
  li
    a(href="/B3 2XX") B3 2XX
  li
    a(href="/B3 2YP") B3 2YP
  li
    a(href="/B3 2YQ") B3 2YQ
  li
    a(href="/B3 2YR") B3 2YR
  li
    a(href="/B3 2YW") B3 2YW
  li
    a(href="/B3 2YY") B3 2YY
  li
    a(href="/B3 2ZX") B3 2ZX
  li
    a(href="/B3 2ZY") B3 2ZY
  li
    a(href="/B3 2ZZ") B3 2ZZ
  li
    a(href="/B3 3AA") B3 3AA
  li
    a(href="/B3 3AG") B3 3AG
  li
    a(href="/B3 3AH") B3 3AH
  li
    a(href="/B3 3AL") B3 3AL
  li
    a(href="/B3 3AP") B3 3AP
  li
    a(href="/B3 3BD") B3 3BD
  li
    a(href="/B3 3BE") B3 3BE
  li
    a(href="/B3 3BG") B3 3BG
  li
    a(href="/B3 3BS") B3 3BS
  li
    a(href="/B3 3BT") B3 3BT
  li
    a(href="/B3 3BU") B3 3BU
  li
    a(href="/B3 3BX") B3 3BX
  li
    a(href="/B3 3BY") B3 3BY
  li
    a(href="/B3 3DA") B3 3DA
  li
    a(href="/B3 3DB") B3 3DB
  li
    a(href="/B3 3DH") B3 3DH
  li
    a(href="/B3 3DQ") B3 3DQ
  li
    a(href="/B3 3EF") B3 3EF
  li
    a(href="/B3 3EW") B3 3EW
  li
    a(href="/B3 3GT") B3 3GT
  li
    a(href="/B3 3HG") B3 3HG
  li
    a(href="/B3 3HJ") B3 3HJ
  li
    a(href="/B3 3HN") B3 3HN
  li
    a(href="/B3 3HP") B3 3HP
  li
    a(href="/B3 3HQ") B3 3HQ
  li
    a(href="/B3 3HS") B3 3HS
  li
    a(href="/B3 3HT") B3 3HT
  li
    a(href="/B3 3HX") B3 3HX
  li
    a(href="/B3 3JN") B3 3JN
  li
    a(href="/B3 3JY") B3 3JY
  li
    a(href="/B3 3LA") B3 3LA
  li
    a(href="/B3 3LG") B3 3LG
  li
    a(href="/B3 3LP") B3 3LP
  li
    a(href="/B3 3LT") B3 3LT
  li
    a(href="/B3 3LX") B3 3LX
  li
    a(href="/B3 3NH") B3 3NH
  li
    a(href="/B3 3NY") B3 3NY
  li
    a(href="/B3 3PJ") B3 3PJ
  li
    a(href="/B3 3PL") B3 3PL
  li
    a(href="/B3 3PN") B3 3PN
  li
    a(href="/B3 3PU") B3 3PU
  li
    a(href="/B3 3QG") B3 3QG
  li
    a(href="/B3 3QR") B3 3QR
  li
    a(href="/B3 3RB") B3 3RB
  li
    a(href="/B3 3RJ") B3 3RJ
  li
    a(href="/B3 3SD") B3 3SD
  li
    a(href="/B3 3SH") B3 3SH
  li
    a(href="/B3 3SP") B3 3SP
  li
    a(href="/B3 3WL") B3 3WL
  li
    a(href="/B3 3WX") B3 3WX
  li
    a(href="/B3 3YA") B3 3YA
  li
    a(href="/B3 3YN") B3 3YN
