ul.locations
  li
    a(href="/B40 1NS") B40 1NS
  li
    a(href="/B40 1NT") B40 1NT
  li
    a(href="/B40 1PA") B40 1PA
  li
    a(href="/B40 1PJ") B40 1PJ
  li
    a(href="/B40 1PP") B40 1PP
  li
    a(href="/B40 1PQ") B40 1PQ
  li
    a(href="/B40 1PR") B40 1PR
  li
    a(href="/B40 1PS") B40 1PS
  li
    a(href="/B40 1PW") B40 1PW
  li
    a(href="/B40 1QA") B40 1QA
