ul.locations
  li
    a(href="/B47 5BN") B47 5BN
  li
    a(href="/B47 5BP") B47 5BP
  li
    a(href="/B47 5BS") B47 5BS
  li
    a(href="/B47 5BT") B47 5BT
  li
    a(href="/B47 5BU") B47 5BU
  li
    a(href="/B47 5BW") B47 5BW
  li
    a(href="/B47 5BX") B47 5BX
  li
    a(href="/B47 5BY") B47 5BY
  li
    a(href="/B47 5DA") B47 5DA
  li
    a(href="/B47 5DB") B47 5DB
  li
    a(href="/B47 5DD") B47 5DD
  li
    a(href="/B47 5DE") B47 5DE
  li
    a(href="/B47 5DF") B47 5DF
  li
    a(href="/B47 5DG") B47 5DG
  li
    a(href="/B47 5DH") B47 5DH
  li
    a(href="/B47 5DJ") B47 5DJ
  li
    a(href="/B47 5DL") B47 5DL
  li
    a(href="/B47 5DN") B47 5DN
  li
    a(href="/B47 5DP") B47 5DP
  li
    a(href="/B47 5DQ") B47 5DQ
  li
    a(href="/B47 5DR") B47 5DR
  li
    a(href="/B47 5DS") B47 5DS
  li
    a(href="/B47 5DT") B47 5DT
  li
    a(href="/B47 5DU") B47 5DU
  li
    a(href="/B47 5DW") B47 5DW
  li
    a(href="/B47 5DX") B47 5DX
  li
    a(href="/B47 5DY") B47 5DY
  li
    a(href="/B47 5EA") B47 5EA
  li
    a(href="/B47 5EB") B47 5EB
  li
    a(href="/B47 5ED") B47 5ED
  li
    a(href="/B47 5EE") B47 5EE
  li
    a(href="/B47 5EG") B47 5EG
  li
    a(href="/B47 5EH") B47 5EH
  li
    a(href="/B47 5EJ") B47 5EJ
  li
    a(href="/B47 5EL") B47 5EL
  li
    a(href="/B47 5EN") B47 5EN
  li
    a(href="/B47 5EP") B47 5EP
  li
    a(href="/B47 5ER") B47 5ER
  li
    a(href="/B47 5ES") B47 5ES
  li
    a(href="/B47 5HA") B47 5HA
  li
    a(href="/B47 5HD") B47 5HD
  li
    a(href="/B47 5HE") B47 5HE
  li
    a(href="/B47 5HF") B47 5HF
  li
    a(href="/B47 5HG") B47 5HG
  li
    a(href="/B47 5HH") B47 5HH
  li
    a(href="/B47 5HJ") B47 5HJ
  li
    a(href="/B47 5HL") B47 5HL
  li
    a(href="/B47 5HN") B47 5HN
  li
    a(href="/B47 5HP") B47 5HP
  li
    a(href="/B47 5HQ") B47 5HQ
  li
    a(href="/B47 5HR") B47 5HR
  li
    a(href="/B47 5HS") B47 5HS
  li
    a(href="/B47 5HT") B47 5HT
  li
    a(href="/B47 5HU") B47 5HU
  li
    a(href="/B47 5HX") B47 5HX
  li
    a(href="/B47 5HY") B47 5HY
  li
    a(href="/B47 5HZ") B47 5HZ
  li
    a(href="/B47 5JA") B47 5JA
  li
    a(href="/B47 5JB") B47 5JB
  li
    a(href="/B47 5JD") B47 5JD
  li
    a(href="/B47 5JE") B47 5JE
  li
    a(href="/B47 5JG") B47 5JG
  li
    a(href="/B47 5JJ") B47 5JJ
  li
    a(href="/B47 5JN") B47 5JN
  li
    a(href="/B47 5JP") B47 5JP
  li
    a(href="/B47 5JQ") B47 5JQ
  li
    a(href="/B47 5JR") B47 5JR
  li
    a(href="/B47 5JS") B47 5JS
  li
    a(href="/B47 5JT") B47 5JT
  li
    a(href="/B47 5JU") B47 5JU
  li
    a(href="/B47 5JW") B47 5JW
  li
    a(href="/B47 5JX") B47 5JX
  li
    a(href="/B47 5JY") B47 5JY
  li
    a(href="/B47 5JZ") B47 5JZ
  li
    a(href="/B47 5LA") B47 5LA
  li
    a(href="/B47 5LB") B47 5LB
  li
    a(href="/B47 5LD") B47 5LD
  li
    a(href="/B47 5LE") B47 5LE
  li
    a(href="/B47 5LF") B47 5LF
  li
    a(href="/B47 5LG") B47 5LG
  li
    a(href="/B47 5LH") B47 5LH
  li
    a(href="/B47 5LJ") B47 5LJ
  li
    a(href="/B47 5LL") B47 5LL
  li
    a(href="/B47 5LN") B47 5LN
  li
    a(href="/B47 5LP") B47 5LP
  li
    a(href="/B47 5LR") B47 5LR
  li
    a(href="/B47 5LS") B47 5LS
  li
    a(href="/B47 5LT") B47 5LT
  li
    a(href="/B47 5LU") B47 5LU
  li
    a(href="/B47 5NB") B47 5NB
  li
    a(href="/B47 5ND") B47 5ND
  li
    a(href="/B47 5NE") B47 5NE
  li
    a(href="/B47 5NH") B47 5NH
  li
    a(href="/B47 5NJ") B47 5NJ
  li
    a(href="/B47 5NL") B47 5NL
  li
    a(href="/B47 5NN") B47 5NN
  li
    a(href="/B47 5NP") B47 5NP
  li
    a(href="/B47 5NR") B47 5NR
  li
    a(href="/B47 5NS") B47 5NS
  li
    a(href="/B47 5NT") B47 5NT
  li
    a(href="/B47 5NU") B47 5NU
  li
    a(href="/B47 5NX") B47 5NX
  li
    a(href="/B47 5NY") B47 5NY
  li
    a(href="/B47 5NZ") B47 5NZ
  li
    a(href="/B47 5PA") B47 5PA
  li
    a(href="/B47 5PB") B47 5PB
  li
    a(href="/B47 5PD") B47 5PD
  li
    a(href="/B47 5PE") B47 5PE
  li
    a(href="/B47 5PH") B47 5PH
  li
    a(href="/B47 5PN") B47 5PN
  li
    a(href="/B47 5PP") B47 5PP
  li
    a(href="/B47 5PS") B47 5PS
  li
    a(href="/B47 5PT") B47 5PT
  li
    a(href="/B47 5PU") B47 5PU
  li
    a(href="/B47 5PX") B47 5PX
  li
    a(href="/B47 5PY") B47 5PY
  li
    a(href="/B47 5PZ") B47 5PZ
  li
    a(href="/B47 5QA") B47 5QA
  li
    a(href="/B47 5QB") B47 5QB
  li
    a(href="/B47 5QD") B47 5QD
  li
    a(href="/B47 5QE") B47 5QE
  li
    a(href="/B47 5QF") B47 5QF
  li
    a(href="/B47 5QG") B47 5QG
  li
    a(href="/B47 5QH") B47 5QH
  li
    a(href="/B47 5QJ") B47 5QJ
  li
    a(href="/B47 5QL") B47 5QL
  li
    a(href="/B47 5QN") B47 5QN
  li
    a(href="/B47 5QP") B47 5QP
  li
    a(href="/B47 5QQ") B47 5QQ
  li
    a(href="/B47 5QR") B47 5QR
  li
    a(href="/B47 5QS") B47 5QS
  li
    a(href="/B47 5QT") B47 5QT
  li
    a(href="/B47 5QU") B47 5QU
  li
    a(href="/B47 5QW") B47 5QW
  li
    a(href="/B47 5QX") B47 5QX
  li
    a(href="/B47 5QY") B47 5QY
  li
    a(href="/B47 5QZ") B47 5QZ
  li
    a(href="/B47 5RA") B47 5RA
  li
    a(href="/B47 5RB") B47 5RB
  li
    a(href="/B47 5RD") B47 5RD
  li
    a(href="/B47 5RH") B47 5RH
  li
    a(href="/B47 5RJ") B47 5RJ
  li
    a(href="/B47 5RL") B47 5RL
  li
    a(href="/B47 5RW") B47 5RW
  li
    a(href="/B47 6AA") B47 6AA
  li
    a(href="/B47 6AB") B47 6AB
  li
    a(href="/B47 6AD") B47 6AD
  li
    a(href="/B47 6AE") B47 6AE
  li
    a(href="/B47 6AF") B47 6AF
  li
    a(href="/B47 6AG") B47 6AG
  li
    a(href="/B47 6AJ") B47 6AJ
  li
    a(href="/B47 6AN") B47 6AN
  li
    a(href="/B47 6AP") B47 6AP
  li
    a(href="/B47 6AR") B47 6AR
  li
    a(href="/B47 6AU") B47 6AU
  li
    a(href="/B47 6BA") B47 6BA
  li
    a(href="/B47 6BD") B47 6BD
  li
    a(href="/B47 6BE") B47 6BE
  li
    a(href="/B47 6BH") B47 6BH
  li
    a(href="/B47 6BJ") B47 6BJ
  li
    a(href="/B47 6BP") B47 6BP
  li
    a(href="/B47 6BS") B47 6BS
  li
    a(href="/B47 6BU") B47 6BU
  li
    a(href="/B47 6BY") B47 6BY
  li
    a(href="/B47 6DA") B47 6DA
  li
    a(href="/B47 6DB") B47 6DB
  li
    a(href="/B47 6DG") B47 6DG
  li
    a(href="/B47 6DJ") B47 6DJ
  li
    a(href="/B47 6DL") B47 6DL
  li
    a(href="/B47 6DR") B47 6DR
  li
    a(href="/B47 6DS") B47 6DS
  li
    a(href="/B47 6DT") B47 6DT
  li
    a(href="/B47 6DU") B47 6DU
  li
    a(href="/B47 6DW") B47 6DW
  li
    a(href="/B47 6ED") B47 6ED
  li
    a(href="/B47 6EG") B47 6EG
  li
    a(href="/B47 6EH") B47 6EH
  li
    a(href="/B47 6EJ") B47 6EJ
  li
    a(href="/B47 6EL") B47 6EL
  li
    a(href="/B47 6EN") B47 6EN
  li
    a(href="/B47 6EP") B47 6EP
  li
    a(href="/B47 6EQ") B47 6EQ
  li
    a(href="/B47 6ER") B47 6ER
  li
    a(href="/B47 6ES") B47 6ES
  li
    a(href="/B47 6ET") B47 6ET
  li
    a(href="/B47 6EU") B47 6EU
  li
    a(href="/B47 6EW") B47 6EW
  li
    a(href="/B47 6EX") B47 6EX
  li
    a(href="/B47 6EY") B47 6EY
  li
    a(href="/B47 6HA") B47 6HA
  li
    a(href="/B47 6HB") B47 6HB
  li
    a(href="/B47 6HD") B47 6HD
  li
    a(href="/B47 6HE") B47 6HE
  li
    a(href="/B47 6HG") B47 6HG
  li
    a(href="/B47 6HH") B47 6HH
  li
    a(href="/B47 6HJ") B47 6HJ
  li
    a(href="/B47 6HL") B47 6HL
  li
    a(href="/B47 6HN") B47 6HN
  li
    a(href="/B47 6HP") B47 6HP
  li
    a(href="/B47 6HQ") B47 6HQ
  li
    a(href="/B47 6HW") B47 6HW
  li
    a(href="/B47 6JA") B47 6JA
  li
    a(href="/B47 6JB") B47 6JB
  li
    a(href="/B47 6JG") B47 6JG
  li
    a(href="/B47 6JH") B47 6JH
  li
    a(href="/B47 6JL") B47 6JL
  li
    a(href="/B47 6JP") B47 6JP
  li
    a(href="/B47 6JQ") B47 6JQ
  li
    a(href="/B47 6JR") B47 6JR
  li
    a(href="/B47 6JX") B47 6JX
  li
    a(href="/B47 6LD") B47 6LD
  li
    a(href="/B47 6LE") B47 6LE
  li
    a(href="/B47 6LF") B47 6LF
  li
    a(href="/B47 6LG") B47 6LG
  li
    a(href="/B47 6LH") B47 6LH
  li
    a(href="/B47 6LJ") B47 6LJ
  li
    a(href="/B47 6LL") B47 6LL
  li
    a(href="/B47 6LN") B47 6LN
  li
    a(href="/B47 6LP") B47 6LP
  li
    a(href="/B47 6LQ") B47 6LQ
  li
    a(href="/B47 6LR") B47 6LR
  li
    a(href="/B47 6LS") B47 6LS
  li
    a(href="/B47 6LT") B47 6LT
  li
    a(href="/B47 6LW") B47 6LW
  li
    a(href="/B47 6LX") B47 6LX
  li
    a(href="/B47 6LY") B47 6LY
  li
    a(href="/B47 6LZ") B47 6LZ
  li
    a(href="/B47 6ND") B47 6ND
  li
    a(href="/B47 6NG") B47 6NG
  li
    a(href="/B47 6NT") B47 6NT
  li
    a(href="/B47 6WF") B47 6WF
  li
    a(href="/B47 6WG") B47 6WG
  li
    a(href="/B47 6XA") B47 6XA
  li
    a(href="/B47 6YA") B47 6YA
  li
    a(href="/B47 6ZD") B47 6ZD
  li
    a(href="/B47 6ZR") B47 6ZR
