ul.locations
  li
    a(href="/B96 6AA") B96 6AA
  li
    a(href="/B96 6AB") B96 6AB
  li
    a(href="/B96 6AD") B96 6AD
  li
    a(href="/B96 6AE") B96 6AE
  li
    a(href="/B96 6AF") B96 6AF
  li
    a(href="/B96 6AG") B96 6AG
  li
    a(href="/B96 6AH") B96 6AH
  li
    a(href="/B96 6AJ") B96 6AJ
  li
    a(href="/B96 6AL") B96 6AL
  li
    a(href="/B96 6AN") B96 6AN
  li
    a(href="/B96 6AP") B96 6AP
  li
    a(href="/B96 6AQ") B96 6AQ
  li
    a(href="/B96 6AR") B96 6AR
  li
    a(href="/B96 6AS") B96 6AS
  li
    a(href="/B96 6AT") B96 6AT
  li
    a(href="/B96 6AU") B96 6AU
  li
    a(href="/B96 6AW") B96 6AW
  li
    a(href="/B96 6AX") B96 6AX
  li
    a(href="/B96 6AY") B96 6AY
  li
    a(href="/B96 6AZ") B96 6AZ
  li
    a(href="/B96 6BA") B96 6BA
  li
    a(href="/B96 6BB") B96 6BB
  li
    a(href="/B96 6BD") B96 6BD
  li
    a(href="/B96 6BE") B96 6BE
  li
    a(href="/B96 6BG") B96 6BG
  li
    a(href="/B96 6BH") B96 6BH
  li
    a(href="/B96 6BJ") B96 6BJ
  li
    a(href="/B96 6BL") B96 6BL
  li
    a(href="/B96 6BN") B96 6BN
  li
    a(href="/B96 6BP") B96 6BP
  li
    a(href="/B96 6BQ") B96 6BQ
  li
    a(href="/B96 6BS") B96 6BS
  li
    a(href="/B96 6BT") B96 6BT
  li
    a(href="/B96 6BU") B96 6BU
  li
    a(href="/B96 6BW") B96 6BW
  li
    a(href="/B96 6BX") B96 6BX
  li
    a(href="/B96 6BY") B96 6BY
  li
    a(href="/B96 6BZ") B96 6BZ
  li
    a(href="/B96 6DA") B96 6DA
  li
    a(href="/B96 6DB") B96 6DB
  li
    a(href="/B96 6DD") B96 6DD
  li
    a(href="/B96 6DE") B96 6DE
  li
    a(href="/B96 6DF") B96 6DF
  li
    a(href="/B96 6DG") B96 6DG
  li
    a(href="/B96 6DH") B96 6DH
  li
    a(href="/B96 6DJ") B96 6DJ
  li
    a(href="/B96 6DL") B96 6DL
  li
    a(href="/B96 6DN") B96 6DN
  li
    a(href="/B96 6DP") B96 6DP
  li
    a(href="/B96 6DQ") B96 6DQ
  li
    a(href="/B96 6DR") B96 6DR
  li
    a(href="/B96 6DS") B96 6DS
  li
    a(href="/B96 6DT") B96 6DT
  li
    a(href="/B96 6DU") B96 6DU
  li
    a(href="/B96 6DX") B96 6DX
  li
    a(href="/B96 6DY") B96 6DY
  li
    a(href="/B96 6DZ") B96 6DZ
  li
    a(href="/B96 6EA") B96 6EA
  li
    a(href="/B96 6EB") B96 6EB
  li
    a(href="/B96 6ED") B96 6ED
  li
    a(href="/B96 6EE") B96 6EE
  li
    a(href="/B96 6EG") B96 6EG
  li
    a(href="/B96 6EH") B96 6EH
  li
    a(href="/B96 6EJ") B96 6EJ
  li
    a(href="/B96 6EL") B96 6EL
  li
    a(href="/B96 6EN") B96 6EN
  li
    a(href="/B96 6EP") B96 6EP
  li
    a(href="/B96 6EQ") B96 6EQ
  li
    a(href="/B96 6ER") B96 6ER
  li
    a(href="/B96 6ES") B96 6ES
  li
    a(href="/B96 6ET") B96 6ET
  li
    a(href="/B96 6EU") B96 6EU
  li
    a(href="/B96 6EW") B96 6EW
  li
    a(href="/B96 6EX") B96 6EX
  li
    a(href="/B96 6EY") B96 6EY
  li
    a(href="/B96 6HA") B96 6HA
  li
    a(href="/B96 6HB") B96 6HB
  li
    a(href="/B96 6HD") B96 6HD
  li
    a(href="/B96 6HE") B96 6HE
  li
    a(href="/B96 6HF") B96 6HF
  li
    a(href="/B96 6HG") B96 6HG
  li
    a(href="/B96 6HH") B96 6HH
  li
    a(href="/B96 6HJ") B96 6HJ
  li
    a(href="/B96 6HL") B96 6HL
  li
    a(href="/B96 6HN") B96 6HN
  li
    a(href="/B96 6HP") B96 6HP
  li
    a(href="/B96 6HQ") B96 6HQ
  li
    a(href="/B96 6HR") B96 6HR
  li
    a(href="/B96 6HS") B96 6HS
  li
    a(href="/B96 6HT") B96 6HT
  li
    a(href="/B96 6HU") B96 6HU
  li
    a(href="/B96 6HW") B96 6HW
  li
    a(href="/B96 6HX") B96 6HX
  li
    a(href="/B96 6HY") B96 6HY
  li
    a(href="/B96 6HZ") B96 6HZ
  li
    a(href="/B96 6JA") B96 6JA
  li
    a(href="/B96 6JB") B96 6JB
  li
    a(href="/B96 6JD") B96 6JD
  li
    a(href="/B96 6JE") B96 6JE
  li
    a(href="/B96 6JF") B96 6JF
  li
    a(href="/B96 6JG") B96 6JG
  li
    a(href="/B96 6JH") B96 6JH
  li
    a(href="/B96 6JJ") B96 6JJ
  li
    a(href="/B96 6JL") B96 6JL
  li
    a(href="/B96 6JP") B96 6JP
  li
    a(href="/B96 6JR") B96 6JR
  li
    a(href="/B96 6JT") B96 6JT
  li
    a(href="/B96 6JU") B96 6JU
  li
    a(href="/B96 6JX") B96 6JX
  li
    a(href="/B96 6JY") B96 6JY
  li
    a(href="/B96 6JZ") B96 6JZ
  li
    a(href="/B96 6LA") B96 6LA
  li
    a(href="/B96 6LB") B96 6LB
  li
    a(href="/B96 6LD") B96 6LD
  li
    a(href="/B96 6LH") B96 6LH
  li
    a(href="/B96 6LJ") B96 6LJ
  li
    a(href="/B96 6LL") B96 6LL
  li
    a(href="/B96 6LP") B96 6LP
  li
    a(href="/B96 6LS") B96 6LS
  li
    a(href="/B96 6LT") B96 6LT
  li
    a(href="/B96 6LU") B96 6LU
  li
    a(href="/B96 6LW") B96 6LW
  li
    a(href="/B96 6LX") B96 6LX
  li
    a(href="/B96 6LY") B96 6LY
  li
    a(href="/B96 6LZ") B96 6LZ
  li
    a(href="/B96 6NA") B96 6NA
  li
    a(href="/B96 6NB") B96 6NB
  li
    a(href="/B96 6ND") B96 6ND
  li
    a(href="/B96 6NE") B96 6NE
  li
    a(href="/B96 6NF") B96 6NF
  li
    a(href="/B96 6NG") B96 6NG
  li
    a(href="/B96 6NH") B96 6NH
  li
    a(href="/B96 6NJ") B96 6NJ
  li
    a(href="/B96 6NL") B96 6NL
  li
    a(href="/B96 6NN") B96 6NN
  li
    a(href="/B96 6NP") B96 6NP
  li
    a(href="/B96 6NS") B96 6NS
  li
    a(href="/B96 6NT") B96 6NT
  li
    a(href="/B96 6NU") B96 6NU
  li
    a(href="/B96 6NW") B96 6NW
  li
    a(href="/B96 6NX") B96 6NX
  li
    a(href="/B96 6NY") B96 6NY
  li
    a(href="/B96 6NZ") B96 6NZ
  li
    a(href="/B96 6PA") B96 6PA
  li
    a(href="/B96 6PB") B96 6PB
  li
    a(href="/B96 6PD") B96 6PD
  li
    a(href="/B96 6PE") B96 6PE
  li
    a(href="/B96 6PH") B96 6PH
  li
    a(href="/B96 6PJ") B96 6PJ
  li
    a(href="/B96 6PL") B96 6PL
  li
    a(href="/B96 6PS") B96 6PS
  li
    a(href="/B96 6PT") B96 6PT
  li
    a(href="/B96 6PU") B96 6PU
  li
    a(href="/B96 6PX") B96 6PX
  li
    a(href="/B96 6QA") B96 6QA
  li
    a(href="/B96 6QB") B96 6QB
  li
    a(href="/B96 6QD") B96 6QD
  li
    a(href="/B96 6QH") B96 6QH
  li
    a(href="/B96 6QJ") B96 6QJ
  li
    a(href="/B96 6QL") B96 6QL
  li
    a(href="/B96 6QP") B96 6QP
  li
    a(href="/B96 6QR") B96 6QR
  li
    a(href="/B96 6QS") B96 6QS
  li
    a(href="/B96 6QT") B96 6QT
  li
    a(href="/B96 6QU") B96 6QU
  li
    a(href="/B96 6QX") B96 6QX
  li
    a(href="/B96 6RA") B96 6RA
  li
    a(href="/B96 6RB") B96 6RB
  li
    a(href="/B96 6RD") B96 6RD
  li
    a(href="/B96 6RH") B96 6RH
  li
    a(href="/B96 6RJ") B96 6RJ
  li
    a(href="/B96 6RL") B96 6RL
  li
    a(href="/B96 6RN") B96 6RN
  li
    a(href="/B96 6RP") B96 6RP
  li
    a(href="/B96 6RR") B96 6RR
  li
    a(href="/B96 6RS") B96 6RS
  li
    a(href="/B96 6RT") B96 6RT
  li
    a(href="/B96 6RU") B96 6RU
  li
    a(href="/B96 6RW") B96 6RW
  li
    a(href="/B96 6SB") B96 6SB
  li
    a(href="/B96 6SD") B96 6SD
  li
    a(href="/B96 6SE") B96 6SE
  li
    a(href="/B96 6SF") B96 6SF
  li
    a(href="/B96 6SH") B96 6SH
  li
    a(href="/B96 6SJ") B96 6SJ
  li
    a(href="/B96 6SL") B96 6SL
  li
    a(href="/B96 6SN") B96 6SN
  li
    a(href="/B96 6SP") B96 6SP
  li
    a(href="/B96 6SR") B96 6SR
  li
    a(href="/B96 6SS") B96 6SS
  li
    a(href="/B96 6ST") B96 6ST
  li
    a(href="/B96 6SU") B96 6SU
  li
    a(href="/B96 6SW") B96 6SW
  li
    a(href="/B96 6SX") B96 6SX
  li
    a(href="/B96 6SY") B96 6SY
  li
    a(href="/B96 6SZ") B96 6SZ
  li
    a(href="/B96 6TA") B96 6TA
  li
    a(href="/B96 6TB") B96 6TB
  li
    a(href="/B96 6TD") B96 6TD
  li
    a(href="/B96 6TE") B96 6TE
  li
    a(href="/B96 6TF") B96 6TF
  li
    a(href="/B96 6TG") B96 6TG
  li
    a(href="/B96 6TH") B96 6TH
  li
    a(href="/B96 6TJ") B96 6TJ
  li
    a(href="/B96 6TN") B96 6TN
  li
    a(href="/B96 6TQ") B96 6TQ
