ul.locations
  li
    a(href="/browse/England/S36") S36
  li
    a(href="/browse/England/S63") S63
  li
    a(href="/browse/England/S70") S70
  li
    a(href="/browse/England/S71") S71
  li
    a(href="/browse/England/S72") S72
  li
    a(href="/browse/England/S73") S73
  li
    a(href="/browse/England/S74") S74
  li
    a(href="/browse/England/S75") S75
