ul.locations
  li
    a(href="/browse/England/BA1") BA1
  li
    a(href="/browse/England/BA2") BA2
  li
    a(href="/browse/England/BS31") BS31
  li
    a(href="/browse/England/BS39") BS39
  li
    a(href="/browse/England/BS40") BS40
