ul.locations
  li
    a(href="/browse/England/B1") B1
  li
    a(href="/browse/England/B10") B10
  li
    a(href="/browse/England/B11") B11
  li
    a(href="/browse/England/B12") B12
  li
    a(href="/browse/England/B13") B13
  li
    a(href="/browse/England/B14") B14
  li
    a(href="/browse/England/B15") B15
  li
    a(href="/browse/England/B16") B16
  li
    a(href="/browse/England/B17") B17
  li
    a(href="/browse/England/B18") B18
  li
    a(href="/browse/England/B19") B19
  li
    a(href="/browse/England/B2") B2
  li
    a(href="/browse/England/B20") B20
  li
    a(href="/browse/England/B21") B21
  li
    a(href="/browse/England/B23") B23
  li
    a(href="/browse/England/B24") B24
  li
    a(href="/browse/England/B25") B25
  li
    a(href="/browse/England/B26") B26
  li
    a(href="/browse/England/B27") B27
  li
    a(href="/browse/England/B28") B28
  li
    a(href="/browse/England/B29") B29
  li
    a(href="/browse/England/B3") B3
  li
    a(href="/browse/England/B30") B30
  li
    a(href="/browse/England/B31") B31
  li
    a(href="/browse/England/B32") B32
  li
    a(href="/browse/England/B33") B33
  li
    a(href="/browse/England/B34") B34
  li
    a(href="/browse/England/B35") B35
  li
    a(href="/browse/England/B38") B38
  li
    a(href="/browse/England/B4") B4
  li
    a(href="/browse/England/B42") B42
  li
    a(href="/browse/England/B44") B44
  li
    a(href="/browse/England/B45") B45
  li
    a(href="/browse/England/B5") B5
  li
    a(href="/browse/England/B6") B6
  li
    a(href="/browse/England/B7") B7
  li
    a(href="/browse/England/B72") B72
  li
    a(href="/browse/England/B73") B73
  li
    a(href="/browse/England/B74") B74
  li
    a(href="/browse/England/B75") B75
  li
    a(href="/browse/England/B76") B76
  li
    a(href="/browse/England/B8") B8
  li
    a(href="/browse/England/B9") B9
