ul.locations
  li
    a(href="/browse/England/BL1") BL1
  li
    a(href="/browse/England/BL2") BL2
  li
    a(href="/browse/England/BL3") BL3
  li
    a(href="/browse/England/BL4") BL4
  li
    a(href="/browse/England/BL5") BL5
  li
    a(href="/browse/England/BL6") BL6
  li
    a(href="/browse/England/BL7") BL7
