ul.locations
  li
    a(href="/browse/England/BH1") BH1
  li
    a(href="/browse/England/BH10") BH10
  li
    a(href="/browse/England/BH11") BH11
  li
    a(href="/browse/England/BH2") BH2
  li
    a(href="/browse/England/BH3") BH3
  li
    a(href="/browse/England/BH4") BH4
  li
    a(href="/browse/England/BH5") BH5
  li
    a(href="/browse/England/BH6") BH6
  li
    a(href="/browse/England/BH7") BH7
  li
    a(href="/browse/England/BH8") BH8
  li
    a(href="/browse/England/BH9") BH9
