ul.locations
  li
    a(href="/browse/England/BD1") BD1
  li
    a(href="/browse/England/BD10") BD10
  li
    a(href="/browse/England/BD12") BD12
  li
    a(href="/browse/England/BD13") BD13
  li
    a(href="/browse/England/BD14") BD14
  li
    a(href="/browse/England/BD15") BD15
  li
    a(href="/browse/England/BD16") BD16
  li
    a(href="/browse/England/BD17") BD17
  li
    a(href="/browse/England/BD18") BD18
  li
    a(href="/browse/England/BD2") BD2
  li
    a(href="/browse/England/BD20") BD20
  li
    a(href="/browse/England/BD21") BD21
  li
    a(href="/browse/England/BD22") BD22
  li
    a(href="/browse/England/BD3") BD3
  li
    a(href="/browse/England/BD4") BD4
  li
    a(href="/browse/England/BD5") BD5
  li
    a(href="/browse/England/BD6") BD6
  li
    a(href="/browse/England/BD7") BD7
  li
    a(href="/browse/England/BD8") BD8
  li
    a(href="/browse/England/BD9") BD9
  li
    a(href="/browse/England/LS29") LS29
