ul.locations
  li
    a(href="/browse/England/HP10") HP10
  li
    a(href="/browse/England/HP11") HP11
  li
    a(href="/browse/England/HP12") HP12
  li
    a(href="/browse/England/HP13") HP13
  li
    a(href="/browse/England/HP14") HP14
  li
    a(href="/browse/England/HP15") HP15
  li
    a(href="/browse/England/HP16") HP16
  li
    a(href="/browse/England/HP17") HP17
  li
    a(href="/browse/England/HP18") HP18
  li
    a(href="/browse/England/HP19") HP19
  li
    a(href="/browse/England/HP20") HP20
  li
    a(href="/browse/England/HP21") HP21
  li
    a(href="/browse/England/HP22") HP22
  li
    a(href="/browse/England/HP27") HP27
  li
    a(href="/browse/England/HP5") HP5
  li
    a(href="/browse/England/HP6") HP6
  li
    a(href="/browse/England/HP7") HP7
  li
    a(href="/browse/England/HP8") HP8
  li
    a(href="/browse/England/HP9") HP9
  li
    a(href="/browse/England/SL0") SL0
  li
    a(href="/browse/England/SL7") SL7
  li
    a(href="/browse/England/SL8") SL8
  li
    a(href="/browse/England/SL9") SL9
  li
    a(href="/browse/England/UB9") UB9
