ul.locations
  li
    a(href="/CA18 1RD") CA18 1RD
  li
    a(href="/CA18 1RF") CA18 1RF
  li
    a(href="/CA18 1RG") CA18 1RG
  li
    a(href="/CA18 1RJ") CA18 1RJ
  li
    a(href="/CA18 1RL") CA18 1RL
  li
    a(href="/CA18 1RN") CA18 1RN
  li
    a(href="/CA18 1RQ") CA18 1RQ
  li
    a(href="/CA18 1RR") CA18 1RR
  li
    a(href="/CA18 1RS") CA18 1RS
  li
    a(href="/CA18 1RT") CA18 1RT
  li
    a(href="/CA18 1RW") CA18 1RW
  li
    a(href="/CA18 1SD") CA18 1SD
  li
    a(href="/CA18 1SE") CA18 1SE
  li
    a(href="/CA18 1SF") CA18 1SF
  li
    a(href="/CA18 1SG") CA18 1SG
  li
    a(href="/CA18 1SH") CA18 1SH
  li
    a(href="/CA18 1SJ") CA18 1SJ
  li
    a(href="/CA18 1SL") CA18 1SL
  li
    a(href="/CA18 1SN") CA18 1SN
  li
    a(href="/CA18 1SP") CA18 1SP
  li
    a(href="/CA18 1SQ") CA18 1SQ
  li
    a(href="/CA18 1SR") CA18 1SR
  li
    a(href="/CA18 1ST") CA18 1ST
  li
    a(href="/CA18 1SU") CA18 1SU
  li
    a(href="/CA18 1SW") CA18 1SW
