ul.locations
  li
    a(href="/CA19 1TA") CA19 1TA
  li
    a(href="/CA19 1TB") CA19 1TB
  li
    a(href="/CA19 1TD") CA19 1TD
  li
    a(href="/CA19 1TE") CA19 1TE
  li
    a(href="/CA19 1TF") CA19 1TF
  li
    a(href="/CA19 1TG") CA19 1TG
  li
    a(href="/CA19 1TH") CA19 1TH
  li
    a(href="/CA19 1TJ") CA19 1TJ
  li
    a(href="/CA19 1TL") CA19 1TL
  li
    a(href="/CA19 1TN") CA19 1TN
  li
    a(href="/CA19 1TP") CA19 1TP
  li
    a(href="/CA19 1TR") CA19 1TR
  li
    a(href="/CA19 1TS") CA19 1TS
  li
    a(href="/CA19 1TT") CA19 1TT
  li
    a(href="/CA19 1TU") CA19 1TU
  li
    a(href="/CA19 1TW") CA19 1TW
  li
    a(href="/CA19 1TX") CA19 1TX
  li
    a(href="/CA19 1TY") CA19 1TY
  li
    a(href="/CA19 1TZ") CA19 1TZ
  li
    a(href="/CA19 1UA") CA19 1UA
  li
    a(href="/CA19 1UB") CA19 1UB
  li
    a(href="/CA19 1UD") CA19 1UD
  li
    a(href="/CA19 1UE") CA19 1UE
  li
    a(href="/CA19 1UF") CA19 1UF
  li
    a(href="/CA19 1UG") CA19 1UG
  li
    a(href="/CA19 1UH") CA19 1UH
  li
    a(href="/CA19 1UJ") CA19 1UJ
  li
    a(href="/CA19 1UL") CA19 1UL
  li
    a(href="/CA19 1UN") CA19 1UN
  li
    a(href="/CA19 1UQ") CA19 1UQ
  li
    a(href="/CA19 1UT") CA19 1UT
  li
    a(href="/CA19 1UU") CA19 1UU
  li
    a(href="/CA19 1UX") CA19 1UX
  li
    a(href="/CA19 1UY") CA19 1UY
  li
    a(href="/CA19 1UZ") CA19 1UZ
  li
    a(href="/CA19 1XA") CA19 1XA
  li
    a(href="/CA19 1XD") CA19 1XD
  li
    a(href="/CA19 1XE") CA19 1XE
  li
    a(href="/CA19 1XF") CA19 1XF
  li
    a(href="/CA19 1XG") CA19 1XG
  li
    a(href="/CA19 1XH") CA19 1XH
  li
    a(href="/CA19 1XL") CA19 1XL
  li
    a(href="/CA19 1XP") CA19 1XP
  li
    a(href="/CA19 1XQ") CA19 1XQ
  li
    a(href="/CA19 1XR") CA19 1XR
  li
    a(href="/CA19 1XS") CA19 1XS
  li
    a(href="/CA19 1XT") CA19 1XT
  li
    a(href="/CA19 1XU") CA19 1XU
  li
    a(href="/CA19 1XW") CA19 1XW
  li
    a(href="/CA19 1XX") CA19 1XX
  li
    a(href="/CA19 1XZ") CA19 1XZ
  li
    a(href="/CA19 1YA") CA19 1YA
  li
    a(href="/CA19 1YB") CA19 1YB
  li
    a(href="/CA19 1YD") CA19 1YD
  li
    a(href="/CA19 1YE") CA19 1YE
  li
    a(href="/CA19 1YF") CA19 1YF
  li
    a(href="/CA19 1YG") CA19 1YG
  li
    a(href="/CA19 1YH") CA19 1YH
  li
    a(href="/CA19 1YL") CA19 1YL
  li
    a(href="/CA19 1YN") CA19 1YN
  li
    a(href="/CA19 1YP") CA19 1YP
  li
    a(href="/CA19 1YQ") CA19 1YQ
  li
    a(href="/CA19 1YR") CA19 1YR
  li
    a(href="/CA19 1YT") CA19 1YT
  li
    a(href="/CA19 1YX") CA19 1YX
  li
    a(href="/CA19 1YY") CA19 1YY
  li
    a(href="/CA19 1YZ") CA19 1YZ
