ul.locations
  li
    a(href="/CA21 2XA") CA21 2XA
  li
    a(href="/CA21 2XB") CA21 2XB
  li
    a(href="/CA21 2XD") CA21 2XD
  li
    a(href="/CA21 2XE") CA21 2XE
  li
    a(href="/CA21 2XF") CA21 2XF
  li
    a(href="/CA21 2XG") CA21 2XG
  li
    a(href="/CA21 2XH") CA21 2XH
  li
    a(href="/CA21 2XJ") CA21 2XJ
  li
    a(href="/CA21 2XL") CA21 2XL
  li
    a(href="/CA21 2XN") CA21 2XN
  li
    a(href="/CA21 2XP") CA21 2XP
  li
    a(href="/CA21 2XQ") CA21 2XQ
  li
    a(href="/CA21 2XR") CA21 2XR
  li
    a(href="/CA21 2XS") CA21 2XS
  li
    a(href="/CA21 2XT") CA21 2XT
  li
    a(href="/CA21 2XU") CA21 2XU
  li
    a(href="/CA21 2XW") CA21 2XW
  li
    a(href="/CA21 2XX") CA21 2XX
  li
    a(href="/CA21 2XY") CA21 2XY
  li
    a(href="/CA21 2XZ") CA21 2XZ
  li
    a(href="/CA21 2YA") CA21 2YA
  li
    a(href="/CA21 2YB") CA21 2YB
  li
    a(href="/CA21 2YD") CA21 2YD
  li
    a(href="/CA21 2YE") CA21 2YE
  li
    a(href="/CA21 2YF") CA21 2YF
  li
    a(href="/CA21 2YG") CA21 2YG
  li
    a(href="/CA21 2YH") CA21 2YH
  li
    a(href="/CA21 2YJ") CA21 2YJ
  li
    a(href="/CA21 2YL") CA21 2YL
  li
    a(href="/CA21 2YN") CA21 2YN
  li
    a(href="/CA21 2YP") CA21 2YP
  li
    a(href="/CA21 2YS") CA21 2YS
  li
    a(href="/CA21 2YT") CA21 2YT
  li
    a(href="/CA21 2YU") CA21 2YU
  li
    a(href="/CA21 2YW") CA21 2YW
  li
    a(href="/CA21 2YX") CA21 2YX
  li
    a(href="/CA21 2YY") CA21 2YY
