ul.locations
  li
    a(href="/CA27 0AA") CA27 0AA
  li
    a(href="/CA27 0AB") CA27 0AB
  li
    a(href="/CA27 0AD") CA27 0AD
  li
    a(href="/CA27 0AE") CA27 0AE
  li
    a(href="/CA27 0AF") CA27 0AF
  li
    a(href="/CA27 0AL") CA27 0AL
  li
    a(href="/CA27 0AN") CA27 0AN
  li
    a(href="/CA27 0AP") CA27 0AP
  li
    a(href="/CA27 0AQ") CA27 0AQ
  li
    a(href="/CA27 0AR") CA27 0AR
  li
    a(href="/CA27 0AS") CA27 0AS
  li
    a(href="/CA27 0AY") CA27 0AY
  li
    a(href="/CA27 0BB") CA27 0BB
  li
    a(href="/CA27 0BD") CA27 0BD
  li
    a(href="/CA27 0BE") CA27 0BE
  li
    a(href="/CA27 0BG") CA27 0BG
  li
    a(href="/CA27 0BH") CA27 0BH
  li
    a(href="/CA27 0BJ") CA27 0BJ
  li
    a(href="/CA27 0BL") CA27 0BL
  li
    a(href="/CA27 0BN") CA27 0BN
  li
    a(href="/CA27 0BP") CA27 0BP
  li
    a(href="/CA27 0BS") CA27 0BS
  li
    a(href="/CA27 0BW") CA27 0BW
  li
    a(href="/CA27 0BX") CA27 0BX
  li
    a(href="/CA27 0BY") CA27 0BY
  li
    a(href="/CA27 0BZ") CA27 0BZ
  li
    a(href="/CA27 0DE") CA27 0DE
  li
    a(href="/CA27 0DG") CA27 0DG
  li
    a(href="/CA27 0DN") CA27 0DN
  li
    a(href="/CA27 0DR") CA27 0DR
  li
    a(href="/CA27 0DS") CA27 0DS
  li
    a(href="/CA27 0DU") CA27 0DU
  li
    a(href="/CA27 0DY") CA27 0DY
  li
    a(href="/CA27 0ED") CA27 0ED
  li
    a(href="/CA27 0EE") CA27 0EE
  li
    a(href="/CA27 0EF") CA27 0EF
  li
    a(href="/CA27 0EG") CA27 0EG
  li
    a(href="/CA27 0EJ") CA27 0EJ
  li
    a(href="/CA27 0EL") CA27 0EL
  li
    a(href="/CA27 0EN") CA27 0EN
  li
    a(href="/CA27 0EP") CA27 0EP
  li
    a(href="/CA27 0EQ") CA27 0EQ
  li
    a(href="/CA27 0ES") CA27 0ES
  li
    a(href="/CA27 0ET") CA27 0ET
  li
    a(href="/CA27 0EU") CA27 0EU
  li
    a(href="/CA27 0EW") CA27 0EW
  li
    a(href="/CA27 0EY") CA27 0EY
  li
    a(href="/CA27 0EZ") CA27 0EZ
  li
    a(href="/CA27 0HA") CA27 0HA
  li
    a(href="/CA27 0HB") CA27 0HB
  li
    a(href="/CA27 0HD") CA27 0HD
