ul.locations
  li
    a(href="/browse/England/HD6") HD6
  li
    a(href="/browse/England/HX1") HX1
  li
    a(href="/browse/England/HX2") HX2
  li
    a(href="/browse/England/HX3") HX3
  li
    a(href="/browse/England/HX4") HX4
  li
    a(href="/browse/England/HX5") HX5
  li
    a(href="/browse/England/HX6") HX6
  li
    a(href="/browse/England/HX7") HX7
  li
    a(href="/browse/England/OL14") OL14
