ul.locations
  li
    a(href="/browse/England/CB1") CB1
  li
    a(href="/browse/England/CB2") CB2
  li
    a(href="/browse/England/CB21") CB21
  li
    a(href="/browse/England/CB22") CB22
  li
    a(href="/browse/England/CB23") CB23
  li
    a(href="/browse/England/CB24") CB24
  li
    a(href="/browse/England/CB25") CB25
  li
    a(href="/browse/England/CB3") CB3
  li
    a(href="/browse/England/CB4") CB4
  li
    a(href="/browse/England/CB5") CB5
  li
    a(href="/browse/England/CB6") CB6
  li
    a(href="/browse/England/CB7") CB7
  li
    a(href="/browse/England/CB8") CB8
  li
    a(href="/browse/England/PE13") PE13
  li
    a(href="/browse/England/PE15") PE15
  li
    a(href="/browse/England/PE16") PE16
  li
    a(href="/browse/England/PE19") PE19
  li
    a(href="/browse/England/PE26") PE26
  li
    a(href="/browse/England/PE27") PE27
  li
    a(href="/browse/England/PE28") PE28
  li
    a(href="/browse/England/PE29") PE29
  li
    a(href="/browse/England/PE7") PE7
  li
    a(href="/browse/England/SG8") SG8
