ul.locations
  li
    a(href="/browse/England/LU5") LU5
  li
    a(href="/browse/England/LU6") LU6
  li
    a(href="/browse/England/LU7") LU7
  li
    a(href="/browse/England/MK45") MK45
  li
    a(href="/browse/England/SG15") SG15
  li
    a(href="/browse/England/SG16") SG16
  li
    a(href="/browse/England/SG17") SG17
  li
    a(href="/browse/England/SG18") SG18
  li
    a(href="/browse/England/SG19") SG19
