ul.locations
  li
    a(href="/browse/England/CH1") CH1
  li
    a(href="/browse/England/CH2") CH2
  li
    a(href="/browse/England/CH3") CH3
  li
    a(href="/browse/England/CH64") CH64
  li
    a(href="/browse/England/CH65") CH65
  li
    a(href="/browse/England/CH66") CH66
  li
    a(href="/browse/England/CW6") CW6
  li
    a(href="/browse/England/CW7") CW7
  li
    a(href="/browse/England/CW8") CW8
  li
    a(href="/browse/England/CW9") CW9
  li
    a(href="/browse/England/SY14") SY14
  li
    a(href="/browse/England/WA6") WA6
