ul.locations
  li
    a(href="/browse/England/CW1") CW1
  li
    a(href="/browse/England/CW10") CW10
  li
    a(href="/browse/England/CW11") CW11
  li
    a(href="/browse/England/CW12") CW12
  li
    a(href="/browse/England/CW2") CW2
  li
    a(href="/browse/England/CW3") CW3
  li
    a(href="/browse/England/CW4") CW4
  li
    a(href="/browse/England/CW5") CW5
  li
    a(href="/browse/England/SK10") SK10
  li
    a(href="/browse/England/SK11") SK11
  li
    a(href="/browse/England/SK12") SK12
  li
    a(href="/browse/England/SK9") SK9
  li
    a(href="/browse/England/WA16") WA16
