ul.locations
  li
    a(href="/browse/England/EC2M") EC2M
  li
    a(href="/browse/England/EC2N") EC2N
  li
    a(href="/browse/England/EC2R") EC2R
  li
    a(href="/browse/England/EC2V") EC2V
  li
    a(href="/browse/England/EC2Y") EC2Y
  li
    a(href="/browse/England/EC3A") EC3A
  li
    a(href="/browse/England/EC3M") EC3M
  li
    a(href="/browse/England/EC3N") EC3N
  li
    a(href="/browse/England/EC3R") EC3R
  li
    a(href="/browse/England/EC3V") EC3V
  li
    a(href="/browse/England/EC4A") EC4A
  li
    a(href="/browse/England/EC4M") EC4M
  li
    a(href="/browse/England/EC4N") EC4N
  li
    a(href="/browse/England/EC4R") EC4R
  li
    a(href="/browse/England/EC4V") EC4V
  li
    a(href="/browse/England/EC4Y") EC4Y
