ul.locations
  li
    a(href="/browse/England/BS1") BS1
  li
    a(href="/browse/England/BS10") BS10
  li
    a(href="/browse/England/BS11") BS11
  li
    a(href="/browse/England/BS13") BS13
  li
    a(href="/browse/England/BS14") BS14
  li
    a(href="/browse/England/BS2") BS2
  li
    a(href="/browse/England/BS3") BS3
  li
    a(href="/browse/England/BS4") BS4
  li
    a(href="/browse/England/BS5") BS5
  li
    a(href="/browse/England/BS6") BS6
  li
    a(href="/browse/England/BS7") BS7
  li
    a(href="/browse/England/BS8") BS8
  li
    a(href="/browse/England/BS9") BS9
  li
    a(href="/browse/England/BS99") BS99
