ul.locations
  li
    a(href="/browse/England/HU1") HU1
  li
    a(href="/browse/England/HU2") HU2
  li
    a(href="/browse/England/HU3") HU3
  li
    a(href="/browse/England/HU4") HU4
  li
    a(href="/browse/England/HU5") HU5
  li
    a(href="/browse/England/HU6") HU6
  li
    a(href="/browse/England/HU7") HU7
  li
    a(href="/browse/England/HU8") HU8
  li
    a(href="/browse/England/HU9") HU9
