ul.locations
  li
    a(href="/browse/England/DH1") DH1
  li
    a(href="/browse/England/DH2") DH2
  li
    a(href="/browse/England/DH3") DH3
  li
    a(href="/browse/England/DH6") DH6
  li
    a(href="/browse/England/DH7") DH7
  li
    a(href="/browse/England/DH8") DH8
  li
    a(href="/browse/England/DH9") DH9
  li
    a(href="/browse/England/DL12") DL12
  li
    a(href="/browse/England/DL13") DL13
  li
    a(href="/browse/England/DL14") DL14
  li
    a(href="/browse/England/DL15") DL15
  li
    a(href="/browse/England/DL16") DL16
  li
    a(href="/browse/England/DL17") DL17
  li
    a(href="/browse/England/DL4") DL4
  li
    a(href="/browse/England/DL5") DL5
  li
    a(href="/browse/England/SR7") SR7
  li
    a(href="/browse/England/SR8") SR8
  li
    a(href="/browse/England/TS21") TS21
  li
    a(href="/browse/England/TS27") TS27
  li
    a(href="/browse/England/TS28") TS28
  li
    a(href="/browse/England/TS29") TS29
