ul.locations
  li
    a(href="/browse/England/HR1") HR1
  li
    a(href="/browse/England/HR2") HR2
  li
    a(href="/browse/England/HR3") HR3
  li
    a(href="/browse/England/HR4") HR4
  li
    a(href="/browse/England/HR5") HR5
  li
    a(href="/browse/England/HR6") HR6
  li
    a(href="/browse/England/HR7") HR7
  li
    a(href="/browse/England/HR8") HR8
  li
    a(href="/browse/England/HR9") HR9
  li
    a(href="/browse/England/WR13") WR13
