ul.locations
  li
    a(href="/browse/England/CV1") CV1
  li
    a(href="/browse/England/CV2") CV2
  li
    a(href="/browse/England/CV3") CV3
  li
    a(href="/browse/England/CV4") CV4
  li
    a(href="/browse/England/CV5") CV5
  li
    a(href="/browse/England/CV6") CV6
  li
    a(href="/browse/England/CV7") CV7
