ul.locations
  li
    a(href="/browse/England/CA1") CA1
  li
    a(href="/browse/England/CA10") CA10
  li
    a(href="/browse/England/CA11") CA11
  li
    a(href="/browse/England/CA12") CA12
  li
    a(href="/browse/England/CA13") CA13
  li
    a(href="/browse/England/CA14") CA14
  li
    a(href="/browse/England/CA15") CA15
  li
    a(href="/browse/England/CA16") CA16
  li
    a(href="/browse/England/CA17") CA17
  li
    a(href="/browse/England/CA18") CA18
  li
    a(href="/browse/England/CA19") CA19
  li
    a(href="/browse/England/CA2") CA2
  li
    a(href="/browse/England/CA20") CA20
  li
    a(href="/browse/England/CA21") CA21
  li
    a(href="/browse/England/CA22") CA22
  li
    a(href="/browse/England/CA23") CA23
  li
    a(href="/browse/England/CA24") CA24
  li
    a(href="/browse/England/CA25") CA25
  li
    a(href="/browse/England/CA26") CA26
  li
    a(href="/browse/England/CA27") CA27
  li
    a(href="/browse/England/CA28") CA28
  li
    a(href="/browse/England/CA3") CA3
  li
    a(href="/browse/England/CA4") CA4
  li
    a(href="/browse/England/CA5") CA5
  li
    a(href="/browse/England/CA6") CA6
  li
    a(href="/browse/England/CA7") CA7
  li
    a(href="/browse/England/CA8") CA8
  li
    a(href="/browse/England/CA9") CA9
  li
    a(href="/browse/England/LA10") LA10
  li
    a(href="/browse/England/LA11") LA11
  li
    a(href="/browse/England/LA12") LA12
  li
    a(href="/browse/England/LA13") LA13
  li
    a(href="/browse/England/LA14") LA14
  li
    a(href="/browse/England/LA15") LA15
  li
    a(href="/browse/England/LA16") LA16
  li
    a(href="/browse/England/LA17") LA17
  li
    a(href="/browse/England/LA18") LA18
  li
    a(href="/browse/England/LA19") LA19
  li
    a(href="/browse/England/LA20") LA20
  li
    a(href="/browse/England/LA21") LA21
  li
    a(href="/browse/England/LA22") LA22
  li
    a(href="/browse/England/LA23") LA23
  li
    a(href="/browse/England/LA7") LA7
  li
    a(href="/browse/England/LA8") LA8
  li
    a(href="/browse/England/LA9") LA9
