ul.locations
  li
    a(href="/browse/England/DE11") DE11
  li
    a(href="/browse/England/DE12") DE12
  li
    a(href="/browse/England/DE4") DE4
  li
    a(href="/browse/England/DE45") DE45
  li
    a(href="/browse/England/DE5") DE5
  li
    a(href="/browse/England/DE55") DE55
  li
    a(href="/browse/England/DE56") DE56
  li
    a(href="/browse/England/DE6") DE6
  li
    a(href="/browse/England/DE65") DE65
  li
    a(href="/browse/England/DE7") DE7
  li
    a(href="/browse/England/DE72") DE72
  li
    a(href="/browse/England/DE73") DE73
  li
    a(href="/browse/England/DE75") DE75
  li
    a(href="/browse/England/NG10") NG10
  li
    a(href="/browse/England/S18") S18
  li
    a(href="/browse/England/S21") S21
  li
    a(href="/browse/England/S32") S32
  li
    a(href="/browse/England/S33") S33
  li
    a(href="/browse/England/S40") S40
  li
    a(href="/browse/England/S41") S41
  li
    a(href="/browse/England/S42") S42
  li
    a(href="/browse/England/S43") S43
  li
    a(href="/browse/England/S44") S44
  li
    a(href="/browse/England/S45") S45
  li
    a(href="/browse/England/SK13") SK13
  li
    a(href="/browse/England/SK17") SK17
  li
    a(href="/browse/England/SK22") SK22
  li
    a(href="/browse/England/SK23") SK23
