ul.locations
  li
    a(href="/browse/England/DE1") DE1
  li
    a(href="/browse/England/DE21") DE21
  li
    a(href="/browse/England/DE22") DE22
  li
    a(href="/browse/England/DE23") DE23
  li
    a(href="/browse/England/DE24") DE24
  li
    a(href="/browse/England/DE3") DE3
