ul.locations
  li
    a(href="/browse/England/EX1") EX1
  li
    a(href="/browse/England/EX10") EX10
  li
    a(href="/browse/England/EX11") EX11
  li
    a(href="/browse/England/EX12") EX12
  li
    a(href="/browse/England/EX13") EX13
  li
    a(href="/browse/England/EX14") EX14
  li
    a(href="/browse/England/EX15") EX15
  li
    a(href="/browse/England/EX16") EX16
  li
    a(href="/browse/England/EX17") EX17
  li
    a(href="/browse/England/EX18") EX18
  li
    a(href="/browse/England/EX19") EX19
  li
    a(href="/browse/England/EX2") EX2
  li
    a(href="/browse/England/EX20") EX20
  li
    a(href="/browse/England/EX21") EX21
  li
    a(href="/browse/England/EX22") EX22
  li
    a(href="/browse/England/EX24") EX24
  li
    a(href="/browse/England/EX3") EX3
  li
    a(href="/browse/England/EX31") EX31
  li
    a(href="/browse/England/EX32") EX32
  li
    a(href="/browse/England/EX33") EX33
  li
    a(href="/browse/England/EX34") EX34
  li
    a(href="/browse/England/EX35") EX35
  li
    a(href="/browse/England/EX36") EX36
  li
    a(href="/browse/England/EX37") EX37
  li
    a(href="/browse/England/EX38") EX38
  li
    a(href="/browse/England/EX39") EX39
  li
    a(href="/browse/England/EX4") EX4
  li
    a(href="/browse/England/EX5") EX5
  li
    a(href="/browse/England/EX6") EX6
  li
    a(href="/browse/England/EX7") EX7
  li
    a(href="/browse/England/EX8") EX8
  li
    a(href="/browse/England/EX9") EX9
  li
    a(href="/browse/England/PL16") PL16
  li
    a(href="/browse/England/PL19") PL19
  li
    a(href="/browse/England/PL20") PL20
  li
    a(href="/browse/England/PL21") PL21
  li
    a(href="/browse/England/PL8") PL8
  li
    a(href="/browse/England/TQ10") TQ10
  li
    a(href="/browse/England/TQ11") TQ11
  li
    a(href="/browse/England/TQ12") TQ12
  li
    a(href="/browse/England/TQ13") TQ13
  li
    a(href="/browse/England/TQ14") TQ14
  li
    a(href="/browse/England/TQ6") TQ6
  li
    a(href="/browse/England/TQ7") TQ7
  li
    a(href="/browse/England/TQ8") TQ8
  li
    a(href="/browse/England/TQ9") TQ9
