ul.locations
  li
    a(href="/browse/England/BH16") BH16
  li
    a(href="/browse/England/BH19") BH19
  li
    a(href="/browse/England/BH20") BH20
  li
    a(href="/browse/England/BH21") BH21
  li
    a(href="/browse/England/BH22") BH22
  li
    a(href="/browse/England/BH23") BH23
  li
    a(href="/browse/England/BH31") BH31
  li
    a(href="/browse/England/DT1") DT1
  li
    a(href="/browse/England/DT10") DT10
  li
    a(href="/browse/England/DT11") DT11
  li
    a(href="/browse/England/DT2") DT2
  li
    a(href="/browse/England/DT3") DT3
  li
    a(href="/browse/England/DT4") DT4
  li
    a(href="/browse/England/DT5") DT5
  li
    a(href="/browse/England/DT6") DT6
  li
    a(href="/browse/England/DT7") DT7
  li
    a(href="/browse/England/DT8") DT8
  li
    a(href="/browse/England/DT9") DT9
  li
    a(href="/browse/England/SP7") SP7
  li
    a(href="/browse/England/SP8") SP8
