ul.locations
  li
    a(href="/browse/England/B62") B62
  li
    a(href="/browse/England/B63") B63
  li
    a(href="/browse/England/DY1") DY1
  li
    a(href="/browse/England/DY2") DY2
  li
    a(href="/browse/England/DY3") DY3
  li
    a(href="/browse/England/DY5") DY5
  li
    a(href="/browse/England/DY6") DY6
  li
    a(href="/browse/England/DY8") DY8
  li
    a(href="/browse/England/DY9") DY9
