ul.locations
  li
    a(href="/browse/England/BN10") BN10
  li
    a(href="/browse/England/BN20") BN20
  li
    a(href="/browse/England/BN21") BN21
  li
    a(href="/browse/England/BN22") BN22
  li
    a(href="/browse/England/BN23") BN23
  li
    a(href="/browse/England/BN24") BN24
  li
    a(href="/browse/England/BN25") BN25
  li
    a(href="/browse/England/BN26") BN26
  li
    a(href="/browse/England/BN27") BN27
  li
    a(href="/browse/England/BN7") BN7
  li
    a(href="/browse/England/BN8") BN8
  li
    a(href="/browse/England/BN9") BN9
  li
    a(href="/browse/England/RH18") RH18
  li
    a(href="/browse/England/TN19") TN19
  li
    a(href="/browse/England/TN20") TN20
  li
    a(href="/browse/England/TN21") TN21
  li
    a(href="/browse/England/TN22") TN22
  li
    a(href="/browse/England/TN31") TN31
  li
    a(href="/browse/England/TN32") TN32
  li
    a(href="/browse/England/TN33") TN33
  li
    a(href="/browse/England/TN34") TN34
  li
    a(href="/browse/England/TN35") TN35
  li
    a(href="/browse/England/TN36") TN36
  li
    a(href="/browse/England/TN37") TN37
  li
    a(href="/browse/England/TN38") TN38
  li
    a(href="/browse/England/TN39") TN39
  li
    a(href="/browse/England/TN40") TN40
  li
    a(href="/browse/England/TN5") TN5
  li
    a(href="/browse/England/TN6") TN6
  li
    a(href="/browse/England/TN7") TN7
