ul.locations
  li
    a(href="/browse/England/DN14") DN14
  li
    a(href="/browse/England/HU10") HU10
  li
    a(href="/browse/England/HU11") HU11
  li
    a(href="/browse/England/HU12") HU12
  li
    a(href="/browse/England/HU13") HU13
  li
    a(href="/browse/England/HU14") HU14
  li
    a(href="/browse/England/HU15") HU15
  li
    a(href="/browse/England/HU16") HU16
  li
    a(href="/browse/England/HU17") HU17
  li
    a(href="/browse/England/HU18") HU18
  li
    a(href="/browse/England/HU19") HU19
  li
    a(href="/browse/England/HU20") HU20
  li
    a(href="/browse/England/YO15") YO15
  li
    a(href="/browse/England/YO16") YO16
  li
    a(href="/browse/England/YO25") YO25
  li
    a(href="/browse/England/YO41") YO41
  li
    a(href="/browse/England/YO42") YO42
  li
    a(href="/browse/England/YO43") YO43
