ul.locations
  li
    a(href="/EC4R 0AA") EC4R 0AA
  li
    a(href="/EC4R 0AN") EC4R 0AN
  li
    a(href="/EC4R 0AT") EC4R 0AT
  li
    a(href="/EC4R 0AU") EC4R 0AU
  li
    a(href="/EC4R 0AW") EC4R 0AW
  li
    a(href="/EC4R 0AX") EC4R 0AX
  li
    a(href="/EC4R 0BB") EC4R 0BB
  li
    a(href="/EC4R 0BE") EC4R 0BE
  li
    a(href="/EC4R 0BL") EC4R 0BL
  li
    a(href="/EC4R 0DA") EC4R 0DA
  li
    a(href="/EC4R 0DJ") EC4R 0DJ
  li
    a(href="/EC4R 0DP") EC4R 0DP
  li
    a(href="/EC4R 0DR") EC4R 0DR
  li
    a(href="/EC4R 0EE") EC4R 0EE
  li
    a(href="/EC4R 0EH") EC4R 0EH
  li
    a(href="/EC4R 0EU") EC4R 0EU
  li
    a(href="/EC4R 0HH") EC4R 0HH
  li
    a(href="/EC4R 0WX") EC4R 0WX
  li
    a(href="/EC4R 0ZT") EC4R 0ZT
  li
    a(href="/EC4R 0ZU") EC4R 0ZU
  li
    a(href="/EC4R 0ZW") EC4R 0ZW
  li
    a(href="/EC4R 0ZX") EC4R 0ZX
  li
    a(href="/EC4R 0ZY") EC4R 0ZY
  li
    a(href="/EC4R 0ZZ") EC4R 0ZZ
  li
    a(href="/EC4R 1AE") EC4R 1AE
  li
    a(href="/EC4R 1AF") EC4R 1AF
  li
    a(href="/EC4R 1AH") EC4R 1AH
  li
    a(href="/EC4R 1AP") EC4R 1AP
  li
    a(href="/EC4R 1BB") EC4R 1BB
  li
    a(href="/EC4R 1BE") EC4R 1BE
  li
    a(href="/EC4R 1BN") EC4R 1BN
  li
    a(href="/EC4R 1BR") EC4R 1BR
  li
    a(href="/EC4R 1DD") EC4R 1DD
  li
    a(href="/EC4R 1EB") EC4R 1EB
  li
    a(href="/EC4R 1EE") EC4R 1EE
  li
    a(href="/EC4R 1HJ") EC4R 1HJ
  li
    a(href="/EC4R 1QS") EC4R 1QS
  li
    a(href="/EC4R 2BB") EC4R 2BB
  li
    a(href="/EC4R 2GA") EC4R 2GA
  li
    a(href="/EC4R 2RA") EC4R 2RA
  li
    a(href="/EC4R 2RB") EC4R 2RB
  li
    a(href="/EC4R 2RH") EC4R 2RH
  li
    a(href="/EC4R 2RL") EC4R 2RL
  li
    a(href="/EC4R 2RP") EC4R 2RP
  li
    a(href="/EC4R 2RU") EC4R 2RU
  li
    a(href="/EC4R 2SB") EC4R 2SB
  li
    a(href="/EC4R 2SH") EC4R 2SH
  li
    a(href="/EC4R 2SP") EC4R 2SP
  li
    a(href="/EC4R 2ST") EC4R 2ST
  li
    a(href="/EC4R 2SU") EC4R 2SU
  li
    a(href="/EC4R 2YA") EC4R 2YA
  li
    a(href="/EC4R 3AA") EC4R 3AA
  li
    a(href="/EC4R 3AB") EC4R 3AB
  li
    a(href="/EC4R 3AD") EC4R 3AD
  li
    a(href="/EC4R 3AE") EC4R 3AE
  li
    a(href="/EC4R 3AF") EC4R 3AF
  li
    a(href="/EC4R 3BF") EC4R 3BF
  li
    a(href="/EC4R 3TA") EC4R 3TA
  li
    a(href="/EC4R 3TB") EC4R 3TB
  li
    a(href="/EC4R 3TD") EC4R 3TD
  li
    a(href="/EC4R 3TE") EC4R 3TE
  li
    a(href="/EC4R 3TJ") EC4R 3TJ
  li
    a(href="/EC4R 3TN") EC4R 3TN
  li
    a(href="/EC4R 3UD") EC4R 3UD
  li
    a(href="/EC4R 3UE") EC4R 3UE
  li
    a(href="/EC4R 3UL") EC4R 3UL
  li
    a(href="/EC4R 3XJ") EC4R 3XJ
  li
    a(href="/EC4R 3XX") EC4R 3XX
  li
    a(href="/EC4R 9AA") EC4R 9AA
  li
    a(href="/EC4R 9AB") EC4R 9AB
  li
    a(href="/EC4R 9AD") EC4R 9AD
  li
    a(href="/EC4R 9AF") EC4R 9AF
  li
    a(href="/EC4R 9AJ") EC4R 9AJ
  li
    a(href="/EC4R 9AN") EC4R 9AN
  li
    a(href="/EC4R 9AQ") EC4R 9AQ
  li
    a(href="/EC4R 9AR") EC4R 9AR
  li
    a(href="/EC4R 9AS") EC4R 9AS
  li
    a(href="/EC4R 9AT") EC4R 9AT
  li
    a(href="/EC4R 9AY") EC4R 9AY
  li
    a(href="/EC4R 9BL") EC4R 9BL
  li
    a(href="/EC4R 9BR") EC4R 9BR
  li
    a(href="/EC4R 9EL") EC4R 9EL
  li
    a(href="/EC4R 9HA") EC4R 9HA
  li
    a(href="/EC4R 9LE") EC4R 9LE
