ul.locations
  li
    a(href="/browse/England/CB10") CB10
  li
    a(href="/browse/England/CB11") CB11
  li
    a(href="/browse/England/CM0") CM0
  li
    a(href="/browse/England/CM1") CM1
  li
    a(href="/browse/England/CM11") CM11
  li
    a(href="/browse/England/CM12") CM12
  li
    a(href="/browse/England/CM13") CM13
  li
    a(href="/browse/England/CM14") CM14
  li
    a(href="/browse/England/CM15") CM15
  li
    a(href="/browse/England/CM16") CM16
  li
    a(href="/browse/England/CM17") CM17
  li
    a(href="/browse/England/CM18") CM18
  li
    a(href="/browse/England/CM19") CM19
  li
    a(href="/browse/England/CM2") CM2
  li
    a(href="/browse/England/CM20") CM20
  li
    a(href="/browse/England/CM22") CM22
  li
    a(href="/browse/England/CM24") CM24
  li
    a(href="/browse/England/CM3") CM3
  li
    a(href="/browse/England/CM4") CM4
  li
    a(href="/browse/England/CM5") CM5
  li
    a(href="/browse/England/CM6") CM6
  li
    a(href="/browse/England/CM7") CM7
  li
    a(href="/browse/England/CM8") CM8
  li
    a(href="/browse/England/CM9") CM9
  li
    a(href="/browse/England/CO1") CO1
  li
    a(href="/browse/England/CO11") CO11
  li
    a(href="/browse/England/CO12") CO12
  li
    a(href="/browse/England/CO13") CO13
  li
    a(href="/browse/England/CO14") CO14
  li
    a(href="/browse/England/CO15") CO15
  li
    a(href="/browse/England/CO16") CO16
  li
    a(href="/browse/England/CO2") CO2
  li
    a(href="/browse/England/CO3") CO3
  li
    a(href="/browse/England/CO4") CO4
  li
    a(href="/browse/England/CO5") CO5
  li
    a(href="/browse/England/CO6") CO6
  li
    a(href="/browse/England/CO7") CO7
  li
    a(href="/browse/England/CO8") CO8
  li
    a(href="/browse/England/CO9") CO9
  li
    a(href="/browse/England/EN9") EN9
  li
    a(href="/browse/England/IG10") IG10
  li
    a(href="/browse/England/IG7") IG7
  li
    a(href="/browse/England/IG9") IG9
  li
    a(href="/browse/England/RM4") RM4
  li
    a(href="/browse/England/SS11") SS11
  li
    a(href="/browse/England/SS12") SS12
  li
    a(href="/browse/England/SS13") SS13
  li
    a(href="/browse/England/SS14") SS14
  li
    a(href="/browse/England/SS15") SS15
  li
    a(href="/browse/England/SS16") SS16
  li
    a(href="/browse/England/SS4") SS4
  li
    a(href="/browse/England/SS5") SS5
  li
    a(href="/browse/England/SS6") SS6
  li
    a(href="/browse/England/SS7") SS7
  li
    a(href="/browse/England/SS8") SS8
