ul.locations
  li
    a(href="/browse/England/CH4") CH4
  li
    a(href="/browse/England/CH5") CH5
  li
    a(href="/browse/England/CH6") CH6
  li
    a(href="/browse/England/CH7") CH7
  li
    a(href="/browse/England/CH8") CH8
