ul.locations
  li
    a(href="/browse/England/NE10") NE10
  li
    a(href="/browse/England/NE11") NE11
  li
    a(href="/browse/England/NE16") NE16
  li
    a(href="/browse/England/NE17") NE17
  li
    a(href="/browse/England/NE21") NE21
  li
    a(href="/browse/England/NE39") NE39
  li
    a(href="/browse/England/NE40") NE40
  li
    a(href="/browse/England/NE8") NE8
  li
    a(href="/browse/England/NE9") NE9
