ul.locations
  li
    a(href="/browse/England/GL1") GL1
  li
    a(href="/browse/England/GL10") GL10
  li
    a(href="/browse/England/GL11") GL11
  li
    a(href="/browse/England/GL12") GL12
  li
    a(href="/browse/England/GL13") GL13
  li
    a(href="/browse/England/GL14") GL14
  li
    a(href="/browse/England/GL15") GL15
  li
    a(href="/browse/England/GL16") GL16
  li
    a(href="/browse/England/GL17") GL17
  li
    a(href="/browse/England/GL18") GL18
  li
    a(href="/browse/England/GL19") GL19
  li
    a(href="/browse/England/GL2") GL2
  li
    a(href="/browse/England/GL20") GL20
  li
    a(href="/browse/England/GL3") GL3
  li
    a(href="/browse/England/GL4") GL4
  li
    a(href="/browse/England/GL5") GL5
  li
    a(href="/browse/England/GL50") GL50
  li
    a(href="/browse/England/GL51") GL51
  li
    a(href="/browse/England/GL52") GL52
  li
    a(href="/browse/England/GL53") GL53
  li
    a(href="/browse/England/GL54") GL54
  li
    a(href="/browse/England/GL55") GL55
  li
    a(href="/browse/England/GL56") GL56
  li
    a(href="/browse/England/GL6") GL6
  li
    a(href="/browse/England/GL7") GL7
  li
    a(href="/browse/England/GL8") GL8
