ul.locations
  li
    a(href="/browse/England/BR1") BR1
  li
    a(href="/browse/England/BR2") BR2
  li
    a(href="/browse/England/BR3") BR3
  li
    a(href="/browse/England/BR4") BR4
  li
    a(href="/browse/England/BR5") BR5
  li
    a(href="/browse/England/BR6") BR6
  li
    a(href="/browse/England/BR7") BR7
  li
    a(href="/browse/England/CR0") CR0
  li
    a(href="/browse/England/CR2") CR2
  li
    a(href="/browse/England/CR4") CR4
  li
    a(href="/browse/England/CR5") CR5
  li
    a(href="/browse/England/CR7") CR7
  li
    a(href="/browse/England/CR8") CR8
  li
    a(href="/browse/England/DA14") DA14
  li
    a(href="/browse/England/DA15") DA15
  li
    a(href="/browse/England/DA16") DA16
  li
    a(href="/browse/England/DA17") DA17
  li
    a(href="/browse/England/DA18") DA18
  li
    a(href="/browse/England/DA5") DA5
  li
    a(href="/browse/England/DA6") DA6
  li
    a(href="/browse/England/DA7") DA7
  li
    a(href="/browse/England/DA8") DA8
  li
    a(href="/browse/England/E1") E1
  li
    a(href="/browse/England/E10") E10
  li
    a(href="/browse/England/E11") E11
  li
    a(href="/browse/England/E12") E12
  li
    a(href="/browse/England/E13") E13
  li
    a(href="/browse/England/E14") E14
  li
    a(href="/browse/England/E15") E15
  li
    a(href="/browse/England/E16") E16
  li
    a(href="/browse/England/E17") E17
  li
    a(href="/browse/England/E18") E18
  li
    a(href="/browse/England/E1W") E1W
  li
    a(href="/browse/England/E2") E2
  li
    a(href="/browse/England/E3") E3
  li
    a(href="/browse/England/E4") E4
  li
    a(href="/browse/England/E5") E5
  li
    a(href="/browse/England/E6") E6
  li
    a(href="/browse/England/E7") E7
  li
    a(href="/browse/England/E8") E8
  li
    a(href="/browse/England/E9") E9
  li
    a(href="/browse/England/EC1A") EC1A
  li
    a(href="/browse/England/EC1M") EC1M
  li
    a(href="/browse/England/EC1N") EC1N
  li
    a(href="/browse/England/EC1R") EC1R
  li
    a(href="/browse/England/EC1V") EC1V
  li
    a(href="/browse/England/EC1Y") EC1Y
  li
    a(href="/browse/England/EC2A") EC2A
  li
    a(href="/browse/England/EC3P") EC3P
  li
    a(href="/browse/England/EN1") EN1
  li
    a(href="/browse/England/EN2") EN2
  li
    a(href="/browse/England/EN3") EN3
  li
    a(href="/browse/England/EN4") EN4
  li
    a(href="/browse/England/EN5") EN5
  li
    a(href="/browse/England/HA0") HA0
  li
    a(href="/browse/England/HA1") HA1
  li
    a(href="/browse/England/HA2") HA2
  li
    a(href="/browse/England/HA3") HA3
  li
    a(href="/browse/England/HA4") HA4
  li
    a(href="/browse/England/HA5") HA5
  li
    a(href="/browse/England/HA6") HA6
  li
    a(href="/browse/England/HA7") HA7
  li
    a(href="/browse/England/HA8") HA8
  li
    a(href="/browse/England/HA9") HA9
  li
    a(href="/browse/England/IG1") IG1
  li
    a(href="/browse/England/IG11") IG11
  li
    a(href="/browse/England/IG2") IG2
  li
    a(href="/browse/England/IG3") IG3
  li
    a(href="/browse/England/IG4") IG4
  li
    a(href="/browse/England/IG5") IG5
  li
    a(href="/browse/England/IG6") IG6
  li
    a(href="/browse/England/IG8") IG8
  li
    a(href="/browse/England/KT1") KT1
  li
    a(href="/browse/England/KT2") KT2
  li
    a(href="/browse/England/KT3") KT3
  li
    a(href="/browse/England/KT4") KT4
  li
    a(href="/browse/England/KT5") KT5
  li
    a(href="/browse/England/KT6") KT6
  li
    a(href="/browse/England/KT9") KT9
  li
    a(href="/browse/England/N1") N1
  li
    a(href="/browse/England/N10") N10
  li
    a(href="/browse/England/N11") N11
  li
    a(href="/browse/England/N12") N12
  li
    a(href="/browse/England/N13") N13
  li
    a(href="/browse/England/N14") N14
  li
    a(href="/browse/England/N15") N15
  li
    a(href="/browse/England/N16") N16
  li
    a(href="/browse/England/N17") N17
  li
    a(href="/browse/England/N18") N18
  li
    a(href="/browse/England/N19") N19
  li
    a(href="/browse/England/N2") N2
  li
    a(href="/browse/England/N20") N20
  li
    a(href="/browse/England/N21") N21
  li
    a(href="/browse/England/N22") N22
  li
    a(href="/browse/England/N3") N3
  li
    a(href="/browse/England/N4") N4
  li
    a(href="/browse/England/N5") N5
  li
    a(href="/browse/England/N6") N6
  li
    a(href="/browse/England/N7") N7
  li
    a(href="/browse/England/N8") N8
  li
    a(href="/browse/England/N9") N9
  li
    a(href="/browse/England/NW1") NW1
  li
    a(href="/browse/England/NW10") NW10
  li
    a(href="/browse/England/NW11") NW11
  li
    a(href="/browse/England/NW2") NW2
  li
    a(href="/browse/England/NW3") NW3
  li
    a(href="/browse/England/NW4") NW4
  li
    a(href="/browse/England/NW5") NW5
  li
    a(href="/browse/England/NW6") NW6
  li
    a(href="/browse/England/NW7") NW7
  li
    a(href="/browse/England/NW8") NW8
  li
    a(href="/browse/England/NW9") NW9
  li
    a(href="/browse/England/RM1") RM1
  li
    a(href="/browse/England/RM10") RM10
  li
    a(href="/browse/England/RM11") RM11
  li
    a(href="/browse/England/RM12") RM12
  li
    a(href="/browse/England/RM13") RM13
  li
    a(href="/browse/England/RM14") RM14
  li
    a(href="/browse/England/RM2") RM2
  li
    a(href="/browse/England/RM3") RM3
  li
    a(href="/browse/England/RM5") RM5
  li
    a(href="/browse/England/RM6") RM6
  li
    a(href="/browse/England/RM7") RM7
  li
    a(href="/browse/England/RM8") RM8
  li
    a(href="/browse/England/RM9") RM9
  li
    a(href="/browse/England/SE1") SE1
  li
    a(href="/browse/England/SE10") SE10
  li
    a(href="/browse/England/SE11") SE11
  li
    a(href="/browse/England/SE12") SE12
  li
    a(href="/browse/England/SE13") SE13
  li
    a(href="/browse/England/SE14") SE14
  li
    a(href="/browse/England/SE15") SE15
  li
    a(href="/browse/England/SE16") SE16
  li
    a(href="/browse/England/SE17") SE17
  li
    a(href="/browse/England/SE18") SE18
  li
    a(href="/browse/England/SE19") SE19
  li
    a(href="/browse/England/SE2") SE2
  li
    a(href="/browse/England/SE20") SE20
  li
    a(href="/browse/England/SE21") SE21
  li
    a(href="/browse/England/SE22") SE22
  li
    a(href="/browse/England/SE23") SE23
  li
    a(href="/browse/England/SE24") SE24
  li
    a(href="/browse/England/SE25") SE25
  li
    a(href="/browse/England/SE26") SE26
  li
    a(href="/browse/England/SE27") SE27
  li
    a(href="/browse/England/SE28") SE28
  li
    a(href="/browse/England/SE3") SE3
  li
    a(href="/browse/England/SE4") SE4
  li
    a(href="/browse/England/SE5") SE5
  li
    a(href="/browse/England/SE6") SE6
  li
    a(href="/browse/England/SE7") SE7
  li
    a(href="/browse/England/SE8") SE8
  li
    a(href="/browse/England/SE9") SE9
  li
    a(href="/browse/England/SM1") SM1
  li
    a(href="/browse/England/SM2") SM2
  li
    a(href="/browse/England/SM3") SM3
  li
    a(href="/browse/England/SM4") SM4
  li
    a(href="/browse/England/SM5") SM5
  li
    a(href="/browse/England/SM6") SM6
  li
    a(href="/browse/England/SW10") SW10
  li
    a(href="/browse/England/SW11") SW11
  li
    a(href="/browse/England/SW12") SW12
  li
    a(href="/browse/England/SW13") SW13
  li
    a(href="/browse/England/SW14") SW14
  li
    a(href="/browse/England/SW15") SW15
  li
    a(href="/browse/England/SW16") SW16
  li
    a(href="/browse/England/SW17") SW17
  li
    a(href="/browse/England/SW18") SW18
  li
    a(href="/browse/England/SW19") SW19
  li
    a(href="/browse/England/SW2") SW2
  li
    a(href="/browse/England/SW20") SW20
  li
    a(href="/browse/England/SW3") SW3
  li
    a(href="/browse/England/SW4") SW4
  li
    a(href="/browse/England/SW5") SW5
  li
    a(href="/browse/England/SW6") SW6
  li
    a(href="/browse/England/SW7") SW7
  li
    a(href="/browse/England/SW8") SW8
  li
    a(href="/browse/England/SW9") SW9
  li
    a(href="/browse/England/TN16") TN16
  li
    a(href="/browse/England/TW1") TW1
  li
    a(href="/browse/England/TW10") TW10
  li
    a(href="/browse/England/TW11") TW11
  li
    a(href="/browse/England/TW12") TW12
  li
    a(href="/browse/England/TW13") TW13
  li
    a(href="/browse/England/TW14") TW14
  li
    a(href="/browse/England/TW2") TW2
  li
    a(href="/browse/England/TW3") TW3
  li
    a(href="/browse/England/TW4") TW4
  li
    a(href="/browse/England/TW5") TW5
  li
    a(href="/browse/England/TW6") TW6
  li
    a(href="/browse/England/TW7") TW7
  li
    a(href="/browse/England/TW8") TW8
  li
    a(href="/browse/England/TW9") TW9
  li
    a(href="/browse/England/UB1") UB1
  li
    a(href="/browse/England/UB10") UB10
  li
    a(href="/browse/England/UB11") UB11
  li
    a(href="/browse/England/UB2") UB2
  li
    a(href="/browse/England/UB3") UB3
  li
    a(href="/browse/England/UB4") UB4
  li
    a(href="/browse/England/UB5") UB5
  li
    a(href="/browse/England/UB6") UB6
  li
    a(href="/browse/England/UB7") UB7
  li
    a(href="/browse/England/UB8") UB8
  li
    a(href="/browse/England/W10") W10
  li
    a(href="/browse/England/W11") W11
  li
    a(href="/browse/England/W12") W12
  li
    a(href="/browse/England/W13") W13
  li
    a(href="/browse/England/W14") W14
  li
    a(href="/browse/England/W1G") W1G
  li
    a(href="/browse/England/W1H") W1H
  li
    a(href="/browse/England/W1T") W1T
  li
    a(href="/browse/England/W1U") W1U
  li
    a(href="/browse/England/W1W") W1W
  li
    a(href="/browse/England/W2") W2
  li
    a(href="/browse/England/W3") W3
  li
    a(href="/browse/England/W4") W4
  li
    a(href="/browse/England/W5") W5
  li
    a(href="/browse/England/W6") W6
  li
    a(href="/browse/England/W7") W7
  li
    a(href="/browse/England/W8") W8
  li
    a(href="/browse/England/W9") W9
  li
    a(href="/browse/England/WC1A") WC1A
  li
    a(href="/browse/England/WC1B") WC1B
  li
    a(href="/browse/England/WC1E") WC1E
  li
    a(href="/browse/England/WC1H") WC1H
  li
    a(href="/browse/England/WC1N") WC1N
  li
    a(href="/browse/England/WC1R") WC1R
  li
    a(href="/browse/England/WC1V") WC1V
  li
    a(href="/browse/England/WC1X") WC1X
  li
    a(href="/browse/England/WC2A") WC2A
  li
    a(href="/browse/England/WC2H") WC2H
