ul.locations
  li
    a(href="/browse/England/BH24") BH24
  li
    a(href="/browse/England/BH25") BH25
  li
    a(href="/browse/England/GU11") GU11
  li
    a(href="/browse/England/GU14") GU14
  li
    a(href="/browse/England/GU17") GU17
  li
    a(href="/browse/England/GU30") GU30
  li
    a(href="/browse/England/GU31") GU31
  li
    a(href="/browse/England/GU32") GU32
  li
    a(href="/browse/England/GU33") GU33
  li
    a(href="/browse/England/GU34") GU34
  li
    a(href="/browse/England/GU35") GU35
  li
    a(href="/browse/England/GU46") GU46
  li
    a(href="/browse/England/GU51") GU51
  li
    a(href="/browse/England/GU52") GU52
  li
    a(href="/browse/England/PO11") PO11
  li
    a(href="/browse/England/PO12") PO12
  li
    a(href="/browse/England/PO13") PO13
  li
    a(href="/browse/England/PO14") PO14
  li
    a(href="/browse/England/PO15") PO15
  li
    a(href="/browse/England/PO16") PO16
  li
    a(href="/browse/England/PO17") PO17
  li
    a(href="/browse/England/PO7") PO7
  li
    a(href="/browse/England/PO8") PO8
  li
    a(href="/browse/England/PO9") PO9
  li
    a(href="/browse/England/RG21") RG21
  li
    a(href="/browse/England/RG22") RG22
  li
    a(href="/browse/England/RG23") RG23
  li
    a(href="/browse/England/RG24") RG24
  li
    a(href="/browse/England/RG25") RG25
  li
    a(href="/browse/England/RG26") RG26
  li
    a(href="/browse/England/RG27") RG27
  li
    a(href="/browse/England/RG28") RG28
  li
    a(href="/browse/England/RG29") RG29
  li
    a(href="/browse/England/SO20") SO20
  li
    a(href="/browse/England/SO21") SO21
  li
    a(href="/browse/England/SO22") SO22
  li
    a(href="/browse/England/SO23") SO23
  li
    a(href="/browse/England/SO24") SO24
  li
    a(href="/browse/England/SO30") SO30
  li
    a(href="/browse/England/SO31") SO31
  li
    a(href="/browse/England/SO32") SO32
  li
    a(href="/browse/England/SO40") SO40
  li
    a(href="/browse/England/SO41") SO41
  li
    a(href="/browse/England/SO42") SO42
  li
    a(href="/browse/England/SO43") SO43
  li
    a(href="/browse/England/SO45") SO45
  li
    a(href="/browse/England/SO50") SO50
  li
    a(href="/browse/England/SO51") SO51
  li
    a(href="/browse/England/SO52") SO52
  li
    a(href="/browse/England/SO53") SO53
  li
    a(href="/browse/England/SP10") SP10
  li
    a(href="/browse/England/SP11") SP11
  li
    a(href="/browse/England/SP6") SP6
  li
    a(href="/browse/England/SP9") SP9
