ul.locations
  li
    a(href="/browse/England/AL1") AL1
  li
    a(href="/browse/England/AL10") AL10
  li
    a(href="/browse/England/AL2") AL2
  li
    a(href="/browse/England/AL3") AL3
  li
    a(href="/browse/England/AL4") AL4
  li
    a(href="/browse/England/AL5") AL5
  li
    a(href="/browse/England/AL6") AL6
  li
    a(href="/browse/England/AL7") AL7
  li
    a(href="/browse/England/AL8") AL8
  li
    a(href="/browse/England/AL9") AL9
  li
    a(href="/browse/England/CM21") CM21
  li
    a(href="/browse/England/CM23") CM23
  li
    a(href="/browse/England/EN10") EN10
  li
    a(href="/browse/England/EN11") EN11
  li
    a(href="/browse/England/EN6") EN6
  li
    a(href="/browse/England/EN7") EN7
  li
    a(href="/browse/England/EN8") EN8
  li
    a(href="/browse/England/HP1") HP1
  li
    a(href="/browse/England/HP2") HP2
  li
    a(href="/browse/England/HP23") HP23
  li
    a(href="/browse/England/HP3") HP3
  li
    a(href="/browse/England/HP4") HP4
  li
    a(href="/browse/England/SG1") SG1
  li
    a(href="/browse/England/SG10") SG10
  li
    a(href="/browse/England/SG11") SG11
  li
    a(href="/browse/England/SG12") SG12
  li
    a(href="/browse/England/SG2") SG2
  li
    a(href="/browse/England/SG3") SG3
  li
    a(href="/browse/England/SG4") SG4
  li
    a(href="/browse/England/SG5") SG5
  li
    a(href="/browse/England/SG6") SG6
  li
    a(href="/browse/England/SG7") SG7
  li
    a(href="/browse/England/SG9") SG9
  li
    a(href="/browse/England/WD17") WD17
  li
    a(href="/browse/England/WD18") WD18
  li
    a(href="/browse/England/WD19") WD19
  li
    a(href="/browse/England/WD23") WD23
  li
    a(href="/browse/England/WD24") WD24
  li
    a(href="/browse/England/WD25") WD25
  li
    a(href="/browse/England/WD3") WD3
  li
    a(href="/browse/England/WD4") WD4
  li
    a(href="/browse/England/WD5") WD5
  li
    a(href="/browse/England/WD6") WD6
  li
    a(href="/browse/England/WD7") WD7
