ul.locations
  li
    a(href="/HU20 3UA") HU20 3UA
  li
    a(href="/HU20 3UJ") HU20 3UJ
  li
    a(href="/HU20 3UL") HU20 3UL
  li
    a(href="/HU20 3UN") HU20 3UN
  li
    a(href="/HU20 3UP") HU20 3UP
  li
    a(href="/HU20 3UQ") HU20 3UQ
  li
    a(href="/HU20 3UR") HU20 3UR
  li
    a(href="/HU20 3US") HU20 3US
  li
    a(href="/HU20 3UT") HU20 3UT
  li
    a(href="/HU20 3UU") HU20 3UU
  li
    a(href="/HU20 3UW") HU20 3UW
  li
    a(href="/HU20 3UX") HU20 3UX
  li
    a(href="/HU20 3UY") HU20 3UY
  li
    a(href="/HU20 3UZ") HU20 3UZ
  li
    a(href="/HU20 3WW") HU20 3WW
  li
    a(href="/HU20 3WZ") HU20 3WZ
  li
    a(href="/HU20 3XA") HU20 3XA
  li
    a(href="/HU20 3XB") HU20 3XB
  li
    a(href="/HU20 3XD") HU20 3XD
  li
    a(href="/HU20 3XE") HU20 3XE
  li
    a(href="/HU20 3XF") HU20 3XF
  li
    a(href="/HU20 3XG") HU20 3XG
  li
    a(href="/HU20 3XH") HU20 3XH
  li
    a(href="/HU20 3XJ") HU20 3XJ
  li
    a(href="/HU20 3XL") HU20 3XL
  li
    a(href="/HU20 3XN") HU20 3XN
  li
    a(href="/HU20 3XP") HU20 3XP
  li
    a(href="/HU20 3XQ") HU20 3XQ
  li
    a(href="/HU20 3XR") HU20 3XR
  li
    a(href="/HU20 3XS") HU20 3XS
  li
    a(href="/HU20 3XT") HU20 3XT
  li
    a(href="/HU20 3XU") HU20 3XU
  li
    a(href="/HU20 3XW") HU20 3XW
  li
    a(href="/HU20 3XX") HU20 3XX
