ul.locations
  li
    a(href="/browse/England/TR21") TR21
  li
    a(href="/browse/England/TR22") TR22
  li
    a(href="/browse/England/TR23") TR23
  li
    a(href="/browse/England/TR24") TR24
  li
    a(href="/browse/England/TR25") TR25
