ul.locations
  li
    a(href="/browse/England/PO30") PO30
  li
    a(href="/browse/England/PO31") PO31
  li
    a(href="/browse/England/PO32") PO32
  li
    a(href="/browse/England/PO33") PO33
  li
    a(href="/browse/England/PO34") PO34
  li
    a(href="/browse/England/PO35") PO35
  li
    a(href="/browse/England/PO36") PO36
  li
    a(href="/browse/England/PO37") PO37
  li
    a(href="/browse/England/PO38") PO38
  li
    a(href="/browse/England/PO39") PO39
  li
    a(href="/browse/England/PO40") PO40
  li
    a(href="/browse/England/PO41") PO41
