ul.locations
  li
    a(href="/browse/England/BR8") BR8
  li
    a(href="/browse/England/CT1") CT1
  li
    a(href="/browse/England/CT10") CT10
  li
    a(href="/browse/England/CT11") CT11
  li
    a(href="/browse/England/CT12") CT12
  li
    a(href="/browse/England/CT13") CT13
  li
    a(href="/browse/England/CT14") CT14
  li
    a(href="/browse/England/CT15") CT15
  li
    a(href="/browse/England/CT16") CT16
  li
    a(href="/browse/England/CT17") CT17
  li
    a(href="/browse/England/CT18") CT18
  li
    a(href="/browse/England/CT19") CT19
  li
    a(href="/browse/England/CT2") CT2
  li
    a(href="/browse/England/CT20") CT20
  li
    a(href="/browse/England/CT21") CT21
  li
    a(href="/browse/England/CT3") CT3
  li
    a(href="/browse/England/CT4") CT4
  li
    a(href="/browse/England/CT5") CT5
  li
    a(href="/browse/England/CT6") CT6
  li
    a(href="/browse/England/CT7") CT7
  li
    a(href="/browse/England/CT8") CT8
  li
    a(href="/browse/England/CT9") CT9
  li
    a(href="/browse/England/DA1") DA1
  li
    a(href="/browse/England/DA10") DA10
  li
    a(href="/browse/England/DA11") DA11
  li
    a(href="/browse/England/DA12") DA12
  li
    a(href="/browse/England/DA13") DA13
  li
    a(href="/browse/England/DA2") DA2
  li
    a(href="/browse/England/DA3") DA3
  li
    a(href="/browse/England/DA4") DA4
  li
    a(href="/browse/England/DA9") DA9
  li
    a(href="/browse/England/ME10") ME10
  li
    a(href="/browse/England/ME11") ME11
  li
    a(href="/browse/England/ME12") ME12
  li
    a(href="/browse/England/ME13") ME13
  li
    a(href="/browse/England/ME14") ME14
  li
    a(href="/browse/England/ME15") ME15
  li
    a(href="/browse/England/ME16") ME16
  li
    a(href="/browse/England/ME17") ME17
  li
    a(href="/browse/England/ME18") ME18
  li
    a(href="/browse/England/ME19") ME19
  li
    a(href="/browse/England/ME20") ME20
  li
    a(href="/browse/England/ME6") ME6
  li
    a(href="/browse/England/ME9") ME9
  li
    a(href="/browse/England/TN1") TN1
  li
    a(href="/browse/England/TN10") TN10
  li
    a(href="/browse/England/TN11") TN11
  li
    a(href="/browse/England/TN12") TN12
  li
    a(href="/browse/England/TN13") TN13
  li
    a(href="/browse/England/TN14") TN14
  li
    a(href="/browse/England/TN15") TN15
  li
    a(href="/browse/England/TN17") TN17
  li
    a(href="/browse/England/TN18") TN18
  li
    a(href="/browse/England/TN2") TN2
  li
    a(href="/browse/England/TN23") TN23
  li
    a(href="/browse/England/TN24") TN24
  li
    a(href="/browse/England/TN25") TN25
  li
    a(href="/browse/England/TN26") TN26
  li
    a(href="/browse/England/TN27") TN27
  li
    a(href="/browse/England/TN28") TN28
  li
    a(href="/browse/England/TN29") TN29
  li
    a(href="/browse/England/TN3") TN3
  li
    a(href="/browse/England/TN30") TN30
  li
    a(href="/browse/England/TN4") TN4
  li
    a(href="/browse/England/TN8") TN8
  li
    a(href="/browse/England/TN9") TN9
