ul.locations
  li
    a(href="/browse/England/BD11") BD11
  li
    a(href="/browse/England/BD19") BD19
  li
    a(href="/browse/England/HD1") HD1
  li
    a(href="/browse/England/HD2") HD2
  li
    a(href="/browse/England/HD3") HD3
  li
    a(href="/browse/England/HD4") HD4
  li
    a(href="/browse/England/HD5") HD5
  li
    a(href="/browse/England/HD7") HD7
  li
    a(href="/browse/England/HD8") HD8
  li
    a(href="/browse/England/HD9") HD9
  li
    a(href="/browse/England/WF12") WF12
  li
    a(href="/browse/England/WF13") WF13
  li
    a(href="/browse/England/WF14") WF14
  li
    a(href="/browse/England/WF15") WF15
  li
    a(href="/browse/England/WF16") WF16
  li
    a(href="/browse/England/WF17") WF17
