ul.locations
  li
    a(href="/browse/England/L26") L26
  li
    a(href="/browse/England/L28") L28
  li
    a(href="/browse/England/L32") L32
  li
    a(href="/browse/England/L33") L33
  li
    a(href="/browse/England/L34") L34
  li
    a(href="/browse/England/L36") L36
