ul.locations
  li
    a(href="/L16 0JA") L16 0JA
  li
    a(href="/L16 0JD") L16 0JD
  li
    a(href="/L16 0JE") L16 0JE
  li
    a(href="/L16 0JF") L16 0JF
  li
    a(href="/L16 0JG") L16 0JG
  li
    a(href="/L16 0JH") L16 0JH
  li
    a(href="/L16 0JJ") L16 0JJ
  li
    a(href="/L16 0JL") L16 0JL
  li
    a(href="/L16 0JN") L16 0JN
  li
    a(href="/L16 0JP") L16 0JP
  li
    a(href="/L16 0JQ") L16 0JQ
  li
    a(href="/L16 0JR") L16 0JR
  li
    a(href="/L16 0JS") L16 0JS
  li
    a(href="/L16 0JT") L16 0JT
  li
    a(href="/L16 0JW") L16 0JW
  li
    a(href="/L16 1HZ") L16 1HZ
  li
    a(href="/L16 1JA") L16 1JA
  li
    a(href="/L16 1JB") L16 1JB
  li
    a(href="/L16 1JD") L16 1JD
  li
    a(href="/L16 1JE") L16 1JE
  li
    a(href="/L16 1JF") L16 1JF
  li
    a(href="/L16 1JG") L16 1JG
  li
    a(href="/L16 1JH") L16 1JH
  li
    a(href="/L16 1JJ") L16 1JJ
  li
    a(href="/L16 1JL") L16 1JL
  li
    a(href="/L16 1JN") L16 1JN
  li
    a(href="/L16 1JP") L16 1JP
  li
    a(href="/L16 1JQ") L16 1JQ
  li
    a(href="/L16 1JR") L16 1JR
  li
    a(href="/L16 1JS") L16 1JS
  li
    a(href="/L16 1JT") L16 1JT
  li
    a(href="/L16 1JU") L16 1JU
  li
    a(href="/L16 1JW") L16 1JW
  li
    a(href="/L16 1JX") L16 1JX
  li
    a(href="/L16 1JY") L16 1JY
  li
    a(href="/L16 1JZ") L16 1JZ
  li
    a(href="/L16 1LA") L16 1LA
  li
    a(href="/L16 1LD") L16 1LD
  li
    a(href="/L16 2LA") L16 2LA
  li
    a(href="/L16 2LB") L16 2LB
  li
    a(href="/L16 2LD") L16 2LD
  li
    a(href="/L16 2LE") L16 2LE
  li
    a(href="/L16 2LF") L16 2LF
  li
    a(href="/L16 2LG") L16 2LG
  li
    a(href="/L16 2LH") L16 2LH
  li
    a(href="/L16 2LJ") L16 2LJ
  li
    a(href="/L16 2LL") L16 2LL
  li
    a(href="/L16 2LN") L16 2LN
  li
    a(href="/L16 2LP") L16 2LP
  li
    a(href="/L16 2LQ") L16 2LQ
  li
    a(href="/L16 2LR") L16 2LR
  li
    a(href="/L16 2LS") L16 2LS
  li
    a(href="/L16 2LT") L16 2LT
  li
    a(href="/L16 2LU") L16 2LU
  li
    a(href="/L16 2LX") L16 2LX
  li
    a(href="/L16 2LY") L16 2LY
  li
    a(href="/L16 2LZ") L16 2LZ
  li
    a(href="/L16 2NA") L16 2NA
  li
    a(href="/L16 2NB") L16 2NB
  li
    a(href="/L16 2ND") L16 2ND
  li
    a(href="/L16 2NE") L16 2NE
  li
    a(href="/L16 2NF") L16 2NF
  li
    a(href="/L16 2NG") L16 2NG
  li
    a(href="/L16 2NH") L16 2NH
  li
    a(href="/L16 2NJ") L16 2NJ
  li
    a(href="/L16 2NL") L16 2NL
  li
    a(href="/L16 2NN") L16 2NN
  li
    a(href="/L16 2NP") L16 2NP
  li
    a(href="/L16 2NQ") L16 2NQ
  li
    a(href="/L16 2NR") L16 2NR
  li
    a(href="/L16 2WA") L16 2WA
  li
    a(href="/L16 2WY") L16 2WY
  li
    a(href="/L16 3GA") L16 3GA
  li
    a(href="/L16 3GB") L16 3GB
  li
    a(href="/L16 3GD") L16 3GD
  li
    a(href="/L16 3GE") L16 3GE
  li
    a(href="/L16 3GF") L16 3GF
  li
    a(href="/L16 3GG") L16 3GG
  li
    a(href="/L16 3GH") L16 3GH
  li
    a(href="/L16 3GJ") L16 3GJ
  li
    a(href="/L16 3GL") L16 3GL
  li
    a(href="/L16 3GN") L16 3GN
  li
    a(href="/L16 3GP") L16 3GP
  li
    a(href="/L16 3GQ") L16 3GQ
  li
    a(href="/L16 3GR") L16 3GR
  li
    a(href="/L16 3GS") L16 3GS
  li
    a(href="/L16 3GT") L16 3GT
  li
    a(href="/L16 3GU") L16 3GU
  li
    a(href="/L16 3GW") L16 3GW
  li
    a(href="/L16 3NA") L16 3NA
  li
    a(href="/L16 3NB") L16 3NB
  li
    a(href="/L16 3ND") L16 3ND
  li
    a(href="/L16 3NE") L16 3NE
  li
    a(href="/L16 3NF") L16 3NF
  li
    a(href="/L16 3NG") L16 3NG
  li
    a(href="/L16 3NH") L16 3NH
  li
    a(href="/L16 3NJ") L16 3NJ
  li
    a(href="/L16 3NL") L16 3NL
  li
    a(href="/L16 3NN") L16 3NN
  li
    a(href="/L16 3NP") L16 3NP
  li
    a(href="/L16 3NQ") L16 3NQ
  li
    a(href="/L16 3NR") L16 3NR
  li
    a(href="/L16 3NS") L16 3NS
  li
    a(href="/L16 3NT") L16 3NT
  li
    a(href="/L16 3NU") L16 3NU
  li
    a(href="/L16 3NW") L16 3NW
  li
    a(href="/L16 3NX") L16 3NX
  li
    a(href="/L16 3NY") L16 3NY
  li
    a(href="/L16 3YX") L16 3YX
  li
    a(href="/L16 4PA") L16 4PA
  li
    a(href="/L16 4PB") L16 4PB
  li
    a(href="/L16 4PD") L16 4PD
  li
    a(href="/L16 4PE") L16 4PE
  li
    a(href="/L16 4PF") L16 4PF
  li
    a(href="/L16 4PG") L16 4PG
  li
    a(href="/L16 4PH") L16 4PH
  li
    a(href="/L16 4PJ") L16 4PJ
  li
    a(href="/L16 4PL") L16 4PL
  li
    a(href="/L16 4PN") L16 4PN
  li
    a(href="/L16 4PP") L16 4PP
  li
    a(href="/L16 4PQ") L16 4PQ
  li
    a(href="/L16 4PR") L16 4PR
  li
    a(href="/L16 4PW") L16 4PW
  li
    a(href="/L16 5EA") L16 5EA
  li
    a(href="/L16 5EB") L16 5EB
  li
    a(href="/L16 5ED") L16 5ED
  li
    a(href="/L16 5EE") L16 5EE
  li
    a(href="/L16 5EF") L16 5EF
  li
    a(href="/L16 5EG") L16 5EG
  li
    a(href="/L16 5EH") L16 5EH
  li
    a(href="/L16 5EJ") L16 5EJ
  li
    a(href="/L16 5EL") L16 5EL
  li
    a(href="/L16 5EN") L16 5EN
  li
    a(href="/L16 5EP") L16 5EP
  li
    a(href="/L16 5EQ") L16 5EQ
  li
    a(href="/L16 5ER") L16 5ER
  li
    a(href="/L16 5ES") L16 5ES
  li
    a(href="/L16 5ET") L16 5ET
  li
    a(href="/L16 5EU") L16 5EU
  li
    a(href="/L16 5EW") L16 5EW
  li
    a(href="/L16 5EX") L16 5EX
  li
    a(href="/L16 5EY") L16 5EY
  li
    a(href="/L16 5EZ") L16 5EZ
  li
    a(href="/L16 5HA") L16 5HA
  li
    a(href="/L16 5HE") L16 5HE
  li
    a(href="/L16 5HF") L16 5HF
  li
    a(href="/L16 5HG") L16 5HG
  li
    a(href="/L16 5HH") L16 5HH
  li
    a(href="/L16 6AD") L16 6AD
  li
    a(href="/L16 6AE") L16 6AE
  li
    a(href="/L16 6AF") L16 6AF
  li
    a(href="/L16 6AG") L16 6AG
  li
    a(href="/L16 6AH") L16 6AH
  li
    a(href="/L16 6AJ") L16 6AJ
  li
    a(href="/L16 6AL") L16 6AL
  li
    a(href="/L16 6AN") L16 6AN
  li
    a(href="/L16 6AP") L16 6AP
  li
    a(href="/L16 6AQ") L16 6AQ
  li
    a(href="/L16 6AR") L16 6AR
  li
    a(href="/L16 6AS") L16 6AS
  li
    a(href="/L16 6AT") L16 6AT
  li
    a(href="/L16 6AU") L16 6AU
  li
    a(href="/L16 6AW") L16 6AW
  li
    a(href="/L16 6AX") L16 6AX
  li
    a(href="/L16 6AY") L16 6AY
  li
    a(href="/L16 6AZ") L16 6AZ
  li
    a(href="/L16 7NY") L16 7NY
  li
    a(href="/L16 7PA") L16 7PA
  li
    a(href="/L16 7PB") L16 7PB
  li
    a(href="/L16 7PD") L16 7PD
  li
    a(href="/L16 7PE") L16 7PE
  li
    a(href="/L16 7PF") L16 7PF
  li
    a(href="/L16 7PG") L16 7PG
  li
    a(href="/L16 7PH") L16 7PH
  li
    a(href="/L16 7PJ") L16 7PJ
  li
    a(href="/L16 7PL") L16 7PL
  li
    a(href="/L16 7PN") L16 7PN
  li
    a(href="/L16 7PP") L16 7PP
  li
    a(href="/L16 7PQ") L16 7PQ
  li
    a(href="/L16 7PR") L16 7PR
  li
    a(href="/L16 7PS") L16 7PS
  li
    a(href="/L16 7PT") L16 7PT
  li
    a(href="/L16 7PU") L16 7PU
  li
    a(href="/L16 7PW") L16 7PW
  li
    a(href="/L16 7PX") L16 7PX
  li
    a(href="/L16 7PY") L16 7PY
  li
    a(href="/L16 7PZ") L16 7PZ
  li
    a(href="/L16 7QA") L16 7QA
  li
    a(href="/L16 7QB") L16 7QB
  li
    a(href="/L16 7QD") L16 7QD
  li
    a(href="/L16 7QE") L16 7QE
  li
    a(href="/L16 7QF") L16 7QF
  li
    a(href="/L16 7QG") L16 7QG
  li
    a(href="/L16 7QH") L16 7QH
  li
    a(href="/L16 7QJ") L16 7QJ
  li
    a(href="/L16 7QL") L16 7QL
  li
    a(href="/L16 7QN") L16 7QN
  li
    a(href="/L16 7QP") L16 7QP
  li
    a(href="/L16 7QQ") L16 7QQ
  li
    a(href="/L16 7QR") L16 7QR
  li
    a(href="/L16 7QS") L16 7QS
  li
    a(href="/L16 7QT") L16 7QT
  li
    a(href="/L16 7QW") L16 7QW
  li
    a(href="/L16 7WA") L16 7WA
  li
    a(href="/L16 7YX") L16 7YX
  li
    a(href="/L16 8GA") L16 8GA
  li
    a(href="/L16 8NA") L16 8NA
  li
    a(href="/L16 8NB") L16 8NB
  li
    a(href="/L16 8ND") L16 8ND
  li
    a(href="/L16 8NE") L16 8NE
  li
    a(href="/L16 8NF") L16 8NF
  li
    a(href="/L16 8NH") L16 8NH
  li
    a(href="/L16 8NJ") L16 8NJ
  li
    a(href="/L16 8NL") L16 8NL
  li
    a(href="/L16 8NN") L16 8NN
  li
    a(href="/L16 8NP") L16 8NP
  li
    a(href="/L16 8NQ") L16 8NQ
  li
    a(href="/L16 8NR") L16 8NR
  li
    a(href="/L16 8NS") L16 8NS
  li
    a(href="/L16 8NT") L16 8NT
  li
    a(href="/L16 8NU") L16 8NU
  li
    a(href="/L16 8NW") L16 8NW
  li
    a(href="/L16 8NX") L16 8NX
  li
    a(href="/L16 8NY") L16 8NY
  li
    a(href="/L16 8NZ") L16 8NZ
  li
    a(href="/L16 8PA") L16 8PA
  li
    a(href="/L16 8PB") L16 8PB
  li
    a(href="/L16 8PD") L16 8PD
  li
    a(href="/L16 8WY") L16 8WY
  li
    a(href="/L16 9JA") L16 9JA
  li
    a(href="/L16 9JB") L16 9JB
  li
    a(href="/L16 9JD") L16 9JD
  li
    a(href="/L16 9JE") L16 9JE
  li
    a(href="/L16 9JF") L16 9JF
  li
    a(href="/L16 9JG") L16 9JG
  li
    a(href="/L16 9JH") L16 9JH
  li
    a(href="/L16 9JJ") L16 9JJ
  li
    a(href="/L16 9JL") L16 9JL
  li
    a(href="/L16 9JN") L16 9JN
  li
    a(href="/L16 9JP") L16 9JP
  li
    a(href="/L16 9JQ") L16 9JQ
  li
    a(href="/L16 9JR") L16 9JR
  li
    a(href="/L16 9JS") L16 9JS
  li
    a(href="/L16 9JT") L16 9JT
  li
    a(href="/L16 9JU") L16 9JU
  li
    a(href="/L16 9JW") L16 9JW
  li
    a(href="/L16 9LA") L16 9LA
  li
    a(href="/L16 9LB") L16 9LB
  li
    a(href="/L16 9WU") L16 9WU
