ul.locations
  li
    a(href="/L2 0GA") L2 0GA
  li
    a(href="/L2 0NA") L2 0NA
  li
    a(href="/L2 0NB") L2 0NB
  li
    a(href="/L2 0NE") L2 0NE
  li
    a(href="/L2 0NH") L2 0NH
  li
    a(href="/L2 0NR") L2 0NR
  li
    a(href="/L2 0NZ") L2 0NZ
  li
    a(href="/L2 0PH") L2 0PH
  li
    a(href="/L2 0PJ") L2 0PJ
  li
    a(href="/L2 0PL") L2 0PL
  li
    a(href="/L2 0PP") L2 0PP
  li
    a(href="/L2 0PQ") L2 0PQ
  li
    a(href="/L2 0QD") L2 0QD
  li
    a(href="/L2 0QN") L2 0QN
  li
    a(href="/L2 0QT") L2 0QT
  li
    a(href="/L2 0RA") L2 0RA
  li
    a(href="/L2 0RD") L2 0RD
  li
    a(href="/L2 0RG") L2 0RG
  li
    a(href="/L2 0RL") L2 0RL
  li
    a(href="/L2 0RP") L2 0RP
  li
    a(href="/L2 0RR") L2 0RR
  li
    a(href="/L2 0SD") L2 0SD
  li
    a(href="/L2 0SE") L2 0SE
  li
    a(href="/L2 0SG") L2 0SG
  li
    a(href="/L2 0SU") L2 0SU
  li
    a(href="/L2 0UP") L2 0UP
  li
    a(href="/L2 0XF") L2 0XF
  li
    a(href="/L2 0XG") L2 0XG
  li
    a(href="/L2 0XH") L2 0XH
  li
    a(href="/L2 0XJ") L2 0XJ
  li
    a(href="/L2 0XN") L2 0XN
  li
    a(href="/L2 0XQ") L2 0XQ
  li
    a(href="/L2 0XR") L2 0XR
  li
    a(href="/L2 1AB") L2 1AB
  li
    a(href="/L2 1PA") L2 1PA
  li
    a(href="/L2 1TA") L2 1TA
  li
    a(href="/L2 1TD") L2 1TD
  li
    a(href="/L2 1TL") L2 1TL
  li
    a(href="/L2 1TS") L2 1TS
  li
    a(href="/L2 1XA") L2 1XA
  li
    a(href="/L2 2AE") L2 2AE
  li
    a(href="/L2 2AG") L2 2AG
  li
    a(href="/L2 2AH") L2 2AH
  li
    a(href="/L2 2AW") L2 2AW
  li
    a(href="/L2 2AY") L2 2AY
  li
    a(href="/L2 2BD") L2 2BD
  li
    a(href="/L2 2BL") L2 2BL
  li
    a(href="/L2 2BP") L2 2BP
  li
    a(href="/L2 2BS") L2 2BS
  li
    a(href="/L2 2BW") L2 2BW
  li
    a(href="/L2 2BX") L2 2BX
  li
    a(href="/L2 2DH") L2 2DH
  li
    a(href="/L2 2DP") L2 2DP
  li
    a(href="/L2 2DQ") L2 2DQ
  li
    a(href="/L2 2DT") L2 2DT
  li
    a(href="/L2 2DX") L2 2DX
  li
    a(href="/L2 2DY") L2 2DY
  li
    a(href="/L2 2EE") L2 2EE
  li
    a(href="/L2 2EN") L2 2EN
  li
    a(href="/L2 2ER") L2 2ER
  li
    a(href="/L2 2ET") L2 2ET
  li
    a(href="/L2 2EZ") L2 2EZ
  li
    a(href="/L2 2GA") L2 2GA
  li
    a(href="/L2 2HD") L2 2HD
  li
    a(href="/L2 2HF") L2 2HF
  li
    a(href="/L2 2HJ") L2 2HJ
  li
    a(href="/L2 2HT") L2 2HT
  li
    a(href="/L2 2JD") L2 2JD
  li
    a(href="/L2 2JH") L2 2JH
  li
    a(href="/L2 2JQ") L2 2JQ
  li
    a(href="/L2 2JU") L2 2JU
  li
    a(href="/L2 2JW") L2 2JW
  li
    a(href="/L2 2LZ") L2 2LZ
  li
    a(href="/L2 2NZ") L2 2NZ
  li
    a(href="/L2 2PP") L2 2PP
  li
    a(href="/L2 2QH") L2 2QH
  li
    a(href="/L2 2QP") L2 2QP
  li
    a(href="/L2 2QU") L2 2QU
  li
    a(href="/L2 2QW") L2 2QW
  li
    a(href="/L2 2QZ") L2 2QZ
  li
    a(href="/L2 2SB") L2 2SB
  li
    a(href="/L2 2SH") L2 2SH
  li
    a(href="/L2 2SN") L2 2SN
  li
    a(href="/L2 2SR") L2 2SR
  li
    a(href="/L2 2SW") L2 2SW
  li
    a(href="/L2 2SX") L2 2SX
  li
    a(href="/L2 2TA") L2 2TA
  li
    a(href="/L2 2TB") L2 2TB
  li
    a(href="/L2 2TD") L2 2TD
  li
    a(href="/L2 2TE") L2 2TE
  li
    a(href="/L2 2TF") L2 2TF
  li
    a(href="/L2 2TG") L2 2TG
  li
    a(href="/L2 2TH") L2 2TH
  li
    a(href="/L2 2TJ") L2 2TJ
  li
    a(href="/L2 2TL") L2 2TL
  li
    a(href="/L2 2TN") L2 2TN
  li
    a(href="/L2 2TP") L2 2TP
  li
    a(href="/L2 2TQ") L2 2TQ
  li
    a(href="/L2 2TR") L2 2TR
  li
    a(href="/L2 2TS") L2 2TS
  li
    a(href="/L2 2TT") L2 2TT
  li
    a(href="/L2 2TU") L2 2TU
  li
    a(href="/L2 2TW") L2 2TW
  li
    a(href="/L2 2TX") L2 2TX
  li
    a(href="/L2 2TY") L2 2TY
  li
    a(href="/L2 2TZ") L2 2TZ
  li
    a(href="/L2 2UA") L2 2UA
  li
    a(href="/L2 2UB") L2 2UB
  li
    a(href="/L2 2UD") L2 2UD
  li
    a(href="/L2 2UE") L2 2UE
  li
    a(href="/L2 2UF") L2 2UF
  li
    a(href="/L2 2UG") L2 2UG
  li
    a(href="/L2 2UH") L2 2UH
  li
    a(href="/L2 2UJ") L2 2UJ
  li
    a(href="/L2 2UL") L2 2UL
  li
    a(href="/L2 2UQ") L2 2UQ
  li
    a(href="/L2 2YA") L2 2YA
  li
    a(href="/L2 2ZR") L2 2ZR
  li
    a(href="/L2 2ZS") L2 2ZS
  li
    a(href="/L2 2ZT") L2 2ZT
  li
    a(href="/L2 2ZU") L2 2ZU
  li
    a(href="/L2 2ZW") L2 2ZW
  li
    a(href="/L2 2ZX") L2 2ZX
  li
    a(href="/L2 3AB") L2 3AB
  li
    a(href="/L2 3PF") L2 3PF
  li
    a(href="/L2 3PG") L2 3PG
  li
    a(href="/L2 3PH") L2 3PH
  li
    a(href="/L2 3PQ") L2 3PQ
  li
    a(href="/L2 3PS") L2 3PS
  li
    a(href="/L2 3QT") L2 3QT
  li
    a(href="/L2 3SP") L2 3SP
  li
    a(href="/L2 3SW") L2 3SW
  li
    a(href="/L2 3SX") L2 3SX
  li
    a(href="/L2 3XN") L2 3XN
  li
    a(href="/L2 3YL") L2 3YL
  li
    a(href="/L2 4FW") L2 4FW
  li
    a(href="/L2 4SA") L2 4SA
  li
    a(href="/L2 4SD") L2 4SD
  li
    a(href="/L2 4SJ") L2 4SJ
  li
    a(href="/L2 4SW") L2 4SW
  li
    a(href="/L2 4SX") L2 4SX
  li
    a(href="/L2 4TA") L2 4TA
  li
    a(href="/L2 4TE") L2 4TE
  li
    a(href="/L2 4TG") L2 4TG
  li
    a(href="/L2 4TH") L2 4TH
  li
    a(href="/L2 4TQ") L2 4TQ
  li
    a(href="/L2 4TR") L2 4TR
  li
    a(href="/L2 4TX") L2 4TX
  li
    a(href="/L2 4TZ") L2 4TZ
  li
    a(href="/L2 4UQ") L2 4UQ
  li
    a(href="/L2 4UT") L2 4UT
  li
    a(href="/L2 5BA") L2 5BA
  li
    a(href="/L2 5BB") L2 5BB
  li
    a(href="/L2 5EA") L2 5EA
  li
    a(href="/L2 5QA") L2 5QA
  li
    a(href="/L2 5QQ") L2 5QQ
  li
    a(href="/L2 5QS") L2 5QS
  li
    a(href="/L2 5QU") L2 5QU
  li
    a(href="/L2 5QY") L2 5QY
  li
    a(href="/L2 5RH") L2 5RH
  li
    a(href="/L2 5RL") L2 5RL
  li
    a(href="/L2 5RQ") L2 5RQ
  li
    a(href="/L2 5SF") L2 5SF
  li
    a(href="/L2 5ST") L2 5ST
  li
    a(href="/L2 5SX") L2 5SX
  li
    a(href="/L2 5TF") L2 5TF
  li
    a(href="/L2 5UZ") L2 5UZ
  li
    a(href="/L2 6PB") L2 6PB
  li
    a(href="/L2 6PD") L2 6PD
  li
    a(href="/L2 6PG") L2 6PG
  li
    a(href="/L2 6PS") L2 6PS
  li
    a(href="/L2 6PT") L2 6PT
  li
    a(href="/L2 6PX") L2 6PX
  li
    a(href="/L2 6PY") L2 6PY
  li
    a(href="/L2 6QE") L2 6QE
  li
    a(href="/L2 6QJ") L2 6QJ
  li
    a(href="/L2 6QU") L2 6QU
  li
    a(href="/L2 6RB") L2 6RB
  li
    a(href="/L2 6RD") L2 6RD
  li
    a(href="/L2 6RE") L2 6RE
  li
    a(href="/L2 6RG") L2 6RG
  li
    a(href="/L2 6RR") L2 6RR
  li
    a(href="/L2 6RX") L2 6RX
  li
    a(href="/L2 6SG") L2 6SG
  li
    a(href="/L2 6SP") L2 6SP
  li
    a(href="/L2 7LA") L2 7LA
  li
    a(href="/L2 7LQ") L2 7LQ
  li
    a(href="/L2 7LS") L2 7LS
  li
    a(href="/L2 7LX") L2 7LX
  li
    a(href="/L2 7NB") L2 7NB
  li
    a(href="/L2 7NE") L2 7NE
  li
    a(href="/L2 7NT") L2 7NT
  li
    a(href="/L2 7NU") L2 7NU
  li
    a(href="/L2 7NX") L2 7NX
  li
    a(href="/L2 7PQ") L2 7PQ
  li
    a(href="/L2 7PX") L2 7PX
  li
    a(href="/L2 7QB") L2 7QB
  li
    a(href="/L2 7QH") L2 7QH
  li
    a(href="/L2 7QL") L2 7QL
  li
    a(href="/L2 7QS") L2 7QS
  li
    a(href="/L2 7QT") L2 7QT
  li
    a(href="/L2 7RB") L2 7RB
  li
    a(href="/L2 7TP") L2 7TP
  li
    a(href="/L2 7XT") L2 7XT
  li
    a(href="/L2 7ZH") L2 7ZH
  li
    a(href="/L2 8GW") L2 8GW
  li
    a(href="/L2 8SZ") L2 8SZ
  li
    a(href="/L2 8TD") L2 8TD
  li
    a(href="/L2 8TX") L2 8TX
  li
    a(href="/L2 8TZ") L2 8TZ
  li
    a(href="/L2 8UA") L2 8UA
  li
    a(href="/L2 8UD") L2 8UD
  li
    a(href="/L2 8UQ") L2 8UQ
  li
    a(href="/L2 8US") L2 8US
  li
    a(href="/L2 8UY") L2 8UY
  li
    a(href="/L2 8XS") L2 8XS
  li
    a(href="/L2 8XU") L2 8XU
  li
    a(href="/L2 9QA") L2 9QA
  li
    a(href="/L2 9QJ") L2 9QJ
  li
    a(href="/L2 9QN") L2 9QN
  li
    a(href="/L2 9QR") L2 9QR
  li
    a(href="/L2 9QU") L2 9QU
  li
    a(href="/L2 9RF") L2 9RF
  li
    a(href="/L2 9RL") L2 9RL
  li
    a(href="/L2 9RP") L2 9RP
  li
    a(href="/L2 9RU") L2 9RU
  li
    a(href="/L2 9SA") L2 9SA
  li
    a(href="/L2 9SH") L2 9SH
  li
    a(href="/L2 9SQ") L2 9SQ
  li
    a(href="/L2 9SU") L2 9SU
  li
    a(href="/L2 9TJ") L2 9TJ
  li
    a(href="/L2 9TL") L2 9TL
  li
    a(href="/L2 9TN") L2 9TN
  li
    a(href="/L2 9UB") L2 9UB
  li
    a(href="/L2 9UW") L2 9UW
  li
    a(href="/L2 9XW") L2 9XW
  li
    a(href="/L2 9XX") L2 9XX
  li
    a(href="/L2 9YH") L2 9YH
