ul.locations
  li
    a(href="/L27 0WZ") L27 0WZ
  li
    a(href="/L27 0YA") L27 0YA
  li
    a(href="/L27 0YB") L27 0YB
  li
    a(href="/L27 0YD") L27 0YD
  li
    a(href="/L27 0YE") L27 0YE
  li
    a(href="/L27 1XD") L27 1XD
  li
    a(href="/L27 1XE") L27 1XE
  li
    a(href="/L27 1XF") L27 1XF
  li
    a(href="/L27 1XG") L27 1XG
  li
    a(href="/L27 1XH") L27 1XH
  li
    a(href="/L27 1XJ") L27 1XJ
  li
    a(href="/L27 1XL") L27 1XL
  li
    a(href="/L27 1XN") L27 1XN
  li
    a(href="/L27 1XQ") L27 1XQ
  li
    a(href="/L27 1XR") L27 1XR
  li
    a(href="/L27 1XS") L27 1XS
  li
    a(href="/L27 1XT") L27 1XT
  li
    a(href="/L27 1XU") L27 1XU
  li
    a(href="/L27 1XX") L27 1XX
  li
    a(href="/L27 1XY") L27 1XY
  li
    a(href="/L27 1XZ") L27 1XZ
  li
    a(href="/L27 1YB") L27 1YB
  li
    a(href="/L27 1YH") L27 1YH
  li
    a(href="/L27 1YT") L27 1YT
  li
    a(href="/L27 1YW") L27 1YW
  li
    a(href="/L27 1YX") L27 1YX
  li
    a(href="/L27 1YY") L27 1YY
  li
    a(href="/L27 1YZ") L27 1YZ
  li
    a(href="/L27 2YA") L27 2YA
  li
    a(href="/L27 2YB") L27 2YB
  li
    a(href="/L27 3YA") L27 3YA
  li
    a(href="/L27 4BA") L27 4BA
  li
    a(href="/L27 4BB") L27 4BB
  li
    a(href="/L27 4BD") L27 4BD
  li
    a(href="/L27 4BE") L27 4BE
  li
    a(href="/L27 4BF") L27 4BF
  li
    a(href="/L27 4BG") L27 4BG
  li
    a(href="/L27 4BH") L27 4BH
  li
    a(href="/L27 4BJ") L27 4BJ
  li
    a(href="/L27 4XU") L27 4XU
  li
    a(href="/L27 4XX") L27 4XX
  li
    a(href="/L27 4XY") L27 4XY
  li
    a(href="/L27 4XZ") L27 4XZ
  li
    a(href="/L27 4YA") L27 4YA
  li
    a(href="/L27 4YE") L27 4YE
  li
    a(href="/L27 4YF") L27 4YF
  li
    a(href="/L27 5QN") L27 5QN
  li
    a(href="/L27 5QP") L27 5QP
  li
    a(href="/L27 5QW") L27 5QW
  li
    a(href="/L27 5RA") L27 5RA
  li
    a(href="/L27 5RB") L27 5RB
  li
    a(href="/L27 5RD") L27 5RD
  li
    a(href="/L27 5RE") L27 5RE
  li
    a(href="/L27 5RF") L27 5RF
  li
    a(href="/L27 5RG") L27 5RG
  li
    a(href="/L27 5RH") L27 5RH
  li
    a(href="/L27 5RJ") L27 5RJ
  li
    a(href="/L27 5RL") L27 5RL
  li
    a(href="/L27 5RN") L27 5RN
  li
    a(href="/L27 5RP") L27 5RP
  li
    a(href="/L27 5RQ") L27 5RQ
  li
    a(href="/L27 5RR") L27 5RR
  li
    a(href="/L27 5RS") L27 5RS
  li
    a(href="/L27 5RT") L27 5RT
  li
    a(href="/L27 5RU") L27 5RU
  li
    a(href="/L27 5RW") L27 5RW
  li
    a(href="/L27 5RX") L27 5RX
  li
    a(href="/L27 5RY") L27 5RY
  li
    a(href="/L27 5RZ") L27 5RZ
  li
    a(href="/L27 6PA") L27 6PA
  li
    a(href="/L27 6PB") L27 6PB
  li
    a(href="/L27 6PD") L27 6PD
  li
    a(href="/L27 6PE") L27 6PE
  li
    a(href="/L27 6PF") L27 6PF
  li
    a(href="/L27 6PG") L27 6PG
  li
    a(href="/L27 6PH") L27 6PH
  li
    a(href="/L27 6PJ") L27 6PJ
  li
    a(href="/L27 6PL") L27 6PL
  li
    a(href="/L27 6PN") L27 6PN
  li
    a(href="/L27 6PQ") L27 6PQ
  li
    a(href="/L27 6PW") L27 6PW
  li
    a(href="/L27 6PX") L27 6PX
  li
    a(href="/L27 6PY") L27 6PY
  li
    a(href="/L27 6PZ") L27 6PZ
  li
    a(href="/L27 6WA") L27 6WA
  li
    a(href="/L27 6WB") L27 6WB
  li
    a(href="/L27 6WD") L27 6WD
  li
    a(href="/L27 6WE") L27 6WE
  li
    a(href="/L27 6WF") L27 6WF
  li
    a(href="/L27 6WG") L27 6WG
  li
    a(href="/L27 6WH") L27 6WH
  li
    a(href="/L27 6WJ") L27 6WJ
  li
    a(href="/L27 6WL") L27 6WL
  li
    a(href="/L27 6WN") L27 6WN
  li
    a(href="/L27 6WQ") L27 6WQ
  li
    a(href="/L27 6WW") L27 6WW
  li
    a(href="/L27 7AD") L27 7AD
  li
    a(href="/L27 7AE") L27 7AE
  li
    a(href="/L27 7AF") L27 7AF
  li
    a(href="/L27 7AG") L27 7AG
  li
    a(href="/L27 7AH") L27 7AH
  li
    a(href="/L27 7AJ") L27 7AJ
  li
    a(href="/L27 7AL") L27 7AL
  li
    a(href="/L27 7AN") L27 7AN
  li
    a(href="/L27 7AR") L27 7AR
  li
    a(href="/L27 7AU") L27 7AU
  li
    a(href="/L27 7AW") L27 7AW
  li
    a(href="/L27 7BB") L27 7BB
  li
    a(href="/L27 7BD") L27 7BD
  li
    a(href="/L27 7BE") L27 7BE
  li
    a(href="/L27 7BG") L27 7BG
  li
    a(href="/L27 7BH") L27 7BH
  li
    a(href="/L27 7BJ") L27 7BJ
  li
    a(href="/L27 7BL") L27 7BL
  li
    a(href="/L27 7BN") L27 7BN
  li
    a(href="/L27 7BP") L27 7BP
  li
    a(href="/L27 7BQ") L27 7BQ
  li
    a(href="/L27 7BR") L27 7BR
  li
    a(href="/L27 7BS") L27 7BS
  li
    a(href="/L27 7BT") L27 7BT
  li
    a(href="/L27 7BW") L27 7BW
  li
    a(href="/L27 7DA") L27 7DA
  li
    a(href="/L27 7DB") L27 7DB
  li
    a(href="/L27 7DD") L27 7DD
  li
    a(href="/L27 7DE") L27 7DE
  li
    a(href="/L27 7DF") L27 7DF
  li
    a(href="/L27 7DG") L27 7DG
  li
    a(href="/L27 8XJ") L27 8XJ
  li
    a(href="/L27 8XL") L27 8XL
  li
    a(href="/L27 8XN") L27 8XN
  li
    a(href="/L27 8XP") L27 8XP
  li
    a(href="/L27 8XR") L27 8XR
  li
    a(href="/L27 8XS") L27 8XS
  li
    a(href="/L27 8XT") L27 8XT
  li
    a(href="/L27 8XU") L27 8XU
  li
    a(href="/L27 8XW") L27 8XW
  li
    a(href="/L27 8XX") L27 8XX
  li
    a(href="/L27 8XY") L27 8XY
  li
    a(href="/L27 8XZ") L27 8XZ
  li
    a(href="/L27 8YG") L27 8YG
  li
    a(href="/L27 8YL") L27 8YL
  li
    a(href="/L27 8YN") L27 8YN
  li
    a(href="/L27 8YP") L27 8YP
  li
    a(href="/L27 8YR") L27 8YR
  li
    a(href="/L27 8YW") L27 8YW
