ul.locations
  li
    a(href="/L29 1YB") L29 1YB
  li
    a(href="/L29 3EA") L29 3EA
  li
    a(href="/L29 3EB") L29 3EB
  li
    a(href="/L29 5XA") L29 5XA
  li
    a(href="/L29 5XB") L29 5XB
  li
    a(href="/L29 6YA") L29 6YA
  li
    a(href="/L29 6YB") L29 6YB
  li
    a(href="/L29 6YD") L29 6YD
  li
    a(href="/L29 7WA") L29 7WA
  li
    a(href="/L29 7WB") L29 7WB
  li
    a(href="/L29 7WD") L29 7WD
  li
    a(href="/L29 7WE") L29 7WE
  li
    a(href="/L29 7WG") L29 7WG
  li
    a(href="/L29 7WH") L29 7WH
  li
    a(href="/L29 7WJ") L29 7WJ
  li
    a(href="/L29 7WL") L29 7WL
  li
    a(href="/L29 8YA") L29 8YA
  li
    a(href="/L29 8YB") L29 8YB
  li
    a(href="/L29 9AD") L29 9AD
  li
    a(href="/L29 9AE") L29 9AE
  li
    a(href="/L29 9AF") L29 9AF
