ul.locations
  li
    a(href="/L38 0BA") L38 0BA
  li
    a(href="/L38 0BB") L38 0BB
  li
    a(href="/L38 0BD") L38 0BD
  li
    a(href="/L38 0BE") L38 0BE
  li
    a(href="/L38 0BG") L38 0BG
  li
    a(href="/L38 0BH") L38 0BH
  li
    a(href="/L38 0BJ") L38 0BJ
  li
    a(href="/L38 0BL") L38 0BL
  li
    a(href="/L38 0BN") L38 0BN
  li
    a(href="/L38 0BP") L38 0BP
  li
    a(href="/L38 0BQ") L38 0BQ
  li
    a(href="/L38 0BR") L38 0BR
  li
    a(href="/L38 0BS") L38 0BS
  li
    a(href="/L38 0BT") L38 0BT
  li
    a(href="/L38 0BU") L38 0BU
  li
    a(href="/L38 0BW") L38 0BW
  li
    a(href="/L38 0DA") L38 0DA
  li
    a(href="/L38 0DB") L38 0DB
  li
    a(href="/L38 1QA") L38 1QA
  li
    a(href="/L38 1QB") L38 1QB
  li
    a(href="/L38 1QD") L38 1QD
  li
    a(href="/L38 1QE") L38 1QE
  li
    a(href="/L38 1QF") L38 1QF
  li
    a(href="/L38 1QG") L38 1QG
  li
    a(href="/L38 1QH") L38 1QH
  li
    a(href="/L38 1QQ") L38 1QQ
  li
    a(href="/L38 3RA") L38 3RA
  li
    a(href="/L38 3RB") L38 3RB
  li
    a(href="/L38 3RD") L38 3RD
  li
    a(href="/L38 3RE") L38 3RE
  li
    a(href="/L38 3RF") L38 3RF
  li
    a(href="/L38 3RG") L38 3RG
  li
    a(href="/L38 3RH") L38 3RH
  li
    a(href="/L38 3RJ") L38 3RJ
  li
    a(href="/L38 3RL") L38 3RL
  li
    a(href="/L38 3RN") L38 3RN
  li
    a(href="/L38 3RP") L38 3RP
  li
    a(href="/L38 3RQ") L38 3RQ
  li
    a(href="/L38 3RR") L38 3RR
  li
    a(href="/L38 3RS") L38 3RS
  li
    a(href="/L38 3RT") L38 3RT
  li
    a(href="/L38 3RU") L38 3RU
  li
    a(href="/L38 3RW") L38 3RW
  li
    a(href="/L38 3RX") L38 3RX
  li
    a(href="/L38 3RY") L38 3RY
  li
    a(href="/L38 3RZ") L38 3RZ
  li
    a(href="/L38 3SF") L38 3SF
  li
    a(href="/L38 3SG") L38 3SG
  li
    a(href="/L38 4JB") L38 4JB
  li
    a(href="/L38 5DA") L38 5DA
  li
    a(href="/L38 5DB") L38 5DB
  li
    a(href="/L38 5DD") L38 5DD
  li
    a(href="/L38 5DE") L38 5DE
  li
    a(href="/L38 6JA") L38 6JA
  li
    a(href="/L38 6JB") L38 6JB
  li
    a(href="/L38 6JD") L38 6JD
  li
    a(href="/L38 6JE") L38 6JE
  li
    a(href="/L38 6JF") L38 6JF
  li
    a(href="/L38 6JG") L38 6JG
  li
    a(href="/L38 6JH") L38 6JH
  li
    a(href="/L38 6JJ") L38 6JJ
  li
    a(href="/L38 6JL") L38 6JL
  li
    a(href="/L38 6JQ") L38 6JQ
  li
    a(href="/L38 7JA") L38 7JA
  li
    a(href="/L38 7JB") L38 7JB
  li
    a(href="/L38 7JD") L38 7JD
  li
    a(href="/L38 7JE") L38 7JE
  li
    a(href="/L38 8AF") L38 8AF
  li
    a(href="/L38 9AN") L38 9AN
  li
    a(href="/L38 9AW") L38 9AW
  li
    a(href="/L38 9EA") L38 9EA
  li
    a(href="/L38 9EB") L38 9EB
  li
    a(href="/L38 9ED") L38 9ED
  li
    a(href="/L38 9EE") L38 9EE
  li
    a(href="/L38 9EF") L38 9EF
  li
    a(href="/L38 9EG") L38 9EG
  li
    a(href="/L38 9EH") L38 9EH
  li
    a(href="/L38 9EJ") L38 9EJ
  li
    a(href="/L38 9EL") L38 9EL
  li
    a(href="/L38 9EN") L38 9EN
  li
    a(href="/L38 9EP") L38 9EP
  li
    a(href="/L38 9EQ") L38 9EQ
  li
    a(href="/L38 9ER") L38 9ER
  li
    a(href="/L38 9ES") L38 9ES
  li
    a(href="/L38 9ET") L38 9ET
  li
    a(href="/L38 9EU") L38 9EU
  li
    a(href="/L38 9EW") L38 9EW
  li
    a(href="/L38 9EX") L38 9EX
  li
    a(href="/L38 9EY") L38 9EY
  li
    a(href="/L38 9EZ") L38 9EZ
  li
    a(href="/L38 9GE") L38 9GE
  li
    a(href="/L38 9GF") L38 9GF
  li
    a(href="/L38 9GG") L38 9GG
  li
    a(href="/L38 9GH") L38 9GH
  li
    a(href="/L38 9GJ") L38 9GJ
  li
    a(href="/L38 9GL") L38 9GL
  li
    a(href="/L38 9GQ") L38 9GQ
  li
    a(href="/L38 9WA") L38 9WA
