ul.locations
  li
    a(href="/L70 1AB") L70 1AB
  li
    a(href="/L70 1AD") L70 1AD
  li
    a(href="/L70 1AN") L70 1AN
  li
    a(href="/L70 1AX") L70 1AX
  li
    a(href="/L70 1DX") L70 1DX
  li
    a(href="/L70 1ES") L70 1ES
  li
    a(href="/L70 1ET") L70 1ET
  li
    a(href="/L70 1EU") L70 1EU
  li
    a(href="/L70 1EX") L70 1EX
  li
    a(href="/L70 1EY") L70 1EY
  li
    a(href="/L70 1EZ") L70 1EZ
  li
    a(href="/L70 1HU") L70 1HU
  li
    a(href="/L70 1JL") L70 1JL
  li
    a(href="/L70 1LU") L70 1LU
  li
    a(href="/L70 1NA") L70 1NA
  li
    a(href="/L70 1NB") L70 1NB
  li
    a(href="/L70 1NE") L70 1NE
  li
    a(href="/L70 1NG") L70 1NG
  li
    a(href="/L70 1NH") L70 1NH
  li
    a(href="/L70 1NJ") L70 1NJ
  li
    a(href="/L70 1NL") L70 1NL
  li
    a(href="/L70 1NQ") L70 1NQ
  li
    a(href="/L70 1NR") L70 1NR
  li
    a(href="/L70 1NW") L70 1NW
  li
    a(href="/L70 1PJ") L70 1PJ
  li
    a(href="/L70 1PL") L70 1PL
  li
    a(href="/L70 1PP") L70 1PP
  li
    a(href="/L70 1PT") L70 1PT
  li
    a(href="/L70 1PU") L70 1PU
  li
    a(href="/L70 1QT") L70 1QT
  li
    a(href="/L70 1RF") L70 1RF
  li
    a(href="/L70 1RX") L70 1RX
  li
    a(href="/L70 1WT") L70 1WT
  li
    a(href="/L70 1WX") L70 1WX
  li
    a(href="/L70 1WY") L70 1WY
  li
    a(href="/L70 1WZ") L70 1WZ
  li
    a(href="/L70 1ZT") L70 1ZT
  li
    a(href="/L70 2QA") L70 2QA
  li
    a(href="/L70 2QG") L70 2QG
  li
    a(href="/L70 2QH") L70 2QH
  li
    a(href="/L70 2QP") L70 2QP
  li
    a(href="/L70 2UD") L70 2UD
  li
    a(href="/L70 2WZ") L70 2WZ
  li
    a(href="/L70 8AH") L70 8AH
  li
    a(href="/L70 8AJ") L70 8AJ
  li
    a(href="/L70 8AL") L70 8AL
  li
    a(href="/L70 8AY") L70 8AY
  li
    a(href="/L70 8AZ") L70 8AZ
  li
    a(href="/L70 9AA") L70 9AA
  li
    a(href="/L70 9AB") L70 9AB
  li
    a(href="/L70 9AE") L70 9AE
  li
    a(href="/L70 9AF") L70 9AF
  li
    a(href="/L70 9AU") L70 9AU
  li
    a(href="/L70 9EA") L70 9EA
