ul.locations
  li
    a(href="/LA17 7AB") LA17 7AB
  li
    a(href="/LA17 7TA") LA17 7TA
  li
    a(href="/LA17 7TB") LA17 7TB
  li
    a(href="/LA17 7TD") LA17 7TD
  li
    a(href="/LA17 7TE") LA17 7TE
  li
    a(href="/LA17 7TF") LA17 7TF
  li
    a(href="/LA17 7TG") LA17 7TG
  li
    a(href="/LA17 7TH") LA17 7TH
  li
    a(href="/LA17 7TJ") LA17 7TJ
  li
    a(href="/LA17 7TL") LA17 7TL
  li
    a(href="/LA17 7TN") LA17 7TN
  li
    a(href="/LA17 7TP") LA17 7TP
  li
    a(href="/LA17 7TQ") LA17 7TQ
  li
    a(href="/LA17 7TR") LA17 7TR
  li
    a(href="/LA17 7TS") LA17 7TS
  li
    a(href="/LA17 7TT") LA17 7TT
  li
    a(href="/LA17 7TU") LA17 7TU
  li
    a(href="/LA17 7TW") LA17 7TW
  li
    a(href="/LA17 7TX") LA17 7TX
  li
    a(href="/LA17 7UA") LA17 7UA
  li
    a(href="/LA17 7UB") LA17 7UB
  li
    a(href="/LA17 7UD") LA17 7UD
  li
    a(href="/LA17 7UE") LA17 7UE
  li
    a(href="/LA17 7UF") LA17 7UF
  li
    a(href="/LA17 7UG") LA17 7UG
  li
    a(href="/LA17 7UH") LA17 7UH
  li
    a(href="/LA17 7UJ") LA17 7UJ
  li
    a(href="/LA17 7UL") LA17 7UL
  li
    a(href="/LA17 7UN") LA17 7UN
  li
    a(href="/LA17 7UP") LA17 7UP
  li
    a(href="/LA17 7UQ") LA17 7UQ
  li
    a(href="/LA17 7UR") LA17 7UR
  li
    a(href="/LA17 7UT") LA17 7UT
  li
    a(href="/LA17 7UU") LA17 7UU
  li
    a(href="/LA17 7UW") LA17 7UW
  li
    a(href="/LA17 7UX") LA17 7UX
  li
    a(href="/LA17 7UY") LA17 7UY
  li
    a(href="/LA17 7UZ") LA17 7UZ
  li
    a(href="/LA17 7WZ") LA17 7WZ
  li
    a(href="/LA17 7XA") LA17 7XA
  li
    a(href="/LA17 7XD") LA17 7XD
  li
    a(href="/LA17 7XE") LA17 7XE
  li
    a(href="/LA17 7XF") LA17 7XF
  li
    a(href="/LA17 7XG") LA17 7XG
  li
    a(href="/LA17 7XH") LA17 7XH
  li
    a(href="/LA17 7XJ") LA17 7XJ
  li
    a(href="/LA17 7XL") LA17 7XL
  li
    a(href="/LA17 7XN") LA17 7XN
  li
    a(href="/LA17 7XP") LA17 7XP
  li
    a(href="/LA17 7XQ") LA17 7XQ
  li
    a(href="/LA17 7XR") LA17 7XR
  li
    a(href="/LA17 7XS") LA17 7XS
  li
    a(href="/LA17 7XT") LA17 7XT
  li
    a(href="/LA17 7XU") LA17 7XU
  li
    a(href="/LA17 7XX") LA17 7XX
  li
    a(href="/LA17 7XY") LA17 7XY
  li
    a(href="/LA17 7XZ") LA17 7XZ
  li
    a(href="/LA17 7YA") LA17 7YA
  li
    a(href="/LA17 7YB") LA17 7YB
