ul.locations
  li
    a(href="/LA19 5GA") LA19 5GA
  li
    a(href="/LA19 5SA") LA19 5SA
  li
    a(href="/LA19 5TA") LA19 5TA
  li
    a(href="/LA19 5TB") LA19 5TB
  li
    a(href="/LA19 5TD") LA19 5TD
  li
    a(href="/LA19 5TE") LA19 5TE
  li
    a(href="/LA19 5TF") LA19 5TF
  li
    a(href="/LA19 5TG") LA19 5TG
  li
    a(href="/LA19 5TH") LA19 5TH
  li
    a(href="/LA19 5TJ") LA19 5TJ
  li
    a(href="/LA19 5TL") LA19 5TL
  li
    a(href="/LA19 5TN") LA19 5TN
  li
    a(href="/LA19 5TP") LA19 5TP
  li
    a(href="/LA19 5TQ") LA19 5TQ
  li
    a(href="/LA19 5TR") LA19 5TR
  li
    a(href="/LA19 5TS") LA19 5TS
  li
    a(href="/LA19 5TT") LA19 5TT
  li
    a(href="/LA19 5TU") LA19 5TU
  li
    a(href="/LA19 5TW") LA19 5TW
  li
    a(href="/LA19 5TX") LA19 5TX
  li
    a(href="/LA19 5TY") LA19 5TY
  li
    a(href="/LA19 5TZ") LA19 5TZ
  li
    a(href="/LA19 5UA") LA19 5UA
  li
    a(href="/LA19 5UB") LA19 5UB
  li
    a(href="/LA19 5UD") LA19 5UD
  li
    a(href="/LA19 5UE") LA19 5UE
  li
    a(href="/LA19 5UF") LA19 5UF
  li
    a(href="/LA19 5UG") LA19 5UG
  li
    a(href="/LA19 5UH") LA19 5UH
  li
    a(href="/LA19 5UJ") LA19 5UJ
  li
    a(href="/LA19 5UL") LA19 5UL
  li
    a(href="/LA19 5UN") LA19 5UN
  li
    a(href="/LA19 5UP") LA19 5UP
  li
    a(href="/LA19 5UQ") LA19 5UQ
  li
    a(href="/LA19 5UR") LA19 5UR
  li
    a(href="/LA19 5US") LA19 5US
  li
    a(href="/LA19 5UT") LA19 5UT
  li
    a(href="/LA19 5UW") LA19 5UW
  li
    a(href="/LA19 5UY") LA19 5UY
  li
    a(href="/LA19 5WZ") LA19 5WZ
  li
    a(href="/LA19 5XA") LA19 5XA
  li
    a(href="/LA19 5XB") LA19 5XB
  li
    a(href="/LA19 5XD") LA19 5XD
  li
    a(href="/LA19 5XE") LA19 5XE
  li
    a(href="/LA19 5XF") LA19 5XF
  li
    a(href="/LA19 5XG") LA19 5XG
  li
    a(href="/LA19 5XH") LA19 5XH
  li
    a(href="/LA19 5XJ") LA19 5XJ
  li
    a(href="/LA19 5XL") LA19 5XL
  li
    a(href="/LA19 5XN") LA19 5XN
  li
    a(href="/LA19 5XQ") LA19 5XQ
  li
    a(href="/LA19 5XS") LA19 5XS
  li
    a(href="/LA19 5XT") LA19 5XT
  li
    a(href="/LA19 5XU") LA19 5XU
  li
    a(href="/LA19 5XX") LA19 5XX
  li
    a(href="/LA19 5XY") LA19 5XY
  li
    a(href="/LA19 5XZ") LA19 5XZ
  li
    a(href="/LA19 5YA") LA19 5YA
  li
    a(href="/LA19 5YB") LA19 5YB
  li
    a(href="/LA19 5YD") LA19 5YD
  li
    a(href="/LA19 5YE") LA19 5YE
  li
    a(href="/LA19 5YF") LA19 5YF
  li
    a(href="/LA19 5YG") LA19 5YG
  li
    a(href="/LA19 5YH") LA19 5YH
  li
    a(href="/LA19 5YJ") LA19 5YJ
  li
    a(href="/LA19 5YL") LA19 5YL
  li
    a(href="/LA19 5YN") LA19 5YN
  li
    a(href="/LA19 5YP") LA19 5YP
  li
    a(href="/LA19 5YQ") LA19 5YQ
  li
    a(href="/LA19 5YR") LA19 5YR
  li
    a(href="/LA19 5YW") LA19 5YW
