ul.locations
  li
    a(href="/browse/England/BB10") BB10
  li
    a(href="/browse/England/BB11") BB11
  li
    a(href="/browse/England/BB12") BB12
  li
    a(href="/browse/England/BB18") BB18
  li
    a(href="/browse/England/BB4") BB4
  li
    a(href="/browse/England/BB5") BB5
  li
    a(href="/browse/England/BB6") BB6
  li
    a(href="/browse/England/BB7") BB7
  li
    a(href="/browse/England/BB8") BB8
  li
    a(href="/browse/England/BB9") BB9
  li
    a(href="/browse/England/FY5") FY5
  li
    a(href="/browse/England/FY6") FY6
  li
    a(href="/browse/England/FY7") FY7
  li
    a(href="/browse/England/FY8") FY8
  li
    a(href="/browse/England/L39") L39
  li
    a(href="/browse/England/L40") L40
  li
    a(href="/browse/England/LA1") LA1
  li
    a(href="/browse/England/LA2") LA2
  li
    a(href="/browse/England/LA3") LA3
  li
    a(href="/browse/England/LA4") LA4
  li
    a(href="/browse/England/LA5") LA5
  li
    a(href="/browse/England/LA6") LA6
  li
    a(href="/browse/England/OL13") OL13
  li
    a(href="/browse/England/PR1") PR1
  li
    a(href="/browse/England/PR2") PR2
  li
    a(href="/browse/England/PR25") PR25
  li
    a(href="/browse/England/PR26") PR26
  li
    a(href="/browse/England/PR3") PR3
  li
    a(href="/browse/England/PR4") PR4
  li
    a(href="/browse/England/PR5") PR5
  li
    a(href="/browse/England/PR6") PR6
  li
    a(href="/browse/England/PR7") PR7
  li
    a(href="/browse/England/WN8") WN8
