ul.locations
  li
    a(href="/browse/England/LS1") LS1
  li
    a(href="/browse/England/LS10") LS10
  li
    a(href="/browse/England/LS11") LS11
  li
    a(href="/browse/England/LS12") LS12
  li
    a(href="/browse/England/LS13") LS13
  li
    a(href="/browse/England/LS14") LS14
  li
    a(href="/browse/England/LS15") LS15
  li
    a(href="/browse/England/LS16") LS16
  li
    a(href="/browse/England/LS17") LS17
  li
    a(href="/browse/England/LS18") LS18
  li
    a(href="/browse/England/LS19") LS19
  li
    a(href="/browse/England/LS2") LS2
  li
    a(href="/browse/England/LS20") LS20
  li
    a(href="/browse/England/LS21") LS21
  li
    a(href="/browse/England/LS22") LS22
  li
    a(href="/browse/England/LS23") LS23
  li
    a(href="/browse/England/LS25") LS25
  li
    a(href="/browse/England/LS26") LS26
  li
    a(href="/browse/England/LS27") LS27
  li
    a(href="/browse/England/LS28") LS28
  li
    a(href="/browse/England/LS3") LS3
  li
    a(href="/browse/England/LS4") LS4
  li
    a(href="/browse/England/LS5") LS5
  li
    a(href="/browse/England/LS6") LS6
  li
    a(href="/browse/England/LS7") LS7
  li
    a(href="/browse/England/LS8") LS8
  li
    a(href="/browse/England/LS9") LS9
  li
    a(href="/browse/England/WF3") WF3
