ul.locations
  li
    a(href="/browse/England/LE1") LE1
  li
    a(href="/browse/England/LE2") LE2
  li
    a(href="/browse/England/LE3") LE3
  li
    a(href="/browse/England/LE4") LE4
  li
    a(href="/browse/England/LE5") LE5
