ul.locations
  li
    a(href="/browse/England/DN21") DN21
  li
    a(href="/browse/England/DN36") DN36
  li
    a(href="/browse/England/DN38") DN38
  li
    a(href="/browse/England/LN1") LN1
  li
    a(href="/browse/England/LN10") LN10
  li
    a(href="/browse/England/LN11") LN11
  li
    a(href="/browse/England/LN12") LN12
  li
    a(href="/browse/England/LN13") LN13
  li
    a(href="/browse/England/LN2") LN2
  li
    a(href="/browse/England/LN3") LN3
  li
    a(href="/browse/England/LN4") LN4
  li
    a(href="/browse/England/LN5") LN5
  li
    a(href="/browse/England/LN6") LN6
  li
    a(href="/browse/England/LN7") LN7
  li
    a(href="/browse/England/LN8") LN8
  li
    a(href="/browse/England/LN9") LN9
  li
    a(href="/browse/England/NG31") NG31
  li
    a(href="/browse/England/NG32") NG32
  li
    a(href="/browse/England/NG33") NG33
  li
    a(href="/browse/England/NG34") NG34
  li
    a(href="/browse/England/PE10") PE10
  li
    a(href="/browse/England/PE11") PE11
  li
    a(href="/browse/England/PE12") PE12
  li
    a(href="/browse/England/PE20") PE20
  li
    a(href="/browse/England/PE21") PE21
  li
    a(href="/browse/England/PE22") PE22
  li
    a(href="/browse/England/PE23") PE23
  li
    a(href="/browse/England/PE24") PE24
  li
    a(href="/browse/England/PE25") PE25
  li
    a(href="/browse/England/PE6") PE6
  li
    a(href="/browse/England/PE9") PE9
