ul.locations
  li
    a(href="/browse/England/L1") L1
  li
    a(href="/browse/England/L11") L11
  li
    a(href="/browse/England/L12") L12
  li
    a(href="/browse/England/L13") L13
  li
    a(href="/browse/England/L14") L14
  li
    a(href="/browse/England/L15") L15
  li
    a(href="/browse/England/L16") L16
  li
    a(href="/browse/England/L17") L17
  li
    a(href="/browse/England/L18") L18
  li
    a(href="/browse/England/L19") L19
  li
    a(href="/browse/England/L2") L2
  li
    a(href="/browse/England/L23") L23
  li
    a(href="/browse/England/L24") L24
  li
    a(href="/browse/England/L25") L25
  li
    a(href="/browse/England/L27") L27
  li
    a(href="/browse/England/L3") L3
  li
    a(href="/browse/England/L4") L4
  li
    a(href="/browse/England/L5") L5
  li
    a(href="/browse/England/L6") L6
  li
    a(href="/browse/England/L69") L69
  li
    a(href="/browse/England/L7") L7
  li
    a(href="/browse/England/L70") L70
  li
    a(href="/browse/England/L8") L8
  li
    a(href="/browse/England/L9") L9
