ul.locations
  li
    a(href="/M31 4AA") M31 4AA
  li
    a(href="/M31 4AB") M31 4AB
  li
    a(href="/M31 4AD") M31 4AD
  li
    a(href="/M31 4AE") M31 4AE
  li
    a(href="/M31 4AG") M31 4AG
  li
    a(href="/M31 4AJ") M31 4AJ
  li
    a(href="/M31 4AN") M31 4AN
  li
    a(href="/M31 4AP") M31 4AP
  li
    a(href="/M31 4AQ") M31 4AQ
  li
    a(href="/M31 4AR") M31 4AR
  li
    a(href="/M31 4AS") M31 4AS
  li
    a(href="/M31 4AT") M31 4AT
  li
    a(href="/M31 4AW") M31 4AW
  li
    a(href="/M31 4AX") M31 4AX
  li
    a(href="/M31 4AY") M31 4AY
  li
    a(href="/M31 4AZ") M31 4AZ
  li
    a(href="/M31 4BA") M31 4BA
  li
    a(href="/M31 4BB") M31 4BB
  li
    a(href="/M31 4BD") M31 4BD
  li
    a(href="/M31 4BE") M31 4BE
  li
    a(href="/M31 4BF") M31 4BF
  li
    a(href="/M31 4BH") M31 4BH
  li
    a(href="/M31 4BJ") M31 4BJ
  li
    a(href="/M31 4BL") M31 4BL
  li
    a(href="/M31 4BN") M31 4BN
  li
    a(href="/M31 4BQ") M31 4BQ
  li
    a(href="/M31 4BR") M31 4BR
  li
    a(href="/M31 4BS") M31 4BS
  li
    a(href="/M31 4BU") M31 4BU
  li
    a(href="/M31 4BW") M31 4BW
  li
    a(href="/M31 4BX") M31 4BX
  li
    a(href="/M31 4DB") M31 4DB
  li
    a(href="/M31 4DD") M31 4DD
  li
    a(href="/M31 4DE") M31 4DE
  li
    a(href="/M31 4DF") M31 4DF
  li
    a(href="/M31 4DG") M31 4DG
  li
    a(href="/M31 4DH") M31 4DH
  li
    a(href="/M31 4DJ") M31 4DJ
  li
    a(href="/M31 4DL") M31 4DL
  li
    a(href="/M31 4DN") M31 4DN
  li
    a(href="/M31 4DP") M31 4DP
  li
    a(href="/M31 4DQ") M31 4DQ
  li
    a(href="/M31 4DR") M31 4DR
  li
    a(href="/M31 4DS") M31 4DS
  li
    a(href="/M31 4DT") M31 4DT
  li
    a(href="/M31 4DU") M31 4DU
  li
    a(href="/M31 4DW") M31 4DW
  li
    a(href="/M31 4DX") M31 4DX
  li
    a(href="/M31 4DY") M31 4DY
  li
    a(href="/M31 4DZ") M31 4DZ
  li
    a(href="/M31 4EA") M31 4EA
  li
    a(href="/M31 4EB") M31 4EB
  li
    a(href="/M31 4ED") M31 4ED
  li
    a(href="/M31 4EF") M31 4EF
  li
    a(href="/M31 4EG") M31 4EG
  li
    a(href="/M31 4EH") M31 4EH
  li
    a(href="/M31 4EJ") M31 4EJ
  li
    a(href="/M31 4EL") M31 4EL
  li
    a(href="/M31 4EN") M31 4EN
  li
    a(href="/M31 4EP") M31 4EP
  li
    a(href="/M31 4EQ") M31 4EQ
  li
    a(href="/M31 4ER") M31 4ER
  li
    a(href="/M31 4ES") M31 4ES
  li
    a(href="/M31 4ET") M31 4ET
  li
    a(href="/M31 4EU") M31 4EU
  li
    a(href="/M31 4EW") M31 4EW
  li
    a(href="/M31 4EX") M31 4EX
  li
    a(href="/M31 4EY") M31 4EY
  li
    a(href="/M31 4EZ") M31 4EZ
  li
    a(href="/M31 4FA") M31 4FA
  li
    a(href="/M31 4FB") M31 4FB
  li
    a(href="/M31 4FD") M31 4FD
  li
    a(href="/M31 4FE") M31 4FE
  li
    a(href="/M31 4FF") M31 4FF
  li
    a(href="/M31 4FG") M31 4FG
  li
    a(href="/M31 4FH") M31 4FH
  li
    a(href="/M31 4FJ") M31 4FJ
  li
    a(href="/M31 4FL") M31 4FL
  li
    a(href="/M31 4FN") M31 4FN
  li
    a(href="/M31 4FP") M31 4FP
  li
    a(href="/M31 4FQ") M31 4FQ
  li
    a(href="/M31 4FR") M31 4FR
  li
    a(href="/M31 4FS") M31 4FS
  li
    a(href="/M31 4FT") M31 4FT
  li
    a(href="/M31 4FU") M31 4FU
  li
    a(href="/M31 4FW") M31 4FW
  li
    a(href="/M31 4FX") M31 4FX
  li
    a(href="/M31 4FY") M31 4FY
  li
    a(href="/M31 4FZ") M31 4FZ
  li
    a(href="/M31 4GA") M31 4GA
  li
    a(href="/M31 4GB") M31 4GB
  li
    a(href="/M31 4GD") M31 4GD
  li
    a(href="/M31 4GF") M31 4GF
  li
    a(href="/M31 4GG") M31 4GG
  li
    a(href="/M31 4GH") M31 4GH
  li
    a(href="/M31 4GJ") M31 4GJ
  li
    a(href="/M31 4GL") M31 4GL
  li
    a(href="/M31 4GN") M31 4GN
  li
    a(href="/M31 4GP") M31 4GP
  li
    a(href="/M31 4GQ") M31 4GQ
  li
    a(href="/M31 4GR") M31 4GR
  li
    a(href="/M31 4GS") M31 4GS
  li
    a(href="/M31 4GT") M31 4GT
  li
    a(href="/M31 4GU") M31 4GU
  li
    a(href="/M31 4GW") M31 4GW
  li
    a(href="/M31 4GX") M31 4GX
  li
    a(href="/M31 4GY") M31 4GY
  li
    a(href="/M31 4GZ") M31 4GZ
  li
    a(href="/M31 4HA") M31 4HA
  li
    a(href="/M31 4HB") M31 4HB
  li
    a(href="/M31 4HD") M31 4HD
  li
    a(href="/M31 4HE") M31 4HE
  li
    a(href="/M31 4HF") M31 4HF
  li
    a(href="/M31 4HG") M31 4HG
  li
    a(href="/M31 4HH") M31 4HH
  li
    a(href="/M31 4HJ") M31 4HJ
  li
    a(href="/M31 4HL") M31 4HL
  li
    a(href="/M31 4HN") M31 4HN
  li
    a(href="/M31 4HP") M31 4HP
  li
    a(href="/M31 4HQ") M31 4HQ
  li
    a(href="/M31 4HR") M31 4HR
  li
    a(href="/M31 4HS") M31 4HS
  li
    a(href="/M31 4HT") M31 4HT
  li
    a(href="/M31 4HU") M31 4HU
  li
    a(href="/M31 4HW") M31 4HW
  li
    a(href="/M31 4HX") M31 4HX
  li
    a(href="/M31 4HY") M31 4HY
  li
    a(href="/M31 4HZ") M31 4HZ
  li
    a(href="/M31 4JA") M31 4JA
  li
    a(href="/M31 4JB") M31 4JB
  li
    a(href="/M31 4JD") M31 4JD
  li
    a(href="/M31 4JE") M31 4JE
  li
    a(href="/M31 4JF") M31 4JF
  li
    a(href="/M31 4JG") M31 4JG
  li
    a(href="/M31 4JH") M31 4JH
  li
    a(href="/M31 4JL") M31 4JL
  li
    a(href="/M31 4JN") M31 4JN
  li
    a(href="/M31 4JP") M31 4JP
  li
    a(href="/M31 4JQ") M31 4JQ
  li
    a(href="/M31 4JR") M31 4JR
  li
    a(href="/M31 4JS") M31 4JS
  li
    a(href="/M31 4JT") M31 4JT
  li
    a(href="/M31 4JU") M31 4JU
  li
    a(href="/M31 4JW") M31 4JW
  li
    a(href="/M31 4JX") M31 4JX
  li
    a(href="/M31 4JY") M31 4JY
  li
    a(href="/M31 4LA") M31 4LA
  li
    a(href="/M31 4LB") M31 4LB
  li
    a(href="/M31 4LD") M31 4LD
  li
    a(href="/M31 4LE") M31 4LE
  li
    a(href="/M31 4LF") M31 4LF
  li
    a(href="/M31 4LG") M31 4LG
  li
    a(href="/M31 4LH") M31 4LH
  li
    a(href="/M31 4LJ") M31 4LJ
  li
    a(href="/M31 4LL") M31 4LL
  li
    a(href="/M31 4LN") M31 4LN
  li
    a(href="/M31 4LP") M31 4LP
  li
    a(href="/M31 4LQ") M31 4LQ
  li
    a(href="/M31 4LR") M31 4LR
  li
    a(href="/M31 4LS") M31 4LS
  li
    a(href="/M31 4LT") M31 4LT
  li
    a(href="/M31 4LU") M31 4LU
  li
    a(href="/M31 4LW") M31 4LW
  li
    a(href="/M31 4LX") M31 4LX
  li
    a(href="/M31 4LY") M31 4LY
  li
    a(href="/M31 4LZ") M31 4LZ
  li
    a(href="/M31 4NA") M31 4NA
  li
    a(href="/M31 4NB") M31 4NB
  li
    a(href="/M31 4ND") M31 4ND
  li
    a(href="/M31 4NE") M31 4NE
  li
    a(href="/M31 4NF") M31 4NF
  li
    a(href="/M31 4NG") M31 4NG
  li
    a(href="/M31 4NH") M31 4NH
  li
    a(href="/M31 4NJ") M31 4NJ
  li
    a(href="/M31 4NL") M31 4NL
  li
    a(href="/M31 4NN") M31 4NN
  li
    a(href="/M31 4NP") M31 4NP
  li
    a(href="/M31 4NQ") M31 4NQ
  li
    a(href="/M31 4NR") M31 4NR
  li
    a(href="/M31 4NS") M31 4NS
  li
    a(href="/M31 4NT") M31 4NT
  li
    a(href="/M31 4NW") M31 4NW
  li
    a(href="/M31 4NZ") M31 4NZ
  li
    a(href="/M31 4PA") M31 4PA
  li
    a(href="/M31 4PB") M31 4PB
  li
    a(href="/M31 4PD") M31 4PD
  li
    a(href="/M31 4PE") M31 4PE
  li
    a(href="/M31 4PF") M31 4PF
  li
    a(href="/M31 4PG") M31 4PG
  li
    a(href="/M31 4PH") M31 4PH
  li
    a(href="/M31 4PJ") M31 4PJ
  li
    a(href="/M31 4PL") M31 4PL
  li
    a(href="/M31 4PN") M31 4PN
  li
    a(href="/M31 4PP") M31 4PP
  li
    a(href="/M31 4PQ") M31 4PQ
  li
    a(href="/M31 4PR") M31 4PR
  li
    a(href="/M31 4PS") M31 4PS
  li
    a(href="/M31 4PT") M31 4PT
  li
    a(href="/M31 4PU") M31 4PU
  li
    a(href="/M31 4PW") M31 4PW
  li
    a(href="/M31 4PX") M31 4PX
  li
    a(href="/M31 4PY") M31 4PY
  li
    a(href="/M31 4PZ") M31 4PZ
  li
    a(href="/M31 4QA") M31 4QA
  li
    a(href="/M31 4QD") M31 4QD
  li
    a(href="/M31 4QE") M31 4QE
  li
    a(href="/M31 4QF") M31 4QF
  li
    a(href="/M31 4QG") M31 4QG
  li
    a(href="/M31 4QH") M31 4QH
  li
    a(href="/M31 4QJ") M31 4QJ
  li
    a(href="/M31 4QN") M31 4QN
  li
    a(href="/M31 4QP") M31 4QP
  li
    a(href="/M31 4QQ") M31 4QQ
  li
    a(href="/M31 4QR") M31 4QR
  li
    a(href="/M31 4QS") M31 4QS
  li
    a(href="/M31 4QT") M31 4QT
  li
    a(href="/M31 4QW") M31 4QW
  li
    a(href="/M31 4QY") M31 4QY
  li
    a(href="/M31 4QZ") M31 4QZ
  li
    a(href="/M31 4RA") M31 4RA
  li
    a(href="/M31 4RB") M31 4RB
  li
    a(href="/M31 4RD") M31 4RD
  li
    a(href="/M31 4RG") M31 4RG
  li
    a(href="/M31 4RH") M31 4RH
  li
    a(href="/M31 4TG") M31 4TG
  li
    a(href="/M31 4UG") M31 4UG
  li
    a(href="/M31 4WA") M31 4WA
  li
    a(href="/M31 4WB") M31 4WB
  li
    a(href="/M31 4WD") M31 4WD
  li
    a(href="/M31 4WE") M31 4WE
  li
    a(href="/M31 4WF") M31 4WF
  li
    a(href="/M31 4WG") M31 4WG
  li
    a(href="/M31 4WH") M31 4WH
  li
    a(href="/M31 4WJ") M31 4WJ
  li
    a(href="/M31 4WN") M31 4WN
  li
    a(href="/M31 4WP") M31 4WP
  li
    a(href="/M31 4WS") M31 4WS
  li
    a(href="/M31 4WT") M31 4WT
  li
    a(href="/M31 4WY") M31 4WY
  li
    a(href="/M31 4WZ") M31 4WZ
  li
    a(href="/M31 4XA") M31 4XA
  li
    a(href="/M31 4XL") M31 4XL
  li
    a(href="/M31 4XX") M31 4XX
  li
    a(href="/M31 4YR") M31 4YR
  li
    a(href="/M31 4ZU") M31 4ZU
