ul.locations
  li
    a(href="/browse/England/TS1") TS1
  li
    a(href="/browse/England/TS2") TS2
  li
    a(href="/browse/England/TS3") TS3
  li
    a(href="/browse/England/TS4") TS4
  li
    a(href="/browse/England/TS5") TS5
  li
    a(href="/browse/England/TS7") TS7
  li
    a(href="/browse/England/TS8") TS8
