ul.locations
  li
    a(href="/browse/England/MK1") MK1
  li
    a(href="/browse/England/MK10") MK10
  li
    a(href="/browse/England/MK11") MK11
  li
    a(href="/browse/England/MK12") MK12
  li
    a(href="/browse/England/MK13") MK13
  li
    a(href="/browse/England/MK14") MK14
  li
    a(href="/browse/England/MK15") MK15
  li
    a(href="/browse/England/MK16") MK16
  li
    a(href="/browse/England/MK17") MK17
  li
    a(href="/browse/England/MK2") MK2
  li
    a(href="/browse/England/MK3") MK3
  li
    a(href="/browse/England/MK4") MK4
  li
    a(href="/browse/England/MK46") MK46
  li
    a(href="/browse/England/MK5") MK5
  li
    a(href="/browse/England/MK6") MK6
  li
    a(href="/browse/England/MK7") MK7
  li
    a(href="/browse/England/MK8") MK8
  li
    a(href="/browse/England/MK9") MK9
