ul.locations
  li
    a(href="/MK1 1AA") MK1 1AA
  li
    a(href="/MK1 1AH") MK1 1AH
  li
    a(href="/MK1 1AS") MK1 1AS
  li
    a(href="/MK1 1AX") MK1 1AX
  li
    a(href="/MK1 1BA") MK1 1BA
  li
    a(href="/MK1 1BB") MK1 1BB
  li
    a(href="/MK1 1BE") MK1 1BE
  li
    a(href="/MK1 1BG") MK1 1BG
  li
    a(href="/MK1 1BH") MK1 1BH
  li
    a(href="/MK1 1BJ") MK1 1BJ
  li
    a(href="/MK1 1BL") MK1 1BL
  li
    a(href="/MK1 1BN") MK1 1BN
  li
    a(href="/MK1 1BP") MK1 1BP
  li
    a(href="/MK1 1BQ") MK1 1BQ
  li
    a(href="/MK1 1BU") MK1 1BU
  li
    a(href="/MK1 1BW") MK1 1BW
  li
    a(href="/MK1 1BX") MK1 1BX
  li
    a(href="/MK1 1BY") MK1 1BY
  li
    a(href="/MK1 1BZ") MK1 1BZ
  li
    a(href="/MK1 1DB") MK1 1DB
  li
    a(href="/MK1 1DD") MK1 1DD
  li
    a(href="/MK1 1DF") MK1 1DF
  li
    a(href="/MK1 1DG") MK1 1DG
  li
    a(href="/MK1 1DH") MK1 1DH
  li
    a(href="/MK1 1DL") MK1 1DL
  li
    a(href="/MK1 1DN") MK1 1DN
  li
    a(href="/MK1 1DQ") MK1 1DQ
  li
    a(href="/MK1 1DR") MK1 1DR
  li
    a(href="/MK1 1DS") MK1 1DS
  li
    a(href="/MK1 1DT") MK1 1DT
  li
    a(href="/MK1 1DX") MK1 1DX
  li
    a(href="/MK1 1DY") MK1 1DY
  li
    a(href="/MK1 1EA") MK1 1EA
  li
    a(href="/MK1 1ED") MK1 1ED
  li
    a(href="/MK1 1EP") MK1 1EP
  li
    a(href="/MK1 1EQ") MK1 1EQ
  li
    a(href="/MK1 1ER") MK1 1ER
  li
    a(href="/MK1 1ET") MK1 1ET
  li
    a(href="/MK1 1EW") MK1 1EW
  li
    a(href="/MK1 1EX") MK1 1EX
  li
    a(href="/MK1 1HP") MK1 1HP
  li
    a(href="/MK1 1HS") MK1 1HS
  li
    a(href="/MK1 1HW") MK1 1HW
  li
    a(href="/MK1 1HX") MK1 1HX
  li
    a(href="/MK1 1JA") MK1 1JA
  li
    a(href="/MK1 1JD") MK1 1JD
  li
    a(href="/MK1 1JE") MK1 1JE
  li
    a(href="/MK1 1JG") MK1 1JG
  li
    a(href="/MK1 1JJ") MK1 1JJ
  li
    a(href="/MK1 1JN") MK1 1JN
  li
    a(href="/MK1 1JP") MK1 1JP
  li
    a(href="/MK1 1JQ") MK1 1JQ
  li
    a(href="/MK1 1JW") MK1 1JW
  li
    a(href="/MK1 1LG") MK1 1LG
  li
    a(href="/MK1 1LH") MK1 1LH
  li
    a(href="/MK1 1LJ") MK1 1LJ
  li
    a(href="/MK1 1LS") MK1 1LS
  li
    a(href="/MK1 1LZ") MK1 1LZ
  li
    a(href="/MK1 1NE") MK1 1NE
  li
    a(href="/MK1 1NF") MK1 1NF
  li
    a(href="/MK1 1NG") MK1 1NG
  li
    a(href="/MK1 1NL") MK1 1NL
  li
    a(href="/MK1 1NN") MK1 1NN
  li
    a(href="/MK1 1NQ") MK1 1NQ
  li
    a(href="/MK1 1NW") MK1 1NW
  li
    a(href="/MK1 1PA") MK1 1PA
  li
    a(href="/MK1 1PB") MK1 1PB
  li
    a(href="/MK1 1PT") MK1 1PT
  li
    a(href="/MK1 1QA") MK1 1QA
  li
    a(href="/MK1 1QB") MK1 1QB
  li
    a(href="/MK1 1QT") MK1 1QT
  li
    a(href="/MK1 1QU") MK1 1QU
  li
    a(href="/MK1 1QY") MK1 1QY
  li
    a(href="/MK1 1RB") MK1 1RB
  li
    a(href="/MK1 1RD") MK1 1RD
  li
    a(href="/MK1 1RE") MK1 1RE
  li
    a(href="/MK1 1RH") MK1 1RH
  li
    a(href="/MK1 1SF") MK1 1SF
  li
    a(href="/MK1 1ST") MK1 1ST
  li
    a(href="/MK1 1SU") MK1 1SU
  li
    a(href="/MK1 1SW") MK1 1SW
  li
    a(href="/MK1 1TE") MK1 1TE
  li
    a(href="/MK1 1TG") MK1 1TG
  li
    a(href="/MK1 1TJ") MK1 1TJ
  li
    a(href="/MK1 1UA") MK1 1UA
  li
    a(href="/MK1 1WU") MK1 1WU
  li
    a(href="/MK1 1WY") MK1 1WY
  li
    a(href="/MK1 1WZ") MK1 1WZ
  li
    a(href="/MK1 1XL") MK1 1XL
  li
    a(href="/MK1 1XT") MK1 1XT
  li
    a(href="/MK1 1YL") MK1 1YL
  li
    a(href="/MK1 1YY") MK1 1YY
  li
    a(href="/MK1 1ZQ") MK1 1ZQ
  li
    a(href="/MK1 1ZR") MK1 1ZR
  li
    a(href="/MK1 9AA") MK1 9AA
  li
    a(href="/MK1 9AE") MK1 9AE
  li
    a(href="/MK1 9AG") MK1 9AG
  li
    a(href="/MK1 9AJ") MK1 9AJ
  li
    a(href="/MK1 9AL") MK1 9AL
  li
    a(href="/MK1 9AP") MK1 9AP
  li
    a(href="/MK1 9AR") MK1 9AR
  li
    a(href="/MK1 9AS") MK1 9AS
  li
    a(href="/MK1 9AT") MK1 9AT
  li
    a(href="/MK1 9AW") MK1 9AW
  li
    a(href="/MK1 9AX") MK1 9AX
  li
    a(href="/MK1 9AZ") MK1 9AZ
  li
    a(href="/MK1 9BA") MK1 9BA
  li
    a(href="/MK1 9BB") MK1 9BB
  li
    a(href="/MK1 9BG") MK1 9BG
  li
    a(href="/MK1 9BH") MK1 9BH
  li
    a(href="/MK1 9BL") MK1 9BL
  li
    a(href="/MK1 9BR") MK1 9BR
  li
    a(href="/MK1 9BS") MK1 9BS
  li
    a(href="/MK1 9BT") MK1 9BT
  li
    a(href="/MK1 9BZ") MK1 9BZ
  li
    a(href="/MK1 9DA") MK1 9DA
  li
    a(href="/MK1 9DB") MK1 9DB
  li
    a(href="/MK1 9DF") MK1 9DF
  li
    a(href="/MK1 9DL") MK1 9DL
  li
    a(href="/MK1 9DN") MK1 9DN
  li
    a(href="/MK1 9DQ") MK1 9DQ
  li
    a(href="/MK1 9DT") MK1 9DT
  li
    a(href="/MK1 9DU") MK1 9DU
  li
    a(href="/MK1 9DY") MK1 9DY
  li
    a(href="/MK1 9DZ") MK1 9DZ
  li
    a(href="/MK1 9EA") MK1 9EA
  li
    a(href="/MK1 9EB") MK1 9EB
  li
    a(href="/MK1 9ED") MK1 9ED
  li
    a(href="/MK1 9EE") MK1 9EE
  li
    a(href="/MK1 9EG") MK1 9EG
  li
    a(href="/MK1 9EH") MK1 9EH
  li
    a(href="/MK1 9EJ") MK1 9EJ
  li
    a(href="/MK1 9EQ") MK1 9EQ
  li
    a(href="/MK1 9ER") MK1 9ER
  li
    a(href="/MK1 9ES") MK1 9ES
  li
    a(href="/MK1 9ET") MK1 9ET
  li
    a(href="/MK1 9EU") MK1 9EU
  li
    a(href="/MK1 9EW") MK1 9EW
  li
    a(href="/MK1 9EX") MK1 9EX
  li
    a(href="/MK1 9EY") MK1 9EY
  li
    a(href="/MK1 9EZ") MK1 9EZ
