ul.locations
  li
    a(href="/NE18 0AA") NE18 0AA
  li
    a(href="/NE18 0AB") NE18 0AB
  li
    a(href="/NE18 0AD") NE18 0AD
  li
    a(href="/NE18 0AE") NE18 0AE
  li
    a(href="/NE18 0AF") NE18 0AF
  li
    a(href="/NE18 0AG") NE18 0AG
  li
    a(href="/NE18 0AQ") NE18 0AQ
  li
    a(href="/NE18 0AX") NE18 0AX
  li
    a(href="/NE18 0AY") NE18 0AY
  li
    a(href="/NE18 0AZ") NE18 0AZ
  li
    a(href="/NE18 0BA") NE18 0BA
  li
    a(href="/NE18 0BB") NE18 0BB
  li
    a(href="/NE18 0BD") NE18 0BD
  li
    a(href="/NE18 0BG") NE18 0BG
  li
    a(href="/NE18 0BH") NE18 0BH
  li
    a(href="/NE18 0BJ") NE18 0BJ
  li
    a(href="/NE18 0BL") NE18 0BL
  li
    a(href="/NE18 0BN") NE18 0BN
  li
    a(href="/NE18 0BP") NE18 0BP
  li
    a(href="/NE18 0BQ") NE18 0BQ
  li
    a(href="/NE18 0BW") NE18 0BW
  li
    a(href="/NE18 0DE") NE18 0DE
  li
    a(href="/NE18 0DF") NE18 0DF
  li
    a(href="/NE18 0LA") NE18 0LA
  li
    a(href="/NE18 0LD") NE18 0LD
  li
    a(href="/NE18 0LE") NE18 0LE
  li
    a(href="/NE18 0LF") NE18 0LF
  li
    a(href="/NE18 0LG") NE18 0LG
  li
    a(href="/NE18 0LH") NE18 0LH
  li
    a(href="/NE18 0LJ") NE18 0LJ
  li
    a(href="/NE18 0LL") NE18 0LL
  li
    a(href="/NE18 0LN") NE18 0LN
  li
    a(href="/NE18 0LQ") NE18 0LQ
  li
    a(href="/NE18 0NA") NE18 0NA
  li
    a(href="/NE18 0NB") NE18 0NB
  li
    a(href="/NE18 0ND") NE18 0ND
  li
    a(href="/NE18 0NE") NE18 0NE
  li
    a(href="/NE18 0NF") NE18 0NF
  li
    a(href="/NE18 0NG") NE18 0NG
  li
    a(href="/NE18 0NH") NE18 0NH
  li
    a(href="/NE18 0NQ") NE18 0NQ
  li
    a(href="/NE18 0PB") NE18 0PB
  li
    a(href="/NE18 0PD") NE18 0PD
  li
    a(href="/NE18 0PE") NE18 0PE
  li
    a(href="/NE18 0PF") NE18 0PF
  li
    a(href="/NE18 0PG") NE18 0PG
  li
    a(href="/NE18 0PJ") NE18 0PJ
  li
    a(href="/NE18 0PL") NE18 0PL
  li
    a(href="/NE18 0PN") NE18 0PN
  li
    a(href="/NE18 0PQ") NE18 0PQ
  li
    a(href="/NE18 0PS") NE18 0PS
  li
    a(href="/NE18 0PT") NE18 0PT
  li
    a(href="/NE18 0PU") NE18 0PU
  li
    a(href="/NE18 0PX") NE18 0PX
  li
    a(href="/NE18 0QG") NE18 0QG
  li
    a(href="/NE18 0QH") NE18 0QH
  li
    a(href="/NE18 0QJ") NE18 0QJ
  li
    a(href="/NE18 0QL") NE18 0QL
  li
    a(href="/NE18 0QN") NE18 0QN
  li
    a(href="/NE18 0QP") NE18 0QP
  li
    a(href="/NE18 0QQ") NE18 0QQ
  li
    a(href="/NE18 0QR") NE18 0QR
  li
    a(href="/NE18 0QS") NE18 0QS
  li
    a(href="/NE18 0QT") NE18 0QT
  li
    a(href="/NE18 0QU") NE18 0QU
  li
    a(href="/NE18 0QW") NE18 0QW
  li
    a(href="/NE18 0QX") NE18 0QX
