ul.locations
  li
    a(href="/NE69 7AB") NE69 7AB
  li
    a(href="/NE69 7AE") NE69 7AE
  li
    a(href="/NE69 7AG") NE69 7AG
  li
    a(href="/NE69 7AH") NE69 7AH
  li
    a(href="/NE69 7AJ") NE69 7AJ
  li
    a(href="/NE69 7AL") NE69 7AL
  li
    a(href="/NE69 7AN") NE69 7AN
  li
    a(href="/NE69 7AP") NE69 7AP
  li
    a(href="/NE69 7AQ") NE69 7AQ
  li
    a(href="/NE69 7AR") NE69 7AR
  li
    a(href="/NE69 7AS") NE69 7AS
  li
    a(href="/NE69 7AT") NE69 7AT
  li
    a(href="/NE69 7AU") NE69 7AU
  li
    a(href="/NE69 7AW") NE69 7AW
  li
    a(href="/NE69 7AX") NE69 7AX
  li
    a(href="/NE69 7AY") NE69 7AY
  li
    a(href="/NE69 7AZ") NE69 7AZ
  li
    a(href="/NE69 7BA") NE69 7BA
  li
    a(href="/NE69 7BG") NE69 7BG
  li
    a(href="/NE69 7BJ") NE69 7BJ
  li
    a(href="/NE69 7BL") NE69 7BL
  li
    a(href="/NE69 7BN") NE69 7BN
  li
    a(href="/NE69 7BP") NE69 7BP
  li
    a(href="/NE69 7BQ") NE69 7BQ
  li
    a(href="/NE69 7BS") NE69 7BS
  li
    a(href="/NE69 7BT") NE69 7BT
  li
    a(href="/NE69 7BU") NE69 7BU
  li
    a(href="/NE69 7BW") NE69 7BW
  li
    a(href="/NE69 7BX") NE69 7BX
  li
    a(href="/NE69 7BY") NE69 7BY
  li
    a(href="/NE69 7DB") NE69 7DB
  li
    a(href="/NE69 7DD") NE69 7DD
  li
    a(href="/NE69 7DE") NE69 7DE
  li
    a(href="/NE69 7DF") NE69 7DF
  li
    a(href="/NE69 7DG") NE69 7DG
