ul.locations
  li
    a(href="/browse/England/NE1") NE1
  li
    a(href="/browse/England/NE13") NE13
  li
    a(href="/browse/England/NE15") NE15
  li
    a(href="/browse/England/NE2") NE2
  li
    a(href="/browse/England/NE3") NE3
  li
    a(href="/browse/England/NE4") NE4
  li
    a(href="/browse/England/NE5") NE5
  li
    a(href="/browse/England/NE6") NE6
  li
    a(href="/browse/England/NE7") NE7
  li
    a(href="/browse/England/NE99") NE99
