ul.locations
  li
    a(href="/browse/England/IP20") IP20
  li
    a(href="/browse/England/IP24") IP24
  li
    a(href="/browse/England/IP25") IP25
  li
    a(href="/browse/England/IP26") IP26
  li
    a(href="/browse/England/NR1") NR1
  li
    a(href="/browse/England/NR10") NR10
  li
    a(href="/browse/England/NR11") NR11
  li
    a(href="/browse/England/NR12") NR12
  li
    a(href="/browse/England/NR13") NR13
  li
    a(href="/browse/England/NR14") NR14
  li
    a(href="/browse/England/NR15") NR15
  li
    a(href="/browse/England/NR16") NR16
  li
    a(href="/browse/England/NR17") NR17
  li
    a(href="/browse/England/NR18") NR18
  li
    a(href="/browse/England/NR19") NR19
  li
    a(href="/browse/England/NR2") NR2
  li
    a(href="/browse/England/NR20") NR20
  li
    a(href="/browse/England/NR21") NR21
  li
    a(href="/browse/England/NR22") NR22
  li
    a(href="/browse/England/NR23") NR23
  li
    a(href="/browse/England/NR24") NR24
  li
    a(href="/browse/England/NR25") NR25
  li
    a(href="/browse/England/NR26") NR26
  li
    a(href="/browse/England/NR27") NR27
  li
    a(href="/browse/England/NR28") NR28
  li
    a(href="/browse/England/NR29") NR29
  li
    a(href="/browse/England/NR3") NR3
  li
    a(href="/browse/England/NR30") NR30
  li
    a(href="/browse/England/NR31") NR31
  li
    a(href="/browse/England/NR4") NR4
  li
    a(href="/browse/England/NR5") NR5
  li
    a(href="/browse/England/NR6") NR6
  li
    a(href="/browse/England/NR8") NR8
  li
    a(href="/browse/England/NR9") NR9
  li
    a(href="/browse/England/PE14") PE14
  li
    a(href="/browse/England/PE30") PE30
  li
    a(href="/browse/England/PE31") PE31
  li
    a(href="/browse/England/PE32") PE32
  li
    a(href="/browse/England/PE33") PE33
  li
    a(href="/browse/England/PE34") PE34
  li
    a(href="/browse/England/PE35") PE35
  li
    a(href="/browse/England/PE36") PE36
  li
    a(href="/browse/England/PE37") PE37
  li
    a(href="/browse/England/PE38") PE38
