ul.locations
  li
    a(href="/browse/England/BD23") BD23
  li
    a(href="/browse/England/BD24") BD24
  li
    a(href="/browse/England/DL10") DL10
  li
    a(href="/browse/England/DL11") DL11
  li
    a(href="/browse/England/DL6") DL6
  li
    a(href="/browse/England/DL7") DL7
  li
    a(href="/browse/England/DL8") DL8
  li
    a(href="/browse/England/DL9") DL9
  li
    a(href="/browse/England/HG1") HG1
  li
    a(href="/browse/England/HG2") HG2
  li
    a(href="/browse/England/HG3") HG3
  li
    a(href="/browse/England/HG4") HG4
  li
    a(href="/browse/England/HG5") HG5
  li
    a(href="/browse/England/LS24") LS24
  li
    a(href="/browse/England/TS9") TS9
  li
    a(href="/browse/England/YO11") YO11
  li
    a(href="/browse/England/YO12") YO12
  li
    a(href="/browse/England/YO13") YO13
  li
    a(href="/browse/England/YO14") YO14
  li
    a(href="/browse/England/YO17") YO17
  li
    a(href="/browse/England/YO18") YO18
  li
    a(href="/browse/England/YO21") YO21
  li
    a(href="/browse/England/YO22") YO22
  li
    a(href="/browse/England/YO51") YO51
  li
    a(href="/browse/England/YO60") YO60
  li
    a(href="/browse/England/YO61") YO61
  li
    a(href="/browse/England/YO62") YO62
  li
    a(href="/browse/England/YO7") YO7
  li
    a(href="/browse/England/YO8") YO8
