ul.locations
  li
    a(href="/browse/England/NE12") NE12
  li
    a(href="/browse/England/NE25") NE25
  li
    a(href="/browse/England/NE26") NE26
  li
    a(href="/browse/England/NE27") NE27
  li
    a(href="/browse/England/NE28") NE28
  li
    a(href="/browse/England/NE29") NE29
  li
    a(href="/browse/England/NE30") NE30
