ul.locations
  li
    a(href="/browse/England/LE16") LE16
  li
    a(href="/browse/England/MK19") MK19
  li
    a(href="/browse/England/NN1") NN1
  li
    a(href="/browse/England/NN10") NN10
  li
    a(href="/browse/England/NN11") NN11
  li
    a(href="/browse/England/NN12") NN12
  li
    a(href="/browse/England/NN13") NN13
  li
    a(href="/browse/England/NN14") NN14
  li
    a(href="/browse/England/NN15") NN15
  li
    a(href="/browse/England/NN16") NN16
  li
    a(href="/browse/England/NN17") NN17
  li
    a(href="/browse/England/NN18") NN18
  li
    a(href="/browse/England/NN2") NN2
  li
    a(href="/browse/England/NN29") NN29
  li
    a(href="/browse/England/NN3") NN3
  li
    a(href="/browse/England/NN4") NN4
  li
    a(href="/browse/England/NN5") NN5
  li
    a(href="/browse/England/NN6") NN6
  li
    a(href="/browse/England/NN7") NN7
  li
    a(href="/browse/England/NN8") NN8
  li
    a(href="/browse/England/NN9") NN9
  li
    a(href="/browse/England/OX17") OX17
  li
    a(href="/browse/England/PE8") PE8
