ul.locations
  li
    a(href="/browse/England/NE18") NE18
  li
    a(href="/browse/England/NE19") NE19
  li
    a(href="/browse/England/NE20") NE20
  li
    a(href="/browse/England/NE22") NE22
  li
    a(href="/browse/England/NE23") NE23
  li
    a(href="/browse/England/NE24") NE24
  li
    a(href="/browse/England/NE41") NE41
  li
    a(href="/browse/England/NE42") NE42
  li
    a(href="/browse/England/NE43") NE43
  li
    a(href="/browse/England/NE44") NE44
  li
    a(href="/browse/England/NE45") NE45
  li
    a(href="/browse/England/NE46") NE46
  li
    a(href="/browse/England/NE47") NE47
  li
    a(href="/browse/England/NE48") NE48
  li
    a(href="/browse/England/NE49") NE49
  li
    a(href="/browse/England/NE61") NE61
  li
    a(href="/browse/England/NE62") NE62
  li
    a(href="/browse/England/NE63") NE63
  li
    a(href="/browse/England/NE64") NE64
  li
    a(href="/browse/England/NE65") NE65
  li
    a(href="/browse/England/NE66") NE66
  li
    a(href="/browse/England/NE67") NE67
  li
    a(href="/browse/England/NE68") NE68
  li
    a(href="/browse/England/NE69") NE69
  li
    a(href="/browse/England/NE70") NE70
  li
    a(href="/browse/England/NE71") NE71
