ul.locations
  li
    a(href="/browse/England/BS20") BS20
  li
    a(href="/browse/England/BS21") BS21
  li
    a(href="/browse/England/BS22") BS22
  li
    a(href="/browse/England/BS23") BS23
  li
    a(href="/browse/England/BS24") BS24
  li
    a(href="/browse/England/BS25") BS25
  li
    a(href="/browse/England/BS29") BS29
  li
    a(href="/browse/England/BS41") BS41
  li
    a(href="/browse/England/BS48") BS48
  li
    a(href="/browse/England/BS49") BS49
