ul.locations
  li
    a(href="/browse/England/DN10") DN10
  li
    a(href="/browse/England/DN22") DN22
  li
    a(href="/browse/England/NG12") NG12
  li
    a(href="/browse/England/NG13") NG13
  li
    a(href="/browse/England/NG14") NG14
  li
    a(href="/browse/England/NG15") NG15
  li
    a(href="/browse/England/NG16") NG16
  li
    a(href="/browse/England/NG17") NG17
  li
    a(href="/browse/England/NG18") NG18
  li
    a(href="/browse/England/NG19") NG19
  li
    a(href="/browse/England/NG2") NG2
  li
    a(href="/browse/England/NG20") NG20
  li
    a(href="/browse/England/NG21") NG21
  li
    a(href="/browse/England/NG22") NG22
  li
    a(href="/browse/England/NG23") NG23
  li
    a(href="/browse/England/NG24") NG24
  li
    a(href="/browse/England/NG25") NG25
  li
    a(href="/browse/England/NG4") NG4
  li
    a(href="/browse/England/NG9") NG9
  li
    a(href="/browse/England/S80") S80
  li
    a(href="/browse/England/S81") S81
