ul.locations
  li
    a(href="/browse/England/NG1") NG1
  li
    a(href="/browse/England/NG11") NG11
  li
    a(href="/browse/England/NG3") NG3
  li
    a(href="/browse/England/NG5") NG5
  li
    a(href="/browse/England/NG6") NG6
  li
    a(href="/browse/England/NG7") NG7
  li
    a(href="/browse/England/NG8") NG8
