ul.locations
  li
    a(href="/browse/England/OX1") OX1
  li
    a(href="/browse/England/OX10") OX10
  li
    a(href="/browse/England/OX11") OX11
  li
    a(href="/browse/England/OX12") OX12
  li
    a(href="/browse/England/OX13") OX13
  li
    a(href="/browse/England/OX14") OX14
  li
    a(href="/browse/England/OX15") OX15
  li
    a(href="/browse/England/OX16") OX16
  li
    a(href="/browse/England/OX18") OX18
  li
    a(href="/browse/England/OX2") OX2
  li
    a(href="/browse/England/OX20") OX20
  li
    a(href="/browse/England/OX25") OX25
  li
    a(href="/browse/England/OX26") OX26
  li
    a(href="/browse/England/OX27") OX27
  li
    a(href="/browse/England/OX28") OX28
  li
    a(href="/browse/England/OX29") OX29
  li
    a(href="/browse/England/OX3") OX3
  li
    a(href="/browse/England/OX33") OX33
  li
    a(href="/browse/England/OX39") OX39
  li
    a(href="/browse/England/OX4") OX4
  li
    a(href="/browse/England/OX44") OX44
  li
    a(href="/browse/England/OX49") OX49
  li
    a(href="/browse/England/OX5") OX5
  li
    a(href="/browse/England/OX7") OX7
  li
    a(href="/browse/England/OX9") OX9
  li
    a(href="/browse/England/RG8") RG8
  li
    a(href="/browse/England/RG9") RG9
  li
    a(href="/browse/England/SN7") SN7
