ul.locations
  li
    a(href="/PE35 6EA") PE35 6EA
  li
    a(href="/PE35 6EB") PE35 6EB
  li
    a(href="/PE35 6ED") PE35 6ED
  li
    a(href="/PE35 6EE") PE35 6EE
  li
    a(href="/PE35 6EF") PE35 6EF
  li
    a(href="/PE35 6EG") PE35 6EG
  li
    a(href="/PE35 6EH") PE35 6EH
  li
    a(href="/PE35 6EJ") PE35 6EJ
  li
    a(href="/PE35 6EN") PE35 6EN
  li
    a(href="/PE35 6EP") PE35 6EP
  li
    a(href="/PE35 6EQ") PE35 6EQ
  li
    a(href="/PE35 6EZ") PE35 6EZ
