ul.locations
  li
    a(href="/browse/England/PE1") PE1
  li
    a(href="/browse/England/PE2") PE2
  li
    a(href="/browse/England/PE3") PE3
  li
    a(href="/browse/England/PE4") PE4
  li
    a(href="/browse/England/PE5") PE5
