ul.locations
  li
    a(href="/PL16 0AA") PL16 0AA
  li
    a(href="/PL16 0AB") PL16 0AB
  li
    a(href="/PL16 0AD") PL16 0AD
  li
    a(href="/PL16 0AE") PL16 0AE
  li
    a(href="/PL16 0AF") PL16 0AF
  li
    a(href="/PL16 0AG") PL16 0AG
  li
    a(href="/PL16 0AH") PL16 0AH
  li
    a(href="/PL16 0AJ") PL16 0AJ
  li
    a(href="/PL16 0AL") PL16 0AL
  li
    a(href="/PL16 0AN") PL16 0AN
  li
    a(href="/PL16 0AP") PL16 0AP
  li
    a(href="/PL16 0AQ") PL16 0AQ
  li
    a(href="/PL16 0AR") PL16 0AR
  li
    a(href="/PL16 0AS") PL16 0AS
  li
    a(href="/PL16 0AT") PL16 0AT
  li
    a(href="/PL16 0AU") PL16 0AU
  li
    a(href="/PL16 0AW") PL16 0AW
  li
    a(href="/PL16 0AX") PL16 0AX
  li
    a(href="/PL16 0AY") PL16 0AY
  li
    a(href="/PL16 0AZ") PL16 0AZ
  li
    a(href="/PL16 0BA") PL16 0BA
  li
    a(href="/PL16 0BB") PL16 0BB
  li
    a(href="/PL16 0BD") PL16 0BD
  li
    a(href="/PL16 0BE") PL16 0BE
  li
    a(href="/PL16 0BG") PL16 0BG
  li
    a(href="/PL16 0BH") PL16 0BH
  li
    a(href="/PL16 0BJ") PL16 0BJ
  li
    a(href="/PL16 0BL") PL16 0BL
  li
    a(href="/PL16 0BN") PL16 0BN
  li
    a(href="/PL16 0BP") PL16 0BP
  li
    a(href="/PL16 0BS") PL16 0BS
  li
    a(href="/PL16 0BT") PL16 0BT
  li
    a(href="/PL16 0BU") PL16 0BU
  li
    a(href="/PL16 0BW") PL16 0BW
  li
    a(href="/PL16 0BX") PL16 0BX
  li
    a(href="/PL16 0BZ") PL16 0BZ
  li
    a(href="/PL16 0DA") PL16 0DA
  li
    a(href="/PL16 0DB") PL16 0DB
  li
    a(href="/PL16 0DD") PL16 0DD
  li
    a(href="/PL16 0DE") PL16 0DE
  li
    a(href="/PL16 0DF") PL16 0DF
  li
    a(href="/PL16 0DG") PL16 0DG
  li
    a(href="/PL16 0DN") PL16 0DN
  li
    a(href="/PL16 0DP") PL16 0DP
  li
    a(href="/PL16 0DQ") PL16 0DQ
  li
    a(href="/PL16 0DR") PL16 0DR
  li
    a(href="/PL16 0DS") PL16 0DS
  li
    a(href="/PL16 0DT") PL16 0DT
  li
    a(href="/PL16 0DU") PL16 0DU
  li
    a(href="/PL16 0DW") PL16 0DW
  li
    a(href="/PL16 0DX") PL16 0DX
  li
    a(href="/PL16 0DY") PL16 0DY
  li
    a(href="/PL16 0DZ") PL16 0DZ
  li
    a(href="/PL16 0EA") PL16 0EA
  li
    a(href="/PL16 0EB") PL16 0EB
  li
    a(href="/PL16 0ED") PL16 0ED
  li
    a(href="/PL16 0EE") PL16 0EE
  li
    a(href="/PL16 0EH") PL16 0EH
  li
    a(href="/PL16 0EL") PL16 0EL
  li
    a(href="/PL16 0EN") PL16 0EN
  li
    a(href="/PL16 0EP") PL16 0EP
  li
    a(href="/PL16 0ER") PL16 0ER
  li
    a(href="/PL16 0ES") PL16 0ES
  li
    a(href="/PL16 0ET") PL16 0ET
  li
    a(href="/PL16 0EU") PL16 0EU
  li
    a(href="/PL16 0EW") PL16 0EW
  li
    a(href="/PL16 0EX") PL16 0EX
  li
    a(href="/PL16 0HA") PL16 0HA
  li
    a(href="/PL16 0HB") PL16 0HB
  li
    a(href="/PL16 0HD") PL16 0HD
  li
    a(href="/PL16 0HE") PL16 0HE
  li
    a(href="/PL16 0HF") PL16 0HF
  li
    a(href="/PL16 0HG") PL16 0HG
  li
    a(href="/PL16 0HH") PL16 0HH
  li
    a(href="/PL16 0HJ") PL16 0HJ
  li
    a(href="/PL16 0HL") PL16 0HL
  li
    a(href="/PL16 0HN") PL16 0HN
  li
    a(href="/PL16 0HP") PL16 0HP
  li
    a(href="/PL16 0HQ") PL16 0HQ
  li
    a(href="/PL16 0HR") PL16 0HR
  li
    a(href="/PL16 0HS") PL16 0HS
  li
    a(href="/PL16 0HT") PL16 0HT
  li
    a(href="/PL16 0HU") PL16 0HU
  li
    a(href="/PL16 0HX") PL16 0HX
  li
    a(href="/PL16 0HY") PL16 0HY
  li
    a(href="/PL16 0HZ") PL16 0HZ
  li
    a(href="/PL16 0JA") PL16 0JA
  li
    a(href="/PL16 0JB") PL16 0JB
  li
    a(href="/PL16 0JD") PL16 0JD
  li
    a(href="/PL16 0JE") PL16 0JE
  li
    a(href="/PL16 0JF") PL16 0JF
  li
    a(href="/PL16 0JG") PL16 0JG
  li
    a(href="/PL16 0JH") PL16 0JH
  li
    a(href="/PL16 0JJ") PL16 0JJ
  li
    a(href="/PL16 0JL") PL16 0JL
  li
    a(href="/PL16 0JP") PL16 0JP
  li
    a(href="/PL16 0JR") PL16 0JR
  li
    a(href="/PL16 0JS") PL16 0JS
  li
    a(href="/PL16 0JT") PL16 0JT
  li
    a(href="/PL16 0LA") PL16 0LA
  li
    a(href="/PL16 0LB") PL16 0LB
  li
    a(href="/PL16 0LD") PL16 0LD
  li
    a(href="/PL16 0RL") PL16 0RL
  li
    a(href="/PL16 0SW") PL16 0SW
  li
    a(href="/PL16 0WU") PL16 0WU
  li
    a(href="/PL16 0XZ") PL16 0XZ
