ul.locations
  li
    a(href="/PL29 3AB") PL29 3AB
  li
    a(href="/PL29 3AD") PL29 3AD
  li
    a(href="/PL29 3RA") PL29 3RA
  li
    a(href="/PL29 3RB") PL29 3RB
  li
    a(href="/PL29 3RD") PL29 3RD
  li
    a(href="/PL29 3RE") PL29 3RE
  li
    a(href="/PL29 3RF") PL29 3RF
  li
    a(href="/PL29 3RG") PL29 3RG
  li
    a(href="/PL29 3RH") PL29 3RH
  li
    a(href="/PL29 3RJ") PL29 3RJ
  li
    a(href="/PL29 3RL") PL29 3RL
  li
    a(href="/PL29 3RN") PL29 3RN
  li
    a(href="/PL29 3RP") PL29 3RP
  li
    a(href="/PL29 3RQ") PL29 3RQ
  li
    a(href="/PL29 3RR") PL29 3RR
  li
    a(href="/PL29 3RS") PL29 3RS
  li
    a(href="/PL29 3RT") PL29 3RT
  li
    a(href="/PL29 3RU") PL29 3RU
  li
    a(href="/PL29 3RW") PL29 3RW
  li
    a(href="/PL29 3RX") PL29 3RX
  li
    a(href="/PL29 3RZ") PL29 3RZ
  li
    a(href="/PL29 3SA") PL29 3SA
  li
    a(href="/PL29 3SB") PL29 3SB
  li
    a(href="/PL29 3SD") PL29 3SD
  li
    a(href="/PL29 3SE") PL29 3SE
  li
    a(href="/PL29 3SG") PL29 3SG
  li
    a(href="/PL29 3SH") PL29 3SH
  li
    a(href="/PL29 3SJ") PL29 3SJ
  li
    a(href="/PL29 3SL") PL29 3SL
  li
    a(href="/PL29 3SN") PL29 3SN
  li
    a(href="/PL29 3SP") PL29 3SP
  li
    a(href="/PL29 3SQ") PL29 3SQ
  li
    a(href="/PL29 3SR") PL29 3SR
  li
    a(href="/PL29 3SS") PL29 3SS
  li
    a(href="/PL29 3ST") PL29 3ST
  li
    a(href="/PL29 3SU") PL29 3SU
  li
    a(href="/PL29 3SX") PL29 3SX
  li
    a(href="/PL29 3SY") PL29 3SY
  li
    a(href="/PL29 3SZ") PL29 3SZ
  li
    a(href="/PL29 3TA") PL29 3TA
  li
    a(href="/PL29 3TB") PL29 3TB
  li
    a(href="/PL29 3TE") PL29 3TE
  li
    a(href="/PL29 3TF") PL29 3TF
  li
    a(href="/PL29 3TG") PL29 3TG
  li
    a(href="/PL29 3TH") PL29 3TH
  li
    a(href="/PL29 3TJ") PL29 3TJ
  li
    a(href="/PL29 3TL") PL29 3TL
  li
    a(href="/PL29 3TN") PL29 3TN
  li
    a(href="/PL29 3TP") PL29 3TP
  li
    a(href="/PL29 3TQ") PL29 3TQ
  li
    a(href="/PL29 3TR") PL29 3TR
  li
    a(href="/PL29 3TS") PL29 3TS
  li
    a(href="/PL29 3TT") PL29 3TT
  li
    a(href="/PL29 3TU") PL29 3TU
  li
    a(href="/PL29 3TW") PL29 3TW
  li
    a(href="/PL29 3TX") PL29 3TX
  li
    a(href="/PL29 3TY") PL29 3TY
