ul.locations
  li
    a(href="/PL34 0AA") PL34 0AA
  li
    a(href="/PL34 0AB") PL34 0AB
  li
    a(href="/PL34 0AD") PL34 0AD
  li
    a(href="/PL34 0AE") PL34 0AE
  li
    a(href="/PL34 0AG") PL34 0AG
  li
    a(href="/PL34 0AH") PL34 0AH
  li
    a(href="/PL34 0AJ") PL34 0AJ
  li
    a(href="/PL34 0AL") PL34 0AL
  li
    a(href="/PL34 0AN") PL34 0AN
  li
    a(href="/PL34 0AP") PL34 0AP
  li
    a(href="/PL34 0AQ") PL34 0AQ
  li
    a(href="/PL34 0AR") PL34 0AR
  li
    a(href="/PL34 0AS") PL34 0AS
  li
    a(href="/PL34 0AT") PL34 0AT
  li
    a(href="/PL34 0AU") PL34 0AU
  li
    a(href="/PL34 0AW") PL34 0AW
  li
    a(href="/PL34 0AX") PL34 0AX
  li
    a(href="/PL34 0AY") PL34 0AY
  li
    a(href="/PL34 0AZ") PL34 0AZ
  li
    a(href="/PL34 0BA") PL34 0BA
  li
    a(href="/PL34 0BB") PL34 0BB
  li
    a(href="/PL34 0BD") PL34 0BD
  li
    a(href="/PL34 0BE") PL34 0BE
  li
    a(href="/PL34 0BG") PL34 0BG
  li
    a(href="/PL34 0BH") PL34 0BH
  li
    a(href="/PL34 0BP") PL34 0BP
  li
    a(href="/PL34 0BQ") PL34 0BQ
  li
    a(href="/PL34 0BS") PL34 0BS
  li
    a(href="/PL34 0BT") PL34 0BT
  li
    a(href="/PL34 0BU") PL34 0BU
  li
    a(href="/PL34 0BX") PL34 0BX
  li
    a(href="/PL34 0BY") PL34 0BY
  li
    a(href="/PL34 0BZ") PL34 0BZ
  li
    a(href="/PL34 0DA") PL34 0DA
  li
    a(href="/PL34 0DB") PL34 0DB
  li
    a(href="/PL34 0DD") PL34 0DD
  li
    a(href="/PL34 0DE") PL34 0DE
  li
    a(href="/PL34 0DF") PL34 0DF
  li
    a(href="/PL34 0DH") PL34 0DH
  li
    a(href="/PL34 0DJ") PL34 0DJ
  li
    a(href="/PL34 0DL") PL34 0DL
  li
    a(href="/PL34 0DN") PL34 0DN
  li
    a(href="/PL34 0DP") PL34 0DP
  li
    a(href="/PL34 0DQ") PL34 0DQ
  li
    a(href="/PL34 0DR") PL34 0DR
  li
    a(href="/PL34 0DS") PL34 0DS
  li
    a(href="/PL34 0DT") PL34 0DT
  li
    a(href="/PL34 0DU") PL34 0DU
  li
    a(href="/PL34 0DW") PL34 0DW
  li
    a(href="/PL34 0DX") PL34 0DX
  li
    a(href="/PL34 0DY") PL34 0DY
  li
    a(href="/PL34 0DZ") PL34 0DZ
  li
    a(href="/PL34 0EA") PL34 0EA
  li
    a(href="/PL34 0EB") PL34 0EB
  li
    a(href="/PL34 0ED") PL34 0ED
  li
    a(href="/PL34 0EE") PL34 0EE
  li
    a(href="/PL34 0EF") PL34 0EF
  li
    a(href="/PL34 0EH") PL34 0EH
  li
    a(href="/PL34 0EJ") PL34 0EJ
  li
    a(href="/PL34 0EL") PL34 0EL
  li
    a(href="/PL34 0EN") PL34 0EN
  li
    a(href="/PL34 0EP") PL34 0EP
  li
    a(href="/PL34 0ER") PL34 0ER
  li
    a(href="/PL34 0ES") PL34 0ES
  li
    a(href="/PL34 0ET") PL34 0ET
  li
    a(href="/PL34 0EU") PL34 0EU
  li
    a(href="/PL34 0EW") PL34 0EW
  li
    a(href="/PL34 0EX") PL34 0EX
  li
    a(href="/PL34 0EY") PL34 0EY
  li
    a(href="/PL34 0HB") PL34 0HB
  li
    a(href="/PL34 0HD") PL34 0HD
  li
    a(href="/PL34 0HE") PL34 0HE
  li
    a(href="/PL34 0HH") PL34 0HH
  li
    a(href="/PL34 0HJ") PL34 0HJ
  li
    a(href="/PL34 0HL") PL34 0HL
  li
    a(href="/PL34 0HN") PL34 0HN
  li
    a(href="/PL34 0HP") PL34 0HP
  li
    a(href="/PL34 0HR") PL34 0HR
  li
    a(href="/PL34 0HW") PL34 0HW
