ul.locations
  li
    a(href="/PL35 0AA") PL35 0AA
  li
    a(href="/PL35 0AB") PL35 0AB
  li
    a(href="/PL35 0AD") PL35 0AD
  li
    a(href="/PL35 0AE") PL35 0AE
  li
    a(href="/PL35 0AG") PL35 0AG
  li
    a(href="/PL35 0AH") PL35 0AH
  li
    a(href="/PL35 0AJ") PL35 0AJ
  li
    a(href="/PL35 0AL") PL35 0AL
  li
    a(href="/PL35 0AN") PL35 0AN
  li
    a(href="/PL35 0AP") PL35 0AP
  li
    a(href="/PL35 0AQ") PL35 0AQ
  li
    a(href="/PL35 0AR") PL35 0AR
  li
    a(href="/PL35 0AS") PL35 0AS
  li
    a(href="/PL35 0AT") PL35 0AT
  li
    a(href="/PL35 0AU") PL35 0AU
  li
    a(href="/PL35 0AW") PL35 0AW
  li
    a(href="/PL35 0AX") PL35 0AX
  li
    a(href="/PL35 0AZ") PL35 0AZ
  li
    a(href="/PL35 0BA") PL35 0BA
  li
    a(href="/PL35 0BD") PL35 0BD
  li
    a(href="/PL35 0BE") PL35 0BE
  li
    a(href="/PL35 0BG") PL35 0BG
  li
    a(href="/PL35 0BH") PL35 0BH
  li
    a(href="/PL35 0BJ") PL35 0BJ
  li
    a(href="/PL35 0BL") PL35 0BL
  li
    a(href="/PL35 0BN") PL35 0BN
  li
    a(href="/PL35 0BP") PL35 0BP
  li
    a(href="/PL35 0BQ") PL35 0BQ
  li
    a(href="/PL35 0BS") PL35 0BS
  li
    a(href="/PL35 0BT") PL35 0BT
  li
    a(href="/PL35 0BU") PL35 0BU
  li
    a(href="/PL35 0BW") PL35 0BW
  li
    a(href="/PL35 0BX") PL35 0BX
  li
    a(href="/PL35 0BY") PL35 0BY
  li
    a(href="/PL35 0BZ") PL35 0BZ
  li
    a(href="/PL35 0DA") PL35 0DA
  li
    a(href="/PL35 0DH") PL35 0DH
  li
    a(href="/PL35 0DJ") PL35 0DJ
  li
    a(href="/PL35 0DL") PL35 0DL
  li
    a(href="/PL35 0DN") PL35 0DN
  li
    a(href="/PL35 0DP") PL35 0DP
  li
    a(href="/PL35 0DR") PL35 0DR
  li
    a(href="/PL35 0DS") PL35 0DS
  li
    a(href="/PL35 0DT") PL35 0DT
  li
    a(href="/PL35 0DU") PL35 0DU
  li
    a(href="/PL35 0DW") PL35 0DW
  li
    a(href="/PL35 0DX") PL35 0DX
  li
    a(href="/PL35 0DY") PL35 0DY
  li
    a(href="/PL35 0DZ") PL35 0DZ
  li
    a(href="/PL35 0EA") PL35 0EA
  li
    a(href="/PL35 0EB") PL35 0EB
  li
    a(href="/PL35 0ED") PL35 0ED
  li
    a(href="/PL35 0EE") PL35 0EE
  li
    a(href="/PL35 0EF") PL35 0EF
  li
    a(href="/PL35 0EG") PL35 0EG
  li
    a(href="/PL35 0EH") PL35 0EH
  li
    a(href="/PL35 0EJ") PL35 0EJ
  li
    a(href="/PL35 0EL") PL35 0EL
  li
    a(href="/PL35 0EN") PL35 0EN
  li
    a(href="/PL35 0EP") PL35 0EP
  li
    a(href="/PL35 0EQ") PL35 0EQ
  li
    a(href="/PL35 0EW") PL35 0EW
  li
    a(href="/PL35 0EZ") PL35 0EZ
  li
    a(href="/PL35 0HA") PL35 0HA
  li
    a(href="/PL35 0HB") PL35 0HB
  li
    a(href="/PL35 0HD") PL35 0HD
  li
    a(href="/PL35 0HE") PL35 0HE
  li
    a(href="/PL35 0HF") PL35 0HF
  li
    a(href="/PL35 0HG") PL35 0HG
  li
    a(href="/PL35 0HH") PL35 0HH
  li
    a(href="/PL35 0HJ") PL35 0HJ
  li
    a(href="/PL35 0HL") PL35 0HL
  li
    a(href="/PL35 0HN") PL35 0HN
  li
    a(href="/PL35 0HP") PL35 0HP
  li
    a(href="/PL35 0HQ") PL35 0HQ
  li
    a(href="/PL35 0HR") PL35 0HR
  li
    a(href="/PL35 0HS") PL35 0HS
  li
    a(href="/PL35 0HT") PL35 0HT
