ul.locations
  li
    a(href="/browse/England/RG1") RG1
  li
    a(href="/browse/England/RG2") RG2
  li
    a(href="/browse/England/RG30") RG30
  li
    a(href="/browse/England/RG31") RG31
  li
    a(href="/browse/England/RG4") RG4
