ul.locations
  li
    a(href="/browse/England/S25") S25
  li
    a(href="/browse/England/S26") S26
  li
    a(href="/browse/England/S60") S60
  li
    a(href="/browse/England/S61") S61
  li
    a(href="/browse/England/S62") S62
  li
    a(href="/browse/England/S64") S64
  li
    a(href="/browse/England/S65") S65
  li
    a(href="/browse/England/S66") S66
