ul.locations
  li
    a(href="/S32 1AA") S32 1AA
  li
    a(href="/S32 1AD") S32 1AD
  li
    a(href="/S32 1AE") S32 1AE
  li
    a(href="/S32 1AF") S32 1AF
  li
    a(href="/S32 1AG") S32 1AG
  li
    a(href="/S32 1AH") S32 1AH
  li
    a(href="/S32 1AJ") S32 1AJ
  li
    a(href="/S32 1AL") S32 1AL
  li
    a(href="/S32 1AN") S32 1AN
  li
    a(href="/S32 1AP") S32 1AP
  li
    a(href="/S32 1AQ") S32 1AQ
  li
    a(href="/S32 1AR") S32 1AR
  li
    a(href="/S32 1AS") S32 1AS
  li
    a(href="/S32 1AT") S32 1AT
  li
    a(href="/S32 1AU") S32 1AU
  li
    a(href="/S32 1AW") S32 1AW
  li
    a(href="/S32 1AX") S32 1AX
  li
    a(href="/S32 1AY") S32 1AY
  li
    a(href="/S32 1AZ") S32 1AZ
  li
    a(href="/S32 1BA") S32 1BA
  li
    a(href="/S32 1BB") S32 1BB
  li
    a(href="/S32 1BD") S32 1BD
  li
    a(href="/S32 1BE") S32 1BE
  li
    a(href="/S32 1BG") S32 1BG
  li
    a(href="/S32 1BH") S32 1BH
  li
    a(href="/S32 1BJ") S32 1BJ
  li
    a(href="/S32 1BL") S32 1BL
  li
    a(href="/S32 1BN") S32 1BN
  li
    a(href="/S32 1BP") S32 1BP
  li
    a(href="/S32 1BQ") S32 1BQ
  li
    a(href="/S32 1BR") S32 1BR
  li
    a(href="/S32 1BS") S32 1BS
  li
    a(href="/S32 1BT") S32 1BT
  li
    a(href="/S32 1BU") S32 1BU
  li
    a(href="/S32 1BW") S32 1BW
  li
    a(href="/S32 1BX") S32 1BX
  li
    a(href="/S32 1BY") S32 1BY
  li
    a(href="/S32 1BZ") S32 1BZ
  li
    a(href="/S32 1DA") S32 1DA
  li
    a(href="/S32 1DB") S32 1DB
  li
    a(href="/S32 1DD") S32 1DD
  li
    a(href="/S32 1DE") S32 1DE
  li
    a(href="/S32 1DG") S32 1DG
  li
    a(href="/S32 1DH") S32 1DH
  li
    a(href="/S32 1DJ") S32 1DJ
  li
    a(href="/S32 1DL") S32 1DL
  li
    a(href="/S32 1DP") S32 1DP
  li
    a(href="/S32 1DQ") S32 1DQ
  li
    a(href="/S32 1DR") S32 1DR
  li
    a(href="/S32 1DS") S32 1DS
  li
    a(href="/S32 1DT") S32 1DT
  li
    a(href="/S32 1DU") S32 1DU
  li
    a(href="/S32 1DW") S32 1DW
  li
    a(href="/S32 1EG") S32 1EG
  li
    a(href="/S32 1EH") S32 1EH
  li
    a(href="/S32 1EQ") S32 1EQ
  li
    a(href="/S32 1HA") S32 1HA
  li
    a(href="/S32 1WU") S32 1WU
  li
    a(href="/S32 1WZ") S32 1WZ
  li
    a(href="/S32 1XW") S32 1XW
  li
    a(href="/S32 1ZS") S32 1ZS
  li
    a(href="/S32 2AA") S32 2AA
  li
    a(href="/S32 2BX") S32 2BX
  li
    a(href="/S32 2HA") S32 2HA
  li
    a(href="/S32 2HB") S32 2HB
  li
    a(href="/S32 2HD") S32 2HD
  li
    a(href="/S32 2HE") S32 2HE
  li
    a(href="/S32 2HF") S32 2HF
  li
    a(href="/S32 2HG") S32 2HG
  li
    a(href="/S32 2HH") S32 2HH
  li
    a(href="/S32 2HJ") S32 2HJ
  li
    a(href="/S32 2HL") S32 2HL
  li
    a(href="/S32 2HN") S32 2HN
  li
    a(href="/S32 2HP") S32 2HP
  li
    a(href="/S32 2HQ") S32 2HQ
  li
    a(href="/S32 2HR") S32 2HR
  li
    a(href="/S32 2HS") S32 2HS
  li
    a(href="/S32 2HT") S32 2HT
  li
    a(href="/S32 2HU") S32 2HU
  li
    a(href="/S32 2HW") S32 2HW
  li
    a(href="/S32 2HX") S32 2HX
  li
    a(href="/S32 2HY") S32 2HY
  li
    a(href="/S32 2HZ") S32 2HZ
  li
    a(href="/S32 2JA") S32 2JA
  li
    a(href="/S32 2JB") S32 2JB
  li
    a(href="/S32 2JD") S32 2JD
  li
    a(href="/S32 2JE") S32 2JE
  li
    a(href="/S32 2JF") S32 2JF
  li
    a(href="/S32 2JG") S32 2JG
  li
    a(href="/S32 2JH") S32 2JH
  li
    a(href="/S32 2JJ") S32 2JJ
  li
    a(href="/S32 2JL") S32 2JL
  li
    a(href="/S32 2JN") S32 2JN
  li
    a(href="/S32 2JQ") S32 2JQ
  li
    a(href="/S32 2WZ") S32 2WZ
  li
    a(href="/S32 3AA") S32 3AA
  li
    a(href="/S32 3WD") S32 3WD
  li
    a(href="/S32 3WR") S32 3WR
  li
    a(href="/S32 3WT") S32 3WT
  li
    a(href="/S32 3WU") S32 3WU
  li
    a(href="/S32 3WW") S32 3WW
  li
    a(href="/S32 3WY") S32 3WY
  li
    a(href="/S32 3WZ") S32 3WZ
  li
    a(href="/S32 3XA") S32 3XA
  li
    a(href="/S32 3XB") S32 3XB
  li
    a(href="/S32 3XD") S32 3XD
  li
    a(href="/S32 3XE") S32 3XE
  li
    a(href="/S32 3XF") S32 3XF
  li
    a(href="/S32 3XG") S32 3XG
  li
    a(href="/S32 3XH") S32 3XH
  li
    a(href="/S32 3XJ") S32 3XJ
  li
    a(href="/S32 3XL") S32 3XL
  li
    a(href="/S32 3XN") S32 3XN
  li
    a(href="/S32 3XP") S32 3XP
  li
    a(href="/S32 3XQ") S32 3XQ
  li
    a(href="/S32 3XR") S32 3XR
  li
    a(href="/S32 3XS") S32 3XS
  li
    a(href="/S32 3XT") S32 3XT
  li
    a(href="/S32 3XU") S32 3XU
  li
    a(href="/S32 3XW") S32 3XW
  li
    a(href="/S32 3XX") S32 3XX
  li
    a(href="/S32 3XY") S32 3XY
  li
    a(href="/S32 3XZ") S32 3XZ
  li
    a(href="/S32 3YA") S32 3YA
  li
    a(href="/S32 3YB") S32 3YB
  li
    a(href="/S32 3YD") S32 3YD
  li
    a(href="/S32 3YE") S32 3YE
  li
    a(href="/S32 3YF") S32 3YF
  li
    a(href="/S32 3YG") S32 3YG
  li
    a(href="/S32 3YH") S32 3YH
  li
    a(href="/S32 3YJ") S32 3YJ
  li
    a(href="/S32 3YL") S32 3YL
  li
    a(href="/S32 3YN") S32 3YN
  li
    a(href="/S32 3YP") S32 3YP
  li
    a(href="/S32 3YQ") S32 3YQ
  li
    a(href="/S32 3YR") S32 3YR
  li
    a(href="/S32 3YS") S32 3YS
  li
    a(href="/S32 3YT") S32 3YT
  li
    a(href="/S32 3YU") S32 3YU
  li
    a(href="/S32 3YW") S32 3YW
  li
    a(href="/S32 3YX") S32 3YX
  li
    a(href="/S32 3YY") S32 3YY
  li
    a(href="/S32 3YZ") S32 3YZ
  li
    a(href="/S32 3ZA") S32 3ZA
  li
    a(href="/S32 3ZB") S32 3ZB
  li
    a(href="/S32 3ZD") S32 3ZD
  li
    a(href="/S32 3ZE") S32 3ZE
  li
    a(href="/S32 3ZF") S32 3ZF
  li
    a(href="/S32 3ZH") S32 3ZH
  li
    a(href="/S32 3ZJ") S32 3ZJ
  li
    a(href="/S32 3ZL") S32 3ZL
  li
    a(href="/S32 3ZN") S32 3ZN
  li
    a(href="/S32 3ZP") S32 3ZP
  li
    a(href="/S32 4AA") S32 4AA
  li
    a(href="/S32 4TA") S32 4TA
  li
    a(href="/S32 4TB") S32 4TB
  li
    a(href="/S32 4TD") S32 4TD
  li
    a(href="/S32 4TE") S32 4TE
  li
    a(href="/S32 4TF") S32 4TF
  li
    a(href="/S32 4TG") S32 4TG
  li
    a(href="/S32 4TH") S32 4TH
  li
    a(href="/S32 4TJ") S32 4TJ
  li
    a(href="/S32 4TL") S32 4TL
  li
    a(href="/S32 4TN") S32 4TN
  li
    a(href="/S32 4TP") S32 4TP
  li
    a(href="/S32 4TQ") S32 4TQ
  li
    a(href="/S32 4TR") S32 4TR
  li
    a(href="/S32 4TS") S32 4TS
  li
    a(href="/S32 4TT") S32 4TT
  li
    a(href="/S32 4TU") S32 4TU
  li
    a(href="/S32 4TX") S32 4TX
  li
    a(href="/S32 4TY") S32 4TY
  li
    a(href="/S32 4TZ") S32 4TZ
  li
    a(href="/S32 4UA") S32 4UA
  li
    a(href="/S32 4UB") S32 4UB
  li
    a(href="/S32 5AA") S32 5AA
  li
    a(href="/S32 5PJ") S32 5PJ
  li
    a(href="/S32 5PZ") S32 5PZ
  li
    a(href="/S32 5QA") S32 5QA
  li
    a(href="/S32 5QB") S32 5QB
  li
    a(href="/S32 5QD") S32 5QD
  li
    a(href="/S32 5QE") S32 5QE
  li
    a(href="/S32 5QF") S32 5QF
  li
    a(href="/S32 5QG") S32 5QG
  li
    a(href="/S32 5QH") S32 5QH
  li
    a(href="/S32 5QJ") S32 5QJ
  li
    a(href="/S32 5QL") S32 5QL
  li
    a(href="/S32 5QN") S32 5QN
  li
    a(href="/S32 5QP") S32 5QP
  li
    a(href="/S32 5QQ") S32 5QQ
  li
    a(href="/S32 5QR") S32 5QR
  li
    a(href="/S32 5QS") S32 5QS
  li
    a(href="/S32 5QT") S32 5QT
  li
    a(href="/S32 5QU") S32 5QU
  li
    a(href="/S32 5QW") S32 5QW
  li
    a(href="/S32 5QX") S32 5QX
  li
    a(href="/S32 5QY") S32 5QY
  li
    a(href="/S32 5QZ") S32 5QZ
  li
    a(href="/S32 5RA") S32 5RA
  li
    a(href="/S32 5RB") S32 5RB
  li
    a(href="/S32 5RD") S32 5RD
  li
    a(href="/S32 5RE") S32 5RE
  li
    a(href="/S32 5RF") S32 5RF
  li
    a(href="/S32 5RG") S32 5RG
  li
    a(href="/S32 5RH") S32 5RH
  li
    a(href="/S32 5RJ") S32 5RJ
  li
    a(href="/S32 5RL") S32 5RL
  li
    a(href="/S32 5RN") S32 5RN
  li
    a(href="/S32 5RW") S32 5RW
  li
    a(href="/S32 5RZ") S32 5RZ
