ul.locations
  li
    a(href="/browse/England/L10") L10
  li
    a(href="/browse/England/L20") L20
  li
    a(href="/browse/England/L21") L21
  li
    a(href="/browse/England/L22") L22
  li
    a(href="/browse/England/L29") L29
  li
    a(href="/browse/England/L30") L30
  li
    a(href="/browse/England/L31") L31
  li
    a(href="/browse/England/L37") L37
  li
    a(href="/browse/England/L38") L38
  li
    a(href="/browse/England/PR8") PR8
  li
    a(href="/browse/England/PR9") PR9
