ul.locations
  li
    a(href="/browse/England/DY14") DY14
  li
    a(href="/browse/England/SY1") SY1
  li
    a(href="/browse/England/SY10") SY10
  li
    a(href="/browse/England/SY11") SY11
  li
    a(href="/browse/England/SY12") SY12
  li
    a(href="/browse/England/SY13") SY13
  li
    a(href="/browse/England/SY2") SY2
  li
    a(href="/browse/England/SY3") SY3
  li
    a(href="/browse/England/SY4") SY4
  li
    a(href="/browse/England/SY5") SY5
  li
    a(href="/browse/England/SY6") SY6
  li
    a(href="/browse/England/SY7") SY7
  li
    a(href="/browse/England/SY8") SY8
  li
    a(href="/browse/England/SY9") SY9
  li
    a(href="/browse/England/TF11") TF11
  li
    a(href="/browse/England/TF12") TF12
  li
    a(href="/browse/England/TF13") TF13
  li
    a(href="/browse/England/TF9") TF9
  li
    a(href="/browse/England/WV15") WV15
  li
    a(href="/browse/England/WV16") WV16
  li
    a(href="/browse/England/WV7") WV7
