ul.locations
  li
    a(href="/browse/England/B36") B36
  li
    a(href="/browse/England/B37") B37
  li
    a(href="/browse/England/B40") B40
  li
    a(href="/browse/England/B90") B90
  li
    a(href="/browse/England/B91") B91
  li
    a(href="/browse/England/B92") B92
  li
    a(href="/browse/England/B93") B93
