ul.locations
  li
    a(href="/browse/England/BA10") BA10
  li
    a(href="/browse/England/BA11") BA11
  li
    a(href="/browse/England/BA16") BA16
  li
    a(href="/browse/England/BA20") BA20
  li
    a(href="/browse/England/BA21") BA21
  li
    a(href="/browse/England/BA22") BA22
  li
    a(href="/browse/England/BA3") BA3
  li
    a(href="/browse/England/BA4") BA4
  li
    a(href="/browse/England/BA5") BA5
  li
    a(href="/browse/England/BA6") BA6
  li
    a(href="/browse/England/BA7") BA7
  li
    a(href="/browse/England/BA8") BA8
  li
    a(href="/browse/England/BA9") BA9
  li
    a(href="/browse/England/BS26") BS26
  li
    a(href="/browse/England/BS27") BS27
  li
    a(href="/browse/England/BS28") BS28
  li
    a(href="/browse/England/TA1") TA1
  li
    a(href="/browse/England/TA10") TA10
  li
    a(href="/browse/England/TA11") TA11
  li
    a(href="/browse/England/TA12") TA12
  li
    a(href="/browse/England/TA13") TA13
  li
    a(href="/browse/England/TA14") TA14
  li
    a(href="/browse/England/TA15") TA15
  li
    a(href="/browse/England/TA16") TA16
  li
    a(href="/browse/England/TA17") TA17
  li
    a(href="/browse/England/TA18") TA18
  li
    a(href="/browse/England/TA19") TA19
  li
    a(href="/browse/England/TA2") TA2
  li
    a(href="/browse/England/TA20") TA20
  li
    a(href="/browse/England/TA21") TA21
  li
    a(href="/browse/England/TA22") TA22
  li
    a(href="/browse/England/TA23") TA23
  li
    a(href="/browse/England/TA24") TA24
  li
    a(href="/browse/England/TA3") TA3
  li
    a(href="/browse/England/TA4") TA4
  li
    a(href="/browse/England/TA5") TA5
  li
    a(href="/browse/England/TA6") TA6
  li
    a(href="/browse/England/TA7") TA7
  li
    a(href="/browse/England/TA8") TA8
  li
    a(href="/browse/England/TA9") TA9
