ul.locations
  li
    a(href="/browse/England/SS0") SS0
  li
    a(href="/browse/England/SS1") SS1
  li
    a(href="/browse/England/SS2") SS2
  li
    a(href="/browse/England/SS3") SS3
  li
    a(href="/browse/England/SS9") SS9
