ul.locations
  li
    a(href="/browse/England/SO14") SO14
  li
    a(href="/browse/England/SO15") SO15
  li
    a(href="/browse/England/SO16") SO16
  li
    a(href="/browse/England/SO17") SO17
  li
    a(href="/browse/England/SO18") SO18
  li
    a(href="/browse/England/SO19") SO19
