ul.locations
  li
    a(href="/browse/England/BS15") BS15
  li
    a(href="/browse/England/BS16") BS16
  li
    a(href="/browse/England/BS30") BS30
  li
    a(href="/browse/England/BS32") BS32
  li
    a(href="/browse/England/BS34") BS34
  li
    a(href="/browse/England/BS35") BS35
  li
    a(href="/browse/England/BS36") BS36
  li
    a(href="/browse/England/BS37") BS37
  li
    a(href="/browse/England/GL9") GL9
