ul.locations
  li
    a(href="/browse/England/NE31") NE31
  li
    a(href="/browse/England/NE32") NE32
  li
    a(href="/browse/England/NE33") NE33
  li
    a(href="/browse/England/NE34") NE34
  li
    a(href="/browse/England/NE35") NE35
  li
    a(href="/browse/England/NE36") NE36
