ul.locations
  li
    a(href="/SR9 9WL") SR9 9WL
  li
    a(href="/SR9 9WN") SR9 9WN
  li
    a(href="/SR9 9WP") SR9 9WP
  li
    a(href="/SR9 9WQ") SR9 9WQ
  li
    a(href="/SR9 9WR") SR9 9WR
  li
    a(href="/SR9 9WS") SR9 9WS
  li
    a(href="/SR9 9WU") SR9 9WU
  li
    a(href="/SR9 9WX") SR9 9WX
  li
    a(href="/SR9 9WZ") SR9 9WZ
  li
    a(href="/SR9 9XD") SR9 9XD
  li
    a(href="/SR9 9XZ") SR9 9XZ
  li
    a(href="/SR9 9YY") SR9 9YY
