ul.locations
  li
    a(href="/browse/England/B77") B77
  li
    a(href="/browse/England/B78") B78
  li
    a(href="/browse/England/B79") B79
  li
    a(href="/browse/England/DE13") DE13
  li
    a(href="/browse/England/DE14") DE14
  li
    a(href="/browse/England/DE15") DE15
  li
    a(href="/browse/England/DY7") DY7
  li
    a(href="/browse/England/ST10") ST10
  li
    a(href="/browse/England/ST11") ST11
  li
    a(href="/browse/England/ST12") ST12
  li
    a(href="/browse/England/ST13") ST13
  li
    a(href="/browse/England/ST14") ST14
  li
    a(href="/browse/England/ST15") ST15
  li
    a(href="/browse/England/ST16") ST16
  li
    a(href="/browse/England/ST17") ST17
  li
    a(href="/browse/England/ST18") ST18
  li
    a(href="/browse/England/ST19") ST19
  li
    a(href="/browse/England/ST20") ST20
  li
    a(href="/browse/England/ST21") ST21
  li
    a(href="/browse/England/ST5") ST5
  li
    a(href="/browse/England/ST7") ST7
  li
    a(href="/browse/England/ST8") ST8
  li
    a(href="/browse/England/ST9") ST9
  li
    a(href="/browse/England/WS11") WS11
  li
    a(href="/browse/England/WS12") WS12
  li
    a(href="/browse/England/WS13") WS13
  li
    a(href="/browse/England/WS14") WS14
  li
    a(href="/browse/England/WS15") WS15
  li
    a(href="/browse/England/WS6") WS6
  li
    a(href="/browse/England/WS7") WS7
  li
    a(href="/browse/England/WV5") WV5
  li
    a(href="/browse/England/WV8") WV8
