ul.locations
  li
    a(href="/browse/England/SK1") SK1
  li
    a(href="/browse/England/SK2") SK2
  li
    a(href="/browse/England/SK3") SK3
  li
    a(href="/browse/England/SK4") SK4
  li
    a(href="/browse/England/SK5") SK5
  li
    a(href="/browse/England/SK6") SK6
  li
    a(href="/browse/England/SK7") SK7
  li
    a(href="/browse/England/SK8") SK8
