ul.locations
  li
    a(href="/browse/England/TS15") TS15
  li
    a(href="/browse/England/TS16") TS16
  li
    a(href="/browse/England/TS17") TS17
  li
    a(href="/browse/England/TS18") TS18
  li
    a(href="/browse/England/TS19") TS19
  li
    a(href="/browse/England/TS20") TS20
  li
    a(href="/browse/England/TS22") TS22
  li
    a(href="/browse/England/TS23") TS23
