ul.locations
  li
    a(href="/browse/England/ST1") ST1
  li
    a(href="/browse/England/ST2") ST2
  li
    a(href="/browse/England/ST3") ST3
  li
    a(href="/browse/England/ST4") ST4
  li
    a(href="/browse/England/ST6") ST6
