ul.locations
  li
    a(href="/browse/England/CR3") CR3
  li
    a(href="/browse/England/CR6") CR6
  li
    a(href="/browse/England/GU1") GU1
  li
    a(href="/browse/England/GU10") GU10
  li
    a(href="/browse/England/GU12") GU12
  li
    a(href="/browse/England/GU15") GU15
  li
    a(href="/browse/England/GU16") GU16
  li
    a(href="/browse/England/GU18") GU18
  li
    a(href="/browse/England/GU19") GU19
  li
    a(href="/browse/England/GU2") GU2
  li
    a(href="/browse/England/GU20") GU20
  li
    a(href="/browse/England/GU21") GU21
  li
    a(href="/browse/England/GU22") GU22
  li
    a(href="/browse/England/GU23") GU23
  li
    a(href="/browse/England/GU24") GU24
  li
    a(href="/browse/England/GU25") GU25
  li
    a(href="/browse/England/GU26") GU26
  li
    a(href="/browse/England/GU27") GU27
  li
    a(href="/browse/England/GU3") GU3
  li
    a(href="/browse/England/GU4") GU4
  li
    a(href="/browse/England/GU5") GU5
  li
    a(href="/browse/England/GU6") GU6
  li
    a(href="/browse/England/GU7") GU7
  li
    a(href="/browse/England/GU8") GU8
  li
    a(href="/browse/England/GU9") GU9
  li
    a(href="/browse/England/KT10") KT10
  li
    a(href="/browse/England/KT11") KT11
  li
    a(href="/browse/England/KT12") KT12
  li
    a(href="/browse/England/KT13") KT13
  li
    a(href="/browse/England/KT14") KT14
  li
    a(href="/browse/England/KT15") KT15
  li
    a(href="/browse/England/KT16") KT16
  li
    a(href="/browse/England/KT17") KT17
  li
    a(href="/browse/England/KT18") KT18
  li
    a(href="/browse/England/KT19") KT19
  li
    a(href="/browse/England/KT20") KT20
  li
    a(href="/browse/England/KT21") KT21
  li
    a(href="/browse/England/KT22") KT22
  li
    a(href="/browse/England/KT23") KT23
  li
    a(href="/browse/England/KT24") KT24
  li
    a(href="/browse/England/KT7") KT7
  li
    a(href="/browse/England/KT8") KT8
  li
    a(href="/browse/England/RH1") RH1
  li
    a(href="/browse/England/RH2") RH2
  li
    a(href="/browse/England/RH3") RH3
  li
    a(href="/browse/England/RH4") RH4
  li
    a(href="/browse/England/RH5") RH5
  li
    a(href="/browse/England/RH6") RH6
  li
    a(href="/browse/England/RH7") RH7
  li
    a(href="/browse/England/RH8") RH8
  li
    a(href="/browse/England/RH9") RH9
  li
    a(href="/browse/England/SM7") SM7
  li
    a(href="/browse/England/TW15") TW15
  li
    a(href="/browse/England/TW16") TW16
  li
    a(href="/browse/England/TW17") TW17
  li
    a(href="/browse/England/TW18") TW18
  li
    a(href="/browse/England/TW19") TW19
  li
    a(href="/browse/England/TW20") TW20
