ul.locations
  li
    a(href="/browse/England/SN1") SN1
  li
    a(href="/browse/England/SN2") SN2
  li
    a(href="/browse/England/SN25") SN25
  li
    a(href="/browse/England/SN26") SN26
  li
    a(href="/browse/England/SN3") SN3
  li
    a(href="/browse/England/SN4") SN4
  li
    a(href="/browse/England/SN5") SN5
  li
    a(href="/browse/England/SN6") SN6
