ul.locations
  li
    a(href="/TA15 6UA") TA15 6UA
  li
    a(href="/TA15 6UH") TA15 6UH
  li
    a(href="/TA15 6UJ") TA15 6UJ
  li
    a(href="/TA15 6UL") TA15 6UL
  li
    a(href="/TA15 6UN") TA15 6UN
  li
    a(href="/TA15 6UR") TA15 6UR
  li
    a(href="/TA15 6US") TA15 6US
  li
    a(href="/TA15 6UT") TA15 6UT
  li
    a(href="/TA15 6UU") TA15 6UU
  li
    a(href="/TA15 6UW") TA15 6UW
  li
    a(href="/TA15 6UX") TA15 6UX
  li
    a(href="/TA15 6UY") TA15 6UY
  li
    a(href="/TA15 6UZ") TA15 6UZ
  li
    a(href="/TA15 6XA") TA15 6XA
  li
    a(href="/TA15 6XB") TA15 6XB
  li
    a(href="/TA15 6XD") TA15 6XD
  li
    a(href="/TA15 6XF") TA15 6XF
  li
    a(href="/TA15 6XG") TA15 6XG
  li
    a(href="/TA15 6XH") TA15 6XH
  li
    a(href="/TA15 6XJ") TA15 6XJ
  li
    a(href="/TA15 6XL") TA15 6XL
  li
    a(href="/TA15 6XN") TA15 6XN
  li
    a(href="/TA15 6XP") TA15 6XP
  li
    a(href="/TA15 6XW") TA15 6XW
  li
    a(href="/TA15 6ZN") TA15 6ZN
