ul.locations
  li
    a(href="/TA16 5NF") TA16 5NF
  li
    a(href="/TA16 5NG") TA16 5NG
  li
    a(href="/TA16 5NH") TA16 5NH
  li
    a(href="/TA16 5NJ") TA16 5NJ
  li
    a(href="/TA16 5NL") TA16 5NL
  li
    a(href="/TA16 5NN") TA16 5NN
  li
    a(href="/TA16 5NP") TA16 5NP
  li
    a(href="/TA16 5NQ") TA16 5NQ
  li
    a(href="/TA16 5NR") TA16 5NR
  li
    a(href="/TA16 5NS") TA16 5NS
  li
    a(href="/TA16 5NT") TA16 5NT
  li
    a(href="/TA16 5NU") TA16 5NU
  li
    a(href="/TA16 5NW") TA16 5NW
  li
    a(href="/TA16 5PA") TA16 5PA
  li
    a(href="/TA16 5PB") TA16 5PB
  li
    a(href="/TA16 5PD") TA16 5PD
  li
    a(href="/TA16 5PE") TA16 5PE
  li
    a(href="/TA16 5PF") TA16 5PF
  li
    a(href="/TA16 5PH") TA16 5PH
  li
    a(href="/TA16 5PJ") TA16 5PJ
  li
    a(href="/TA16 5PL") TA16 5PL
  li
    a(href="/TA16 5PN") TA16 5PN
  li
    a(href="/TA16 5PP") TA16 5PP
  li
    a(href="/TA16 5PQ") TA16 5PQ
  li
    a(href="/TA16 5PR") TA16 5PR
  li
    a(href="/TA16 5PS") TA16 5PS
  li
    a(href="/TA16 5PT") TA16 5PT
  li
    a(href="/TA16 5PU") TA16 5PU
  li
    a(href="/TA16 5PW") TA16 5PW
  li
    a(href="/TA16 5PX") TA16 5PX
  li
    a(href="/TA16 5QG") TA16 5QG
  li
    a(href="/TA16 5QH") TA16 5QH
  li
    a(href="/TA16 5QJ") TA16 5QJ
  li
    a(href="/TA16 5QL") TA16 5QL
  li
    a(href="/TA16 5QN") TA16 5QN
  li
    a(href="/TA16 5QP") TA16 5QP
  li
    a(href="/TA16 5QQ") TA16 5QQ
  li
    a(href="/TA16 5QR") TA16 5QR
  li
    a(href="/TA16 5QS") TA16 5QS
  li
    a(href="/TA16 5QT") TA16 5QT
  li
    a(href="/TA16 5QU") TA16 5QU
  li
    a(href="/TA16 5QW") TA16 5QW
  li
    a(href="/TA16 5QX") TA16 5QX
  li
    a(href="/TA16 5QY") TA16 5QY
  li
    a(href="/TA16 5QZ") TA16 5QZ
  li
    a(href="/TA16 5RA") TA16 5RA
  li
    a(href="/TA16 5RB") TA16 5RB
  li
    a(href="/TA16 5RD") TA16 5RD
  li
    a(href="/TA16 5RE") TA16 5RE
  li
    a(href="/TA16 5RF") TA16 5RF
  li
    a(href="/TA16 5RG") TA16 5RG
  li
    a(href="/TA16 5YZ") TA16 5YZ
