ul.locations
  li
    a(href="/TA17 8RX") TA17 8RX
  li
    a(href="/TA17 8RY") TA17 8RY
  li
    a(href="/TA17 8RZ") TA17 8RZ
  li
    a(href="/TA17 8SA") TA17 8SA
  li
    a(href="/TA17 8SB") TA17 8SB
  li
    a(href="/TA17 8SD") TA17 8SD
  li
    a(href="/TA17 8SE") TA17 8SE
  li
    a(href="/TA17 8SF") TA17 8SF
  li
    a(href="/TA17 8SG") TA17 8SG
  li
    a(href="/TA17 8SH") TA17 8SH
  li
    a(href="/TA17 8SL") TA17 8SL
  li
    a(href="/TA17 8SN") TA17 8SN
  li
    a(href="/TA17 8SP") TA17 8SP
  li
    a(href="/TA17 8SQ") TA17 8SQ
  li
    a(href="/TA17 8SR") TA17 8SR
  li
    a(href="/TA17 8SS") TA17 8SS
  li
    a(href="/TA17 8ST") TA17 8ST
  li
    a(href="/TA17 8SU") TA17 8SU
  li
    a(href="/TA17 8SW") TA17 8SW
  li
    a(href="/TA17 8SX") TA17 8SX
  li
    a(href="/TA17 8SY") TA17 8SY
  li
    a(href="/TA17 8SZ") TA17 8SZ
  li
    a(href="/TA17 8TA") TA17 8TA
  li
    a(href="/TA17 8TB") TA17 8TB
  li
    a(href="/TA17 8TD") TA17 8TD
  li
    a(href="/TA17 8TE") TA17 8TE
  li
    a(href="/TA17 8TF") TA17 8TF
  li
    a(href="/TA17 8TG") TA17 8TG
  li
    a(href="/TA17 8TH") TA17 8TH
  li
    a(href="/TA17 8TJ") TA17 8TJ
  li
    a(href="/TA17 8TL") TA17 8TL
  li
    a(href="/TA17 8TN") TA17 8TN
  li
    a(href="/TA17 8TQ") TA17 8TQ
  li
    a(href="/TA17 8TW") TA17 8TW
