ul.locations
  li
    a(href="/browse/England/M34") M34
  li
    a(href="/browse/England/M43") M43
  li
    a(href="/browse/England/OL5") OL5
  li
    a(href="/browse/England/OL6") OL6
  li
    a(href="/browse/England/OL7") OL7
  li
    a(href="/browse/England/SK14") SK14
  li
    a(href="/browse/England/SK15") SK15
  li
    a(href="/browse/England/SK16") SK16
