ul.locations
  li
    a(href="/TR17 0AA") TR17 0AA
  li
    a(href="/TR17 0AD") TR17 0AD
  li
    a(href="/TR17 0AE") TR17 0AE
  li
    a(href="/TR17 0AF") TR17 0AF
  li
    a(href="/TR17 0AG") TR17 0AG
  li
    a(href="/TR17 0AH") TR17 0AH
  li
    a(href="/TR17 0AL") TR17 0AL
  li
    a(href="/TR17 0AN") TR17 0AN
  li
    a(href="/TR17 0AP") TR17 0AP
  li
    a(href="/TR17 0AQ") TR17 0AQ
  li
    a(href="/TR17 0AR") TR17 0AR
  li
    a(href="/TR17 0AS") TR17 0AS
  li
    a(href="/TR17 0AT") TR17 0AT
  li
    a(href="/TR17 0AU") TR17 0AU
  li
    a(href="/TR17 0AW") TR17 0AW
  li
    a(href="/TR17 0AX") TR17 0AX
  li
    a(href="/TR17 0AY") TR17 0AY
  li
    a(href="/TR17 0AZ") TR17 0AZ
  li
    a(href="/TR17 0BA") TR17 0BA
  li
    a(href="/TR17 0BB") TR17 0BB
  li
    a(href="/TR17 0BD") TR17 0BD
  li
    a(href="/TR17 0BE") TR17 0BE
  li
    a(href="/TR17 0BG") TR17 0BG
  li
    a(href="/TR17 0BH") TR17 0BH
  li
    a(href="/TR17 0BJ") TR17 0BJ
  li
    a(href="/TR17 0BL") TR17 0BL
  li
    a(href="/TR17 0BN") TR17 0BN
  li
    a(href="/TR17 0BP") TR17 0BP
  li
    a(href="/TR17 0BQ") TR17 0BQ
  li
    a(href="/TR17 0BS") TR17 0BS
  li
    a(href="/TR17 0BT") TR17 0BT
  li
    a(href="/TR17 0BU") TR17 0BU
  li
    a(href="/TR17 0BW") TR17 0BW
  li
    a(href="/TR17 0BX") TR17 0BX
  li
    a(href="/TR17 0BY") TR17 0BY
  li
    a(href="/TR17 0BZ") TR17 0BZ
  li
    a(href="/TR17 0DA") TR17 0DA
  li
    a(href="/TR17 0DB") TR17 0DB
  li
    a(href="/TR17 0DD") TR17 0DD
  li
    a(href="/TR17 0DE") TR17 0DE
  li
    a(href="/TR17 0DF") TR17 0DF
  li
    a(href="/TR17 0DG") TR17 0DG
  li
    a(href="/TR17 0DH") TR17 0DH
  li
    a(href="/TR17 0DJ") TR17 0DJ
  li
    a(href="/TR17 0DL") TR17 0DL
  li
    a(href="/TR17 0DN") TR17 0DN
  li
    a(href="/TR17 0DP") TR17 0DP
  li
    a(href="/TR17 0DQ") TR17 0DQ
  li
    a(href="/TR17 0DR") TR17 0DR
  li
    a(href="/TR17 0DS") TR17 0DS
  li
    a(href="/TR17 0DT") TR17 0DT
  li
    a(href="/TR17 0DU") TR17 0DU
  li
    a(href="/TR17 0DW") TR17 0DW
  li
    a(href="/TR17 0DX") TR17 0DX
  li
    a(href="/TR17 0DY") TR17 0DY
  li
    a(href="/TR17 0EA") TR17 0EA
  li
    a(href="/TR17 0EB") TR17 0EB
  li
    a(href="/TR17 0ED") TR17 0ED
  li
    a(href="/TR17 0EE") TR17 0EE
  li
    a(href="/TR17 0EF") TR17 0EF
  li
    a(href="/TR17 0EG") TR17 0EG
  li
    a(href="/TR17 0EH") TR17 0EH
  li
    a(href="/TR17 0EJ") TR17 0EJ
  li
    a(href="/TR17 0EL") TR17 0EL
  li
    a(href="/TR17 0EN") TR17 0EN
  li
    a(href="/TR17 0EP") TR17 0EP
  li
    a(href="/TR17 0EQ") TR17 0EQ
  li
    a(href="/TR17 0ER") TR17 0ER
  li
    a(href="/TR17 0ES") TR17 0ES
  li
    a(href="/TR17 0ET") TR17 0ET
  li
    a(href="/TR17 0EU") TR17 0EU
  li
    a(href="/TR17 0EX") TR17 0EX
  li
    a(href="/TR17 0EZ") TR17 0EZ
  li
    a(href="/TR17 0HA") TR17 0HA
  li
    a(href="/TR17 0HB") TR17 0HB
  li
    a(href="/TR17 0HE") TR17 0HE
  li
    a(href="/TR17 0HF") TR17 0HF
  li
    a(href="/TR17 0HH") TR17 0HH
  li
    a(href="/TR17 0HJ") TR17 0HJ
  li
    a(href="/TR17 0HL") TR17 0HL
  li
    a(href="/TR17 0HN") TR17 0HN
  li
    a(href="/TR17 0HQ") TR17 0HQ
  li
    a(href="/TR17 0HS") TR17 0HS
  li
    a(href="/TR17 0HT") TR17 0HT
  li
    a(href="/TR17 0HW") TR17 0HW
  li
    a(href="/TR17 0WA") TR17 0WA
  li
    a(href="/TR17 0WZ") TR17 0WZ
