ul.locations
  li
    a(href="/TR21 0AA") TR21 0AA
  li
    a(href="/TR21 0AB") TR21 0AB
  li
    a(href="/TR21 0AD") TR21 0AD
  li
    a(href="/TR21 0HE") TR21 0HE
  li
    a(href="/TR21 0HU") TR21 0HU
  li
    a(href="/TR21 0HX") TR21 0HX
  li
    a(href="/TR21 0HY") TR21 0HY
  li
    a(href="/TR21 0HZ") TR21 0HZ
  li
    a(href="/TR21 0JA") TR21 0JA
  li
    a(href="/TR21 0JD") TR21 0JD
  li
    a(href="/TR21 0JE") TR21 0JE
  li
    a(href="/TR21 0JF") TR21 0JF
  li
    a(href="/TR21 0JG") TR21 0JG
  li
    a(href="/TR21 0JH") TR21 0JH
  li
    a(href="/TR21 0JJ") TR21 0JJ
  li
    a(href="/TR21 0JL") TR21 0JL
  li
    a(href="/TR21 0JN") TR21 0JN
  li
    a(href="/TR21 0JP") TR21 0JP
  li
    a(href="/TR21 0JQ") TR21 0JQ
  li
    a(href="/TR21 0JR") TR21 0JR
  li
    a(href="/TR21 0JT") TR21 0JT
  li
    a(href="/TR21 0JU") TR21 0JU
  li
    a(href="/TR21 0JW") TR21 0JW
  li
    a(href="/TR21 0JX") TR21 0JX
  li
    a(href="/TR21 0JY") TR21 0JY
  li
    a(href="/TR21 0JZ") TR21 0JZ
  li
    a(href="/TR21 0LA") TR21 0LA
  li
    a(href="/TR21 0LB") TR21 0LB
  li
    a(href="/TR21 0LE") TR21 0LE
  li
    a(href="/TR21 0LJ") TR21 0LJ
  li
    a(href="/TR21 0LL") TR21 0LL
  li
    a(href="/TR21 0LN") TR21 0LN
  li
    a(href="/TR21 0LP") TR21 0LP
  li
    a(href="/TR21 0LQ") TR21 0LQ
  li
    a(href="/TR21 0LR") TR21 0LR
  li
    a(href="/TR21 0LS") TR21 0LS
  li
    a(href="/TR21 0LW") TR21 0LW
  li
    a(href="/TR21 0NA") TR21 0NA
  li
    a(href="/TR21 0NB") TR21 0NB
  li
    a(href="/TR21 0ND") TR21 0ND
  li
    a(href="/TR21 0NE") TR21 0NE
  li
    a(href="/TR21 0NF") TR21 0NF
  li
    a(href="/TR21 0NG") TR21 0NG
  li
    a(href="/TR21 0NH") TR21 0NH
  li
    a(href="/TR21 0NJ") TR21 0NJ
  li
    a(href="/TR21 0NL") TR21 0NL
  li
    a(href="/TR21 0NN") TR21 0NN
  li
    a(href="/TR21 0NP") TR21 0NP
  li
    a(href="/TR21 0NQ") TR21 0NQ
  li
    a(href="/TR21 0NR") TR21 0NR
  li
    a(href="/TR21 0NS") TR21 0NS
  li
    a(href="/TR21 0NT") TR21 0NT
  li
    a(href="/TR21 0NU") TR21 0NU
  li
    a(href="/TR21 0NW") TR21 0NW
  li
    a(href="/TR21 0NX") TR21 0NX
  li
    a(href="/TR21 0NY") TR21 0NY
  li
    a(href="/TR21 0NZ") TR21 0NZ
  li
    a(href="/TR21 0PA") TR21 0PA
  li
    a(href="/TR21 0PB") TR21 0PB
  li
    a(href="/TR21 0PE") TR21 0PE
  li
    a(href="/TR21 0PL") TR21 0PL
  li
    a(href="/TR21 0PP") TR21 0PP
  li
    a(href="/TR21 0PR") TR21 0PR
  li
    a(href="/TR21 0PS") TR21 0PS
  li
    a(href="/TR21 0PT") TR21 0PT
  li
    a(href="/TR21 0PU") TR21 0PU
  li
    a(href="/TR21 0PW") TR21 0PW
  li
    a(href="/TR21 0PZ") TR21 0PZ
  li
    a(href="/TR21 0QA") TR21 0QA
  li
    a(href="/TR21 0SA") TR21 0SA
  li
    a(href="/TR21 0SB") TR21 0SB
  li
    a(href="/TR21 0SD") TR21 0SD
  li
    a(href="/TR21 0SE") TR21 0SE
  li
    a(href="/TR21 0SF") TR21 0SF
  li
    a(href="/TR21 0WY") TR21 0WY
