ul.locations
  li
    a(href="/TR24 0AD") TR24 0AD
  li
    a(href="/TR24 0AE") TR24 0AE
  li
    a(href="/TR24 0PU") TR24 0PU
  li
    a(href="/TR24 0PW") TR24 0PW
  li
    a(href="/TR24 0PX") TR24 0PX
  li
    a(href="/TR24 0PY") TR24 0PY
  li
    a(href="/TR24 0PZ") TR24 0PZ
  li
    a(href="/TR24 0QA") TR24 0QA
  li
    a(href="/TR24 0QB") TR24 0QB
  li
    a(href="/TR24 0QD") TR24 0QD
  li
    a(href="/TR24 0QE") TR24 0QE
  li
    a(href="/TR24 0QF") TR24 0QF
  li
    a(href="/TR24 0QG") TR24 0QG
  li
    a(href="/TR24 0QH") TR24 0QH
  li
    a(href="/TR24 0QJ") TR24 0QJ
  li
    a(href="/TR24 0QL") TR24 0QL
  li
    a(href="/TR24 0QQ") TR24 0QQ
