ul.locations
  li
    a(href="/browse/England/WF1") WF1
  li
    a(href="/browse/England/WF10") WF10
  li
    a(href="/browse/England/WF11") WF11
  li
    a(href="/browse/England/WF2") WF2
  li
    a(href="/browse/England/WF4") WF4
  li
    a(href="/browse/England/WF5") WF5
  li
    a(href="/browse/England/WF6") WF6
  li
    a(href="/browse/England/WF7") WF7
  li
    a(href="/browse/England/WF8") WF8
  li
    a(href="/browse/England/WF9") WF9
