ul.locations
  li
    a(href="/browse/England/WS1") WS1
  li
    a(href="/browse/England/WS2") WS2
  li
    a(href="/browse/England/WS3") WS3
  li
    a(href="/browse/England/WS4") WS4
  li
    a(href="/browse/England/WS5") WS5
  li
    a(href="/browse/England/WS8") WS8
  li
    a(href="/browse/England/WS9") WS9
  li
    a(href="/browse/England/WV12") WV12
  li
    a(href="/browse/England/WV13") WV13
