ul.locations
  li
    a(href="/browse/England/WA1") WA1
  li
    a(href="/browse/England/WA13") WA13
  li
    a(href="/browse/England/WA2") WA2
  li
    a(href="/browse/England/WA3") WA3
  li
    a(href="/browse/England/WA4") WA4
  li
    a(href="/browse/England/WA5") WA5
