ul.locations
  li
    a(href="/browse/England/M29") M29
  li
    a(href="/browse/England/M46") M46
  li
    a(href="/browse/England/WN1") WN1
  li
    a(href="/browse/England/WN2") WN2
  li
    a(href="/browse/England/WN3") WN3
  li
    a(href="/browse/England/WN4") WN4
  li
    a(href="/browse/England/WN5") WN5
  li
    a(href="/browse/England/WN6") WN6
  li
    a(href="/browse/England/WN7") WN7
