ul.locations
  li
    a(href="/browse/England/CH41") CH41
  li
    a(href="/browse/England/CH42") CH42
  li
    a(href="/browse/England/CH43") CH43
  li
    a(href="/browse/England/CH44") CH44
  li
    a(href="/browse/England/CH45") CH45
  li
    a(href="/browse/England/CH46") CH46
  li
    a(href="/browse/England/CH47") CH47
  li
    a(href="/browse/England/CH48") CH48
  li
    a(href="/browse/England/CH49") CH49
  li
    a(href="/browse/England/CH60") CH60
  li
    a(href="/browse/England/CH61") CH61
  li
    a(href="/browse/England/CH62") CH62
  li
    a(href="/browse/England/CH63") CH63
