ul.locations
  li
    a(href="/browse/England/WV1") WV1
  li
    a(href="/browse/England/WV10") WV10
  li
    a(href="/browse/England/WV11") WV11
  li
    a(href="/browse/England/WV14") WV14
  li
    a(href="/browse/England/WV2") WV2
  li
    a(href="/browse/England/WV3") WV3
  li
    a(href="/browse/England/WV4") WV4
  li
    a(href="/browse/England/WV6") WV6
  li
    a(href="/browse/England/WV9") WV9
