a(href="/B47") B47
a(href="/B48") B48
a(href="/B60") B60
a(href="/B61") B61
a(href="/B96") B96
a(href="/B97") B97
a(href="/B98") B98
a(href="/DY10") DY10
a(href="/DY11") DY11
a(href="/DY12") DY12
a(href="/DY13") DY13
a(href="/WR10") WR10
a(href="/WR11") WR11
a(href="/WR12") WR12
a(href="/WR14") WR14
a(href="/WR15") WR15
a(href="/WR6") WR6
a(href="/WR7") WR7
a(href="/WR8") WR8
a(href="/WR9") WR9
