ul.locations
  li
    a(href="/browse/England/WR1") WR1
  li
    a(href="/browse/England/WR2") WR2
  li
    a(href="/browse/England/WR3") WR3
  li
    a(href="/browse/England/WR4") WR4
  li
    a(href="/browse/England/WR5") WR5
