ul.locations
  li
    a(href="/browse/England/YO1") YO1
  li
    a(href="/browse/England/YO10") YO10
  li
    a(href="/browse/England/YO19") YO19
  li
    a(href="/browse/England/YO23") YO23
  li
    a(href="/browse/England/YO24") YO24
  li
    a(href="/browse/England/YO26") YO26
  li
    a(href="/browse/England/YO30") YO30
  li
    a(href="/browse/England/YO31") YO31
  li
    a(href="/browse/England/YO32") YO32
