ul.locations
  li
    a(href="/browse/Wales/CF81") CF81
  li
    a(href="/browse/Wales/CF82") CF82
  li
    a(href="/browse/Wales/CF83") CF83
  li
    a(href="/browse/Wales/NP11") NP11
  li
    a(href="/browse/Wales/NP12") NP12
  li
    a(href="/browse/Wales/NP24") NP24
