ul.locations
  li
    a(href="/browse/Wales/CF10") CF10
  li
    a(href="/browse/Wales/CF11") CF11
  li
    a(href="/browse/Wales/CF14") CF14
  li
    a(href="/browse/Wales/CF15") CF15
  li
    a(href="/browse/Wales/CF23") CF23
  li
    a(href="/browse/Wales/CF24") CF24
  li
    a(href="/browse/Wales/CF3") CF3
  li
    a(href="/browse/Wales/CF5") CF5
