ul.locations
  li
    a(href="/browse/Wales/SA14") SA14
  li
    a(href="/browse/Wales/SA15") SA15
  li
    a(href="/browse/Wales/SA16") SA16
  li
    a(href="/browse/Wales/SA17") SA17
  li
    a(href="/browse/Wales/SA18") SA18
  li
    a(href="/browse/Wales/SA19") SA19
  li
    a(href="/browse/Wales/SA20") SA20
  li
    a(href="/browse/Wales/SA31") SA31
  li
    a(href="/browse/Wales/SA32") SA32
  li
    a(href="/browse/Wales/SA33") SA33
  li
    a(href="/browse/Wales/SA34") SA34
  li
    a(href="/browse/Wales/SA38") SA38
  li
    a(href="/browse/Wales/SA39") SA39
