ul.locations
  li
    a(href="/browse/Wales/SA40") SA40
  li
    a(href="/browse/Wales/SA43") SA43
  li
    a(href="/browse/Wales/SA44") SA44
  li
    a(href="/browse/Wales/SA45") SA45
  li
    a(href="/browse/Wales/SA46") SA46
  li
    a(href="/browse/Wales/SA47") SA47
  li
    a(href="/browse/Wales/SA48") SA48
  li
    a(href="/browse/Wales/SY23") SY23
  li
    a(href="/browse/Wales/SY24") SY24
  li
    a(href="/browse/Wales/SY25") SY25
