ul.locations
  li
    a(href="/browse/Wales/LL22") LL22
  li
    a(href="/browse/Wales/LL24") LL24
  li
    a(href="/browse/Wales/LL25") LL25
  li
    a(href="/browse/Wales/LL26") LL26
  li
    a(href="/browse/Wales/LL27") LL27
  li
    a(href="/browse/Wales/LL28") LL28
  li
    a(href="/browse/Wales/LL29") LL29
  li
    a(href="/browse/Wales/LL30") LL30
  li
    a(href="/browse/Wales/LL31") LL31
  li
    a(href="/browse/Wales/LL32") LL32
  li
    a(href="/browse/Wales/LL33") LL33
  li
    a(href="/browse/Wales/LL34") LL34
