ul.locations
  li
    a(href="/browse/Wales/LL15") LL15
  li
    a(href="/browse/Wales/LL16") LL16
  li
    a(href="/browse/Wales/LL17") LL17
  li
    a(href="/browse/Wales/LL18") LL18
  li
    a(href="/browse/Wales/LL19") LL19
  li
    a(href="/browse/Wales/LL20") LL20
  li
    a(href="/browse/Wales/LL21") LL21
