ul.locations
  li
    a(href="/browse/Wales/LL23") LL23
  li
    a(href="/browse/Wales/LL35") LL35
  li
    a(href="/browse/Wales/LL36") LL36
  li
    a(href="/browse/Wales/LL37") LL37
  li
    a(href="/browse/Wales/LL38") LL38
  li
    a(href="/browse/Wales/LL39") LL39
  li
    a(href="/browse/Wales/LL40") LL40
  li
    a(href="/browse/Wales/LL41") LL41
  li
    a(href="/browse/Wales/LL42") LL42
  li
    a(href="/browse/Wales/LL43") LL43
  li
    a(href="/browse/Wales/LL44") LL44
  li
    a(href="/browse/Wales/LL45") LL45
  li
    a(href="/browse/Wales/LL46") LL46
  li
    a(href="/browse/Wales/LL47") LL47
  li
    a(href="/browse/Wales/LL48") LL48
  li
    a(href="/browse/Wales/LL49") LL49
  li
    a(href="/browse/Wales/LL51") LL51
  li
    a(href="/browse/Wales/LL52") LL52
  li
    a(href="/browse/Wales/LL53") LL53
  li
    a(href="/browse/Wales/LL54") LL54
  li
    a(href="/browse/Wales/LL55") LL55
  li
    a(href="/browse/Wales/LL56") LL56
  li
    a(href="/browse/Wales/LL57") LL57
