ul.locations
  li
    a(href="/browse/Wales/LL58") LL58
  li
    a(href="/browse/Wales/LL59") LL59
  li
    a(href="/browse/Wales/LL60") LL60
  li
    a(href="/browse/Wales/LL61") LL61
  li
    a(href="/browse/Wales/LL62") LL62
  li
    a(href="/browse/Wales/LL63") LL63
  li
    a(href="/browse/Wales/LL64") LL64
  li
    a(href="/browse/Wales/LL65") LL65
  li
    a(href="/browse/Wales/LL66") LL66
  li
    a(href="/browse/Wales/LL67") LL67
  li
    a(href="/browse/Wales/LL68") LL68
  li
    a(href="/browse/Wales/LL69") LL69
  li
    a(href="/browse/Wales/LL70") LL70
  li
    a(href="/browse/Wales/LL71") LL71
  li
    a(href="/browse/Wales/LL72") LL72
  li
    a(href="/browse/Wales/LL73") LL73
  li
    a(href="/browse/Wales/LL74") LL74
  li
    a(href="/browse/Wales/LL75") LL75
  li
    a(href="/browse/Wales/LL76") LL76
  li
    a(href="/browse/Wales/LL77") LL77
  li
    a(href="/browse/Wales/LL78") LL78
