ul.locations
  li
    a(href="/LD4 4AA") LD4 4AA
  li
    a(href="/LD4 4AB") LD4 4AB
  li
    a(href="/LD4 4AE") LD4 4AE
  li
    a(href="/LD4 4AF") LD4 4AF
  li
    a(href="/LD4 4AG") LD4 4AG
  li
    a(href="/LD4 4AH") LD4 4AH
  li
    a(href="/LD4 4AL") LD4 4AL
  li
    a(href="/LD4 4AN") LD4 4AN
  li
    a(href="/LD4 4AP") LD4 4AP
  li
    a(href="/LD4 4AR") LD4 4AR
  li
    a(href="/LD4 4AS") LD4 4AS
  li
    a(href="/LD4 4AT") LD4 4AT
  li
    a(href="/LD4 4AU") LD4 4AU
  li
    a(href="/LD4 4AW") LD4 4AW
  li
    a(href="/LD4 4AY") LD4 4AY
  li
    a(href="/LD4 4BA") LD4 4BA
  li
    a(href="/LD4 4BB") LD4 4BB
  li
    a(href="/LD4 4BD") LD4 4BD
  li
    a(href="/LD4 4BG") LD4 4BG
  li
    a(href="/LD4 4BH") LD4 4BH
  li
    a(href="/LD4 4BL") LD4 4BL
  li
    a(href="/LD4 4BN") LD4 4BN
  li
    a(href="/LD4 4BS") LD4 4BS
  li
    a(href="/LD4 4BT") LD4 4BT
  li
    a(href="/LD4 4BU") LD4 4BU
  li
    a(href="/LD4 4BW") LD4 4BW
  li
    a(href="/LD4 4BY") LD4 4BY
  li
    a(href="/LD4 4DA") LD4 4DA
  li
    a(href="/LD4 4DB") LD4 4DB
  li
    a(href="/LD4 4DD") LD4 4DD
  li
    a(href="/LD4 4DE") LD4 4DE
  li
    a(href="/LD4 4DF") LD4 4DF
  li
    a(href="/LD4 4DG") LD4 4DG
  li
    a(href="/LD4 4DH") LD4 4DH
  li
    a(href="/LD4 4DL") LD4 4DL
  li
    a(href="/LD4 4DN") LD4 4DN
  li
    a(href="/LD4 4DP") LD4 4DP
  li
    a(href="/LD4 4DR") LD4 4DR
  li
    a(href="/LD4 4DS") LD4 4DS
  li
    a(href="/LD4 4DU") LD4 4DU
  li
    a(href="/LD4 4DW") LD4 4DW
  li
    a(href="/LD4 4EA") LD4 4EA
  li
    a(href="/LD4 4EB") LD4 4EB
  li
    a(href="/LD4 4ED") LD4 4ED
  li
    a(href="/LD4 4EE") LD4 4EE
  li
    a(href="/LD4 4EF") LD4 4EF
  li
    a(href="/LD4 4EG") LD4 4EG
  li
    a(href="/LD4 4EH") LD4 4EH
  li
    a(href="/LD4 4EL") LD4 4EL
  li
    a(href="/LD4 4EN") LD4 4EN
  li
    a(href="/LD4 4EP") LD4 4EP
  li
    a(href="/LD4 4ER") LD4 4ER
  li
    a(href="/LD4 4ES") LD4 4ES
  li
    a(href="/LD4 4EW") LD4 4EW
