ul.locations
  li
    a(href="/LD5 4AB") LD5 4AB
  li
    a(href="/LD5 4AD") LD5 4AD
  li
    a(href="/LD5 4AE") LD5 4AE
  li
    a(href="/LD5 4AF") LD5 4AF
  li
    a(href="/LD5 4AG") LD5 4AG
  li
    a(href="/LD5 4BA") LD5 4BA
  li
    a(href="/LD5 4RA") LD5 4RA
  li
    a(href="/LD5 4RB") LD5 4RB
  li
    a(href="/LD5 4RD") LD5 4RD
  li
    a(href="/LD5 4RE") LD5 4RE
  li
    a(href="/LD5 4RF") LD5 4RF
  li
    a(href="/LD5 4RG") LD5 4RG
  li
    a(href="/LD5 4RH") LD5 4RH
  li
    a(href="/LD5 4RJ") LD5 4RJ
  li
    a(href="/LD5 4RL") LD5 4RL
  li
    a(href="/LD5 4RN") LD5 4RN
  li
    a(href="/LD5 4RP") LD5 4RP
  li
    a(href="/LD5 4RQ") LD5 4RQ
  li
    a(href="/LD5 4RR") LD5 4RR
  li
    a(href="/LD5 4RS") LD5 4RS
  li
    a(href="/LD5 4RT") LD5 4RT
  li
    a(href="/LD5 4RU") LD5 4RU
  li
    a(href="/LD5 4RW") LD5 4RW
  li
    a(href="/LD5 4SA") LD5 4SA
  li
    a(href="/LD5 4SB") LD5 4SB
  li
    a(href="/LD5 4SD") LD5 4SD
  li
    a(href="/LD5 4SE") LD5 4SE
  li
    a(href="/LD5 4SF") LD5 4SF
  li
    a(href="/LD5 4SG") LD5 4SG
  li
    a(href="/LD5 4SL") LD5 4SL
  li
    a(href="/LD5 4SN") LD5 4SN
  li
    a(href="/LD5 4SP") LD5 4SP
  li
    a(href="/LD5 4SR") LD5 4SR
  li
    a(href="/LD5 4SS") LD5 4SS
  li
    a(href="/LD5 4ST") LD5 4ST
  li
    a(href="/LD5 4SU") LD5 4SU
  li
    a(href="/LD5 4SY") LD5 4SY
  li
    a(href="/LD5 4TA") LD5 4TA
  li
    a(href="/LD5 4TB") LD5 4TB
  li
    a(href="/LD5 4TD") LD5 4TD
  li
    a(href="/LD5 4TE") LD5 4TE
  li
    a(href="/LD5 4TH") LD5 4TH
  li
    a(href="/LD5 4TL") LD5 4TL
  li
    a(href="/LD5 4TN") LD5 4TN
  li
    a(href="/LD5 4TP") LD5 4TP
  li
    a(href="/LD5 4TR") LD5 4TR
  li
    a(href="/LD5 4TS") LD5 4TS
  li
    a(href="/LD5 4TT") LD5 4TT
  li
    a(href="/LD5 4TW") LD5 4TW
  li
    a(href="/LD5 4TY") LD5 4TY
  li
    a(href="/LD5 4UA") LD5 4UA
  li
    a(href="/LD5 4UB") LD5 4UB
  li
    a(href="/LD5 4UD") LD5 4UD
  li
    a(href="/LD5 4UE") LD5 4UE
  li
    a(href="/LD5 4UF") LD5 4UF
  li
    a(href="/LD5 4UG") LD5 4UG
  li
    a(href="/LD5 4UH") LD5 4UH
  li
    a(href="/LD5 4UL") LD5 4UL
  li
    a(href="/LD5 4UN") LD5 4UN
  li
    a(href="/LD5 4UP") LD5 4UP
  li
    a(href="/LD5 4UR") LD5 4UR
  li
    a(href="/LD5 4UT") LD5 4UT
  li
    a(href="/LD5 4UU") LD5 4UU
  li
    a(href="/LD5 4UY") LD5 4UY
  li
    a(href="/LD5 4YA") LD5 4YA
  li
    a(href="/LD5 4YB") LD5 4YB
  li
    a(href="/LD5 4YD") LD5 4YD
  li
    a(href="/LD5 4YE") LD5 4YE
  li
    a(href="/LD5 4YF") LD5 4YF
  li
    a(href="/LD5 4YG") LD5 4YG
