ul.locations
  li
    a(href="/LL17 0AA") LL17 0AA
  li
    a(href="/LL17 0AB") LL17 0AB
  li
    a(href="/LL17 0AD") LL17 0AD
  li
    a(href="/LL17 0AE") LL17 0AE
  li
    a(href="/LL17 0AF") LL17 0AF
  li
    a(href="/LL17 0AG") LL17 0AG
  li
    a(href="/LL17 0AH") LL17 0AH
  li
    a(href="/LL17 0AJ") LL17 0AJ
  li
    a(href="/LL17 0AL") LL17 0AL
  li
    a(href="/LL17 0AN") LL17 0AN
  li
    a(href="/LL17 0AP") LL17 0AP
  li
    a(href="/LL17 0AQ") LL17 0AQ
  li
    a(href="/LL17 0AR") LL17 0AR
  li
    a(href="/LL17 0AS") LL17 0AS
  li
    a(href="/LL17 0AT") LL17 0AT
  li
    a(href="/LL17 0AU") LL17 0AU
  li
    a(href="/LL17 0AW") LL17 0AW
  li
    a(href="/LL17 0AX") LL17 0AX
  li
    a(href="/LL17 0AY") LL17 0AY
  li
    a(href="/LL17 0AZ") LL17 0AZ
  li
    a(href="/LL17 0BA") LL17 0BA
  li
    a(href="/LL17 0BB") LL17 0BB
  li
    a(href="/LL17 0BD") LL17 0BD
  li
    a(href="/LL17 0BE") LL17 0BE
  li
    a(href="/LL17 0BF") LL17 0BF
  li
    a(href="/LL17 0BG") LL17 0BG
  li
    a(href="/LL17 0BH") LL17 0BH
  li
    a(href="/LL17 0BJ") LL17 0BJ
  li
    a(href="/LL17 0BL") LL17 0BL
  li
    a(href="/LL17 0BN") LL17 0BN
  li
    a(href="/LL17 0BP") LL17 0BP
  li
    a(href="/LL17 0BQ") LL17 0BQ
  li
    a(href="/LL17 0BS") LL17 0BS
  li
    a(href="/LL17 0BT") LL17 0BT
  li
    a(href="/LL17 0BU") LL17 0BU
  li
    a(href="/LL17 0BW") LL17 0BW
  li
    a(href="/LL17 0BX") LL17 0BX
  li
    a(href="/LL17 0BY") LL17 0BY
  li
    a(href="/LL17 0BZ") LL17 0BZ
  li
    a(href="/LL17 0DA") LL17 0DA
  li
    a(href="/LL17 0DB") LL17 0DB
  li
    a(href="/LL17 0DD") LL17 0DD
  li
    a(href="/LL17 0DE") LL17 0DE
  li
    a(href="/LL17 0DF") LL17 0DF
  li
    a(href="/LL17 0DG") LL17 0DG
  li
    a(href="/LL17 0DH") LL17 0DH
  li
    a(href="/LL17 0DJ") LL17 0DJ
  li
    a(href="/LL17 0DL") LL17 0DL
  li
    a(href="/LL17 0DN") LL17 0DN
  li
    a(href="/LL17 0DP") LL17 0DP
  li
    a(href="/LL17 0DQ") LL17 0DQ
  li
    a(href="/LL17 0DS") LL17 0DS
  li
    a(href="/LL17 0DT") LL17 0DT
  li
    a(href="/LL17 0DU") LL17 0DU
  li
    a(href="/LL17 0DW") LL17 0DW
  li
    a(href="/LL17 0DX") LL17 0DX
  li
    a(href="/LL17 0DY") LL17 0DY
  li
    a(href="/LL17 0DZ") LL17 0DZ
  li
    a(href="/LL17 0EB") LL17 0EB
  li
    a(href="/LL17 0ED") LL17 0ED
  li
    a(href="/LL17 0EE") LL17 0EE
  li
    a(href="/LL17 0EF") LL17 0EF
  li
    a(href="/LL17 0EG") LL17 0EG
  li
    a(href="/LL17 0EH") LL17 0EH
  li
    a(href="/LL17 0EL") LL17 0EL
  li
    a(href="/LL17 0EN") LL17 0EN
  li
    a(href="/LL17 0EP") LL17 0EP
  li
    a(href="/LL17 0ER") LL17 0ER
  li
    a(href="/LL17 0ES") LL17 0ES
  li
    a(href="/LL17 0ET") LL17 0ET
  li
    a(href="/LL17 0EU") LL17 0EU
  li
    a(href="/LL17 0EW") LL17 0EW
  li
    a(href="/LL17 0EY") LL17 0EY
  li
    a(href="/LL17 0HA") LL17 0HA
  li
    a(href="/LL17 0HB") LL17 0HB
  li
    a(href="/LL17 0HD") LL17 0HD
  li
    a(href="/LL17 0HE") LL17 0HE
  li
    a(href="/LL17 0HF") LL17 0HF
  li
    a(href="/LL17 0HG") LL17 0HG
  li
    a(href="/LL17 0HH") LL17 0HH
  li
    a(href="/LL17 0HL") LL17 0HL
  li
    a(href="/LL17 0HN") LL17 0HN
  li
    a(href="/LL17 0HP") LL17 0HP
  li
    a(href="/LL17 0HQ") LL17 0HQ
  li
    a(href="/LL17 0HR") LL17 0HR
  li
    a(href="/LL17 0HT") LL17 0HT
  li
    a(href="/LL17 0HU") LL17 0HU
  li
    a(href="/LL17 0HW") LL17 0HW
  li
    a(href="/LL17 0HX") LL17 0HX
  li
    a(href="/LL17 0HY") LL17 0HY
  li
    a(href="/LL17 0JA") LL17 0JA
  li
    a(href="/LL17 0JB") LL17 0JB
  li
    a(href="/LL17 0JD") LL17 0JD
  li
    a(href="/LL17 0JE") LL17 0JE
  li
    a(href="/LL17 0JG") LL17 0JG
  li
    a(href="/LL17 0JJ") LL17 0JJ
  li
    a(href="/LL17 0JL") LL17 0JL
  li
    a(href="/LL17 0LA") LL17 0LA
  li
    a(href="/LL17 0LB") LL17 0LB
  li
    a(href="/LL17 0LD") LL17 0LD
  li
    a(href="/LL17 0LF") LL17 0LF
  li
    a(href="/LL17 0LG") LL17 0LG
  li
    a(href="/LL17 0LH") LL17 0LH
  li
    a(href="/LL17 0LJ") LL17 0LJ
  li
    a(href="/LL17 0LL") LL17 0LL
  li
    a(href="/LL17 0LN") LL17 0LN
  li
    a(href="/LL17 0LQ") LL17 0LQ
  li
    a(href="/LL17 0LT") LL17 0LT
  li
    a(href="/LL17 0LU") LL17 0LU
  li
    a(href="/LL17 0LW") LL17 0LW
  li
    a(href="/LL17 0LY") LL17 0LY
  li
    a(href="/LL17 0LZ") LL17 0LZ
  li
    a(href="/LL17 0NA") LL17 0NA
  li
    a(href="/LL17 0NB") LL17 0NB
  li
    a(href="/LL17 0ND") LL17 0ND
  li
    a(href="/LL17 0NE") LL17 0NE
  li
    a(href="/LL17 0NF") LL17 0NF
  li
    a(href="/LL17 0NG") LL17 0NG
  li
    a(href="/LL17 0NH") LL17 0NH
  li
    a(href="/LL17 0NL") LL17 0NL
  li
    a(href="/LL17 0NN") LL17 0NN
  li
    a(href="/LL17 0NP") LL17 0NP
  li
    a(href="/LL17 0NR") LL17 0NR
  li
    a(href="/LL17 0NS") LL17 0NS
  li
    a(href="/LL17 0NT") LL17 0NT
  li
    a(href="/LL17 0NU") LL17 0NU
  li
    a(href="/LL17 0NW") LL17 0NW
  li
    a(href="/LL17 0NX") LL17 0NX
  li
    a(href="/LL17 0NY") LL17 0NY
  li
    a(href="/LL17 0PA") LL17 0PA
  li
    a(href="/LL17 0PB") LL17 0PB
  li
    a(href="/LL17 0PD") LL17 0PD
  li
    a(href="/LL17 0PE") LL17 0PE
  li
    a(href="/LL17 0PF") LL17 0PF
  li
    a(href="/LL17 0PG") LL17 0PG
  li
    a(href="/LL17 0PH") LL17 0PH
  li
    a(href="/LL17 0PJ") LL17 0PJ
  li
    a(href="/LL17 0PL") LL17 0PL
  li
    a(href="/LL17 0PN") LL17 0PN
  li
    a(href="/LL17 0PP") LL17 0PP
  li
    a(href="/LL17 0PR") LL17 0PR
  li
    a(href="/LL17 0PS") LL17 0PS
  li
    a(href="/LL17 0PT") LL17 0PT
  li
    a(href="/LL17 0PU") LL17 0PU
  li
    a(href="/LL17 0PW") LL17 0PW
  li
    a(href="/LL17 0PY") LL17 0PY
  li
    a(href="/LL17 0RD") LL17 0RD
  li
    a(href="/LL17 0RE") LL17 0RE
  li
    a(href="/LL17 0RF") LL17 0RF
  li
    a(href="/LL17 0RG") LL17 0RG
  li
    a(href="/LL17 0RH") LL17 0RH
  li
    a(href="/LL17 0RL") LL17 0RL
  li
    a(href="/LL17 0RN") LL17 0RN
  li
    a(href="/LL17 0RP") LL17 0RP
  li
    a(href="/LL17 0RQ") LL17 0RQ
  li
    a(href="/LL17 0RR") LL17 0RR
  li
    a(href="/LL17 0RS") LL17 0RS
  li
    a(href="/LL17 0RT") LL17 0RT
  li
    a(href="/LL17 0RU") LL17 0RU
  li
    a(href="/LL17 0RW") LL17 0RW
  li
    a(href="/LL17 0RY") LL17 0RY
  li
    a(href="/LL17 0SA") LL17 0SA
  li
    a(href="/LL17 0SB") LL17 0SB
  li
    a(href="/LL17 0SD") LL17 0SD
  li
    a(href="/LL17 0SE") LL17 0SE
  li
    a(href="/LL17 0SF") LL17 0SF
  li
    a(href="/LL17 0SG") LL17 0SG
  li
    a(href="/LL17 0SH") LL17 0SH
  li
    a(href="/LL17 0SJ") LL17 0SJ
  li
    a(href="/LL17 0SL") LL17 0SL
  li
    a(href="/LL17 0SN") LL17 0SN
  li
    a(href="/LL17 0SP") LL17 0SP
  li
    a(href="/LL17 0SQ") LL17 0SQ
  li
    a(href="/LL17 0SR") LL17 0SR
  li
    a(href="/LL17 0SS") LL17 0SS
  li
    a(href="/LL17 0ST") LL17 0ST
  li
    a(href="/LL17 0SU") LL17 0SU
  li
    a(href="/LL17 0SW") LL17 0SW
  li
    a(href="/LL17 0SX") LL17 0SX
  li
    a(href="/LL17 0SZ") LL17 0SZ
  li
    a(href="/LL17 0TA") LL17 0TA
  li
    a(href="/LL17 0TB") LL17 0TB
  li
    a(href="/LL17 0TD") LL17 0TD
  li
    a(href="/LL17 0TE") LL17 0TE
  li
    a(href="/LL17 0TF") LL17 0TF
  li
    a(href="/LL17 0TG") LL17 0TG
  li
    a(href="/LL17 0TH") LL17 0TH
  li
    a(href="/LL17 0TL") LL17 0TL
  li
    a(href="/LL17 0TP") LL17 0TP
  li
    a(href="/LL17 0TR") LL17 0TR
  li
    a(href="/LL17 0TS") LL17 0TS
  li
    a(href="/LL17 0TT") LL17 0TT
  li
    a(href="/LL17 0TU") LL17 0TU
  li
    a(href="/LL17 0TW") LL17 0TW
  li
    a(href="/LL17 0TY") LL17 0TY
  li
    a(href="/LL17 0UA") LL17 0UA
  li
    a(href="/LL17 0UB") LL17 0UB
  li
    a(href="/LL17 0UD") LL17 0UD
  li
    a(href="/LL17 0UE") LL17 0UE
  li
    a(href="/LL17 0UG") LL17 0UG
  li
    a(href="/LL17 0UH") LL17 0UH
  li
    a(href="/LL17 0UL") LL17 0UL
  li
    a(href="/LL17 0UN") LL17 0UN
  li
    a(href="/LL17 0UP") LL17 0UP
  li
    a(href="/LL17 0UR") LL17 0UR
  li
    a(href="/LL17 0US") LL17 0US
  li
    a(href="/LL17 0UT") LL17 0UT
  li
    a(href="/LL17 0UU") LL17 0UU
  li
    a(href="/LL17 0UW") LL17 0UW
  li
    a(href="/LL17 0UY") LL17 0UY
  li
    a(href="/LL17 0WQ") LL17 0WQ
  li
    a(href="/LL17 0WS") LL17 0WS
  li
    a(href="/LL17 0YA") LL17 0YA
  li
    a(href="/LL17 0YP") LL17 0YP
  li
    a(href="/LL17 0YR") LL17 0YR
