ul.locations
  li
    a(href="/LL24 0AA") LL24 0AA
  li
    a(href="/LL24 0AB") LL24 0AB
  li
    a(href="/LL24 0AD") LL24 0AD
  li
    a(href="/LL24 0AE") LL24 0AE
  li
    a(href="/LL24 0AF") LL24 0AF
  li
    a(href="/LL24 0AG") LL24 0AG
  li
    a(href="/LL24 0AH") LL24 0AH
  li
    a(href="/LL24 0AJ") LL24 0AJ
  li
    a(href="/LL24 0AL") LL24 0AL
  li
    a(href="/LL24 0AN") LL24 0AN
  li
    a(href="/LL24 0AP") LL24 0AP
  li
    a(href="/LL24 0AQ") LL24 0AQ
  li
    a(href="/LL24 0AR") LL24 0AR
  li
    a(href="/LL24 0AS") LL24 0AS
  li
    a(href="/LL24 0AT") LL24 0AT
  li
    a(href="/LL24 0AW") LL24 0AW
  li
    a(href="/LL24 0AX") LL24 0AX
  li
    a(href="/LL24 0AY") LL24 0AY
  li
    a(href="/LL24 0AZ") LL24 0AZ
  li
    a(href="/LL24 0BA") LL24 0BA
  li
    a(href="/LL24 0BB") LL24 0BB
  li
    a(href="/LL24 0BD") LL24 0BD
  li
    a(href="/LL24 0BG") LL24 0BG
  li
    a(href="/LL24 0BH") LL24 0BH
  li
    a(href="/LL24 0BL") LL24 0BL
  li
    a(href="/LL24 0BN") LL24 0BN
  li
    a(href="/LL24 0BP") LL24 0BP
  li
    a(href="/LL24 0BS") LL24 0BS
  li
    a(href="/LL24 0BT") LL24 0BT
  li
    a(href="/LL24 0BU") LL24 0BU
  li
    a(href="/LL24 0BW") LL24 0BW
  li
    a(href="/LL24 0BY") LL24 0BY
  li
    a(href="/LL24 0DA") LL24 0DA
  li
    a(href="/LL24 0DB") LL24 0DB
  li
    a(href="/LL24 0DE") LL24 0DE
  li
    a(href="/LL24 0DF") LL24 0DF
  li
    a(href="/LL24 0DG") LL24 0DG
  li
    a(href="/LL24 0DH") LL24 0DH
  li
    a(href="/LL24 0DN") LL24 0DN
  li
    a(href="/LL24 0DP") LL24 0DP
  li
    a(href="/LL24 0DR") LL24 0DR
  li
    a(href="/LL24 0DS") LL24 0DS
  li
    a(href="/LL24 0DT") LL24 0DT
  li
    a(href="/LL24 0DU") LL24 0DU
  li
    a(href="/LL24 0DW") LL24 0DW
  li
    a(href="/LL24 0DY") LL24 0DY
  li
    a(href="/LL24 0EA") LL24 0EA
  li
    a(href="/LL24 0EB") LL24 0EB
  li
    a(href="/LL24 0ED") LL24 0ED
  li
    a(href="/LL24 0EE") LL24 0EE
  li
    a(href="/LL24 0EF") LL24 0EF
  li
    a(href="/LL24 0EG") LL24 0EG
  li
    a(href="/LL24 0EH") LL24 0EH
  li
    a(href="/LL24 0EL") LL24 0EL
  li
    a(href="/LL24 0EN") LL24 0EN
  li
    a(href="/LL24 0EP") LL24 0EP
  li
    a(href="/LL24 0ES") LL24 0ES
  li
    a(href="/LL24 0ET") LL24 0ET
  li
    a(href="/LL24 0EU") LL24 0EU
  li
    a(href="/LL24 0EW") LL24 0EW
  li
    a(href="/LL24 0HA") LL24 0HA
  li
    a(href="/LL24 0HB") LL24 0HB
  li
    a(href="/LL24 0HD") LL24 0HD
  li
    a(href="/LL24 0HE") LL24 0HE
  li
    a(href="/LL24 0HF") LL24 0HF
  li
    a(href="/LL24 0HH") LL24 0HH
  li
    a(href="/LL24 0HL") LL24 0HL
  li
    a(href="/LL24 0HN") LL24 0HN
  li
    a(href="/LL24 0HP") LL24 0HP
  li
    a(href="/LL24 0HR") LL24 0HR
  li
    a(href="/LL24 0HS") LL24 0HS
  li
    a(href="/LL24 0HT") LL24 0HT
  li
    a(href="/LL24 0HU") LL24 0HU
  li
    a(href="/LL24 0HW") LL24 0HW
  li
    a(href="/LL24 0HX") LL24 0HX
  li
    a(href="/LL24 0HY") LL24 0HY
  li
    a(href="/LL24 0HZ") LL24 0HZ
  li
    a(href="/LL24 0LA") LL24 0LA
  li
    a(href="/LL24 0LB") LL24 0LB
  li
    a(href="/LL24 0LD") LL24 0LD
  li
    a(href="/LL24 0LE") LL24 0LE
  li
    a(href="/LL24 0LF") LL24 0LF
  li
    a(href="/LL24 0LG") LL24 0LG
  li
    a(href="/LL24 0LH") LL24 0LH
  li
    a(href="/LL24 0LL") LL24 0LL
  li
    a(href="/LL24 0LN") LL24 0LN
  li
    a(href="/LL24 0LP") LL24 0LP
  li
    a(href="/LL24 0LR") LL24 0LR
  li
    a(href="/LL24 0LS") LL24 0LS
  li
    a(href="/LL24 0LT") LL24 0LT
  li
    a(href="/LL24 0LU") LL24 0LU
  li
    a(href="/LL24 0LW") LL24 0LW
  li
    a(href="/LL24 0LY") LL24 0LY
  li
    a(href="/LL24 0ND") LL24 0ND
  li
    a(href="/LL24 0NF") LL24 0NF
  li
    a(href="/LL24 0NG") LL24 0NG
  li
    a(href="/LL24 0NH") LL24 0NH
  li
    a(href="/LL24 0NL") LL24 0NL
  li
    a(href="/LL24 0NN") LL24 0NN
  li
    a(href="/LL24 0NP") LL24 0NP
  li
    a(href="/LL24 0NR") LL24 0NR
  li
    a(href="/LL24 0NS") LL24 0NS
  li
    a(href="/LL24 0NT") LL24 0NT
  li
    a(href="/LL24 0NU") LL24 0NU
  li
    a(href="/LL24 0NW") LL24 0NW
  li
    a(href="/LL24 0NY") LL24 0NY
  li
    a(href="/LL24 0PA") LL24 0PA
  li
    a(href="/LL24 0PB") LL24 0PB
  li
    a(href="/LL24 0PD") LL24 0PD
  li
    a(href="/LL24 0PE") LL24 0PE
  li
    a(href="/LL24 0PF") LL24 0PF
  li
    a(href="/LL24 0PG") LL24 0PG
  li
    a(href="/LL24 0PN") LL24 0PN
  li
    a(href="/LL24 0PP") LL24 0PP
  li
    a(href="/LL24 0PR") LL24 0PR
  li
    a(href="/LL24 0PS") LL24 0PS
  li
    a(href="/LL24 0PT") LL24 0PT
  li
    a(href="/LL24 0PU") LL24 0PU
  li
    a(href="/LL24 0PW") LL24 0PW
  li
    a(href="/LL24 0PY") LL24 0PY
  li
    a(href="/LL24 0RA") LL24 0RA
  li
    a(href="/LL24 0RB") LL24 0RB
  li
    a(href="/LL24 0RD") LL24 0RD
  li
    a(href="/LL24 0RE") LL24 0RE
  li
    a(href="/LL24 0RG") LL24 0RG
  li
    a(href="/LL24 0RH") LL24 0RH
  li
    a(href="/LL24 0RL") LL24 0RL
  li
    a(href="/LL24 0RN") LL24 0RN
  li
    a(href="/LL24 0RP") LL24 0RP
  li
    a(href="/LL24 0RR") LL24 0RR
  li
    a(href="/LL24 0RS") LL24 0RS
  li
    a(href="/LL24 0RT") LL24 0RT
  li
    a(href="/LL24 0RU") LL24 0RU
  li
    a(href="/LL24 0RY") LL24 0RY
  li
    a(href="/LL24 0SA") LL24 0SA
  li
    a(href="/LL24 0SB") LL24 0SB
  li
    a(href="/LL24 0SD") LL24 0SD
  li
    a(href="/LL24 0SF") LL24 0SF
  li
    a(href="/LL24 0SG") LL24 0SG
  li
    a(href="/LL24 0SH") LL24 0SH
  li
    a(href="/LL24 0SL") LL24 0SL
  li
    a(href="/LL24 0SN") LL24 0SN
  li
    a(href="/LL24 0SR") LL24 0SR
  li
    a(href="/LL24 0SS") LL24 0SS
  li
    a(href="/LL24 0ST") LL24 0ST
  li
    a(href="/LL24 0SU") LL24 0SU
  li
    a(href="/LL24 0SW") LL24 0SW
  li
    a(href="/LL24 0SY") LL24 0SY
  li
    a(href="/LL24 0TA") LL24 0TA
  li
    a(href="/LL24 0TB") LL24 0TB
  li
    a(href="/LL24 0TD") LL24 0TD
  li
    a(href="/LL24 0TE") LL24 0TE
  li
    a(href="/LL24 0TF") LL24 0TF
  li
    a(href="/LL24 0TG") LL24 0TG
  li
    a(href="/LL24 0TH") LL24 0TH
  li
    a(href="/LL24 0TL") LL24 0TL
  li
    a(href="/LL24 0TN") LL24 0TN
  li
    a(href="/LL24 0TP") LL24 0TP
  li
    a(href="/LL24 0TR") LL24 0TR
  li
    a(href="/LL24 0TW") LL24 0TW
  li
    a(href="/LL24 0TY") LL24 0TY
  li
    a(href="/LL24 0UA") LL24 0UA
  li
    a(href="/LL24 0UB") LL24 0UB
  li
    a(href="/LL24 0UD") LL24 0UD
  li
    a(href="/LL24 0UE") LL24 0UE
  li
    a(href="/LL24 0UF") LL24 0UF
  li
    a(href="/LL24 0UG") LL24 0UG
  li
    a(href="/LL24 0UH") LL24 0UH
  li
    a(href="/LL24 0UJ") LL24 0UJ
  li
    a(href="/LL24 0UL") LL24 0UL
  li
    a(href="/LL24 0UN") LL24 0UN
  li
    a(href="/LL24 0UP") LL24 0UP
  li
    a(href="/LL24 0UR") LL24 0UR
  li
    a(href="/LL24 0UT") LL24 0UT
  li
    a(href="/LL24 0UU") LL24 0UU
  li
    a(href="/LL24 0UW") LL24 0UW
  li
    a(href="/LL24 0UY") LL24 0UY
  li
    a(href="/LL24 0YA") LL24 0YA
  li
    a(href="/LL24 0YB") LL24 0YB
  li
    a(href="/LL24 0YD") LL24 0YD
  li
    a(href="/LL24 0YE") LL24 0YE
  li
    a(href="/LL24 0YF") LL24 0YF
  li
    a(href="/LL24 0YG") LL24 0YG
  li
    a(href="/LL24 0YH") LL24 0YH
  li
    a(href="/LL24 0YL") LL24 0YL
  li
    a(href="/LL24 0YN") LL24 0YN
  li
    a(href="/LL24 0YP") LL24 0YP
  li
    a(href="/LL24 0YR") LL24 0YR
  li
    a(href="/LL24 0YS") LL24 0YS
  li
    a(href="/LL24 0YT") LL24 0YT
  li
    a(href="/LL24 0YU") LL24 0YU
  li
    a(href="/LL24 0YW") LL24 0YW
  li
    a(href="/LL24 0YY") LL24 0YY
  li
    a(href="/LL24 0ZD") LL24 0ZD
  li
    a(href="/LL24 0ZF") LL24 0ZF
  li
    a(href="/LL24 9AF") LL24 9AF
  li
    a(href="/LL24 9AG") LL24 9AG
  li
    a(href="/LL24 9AH") LL24 9AH
