ul.locations
  li
    a(href="/LL25 0DJ") LL25 0DJ
  li
    a(href="/LL25 0DQ") LL25 0DQ
  li
    a(href="/LL25 0DX") LL25 0DX
  li
    a(href="/LL25 0DZ") LL25 0DZ
  li
    a(href="/LL25 0EJ") LL25 0EJ
  li
    a(href="/LL25 0EQ") LL25 0EQ
  li
    a(href="/LL25 0EX") LL25 0EX
  li
    a(href="/LL25 0EZ") LL25 0EZ
  li
    a(href="/LL25 0HJ") LL25 0HJ
  li
    a(href="/LL25 0HQ") LL25 0HQ
  li
    a(href="/LL25 0HX") LL25 0HX
  li
    a(href="/LL25 0JA") LL25 0JA
  li
    a(href="/LL25 0JB") LL25 0JB
  li
    a(href="/LL25 0JD") LL25 0JD
  li
    a(href="/LL25 0JE") LL25 0JE
  li
    a(href="/LL25 0JF") LL25 0JF
  li
    a(href="/LL25 0JG") LL25 0JG
  li
    a(href="/LL25 0JH") LL25 0JH
  li
    a(href="/LL25 0JJ") LL25 0JJ
  li
    a(href="/LL25 0JQ") LL25 0JQ
  li
    a(href="/LL25 0LZ") LL25 0LZ
  li
    a(href="/LL25 0NJ") LL25 0NJ
  li
    a(href="/LL25 0NQ") LL25 0NQ
  li
    a(href="/LL25 0NZ") LL25 0NZ
  li
    a(href="/LL25 0PJ") LL25 0PJ
  li
    a(href="/LL25 0PQ") LL25 0PQ
  li
    a(href="/LL25 0PX") LL25 0PX
  li
    a(href="/LL25 0PZ") LL25 0PZ
  li
    a(href="/LL25 0RJ") LL25 0RJ
  li
    a(href="/LL25 0RZ") LL25 0RZ
  li
    a(href="/LL25 0SJ") LL25 0SJ
  li
    a(href="/LL25 0SQ") LL25 0SQ
  li
    a(href="/LL25 0SX") LL25 0SX
  li
    a(href="/LL25 0SZ") LL25 0SZ
  li
    a(href="/LL25 0TJ") LL25 0TJ
  li
    a(href="/LL25 0TQ") LL25 0TQ
  li
    a(href="/LL25 0TX") LL25 0TX
  li
    a(href="/LL25 0TZ") LL25 0TZ
  li
    a(href="/LL25 0UJ") LL25 0UJ
  li
    a(href="/LL25 0UQ") LL25 0UQ
  li
    a(href="/LL25 0UX") LL25 0UX
  li
    a(href="/LL25 0UZ") LL25 0UZ
  li
    a(href="/LL25 0WA") LL25 0WA
  li
    a(href="/LL25 0YJ") LL25 0YJ
  li
    a(href="/LL25 0YQ") LL25 0YQ
  li
    a(href="/LL25 0YX") LL25 0YX
  li
    a(href="/LL25 0YZ") LL25 0YZ
