ul.locations
  li
    a(href="/LL26 0AA") LL26 0AA
  li
    a(href="/LL26 0AB") LL26 0AB
  li
    a(href="/LL26 0AD") LL26 0AD
  li
    a(href="/LL26 0AE") LL26 0AE
  li
    a(href="/LL26 0AF") LL26 0AF
  li
    a(href="/LL26 0AG") LL26 0AG
  li
    a(href="/LL26 0AJ") LL26 0AJ
  li
    a(href="/LL26 0AL") LL26 0AL
  li
    a(href="/LL26 0AQ") LL26 0AQ
  li
    a(href="/LL26 0AR") LL26 0AR
  li
    a(href="/LL26 0AT") LL26 0AT
  li
    a(href="/LL26 0AU") LL26 0AU
  li
    a(href="/LL26 0AW") LL26 0AW
  li
    a(href="/LL26 0AX") LL26 0AX
  li
    a(href="/LL26 0AY") LL26 0AY
  li
    a(href="/LL26 0AZ") LL26 0AZ
  li
    a(href="/LL26 0BA") LL26 0BA
  li
    a(href="/LL26 0BB") LL26 0BB
  li
    a(href="/LL26 0BD") LL26 0BD
  li
    a(href="/LL26 0BG") LL26 0BG
  li
    a(href="/LL26 0BH") LL26 0BH
  li
    a(href="/LL26 0BJ") LL26 0BJ
  li
    a(href="/LL26 0BL") LL26 0BL
  li
    a(href="/LL26 0BN") LL26 0BN
  li
    a(href="/LL26 0BP") LL26 0BP
  li
    a(href="/LL26 0BQ") LL26 0BQ
  li
    a(href="/LL26 0BT") LL26 0BT
  li
    a(href="/LL26 0BU") LL26 0BU
  li
    a(href="/LL26 0BW") LL26 0BW
  li
    a(href="/LL26 0BX") LL26 0BX
  li
    a(href="/LL26 0BZ") LL26 0BZ
  li
    a(href="/LL26 0DA") LL26 0DA
  li
    a(href="/LL26 0DB") LL26 0DB
  li
    a(href="/LL26 0DD") LL26 0DD
  li
    a(href="/LL26 0DF") LL26 0DF
  li
    a(href="/LL26 0DG") LL26 0DG
  li
    a(href="/LL26 0DH") LL26 0DH
  li
    a(href="/LL26 0DJ") LL26 0DJ
  li
    a(href="/LL26 0DL") LL26 0DL
  li
    a(href="/LL26 0DN") LL26 0DN
  li
    a(href="/LL26 0DP") LL26 0DP
  li
    a(href="/LL26 0DQ") LL26 0DQ
  li
    a(href="/LL26 0DR") LL26 0DR
  li
    a(href="/LL26 0DS") LL26 0DS
  li
    a(href="/LL26 0DT") LL26 0DT
  li
    a(href="/LL26 0DU") LL26 0DU
  li
    a(href="/LL26 0DW") LL26 0DW
  li
    a(href="/LL26 0DX") LL26 0DX
  li
    a(href="/LL26 0DZ") LL26 0DZ
  li
    a(href="/LL26 0EA") LL26 0EA
  li
    a(href="/LL26 0EB") LL26 0EB
  li
    a(href="/LL26 0ED") LL26 0ED
  li
    a(href="/LL26 0EE") LL26 0EE
  li
    a(href="/LL26 0EF") LL26 0EF
  li
    a(href="/LL26 0EG") LL26 0EG
  li
    a(href="/LL26 0EH") LL26 0EH
  li
    a(href="/LL26 0EL") LL26 0EL
  li
    a(href="/LL26 0EP") LL26 0EP
  li
    a(href="/LL26 0ER") LL26 0ER
  li
    a(href="/LL26 0ES") LL26 0ES
  li
    a(href="/LL26 0ET") LL26 0ET
  li
    a(href="/LL26 0EU") LL26 0EU
  li
    a(href="/LL26 0EW") LL26 0EW
  li
    a(href="/LL26 0EY") LL26 0EY
  li
    a(href="/LL26 0GA") LL26 0GA
  li
    a(href="/LL26 0GD") LL26 0GD
  li
    a(href="/LL26 0HD") LL26 0HD
  li
    a(href="/LL26 0HE") LL26 0HE
  li
    a(href="/LL26 0HF") LL26 0HF
  li
    a(href="/LL26 0HG") LL26 0HG
  li
    a(href="/LL26 0HH") LL26 0HH
  li
    a(href="/LL26 0HL") LL26 0HL
  li
    a(href="/LL26 0HP") LL26 0HP
  li
    a(href="/LL26 0HQ") LL26 0HQ
  li
    a(href="/LL26 0HR") LL26 0HR
  li
    a(href="/LL26 0HS") LL26 0HS
  li
    a(href="/LL26 0HT") LL26 0HT
  li
    a(href="/LL26 0HU") LL26 0HU
  li
    a(href="/LL26 0HW") LL26 0HW
  li
    a(href="/LL26 0LA") LL26 0LA
  li
    a(href="/LL26 0LB") LL26 0LB
  li
    a(href="/LL26 0LD") LL26 0LD
  li
    a(href="/LL26 0LE") LL26 0LE
  li
    a(href="/LL26 0LG") LL26 0LG
  li
    a(href="/LL26 0LH") LL26 0LH
  li
    a(href="/LL26 0LJ") LL26 0LJ
  li
    a(href="/LL26 0LL") LL26 0LL
  li
    a(href="/LL26 0LQ") LL26 0LQ
  li
    a(href="/LL26 0LR") LL26 0LR
  li
    a(href="/LL26 0LS") LL26 0LS
  li
    a(href="/LL26 0LT") LL26 0LT
  li
    a(href="/LL26 0LU") LL26 0LU
  li
    a(href="/LL26 0LX") LL26 0LX
  li
    a(href="/LL26 0LZ") LL26 0LZ
  li
    a(href="/LL26 0NA") LL26 0NA
  li
    a(href="/LL26 0ND") LL26 0ND
  li
    a(href="/LL26 0NE") LL26 0NE
  li
    a(href="/LL26 0NF") LL26 0NF
  li
    a(href="/LL26 0NG") LL26 0NG
  li
    a(href="/LL26 0NH") LL26 0NH
  li
    a(href="/LL26 0NL") LL26 0NL
  li
    a(href="/LL26 0NN") LL26 0NN
  li
    a(href="/LL26 0NP") LL26 0NP
  li
    a(href="/LL26 0NR") LL26 0NR
  li
    a(href="/LL26 0NS") LL26 0NS
  li
    a(href="/LL26 0NT") LL26 0NT
  li
    a(href="/LL26 0NU") LL26 0NU
  li
    a(href="/LL26 0NW") LL26 0NW
  li
    a(href="/LL26 0NY") LL26 0NY
  li
    a(href="/LL26 0PA") LL26 0PA
  li
    a(href="/LL26 0PB") LL26 0PB
  li
    a(href="/LL26 0PD") LL26 0PD
  li
    a(href="/LL26 0PE") LL26 0PE
  li
    a(href="/LL26 0PF") LL26 0PF
  li
    a(href="/LL26 0PG") LL26 0PG
  li
    a(href="/LL26 0PH") LL26 0PH
  li
    a(href="/LL26 0PJ") LL26 0PJ
  li
    a(href="/LL26 0PL") LL26 0PL
  li
    a(href="/LL26 0PN") LL26 0PN
  li
    a(href="/LL26 0PP") LL26 0PP
  li
    a(href="/LL26 0PQ") LL26 0PQ
  li
    a(href="/LL26 0PR") LL26 0PR
  li
    a(href="/LL26 0PS") LL26 0PS
  li
    a(href="/LL26 0PT") LL26 0PT
  li
    a(href="/LL26 0PU") LL26 0PU
  li
    a(href="/LL26 0PW") LL26 0PW
  li
    a(href="/LL26 0PY") LL26 0PY
  li
    a(href="/LL26 0RA") LL26 0RA
  li
    a(href="/LL26 0RB") LL26 0RB
  li
    a(href="/LL26 0RD") LL26 0RD
  li
    a(href="/LL26 0RE") LL26 0RE
  li
    a(href="/LL26 0RF") LL26 0RF
  li
    a(href="/LL26 0RG") LL26 0RG
  li
    a(href="/LL26 0RH") LL26 0RH
  li
    a(href="/LL26 0RJ") LL26 0RJ
  li
    a(href="/LL26 0RL") LL26 0RL
  li
    a(href="/LL26 0RN") LL26 0RN
  li
    a(href="/LL26 0RP") LL26 0RP
  li
    a(href="/LL26 0RR") LL26 0RR
  li
    a(href="/LL26 0RS") LL26 0RS
  li
    a(href="/LL26 0RT") LL26 0RT
  li
    a(href="/LL26 0RU") LL26 0RU
  li
    a(href="/LL26 0RW") LL26 0RW
  li
    a(href="/LL26 0RY") LL26 0RY
  li
    a(href="/LL26 0SA") LL26 0SA
  li
    a(href="/LL26 0SB") LL26 0SB
  li
    a(href="/LL26 0SD") LL26 0SD
  li
    a(href="/LL26 0SE") LL26 0SE
  li
    a(href="/LL26 0SF") LL26 0SF
  li
    a(href="/LL26 0SG") LL26 0SG
  li
    a(href="/LL26 0SH") LL26 0SH
  li
    a(href="/LL26 0SJ") LL26 0SJ
  li
    a(href="/LL26 0SL") LL26 0SL
  li
    a(href="/LL26 0SN") LL26 0SN
  li
    a(href="/LL26 0SP") LL26 0SP
  li
    a(href="/LL26 0SR") LL26 0SR
  li
    a(href="/LL26 0SS") LL26 0SS
  li
    a(href="/LL26 0ST") LL26 0ST
  li
    a(href="/LL26 0SU") LL26 0SU
  li
    a(href="/LL26 0SW") LL26 0SW
  li
    a(href="/LL26 0SY") LL26 0SY
  li
    a(href="/LL26 0SZ") LL26 0SZ
  li
    a(href="/LL26 0TA") LL26 0TA
  li
    a(href="/LL26 0TB") LL26 0TB
  li
    a(href="/LL26 0TD") LL26 0TD
  li
    a(href="/LL26 0TE") LL26 0TE
  li
    a(href="/LL26 0TF") LL26 0TF
  li
    a(href="/LL26 0TG") LL26 0TG
  li
    a(href="/LL26 0TH") LL26 0TH
  li
    a(href="/LL26 0TL") LL26 0TL
  li
    a(href="/LL26 0TN") LL26 0TN
  li
    a(href="/LL26 0TP") LL26 0TP
  li
    a(href="/LL26 0TR") LL26 0TR
  li
    a(href="/LL26 0TS") LL26 0TS
  li
    a(href="/LL26 0TT") LL26 0TT
  li
    a(href="/LL26 0TU") LL26 0TU
  li
    a(href="/LL26 0TW") LL26 0TW
  li
    a(href="/LL26 0TY") LL26 0TY
  li
    a(href="/LL26 0UA") LL26 0UA
  li
    a(href="/LL26 0UB") LL26 0UB
  li
    a(href="/LL26 0UD") LL26 0UD
  li
    a(href="/LL26 0UE") LL26 0UE
  li
    a(href="/LL26 0UF") LL26 0UF
  li
    a(href="/LL26 0UG") LL26 0UG
  li
    a(href="/LL26 0UH") LL26 0UH
  li
    a(href="/LL26 0UL") LL26 0UL
  li
    a(href="/LL26 0UN") LL26 0UN
  li
    a(href="/LL26 0UP") LL26 0UP
  li
    a(href="/LL26 0UR") LL26 0UR
  li
    a(href="/LL26 0UT") LL26 0UT
  li
    a(href="/LL26 0UU") LL26 0UU
  li
    a(href="/LL26 0UW") LL26 0UW
  li
    a(href="/LL26 0UY") LL26 0UY
  li
    a(href="/LL26 0WY") LL26 0WY
  li
    a(href="/LL26 0YA") LL26 0YA
  li
    a(href="/LL26 0YB") LL26 0YB
  li
    a(href="/LL26 0YD") LL26 0YD
  li
    a(href="/LL26 0YE") LL26 0YE
  li
    a(href="/LL26 0YF") LL26 0YF
  li
    a(href="/LL26 0YG") LL26 0YG
  li
    a(href="/LL26 0YH") LL26 0YH
  li
    a(href="/LL26 0YL") LL26 0YL
  li
    a(href="/LL26 0YN") LL26 0YN
  li
    a(href="/LL26 0YP") LL26 0YP
  li
    a(href="/LL26 0YR") LL26 0YR
  li
    a(href="/LL26 0YS") LL26 0YS
  li
    a(href="/LL26 0YT") LL26 0YT
  li
    a(href="/LL26 0YU") LL26 0YU
  li
    a(href="/LL26 0YW") LL26 0YW
  li
    a(href="/LL26 0YY") LL26 0YY
  li
    a(href="/LL26 0ZA") LL26 0ZA
  li
    a(href="/LL26 0ZF") LL26 0ZF
  li
    a(href="/LL26 9AD") LL26 9AD
  li
    a(href="/LL26 9AF") LL26 9AF
  li
    a(href="/LL26 9ZZ") LL26 9ZZ
