ul.locations
  li
    a(href="/LL27 0HX") LL27 0HX
  li
    a(href="/LL27 0HZ") LL27 0HZ
  li
    a(href="/LL27 0JA") LL27 0JA
  li
    a(href="/LL27 0JB") LL27 0JB
  li
    a(href="/LL27 0JD") LL27 0JD
  li
    a(href="/LL27 0JE") LL27 0JE
  li
    a(href="/LL27 0JG") LL27 0JG
  li
    a(href="/LL27 0JH") LL27 0JH
  li
    a(href="/LL27 0JJ") LL27 0JJ
  li
    a(href="/LL27 0JL") LL27 0JL
  li
    a(href="/LL27 0JN") LL27 0JN
  li
    a(href="/LL27 0JP") LL27 0JP
  li
    a(href="/LL27 0JQ") LL27 0JQ
  li
    a(href="/LL27 0JR") LL27 0JR
  li
    a(href="/LL27 0JS") LL27 0JS
  li
    a(href="/LL27 0JT") LL27 0JT
  li
    a(href="/LL27 0JU") LL27 0JU
  li
    a(href="/LL27 0JW") LL27 0JW
  li
    a(href="/LL27 0JX") LL27 0JX
  li
    a(href="/LL27 0JY") LL27 0JY
  li
    a(href="/LL27 0JZ") LL27 0JZ
  li
    a(href="/LL27 0NJ") LL27 0NJ
  li
    a(href="/LL27 0NQ") LL27 0NQ
  li
    a(href="/LL27 0NX") LL27 0NX
  li
    a(href="/LL27 0NZ") LL27 0NZ
  li
    a(href="/LL27 0QA") LL27 0QA
  li
    a(href="/LL27 0QD") LL27 0QD
  li
    a(href="/LL27 0RJ") LL27 0RJ
  li
    a(href="/LL27 0RQ") LL27 0RQ
  li
    a(href="/LL27 0RX") LL27 0RX
  li
    a(href="/LL27 0RY") LL27 0RY
  li
    a(href="/LL27 0RZ") LL27 0RZ
  li
    a(href="/LL27 0SQ") LL27 0SQ
  li
    a(href="/LL27 0SX") LL27 0SX
  li
    a(href="/LL27 0SZ") LL27 0SZ
  li
    a(href="/LL27 0TJ") LL27 0TJ
  li
    a(href="/LL27 0TQ") LL27 0TQ
  li
    a(href="/LL27 0TX") LL27 0TX
  li
    a(href="/LL27 0TZ") LL27 0TZ
  li
    a(href="/LL27 0UJ") LL27 0UJ
  li
    a(href="/LL27 0UQ") LL27 0UQ
  li
    a(href="/LL27 0UX") LL27 0UX
  li
    a(href="/LL27 0UZ") LL27 0UZ
  li
    a(href="/LL27 0YJ") LL27 0YJ
  li
    a(href="/LL27 0YQ") LL27 0YQ
  li
    a(href="/LL27 0YX") LL27 0YX
  li
    a(href="/LL27 0YZ") LL27 0YZ
  li
    a(href="/LL27 0ZB") LL27 0ZB
