ul.locations
  li
    a(href="/LL32 8AB") LL32 8AB
  li
    a(href="/LL32 8AD") LL32 8AD
  li
    a(href="/LL32 8AE") LL32 8AE
  li
    a(href="/LL32 8AF") LL32 8AF
  li
    a(href="/LL32 8AH") LL32 8AH
  li
    a(href="/LL32 8AJ") LL32 8AJ
  li
    a(href="/LL32 8AL") LL32 8AL
  li
    a(href="/LL32 8AN") LL32 8AN
  li
    a(href="/LL32 8AQ") LL32 8AQ
  li
    a(href="/LL32 8AT") LL32 8AT
  li
    a(href="/LL32 8AU") LL32 8AU
  li
    a(href="/LL32 8AW") LL32 8AW
  li
    a(href="/LL32 8AY") LL32 8AY
  li
    a(href="/LL32 8AZ") LL32 8AZ
  li
    a(href="/LL32 8BB") LL32 8BB
  li
    a(href="/LL32 8BD") LL32 8BD
  li
    a(href="/LL32 8BE") LL32 8BE
  li
    a(href="/LL32 8BG") LL32 8BG
  li
    a(href="/LL32 8BH") LL32 8BH
  li
    a(href="/LL32 8BJ") LL32 8BJ
  li
    a(href="/LL32 8BL") LL32 8BL
  li
    a(href="/LL32 8BN") LL32 8BN
  li
    a(href="/LL32 8BP") LL32 8BP
  li
    a(href="/LL32 8BS") LL32 8BS
  li
    a(href="/LL32 8BT") LL32 8BT
  li
    a(href="/LL32 8BW") LL32 8BW
  li
    a(href="/LL32 8BX") LL32 8BX
  li
    a(href="/LL32 8BY") LL32 8BY
  li
    a(href="/LL32 8BZ") LL32 8BZ
  li
    a(href="/LL32 8DA") LL32 8DA
  li
    a(href="/LL32 8DB") LL32 8DB
  li
    a(href="/LL32 8DD") LL32 8DD
  li
    a(href="/LL32 8DE") LL32 8DE
  li
    a(href="/LL32 8DF") LL32 8DF
  li
    a(href="/LL32 8DG") LL32 8DG
  li
    a(href="/LL32 8DH") LL32 8DH
  li
    a(href="/LL32 8DJ") LL32 8DJ
  li
    a(href="/LL32 8DL") LL32 8DL
  li
    a(href="/LL32 8DN") LL32 8DN
  li
    a(href="/LL32 8DP") LL32 8DP
  li
    a(href="/LL32 8DQ") LL32 8DQ
  li
    a(href="/LL32 8DR") LL32 8DR
  li
    a(href="/LL32 8DS") LL32 8DS
  li
    a(href="/LL32 8DT") LL32 8DT
  li
    a(href="/LL32 8DU") LL32 8DU
  li
    a(href="/LL32 8DW") LL32 8DW
  li
    a(href="/LL32 8DX") LL32 8DX
  li
    a(href="/LL32 8DY") LL32 8DY
  li
    a(href="/LL32 8DZ") LL32 8DZ
  li
    a(href="/LL32 8EA") LL32 8EA
  li
    a(href="/LL32 8ED") LL32 8ED
  li
    a(href="/LL32 8EE") LL32 8EE
  li
    a(href="/LL32 8EF") LL32 8EF
  li
    a(href="/LL32 8EJ") LL32 8EJ
  li
    a(href="/LL32 8EL") LL32 8EL
  li
    a(href="/LL32 8EP") LL32 8EP
  li
    a(href="/LL32 8EQ") LL32 8EQ
  li
    a(href="/LL32 8ER") LL32 8ER
  li
    a(href="/LL32 8ET") LL32 8ET
  li
    a(href="/LL32 8EU") LL32 8EU
  li
    a(href="/LL32 8EX") LL32 8EX
  li
    a(href="/LL32 8EY") LL32 8EY
  li
    a(href="/LL32 8EZ") LL32 8EZ
  li
    a(href="/LL32 8FA") LL32 8FA
  li
    a(href="/LL32 8FZ") LL32 8FZ
  li
    a(href="/LL32 8GA") LL32 8GA
  li
    a(href="/LL32 8GH") LL32 8GH
  li
    a(href="/LL32 8GJ") LL32 8GJ
  li
    a(href="/LL32 8GN") LL32 8GN
  li
    a(href="/LL32 8GP") LL32 8GP
  li
    a(href="/LL32 8GR") LL32 8GR
  li
    a(href="/LL32 8GS") LL32 8GS
  li
    a(href="/LL32 8GT") LL32 8GT
  li
    a(href="/LL32 8GU") LL32 8GU
  li
    a(href="/LL32 8GW") LL32 8GW
  li
    a(href="/LL32 8GY") LL32 8GY
  li
    a(href="/LL32 8GZ") LL32 8GZ
  li
    a(href="/LL32 8HA") LL32 8HA
  li
    a(href="/LL32 8HB") LL32 8HB
  li
    a(href="/LL32 8HD") LL32 8HD
  li
    a(href="/LL32 8HE") LL32 8HE
  li
    a(href="/LL32 8HF") LL32 8HF
  li
    a(href="/LL32 8HG") LL32 8HG
  li
    a(href="/LL32 8HH") LL32 8HH
  li
    a(href="/LL32 8HJ") LL32 8HJ
  li
    a(href="/LL32 8HL") LL32 8HL
  li
    a(href="/LL32 8HN") LL32 8HN
  li
    a(href="/LL32 8HP") LL32 8HP
  li
    a(href="/LL32 8HQ") LL32 8HQ
  li
    a(href="/LL32 8HS") LL32 8HS
  li
    a(href="/LL32 8HT") LL32 8HT
  li
    a(href="/LL32 8HU") LL32 8HU
  li
    a(href="/LL32 8HW") LL32 8HW
  li
    a(href="/LL32 8HX") LL32 8HX
  li
    a(href="/LL32 8HY") LL32 8HY
  li
    a(href="/LL32 8HZ") LL32 8HZ
  li
    a(href="/LL32 8JA") LL32 8JA
  li
    a(href="/LL32 8JB") LL32 8JB
  li
    a(href="/LL32 8JD") LL32 8JD
  li
    a(href="/LL32 8JE") LL32 8JE
  li
    a(href="/LL32 8JF") LL32 8JF
  li
    a(href="/LL32 8JG") LL32 8JG
  li
    a(href="/LL32 8JJ") LL32 8JJ
  li
    a(href="/LL32 8JL") LL32 8JL
  li
    a(href="/LL32 8JN") LL32 8JN
  li
    a(href="/LL32 8JP") LL32 8JP
  li
    a(href="/LL32 8JQ") LL32 8JQ
  li
    a(href="/LL32 8JR") LL32 8JR
  li
    a(href="/LL32 8JS") LL32 8JS
  li
    a(href="/LL32 8JT") LL32 8JT
  li
    a(href="/LL32 8JU") LL32 8JU
  li
    a(href="/LL32 8JW") LL32 8JW
  li
    a(href="/LL32 8JX") LL32 8JX
  li
    a(href="/LL32 8JY") LL32 8JY
  li
    a(href="/LL32 8JZ") LL32 8JZ
  li
    a(href="/LL32 8LA") LL32 8LA
  li
    a(href="/LL32 8LB") LL32 8LB
  li
    a(href="/LL32 8LD") LL32 8LD
  li
    a(href="/LL32 8LE") LL32 8LE
  li
    a(href="/LL32 8LF") LL32 8LF
  li
    a(href="/LL32 8LG") LL32 8LG
  li
    a(href="/LL32 8LH") LL32 8LH
  li
    a(href="/LL32 8LJ") LL32 8LJ
  li
    a(href="/LL32 8LL") LL32 8LL
  li
    a(href="/LL32 8LN") LL32 8LN
  li
    a(href="/LL32 8LP") LL32 8LP
  li
    a(href="/LL32 8LQ") LL32 8LQ
  li
    a(href="/LL32 8LR") LL32 8LR
  li
    a(href="/LL32 8LS") LL32 8LS
  li
    a(href="/LL32 8LT") LL32 8LT
  li
    a(href="/LL32 8LU") LL32 8LU
  li
    a(href="/LL32 8LW") LL32 8LW
  li
    a(href="/LL32 8LX") LL32 8LX
  li
    a(href="/LL32 8LY") LL32 8LY
  li
    a(href="/LL32 8LZ") LL32 8LZ
  li
    a(href="/LL32 8NA") LL32 8NA
  li
    a(href="/LL32 8NB") LL32 8NB
  li
    a(href="/LL32 8ND") LL32 8ND
  li
    a(href="/LL32 8NE") LL32 8NE
  li
    a(href="/LL32 8NF") LL32 8NF
  li
    a(href="/LL32 8NG") LL32 8NG
  li
    a(href="/LL32 8NH") LL32 8NH
  li
    a(href="/LL32 8NJ") LL32 8NJ
  li
    a(href="/LL32 8NL") LL32 8NL
  li
    a(href="/LL32 8NN") LL32 8NN
  li
    a(href="/LL32 8NP") LL32 8NP
  li
    a(href="/LL32 8NQ") LL32 8NQ
  li
    a(href="/LL32 8NR") LL32 8NR
  li
    a(href="/LL32 8NS") LL32 8NS
  li
    a(href="/LL32 8NT") LL32 8NT
  li
    a(href="/LL32 8NU") LL32 8NU
  li
    a(href="/LL32 8NW") LL32 8NW
  li
    a(href="/LL32 8NX") LL32 8NX
  li
    a(href="/LL32 8NY") LL32 8NY
  li
    a(href="/LL32 8NZ") LL32 8NZ
  li
    a(href="/LL32 8PA") LL32 8PA
  li
    a(href="/LL32 8PB") LL32 8PB
  li
    a(href="/LL32 8PD") LL32 8PD
  li
    a(href="/LL32 8PE") LL32 8PE
  li
    a(href="/LL32 8PF") LL32 8PF
  li
    a(href="/LL32 8PH") LL32 8PH
  li
    a(href="/LL32 8PJ") LL32 8PJ
  li
    a(href="/LL32 8PN") LL32 8PN
  li
    a(href="/LL32 8PP") LL32 8PP
  li
    a(href="/LL32 8PQ") LL32 8PQ
  li
    a(href="/LL32 8PR") LL32 8PR
  li
    a(href="/LL32 8PU") LL32 8PU
  li
    a(href="/LL32 8PW") LL32 8PW
  li
    a(href="/LL32 8PY") LL32 8PY
  li
    a(href="/LL32 8PZ") LL32 8PZ
  li
    a(href="/LL32 8QA") LL32 8QA
  li
    a(href="/LL32 8QB") LL32 8QB
  li
    a(href="/LL32 8QD") LL32 8QD
  li
    a(href="/LL32 8QE") LL32 8QE
  li
    a(href="/LL32 8QF") LL32 8QF
  li
    a(href="/LL32 8QG") LL32 8QG
  li
    a(href="/LL32 8QL") LL32 8QL
  li
    a(href="/LL32 8QZ") LL32 8QZ
  li
    a(href="/LL32 8RA") LL32 8RA
  li
    a(href="/LL32 8RB") LL32 8RB
  li
    a(href="/LL32 8RD") LL32 8RD
  li
    a(href="/LL32 8RE") LL32 8RE
  li
    a(href="/LL32 8RF") LL32 8RF
  li
    a(href="/LL32 8RG") LL32 8RG
  li
    a(href="/LL32 8RH") LL32 8RH
  li
    a(href="/LL32 8RJ") LL32 8RJ
  li
    a(href="/LL32 8RL") LL32 8RL
  li
    a(href="/LL32 8RN") LL32 8RN
  li
    a(href="/LL32 8RP") LL32 8RP
  li
    a(href="/LL32 8RQ") LL32 8RQ
  li
    a(href="/LL32 8RR") LL32 8RR
  li
    a(href="/LL32 8RS") LL32 8RS
  li
    a(href="/LL32 8RT") LL32 8RT
  li
    a(href="/LL32 8RU") LL32 8RU
  li
    a(href="/LL32 8RW") LL32 8RW
  li
    a(href="/LL32 8RX") LL32 8RX
  li
    a(href="/LL32 8RY") LL32 8RY
  li
    a(href="/LL32 8RZ") LL32 8RZ
  li
    a(href="/LL32 8SA") LL32 8SA
  li
    a(href="/LL32 8SB") LL32 8SB
  li
    a(href="/LL32 8SD") LL32 8SD
  li
    a(href="/LL32 8SE") LL32 8SE
  li
    a(href="/LL32 8SF") LL32 8SF
  li
    a(href="/LL32 8SG") LL32 8SG
  li
    a(href="/LL32 8SH") LL32 8SH
  li
    a(href="/LL32 8SJ") LL32 8SJ
  li
    a(href="/LL32 8SL") LL32 8SL
  li
    a(href="/LL32 8SP") LL32 8SP
  li
    a(href="/LL32 8SQ") LL32 8SQ
  li
    a(href="/LL32 8SR") LL32 8SR
  li
    a(href="/LL32 8SS") LL32 8SS
  li
    a(href="/LL32 8ST") LL32 8ST
  li
    a(href="/LL32 8SU") LL32 8SU
  li
    a(href="/LL32 8SW") LL32 8SW
  li
    a(href="/LL32 8SX") LL32 8SX
  li
    a(href="/LL32 8SY") LL32 8SY
  li
    a(href="/LL32 8SZ") LL32 8SZ
  li
    a(href="/LL32 8TA") LL32 8TA
  li
    a(href="/LL32 8TB") LL32 8TB
  li
    a(href="/LL32 8TD") LL32 8TD
  li
    a(href="/LL32 8TE") LL32 8TE
  li
    a(href="/LL32 8TF") LL32 8TF
  li
    a(href="/LL32 8TG") LL32 8TG
  li
    a(href="/LL32 8TH") LL32 8TH
  li
    a(href="/LL32 8TJ") LL32 8TJ
  li
    a(href="/LL32 8TL") LL32 8TL
  li
    a(href="/LL32 8TN") LL32 8TN
  li
    a(href="/LL32 8TP") LL32 8TP
  li
    a(href="/LL32 8TQ") LL32 8TQ
  li
    a(href="/LL32 8TR") LL32 8TR
  li
    a(href="/LL32 8TS") LL32 8TS
  li
    a(href="/LL32 8TU") LL32 8TU
  li
    a(href="/LL32 8TW") LL32 8TW
  li
    a(href="/LL32 8TX") LL32 8TX
  li
    a(href="/LL32 8TY") LL32 8TY
  li
    a(href="/LL32 8TZ") LL32 8TZ
  li
    a(href="/LL32 8UA") LL32 8UA
  li
    a(href="/LL32 8UB") LL32 8UB
  li
    a(href="/LL32 8UD") LL32 8UD
  li
    a(href="/LL32 8UE") LL32 8UE
  li
    a(href="/LL32 8UF") LL32 8UF
  li
    a(href="/LL32 8UG") LL32 8UG
  li
    a(href="/LL32 8UH") LL32 8UH
  li
    a(href="/LL32 8UJ") LL32 8UJ
  li
    a(href="/LL32 8UL") LL32 8UL
  li
    a(href="/LL32 8UN") LL32 8UN
  li
    a(href="/LL32 8UP") LL32 8UP
  li
    a(href="/LL32 8UQ") LL32 8UQ
  li
    a(href="/LL32 8UR") LL32 8UR
  li
    a(href="/LL32 8UT") LL32 8UT
  li
    a(href="/LL32 8UU") LL32 8UU
  li
    a(href="/LL32 8UW") LL32 8UW
  li
    a(href="/LL32 8UX") LL32 8UX
  li
    a(href="/LL32 8UY") LL32 8UY
  li
    a(href="/LL32 8UZ") LL32 8UZ
  li
    a(href="/LL32 8WA") LL32 8WA
  li
    a(href="/LL32 8WB") LL32 8WB
  li
    a(href="/LL32 8WD") LL32 8WD
  li
    a(href="/LL32 8WY") LL32 8WY
  li
    a(href="/LL32 8YA") LL32 8YA
  li
    a(href="/LL32 8YB") LL32 8YB
  li
    a(href="/LL32 8YD") LL32 8YD
  li
    a(href="/LL32 8YE") LL32 8YE
  li
    a(href="/LL32 8YF") LL32 8YF
  li
    a(href="/LL32 8YG") LL32 8YG
  li
    a(href="/LL32 8YH") LL32 8YH
  li
    a(href="/LL32 8YJ") LL32 8YJ
  li
    a(href="/LL32 8YL") LL32 8YL
  li
    a(href="/LL32 8YN") LL32 8YN
  li
    a(href="/LL32 8YP") LL32 8YP
  li
    a(href="/LL32 8YR") LL32 8YR
  li
    a(href="/LL32 8YS") LL32 8YS
  li
    a(href="/LL32 8YT") LL32 8YT
  li
    a(href="/LL32 8YU") LL32 8YU
  li
    a(href="/LL32 8YW") LL32 8YW
  li
    a(href="/LL32 8YX") LL32 8YX
  li
    a(href="/LL32 8YY") LL32 8YY
  li
    a(href="/LL32 8YZ") LL32 8YZ
  li
    a(href="/LL32 8ZE") LL32 8ZE
  li
    a(href="/LL32 8ZT") LL32 8ZT
