ul.locations
  li
    a(href="/LL33 0AA") LL33 0AA
  li
    a(href="/LL33 0AB") LL33 0AB
  li
    a(href="/LL33 0AD") LL33 0AD
  li
    a(href="/LL33 0AE") LL33 0AE
  li
    a(href="/LL33 0AG") LL33 0AG
  li
    a(href="/LL33 0AH") LL33 0AH
  li
    a(href="/LL33 0AL") LL33 0AL
  li
    a(href="/LL33 0AN") LL33 0AN
  li
    a(href="/LL33 0AP") LL33 0AP
  li
    a(href="/LL33 0AR") LL33 0AR
  li
    a(href="/LL33 0AS") LL33 0AS
  li
    a(href="/LL33 0AT") LL33 0AT
  li
    a(href="/LL33 0AU") LL33 0AU
  li
    a(href="/LL33 0AW") LL33 0AW
  li
    a(href="/LL33 0AY") LL33 0AY
  li
    a(href="/LL33 0BA") LL33 0BA
  li
    a(href="/LL33 0BB") LL33 0BB
  li
    a(href="/LL33 0BD") LL33 0BD
  li
    a(href="/LL33 0BE") LL33 0BE
  li
    a(href="/LL33 0BG") LL33 0BG
  li
    a(href="/LL33 0BH") LL33 0BH
  li
    a(href="/LL33 0BL") LL33 0BL
  li
    a(href="/LL33 0BN") LL33 0BN
  li
    a(href="/LL33 0BP") LL33 0BP
  li
    a(href="/LL33 0BS") LL33 0BS
  li
    a(href="/LL33 0BT") LL33 0BT
  li
    a(href="/LL33 0BU") LL33 0BU
  li
    a(href="/LL33 0BW") LL33 0BW
  li
    a(href="/LL33 0BY") LL33 0BY
  li
    a(href="/LL33 0DA") LL33 0DA
  li
    a(href="/LL33 0DN") LL33 0DN
  li
    a(href="/LL33 0DP") LL33 0DP
  li
    a(href="/LL33 0DR") LL33 0DR
  li
    a(href="/LL33 0DS") LL33 0DS
  li
    a(href="/LL33 0DT") LL33 0DT
  li
    a(href="/LL33 0DU") LL33 0DU
  li
    a(href="/LL33 0DW") LL33 0DW
  li
    a(href="/LL33 0DY") LL33 0DY
  li
    a(href="/LL33 0EB") LL33 0EB
  li
    a(href="/LL33 0ED") LL33 0ED
  li
    a(href="/LL33 0EE") LL33 0EE
  li
    a(href="/LL33 0EF") LL33 0EF
  li
    a(href="/LL33 0EG") LL33 0EG
  li
    a(href="/LL33 0EH") LL33 0EH
  li
    a(href="/LL33 0EL") LL33 0EL
  li
    a(href="/LL33 0EN") LL33 0EN
  li
    a(href="/LL33 0EP") LL33 0EP
  li
    a(href="/LL33 0ER") LL33 0ER
  li
    a(href="/LL33 0ES") LL33 0ES
  li
    a(href="/LL33 0ET") LL33 0ET
  li
    a(href="/LL33 0EU") LL33 0EU
  li
    a(href="/LL33 0EW") LL33 0EW
  li
    a(href="/LL33 0EY") LL33 0EY
  li
    a(href="/LL33 0GB") LL33 0GB
  li
    a(href="/LL33 0HA") LL33 0HA
  li
    a(href="/LL33 0HB") LL33 0HB
  li
    a(href="/LL33 0HD") LL33 0HD
  li
    a(href="/LL33 0HE") LL33 0HE
  li
    a(href="/LL33 0HF") LL33 0HF
  li
    a(href="/LL33 0HH") LL33 0HH
  li
    a(href="/LL33 0HL") LL33 0HL
  li
    a(href="/LL33 0HN") LL33 0HN
  li
    a(href="/LL33 0HP") LL33 0HP
  li
    a(href="/LL33 0HR") LL33 0HR
  li
    a(href="/LL33 0HS") LL33 0HS
  li
    a(href="/LL33 0HU") LL33 0HU
  li
    a(href="/LL33 0HW") LL33 0HW
  li
    a(href="/LL33 0HX") LL33 0HX
  li
    a(href="/LL33 0HY") LL33 0HY
  li
    a(href="/LL33 0LA") LL33 0LA
  li
    a(href="/LL33 0LB") LL33 0LB
  li
    a(href="/LL33 0LD") LL33 0LD
  li
    a(href="/LL33 0LE") LL33 0LE
  li
    a(href="/LL33 0LF") LL33 0LF
  li
    a(href="/LL33 0LG") LL33 0LG
  li
    a(href="/LL33 0LH") LL33 0LH
  li
    a(href="/LL33 0LL") LL33 0LL
  li
    a(href="/LL33 0LN") LL33 0LN
  li
    a(href="/LL33 0LP") LL33 0LP
  li
    a(href="/LL33 0LR") LL33 0LR
  li
    a(href="/LL33 0LS") LL33 0LS
  li
    a(href="/LL33 0LT") LL33 0LT
  li
    a(href="/LL33 0LU") LL33 0LU
  li
    a(href="/LL33 0LW") LL33 0LW
  li
    a(href="/LL33 0LY") LL33 0LY
  li
    a(href="/LL33 0NG") LL33 0NG
  li
    a(href="/LL33 0NH") LL33 0NH
  li
    a(href="/LL33 0NL") LL33 0NL
  li
    a(href="/LL33 0NR") LL33 0NR
  li
    a(href="/LL33 0NS") LL33 0NS
  li
    a(href="/LL33 0NT") LL33 0NT
  li
    a(href="/LL33 0NU") LL33 0NU
  li
    a(href="/LL33 0NW") LL33 0NW
  li
    a(href="/LL33 0NY") LL33 0NY
  li
    a(href="/LL33 0PA") LL33 0PA
  li
    a(href="/LL33 0PB") LL33 0PB
  li
    a(href="/LL33 0PE") LL33 0PE
  li
    a(href="/LL33 0PF") LL33 0PF
  li
    a(href="/LL33 0PG") LL33 0PG
  li
    a(href="/LL33 0PH") LL33 0PH
  li
    a(href="/LL33 0PL") LL33 0PL
  li
    a(href="/LL33 0PN") LL33 0PN
  li
    a(href="/LL33 0PT") LL33 0PT
  li
    a(href="/LL33 0PY") LL33 0PY
  li
    a(href="/LL33 0RA") LL33 0RA
  li
    a(href="/LL33 0RB") LL33 0RB
  li
    a(href="/LL33 0RD") LL33 0RD
  li
    a(href="/LL33 0RE") LL33 0RE
  li
    a(href="/LL33 0RF") LL33 0RF
  li
    a(href="/LL33 0RH") LL33 0RH
  li
    a(href="/LL33 0RJ") LL33 0RJ
  li
    a(href="/LL33 0RL") LL33 0RL
  li
    a(href="/LL33 0RN") LL33 0RN
  li
    a(href="/LL33 0RP") LL33 0RP
  li
    a(href="/LL33 0RS") LL33 0RS
  li
    a(href="/LL33 0RT") LL33 0RT
  li
    a(href="/LL33 0RU") LL33 0RU
  li
    a(href="/LL33 0RW") LL33 0RW
  li
    a(href="/LL33 0RY") LL33 0RY
  li
    a(href="/LL33 0SA") LL33 0SA
  li
    a(href="/LL33 0SB") LL33 0SB
  li
    a(href="/LL33 0SD") LL33 0SD
  li
    a(href="/LL33 0SE") LL33 0SE
  li
    a(href="/LL33 0SF") LL33 0SF
  li
    a(href="/LL33 0SG") LL33 0SG
  li
    a(href="/LL33 0SH") LL33 0SH
  li
    a(href="/LL33 0SJ") LL33 0SJ
  li
    a(href="/LL33 0SL") LL33 0SL
  li
    a(href="/LL33 0SN") LL33 0SN
  li
    a(href="/LL33 0SP") LL33 0SP
  li
    a(href="/LL33 0SQ") LL33 0SQ
  li
    a(href="/LL33 0SR") LL33 0SR
  li
    a(href="/LL33 0SS") LL33 0SS
  li
    a(href="/LL33 0ST") LL33 0ST
  li
    a(href="/LL33 0SU") LL33 0SU
  li
    a(href="/LL33 0SW") LL33 0SW
  li
    a(href="/LL33 0SY") LL33 0SY
  li
    a(href="/LL33 0TA") LL33 0TA
  li
    a(href="/LL33 0TB") LL33 0TB
  li
    a(href="/LL33 0TD") LL33 0TD
  li
    a(href="/LL33 0TE") LL33 0TE
  li
    a(href="/LL33 0TF") LL33 0TF
  li
    a(href="/LL33 0TG") LL33 0TG
  li
    a(href="/LL33 0TH") LL33 0TH
  li
    a(href="/LL33 0TL") LL33 0TL
  li
    a(href="/LL33 0TN") LL33 0TN
  li
    a(href="/LL33 0TP") LL33 0TP
  li
    a(href="/LL33 0TQ") LL33 0TQ
  li
    a(href="/LL33 0TR") LL33 0TR
  li
    a(href="/LL33 0TS") LL33 0TS
  li
    a(href="/LL33 0TT") LL33 0TT
  li
    a(href="/LL33 0TU") LL33 0TU
  li
    a(href="/LL33 0TW") LL33 0TW
  li
    a(href="/LL33 0TY") LL33 0TY
  li
    a(href="/LL33 0UA") LL33 0UA
  li
    a(href="/LL33 0UB") LL33 0UB
  li
    a(href="/LL33 0UD") LL33 0UD
  li
    a(href="/LL33 0UE") LL33 0UE
  li
    a(href="/LL33 0UF") LL33 0UF
  li
    a(href="/LL33 0UG") LL33 0UG
  li
    a(href="/LL33 0UH") LL33 0UH
  li
    a(href="/LL33 0UL") LL33 0UL
  li
    a(href="/LL33 0UN") LL33 0UN
  li
    a(href="/LL33 0UP") LL33 0UP
  li
    a(href="/LL33 0UR") LL33 0UR
  li
    a(href="/LL33 0UT") LL33 0UT
  li
    a(href="/LL33 0UU") LL33 0UU
  li
    a(href="/LL33 0UW") LL33 0UW
  li
    a(href="/LL33 0WT") LL33 0WT
