ul.locations
  li
    a(href="/LL36 0AA") LL36 0AA
  li
    a(href="/LL36 0AB") LL36 0AB
  li
    a(href="/LL36 0AD") LL36 0AD
  li
    a(href="/LL36 0AE") LL36 0AE
  li
    a(href="/LL36 0AF") LL36 0AF
  li
    a(href="/LL36 0AG") LL36 0AG
  li
    a(href="/LL36 0AH") LL36 0AH
  li
    a(href="/LL36 0AJ") LL36 0AJ
  li
    a(href="/LL36 0AL") LL36 0AL
  li
    a(href="/LL36 0AN") LL36 0AN
  li
    a(href="/LL36 0AP") LL36 0AP
  li
    a(href="/LL36 0AQ") LL36 0AQ
  li
    a(href="/LL36 0AR") LL36 0AR
  li
    a(href="/LL36 0AS") LL36 0AS
  li
    a(href="/LL36 0AT") LL36 0AT
  li
    a(href="/LL36 0AU") LL36 0AU
  li
    a(href="/LL36 0AW") LL36 0AW
  li
    a(href="/LL36 0AY") LL36 0AY
  li
    a(href="/LL36 0BA") LL36 0BA
  li
    a(href="/LL36 0BB") LL36 0BB
  li
    a(href="/LL36 0BD") LL36 0BD
  li
    a(href="/LL36 0BE") LL36 0BE
  li
    a(href="/LL36 0BG") LL36 0BG
  li
    a(href="/LL36 0BH") LL36 0BH
  li
    a(href="/LL36 0BL") LL36 0BL
  li
    a(href="/LL36 0BN") LL36 0BN
  li
    a(href="/LL36 0BP") LL36 0BP
  li
    a(href="/LL36 0BS") LL36 0BS
  li
    a(href="/LL36 0BT") LL36 0BT
  li
    a(href="/LL36 0BU") LL36 0BU
  li
    a(href="/LL36 0BW") LL36 0BW
  li
    a(href="/LL36 0BY") LL36 0BY
  li
    a(href="/LL36 0DA") LL36 0DA
  li
    a(href="/LL36 0DB") LL36 0DB
  li
    a(href="/LL36 0DE") LL36 0DE
  li
    a(href="/LL36 0DF") LL36 0DF
  li
    a(href="/LL36 0DG") LL36 0DG
  li
    a(href="/LL36 0DH") LL36 0DH
  li
    a(href="/LL36 0DJ") LL36 0DJ
  li
    a(href="/LL36 0DL") LL36 0DL
  li
    a(href="/LL36 0DN") LL36 0DN
  li
    a(href="/LL36 0DP") LL36 0DP
  li
    a(href="/LL36 0DQ") LL36 0DQ
  li
    a(href="/LL36 0DR") LL36 0DR
  li
    a(href="/LL36 0DS") LL36 0DS
  li
    a(href="/LL36 0DT") LL36 0DT
  li
    a(href="/LL36 0DU") LL36 0DU
  li
    a(href="/LL36 0DW") LL36 0DW
  li
    a(href="/LL36 0DY") LL36 0DY
  li
    a(href="/LL36 0ST") LL36 0ST
  li
    a(href="/LL36 0TA") LL36 0TA
  li
    a(href="/LL36 0TB") LL36 0TB
  li
    a(href="/LL36 0TD") LL36 0TD
  li
    a(href="/LL36 0TE") LL36 0TE
  li
    a(href="/LL36 0TF") LL36 0TF
  li
    a(href="/LL36 0TG") LL36 0TG
  li
    a(href="/LL36 6AE") LL36 6AE
  li
    a(href="/LL36 6AF") LL36 6AF
  li
    a(href="/LL36 6AH") LL36 6AH
  li
    a(href="/LL36 6ZZ") LL36 6ZZ
  li
    a(href="/LL36 9AA") LL36 9AA
  li
    a(href="/LL36 9AB") LL36 9AB
  li
    a(href="/LL36 9AD") LL36 9AD
  li
    a(href="/LL36 9AE") LL36 9AE
  li
    a(href="/LL36 9AF") LL36 9AF
  li
    a(href="/LL36 9AG") LL36 9AG
  li
    a(href="/LL36 9AH") LL36 9AH
  li
    a(href="/LL36 9AJ") LL36 9AJ
  li
    a(href="/LL36 9AL") LL36 9AL
  li
    a(href="/LL36 9AN") LL36 9AN
  li
    a(href="/LL36 9AP") LL36 9AP
  li
    a(href="/LL36 9AQ") LL36 9AQ
  li
    a(href="/LL36 9AR") LL36 9AR
  li
    a(href="/LL36 9AS") LL36 9AS
  li
    a(href="/LL36 9AT") LL36 9AT
  li
    a(href="/LL36 9AU") LL36 9AU
  li
    a(href="/LL36 9AW") LL36 9AW
  li
    a(href="/LL36 9AX") LL36 9AX
  li
    a(href="/LL36 9AY") LL36 9AY
  li
    a(href="/LL36 9BB") LL36 9BB
  li
    a(href="/LL36 9BD") LL36 9BD
  li
    a(href="/LL36 9BF") LL36 9BF
  li
    a(href="/LL36 9BG") LL36 9BG
  li
    a(href="/LL36 9BH") LL36 9BH
  li
    a(href="/LL36 9BJ") LL36 9BJ
  li
    a(href="/LL36 9BL") LL36 9BL
  li
    a(href="/LL36 9BP") LL36 9BP
  li
    a(href="/LL36 9BS") LL36 9BS
  li
    a(href="/LL36 9BT") LL36 9BT
  li
    a(href="/LL36 9BU") LL36 9BU
  li
    a(href="/LL36 9BY") LL36 9BY
  li
    a(href="/LL36 9DA") LL36 9DA
  li
    a(href="/LL36 9DB") LL36 9DB
  li
    a(href="/LL36 9DD") LL36 9DD
  li
    a(href="/LL36 9DE") LL36 9DE
  li
    a(href="/LL36 9DF") LL36 9DF
  li
    a(href="/LL36 9DG") LL36 9DG
  li
    a(href="/LL36 9DH") LL36 9DH
  li
    a(href="/LL36 9DJ") LL36 9DJ
  li
    a(href="/LL36 9DL") LL36 9DL
  li
    a(href="/LL36 9DN") LL36 9DN
  li
    a(href="/LL36 9DP") LL36 9DP
  li
    a(href="/LL36 9DR") LL36 9DR
  li
    a(href="/LL36 9DS") LL36 9DS
  li
    a(href="/LL36 9DT") LL36 9DT
  li
    a(href="/LL36 9DU") LL36 9DU
  li
    a(href="/LL36 9DW") LL36 9DW
  li
    a(href="/LL36 9DY") LL36 9DY
  li
    a(href="/LL36 9EA") LL36 9EA
  li
    a(href="/LL36 9EB") LL36 9EB
  li
    a(href="/LL36 9ED") LL36 9ED
  li
    a(href="/LL36 9EE") LL36 9EE
  li
    a(href="/LL36 9EF") LL36 9EF
  li
    a(href="/LL36 9EG") LL36 9EG
  li
    a(href="/LL36 9EH") LL36 9EH
  li
    a(href="/LL36 9EL") LL36 9EL
  li
    a(href="/LL36 9EN") LL36 9EN
  li
    a(href="/LL36 9EP") LL36 9EP
  li
    a(href="/LL36 9ET") LL36 9ET
  li
    a(href="/LL36 9EU") LL36 9EU
  li
    a(href="/LL36 9EW") LL36 9EW
  li
    a(href="/LL36 9EY") LL36 9EY
  li
    a(href="/LL36 9HA") LL36 9HA
  li
    a(href="/LL36 9HB") LL36 9HB
  li
    a(href="/LL36 9HE") LL36 9HE
  li
    a(href="/LL36 9HG") LL36 9HG
  li
    a(href="/LL36 9HH") LL36 9HH
  li
    a(href="/LL36 9HL") LL36 9HL
  li
    a(href="/LL36 9HN") LL36 9HN
  li
    a(href="/LL36 9HP") LL36 9HP
  li
    a(href="/LL36 9HR") LL36 9HR
  li
    a(href="/LL36 9HS") LL36 9HS
  li
    a(href="/LL36 9HT") LL36 9HT
  li
    a(href="/LL36 9HU") LL36 9HU
  li
    a(href="/LL36 9HW") LL36 9HW
  li
    a(href="/LL36 9HY") LL36 9HY
  li
    a(href="/LL36 9LA") LL36 9LA
  li
    a(href="/LL36 9LF") LL36 9LF
  li
    a(href="/LL36 9LG") LL36 9LG
  li
    a(href="/LL36 9LH") LL36 9LH
  li
    a(href="/LL36 9LL") LL36 9LL
  li
    a(href="/LL36 9LN") LL36 9LN
  li
    a(href="/LL36 9LP") LL36 9LP
  li
    a(href="/LL36 9LS") LL36 9LS
  li
    a(href="/LL36 9LT") LL36 9LT
  li
    a(href="/LL36 9LU") LL36 9LU
  li
    a(href="/LL36 9LW") LL36 9LW
  li
    a(href="/LL36 9LY") LL36 9LY
  li
    a(href="/LL36 9NA") LL36 9NA
  li
    a(href="/LL36 9NB") LL36 9NB
  li
    a(href="/LL36 9ND") LL36 9ND
  li
    a(href="/LL36 9NE") LL36 9NE
  li
    a(href="/LL36 9NF") LL36 9NF
  li
    a(href="/LL36 9NG") LL36 9NG
  li
    a(href="/LL36 9NH") LL36 9NH
  li
    a(href="/LL36 9NL") LL36 9NL
  li
    a(href="/LL36 9NN") LL36 9NN
  li
    a(href="/LL36 9NS") LL36 9NS
  li
    a(href="/LL36 9NT") LL36 9NT
  li
    a(href="/LL36 9NU") LL36 9NU
  li
    a(href="/LL36 9NY") LL36 9NY
  li
    a(href="/LL36 9PA") LL36 9PA
  li
    a(href="/LL36 9PB") LL36 9PB
  li
    a(href="/LL36 9PD") LL36 9PD
  li
    a(href="/LL36 9PE") LL36 9PE
  li
    a(href="/LL36 9PF") LL36 9PF
  li
    a(href="/LL36 9PG") LL36 9PG
  li
    a(href="/LL36 9PH") LL36 9PH
  li
    a(href="/LL36 9PL") LL36 9PL
  li
    a(href="/LL36 9PN") LL36 9PN
  li
    a(href="/LL36 9PP") LL36 9PP
  li
    a(href="/LL36 9PR") LL36 9PR
  li
    a(href="/LL36 9PS") LL36 9PS
  li
    a(href="/LL36 9PT") LL36 9PT
  li
    a(href="/LL36 9PU") LL36 9PU
  li
    a(href="/LL36 9PW") LL36 9PW
  li
    a(href="/LL36 9PY") LL36 9PY
  li
    a(href="/LL36 9RA") LL36 9RA
  li
    a(href="/LL36 9RB") LL36 9RB
  li
    a(href="/LL36 9RD") LL36 9RD
  li
    a(href="/LL36 9RE") LL36 9RE
  li
    a(href="/LL36 9RF") LL36 9RF
  li
    a(href="/LL36 9RG") LL36 9RG
  li
    a(href="/LL36 9RH") LL36 9RH
  li
    a(href="/LL36 9RL") LL36 9RL
  li
    a(href="/LL36 9RN") LL36 9RN
  li
    a(href="/LL36 9RP") LL36 9RP
  li
    a(href="/LL36 9RR") LL36 9RR
  li
    a(href="/LL36 9RT") LL36 9RT
  li
    a(href="/LL36 9RU") LL36 9RU
  li
    a(href="/LL36 9RW") LL36 9RW
  li
    a(href="/LL36 9RY") LL36 9RY
  li
    a(href="/LL36 9SA") LL36 9SA
  li
    a(href="/LL36 9SB") LL36 9SB
  li
    a(href="/LL36 9SD") LL36 9SD
  li
    a(href="/LL36 9SE") LL36 9SE
  li
    a(href="/LL36 9SF") LL36 9SF
  li
    a(href="/LL36 9SG") LL36 9SG
  li
    a(href="/LL36 9SH") LL36 9SH
  li
    a(href="/LL36 9SL") LL36 9SL
  li
    a(href="/LL36 9SN") LL36 9SN
  li
    a(href="/LL36 9SP") LL36 9SP
  li
    a(href="/LL36 9SR") LL36 9SR
  li
    a(href="/LL36 9SS") LL36 9SS
  li
    a(href="/LL36 9ST") LL36 9ST
  li
    a(href="/LL36 9SU") LL36 9SU
  li
    a(href="/LL36 9SW") LL36 9SW
  li
    a(href="/LL36 9SY") LL36 9SY
  li
    a(href="/LL36 9TA") LL36 9TA
  li
    a(href="/LL36 9TH") LL36 9TH
  li
    a(href="/LL36 9TL") LL36 9TL
  li
    a(href="/LL36 9TN") LL36 9TN
  li
    a(href="/LL36 9TP") LL36 9TP
  li
    a(href="/LL36 9TR") LL36 9TR
  li
    a(href="/LL36 9TS") LL36 9TS
  li
    a(href="/LL36 9TT") LL36 9TT
  li
    a(href="/LL36 9TU") LL36 9TU
  li
    a(href="/LL36 9TW") LL36 9TW
  li
    a(href="/LL36 9TY") LL36 9TY
  li
    a(href="/LL36 9UA") LL36 9UA
  li
    a(href="/LL36 9UD") LL36 9UD
  li
    a(href="/LL36 9UE") LL36 9UE
  li
    a(href="/LL36 9UF") LL36 9UF
  li
    a(href="/LL36 9UG") LL36 9UG
  li
    a(href="/LL36 9UH") LL36 9UH
  li
    a(href="/LL36 9UL") LL36 9UL
  li
    a(href="/LL36 9UN") LL36 9UN
  li
    a(href="/LL36 9UP") LL36 9UP
  li
    a(href="/LL36 9UR") LL36 9UR
  li
    a(href="/LL36 9UT") LL36 9UT
  li
    a(href="/LL36 9UU") LL36 9UU
  li
    a(href="/LL36 9UW") LL36 9UW
  li
    a(href="/LL36 9UY") LL36 9UY
  li
    a(href="/LL36 9WY") LL36 9WY
  li
    a(href="/LL36 9YA") LL36 9YA
  li
    a(href="/LL36 9YB") LL36 9YB
  li
    a(href="/LL36 9YD") LL36 9YD
  li
    a(href="/LL36 9YE") LL36 9YE
  li
    a(href="/LL36 9YF") LL36 9YF
  li
    a(href="/LL36 9YG") LL36 9YG
  li
    a(href="/LL36 9YH") LL36 9YH
  li
    a(href="/LL36 9YL") LL36 9YL
  li
    a(href="/LL36 9YN") LL36 9YN
  li
    a(href="/LL36 9YP") LL36 9YP
  li
    a(href="/LL36 9YQ") LL36 9YQ
  li
    a(href="/LL36 9YR") LL36 9YR
  li
    a(href="/LL36 9YS") LL36 9YS
  li
    a(href="/LL36 9YT") LL36 9YT
  li
    a(href="/LL36 9YU") LL36 9YU
  li
    a(href="/LL36 9YW") LL36 9YW
  li
    a(href="/LL36 9YY") LL36 9YY
  li
    a(href="/LL36 9ZE") LL36 9ZE
  li
    a(href="/LL36 9ZG") LL36 9ZG
