ul.locations
  li
    a(href="/LL37 2JA") LL37 2JA
  li
    a(href="/LL37 2JB") LL37 2JB
  li
    a(href="/LL37 2JD") LL37 2JD
  li
    a(href="/LL37 2JE") LL37 2JE
  li
    a(href="/LL37 2JF") LL37 2JF
  li
    a(href="/LL37 2JG") LL37 2JG
  li
    a(href="/LL37 2JH") LL37 2JH
  li
    a(href="/LL37 2JJ") LL37 2JJ
  li
    a(href="/LL37 2JL") LL37 2JL
  li
    a(href="/LL37 2JP") LL37 2JP
  li
    a(href="/LL37 2JQ") LL37 2JQ
  li
    a(href="/LL37 2JR") LL37 2JR
  li
    a(href="/LL37 2JS") LL37 2JS
  li
    a(href="/LL37 2JT") LL37 2JT
  li
    a(href="/LL37 2JU") LL37 2JU
  li
    a(href="/LL37 2JX") LL37 2JX
  li
    a(href="/LL37 2JY") LL37 2JY
  li
    a(href="/LL37 2JZ") LL37 2JZ
  li
    a(href="/LL37 2LA") LL37 2LA
  li
    a(href="/LL37 2QA") LL37 2QA
  li
    a(href="/LL37 2QB") LL37 2QB
  li
    a(href="/LL37 2QD") LL37 2QD
  li
    a(href="/LL37 2QE") LL37 2QE
  li
    a(href="/LL37 2QF") LL37 2QF
  li
    a(href="/LL37 2QH") LL37 2QH
  li
    a(href="/LL37 2QJ") LL37 2QJ
  li
    a(href="/LL37 2QL") LL37 2QL
  li
    a(href="/LL37 2QN") LL37 2QN
  li
    a(href="/LL37 2QP") LL37 2QP
  li
    a(href="/LL37 2QQ") LL37 2QQ
  li
    a(href="/LL37 2QR") LL37 2QR
  li
    a(href="/LL37 2QS") LL37 2QS
  li
    a(href="/LL37 2QW") LL37 2QW
  li
    a(href="/LL37 2UJ") LL37 2UJ
  li
    a(href="/LL37 2UX") LL37 2UX
  li
    a(href="/LL37 2UZ") LL37 2UZ
  li
    a(href="/LL37 2WU") LL37 2WU
  li
    a(href="/LL37 2WZ") LL37 2WZ
  li
    a(href="/LL37 2YJ") LL37 2YJ
  li
    a(href="/LL37 2YQ") LL37 2YQ
  li
    a(href="/LL37 2YX") LL37 2YX
  li
    a(href="/LL37 2YZ") LL37 2YZ
  li
    a(href="/LL37 2ZA") LL37 2ZA
