ul.locations
  li
    a(href="/LL38 2AJ") LL38 2AJ
  li
    a(href="/LL38 2AQ") LL38 2AQ
  li
    a(href="/LL38 2AX") LL38 2AX
  li
    a(href="/LL38 2AZ") LL38 2AZ
  li
    a(href="/LL38 2BJ") LL38 2BJ
  li
    a(href="/LL38 2BQ") LL38 2BQ
  li
    a(href="/LL38 2BX") LL38 2BX
  li
    a(href="/LL38 2DJ") LL38 2DJ
  li
    a(href="/LL38 2DQ") LL38 2DQ
  li
    a(href="/LL38 2DX") LL38 2DX
  li
    a(href="/LL38 2DZ") LL38 2DZ
  li
    a(href="/LL38 2EJ") LL38 2EJ
  li
    a(href="/LL38 2EQ") LL38 2EQ
  li
    a(href="/LL38 2EX") LL38 2EX
  li
    a(href="/LL38 2EY") LL38 2EY
  li
    a(href="/LL38 2EZ") LL38 2EZ
  li
    a(href="/LL38 2HJ") LL38 2HJ
  li
    a(href="/LL38 2HQ") LL38 2HQ
  li
    a(href="/LL38 2HX") LL38 2HX
  li
    a(href="/LL38 2HZ") LL38 2HZ
  li
    a(href="/LL38 2LJ") LL38 2LJ
  li
    a(href="/LL38 2LQ") LL38 2LQ
  li
    a(href="/LL38 2LX") LL38 2LX
  li
    a(href="/LL38 2LZ") LL38 2LZ
  li
    a(href="/LL38 2NJ") LL38 2NJ
  li
    a(href="/LL38 2NQ") LL38 2NQ
  li
    a(href="/LL38 2NX") LL38 2NX
  li
    a(href="/LL38 2NZ") LL38 2NZ
  li
    a(href="/LL38 2PJ") LL38 2PJ
  li
    a(href="/LL38 2PQ") LL38 2PQ
  li
    a(href="/LL38 2PX") LL38 2PX
  li
    a(href="/LL38 2PZ") LL38 2PZ
  li
    a(href="/LL38 2QY") LL38 2QY
  li
    a(href="/LL38 2QZ") LL38 2QZ
  li
    a(href="/LL38 2RJ") LL38 2RJ
  li
    a(href="/LL38 2RQ") LL38 2RQ
  li
    a(href="/LL38 2RX") LL38 2RX
  li
    a(href="/LL38 2RZ") LL38 2RZ
  li
    a(href="/LL38 2SJ") LL38 2SJ
  li
    a(href="/LL38 2SQ") LL38 2SQ
  li
    a(href="/LL38 2SX") LL38 2SX
  li
    a(href="/LL38 2SZ") LL38 2SZ
  li
    a(href="/LL38 2TJ") LL38 2TJ
  li
    a(href="/LL38 2TQ") LL38 2TQ
  li
    a(href="/LL38 2TX") LL38 2TX
  li
    a(href="/LL38 2TZ") LL38 2TZ
  li
    a(href="/LL38 2UQ") LL38 2UQ
