ul.locations
  li
    a(href="/LL39 1AJ") LL39 1AJ
  li
    a(href="/LL39 1AQ") LL39 1AQ
  li
    a(href="/LL39 1AX") LL39 1AX
  li
    a(href="/LL39 1AZ") LL39 1AZ
  li
    a(href="/LL39 1BJ") LL39 1BJ
  li
    a(href="/LL39 1BQ") LL39 1BQ
  li
    a(href="/LL39 1BX") LL39 1BX
  li
    a(href="/LL39 1BZ") LL39 1BZ
  li
    a(href="/LL39 1DQ") LL39 1DQ
  li
    a(href="/LL39 1LJ") LL39 1LJ
  li
    a(href="/LL39 1LQ") LL39 1LQ
  li
    a(href="/LL39 1LX") LL39 1LX
  li
    a(href="/LL39 1LZ") LL39 1LZ
  li
    a(href="/LL39 1YP") LL39 1YP
  li
    a(href="/LL39 1YR") LL39 1YR
  li
    a(href="/LL39 1YS") LL39 1YS
  li
    a(href="/LL39 1YT") LL39 1YT
  li
    a(href="/LL39 1YU") LL39 1YU
  li
    a(href="/LL39 1YY") LL39 1YY
