ul.locations
  li
    a(href="/LL42 1AA") LL42 1AA
  li
    a(href="/LL42 1AB") LL42 1AB
  li
    a(href="/LL42 1AD") LL42 1AD
  li
    a(href="/LL42 1AE") LL42 1AE
  li
    a(href="/LL42 1AF") LL42 1AF
  li
    a(href="/LL42 1AG") LL42 1AG
  li
    a(href="/LL42 1AJ") LL42 1AJ
  li
    a(href="/LL42 1AL") LL42 1AL
  li
    a(href="/LL42 1AN") LL42 1AN
  li
    a(href="/LL42 1AQ") LL42 1AQ
  li
    a(href="/LL42 1AR") LL42 1AR
  li
    a(href="/LL42 1AS") LL42 1AS
  li
    a(href="/LL42 1AT") LL42 1AT
  li
    a(href="/LL42 1AU") LL42 1AU
  li
    a(href="/LL42 1AW") LL42 1AW
  li
    a(href="/LL42 1AY") LL42 1AY
  li
    a(href="/LL42 1AZ") LL42 1AZ
  li
    a(href="/LL42 1BA") LL42 1BA
  li
    a(href="/LL42 1BD") LL42 1BD
  li
    a(href="/LL42 1BE") LL42 1BE
  li
    a(href="/LL42 1BG") LL42 1BG
  li
    a(href="/LL42 1BH") LL42 1BH
  li
    a(href="/LL42 1BJ") LL42 1BJ
  li
    a(href="/LL42 1BL") LL42 1BL
  li
    a(href="/LL42 1BN") LL42 1BN
  li
    a(href="/LL42 1BP") LL42 1BP
  li
    a(href="/LL42 1BQ") LL42 1BQ
  li
    a(href="/LL42 1BS") LL42 1BS
  li
    a(href="/LL42 1BT") LL42 1BT
  li
    a(href="/LL42 1BU") LL42 1BU
  li
    a(href="/LL42 1BW") LL42 1BW
  li
    a(href="/LL42 1BX") LL42 1BX
  li
    a(href="/LL42 1BY") LL42 1BY
  li
    a(href="/LL42 1DB") LL42 1DB
  li
    a(href="/LL42 1DD") LL42 1DD
  li
    a(href="/LL42 1DE") LL42 1DE
  li
    a(href="/LL42 1DF") LL42 1DF
  li
    a(href="/LL42 1DJ") LL42 1DJ
  li
    a(href="/LL42 1DL") LL42 1DL
  li
    a(href="/LL42 1DN") LL42 1DN
  li
    a(href="/LL42 1DP") LL42 1DP
  li
    a(href="/LL42 1DQ") LL42 1DQ
  li
    a(href="/LL42 1DR") LL42 1DR
  li
    a(href="/LL42 1DS") LL42 1DS
  li
    a(href="/LL42 1DT") LL42 1DT
  li
    a(href="/LL42 1DU") LL42 1DU
  li
    a(href="/LL42 1DW") LL42 1DW
  li
    a(href="/LL42 1DX") LL42 1DX
  li
    a(href="/LL42 1DZ") LL42 1DZ
  li
    a(href="/LL42 1ED") LL42 1ED
  li
    a(href="/LL42 1EE") LL42 1EE
  li
    a(href="/LL42 1EF") LL42 1EF
  li
    a(href="/LL42 1EG") LL42 1EG
  li
    a(href="/LL42 1EH") LL42 1EH
  li
    a(href="/LL42 1EL") LL42 1EL
  li
    a(href="/LL42 1EN") LL42 1EN
  li
    a(href="/LL42 1EP") LL42 1EP
  li
    a(href="/LL42 1EQ") LL42 1EQ
  li
    a(href="/LL42 1ER") LL42 1ER
  li
    a(href="/LL42 1ES") LL42 1ES
  li
    a(href="/LL42 1ET") LL42 1ET
  li
    a(href="/LL42 1EU") LL42 1EU
  li
    a(href="/LL42 1EW") LL42 1EW
  li
    a(href="/LL42 1EY") LL42 1EY
  li
    a(href="/LL42 1HA") LL42 1HA
  li
    a(href="/LL42 1HB") LL42 1HB
  li
    a(href="/LL42 1HD") LL42 1HD
  li
    a(href="/LL42 1HG") LL42 1HG
  li
    a(href="/LL42 1HH") LL42 1HH
  li
    a(href="/LL42 1HL") LL42 1HL
  li
    a(href="/LL42 1HP") LL42 1HP
  li
    a(href="/LL42 1HR") LL42 1HR
  li
    a(href="/LL42 1HS") LL42 1HS
  li
    a(href="/LL42 1HT") LL42 1HT
  li
    a(href="/LL42 1HU") LL42 1HU
  li
    a(href="/LL42 1HW") LL42 1HW
  li
    a(href="/LL42 1HX") LL42 1HX
  li
    a(href="/LL42 1HY") LL42 1HY
  li
    a(href="/LL42 1LA") LL42 1LA
  li
    a(href="/LL42 1LB") LL42 1LB
  li
    a(href="/LL42 1LD") LL42 1LD
  li
    a(href="/LL42 1LE") LL42 1LE
  li
    a(href="/LL42 1LF") LL42 1LF
  li
    a(href="/LL42 1LG") LL42 1LG
  li
    a(href="/LL42 1LP") LL42 1LP
  li
    a(href="/LL42 1LR") LL42 1LR
  li
    a(href="/LL42 1LS") LL42 1LS
  li
    a(href="/LL42 1LT") LL42 1LT
  li
    a(href="/LL42 1LU") LL42 1LU
  li
    a(href="/LL42 1LX") LL42 1LX
  li
    a(href="/LL42 1LY") LL42 1LY
  li
    a(href="/LL42 1LZ") LL42 1LZ
  li
    a(href="/LL42 1NA") LL42 1NA
  li
    a(href="/LL42 1NB") LL42 1NB
  li
    a(href="/LL42 1ND") LL42 1ND
  li
    a(href="/LL42 1NE") LL42 1NE
  li
    a(href="/LL42 1NF") LL42 1NF
  li
    a(href="/LL42 1NG") LL42 1NG
  li
    a(href="/LL42 1NH") LL42 1NH
  li
    a(href="/LL42 1NL") LL42 1NL
  li
    a(href="/LL42 1NN") LL42 1NN
  li
    a(href="/LL42 1NP") LL42 1NP
  li
    a(href="/LL42 1NQ") LL42 1NQ
  li
    a(href="/LL42 1NR") LL42 1NR
  li
    a(href="/LL42 1NS") LL42 1NS
  li
    a(href="/LL42 1NW") LL42 1NW
  li
    a(href="/LL42 1NY") LL42 1NY
  li
    a(href="/LL42 1PA") LL42 1PA
  li
    a(href="/LL42 1PD") LL42 1PD
  li
    a(href="/LL42 1PE") LL42 1PE
  li
    a(href="/LL42 1PF") LL42 1PF
  li
    a(href="/LL42 1PG") LL42 1PG
  li
    a(href="/LL42 1PH") LL42 1PH
  li
    a(href="/LL42 1PL") LL42 1PL
  li
    a(href="/LL42 1PN") LL42 1PN
  li
    a(href="/LL42 1PP") LL42 1PP
  li
    a(href="/LL42 1PR") LL42 1PR
  li
    a(href="/LL42 1PS") LL42 1PS
  li
    a(href="/LL42 1PT") LL42 1PT
  li
    a(href="/LL42 1PW") LL42 1PW
  li
    a(href="/LL42 1PY") LL42 1PY
  li
    a(href="/LL42 1RB") LL42 1RB
  li
    a(href="/LL42 1RD") LL42 1RD
  li
    a(href="/LL42 1RE") LL42 1RE
  li
    a(href="/LL42 1RF") LL42 1RF
  li
    a(href="/LL42 1RL") LL42 1RL
  li
    a(href="/LL42 1RN") LL42 1RN
  li
    a(href="/LL42 1RR") LL42 1RR
  li
    a(href="/LL42 1RW") LL42 1RW
  li
    a(href="/LL42 1SU") LL42 1SU
  li
    a(href="/LL42 1TB") LL42 1TB
  li
    a(href="/LL42 1TD") LL42 1TD
  li
    a(href="/LL42 1TE") LL42 1TE
  li
    a(href="/LL42 1TF") LL42 1TF
  li
    a(href="/LL42 1TG") LL42 1TG
  li
    a(href="/LL42 1TH") LL42 1TH
  li
    a(href="/LL42 1TL") LL42 1TL
  li
    a(href="/LL42 1TN") LL42 1TN
  li
    a(href="/LL42 1WY") LL42 1WY
  li
    a(href="/LL42 1YA") LL42 1YA
  li
    a(href="/LL42 1YF") LL42 1YF
  li
    a(href="/LL42 1YG") LL42 1YG
  li
    a(href="/LL42 1YH") LL42 1YH
  li
    a(href="/LL42 1YL") LL42 1YL
  li
    a(href="/LL42 1YN") LL42 1YN
  li
    a(href="/LL42 1YP") LL42 1YP
  li
    a(href="/LL42 1YR") LL42 1YR
  li
    a(href="/LL42 1YS") LL42 1YS
  li
    a(href="/LL42 1YT") LL42 1YT
  li
    a(href="/LL42 1YU") LL42 1YU
  li
    a(href="/LL42 1YY") LL42 1YY
  li
    a(href="/LL42 9AA") LL42 9AA
  li
    a(href="/LL42 9ZZ") LL42 9ZZ
