ul.locations
  li
    a(href="/LL43 2AA") LL43 2AA
  li
    a(href="/LL43 2AB") LL43 2AB
  li
    a(href="/LL43 2AD") LL43 2AD
  li
    a(href="/LL43 2AE") LL43 2AE
  li
    a(href="/LL43 2AF") LL43 2AF
  li
    a(href="/LL43 2AG") LL43 2AG
  li
    a(href="/LL43 2AH") LL43 2AH
  li
    a(href="/LL43 2AJ") LL43 2AJ
  li
    a(href="/LL43 2AL") LL43 2AL
  li
    a(href="/LL43 2AN") LL43 2AN
  li
    a(href="/LL43 2AP") LL43 2AP
  li
    a(href="/LL43 2AQ") LL43 2AQ
  li
    a(href="/LL43 2AR") LL43 2AR
  li
    a(href="/LL43 2AS") LL43 2AS
  li
    a(href="/LL43 2AT") LL43 2AT
  li
    a(href="/LL43 2AU") LL43 2AU
  li
    a(href="/LL43 2AW") LL43 2AW
  li
    a(href="/LL43 2AX") LL43 2AX
  li
    a(href="/LL43 2AY") LL43 2AY
  li
    a(href="/LL43 2AZ") LL43 2AZ
  li
    a(href="/LL43 2BA") LL43 2BA
  li
    a(href="/LL43 2BB") LL43 2BB
  li
    a(href="/LL43 2BF") LL43 2BF
  li
    a(href="/LL43 2BJ") LL43 2BJ
  li
    a(href="/LL43 2BQ") LL43 2BQ
  li
    a(href="/LL43 2BX") LL43 2BX
  li
    a(href="/LL43 2BZ") LL43 2BZ
  li
    a(href="/LL43 2LQ") LL43 2LQ
