ul.locations
  li
    a(href="/LL44 2BE") LL44 2BE
  li
    a(href="/LL44 2BF") LL44 2BF
  li
    a(href="/LL44 2BG") LL44 2BG
  li
    a(href="/LL44 2BH") LL44 2BH
  li
    a(href="/LL44 2BL") LL44 2BL
  li
    a(href="/LL44 2BN") LL44 2BN
  li
    a(href="/LL44 2BP") LL44 2BP
  li
    a(href="/LL44 2BS") LL44 2BS
  li
    a(href="/LL44 2BT") LL44 2BT
  li
    a(href="/LL44 2BU") LL44 2BU
  li
    a(href="/LL44 2BW") LL44 2BW
  li
    a(href="/LL44 2BY") LL44 2BY
  li
    a(href="/LL44 2DA") LL44 2DA
  li
    a(href="/LL44 2DB") LL44 2DB
  li
    a(href="/LL44 2DD") LL44 2DD
  li
    a(href="/LL44 2DG") LL44 2DG
  li
    a(href="/LL44 2DH") LL44 2DH
  li
    a(href="/LL44 2DJ") LL44 2DJ
  li
    a(href="/LL44 2DL") LL44 2DL
  li
    a(href="/LL44 2DN") LL44 2DN
  li
    a(href="/LL44 2DP") LL44 2DP
  li
    a(href="/LL44 2DR") LL44 2DR
  li
    a(href="/LL44 2DS") LL44 2DS
  li
    a(href="/LL44 2DT") LL44 2DT
  li
    a(href="/LL44 2DU") LL44 2DU
  li
    a(href="/LL44 2DW") LL44 2DW
  li
    a(href="/LL44 2DY") LL44 2DY
  li
    a(href="/LL44 2EA") LL44 2EA
  li
    a(href="/LL44 2EE") LL44 2EE
  li
    a(href="/LL44 2EF") LL44 2EF
  li
    a(href="/LL44 2EG") LL44 2EG
  li
    a(href="/LL44 2EH") LL44 2EH
  li
    a(href="/LL44 2EL") LL44 2EL
  li
    a(href="/LL44 2EN") LL44 2EN
  li
    a(href="/LL44 2EP") LL44 2EP
  li
    a(href="/LL44 2EQ") LL44 2EQ
  li
    a(href="/LL44 2ER") LL44 2ER
  li
    a(href="/LL44 2ES") LL44 2ES
  li
    a(href="/LL44 2ET") LL44 2ET
  li
    a(href="/LL44 2EU") LL44 2EU
  li
    a(href="/LL44 2EW") LL44 2EW
  li
    a(href="/LL44 2EY") LL44 2EY
  li
    a(href="/LL44 2HA") LL44 2HA
  li
    a(href="/LL44 2HB") LL44 2HB
  li
    a(href="/LL44 2HD") LL44 2HD
  li
    a(href="/LL44 2HF") LL44 2HF
  li
    a(href="/LL44 2HX") LL44 2HX
  li
    a(href="/LL44 2HZ") LL44 2HZ
  li
    a(href="/LL44 2RJ") LL44 2RJ
  li
    a(href="/LL44 2RQ") LL44 2RQ
  li
    a(href="/LL44 2RX") LL44 2RX
