ul.locations
  li
    a(href="/LL47 6TA") LL47 6TA
  li
    a(href="/LL47 6TB") LL47 6TB
  li
    a(href="/LL47 6TD") LL47 6TD
  li
    a(href="/LL47 6TE") LL47 6TE
  li
    a(href="/LL47 6TF") LL47 6TF
  li
    a(href="/LL47 6TG") LL47 6TG
  li
    a(href="/LL47 6TH") LL47 6TH
  li
    a(href="/LL47 6TJ") LL47 6TJ
  li
    a(href="/LL47 6TL") LL47 6TL
  li
    a(href="/LL47 6TN") LL47 6TN
  li
    a(href="/LL47 6TP") LL47 6TP
  li
    a(href="/LL47 6TR") LL47 6TR
  li
    a(href="/LL47 6TS") LL47 6TS
  li
    a(href="/LL47 6TT") LL47 6TT
  li
    a(href="/LL47 6TU") LL47 6TU
  li
    a(href="/LL47 6TW") LL47 6TW
  li
    a(href="/LL47 6TY") LL47 6TY
  li
    a(href="/LL47 6UA") LL47 6UA
  li
    a(href="/LL47 6UB") LL47 6UB
  li
    a(href="/LL47 6UD") LL47 6UD
  li
    a(href="/LL47 6UE") LL47 6UE
  li
    a(href="/LL47 6UF") LL47 6UF
  li
    a(href="/LL47 6UG") LL47 6UG
  li
    a(href="/LL47 6UH") LL47 6UH
  li
    a(href="/LL47 6UL") LL47 6UL
  li
    a(href="/LL47 6UN") LL47 6UN
  li
    a(href="/LL47 6UP") LL47 6UP
  li
    a(href="/LL47 6UR") LL47 6UR
  li
    a(href="/LL47 6UT") LL47 6UT
  li
    a(href="/LL47 6UU") LL47 6UU
  li
    a(href="/LL47 6UW") LL47 6UW
  li
    a(href="/LL47 6UY") LL47 6UY
  li
    a(href="/LL47 6YA") LL47 6YA
  li
    a(href="/LL47 6YB") LL47 6YB
  li
    a(href="/LL47 6YD") LL47 6YD
  li
    a(href="/LL47 6YF") LL47 6YF
  li
    a(href="/LL47 6YG") LL47 6YG
  li
    a(href="/LL47 6YH") LL47 6YH
  li
    a(href="/LL47 6YL") LL47 6YL
  li
    a(href="/LL47 6YN") LL47 6YN
  li
    a(href="/LL47 6YP") LL47 6YP
  li
    a(href="/LL47 6YR") LL47 6YR
  li
    a(href="/LL47 6YS") LL47 6YS
  li
    a(href="/LL47 6YT") LL47 6YT
  li
    a(href="/LL47 6YU") LL47 6YU
  li
    a(href="/LL47 6YW") LL47 6YW
  li
    a(href="/LL47 6YY") LL47 6YY
