ul.locations
  li
    a(href="/LL48 6AA") LL48 6AA
  li
    a(href="/LL48 6AB") LL48 6AB
  li
    a(href="/LL48 6AD") LL48 6AD
  li
    a(href="/LL48 6AE") LL48 6AE
  li
    a(href="/LL48 6AG") LL48 6AG
  li
    a(href="/LL48 6AH") LL48 6AH
  li
    a(href="/LL48 6AJ") LL48 6AJ
  li
    a(href="/LL48 6AL") LL48 6AL
  li
    a(href="/LL48 6AN") LL48 6AN
  li
    a(href="/LL48 6AP") LL48 6AP
  li
    a(href="/LL48 6AQ") LL48 6AQ
  li
    a(href="/LL48 6AR") LL48 6AR
  li
    a(href="/LL48 6AS") LL48 6AS
  li
    a(href="/LL48 6AT") LL48 6AT
  li
    a(href="/LL48 6AU") LL48 6AU
  li
    a(href="/LL48 6AW") LL48 6AW
  li
    a(href="/LL48 6AX") LL48 6AX
  li
    a(href="/LL48 6AY") LL48 6AY
  li
    a(href="/LL48 6AZ") LL48 6AZ
  li
    a(href="/LL48 6BA") LL48 6BA
  li
    a(href="/LL48 6BB") LL48 6BB
  li
    a(href="/LL48 6BD") LL48 6BD
  li
    a(href="/LL48 6BE") LL48 6BE
  li
    a(href="/LL48 6BF") LL48 6BF
  li
    a(href="/LL48 6BG") LL48 6BG
  li
    a(href="/LL48 6BH") LL48 6BH
  li
    a(href="/LL48 6BJ") LL48 6BJ
  li
    a(href="/LL48 6BL") LL48 6BL
  li
    a(href="/LL48 6BN") LL48 6BN
  li
    a(href="/LL48 6BP") LL48 6BP
  li
    a(href="/LL48 6BQ") LL48 6BQ
  li
    a(href="/LL48 6BS") LL48 6BS
  li
    a(href="/LL48 6BT") LL48 6BT
  li
    a(href="/LL48 6BU") LL48 6BU
  li
    a(href="/LL48 6BW") LL48 6BW
  li
    a(href="/LL48 6BX") LL48 6BX
  li
    a(href="/LL48 6BY") LL48 6BY
  li
    a(href="/LL48 6BZ") LL48 6BZ
  li
    a(href="/LL48 6DA") LL48 6DA
  li
    a(href="/LL48 6DB") LL48 6DB
  li
    a(href="/LL48 6DD") LL48 6DD
  li
    a(href="/LL48 6DE") LL48 6DE
  li
    a(href="/LL48 6DF") LL48 6DF
  li
    a(href="/LL48 6DG") LL48 6DG
  li
    a(href="/LL48 6DH") LL48 6DH
  li
    a(href="/LL48 6DJ") LL48 6DJ
  li
    a(href="/LL48 6DL") LL48 6DL
  li
    a(href="/LL48 6DN") LL48 6DN
  li
    a(href="/LL48 6DP") LL48 6DP
  li
    a(href="/LL48 6DQ") LL48 6DQ
  li
    a(href="/LL48 6DR") LL48 6DR
  li
    a(href="/LL48 6DS") LL48 6DS
  li
    a(href="/LL48 6DT") LL48 6DT
  li
    a(href="/LL48 6DU") LL48 6DU
  li
    a(href="/LL48 6DW") LL48 6DW
  li
    a(href="/LL48 6DX") LL48 6DX
  li
    a(href="/LL48 6DY") LL48 6DY
  li
    a(href="/LL48 6DZ") LL48 6DZ
  li
    a(href="/LL48 6ED") LL48 6ED
  li
    a(href="/LL48 6EE") LL48 6EE
  li
    a(href="/LL48 6EF") LL48 6EF
  li
    a(href="/LL48 6EG") LL48 6EG
  li
    a(href="/LL48 6EH") LL48 6EH
  li
    a(href="/LL48 6EL") LL48 6EL
  li
    a(href="/LL48 6EN") LL48 6EN
  li
    a(href="/LL48 6EP") LL48 6EP
  li
    a(href="/LL48 6ER") LL48 6ER
  li
    a(href="/LL48 6ET") LL48 6ET
  li
    a(href="/LL48 6EW") LL48 6EW
  li
    a(href="/LL48 6HA") LL48 6HA
  li
    a(href="/LL48 6HB") LL48 6HB
  li
    a(href="/LL48 6HD") LL48 6HD
  li
    a(href="/LL48 6HE") LL48 6HE
  li
    a(href="/LL48 6HF") LL48 6HF
  li
    a(href="/LL48 6HG") LL48 6HG
  li
    a(href="/LL48 6HL") LL48 6HL
  li
    a(href="/LL48 6HN") LL48 6HN
  li
    a(href="/LL48 6HP") LL48 6HP
  li
    a(href="/LL48 6HR") LL48 6HR
  li
    a(href="/LL48 6HS") LL48 6HS
  li
    a(href="/LL48 6HT") LL48 6HT
  li
    a(href="/LL48 6HU") LL48 6HU
  li
    a(href="/LL48 6HW") LL48 6HW
  li
    a(href="/LL48 6HY") LL48 6HY
  li
    a(href="/LL48 6LA") LL48 6LA
  li
    a(href="/LL48 6LD") LL48 6LD
  li
    a(href="/LL48 6LE") LL48 6LE
  li
    a(href="/LL48 6LF") LL48 6LF
  li
    a(href="/LL48 6LG") LL48 6LG
  li
    a(href="/LL48 6LH") LL48 6LH
  li
    a(href="/LL48 6LJ") LL48 6LJ
  li
    a(href="/LL48 6LL") LL48 6LL
  li
    a(href="/LL48 6LN") LL48 6LN
  li
    a(href="/LL48 6LP") LL48 6LP
  li
    a(href="/LL48 6LQ") LL48 6LQ
  li
    a(href="/LL48 6LR") LL48 6LR
  li
    a(href="/LL48 6LS") LL48 6LS
  li
    a(href="/LL48 6LT") LL48 6LT
  li
    a(href="/LL48 6LW") LL48 6LW
  li
    a(href="/LL48 6LX") LL48 6LX
  li
    a(href="/LL48 6LY") LL48 6LY
  li
    a(href="/LL48 6LZ") LL48 6LZ
  li
    a(href="/LL48 6NA") LL48 6NA
  li
    a(href="/LL48 6NB") LL48 6NB
  li
    a(href="/LL48 6ND") LL48 6ND
  li
    a(href="/LL48 6NE") LL48 6NE
  li
    a(href="/LL48 6NF") LL48 6NF
  li
    a(href="/LL48 6NG") LL48 6NG
  li
    a(href="/LL48 6NH") LL48 6NH
  li
    a(href="/LL48 6NL") LL48 6NL
  li
    a(href="/LL48 6NN") LL48 6NN
  li
    a(href="/LL48 6NP") LL48 6NP
  li
    a(href="/LL48 6NQ") LL48 6NQ
  li
    a(href="/LL48 6NR") LL48 6NR
  li
    a(href="/LL48 6NW") LL48 6NW
  li
    a(href="/LL48 6NY") LL48 6NY
  li
    a(href="/LL48 6PA") LL48 6PA
  li
    a(href="/LL48 6PB") LL48 6PB
  li
    a(href="/LL48 6PD") LL48 6PD
  li
    a(href="/LL48 6PF") LL48 6PF
  li
    a(href="/LL48 6PG") LL48 6PG
  li
    a(href="/LL48 6PH") LL48 6PH
  li
    a(href="/LL48 6PL") LL48 6PL
  li
    a(href="/LL48 6PN") LL48 6PN
  li
    a(href="/LL48 6PP") LL48 6PP
  li
    a(href="/LL48 6PR") LL48 6PR
  li
    a(href="/LL48 6PS") LL48 6PS
  li
    a(href="/LL48 6PT") LL48 6PT
  li
    a(href="/LL48 6PU") LL48 6PU
  li
    a(href="/LL48 6PW") LL48 6PW
  li
    a(href="/LL48 6PY") LL48 6PY
  li
    a(href="/LL48 6RA") LL48 6RA
  li
    a(href="/LL48 6RB") LL48 6RB
  li
    a(href="/LL48 6RD") LL48 6RD
  li
    a(href="/LL48 6RE") LL48 6RE
  li
    a(href="/LL48 6RF") LL48 6RF
  li
    a(href="/LL48 6RG") LL48 6RG
  li
    a(href="/LL48 6RH") LL48 6RH
  li
    a(href="/LL48 6RL") LL48 6RL
  li
    a(href="/LL48 6RN") LL48 6RN
  li
    a(href="/LL48 6RP") LL48 6RP
  li
    a(href="/LL48 6RR") LL48 6RR
  li
    a(href="/LL48 6RS") LL48 6RS
  li
    a(href="/LL48 6RT") LL48 6RT
  li
    a(href="/LL48 6RU") LL48 6RU
  li
    a(href="/LL48 6RW") LL48 6RW
  li
    a(href="/LL48 6RY") LL48 6RY
  li
    a(href="/LL48 6SE") LL48 6SE
  li
    a(href="/LL48 6SF") LL48 6SF
  li
    a(href="/LL48 6SG") LL48 6SG
  li
    a(href="/LL48 6SH") LL48 6SH
  li
    a(href="/LL48 6SN") LL48 6SN
  li
    a(href="/LL48 6SP") LL48 6SP
  li
    a(href="/LL48 6SR") LL48 6SR
  li
    a(href="/LL48 6SS") LL48 6SS
  li
    a(href="/LL48 6ST") LL48 6ST
  li
    a(href="/LL48 6SW") LL48 6SW
  li
    a(href="/LL48 6ZA") LL48 6ZA
