ul.locations
  li
    a(href="/LL52 0AA") LL52 0AA
  li
    a(href="/LL52 0AB") LL52 0AB
  li
    a(href="/LL52 0AD") LL52 0AD
  li
    a(href="/LL52 0AE") LL52 0AE
  li
    a(href="/LL52 0AG") LL52 0AG
  li
    a(href="/LL52 0AH") LL52 0AH
  li
    a(href="/LL52 0AL") LL52 0AL
  li
    a(href="/LL52 0AP") LL52 0AP
  li
    a(href="/LL52 0AR") LL52 0AR
  li
    a(href="/LL52 0AS") LL52 0AS
  li
    a(href="/LL52 0AT") LL52 0AT
  li
    a(href="/LL52 0AU") LL52 0AU
  li
    a(href="/LL52 0AW") LL52 0AW
  li
    a(href="/LL52 0AY") LL52 0AY
  li
    a(href="/LL52 0BA") LL52 0BA
  li
    a(href="/LL52 0BB") LL52 0BB
  li
    a(href="/LL52 0BD") LL52 0BD
  li
    a(href="/LL52 0BE") LL52 0BE
  li
    a(href="/LL52 0BG") LL52 0BG
  li
    a(href="/LL52 0BH") LL52 0BH
  li
    a(href="/LL52 0BJ") LL52 0BJ
  li
    a(href="/LL52 0BL") LL52 0BL
  li
    a(href="/LL52 0BN") LL52 0BN
  li
    a(href="/LL52 0BP") LL52 0BP
  li
    a(href="/LL52 0BR") LL52 0BR
  li
    a(href="/LL52 0BS") LL52 0BS
  li
    a(href="/LL52 0BT") LL52 0BT
  li
    a(href="/LL52 0BU") LL52 0BU
  li
    a(href="/LL52 0BY") LL52 0BY
  li
    a(href="/LL52 0DA") LL52 0DA
  li
    a(href="/LL52 0DB") LL52 0DB
  li
    a(href="/LL52 0DD") LL52 0DD
  li
    a(href="/LL52 0DE") LL52 0DE
  li
    a(href="/LL52 0DG") LL52 0DG
  li
    a(href="/LL52 0DH") LL52 0DH
  li
    a(href="/LL52 0DL") LL52 0DL
  li
    a(href="/LL52 0DN") LL52 0DN
  li
    a(href="/LL52 0DP") LL52 0DP
  li
    a(href="/LL52 0DR") LL52 0DR
  li
    a(href="/LL52 0DS") LL52 0DS
  li
    a(href="/LL52 0DT") LL52 0DT
  li
    a(href="/LL52 0DU") LL52 0DU
  li
    a(href="/LL52 0DW") LL52 0DW
  li
    a(href="/LL52 0DY") LL52 0DY
  li
    a(href="/LL52 0EA") LL52 0EA
  li
    a(href="/LL52 0EB") LL52 0EB
  li
    a(href="/LL52 0ED") LL52 0ED
  li
    a(href="/LL52 0EE") LL52 0EE
  li
    a(href="/LL52 0EF") LL52 0EF
  li
    a(href="/LL52 0EG") LL52 0EG
  li
    a(href="/LL52 0EH") LL52 0EH
  li
    a(href="/LL52 0EJ") LL52 0EJ
  li
    a(href="/LL52 0EL") LL52 0EL
  li
    a(href="/LL52 0EN") LL52 0EN
  li
    a(href="/LL52 0EP") LL52 0EP
  li
    a(href="/LL52 0ER") LL52 0ER
  li
    a(href="/LL52 0ES") LL52 0ES
  li
    a(href="/LL52 0EY") LL52 0EY
  li
    a(href="/LL52 0HB") LL52 0HB
  li
    a(href="/LL52 0HD") LL52 0HD
  li
    a(href="/LL52 0HE") LL52 0HE
  li
    a(href="/LL52 0HF") LL52 0HF
  li
    a(href="/LL52 0HG") LL52 0HG
  li
    a(href="/LL52 0HH") LL52 0HH
  li
    a(href="/LL52 0HL") LL52 0HL
  li
    a(href="/LL52 0HN") LL52 0HN
  li
    a(href="/LL52 0HP") LL52 0HP
  li
    a(href="/LL52 0HQ") LL52 0HQ
  li
    a(href="/LL52 0HR") LL52 0HR
  li
    a(href="/LL52 0HS") LL52 0HS
  li
    a(href="/LL52 0HT") LL52 0HT
  li
    a(href="/LL52 0HU") LL52 0HU
  li
    a(href="/LL52 0HW") LL52 0HW
  li
    a(href="/LL52 0HY") LL52 0HY
  li
    a(href="/LL52 0LA") LL52 0LA
  li
    a(href="/LL52 0LB") LL52 0LB
  li
    a(href="/LL52 0LD") LL52 0LD
  li
    a(href="/LL52 0LE") LL52 0LE
  li
    a(href="/LL52 0LF") LL52 0LF
  li
    a(href="/LL52 0LJ") LL52 0LJ
  li
    a(href="/LL52 0LL") LL52 0LL
  li
    a(href="/LL52 0LN") LL52 0LN
  li
    a(href="/LL52 0LP") LL52 0LP
  li
    a(href="/LL52 0LR") LL52 0LR
  li
    a(href="/LL52 0LS") LL52 0LS
  li
    a(href="/LL52 0LT") LL52 0LT
  li
    a(href="/LL52 0LU") LL52 0LU
  li
    a(href="/LL52 0LW") LL52 0LW
  li
    a(href="/LL52 0LY") LL52 0LY
  li
    a(href="/LL52 0NA") LL52 0NA
  li
    a(href="/LL52 0NB") LL52 0NB
  li
    a(href="/LL52 0ND") LL52 0ND
  li
    a(href="/LL52 0NF") LL52 0NF
  li
    a(href="/LL52 0NG") LL52 0NG
  li
    a(href="/LL52 0NH") LL52 0NH
  li
    a(href="/LL52 0NL") LL52 0NL
  li
    a(href="/LL52 0NN") LL52 0NN
  li
    a(href="/LL52 0NP") LL52 0NP
  li
    a(href="/LL52 0NR") LL52 0NR
  li
    a(href="/LL52 0NS") LL52 0NS
  li
    a(href="/LL52 0NT") LL52 0NT
  li
    a(href="/LL52 0NU") LL52 0NU
  li
    a(href="/LL52 0NW") LL52 0NW
  li
    a(href="/LL52 0NY") LL52 0NY
  li
    a(href="/LL52 0PA") LL52 0PA
  li
    a(href="/LL52 0PB") LL52 0PB
  li
    a(href="/LL52 0PD") LL52 0PD
  li
    a(href="/LL52 0PE") LL52 0PE
  li
    a(href="/LL52 0PH") LL52 0PH
  li
    a(href="/LL52 0PL") LL52 0PL
  li
    a(href="/LL52 0PN") LL52 0PN
  li
    a(href="/LL52 0PP") LL52 0PP
  li
    a(href="/LL52 0PR") LL52 0PR
  li
    a(href="/LL52 0PS") LL52 0PS
  li
    a(href="/LL52 0PT") LL52 0PT
  li
    a(href="/LL52 0PU") LL52 0PU
  li
    a(href="/LL52 0PW") LL52 0PW
  li
    a(href="/LL52 0PY") LL52 0PY
  li
    a(href="/LL52 0RA") LL52 0RA
  li
    a(href="/LL52 0RB") LL52 0RB
  li
    a(href="/LL52 0RD") LL52 0RD
  li
    a(href="/LL52 0RE") LL52 0RE
  li
    a(href="/LL52 0RF") LL52 0RF
  li
    a(href="/LL52 0RG") LL52 0RG
  li
    a(href="/LL52 0RN") LL52 0RN
  li
    a(href="/LL52 0RP") LL52 0RP
  li
    a(href="/LL52 0RR") LL52 0RR
  li
    a(href="/LL52 0RS") LL52 0RS
  li
    a(href="/LL52 0RT") LL52 0RT
  li
    a(href="/LL52 0RU") LL52 0RU
  li
    a(href="/LL52 0RW") LL52 0RW
  li
    a(href="/LL52 0RY") LL52 0RY
  li
    a(href="/LL52 0SA") LL52 0SA
  li
    a(href="/LL52 0SB") LL52 0SB
  li
    a(href="/LL52 0SD") LL52 0SD
  li
    a(href="/LL52 0SE") LL52 0SE
  li
    a(href="/LL52 0SF") LL52 0SF
  li
    a(href="/LL52 0SG") LL52 0SG
  li
    a(href="/LL52 0SH") LL52 0SH
  li
    a(href="/LL52 0SJ") LL52 0SJ
  li
    a(href="/LL52 0SL") LL52 0SL
  li
    a(href="/LL52 0SN") LL52 0SN
  li
    a(href="/LL52 0SP") LL52 0SP
  li
    a(href="/LL52 0SQ") LL52 0SQ
  li
    a(href="/LL52 0SR") LL52 0SR
  li
    a(href="/LL52 0SS") LL52 0SS
  li
    a(href="/LL52 0ST") LL52 0ST
  li
    a(href="/LL52 0SU") LL52 0SU
  li
    a(href="/LL52 0SW") LL52 0SW
  li
    a(href="/LL52 0SY") LL52 0SY
  li
    a(href="/LL52 0TA") LL52 0TA
  li
    a(href="/LL52 0TB") LL52 0TB
  li
    a(href="/LL52 0WA") LL52 0WA
