ul.locations
  li
    a(href="/LL60 6AA") LL60 6AA
  li
    a(href="/LL60 6AB") LL60 6AB
  li
    a(href="/LL60 6AE") LL60 6AE
  li
    a(href="/LL60 6AF") LL60 6AF
  li
    a(href="/LL60 6AH") LL60 6AH
  li
    a(href="/LL60 6AJ") LL60 6AJ
  li
    a(href="/LL60 6AL") LL60 6AL
  li
    a(href="/LL60 6AN") LL60 6AN
  li
    a(href="/LL60 6AP") LL60 6AP
  li
    a(href="/LL60 6AQ") LL60 6AQ
  li
    a(href="/LL60 6AR") LL60 6AR
  li
    a(href="/LL60 6AS") LL60 6AS
  li
    a(href="/LL60 6AT") LL60 6AT
  li
    a(href="/LL60 6AU") LL60 6AU
  li
    a(href="/LL60 6AW") LL60 6AW
  li
    a(href="/LL60 6AY") LL60 6AY
  li
    a(href="/LL60 6BA") LL60 6BA
  li
    a(href="/LL60 6BB") LL60 6BB
  li
    a(href="/LL60 6BH") LL60 6BH
  li
    a(href="/LL60 6BL") LL60 6BL
  li
    a(href="/LL60 6BN") LL60 6BN
  li
    a(href="/LL60 6BP") LL60 6BP
  li
    a(href="/LL60 6BS") LL60 6BS
  li
    a(href="/LL60 6BU") LL60 6BU
  li
    a(href="/LL60 6BW") LL60 6BW
  li
    a(href="/LL60 6BY") LL60 6BY
  li
    a(href="/LL60 6DA") LL60 6DA
  li
    a(href="/LL60 6DB") LL60 6DB
  li
    a(href="/LL60 6DD") LL60 6DD
  li
    a(href="/LL60 6DE") LL60 6DE
  li
    a(href="/LL60 6DF") LL60 6DF
  li
    a(href="/LL60 6DG") LL60 6DG
  li
    a(href="/LL60 6DH") LL60 6DH
  li
    a(href="/LL60 6DJ") LL60 6DJ
  li
    a(href="/LL60 6DL") LL60 6DL
  li
    a(href="/LL60 6DN") LL60 6DN
  li
    a(href="/LL60 6DP") LL60 6DP
  li
    a(href="/LL60 6DR") LL60 6DR
  li
    a(href="/LL60 6DS") LL60 6DS
  li
    a(href="/LL60 6DT") LL60 6DT
  li
    a(href="/LL60 6DU") LL60 6DU
  li
    a(href="/LL60 6DW") LL60 6DW
  li
    a(href="/LL60 6DY") LL60 6DY
  li
    a(href="/LL60 6DZ") LL60 6DZ
  li
    a(href="/LL60 6EA") LL60 6EA
  li
    a(href="/LL60 6EB") LL60 6EB
  li
    a(href="/LL60 6ED") LL60 6ED
  li
    a(href="/LL60 6EF") LL60 6EF
  li
    a(href="/LL60 6EG") LL60 6EG
  li
    a(href="/LL60 6EH") LL60 6EH
  li
    a(href="/LL60 6EL") LL60 6EL
  li
    a(href="/LL60 6EN") LL60 6EN
  li
    a(href="/LL60 6EP") LL60 6EP
  li
    a(href="/LL60 6EQ") LL60 6EQ
  li
    a(href="/LL60 6ES") LL60 6ES
  li
    a(href="/LL60 6ET") LL60 6ET
  li
    a(href="/LL60 6EU") LL60 6EU
  li
    a(href="/LL60 6EW") LL60 6EW
  li
    a(href="/LL60 6EY") LL60 6EY
  li
    a(href="/LL60 6HA") LL60 6HA
  li
    a(href="/LL60 6HB") LL60 6HB
  li
    a(href="/LL60 6HD") LL60 6HD
  li
    a(href="/LL60 6HE") LL60 6HE
  li
    a(href="/LL60 6HF") LL60 6HF
  li
    a(href="/LL60 6HG") LL60 6HG
  li
    a(href="/LL60 6HH") LL60 6HH
  li
    a(href="/LL60 6HL") LL60 6HL
  li
    a(href="/LL60 6HN") LL60 6HN
  li
    a(href="/LL60 6HP") LL60 6HP
  li
    a(href="/LL60 6HQ") LL60 6HQ
  li
    a(href="/LL60 6HR") LL60 6HR
  li
    a(href="/LL60 6HS") LL60 6HS
  li
    a(href="/LL60 6HT") LL60 6HT
  li
    a(href="/LL60 6HU") LL60 6HU
  li
    a(href="/LL60 6HW") LL60 6HW
  li
    a(href="/LL60 6HY") LL60 6HY
  li
    a(href="/LL60 6JN") LL60 6JN
  li
    a(href="/LL60 6JW") LL60 6JW
  li
    a(href="/LL60 6LA") LL60 6LA
  li
    a(href="/LL60 6LB") LL60 6LB
  li
    a(href="/LL60 6LD") LL60 6LD
  li
    a(href="/LL60 6LE") LL60 6LE
  li
    a(href="/LL60 6LF") LL60 6LF
  li
    a(href="/LL60 6LG") LL60 6LG
  li
    a(href="/LL60 6LH") LL60 6LH
  li
    a(href="/LL60 6LL") LL60 6LL
  li
    a(href="/LL60 6LN") LL60 6LN
  li
    a(href="/LL60 6LP") LL60 6LP
  li
    a(href="/LL60 6LR") LL60 6LR
  li
    a(href="/LL60 6LS") LL60 6LS
  li
    a(href="/LL60 6LT") LL60 6LT
  li
    a(href="/LL60 6LU") LL60 6LU
  li
    a(href="/LL60 6LW") LL60 6LW
  li
    a(href="/LL60 6LY") LL60 6LY
  li
    a(href="/LL60 6NA") LL60 6NA
  li
    a(href="/LL60 6NB") LL60 6NB
  li
    a(href="/LL60 6ND") LL60 6ND
  li
    a(href="/LL60 6NE") LL60 6NE
  li
    a(href="/LL60 6NF") LL60 6NF
  li
    a(href="/LL60 6NG") LL60 6NG
  li
    a(href="/LL60 6NH") LL60 6NH
  li
    a(href="/LL60 6NJ") LL60 6NJ
  li
    a(href="/LL60 6NL") LL60 6NL
  li
    a(href="/LL60 6NN") LL60 6NN
  li
    a(href="/LL60 6NP") LL60 6NP
  li
    a(href="/LL60 6NW") LL60 6NW
  li
    a(href="/LL60 6WE") LL60 6WE
  li
    a(href="/LL60 6WH") LL60 6WH
