ul.locations
  li
    a(href="/LL62 5AA") LL62 5AA
  li
    a(href="/LL62 5AB") LL62 5AB
  li
    a(href="/LL62 5AD") LL62 5AD
  li
    a(href="/LL62 5AE") LL62 5AE
  li
    a(href="/LL62 5AF") LL62 5AF
  li
    a(href="/LL62 5AG") LL62 5AG
  li
    a(href="/LL62 5AH") LL62 5AH
  li
    a(href="/LL62 5AL") LL62 5AL
  li
    a(href="/LL62 5AN") LL62 5AN
  li
    a(href="/LL62 5AP") LL62 5AP
  li
    a(href="/LL62 5AR") LL62 5AR
  li
    a(href="/LL62 5AS") LL62 5AS
  li
    a(href="/LL62 5AT") LL62 5AT
  li
    a(href="/LL62 5AU") LL62 5AU
  li
    a(href="/LL62 5AW") LL62 5AW
  li
    a(href="/LL62 5AY") LL62 5AY
  li
    a(href="/LL62 5BA") LL62 5BA
  li
    a(href="/LL62 5BB") LL62 5BB
  li
    a(href="/LL62 5BD") LL62 5BD
  li
    a(href="/LL62 5BG") LL62 5BG
  li
    a(href="/LL62 5BL") LL62 5BL
  li
    a(href="/LL62 5BN") LL62 5BN
  li
    a(href="/LL62 5BP") LL62 5BP
  li
    a(href="/LL62 5BS") LL62 5BS
  li
    a(href="/LL62 5BT") LL62 5BT
  li
    a(href="/LL62 5BU") LL62 5BU
  li
    a(href="/LL62 5BW") LL62 5BW
  li
    a(href="/LL62 5BY") LL62 5BY
  li
    a(href="/LL62 5DA") LL62 5DA
  li
    a(href="/LL62 5DB") LL62 5DB
  li
    a(href="/LL62 5DD") LL62 5DD
  li
    a(href="/LL62 5DE") LL62 5DE
  li
    a(href="/LL62 5DG") LL62 5DG
  li
    a(href="/LL62 5DH") LL62 5DH
  li
    a(href="/LL62 5DL") LL62 5DL
  li
    a(href="/LL62 5DN") LL62 5DN
  li
    a(href="/LL62 5DQ") LL62 5DQ
  li
    a(href="/LL62 5DR") LL62 5DR
  li
    a(href="/LL62 5DS") LL62 5DS
  li
    a(href="/LL62 5DT") LL62 5DT
  li
    a(href="/LL62 5DU") LL62 5DU
  li
    a(href="/LL62 5DW") LL62 5DW
  li
    a(href="/LL62 5DX") LL62 5DX
  li
    a(href="/LL62 5DY") LL62 5DY
  li
    a(href="/LL62 5EA") LL62 5EA
  li
    a(href="/LL62 5EB") LL62 5EB
  li
    a(href="/LL62 5ED") LL62 5ED
  li
    a(href="/LL62 5EE") LL62 5EE
  li
    a(href="/LL62 5EF") LL62 5EF
  li
    a(href="/LL62 5EG") LL62 5EG
  li
    a(href="/LL62 5EH") LL62 5EH
  li
    a(href="/LL62 5EP") LL62 5EP
  li
    a(href="/LL62 5ER") LL62 5ER
  li
    a(href="/LL62 5ES") LL62 5ES
  li
    a(href="/LL62 5ET") LL62 5ET
  li
    a(href="/LL62 5EU") LL62 5EU
  li
    a(href="/LL62 5EY") LL62 5EY
  li
    a(href="/LL62 5HA") LL62 5HA
  li
    a(href="/LL62 5HB") LL62 5HB
  li
    a(href="/LL62 5HD") LL62 5HD
  li
    a(href="/LL62 5HE") LL62 5HE
  li
    a(href="/LL62 5HF") LL62 5HF
  li
    a(href="/LL62 5HG") LL62 5HG
  li
    a(href="/LL62 5HH") LL62 5HH
  li
    a(href="/LL62 5HL") LL62 5HL
  li
    a(href="/LL62 5HP") LL62 5HP
  li
    a(href="/LL62 5HR") LL62 5HR
  li
    a(href="/LL62 5HS") LL62 5HS
  li
    a(href="/LL62 5HT") LL62 5HT
  li
    a(href="/LL62 5HU") LL62 5HU
  li
    a(href="/LL62 5HY") LL62 5HY
  li
    a(href="/LL62 5LA") LL62 5LA
  li
    a(href="/LL62 5LB") LL62 5LB
  li
    a(href="/LL62 5LE") LL62 5LE
  li
    a(href="/LL62 5LF") LL62 5LF
  li
    a(href="/LL62 5LG") LL62 5LG
  li
    a(href="/LL62 5LH") LL62 5LH
  li
    a(href="/LL62 5LL") LL62 5LL
  li
    a(href="/LL62 5LN") LL62 5LN
  li
    a(href="/LL62 5LP") LL62 5LP
  li
    a(href="/LL62 5LR") LL62 5LR
  li
    a(href="/LL62 5LS") LL62 5LS
  li
    a(href="/LL62 5LT") LL62 5LT
  li
    a(href="/LL62 5LU") LL62 5LU
  li
    a(href="/LL62 5LW") LL62 5LW
  li
    a(href="/LL62 5LY") LL62 5LY
  li
    a(href="/LL62 5NE") LL62 5NE
  li
    a(href="/LL62 5NF") LL62 5NF
  li
    a(href="/LL62 5NG") LL62 5NG
  li
    a(href="/LL62 5NH") LL62 5NH
  li
    a(href="/LL62 5NL") LL62 5NL
  li
    a(href="/LL62 5NN") LL62 5NN
  li
    a(href="/LL62 5NR") LL62 5NR
  li
    a(href="/LL62 5NS") LL62 5NS
  li
    a(href="/LL62 5NT") LL62 5NT
  li
    a(href="/LL62 5NU") LL62 5NU
  li
    a(href="/LL62 5NW") LL62 5NW
  li
    a(href="/LL62 5NY") LL62 5NY
  li
    a(href="/LL62 5PA") LL62 5PA
  li
    a(href="/LL62 5PB") LL62 5PB
  li
    a(href="/LL62 5PD") LL62 5PD
  li
    a(href="/LL62 5PE") LL62 5PE
  li
    a(href="/LL62 5PF") LL62 5PF
  li
    a(href="/LL62 5PG") LL62 5PG
  li
    a(href="/LL62 5PH") LL62 5PH
  li
    a(href="/LL62 5PN") LL62 5PN
  li
    a(href="/LL62 5PP") LL62 5PP
  li
    a(href="/LL62 5PR") LL62 5PR
  li
    a(href="/LL62 5PS") LL62 5PS
  li
    a(href="/LL62 5PT") LL62 5PT
  li
    a(href="/LL62 5PU") LL62 5PU
  li
    a(href="/LL62 5PW") LL62 5PW
  li
    a(href="/LL62 5PY") LL62 5PY
  li
    a(href="/LL62 5RA") LL62 5RA
  li
    a(href="/LL62 5RB") LL62 5RB
  li
    a(href="/LL62 5RD") LL62 5RD
  li
    a(href="/LL62 5RE") LL62 5RE
  li
    a(href="/LL62 5RF") LL62 5RF
  li
    a(href="/LL62 5RG") LL62 5RG
