ul.locations
  li
    a(href="/LL64 5AB") LL64 5AB
  li
    a(href="/LL64 5AE") LL64 5AE
  li
    a(href="/LL64 5JA") LL64 5JA
  li
    a(href="/LL64 5JB") LL64 5JB
  li
    a(href="/LL64 5JD") LL64 5JD
  li
    a(href="/LL64 5JE") LL64 5JE
  li
    a(href="/LL64 5JF") LL64 5JF
  li
    a(href="/LL64 5JG") LL64 5JG
  li
    a(href="/LL64 5JH") LL64 5JH
  li
    a(href="/LL64 5JJ") LL64 5JJ
  li
    a(href="/LL64 5JL") LL64 5JL
  li
    a(href="/LL64 5JN") LL64 5JN
  li
    a(href="/LL64 5JP") LL64 5JP
  li
    a(href="/LL64 5JQ") LL64 5JQ
  li
    a(href="/LL64 5JR") LL64 5JR
  li
    a(href="/LL64 5JS") LL64 5JS
  li
    a(href="/LL64 5JT") LL64 5JT
  li
    a(href="/LL64 5JU") LL64 5JU
  li
    a(href="/LL64 5JW") LL64 5JW
  li
    a(href="/LL64 5JX") LL64 5JX
  li
    a(href="/LL64 5JY") LL64 5JY
  li
    a(href="/LL64 5JZ") LL64 5JZ
  li
    a(href="/LL64 5QA") LL64 5QA
  li
    a(href="/LL64 5QB") LL64 5QB
  li
    a(href="/LL64 5QD") LL64 5QD
  li
    a(href="/LL64 5QE") LL64 5QE
  li
    a(href="/LL64 5QF") LL64 5QF
  li
    a(href="/LL64 5QG") LL64 5QG
  li
    a(href="/LL64 5QH") LL64 5QH
  li
    a(href="/LL64 5QJ") LL64 5QJ
  li
    a(href="/LL64 5QL") LL64 5QL
  li
    a(href="/LL64 5QN") LL64 5QN
  li
    a(href="/LL64 5QP") LL64 5QP
  li
    a(href="/LL64 5QQ") LL64 5QQ
  li
    a(href="/LL64 5QR") LL64 5QR
  li
    a(href="/LL64 5QS") LL64 5QS
  li
    a(href="/LL64 5QT") LL64 5QT
  li
    a(href="/LL64 5QU") LL64 5QU
  li
    a(href="/LL64 5QW") LL64 5QW
  li
    a(href="/LL64 5QX") LL64 5QX
  li
    a(href="/LL64 5QY") LL64 5QY
  li
    a(href="/LL64 5QZ") LL64 5QZ
  li
    a(href="/LL64 5RA") LL64 5RA
  li
    a(href="/LL64 5RB") LL64 5RB
  li
    a(href="/LL64 5UJ") LL64 5UJ
  li
    a(href="/LL64 5UQ") LL64 5UQ
  li
    a(href="/LL64 5UR") LL64 5UR
  li
    a(href="/LL64 5UX") LL64 5UX
  li
    a(href="/LL64 5UZ") LL64 5UZ
  li
    a(href="/LL64 5XA") LL64 5XA
  li
    a(href="/LL64 5XB") LL64 5XB
  li
    a(href="/LL64 5XG") LL64 5XG
  li
    a(href="/LL64 5YJ") LL64 5YJ
  li
    a(href="/LL64 5YQ") LL64 5YQ
  li
    a(href="/LL64 5YX") LL64 5YX
  li
    a(href="/LL64 5YZ") LL64 5YZ
