ul.locations
  li
    a(href="/LL66 0AA") LL66 0AA
  li
    a(href="/LL66 0AB") LL66 0AB
  li
    a(href="/LL66 0AD") LL66 0AD
  li
    a(href="/LL66 0AE") LL66 0AE
  li
    a(href="/LL66 0AN") LL66 0AN
  li
    a(href="/LL66 0AP") LL66 0AP
  li
    a(href="/LL66 0AR") LL66 0AR
  li
    a(href="/LL66 0AS") LL66 0AS
  li
    a(href="/LL66 0AT") LL66 0AT
  li
    a(href="/LL66 0AU") LL66 0AU
  li
    a(href="/LL66 0AW") LL66 0AW
  li
    a(href="/LL66 0AX") LL66 0AX
  li
    a(href="/LL66 0AY") LL66 0AY
  li
    a(href="/LL66 0BE") LL66 0BE
  li
    a(href="/LL66 0BG") LL66 0BG
  li
    a(href="/LL66 0BH") LL66 0BH
  li
    a(href="/LL66 0BL") LL66 0BL
  li
    a(href="/LL66 0BN") LL66 0BN
  li
    a(href="/LL66 0BP") LL66 0BP
  li
    a(href="/LL66 0BW") LL66 0BW
  li
    a(href="/LL66 9AA") LL66 9AA
  li
    a(href="/LL66 9AB") LL66 9AB
