ul.locations
  li
    a(href="/LL67 0DA") LL67 0DA
  li
    a(href="/LL67 0DE") LL67 0DE
  li
    a(href="/LL67 0DH") LL67 0DH
  li
    a(href="/LL67 0DN") LL67 0DN
  li
    a(href="/LL67 0DP") LL67 0DP
  li
    a(href="/LL67 0DR") LL67 0DR
  li
    a(href="/LL67 0DS") LL67 0DS
  li
    a(href="/LL67 0DT") LL67 0DT
  li
    a(href="/LL67 0DU") LL67 0DU
  li
    a(href="/LL67 0DW") LL67 0DW
  li
    a(href="/LL67 0DY") LL67 0DY
  li
    a(href="/LL67 0EA") LL67 0EA
  li
    a(href="/LL67 0ED") LL67 0ED
  li
    a(href="/LL67 0EP") LL67 0EP
  li
    a(href="/LL67 0ER") LL67 0ER
  li
    a(href="/LL67 0ES") LL67 0ES
  li
    a(href="/LL67 0ET") LL67 0ET
  li
    a(href="/LL67 0EU") LL67 0EU
  li
    a(href="/LL67 0EW") LL67 0EW
  li
    a(href="/LL67 0EY") LL67 0EY
  li
    a(href="/LL67 0HA") LL67 0HA
  li
    a(href="/LL67 0HB") LL67 0HB
  li
    a(href="/LL67 0HD") LL67 0HD
  li
    a(href="/LL67 0HE") LL67 0HE
  li
    a(href="/LL67 0HF") LL67 0HF
  li
    a(href="/LL67 0HG") LL67 0HG
  li
    a(href="/LL67 0HH") LL67 0HH
  li
    a(href="/LL67 0HJ") LL67 0HJ
  li
    a(href="/LL67 0HL") LL67 0HL
  li
    a(href="/LL67 0HN") LL67 0HN
  li
    a(href="/LL67 0HP") LL67 0HP
  li
    a(href="/LL67 0HR") LL67 0HR
  li
    a(href="/LL67 0HS") LL67 0HS
  li
    a(href="/LL67 0HT") LL67 0HT
  li
    a(href="/LL67 0HU") LL67 0HU
  li
    a(href="/LL67 0HY") LL67 0HY
  li
    a(href="/LL67 0LA") LL67 0LA
  li
    a(href="/LL67 0LB") LL67 0LB
  li
    a(href="/LL67 0LD") LL67 0LD
  li
    a(href="/LL67 0LE") LL67 0LE
  li
    a(href="/LL67 0LF") LL67 0LF
  li
    a(href="/LL67 0LG") LL67 0LG
  li
    a(href="/LL67 0LH") LL67 0LH
  li
    a(href="/LL67 0LJ") LL67 0LJ
  li
    a(href="/LL67 0LL") LL67 0LL
  li
    a(href="/LL67 0LN") LL67 0LN
  li
    a(href="/LL67 0LP") LL67 0LP
  li
    a(href="/LL67 0LS") LL67 0LS
  li
    a(href="/LL67 0LT") LL67 0LT
  li
    a(href="/LL67 0LW") LL67 0LW
  li
    a(href="/LL67 0NA") LL67 0NA
  li
    a(href="/LL67 0NB") LL67 0NB
  li
    a(href="/LL67 0ND") LL67 0ND
  li
    a(href="/LL67 0NF") LL67 0NF
  li
    a(href="/LL67 0NG") LL67 0NG
  li
    a(href="/LL67 0NH") LL67 0NH
  li
    a(href="/LL67 0NL") LL67 0NL
  li
    a(href="/LL67 0NN") LL67 0NN
  li
    a(href="/LL67 0NP") LL67 0NP
  li
    a(href="/LL67 0NW") LL67 0NW
