ul.locations
  li
    a(href="/LL69 9AJ") LL69 9AJ
  li
    a(href="/LL69 9AQ") LL69 9AQ
  li
    a(href="/LL69 9AX") LL69 9AX
  li
    a(href="/LL69 9AZ") LL69 9AZ
  li
    a(href="/LL69 9BJ") LL69 9BJ
  li
    a(href="/LL69 9BQ") LL69 9BQ
  li
    a(href="/LL69 9BX") LL69 9BX
  li
    a(href="/LL69 9BZ") LL69 9BZ
  li
    a(href="/LL69 9UE") LL69 9UE
  li
    a(href="/LL69 9UF") LL69 9UF
  li
    a(href="/LL69 9UG") LL69 9UG
  li
    a(href="/LL69 9UH") LL69 9UH
  li
    a(href="/LL69 9UL") LL69 9UL
  li
    a(href="/LL69 9UN") LL69 9UN
  li
    a(href="/LL69 9UP") LL69 9UP
  li
    a(href="/LL69 9UR") LL69 9UR
  li
    a(href="/LL69 9UT") LL69 9UT
  li
    a(href="/LL69 9YA") LL69 9YA
  li
    a(href="/LL69 9YB") LL69 9YB
  li
    a(href="/LL69 9YD") LL69 9YD
  li
    a(href="/LL69 9YE") LL69 9YE
  li
    a(href="/LL69 9YF") LL69 9YF
  li
    a(href="/LL69 9YG") LL69 9YG
  li
    a(href="/LL69 9YH") LL69 9YH
  li
    a(href="/LL69 9YL") LL69 9YL
  li
    a(href="/LL69 9YN") LL69 9YN
  li
    a(href="/LL69 9YP") LL69 9YP
  li
    a(href="/LL69 9YR") LL69 9YR
  li
    a(href="/LL69 9YS") LL69 9YS
  li
    a(href="/LL69 9YT") LL69 9YT
  li
    a(href="/LL69 9YU") LL69 9YU
  li
    a(href="/LL69 9YW") LL69 9YW
  li
    a(href="/LL69 9YY") LL69 9YY
