ul.locations
  li
    a(href="/LL70 9DJ") LL70 9DJ
  li
    a(href="/LL70 9DQ") LL70 9DQ
  li
    a(href="/LL70 9DX") LL70 9DX
  li
    a(href="/LL70 9DZ") LL70 9DZ
  li
    a(href="/LL70 9EJ") LL70 9EJ
  li
    a(href="/LL70 9EQ") LL70 9EQ
  li
    a(href="/LL70 9EX") LL70 9EX
  li
    a(href="/LL70 9EZ") LL70 9EZ
  li
    a(href="/LL70 9HJ") LL70 9HJ
  li
    a(href="/LL70 9HQ") LL70 9HQ
  li
    a(href="/LL70 9HX") LL70 9HX
  li
    a(href="/LL70 9HZ") LL70 9HZ
  li
    a(href="/LL70 9LJ") LL70 9LJ
  li
    a(href="/LL70 9LQ") LL70 9LQ
  li
    a(href="/LL70 9LX") LL70 9LX
  li
    a(href="/LL70 9LZ") LL70 9LZ
  li
    a(href="/LL70 9PJ") LL70 9PJ
  li
    a(href="/LL70 9PQ") LL70 9PQ
  li
    a(href="/LL70 9PX") LL70 9PX
  li
    a(href="/LL70 9PZ") LL70 9PZ
