ul.locations
  li
    a(href="/LL72 8HA") LL72 8HA
  li
    a(href="/LL72 8HB") LL72 8HB
  li
    a(href="/LL72 8HD") LL72 8HD
  li
    a(href="/LL72 8HE") LL72 8HE
  li
    a(href="/LL72 8HF") LL72 8HF
  li
    a(href="/LL72 8HG") LL72 8HG
  li
    a(href="/LL72 8HH") LL72 8HH
  li
    a(href="/LL72 8HJ") LL72 8HJ
  li
    a(href="/LL72 8HL") LL72 8HL
  li
    a(href="/LL72 8HN") LL72 8HN
  li
    a(href="/LL72 8HP") LL72 8HP
  li
    a(href="/LL72 8HR") LL72 8HR
  li
    a(href="/LL72 8HS") LL72 8HS
  li
    a(href="/LL72 8HT") LL72 8HT
  li
    a(href="/LL72 8HU") LL72 8HU
  li
    a(href="/LL72 8HW") LL72 8HW
  li
    a(href="/LL72 8HY") LL72 8HY
  li
    a(href="/LL72 8LA") LL72 8LA
  li
    a(href="/LL72 8LB") LL72 8LB
  li
    a(href="/LL72 8LD") LL72 8LD
  li
    a(href="/LL72 8LE") LL72 8LE
  li
    a(href="/LL72 8LF") LL72 8LF
  li
    a(href="/LL72 8LG") LL72 8LG
  li
    a(href="/LL72 8LH") LL72 8LH
  li
    a(href="/LL72 8LJ") LL72 8LJ
  li
    a(href="/LL72 8LL") LL72 8LL
  li
    a(href="/LL72 8LN") LL72 8LN
  li
    a(href="/LL72 8LP") LL72 8LP
  li
    a(href="/LL72 8LR") LL72 8LR
  li
    a(href="/LL72 8LS") LL72 8LS
  li
    a(href="/LL72 8LT") LL72 8LT
  li
    a(href="/LL72 8LU") LL72 8LU
  li
    a(href="/LL72 8LW") LL72 8LW
  li
    a(href="/LL72 8LY") LL72 8LY
  li
    a(href="/LL72 8LZ") LL72 8LZ
  li
    a(href="/LL72 8NA") LL72 8NA
  li
    a(href="/LL72 8NE") LL72 8NE
  li
    a(href="/LL72 8NF") LL72 8NF
  li
    a(href="/LL72 8NG") LL72 8NG
  li
    a(href="/LL72 8NH") LL72 8NH
  li
    a(href="/LL72 8NL") LL72 8NL
  li
    a(href="/LL72 8NN") LL72 8NN
  li
    a(href="/LL72 8NW") LL72 8NW
