ul.locations
  li
    a(href="/LL73 8NY") LL73 8NY
  li
    a(href="/LL73 8PA") LL73 8PA
  li
    a(href="/LL73 8PB") LL73 8PB
  li
    a(href="/LL73 8PD") LL73 8PD
  li
    a(href="/LL73 8PE") LL73 8PE
  li
    a(href="/LL73 8PF") LL73 8PF
  li
    a(href="/LL73 8PG") LL73 8PG
  li
    a(href="/LL73 8PH") LL73 8PH
  li
    a(href="/LL73 8PL") LL73 8PL
  li
    a(href="/LL73 8PN") LL73 8PN
  li
    a(href="/LL73 8PP") LL73 8PP
  li
    a(href="/LL73 8PW") LL73 8PW
