ul.locations
  li
    a(href="/LL74 8NR") LL74 8NR
  li
    a(href="/LL74 8NS") LL74 8NS
  li
    a(href="/LL74 8NT") LL74 8NT
  li
    a(href="/LL74 8NU") LL74 8NU
  li
    a(href="/LL74 8PR") LL74 8PR
  li
    a(href="/LL74 8PT") LL74 8PT
  li
    a(href="/LL74 8PU") LL74 8PU
  li
    a(href="/LL74 8PY") LL74 8PY
  li
    a(href="/LL74 8QE") LL74 8QE
  li
    a(href="/LL74 8QF") LL74 8QF
  li
    a(href="/LL74 8QG") LL74 8QG
  li
    a(href="/LL74 8QH") LL74 8QH
  li
    a(href="/LL74 8RA") LL74 8RA
  li
    a(href="/LL74 8RB") LL74 8RB
  li
    a(href="/LL74 8RD") LL74 8RD
  li
    a(href="/LL74 8RE") LL74 8RE
  li
    a(href="/LL74 8RF") LL74 8RF
  li
    a(href="/LL74 8RG") LL74 8RG
  li
    a(href="/LL74 8RH") LL74 8RH
  li
    a(href="/LL74 8RL") LL74 8RL
  li
    a(href="/LL74 8RN") LL74 8RN
  li
    a(href="/LL74 8RP") LL74 8RP
  li
    a(href="/LL74 8RR") LL74 8RR
  li
    a(href="/LL74 8RS") LL74 8RS
  li
    a(href="/LL74 8RT") LL74 8RT
  li
    a(href="/LL74 8RU") LL74 8RU
  li
    a(href="/LL74 8RW") LL74 8RW
  li
    a(href="/LL74 8RY") LL74 8RY
  li
    a(href="/LL74 8SA") LL74 8SA
  li
    a(href="/LL74 8SB") LL74 8SB
  li
    a(href="/LL74 8SD") LL74 8SD
  li
    a(href="/LL74 8SE") LL74 8SE
  li
    a(href="/LL74 8SF") LL74 8SF
  li
    a(href="/LL74 8SG") LL74 8SG
  li
    a(href="/LL74 8SH") LL74 8SH
  li
    a(href="/LL74 8SJ") LL74 8SJ
  li
    a(href="/LL74 8SL") LL74 8SL
  li
    a(href="/LL74 8SN") LL74 8SN
  li
    a(href="/LL74 8SP") LL74 8SP
  li
    a(href="/LL74 8SR") LL74 8SR
  li
    a(href="/LL74 8SS") LL74 8SS
  li
    a(href="/LL74 8ST") LL74 8ST
  li
    a(href="/LL74 8SU") LL74 8SU
  li
    a(href="/LL74 8SW") LL74 8SW
  li
    a(href="/LL74 8SX") LL74 8SX
  li
    a(href="/LL74 8SY") LL74 8SY
  li
    a(href="/LL74 8SZ") LL74 8SZ
  li
    a(href="/LL74 8TA") LL74 8TA
  li
    a(href="/LL74 8TB") LL74 8TB
  li
    a(href="/LL74 8TD") LL74 8TD
  li
    a(href="/LL74 8TE") LL74 8TE
  li
    a(href="/LL74 8TF") LL74 8TF
  li
    a(href="/LL74 8TG") LL74 8TG
  li
    a(href="/LL74 8TH") LL74 8TH
  li
    a(href="/LL74 8TJ") LL74 8TJ
  li
    a(href="/LL74 8TL") LL74 8TL
  li
    a(href="/LL74 8TN") LL74 8TN
  li
    a(href="/LL74 8TQ") LL74 8TQ
  li
    a(href="/LL74 8TR") LL74 8TR
  li
    a(href="/LL74 8TS") LL74 8TS
  li
    a(href="/LL74 8TT") LL74 8TT
  li
    a(href="/LL74 8TU") LL74 8TU
  li
    a(href="/LL74 8TX") LL74 8TX
  li
    a(href="/LL74 8TZ") LL74 8TZ
  li
    a(href="/LL74 8UA") LL74 8UA
  li
    a(href="/LL74 8UB") LL74 8UB
  li
    a(href="/LL74 8UE") LL74 8UE
  li
    a(href="/LL74 8UF") LL74 8UF
  li
    a(href="/LL74 8UG") LL74 8UG
  li
    a(href="/LL74 8UL") LL74 8UL
  li
    a(href="/LL74 8WY") LL74 8WY
  li
    a(href="/LL74 8XA") LL74 8XA
  li
    a(href="/LL74 8ZF") LL74 8ZF
