ul.locations
  li
    a(href="/LL75 7DR") LL75 7DR
  li
    a(href="/LL75 8AJ") LL75 8AJ
  li
    a(href="/LL75 8AQ") LL75 8AQ
  li
    a(href="/LL75 8AX") LL75 8AX
  li
    a(href="/LL75 8AZ") LL75 8AZ
  li
    a(href="/LL75 8BJ") LL75 8BJ
  li
    a(href="/LL75 8BQ") LL75 8BQ
  li
    a(href="/LL75 8BX") LL75 8BX
  li
    a(href="/LL75 8BZ") LL75 8BZ
  li
    a(href="/LL75 8DJ") LL75 8DJ
  li
    a(href="/LL75 8DQ") LL75 8DQ
  li
    a(href="/LL75 8DX") LL75 8DX
  li
    a(href="/LL75 8DZ") LL75 8DZ
  li
    a(href="/LL75 8EJ") LL75 8EJ
  li
    a(href="/LL75 8EQ") LL75 8EQ
  li
    a(href="/LL75 8EX") LL75 8EX
  li
    a(href="/LL75 8EZ") LL75 8EZ
  li
    a(href="/LL75 8HA") LL75 8HA
  li
    a(href="/LL75 8HJ") LL75 8HJ
  li
    a(href="/LL75 8HQ") LL75 8HQ
  li
    a(href="/LL75 8HZ") LL75 8HZ
  li
    a(href="/LL75 8LJ") LL75 8LJ
  li
    a(href="/LL75 8LN") LL75 8LN
  li
    a(href="/LL75 8LQ") LL75 8LQ
  li
    a(href="/LL75 8LX") LL75 8LX
  li
    a(href="/LL75 8LZ") LL75 8LZ
  li
    a(href="/LL75 8NJ") LL75 8NJ
  li
    a(href="/LL75 8NQ") LL75 8NQ
  li
    a(href="/LL75 8PQ") LL75 8PQ
  li
    a(href="/LL75 8PX") LL75 8PX
  li
    a(href="/LL75 8PZ") LL75 8PZ
  li
    a(href="/LL75 8RJ") LL75 8RJ
  li
    a(href="/LL75 8RQ") LL75 8RQ
  li
    a(href="/LL75 8RX") LL75 8RX
  li
    a(href="/LL75 8RZ") LL75 8RZ
  li
    a(href="/LL75 8UL") LL75 8UL
  li
    a(href="/LL75 8UN") LL75 8UN
  li
    a(href="/LL75 8UP") LL75 8UP
  li
    a(href="/LL75 8UR") LL75 8UR
  li
    a(href="/LL75 8UT") LL75 8UT
  li
    a(href="/LL75 8UU") LL75 8UU
  li
    a(href="/LL75 8UW") LL75 8UW
  li
    a(href="/LL75 8UY") LL75 8UY
  li
    a(href="/LL75 8YA") LL75 8YA
  li
    a(href="/LL75 8YB") LL75 8YB
  li
    a(href="/LL75 8YD") LL75 8YD
  li
    a(href="/LL75 8YE") LL75 8YE
  li
    a(href="/LL75 8YF") LL75 8YF
  li
    a(href="/LL75 8YG") LL75 8YG
  li
    a(href="/LL75 8YH") LL75 8YH
  li
    a(href="/LL75 8YL") LL75 8YL
  li
    a(href="/LL75 8YN") LL75 8YN
  li
    a(href="/LL75 8YP") LL75 8YP
  li
    a(href="/LL75 8YR") LL75 8YR
  li
    a(href="/LL75 8YS") LL75 8YS
  li
    a(href="/LL75 8YT") LL75 8YT
  li
    a(href="/LL75 8YU") LL75 8YU
  li
    a(href="/LL75 8YW") LL75 8YW
  li
    a(href="/LL75 8YY") LL75 8YY
