ul.locations
  li
    a(href="/LL76 8NX") LL76 8NX
  li
    a(href="/LL76 8SJ") LL76 8SJ
  li
    a(href="/LL76 8SQ") LL76 8SQ
  li
    a(href="/LL76 8SX") LL76 8SX
  li
    a(href="/LL76 8SZ") LL76 8SZ
  li
    a(href="/LL76 8TJ") LL76 8TJ
  li
    a(href="/LL76 8TQ") LL76 8TQ
  li
    a(href="/LL76 8TX") LL76 8TX
  li
    a(href="/LL76 8TZ") LL76 8TZ
