ul.locations
  li
    a(href="/LL78 7JF") LL78 7JF
  li
    a(href="/LL78 7JG") LL78 7JG
  li
    a(href="/LL78 7JH") LL78 7JH
  li
    a(href="/LL78 7JJ") LL78 7JJ
  li
    a(href="/LL78 7JL") LL78 7JL
  li
    a(href="/LL78 7JQ") LL78 7JQ
  li
    a(href="/LL78 8JF") LL78 8JF
  li
    a(href="/LL78 8JG") LL78 8JG
  li
    a(href="/LL78 8JH") LL78 8JH
  li
    a(href="/LL78 8JJ") LL78 8JJ
  li
    a(href="/LL78 8JL") LL78 8JL
  li
    a(href="/LL78 8JN") LL78 8JN
  li
    a(href="/LL78 8JP") LL78 8JP
  li
    a(href="/LL78 8JQ") LL78 8JQ
  li
    a(href="/LL78 8JR") LL78 8JR
  li
    a(href="/LL78 8JS") LL78 8JS
  li
    a(href="/LL78 8JT") LL78 8JT
  li
    a(href="/LL78 8JW") LL78 8JW
  li
    a(href="/LL78 8JY") LL78 8JY
  li
    a(href="/LL78 8JZ") LL78 8JZ
  li
    a(href="/LL78 8QA") LL78 8QA
