ul.locations
  li
    a(href="/browse/Wales/NP15") NP15
  li
    a(href="/browse/Wales/NP16") NP16
  li
    a(href="/browse/Wales/NP25") NP25
  li
    a(href="/browse/Wales/NP26") NP26
  li
    a(href="/browse/Wales/NP7") NP7
