ul.locations
  li
    a(href="/browse/Wales/SA10") SA10
  li
    a(href="/browse/Wales/SA11") SA11
  li
    a(href="/browse/Wales/SA12") SA12
  li
    a(href="/browse/Wales/SA13") SA13
  li
    a(href="/browse/Wales/SA8") SA8
