ul.locations
  li
    a(href="/browse/Wales/SA35") SA35
  li
    a(href="/browse/Wales/SA36") SA36
  li
    a(href="/browse/Wales/SA37") SA37
  li
    a(href="/browse/Wales/SA41") SA41
  li
    a(href="/browse/Wales/SA42") SA42
  li
    a(href="/browse/Wales/SA61") SA61
  li
    a(href="/browse/Wales/SA62") SA62
  li
    a(href="/browse/Wales/SA63") SA63
  li
    a(href="/browse/Wales/SA64") SA64
  li
    a(href="/browse/Wales/SA65") SA65
  li
    a(href="/browse/Wales/SA66") SA66
  li
    a(href="/browse/Wales/SA67") SA67
  li
    a(href="/browse/Wales/SA68") SA68
  li
    a(href="/browse/Wales/SA69") SA69
  li
    a(href="/browse/Wales/SA70") SA70
  li
    a(href="/browse/Wales/SA71") SA71
  li
    a(href="/browse/Wales/SA72") SA72
  li
    a(href="/browse/Wales/SA73") SA73
