ul.locations
  li
    a(href="/browse/Wales/LD1") LD1
  li
    a(href="/browse/Wales/LD2") LD2
  li
    a(href="/browse/Wales/LD3") LD3
  li
    a(href="/browse/Wales/LD4") LD4
  li
    a(href="/browse/Wales/LD5") LD5
  li
    a(href="/browse/Wales/LD6") LD6
  li
    a(href="/browse/Wales/LD7") LD7
  li
    a(href="/browse/Wales/LD8") LD8
  li
    a(href="/browse/Wales/NP8") NP8
  li
    a(href="/browse/Wales/SA9") SA9
  li
    a(href="/browse/Wales/SY15") SY15
  li
    a(href="/browse/Wales/SY16") SY16
  li
    a(href="/browse/Wales/SY17") SY17
  li
    a(href="/browse/Wales/SY18") SY18
  li
    a(href="/browse/Wales/SY19") SY19
  li
    a(href="/browse/Wales/SY20") SY20
  li
    a(href="/browse/Wales/SY21") SY21
  li
    a(href="/browse/Wales/SY22") SY22
