ul.locations
  li
    a(href="/SA35 0AA") SA35 0AA
  li
    a(href="/SA35 0AB") SA35 0AB
  li
    a(href="/SA35 0AD") SA35 0AD
  li
    a(href="/SA35 0AE") SA35 0AE
  li
    a(href="/SA35 0AG") SA35 0AG
  li
    a(href="/SA35 0AH") SA35 0AH
  li
    a(href="/SA35 0AJ") SA35 0AJ
  li
    a(href="/SA35 0AL") SA35 0AL
  li
    a(href="/SA35 0AN") SA35 0AN
  li
    a(href="/SA35 0AP") SA35 0AP
  li
    a(href="/SA35 0AQ") SA35 0AQ
  li
    a(href="/SA35 0AR") SA35 0AR
  li
    a(href="/SA35 0AS") SA35 0AS
  li
    a(href="/SA35 0AT") SA35 0AT
  li
    a(href="/SA35 0AU") SA35 0AU
  li
    a(href="/SA35 0AW") SA35 0AW
  li
    a(href="/SA35 0AX") SA35 0AX
  li
    a(href="/SA35 0BA") SA35 0BA
  li
    a(href="/SA35 0BB") SA35 0BB
  li
    a(href="/SA35 0BD") SA35 0BD
  li
    a(href="/SA35 0BE") SA35 0BE
  li
    a(href="/SA35 0BG") SA35 0BG
  li
    a(href="/SA35 0BH") SA35 0BH
  li
    a(href="/SA35 0BJ") SA35 0BJ
  li
    a(href="/SA35 0BL") SA35 0BL
  li
    a(href="/SA35 0BN") SA35 0BN
  li
    a(href="/SA35 0BP") SA35 0BP
  li
    a(href="/SA35 0BQ") SA35 0BQ
  li
    a(href="/SA35 0BS") SA35 0BS
  li
    a(href="/SA35 0BT") SA35 0BT
  li
    a(href="/SA35 0BY") SA35 0BY
  li
    a(href="/SA35 0BZ") SA35 0BZ
  li
    a(href="/SA35 0DA") SA35 0DA
  li
    a(href="/SA35 0DB") SA35 0DB
  li
    a(href="/SA35 0DD") SA35 0DD
  li
    a(href="/SA35 0DE") SA35 0DE
  li
    a(href="/SA35 0DF") SA35 0DF
  li
    a(href="/SA35 0DG") SA35 0DG
  li
    a(href="/SA35 0DN") SA35 0DN
  li
    a(href="/SA35 0DP") SA35 0DP
  li
    a(href="/SA35 0DQ") SA35 0DQ
  li
    a(href="/SA35 0DW") SA35 0DW
  li
    a(href="/SA35 0WA") SA35 0WA
