ul.locations
  li
    a(href="/SA36 0DS") SA36 0DS
  li
    a(href="/SA36 0DT") SA36 0DT
  li
    a(href="/SA36 0DU") SA36 0DU
  li
    a(href="/SA36 0DX") SA36 0DX
  li
    a(href="/SA36 0DY") SA36 0DY
  li
    a(href="/SA36 0DZ") SA36 0DZ
  li
    a(href="/SA36 0EA") SA36 0EA
  li
    a(href="/SA36 0EB") SA36 0EB
  li
    a(href="/SA36 0ED") SA36 0ED
  li
    a(href="/SA36 0EE") SA36 0EE
  li
    a(href="/SA36 0EF") SA36 0EF
