ul.locations
  li
    a(href="/SA37 0EH") SA37 0EH
  li
    a(href="/SA37 0EL") SA37 0EL
  li
    a(href="/SA37 0EN") SA37 0EN
  li
    a(href="/SA37 0EP") SA37 0EP
  li
    a(href="/SA37 0ER") SA37 0ER
  li
    a(href="/SA37 0ES") SA37 0ES
  li
    a(href="/SA37 0ET") SA37 0ET
  li
    a(href="/SA37 0EU") SA37 0EU
  li
    a(href="/SA37 0EW") SA37 0EW
  li
    a(href="/SA37 0EX") SA37 0EX
  li
    a(href="/SA37 0EY") SA37 0EY
  li
    a(href="/SA37 0EZ") SA37 0EZ
  li
    a(href="/SA37 0HA") SA37 0HA
  li
    a(href="/SA37 0HB") SA37 0HB
  li
    a(href="/SA37 0HD") SA37 0HD
  li
    a(href="/SA37 0HE") SA37 0HE
  li
    a(href="/SA37 0HF") SA37 0HF
  li
    a(href="/SA37 0HG") SA37 0HG
  li
    a(href="/SA37 0HH") SA37 0HH
  li
    a(href="/SA37 0HJ") SA37 0HJ
  li
    a(href="/SA37 0HL") SA37 0HL
  li
    a(href="/SA37 0HP") SA37 0HP
  li
    a(href="/SA37 0HQ") SA37 0HQ
  li
    a(href="/SA37 0HR") SA37 0HR
  li
    a(href="/SA37 0HS") SA37 0HS
  li
    a(href="/SA37 0HT") SA37 0HT
  li
    a(href="/SA37 0HU") SA37 0HU
  li
    a(href="/SA37 0HW") SA37 0HW
  li
    a(href="/SA37 0HX") SA37 0HX
  li
    a(href="/SA37 0HY") SA37 0HY
  li
    a(href="/SA37 0HZ") SA37 0HZ
  li
    a(href="/SA37 0JA") SA37 0JA
  li
    a(href="/SA37 0JB") SA37 0JB
  li
    a(href="/SA37 0JD") SA37 0JD
  li
    a(href="/SA37 0JE") SA37 0JE
  li
    a(href="/SA37 0JF") SA37 0JF
  li
    a(href="/SA37 0JG") SA37 0JG
  li
    a(href="/SA37 0JH") SA37 0JH
  li
    a(href="/SA37 0JL") SA37 0JL
  li
    a(href="/SA37 0JN") SA37 0JN
  li
    a(href="/SA37 0JP") SA37 0JP
  li
    a(href="/SA37 0JR") SA37 0JR
  li
    a(href="/SA37 0JS") SA37 0JS
  li
    a(href="/SA37 0JT") SA37 0JT
  li
    a(href="/SA37 0JU") SA37 0JU
  li
    a(href="/SA37 0JW") SA37 0JW
  li
    a(href="/SA37 0JX") SA37 0JX
  li
    a(href="/SA37 0JY") SA37 0JY
  li
    a(href="/SA37 0JZ") SA37 0JZ
  li
    a(href="/SA37 0LA") SA37 0LA
  li
    a(href="/SA37 0LG") SA37 0LG
  li
    a(href="/SA37 0LH") SA37 0LH
  li
    a(href="/SA37 0LJ") SA37 0LJ
  li
    a(href="/SA37 0LL") SA37 0LL
  li
    a(href="/SA37 0LN") SA37 0LN
  li
    a(href="/SA37 0LQ") SA37 0LQ
  li
    a(href="/SA37 0LW") SA37 0LW
