ul.locations
  li
    a(href="/SA47 0NA") SA47 0NA
  li
    a(href="/SA47 0ND") SA47 0ND
  li
    a(href="/SA47 0NE") SA47 0NE
  li
    a(href="/SA47 0NF") SA47 0NF
  li
    a(href="/SA47 0NG") SA47 0NG
  li
    a(href="/SA47 0NH") SA47 0NH
  li
    a(href="/SA47 0NJ") SA47 0NJ
  li
    a(href="/SA47 0NL") SA47 0NL
  li
    a(href="/SA47 0NN") SA47 0NN
  li
    a(href="/SA47 0NP") SA47 0NP
  li
    a(href="/SA47 0NQ") SA47 0NQ
  li
    a(href="/SA47 0NR") SA47 0NR
  li
    a(href="/SA47 0NS") SA47 0NS
  li
    a(href="/SA47 0NT") SA47 0NT
  li
    a(href="/SA47 0NU") SA47 0NU
  li
    a(href="/SA47 0NW") SA47 0NW
  li
    a(href="/SA47 0NX") SA47 0NX
  li
    a(href="/SA47 0NY") SA47 0NY
  li
    a(href="/SA47 0NZ") SA47 0NZ
  li
    a(href="/SA47 0PA") SA47 0PA
  li
    a(href="/SA47 0PB") SA47 0PB
  li
    a(href="/SA47 0PD") SA47 0PD
  li
    a(href="/SA47 0PE") SA47 0PE
  li
    a(href="/SA47 0PF") SA47 0PF
  li
    a(href="/SA47 0PG") SA47 0PG
  li
    a(href="/SA47 0PH") SA47 0PH
  li
    a(href="/SA47 0PJ") SA47 0PJ
  li
    a(href="/SA47 0PL") SA47 0PL
  li
    a(href="/SA47 0PN") SA47 0PN
  li
    a(href="/SA47 0PP") SA47 0PP
  li
    a(href="/SA47 0PS") SA47 0PS
  li
    a(href="/SA47 0PT") SA47 0PT
  li
    a(href="/SA47 0PU") SA47 0PU
  li
    a(href="/SA47 0PX") SA47 0PX
  li
    a(href="/SA47 0PY") SA47 0PY
  li
    a(href="/SA47 0PZ") SA47 0PZ
  li
    a(href="/SA47 0QA") SA47 0QA
  li
    a(href="/SA47 0QB") SA47 0QB
  li
    a(href="/SA47 0QD") SA47 0QD
  li
    a(href="/SA47 0QE") SA47 0QE
  li
    a(href="/SA47 0QF") SA47 0QF
  li
    a(href="/SA47 0QH") SA47 0QH
  li
    a(href="/SA47 0QJ") SA47 0QJ
  li
    a(href="/SA47 0QL") SA47 0QL
  li
    a(href="/SA47 0QN") SA47 0QN
  li
    a(href="/SA47 0QP") SA47 0QP
  li
    a(href="/SA47 0QR") SA47 0QR
  li
    a(href="/SA47 0QS") SA47 0QS
  li
    a(href="/SA47 0QT") SA47 0QT
  li
    a(href="/SA47 0QW") SA47 0QW
  li
    a(href="/SA47 0QX") SA47 0QX
  li
    a(href="/SA47 0QY") SA47 0QY
  li
    a(href="/SA47 0QZ") SA47 0QZ
  li
    a(href="/SA47 0RE") SA47 0RE
  li
    a(href="/SA47 0RF") SA47 0RF
  li
    a(href="/SA47 0RG") SA47 0RG
  li
    a(href="/SA47 0RH") SA47 0RH
  li
    a(href="/SA47 0RJ") SA47 0RJ
  li
    a(href="/SA47 0RL") SA47 0RL
  li
    a(href="/SA47 0RN") SA47 0RN
  li
    a(href="/SA47 0RP") SA47 0RP
  li
    a(href="/SA47 0RQ") SA47 0RQ
  li
    a(href="/SA47 0RR") SA47 0RR
  li
    a(href="/SA47 0RS") SA47 0RS
  li
    a(href="/SA47 0RT") SA47 0RT
  li
    a(href="/SA47 0RU") SA47 0RU
  li
    a(href="/SA47 0RW") SA47 0RW
  li
    a(href="/SA47 0RX") SA47 0RX
  li
    a(href="/SA47 0RY") SA47 0RY
  li
    a(href="/SA47 0SA") SA47 0SA
  li
    a(href="/SA47 0SB") SA47 0SB
