ul.locations
  li
    a(href="/SA64 0AA") SA64 0AA
  li
    a(href="/SA64 0AD") SA64 0AD
  li
    a(href="/SA64 0AE") SA64 0AE
  li
    a(href="/SA64 0AF") SA64 0AF
  li
    a(href="/SA64 0AG") SA64 0AG
  li
    a(href="/SA64 0AH") SA64 0AH
  li
    a(href="/SA64 0AJ") SA64 0AJ
  li
    a(href="/SA64 0AL") SA64 0AL
  li
    a(href="/SA64 0AN") SA64 0AN
  li
    a(href="/SA64 0AP") SA64 0AP
  li
    a(href="/SA64 0AR") SA64 0AR
  li
    a(href="/SA64 0AS") SA64 0AS
  li
    a(href="/SA64 0AT") SA64 0AT
  li
    a(href="/SA64 0AU") SA64 0AU
  li
    a(href="/SA64 0AX") SA64 0AX
  li
    a(href="/SA64 0AY") SA64 0AY
  li
    a(href="/SA64 0AZ") SA64 0AZ
  li
    a(href="/SA64 0BA") SA64 0BA
  li
    a(href="/SA64 0BB") SA64 0BB
  li
    a(href="/SA64 0BD") SA64 0BD
  li
    a(href="/SA64 0BE") SA64 0BE
  li
    a(href="/SA64 0BH") SA64 0BH
  li
    a(href="/SA64 0BJ") SA64 0BJ
  li
    a(href="/SA64 0BL") SA64 0BL
  li
    a(href="/SA64 0BN") SA64 0BN
  li
    a(href="/SA64 0BP") SA64 0BP
  li
    a(href="/SA64 0BS") SA64 0BS
  li
    a(href="/SA64 0BT") SA64 0BT
  li
    a(href="/SA64 0BU") SA64 0BU
  li
    a(href="/SA64 0BX") SA64 0BX
  li
    a(href="/SA64 0BY") SA64 0BY
  li
    a(href="/SA64 0DE") SA64 0DE
  li
    a(href="/SA64 0DG") SA64 0DG
  li
    a(href="/SA64 0DH") SA64 0DH
  li
    a(href="/SA64 0DJ") SA64 0DJ
  li
    a(href="/SA64 0DL") SA64 0DL
  li
    a(href="/SA64 0DN") SA64 0DN
  li
    a(href="/SA64 0DP") SA64 0DP
  li
    a(href="/SA64 0DR") SA64 0DR
  li
    a(href="/SA64 0DS") SA64 0DS
  li
    a(href="/SA64 0DT") SA64 0DT
  li
    a(href="/SA64 0DU") SA64 0DU
  li
    a(href="/SA64 0DX") SA64 0DX
  li
    a(href="/SA64 0DY") SA64 0DY
  li
    a(href="/SA64 0DZ") SA64 0DZ
  li
    a(href="/SA64 0EA") SA64 0EA
  li
    a(href="/SA64 0EH") SA64 0EH
  li
    a(href="/SA64 0EJ") SA64 0EJ
  li
    a(href="/SA64 0EL") SA64 0EL
  li
    a(href="/SA64 0EN") SA64 0EN
  li
    a(href="/SA64 0EP") SA64 0EP
  li
    a(href="/SA64 0ER") SA64 0ER
  li
    a(href="/SA64 0ES") SA64 0ES
  li
    a(href="/SA64 0ET") SA64 0ET
  li
    a(href="/SA64 0EU") SA64 0EU
  li
    a(href="/SA64 0EX") SA64 0EX
  li
    a(href="/SA64 0EY") SA64 0EY
  li
    a(href="/SA64 0EZ") SA64 0EZ
  li
    a(href="/SA64 0HA") SA64 0HA
  li
    a(href="/SA64 0HB") SA64 0HB
  li
    a(href="/SA64 0HD") SA64 0HD
  li
    a(href="/SA64 0HE") SA64 0HE
  li
    a(href="/SA64 0HF") SA64 0HF
  li
    a(href="/SA64 0HG") SA64 0HG
  li
    a(href="/SA64 0HH") SA64 0HH
  li
    a(href="/SA64 0HP") SA64 0HP
  li
    a(href="/SA64 0HR") SA64 0HR
  li
    a(href="/SA64 0HS") SA64 0HS
  li
    a(href="/SA64 0HT") SA64 0HT
  li
    a(href="/SA64 0HU") SA64 0HU
  li
    a(href="/SA64 0HX") SA64 0HX
  li
    a(href="/SA64 0HY") SA64 0HY
  li
    a(href="/SA64 0JA") SA64 0JA
  li
    a(href="/SA64 0JB") SA64 0JB
  li
    a(href="/SA64 0JD") SA64 0JD
  li
    a(href="/SA64 0JE") SA64 0JE
  li
    a(href="/SA64 0JG") SA64 0JG
  li
    a(href="/SA64 0JH") SA64 0JH
  li
    a(href="/SA64 0JJ") SA64 0JJ
  li
    a(href="/SA64 0JL") SA64 0JL
  li
    a(href="/SA64 0JN") SA64 0JN
  li
    a(href="/SA64 0JQ") SA64 0JQ
  li
    a(href="/SA64 0JT") SA64 0JT
  li
    a(href="/SA64 0JU") SA64 0JU
  li
    a(href="/SA64 0JX") SA64 0JX
  li
    a(href="/SA64 0JY") SA64 0JY
  li
    a(href="/SA64 0JZ") SA64 0JZ
  li
    a(href="/SA64 0LA") SA64 0LA
  li
    a(href="/SA64 0LB") SA64 0LB
  li
    a(href="/SA64 0LD") SA64 0LD
  li
    a(href="/SA64 0LE") SA64 0LE
  li
    a(href="/SA64 0LF") SA64 0LF
  li
    a(href="/SA64 0LG") SA64 0LG
  li
    a(href="/SA64 0LH") SA64 0LH
  li
    a(href="/SA64 0LJ") SA64 0LJ
  li
    a(href="/SA64 0LL") SA64 0LL
  li
    a(href="/SA64 0LN") SA64 0LN
  li
    a(href="/SA64 0LP") SA64 0LP
  li
    a(href="/SA64 0LR") SA64 0LR
  li
    a(href="/SA64 0LS") SA64 0LS
  li
    a(href="/SA64 0LT") SA64 0LT
  li
    a(href="/SA64 0LU") SA64 0LU
  li
    a(href="/SA64 0LW") SA64 0LW
  li
    a(href="/SA64 0LX") SA64 0LX
