ul.locations
  li
    a(href="/browse/Wales/CF61") CF61
  li
    a(href="/browse/Wales/CF62") CF62
  li
    a(href="/browse/Wales/CF63") CF63
  li
    a(href="/browse/Wales/CF64") CF64
  li
    a(href="/browse/Wales/CF71") CF71
